[2017-07-13 03:25] TAGC commented on #3981
No idea what this project is but it came up in a google search. I deliberately downgraded certain packages in a personal project to workaround issues. After installing .NET Core 2.0.0 preview 2 SDK, the downgrade warnings I used to get are now errors.

[2017-07-13 04:18] MichalStrehovsky commented on #4146
DynamicInvokeMethodThunk is IL generated by the compiler. Can you try getting a disassembly of the IL to see if anything is obviously wrong with it?

To get a disassembly of a method, open CorInfoImpl.cs, and in `CompileMethod` add something like this:

[code]

(Do it after methodIL is populated by the `Get_CORINFO_METHOD_INFO` call.)

[2017-07-13 04:21] MichalStrehovsky commented on #4146
You could also use RyuJIT's dump that prints things to the console with NgenDump - e.g. add `--codegenopt NgenDump=*` as a command line option to ILC.exe (Debug build of RyuJIT required though.)

[2017-07-13 11:52] sergign60 commented on #4146
@MichalStrehovsky  The guy from the GDB team here said me that they met  similar problem  (mapping native vars to locals) and pointed to the following function in CoreCLR:
file: ```src/debug/di/module.cpp```
[code]

[2017-07-13 13:16] sergign60 commented on #4146
@MichalStrehovsky by the way - could you please add the option to CoreRT to get this output without inserting
[code]
into the code&

[2017-07-13 13:17] sergign60 commented on #4146
I've got the following
[code]

[2017-07-13 13:44] sergign60 commented on #4146
@MichalStrehovsky I've got the following output:
[code]

[2017-07-13 13:49] sergign60 commented on #4146
@MichalStrehovsky we use LEGACY codegen for armel tizen

[2017-07-13 22:32] christianscheuer commented on #4053
I installed a completely new macOS 10.12 Sierra box just now.
Followed the prerequisite steps, took a completely clean git checkout.

The build consistently fails here:

[code]

It seems unclear if the .NET CLI should be installed prior. As CoreRT installs its own version of the CLI it should not need to be installed, so I didn't (to help narrow down the issue).
By the way, I'm seeing the exact sa

[2017-07-14 08:24] jkotas commented on #4053
This looks like a bug in PrereleaseResolveNuGetPackages from buildtools. The error is coming from here: https://github.com/dotnet/buildtools/blob/edbbb184937198f78cdf173a5d4a690164edb3ac/src/Microsoft.DotNet.Build.Tasks/PrereleaseResolveNuGetPackageAssets.cs#L965

`ProjectReferencesCreatingPackages` property is left-over from the abandoned xproj projects. It was removed from the shipping NuGet bui

[2017-07-14 15:44] weshaggard commented on #4053
Nothing in the near future but this would be covered by some engineering work I'm trying to get funded for post 2.0.

[2017-07-15 12:13] shaggygi opened #4167 "[Question] Clean up milestones"
Understanding CoreRT won't be major focus until next year, would it be possible to update the milestones and attached issues?  For example, Thanksgiving 2016, January/February/March 2017 milestones are outdated and could be closed.

[2017-07-15 12:47] am11 commented on #2856
@jkotas, @MichalStrehovsky, current master (bad4b3e) builds on openSUSE with updated Dockerfile above.
I had to add:
*  `glibc-locale` in dependencies to fix `setlocale: LC_ALL: cannot change locale (en_US.UTF-8`.
* `skiptest` argument to `build.sh`, because test builds (that use `ilc`) were running into issue:
[code]

If the test build issue is being tracked somewhere else, this issue can be mark

[2017-07-15 16:08] MichalStrehovsky commented on #4146
From the IL you pasted above, it seems like the legacy JIT is asking a bogus question (there's no variable number 11) - there really are only 4 (the 4 parameters). The next step would be to find out what are those 7 parameters and why does the JIT think the EE side knows about them (they might be temporaries generated by the JIT).

I'm not sure how `FindNativeInfoInILVariableArray` is related - th

[2017-07-15 16:39] am11 commented on #2778
Similar to https://github.com/dotnet/corert/issues/2856#issuecomment-315531778, current master (bad4b3e) builds on CentOS with the following Dockerfile (*without tests*):

[code]
With tests, `ilc` gives the same errors on CentOS as on openSUSE (see the linked issue).

[2017-07-15 19:45] jkotas commented on #2185
This was fixed.

[2017-07-15 19:45] #2185 closed

[2017-07-15 19:47] jkotas commented on #823
There are no dependencies on System.Private.CoreLib.WinRTInterop anymore

[2017-07-15 19:47] #823 closed

[2017-07-15 19:50] #657 closed

[2017-07-15 20:09] jkotas commented on #669
All TODOs listed here are fixed.

[2017-07-15 20:09] #669 closed

[2017-07-15 20:12] jkotas commented on #231
The official build definitions have been added at https://github.com/dotnet/corert/tree/master/buildpipeline

[2017-07-15 20:12] #231 closed

[2017-07-15 20:17] jkotas commented on #4167
Done. Thanks for the reminder.

[2017-07-15 20:17] #4167 closed

[2017-07-15 20:19] shaggygi commented on #4167
@jkotas thanks a bunch

[2017-07-15 20:31] jkotas commented on #2856
ilc on Linux is always published for netcoreapp1.1 Ubuntu right now. I expect that it is causing the failures - the Ubuntu-specific bits do not work on other Linux distros.

We want to update ilc to get published for netcoreapp2.0 (https://github.com/dotnet/corert/pull/4121#issuecomment-314133533). It will make the Linux bits published for portable Linux as side-effect that should fix the "Failed

[2017-07-15 21:00] allquixotic opened #4168 "Create a DLL using CoreRT"
Hello, I followed the setup procedure on Windows 10 with VS2017 15.3.0 Preview 4.0 + .NET Core 2.0 Preview 2.

I want to create a native DLL for 64-bit Windows that can load into a process regardless of whether the user has the appropriate .NET version installed on their system. Being tied to a specific version of Windows is fine, even if it required, say, Windows 10 Creators Edition.

I am using

[2017-07-15 21:10] allquixotic commented on #2619
This issue was filed quite a while ago -- we're a couple months beyond .NET Native's public announcement turning 3 years old, Is this important feature planned soon? I have not yet been able to develop any significant project in .NET with zero third-party dependencies, and I imagine I'm not alone in that; so does the inability to create .NET native builds that include others' code means that the p

[2017-07-15 22:28] MichalStrehovsky commented on #4168
This is not currently possible, but adding support for it shouldn't be too hard. We track it as #1285 and the issue is tagged up-for-grabs. If this is something you would be interested in working on, we can provide more pointers in the tracking issue.

The end result would be something that should let you compile roughly this:

[code]

...into a native library with an unmanaged export named "Test"

[2017-07-15 22:28] #4168 closed

[2017-07-16 04:46] jkotas commented on #2619
The workaround above is ugly, but easy to do - it is what we have been using to compile projects with references to other projects or packages. I believe @nattress has a fix for this issue, he just did not have a chance to submit it.

If you expect preview quality, it is not ready. We have not released preview release yet. Yes, it is taking longer than we would wish - other projects are higher pri

[2017-07-16 05:17] MichalStrehovsky commented on #71
This has been fixed in e9f805611344055538df1054540c6c4d4d814e93.

[2017-07-16 05:17] #71 closed

[2017-07-16 16:23] allquixotic commented on #1285
Now that #1498 is fixed, what is left to make this happen? Can any of the core devs give kind of a roadmap for how this could be implemented? Are there any known chunks of work besides #1498 that are pending before this can be implemented in a fairly straightforward way?

[2017-07-17 04:45] jkotas commented on #1285
Here is what's needed to make this happen. For now, I would worry about RyuJIT codegen only for all of this.

- Create clone of the bootstrap code for dlls: Copy `src\Native\Bootstrap\base` to `src\Native\Bootstrap\dll`, rename `bootstrapper` to `bootstrapperdll` in the CMakeLists.txt, add `add_subdirectory(bootstrapperdll)` to `src\Native\Bootstrap\CMakeLists.txt` to add it to the build.

- Modif

[2017-07-17 12:50] perlun commented on #2619
@jkotas Understandable, priorities are hard. I think we are some people who ❤️ .NET programming and would find it great to be able to use CoreRT to ship our stuff. I guess we'll just have to wait a few more years. 😉 (or, better yet: to _volunteer_ our time to help CoreRT succeed!)

[2017-07-17 16:27] MichalStrehovsky commented on #2619
Just to point out what may not be obvious: the .NET Native that was announced 3 years ago was [.NET Native for Windows Store apps](https://blogs.msdn.microsoft.com/dotnet/2014/04/02/announcing-net-native-preview/). This has shipped about a year after the announcement and is the shipping story for Windows Store apps in Visual Studio 2015/2017.

[2017-07-17 17:05] stephentoub opened #4172 "Stream.Begin/EndRead/Write delegation to Stream.Read/WriteAsync needs to be reversed"
https://github.com/dotnet/corefx/pull/22282#issuecomment-315815783

[2017-07-17 20:02] stephentoub commented on #4172
I was wrong about this.  Was looking at the wrong code.

[2017-07-17 20:02] #4172 closed

[2017-07-18 23:39] AtsushiKan commented on #3235
Now tracked as TFS 466741

[2017-07-18 23:39] #3235 closed

[2017-07-19 20:46] dagood commented on #4143
Repro in these builds:
https://devdiv.visualstudio.com/DevDiv/_build?buildId=871160
https://devdiv.visualstudio.com/DevDiv/_build?buildId=871173

The root cause is that the `Publish symbols path` step found no files in `$(Build.SourcesDirectory)\$(SourceFolder)\bin\Product` for `**\*.pdb`, and didn't create the folder that the indexing step needed.

[2017-07-20 09:48] BredPet opened #4199 "ARM: thumb mode flag generating issue"
Hi, there is a very strange bug in Legacy JIT.
[code]
When the symbol is loaded into the register REG_JUMP_THUNK_PARAM, it's without thumb +1 flag.
Symbol is RhpUniversalTransition from CoreRT. I looked at the code, the relocation should be set to thumb mov32, but why the symbol is eventually loaded without +1 is not clear. Can anyone say anything about this?

[2017-07-20 09:49] BredPet commented on #4199
For CoreCLR issue, I'll move

[2017-07-20 09:49] #4199 closed

[2017-07-21 17:42] safern commented on #2414
ArrayPoolEventSource is now complete in CoreRT.

[2017-07-21 23:04] jkoritzinsky opened #4214 "GC Crash in Thread Start on Release Mode Builds"
There is an intermittent GC crash in garbage collection on Ubuntu during thread startup. #4124 exposes this issue. For every 100 runs of the Threading test in Ubuntu built in Release mode on #4124, between 2 and 6 will crash with this error. I've attached the [crash dump](https://github.com/dotnet/corert/files/1166917/GC.Crash.Dump.zip).

Here is a callstack from one of the crashes:
[code]

I've t

[2017-07-21 23:15] jkoritzinsky commented on #4214
@kouvel @sergiy-k

[2017-07-21 23:53] #3560 closed

[2017-07-22 06:37] jkotas commented on #4214
Can you please include the binary w/ symbols as well? The crash dump is impossible to debug without it.

cc @janvorli Looks like dwarf unwind info bug.

The piece of info to look at is `pRegisterSet->IP`, and then look at what method and instruction is at this IP.

[2017-07-22 10:05] farkasmark commented on #2570
@shrah May I ask if you could have made any progress on this matter? Thanks a lot!

[2017-07-22 19:32] wjk opened #4218 "Status of GetFunctionPointerForDelegate"
Just a quick question: The last time I took a serious look at CoreRT, `Marshal.GetFunctionPointerForDelegate` was not correctly implemented. I needed to use the `McgIntrinsicsAttribute` and the `AddrOf<T>` intrinsic function instead. Is this still the case, or has this since been fixed?

The reason I ask this is because my development process requires that I maintain compatibility with both CoreCL

[2017-07-22 19:46] wjk opened #4219 "COM Interop Guidance"
I am considering using CoreRT with [my .NET Core compatible GUI framework](https://github.com/SunburstApps/Sunburst.Win32UI). However, to fully implement the GUI feature support I require, I will need to do some COM interop. Having studied the CoreRT source code, I can tell that COM support is not currently implemented. To make this usable, here is what I would do:

1. Redirect creation of `ComImp

[2017-07-23 04:43] jkotas commented on #4218
cc @shrah

`GetFunctionPointerForDelegate<T>` has been implemented.

[2017-07-23 04:43] #4218 closed

[2017-07-23 04:57] jkotas commented on #4219
cc @yizhang82 @tijoytom

[2017-07-24 10:46] tonerdo commented on #1285
@jkotas I'd love to pick this up. I'd get started on it, right away

[2017-07-24 16:11] jkotas commented on #1285
@tonerdo It's yours. Thanks!

[2017-07-24 16:28] MichalStrehovsky opened #4220 "Switch IsByRefLike flag computation to be custom attribute based"
`IsByRefLikeAttribute` is now an official attribute. We should:

* Stop treating the presence of `ByReference<T>` (recursively) as the marker saying "this is a by-ref like type" and use `IsByRefLikeAttribute` instead.
* Treat a type that is not marked `IsByRefLike` with a byref-like field a type load error.
* Place `IsByRefLikeAttribute` on `TypedReference`, `RuntimeArgumentHandle`/`ArgIterator` a

[2017-07-24 17:21] jkoritzinsky commented on #4214
I've attached the binary that generated the crash dump as well.

[Threading.zip](https://github.com/dotnet/corert/files/1170609/Threading.zip)

[2017-07-24 17:46] janvorli commented on #4214
@jkoritzinsky I'll take a look. I guess @jkotas is right with his suspection that it is a dwarf unwind issue. Either in the info or in my changes to the unwinder code.

[2017-07-24 20:09] janvorli commented on #4214
@jkoritzinsky I cannot get anything useful from the dump. There are no locals anywhere. So I am trying to repro the issue locally. I am running it on 8 proc machine with 24GB of RAM. So I was wondering if your machine was more limited and that would trigger the issue more often somehow. Can you please share your machine config with me?

[2017-07-24 20:10] janvorli commented on #4214
I've forgotten to say that I was unable to repro it locally yet - running 1000 iterations of the test in release build.

[2017-07-24 20:27] jkoritzinsky commented on #4214
Yeah I can't get locals either from it (or any of the dumps that have been generated).

I'm running the test on an Ubuntu 14.04 VM with 8 virtual processors and 8GB of RAM assigned to it.

I've been using this script to run the test:

[code]

If you need any more info, just let me know!

[2017-07-24 20:32] jkoritzinsky commented on #4214
Make sure you're testing the EnableClrThreadPool branch in my fork. That's where this issue repros

[2017-07-24 20:33] janvorli commented on #4214
@jkoritzinsky Ah, I didn't know that! Ok, let me try again.

[2017-07-24 21:23] tijoytom commented on #4219
@wjk Thanks for your interest  , as you mentioned most of the COM specific code in System.Private.Interop is tailored to work with the internal MCG tool. But the good new is that we are working on making the MCG tool public , we don't have any time lines yet. With MCG tooling you should be able to do Desktop style COM interop. I will keep you posted on the progress and once it's out in public you

[2017-07-25 01:05] janvorli commented on #4214
Ok, I was able to repro it, fortunately even with added -g and modified -O3 to -O0 in the CMakeLists.txt. So I now have all locals etc.  I'll look into the details tomorrow.

[2017-07-25 10:15] janvorli commented on #4214
So it looks like the problem is in the GCInfo we generate for S_P_CoreLib_System_Threading_ClrThreadPool_WorkerThread__WorkerThreadStart.
The call stack of the thread we are walking when the crash occurs is as follows. The frame 9 is the one where we fail. It is the last managed frame on the stack, so its registers etc come from the transition frame.
[code]
The disass of the relevant part of the f

[2017-07-25 10:34] janvorli commented on #4214
Hmm, I got the lifetime offsets wrong, they are encoded as relative to 64 byte chunk, not the whole interruptible range. So they actually look correct, I'll updated the disass annotation above.

[2017-07-25 10:43] janvorli commented on #4214
Now the question is why does RBX get reported for code offset 101 (the code offset from the IP in the transition frame is 102 and we initialize GcInfoDecoder with that value adjusted by -1).

[2017-07-25 12:06] jameyboor opened #4225 "Dns.GetHostEntryAsync is faulty on Windows"
When calling `Dns.GetHostEntryAsync()` an  `AggregateException` is always thrown with information of:

It seems that the method does not correctly initialize Winsock through `WSAStartup()`.

A hacky "fix" at this moment is asking for a response from a WebRequest first to ensure that Winsock is initialized:
[code]

[2017-07-25 12:06] #4225 closed

[2017-07-25 13:25] sergign60 opened #4226 "[ubuntu x64] Simple/Hello gives segmentation fault on the latest CoreRT"
gdb output
[code]
git log
[code]
uname -a
[code]

[2017-07-25 14:54] #4226 closed

[2017-07-26 01:01] janvorli commented on #4214
So, I have have fed the unwind info into a hacked GCDump helper in CoreCLR repo to get the complete liveness list. The result is pasted below. The location 102 which is the RIP stored in the transition frame is the location where the liveness of all the register slots ends, so the code generator seems to be ensuring that none of the callee saved registers contain live references at that point.
So

[2017-07-26 01:07] janvorli commented on #4214
@jkotas ah, I've just realized that the -1 augmentation of the codeOffset is to make sure that when we report at caller site, the registers that become dead right after the call are still reported, since their lifetime should end after the call completes, right?
In that case, it seems the JIT should make sure that the register's livetime ends before the call to RhpPInvoke and not after it.

[2017-07-26 12:26] bazzilic commented on #1285
@tonerdo thanks for working on that! Been looking for a way to produce native libraries for the last week -- with no useful results. Hope you can put a prototype together soon, I'd be happy to test it!

[2017-07-26 13:24] jkotas commented on #4214
The decrement is trying to match https://github.com/dotnet/coreclr/blob/master/src/vm/eetwain.cpp#L4988 in CoreCLR. I think I have added it to fix some crashes - e.g. BasicThreading test crashes without it on Windows x64 release right now.

Agree.

[2017-07-26 13:27] tonerdo commented on #1285
@bazzilic Yeah I saw your message in gitter, was going to respond. I've started working on it and will let you know once I got something

[2017-07-26 15:53] AtsushiKan opened #4230 "CoreRT Reflection ignores ReferenceAssembly attribute."
Assemblies marked with a [System.Runtime.Compiler.ReferenceAssembly] are supposed to throw a BadImageFormatException if you try to load them into a non-ReflectionOnly context.

[2017-07-27 13:41] am11 opened #4234 "Error restoring packages for ILCompiler.sln in Visual Studio 2017"
Using the following steps:

* Clone repo in Windows 10 and run `.\build.cmd`
* After that open ILCompiler.sln in VS2017

I get the following errors:

1>Project not selected to build for this solution configuration
2>------ Skipped Rebuild All: Project: ILCompiler.MetadataWriter, Configuration: Debug x86 ------
2>Project not selected to build for this solution configuration
3>------ Skipped Rebuild

[2017-07-27 15:32] MichalStrehovsky commented on #4234
Running `build.cmd` produces a x64 configuration of everything. You need to switch your VS project configuration to x64. The x86 files are not there and we don't support this build configuration yet.

[2017-07-27 16:56] AtsushiKan commented on #4230
GetForwardedType test in System.Runtime.Tests is active-issued on this:

https://github.com/dotnet/corefx/blob/9cb426bdba5e756cae439f0a8602f25d66f5335b/src/System.Runtime/tests/System/Reflection/AssemblyTests.netcoreapp.cs#L34

[2017-07-27 22:26] MichalStrehovsky commented on #4143
#4201 fixed it.

[2017-07-27 22:26] #4143 closed

[2017-07-28 00:03] MichalStrehovsky commented on #4234
We can reopen this if it doesn't help.

[2017-07-28 00:03] #4234 closed

[2017-07-28 00:12] am11 commented on #4234
@MichalStrehovsky, thanks a lot; x64 build configuration fixed the compiler error, but I was getting red squiggles all over ILCompiler's Program.cs. Somehow intellisense in broken. I started to analyze the generated CPP code (80K lines). :)

[2017-07-28 06:52] BredPet opened #4238 "ARM helpers emitting"
Hi, there are no emitting code for arm, only for x64. I mean ARMReadyToRunHelperNode.cs and ARMReadyToRunGenericHelperNode.cs. I wrote the main implementation for almost all the helpers, but everything is constantly falling apart ;-) I ported it from x64 and extend ARM emitter. The main question is how can I determinate registers which I can trash or not? How can I understand this? The second ques

[2017-07-28 06:53] BredPet commented on #4238
@MichalStrehovsky
@jkotas
please take a look

[2017-07-28 08:15] kouvel opened #4239 "Implement SynchronizationContext waits on Unix"

[2017-07-28 08:16] kouvel opened #4240 "Add wait subsystem tests involving multiple threads"

[2017-07-28 08:45] jkotas commented on #4238
These helpers should have regular calling convention: `r0-r3, r12` can be trashed, etc.

This is local invariant - other methods in the X64ReadyToRunGenericHelperNode.cs depend on it, but things outside of it do not.

I think it is best to take these one at time, and test it using `Test.CoreLib` as it is implemented.

[2017-07-28 13:40] sergign60 commented on #4146
@MichalStrehovsky Could you tell how to insert Console.WriteLine into CoreRT? Some modules gives error when I try to do it. For example,
[code]
Thanks in advance

[2017-07-28 16:48] MichalStrehovsky commented on #4146
The `System.Private.Jit.csproj` project includes the same CorInfoImpl.cs file as the compiler, but doesn't have access to `System.Console`. Put the line under `#if !SUPPORT_JIT`.

[2017-07-28 17:15] sergign60 commented on #4146
@MichalStrehovsky We're using another way - import c++ printf from a shared library, but many thanks for yours!

[2017-07-31 10:23] valeriob commented on #3981
I think i have the same problem, how do i track it down to the source ?
I don't know who requires what and why :D but if i create a new project i can't reproduce it :D
I disabled <WarningsAsErrors>NU1605</WarningsAsErrors> but i don't know the implications...

![image](https://user-images.githubusercontent.com/1522516/28773540-42498460-75ea-11e7-993f-3d93e5cfc55a.png)

Thanks

[2017-07-31 12:02] BredPet commented on #4238
Thanks, I forgot about Test.CoreLib)

[2017-07-31 12:02] #4238 closed

[2017-07-31 17:45] MichalStrehovsky opened #4251 "Assertion failed 'expensiveArg != UINT_MAX' in 'System.Linq.Queryable:Count(ref):int' (IL size 62)"
Compile with `-O` to enable optimizations.

[code]

Stack:

[code]

Ngendump:
[ngendump.txt](https://github.com/dotnet/corert/files/1188374/ngendump.txt)

[2017-07-31 17:47] MichalStrehovsky commented on #4251
@sandreenko Could you have a look?

You might want to pull down #4250 so that you can mixed-mode debug this.

[2017-07-31 17:51] sandreenko commented on #4251
Yes, I will probably start it tomorrow, is it ok?

[2017-07-31 18:15] MichalStrehovsky commented on #4251
Thank you!

[2017-08-01 14:55] sergign60 commented on #4146
@MichalStrehovsky I've inserted some tracing prints. Please look at the result:

[code]

[2017-08-01 15:32] MichalStrehovsky commented on #4146
This doesn't ring any bells, sorry; I don't know how to interpret the log. Things like `varNumber=2990258268` don't make sense to me.

[2017-08-01 15:42] sergign60 commented on #4146
@MichalStrehovsky Ok, what kind of information do you need?

[2017-08-01 15:53] MichalStrehovsky commented on #4146
There is no variable 11 in the IL you posted. The variables we have debug information on are the parameters (4) and locals (0). JIT should not ask about more than 4 + 0 vars. This is really a question for a JIT dev, not for me.

[2017-08-01 15:59] sergign60 commented on #4146
As I see into CoreRT::setVars comes  cVars=8 for ```Internal.IL.Stubs.DynamicInvokeMethodThunk<[System.Private.CoreLib]System.Int64>``` and there is printing of these variables:
[code]
Assert arises on  ```name=number in localSlot i=3 varNumber=11````

[2017-08-01 16:24] #3080 closed

[2017-08-01 18:07] sergign60 commented on #4146
@MichalStrehovsky I'll investigate this problem tomorrow in jit

[2017-08-01 18:24] jkoritzinsky commented on #4214
@janvorli @jkotas Is anyone looking at the JIT side of this currently?

[2017-08-01 19:08] jkoritzinsky commented on #4214
I found a relatively consistent repro of this issue. I put it in a gist at https://gist.github.com/jkoritzinsky/322b770bd4a6bbf12bb9f0d4399a5f1f.

It still requires being built on Ubuntu Release using the EnableClrThreadPool branch.

[2017-08-01 21:32] jkotas commented on #4214
@sandreenko Could you please look into what it would take to teach RyuJIT to terminate tracking of all GC references before `CORINFO_HELP_JIT_PINVOKE_BEGIN` call? It seems to terminate the GC tracking right after `CORINFO_HELP_JIT_PINVOKE_BEGIN` call - it is too late.

[2017-08-01 21:52] sandreenko commented on #4214
Yes, will it affect CoreCLR?

[2017-08-01 21:54] jkotas commented on #4214
No - `CORINFO_HELP_JIT_PINVOKE_BEGIN` is CoreRT specific.

[2017-08-02 14:36] SamuelDebruyn opened #4261 "Could not find file lib/Facades during compilation of UWP app"
The following happens with .NET Native compiler 1.6.0, 1.6.1 and 1.6.2:

[code]

This is a UWP app and everything worked without issues with .NET Native 1.4.

[2017-08-02 23:42] MichalStrehovsky commented on #4261
It took a while to repro this, but this is because on your project properties (the Build tab), you checked "Enable static analysis for .NET Native", but left "Compile with .NET Native toolchain" unchecked. This combination is currently broken. I filed a bug to fix it for the next release (we don't track UWP specific issues in this repo). In the meantime, either leave "Enable static analysis" unche

[2017-08-02 23:42] #4261 closed

[2017-08-03 15:02] tonerdo commented on #1285
@jkotas I notice that when I add

[code]

and I try to build a shared library. I get the below error at the linking stage

[code]

Typically this error is thrown by the linker when it doesn't find a `main` method when it's trying to build an executable but that should be suppressed when the switch to build a library is used. Any ideas?

[2017-08-04 01:50] jkotas commented on #1285
The problem is that PalGetModuleFileName is referencing the main method here: https://github.com/dotnet/corert/blob/585616412eda6d7dbc7d312cad9279dfc9f47a8b/src/Native/Runtime/unix/PalRedhawkUnix.cpp#L1211

I think that the fix for this should be to get rid of this code, and always require PalGetModuleFileName  to take non-null argument (on Unix at least).

[2017-08-04 05:27] #395 closed

[2017-08-04 22:31] tonerdo commented on #1285
@jkotas so from my tests I realize the we still need `CoreRT_main`/`main` method to setup and tear down the runtime. What does this mean for a native library in the context of `dlopen`/`LoadLibrary` if those main functions have to be called before any managed function can be executed?

[2017-08-04 22:50] jkotas commented on #1285
Some of this is covered by "The next step is get rid of the fake main method and polish this" in my write up.

It is fine to have an option that initialize the runtime automatically when the library is loaded or when the first unmanaged method gets called. I would expect that this automatic options would be used by "simple" libraries. Folks complex programs will likely prefer the explicit initiali

[2017-08-06 00:39] #3308 closed

[2017-08-07 16:24] sergign60 commented on #4146
https://github.com/dotnet/corert/pull/4276

[2017-08-07 18:48] #4146 closed

[2017-08-08 11:37] mmayr-at commented on #3570
@ArztSamuel will be doing further ILVerify development in the next months and takes care of this. @jkotas maybe you can add him as collaborator and assign this ticket to him? Thx.

[2017-08-08 12:44] sergign60 opened #4283 "[armel tizen] Cannot find mscoree.dll on tizen for CLRCreateInstance"
Compiling simple test on tizen armel gives the following error
[code]

the file ```src/Common/src/TypeSystem/Ecma/SymbolReader/UnmanagedPdbSymbolReader.cs```
[code]

[2017-08-08 12:44] sergign60 commented on #4283
CC: @MichalStrehovsky @jkotas

[2017-08-08 13:50] jkotas commented on #4283
The exception from CLRCreateInstance is expected. It should be thrown and handled. I believe it is what happens on Unix x64.

It looks like a bug in CoreCLR for Tizen. `System.SR.get_IO_EOF_ReadBeyondEOF()` is where things go wrong.

It maybe also a good idea to short-circuit `static UnmanagedPdbSymbolReader()` to do nothing on Unix to avoid the exception because of exceptions that are always thro

[2017-08-08 13:52] jkotas commented on #4283
There are a few active issues in CoreCLR that lead to this crash. Maybe you are hitting one of them: https://github.com/dotnet/coreclr/search?q=Recursive+resource+lookup+bug&type=Issues&utf8=%E2%9C%93

[2017-08-08 13:58] jkotas commented on #3570
Excellent! I have added @ArztSamuel as collaborator. Once he accepts the collaborator invitation, the issue can be assigned.

[2017-08-08 14:29] sergign60 commented on #4283
@jikotas thanks for info!

[2017-08-08 14:29] sergign60 commented on #4283
https://github.com/dotnet/corert/pull/4284

[2017-08-08 17:11] #4283 closed

[2017-08-08 21:28] #3561 closed

[2017-08-09 07:58] ArztSamuel commented on #3570
Thanks! I accepted your invite.

[2017-08-09 21:19] jkoritzinsky commented on #3570
Fixed by #4291

[2017-08-09 21:19] #3570 closed

[2017-08-10 15:20] tonerdo commented on #1285
@jkotas adding `NativeCallable` works alright on Unix and checking the resulting `.dylib`/`.so` file for exported functions shows the methods that have that attribute applied. For Windows however doing a `dumpbin /EXPORTS` on the generated native dll doesn't display any method including those that have the `NativeCallable` attribute applied.

This happens when using both `Cdecl` and `StdCall` call

[2017-08-10 15:27] jkotas commented on #1285
On Windows, the methods have to be exported via .def file passed to the linker.

[2017-08-10 15:43] tonerdo commented on #1285
Aaah, forgot about that. Is there are provision in the compiler to automatically generate this file or is this something I need to add?

[2017-08-10 16:11] jkotas commented on #1285
For now, you need to add it. It may be possible to auto generate it in future, but it should be separate issue.

[2017-08-15 10:37] kouvel opened #4321 "Differences in behavior of `new AssemblyName(string)` from CoreCLR"
- See new tests in https://github.com/dotnet/corefx/pull/23243. Please wait for that PR to be merged before acting on this issue, as the desired behavior may change meanwhile.
- AssemblyNameTests.Constructor_String_VersionTest is currently disabled pointing to this issue

Output:
[code]

[2017-08-17 09:45] s2zaman commented on #3981
Got the errors [NU1605](https://github.com/NuGet/Home/wiki/Restore-errors-and-warnings#nu1605), with .NET Core SDK 2.0.0. But there is no such error on my other machine, with .NET Core SDK 1.0.0.

@weshaggard  and @TAGC are correct in this regard, this is the .NET Core SDK release issue.

[2017-08-17 20:18] weshaggard commented on #3981
We are working on figuring out the issue here most of the conversation is happening in this buildtools PR https://github.com/dotnet/buildtools/pull/1624.

[2017-08-19 13:54] fanoI opened #4347 "dotnet build /t:LinkNative not working"
I'm following the instruction here: https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-console-shell-prompt.md and when I've done dotnet build /t:LinkNative  I've got this error:

C:\Users\fano\Documents\GitHub\CoreRt\bin\Windows_NT.x64.Debug\build\Microsoft.NETCore.Native.targets(150,5): error MSB3073: uscita dal comando "link  @"obj\Debug\netcoreapp1.0\

[2017-08-19 14:45] jkotas commented on #4347
Are you running this in `x64 Native Tools Command Prompt for VS 2017`?

[2017-08-19 15:57] fanoI commented on #4347
Yes.
I've dot net core 2.0 installed so I don't need to download again dot net tools right?

[2017-08-19 16:00] jkotas commented on #4347
Right.

If you run `"link @"obj\Debug\netcoreapp1.0\native\link.rsp` directly, does it print any error messages?

[2017-08-19 17:55] fanoI commented on #4347
Nothing is printed...

[2017-08-19 19:28] jkotas commented on #4347
Did it produce native are `bin\Debug\netcoreapp1.0\native\*.exe` ?

[2017-08-20 09:35] fanoI commented on #4347
Yes it did!
It does not seem really a native exe:

test1.exe; PE32+ executable for MS Windows (console) Mono/.Net assembly

[2017-08-20 09:44] mikedn commented on #4347
Not sure if it's related but it seems that the described approach (importing the native targets at the end) is incompatible with the "Sdk" style projects used by the .NET Core 2.0 SDK. The native targets use the `TargetName` property and that's set by the SDK after the native targets are imported so you end up with a .rsp file that looks like:
[code]
I replaced `TargetName` with `MSBuildProjectNam

[2017-08-21 11:47] fanoI commented on #4347
I've done a 'git pull' today and the issue seems solved! The native .exe is indeed created...

The fact that the file utility see .Net code in it is because it integrates the dotnet launcher?

[2017-08-21 12:31] mikedn commented on #4347
There's no "launcher" integrated in it, it's all native code.

I don't know what file utility you are using but the one from Ubuntu prints "PE32+ executable (console) x86-64, for MS Windows" in my test. If you want to be sure use some other utility (dumpbin, dependency walker etc.)

[2017-08-21 12:51] fanoI commented on #4347
I'm on Windows so the Command Prompt 'file' utility hinereted from DOS, opening the file as archive it shows indeed a .managed section:

21/08/2017  14:50    <DIR>          .
21/08/2017  14:50    <DIR>          ..
21/08/2017  13:56           261.120 .data
21/08/2017  13:56         3.061.760 .managed
21/08/2017  13:56           232.960 .pdata
21/08/2017  13:56         2.407.424 .rdata
21/08/2017  1

[2017-08-21 13:15] mikedn commented on #4347
There's no `file` utility in Windows/DOS. You probably installed something that added a `file` utility to your path (e.g. git, mingw etc.).

Then it's for sure an exe generated by ILC, "normal" managed executable do not have such a section. Yes, it's named "managed" but it really contains native code.

Anyway, if you got the .exe and it runs then it must be a native one. The build system would hav

[2017-08-21 15:47] fanoI commented on #4347
OK the problem seems fixed in any case, now it is working.

Thank you!

[2017-08-21 15:47] #4347 closed

[2017-08-21 22:21] MichalStrehovsky commented on #3877
I think this is fixed now? Feel free to reactivate if it's not the case.

[2017-08-21 22:21] #3877 closed

[2017-08-21 22:23] #3253 closed

[2017-08-21 22:41] #4220 closed

[2017-08-22 07:48] ArztSamuel opened #4357 "[ILVerify] Fix stelem.i1/i2 instructions throwing an error for bool/char arrays"
Bools and chars are treated as i1 and i2 respectively for stack operations. In order to store a bool or a char into a bool/char array the stelem.i1/stelem.i2 operations are used.
However, ILVerify currently throws an "Unexpected type on the stack." error when verifying such IL code, because it does not allow storing a sbyte/short into a bool/char array.

[2017-08-22 07:49] ArztSamuel commented on #4357
PEVerify simply returns an array element type of sbyte for bool arrays and short for char arrays.

[2017-08-22 08:12] ArztSamuel opened #4358 "[ILVerify] Fix ldind.i1 throwing an error for bool&"
ILVerify does not accept ldind.i1 to load a bool from a bool&, because it expects a byte&.

[2017-08-22 08:17] ArztSamuel opened #4359 "[ILVerify] Fix boxed generic types not being accepted as System.Objects"
In order to use a generic type as a System.Object in for instance a method call it is first boxed (using the box instruction). However, ILVerify yields an assert when trying to use a boxed generic as a System.Object.

[2017-08-22 12:01] ArztSamuel commented on #4358
Possibly related to #4357

[2017-08-23 10:50] ArztSamuel commented on #4357
The ECMA-335 standard defines that verification of stelem requires

and

with value being the value on the evaluation stack, _typeTok_ being the token used for the stelem instruction and T being the type of the array's elements.

As far as I have understood the _array-element-compatible-with_ relation, this would report a verification error for valid IL:
A char is normally loaded using ldc.i4 and

[2017-08-23 18:55] jkotas commented on #4357
char should be treated as UInt16 by the verifier. III.1.1.3 say "For the purpose of stack operations char values are treated as unsigned 2-byte integers"

[2017-08-24 00:17] fadimounir commented on #3856
Changeset #1671610 checked in.

[2017-08-24 00:17] #3856 closed

[2017-08-24 08:18] ArztSamuel commented on #4357
Yes that is right.
As far as I understand it now and comparing with the PEVerify implementation, the array-element type T is compared as a verification type to the _typeTok_. The value (which is an _intermediate type_ as it was loaded onto the stack) is then compared to the _typeTok_, which is then also treated as an _intermediate type_ as storing the value into the array is a stack operation and

[2017-08-24 09:59] LawrenceDior opened #4371 "Hardware exception on 15 KnownGood tests"
Since commit abb4eef, I have encountered the following error on 15 of the KnownGood tests:

Tests affected:
Loader\classloader\generics\regressions\334376\b334376\b334376.exe
Loader\classloader\regressions\359519\test359519\test359519.exe
Loader\classloader\regressions\434481\b434481_GenericRecurInit\b434481_GenericRecurInit.exe
JIT\Directed\nullabletypes\hashcode_d\hashcode_d.exe
JIT\Directed\nul

[2017-08-24 15:27] wjk opened #4374 "Build breaks with Xcode 9"
When I try to compile corert on a Mac running the High Sierra beta with the Xcode 9 beta installed, I get the following errors from the native components (unabridged):

[code]

The errors are being caused by the `_exception_code()` function being used before its prototype is declared. Clang interprets such a function as returning `int`. When it then sees the declaration returning `unsigned long`,

[2017-08-24 15:41] jkotas commented on #4374
The offending code is unused. I am deleting it in #4375. Could you please give it a try to see whether it fixes the problem?

[2017-08-24 15:43] jkotas commented on #4371
Could you please run one of the failing tests under unmanaged debugger and capture stacktrace of the crash?

[2017-08-24 16:36] wjk commented on #4374
#4375 does indeed fix this issue; however, I then ran into another one. Apparently corert defines `min` and `max` macros somewhere in its codebase. This causes Xcode 9's version of the STL to emit `#warning`s about this, which are then elevated into errors by `-Werror` and fail the build. Could this be fixed as well?

I'm reporting this here instead of in a new issue because it still falls under t

[2017-08-24 19:00] jkotas commented on #4374
@swgillespie Most of the locally defined min/max uses are in the GC. Have you seen this issue during your local GC work?

[2017-08-24 19:02] swgillespie commented on #4374
Hmm, I have not. In CoreCLR only one of the VM headers or gc/env headers are in use at any point in time, so when building standalone this is the only def the compiler sees: https://github.com/dotnet/coreclr/blob/master/src/gc/env/gcenv.base.h#L89-L95 . Sounds like this isn't the case for CoreRT, though?

[2017-08-24 19:26] jkotas commented on #4374
The difference is that CoreRT is including OS headers on non-Windows.

[2017-08-25 00:00] fadimounir opened #4379 "Implement RhGetCodeTarget on Linux/Apple"

[2017-08-25 00:29] MichalStrehovsky commented on #3608
Maybe we can get away with just embedding a generic handle of the constraint itself. I can't find a scenario where that wouldn't work.

[2017-08-25 13:31] binore opened #4382 "Cant compile simple dotnet console application"
Hi guys!

I generated simple dotnet console application by running `dotnet new console`

My project.csproj is:
[code]

To compile project i run [documented](https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-console-shell-prompt.md) commands, but catch some issues:

[code]

[2017-08-25 14:22] wjk commented on #4374
@jkotas Found it! The offending code is here: https://github.com/dotnet/corert/blob/0757a4f77bbd9c6a18cdff81a81cfa7c49ff4e0b/src/Native/Runtime/CommonMacros.h#L95-L103

Unfortunately, a simple grepping through the `src/Native/Runtime` directory reveals that these macros are used all over the place. Simply removing them will not work. Any pointers?

[2017-08-25 14:28] wjk commented on #4374
On the other hand, since the C++ standard library headers that are emitting the warnings are only used in one file (`MathHelpers.cpp`), I can simply `#undef` the two problematic macros before `#include <cmath>`.

Unfortunately, I then run into *another* issue. clang then complains of a definition of the builtin function `_mm_pause()` (which can simply be solved by placing the definition inside a `

[2017-08-25 14:59] jkotas commented on #4374
Sounds reasonable.

This was fixed in CoreCLR copy of the GC already: https://github.com/dotnet/coreclr/pull/11226/files#diff-9b1cf8b32169db5abb15e28386d99a10R20359 . Feel free to make the same fix here (we are syncing CoreRT and CoreCLR GC every one in a while, we just did not get to this one yet).

Sounds good. (The above change CoreCLR made similar fixes for other new builtins.)

[2017-08-25 15:03] jkotas commented on #4382
Same issue was discussed in #4347. Are you running these commands in `x64 Native Tools Command Prompt for VS 2017' ?

[2017-08-25 15:29] #4321 closed

[2017-08-25 16:45] #1192 closed

[2017-08-25 17:13] #4374 closed

[2017-08-25 17:15] jkotas commented on #4382
I have updated the troubleshooting section to mention this problem explicitly. Let me know if it still does not work for you. Thanks for giving CoreRT a try!

[2017-08-25 17:15] #4382 closed

[2017-08-28 06:23] iperov commented on #3320
same problem on windows 7 x64

[2017-08-28 06:30] iperov opened #4401 "Unable to load DLL 'jitinterface: The specified procedure could not be found"
problem on windows 7 x64

System.DllNotFoundException:

 Unable to load DLL 'jitinterface': The specified procedure could not be found. (Exception from HRESULT: 0x8007007F)
            at Internal.JitInterface.CorInfoImpl.GetJitHost(IntPtr configProvider)
            at Internal.JitInterface.CorInfoImpl..ctor(Compilation compilation, JitConfigProvider jitConfig) in C:\corer
t\src\JitInterface\src\

[2017-08-28 12:18] iperov opened #4403 "[CppCodeGen] simple DateTime test crashing on windows 7 x64 Release"
Hello test works ok without modifications.
But when I add two lines to Hello.cs
[code]
and Build.cmd Release

I got crash

[code]

[2017-08-28 13:33] jkotas commented on #4403
@iperov Are you interested in looking into fixing this bug?

There are quite a few up-for-grabs CppCodeGen bugs: https://github.com/dotnet/corert/issues?utf8=%E2%9C%93&q=is%3Aopen%20label%3ACodeGen-Cpp%20%20label%3Aup-for-grabs%20

[2017-08-28 13:41] jkotas commented on #4401
This is likely caused by RtlAddGrowableFunctionTable and similar methods.

[2017-08-28 14:45] ArztSamuel commented on #4357
Fixed by #4402.

[2017-08-28 14:45] #4357 closed

[2017-08-28 14:46] ArztSamuel commented on #4358
Fixed by #4402.

[2017-08-28 14:46] #4358 closed

[2017-08-29 20:24] MichalStrehovsky commented on #3608
Let's keep this open.

My RyuJIT fix didn't actually fix this for the case of generic virtual method:

[code]

We need a new JitInterface method after all.

[2017-08-29 23:36] jkotas commented on #3981
The latest buildtools should have this fixed.

[2017-08-29 23:36] #3981 closed

[2017-08-30 13:52] ArztSamuel commented on #4359
Fixed by #4411.

[2017-08-30 13:52] #4359 closed

[2017-08-30 17:39] iperov commented on #4403
problem is I cannot build.cmd debug version, dotnet.exe crashing.

[2017-08-30 18:31] jkotas commented on #4403
This Win7 crash is affecting RyuJIT codegen only. CppCodeGen should not be affected.

[2017-08-31 06:14] iperov commented on #4403
struct TIME_DYNAMIC_ZONE_INFORMATION not big enough
in stack allocated 0x38 size, but
System_Private_CoreLib::Interop_mincore::GetDynamicTimeZoneInformation fill more and wipe other stack data

[2017-08-31 06:42] iperov opened #4427 "[CppCodeGen] [Debug] unresolved external symbol NtQuerySystemInformation"
[code]
fixed by manual adding 'ntdll.lib' to linker

[2017-08-31 06:56] iperov opened #4428 "[CppCodeGen] Thread unable to start due to assert"
cs prog
[code]

cpp assert
[code]

[2017-08-31 15:52] jkotas commented on #4403
:+1: tracking down the root cause of the crash!

The bug is in incorrect C++ for "fixed buffer" structs. E.g. the code for StandardName fixed buffer looks like this today:

[code]

Instead, it needs to look like this:

[code]

The bug is in [OutputTypeFields](https://github.com/dotnet/corert/blob/5b618edad65e28956c70cd0566c73644639f92cf/src/ILCompiler.CppCodeGen/src/CppCodeGen/CppWriter.cs#L495) m

[2017-08-31 15:55] jkotas commented on #4427
It should be fine to add the `ntdll.lib` to the default linker libs in `src\BuildIntegration\Microsoft.NETCore.Native.Windows.props`.

[2017-08-31 15:58] jkotas commented on #4427
#2149 would fixed this problem as well in more general way.

[2017-08-31 16:25] jkotas commented on #4428
The problem is that CppCodeGen does not emit reverse PInvoke transition. We have hacked around it for the main entrypoint [here](https://github.com/dotnet/corert/blob/2b40a707239a9974a63cf992ce6a6f8303f5b362/src/Native/Bootstrap/main.cpp#L309). Other entrypoints - like new thread entrypoint - are missing the transition, and that's why you see this assert.

The fix should be to:
- In : https://gith

[2017-08-31 17:54] iperov opened #4429 "[CppCodeGen] no SqlConnection implemented yet ?"
[code]

[2017-08-31 17:59] jkotas commented on #4429
Duplicate of #2619 (also mentioned in https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-console-shell-prompt.md).

[2017-08-31 17:59] #4429 closed

[2017-08-31 18:01] iperov commented on #4429
??

[2017-08-31 18:09] kouvel opened #4430 "Port normalized equivalent of YieldProcessor from CoreCLR"
- Port https://github.com/dotnet/coreclr/pull/13670
- Port any other PRs that fix relevant issues referenced in https://github.com/dotnet/coreclr/issues/13388

[2017-08-31 18:41] jkotas commented on #4429
SqlConnection is separate package.

You need to have package reference to it in your .csproj file to be able to use it (like `<PackageReference Include="System.Data.SqlClient" Version="4.4.0" />`). This is regular .NET Core, nothing CoreRT specific.

The CoreRT issue #2619 is that the CoreRT msbuild targets do not respect the PackageReference in your .csproj file. It affects any PackageReferences,

[2017-08-31 18:50] iperov commented on #4429
so there is no chance to compile System.Data.SqlClient ?

[2017-08-31 18:54] jkotas commented on #4429
With CppCodeGen - unlikely at this point. With RyuJIT codegen - there is a good chance that it will work (you would need to workaround the issue #2619 and the Win7 specific bug.)

[2017-09-01 09:17] jkotas commented on #3981
This issue is specific to build errors when building this repo. This repo is using special build system (aka "buildtools").

If you are hitting NU1605 errors for your .NET Core project, the best place to discuss them is https://github.com/dotnet/sdk/, e.g. https://github.com/dotnet/sdk/pull/1329.

[2017-09-01 09:19] KoalaBear84 commented on #3981
Ahh! Sorry, my bad. Thanks for clearing up :)

[2017-09-01 12:41] ArztSamuel opened #4438 "[ILVerify] How to deal with code marked unsafe"
In C#, code is marked with the `unsafe` keyword in order to be able to use constructs such as pointers.
How are we supposed to deal with unsafe code?
Should this code also be verified?

To be more specific, I came across this case, where IL-code produced by the C# compiler was yielding an error from both ILVerify and PEVerify:

    unsafe static int* ptr;

    static unsafe void IntToPointer()

[2017-09-01 15:12] jkotas commented on #4438
The unsafe C# code compiles into valid non-verifiable IL.

To support checking of valid non-verifiable IL, ILVerify would need to have IL validation mode. The IL validation mode would have the assignment checks relaxed, e.g. to allow pointers as numeric types.

#3587 and #3586 are related to this.

[2017-09-04 10:02] markrendle opened #4444 "LinkNative doesn't pull assemblies from Runtime Package Store"
Before I start, I should say that I know the scenario I'm describing isn't remotely supported yet; I have just been exploring how unsupported it is. :smiling_imp:

I'm [working on a thing](https://github.com/shtik/cli) that will benefit greatly from CoreRT AOT compilation when it is ready, so I thought I'd try it and see how far it got. It's an ASP.NET Core 2.0 application that just uses Routing,

[2017-09-04 10:36] sergign60 commented on #3672
https://github.com/dotnet/coreclr/pull/13777

[2017-09-04 11:37] LawrenceDior commented on #4371
Done; sorry about the delay. The debugger cycled through three exceptions/breakpoints repeatedly. Here are the exception messages and call stacks for each of them:

Message 1:

Call stack:
b334376.exe!00007ff7245a1158()	Unknown
b334376.exe!b334376_Program__Main_()	Unknown
b334376.exe!b334376__Module___MainMethodWrapper_()	Unknown
b334376.exe!\_\_managed\_\_Main_()	Unknown
\> b334376.exe!wmain(int

[2017-09-04 18:04] tonerdo commented on #1285
@jkotas I'm currently working on being able to build static libraries. For the linking stage this would require me to extract the object files from the library archives and generate a new archive with the `ilc` object file included. This seems a bit messy to me and also I'm concerned about polluting the users' filesystem (even though I'd be using the platform specific temp storage for the extracte

[2017-09-05 00:12] jkotas commented on #1285
Is it really necessary to build a single static library that contains everything? I would think that having the bits split over a few .a libraries would not be too bad.

It is not unusual for build to generate temporary intermediate files. I would not worry about it.

[2017-09-05 00:18] allquixotic commented on #1285
Just to confirm, the *final build output* would be a single file per what-would-normally-be a .NET DLL, right?

I ask this because many third-party (proprietary...) programs accept plugins which conform to a predefined C stdcall interface (for example), but they require the specification of **a** library file. Not all such plugin loading frameworks provide the flexibility to say, "My implementatio

[2017-09-05 00:42] jkotas commented on #4444
Looks like a dup of #2619.

cc @sergiy-k @nattress

[2017-09-05 00:52] jkotas commented on #1285
Right.

[2017-09-05 00:56] jkotas commented on #4371
@MichalStrehovsky Is this one of the generic related bugs that you have been looking into?

[2017-09-05 08:50] tonerdo commented on #1285
@allquixotic what you say is very true and currently for shared libraries a single file (.dll, so, .dylib) is generated, it includes both the runtime and your own code and currently works with both `dlopen` and `LoadLibrary`. What @jkotas and I are discussing is as regards static libraries (.lib, .a) where the developer will have control at build time what gets linked or not.

[2017-09-05 08:51] tonerdo commented on #1285
I agree with this, at least for the initial implementation

[2017-09-05 08:55] bazzilic commented on #1285
@tonerdo any updates on building native on Linux?

[2017-09-05 09:01] tonerdo commented on #1285
@bazzilic Once I finish up the static library generation (later today), I'd do a test run on all three platforms and fix up any issues I find

[2017-09-05 12:34] markrendle commented on #4444
I'll try the workaround mentioned in that issue and see what I get, will comment-and-close this if it resolves.

[2017-09-05 17:40] fadimounir commented on #4379
Completed

[2017-09-05 20:20] fadimounir opened #4453 "Instantiating unboxing stubs target lookup"
unboxing->target info to be encoded in the gcinfo portion (flag + reloc)

[2017-09-06 21:18] #4401 closed

[2017-09-06 21:18] jkotas commented on #4401
@iperov This Windows 7 problem should be fixed now.

[2017-09-07 10:28] snrnats opened #4463 "ARM UWP app crashes in mrt100_app.dll (0xC0000005: Access violation reading location 0x72C9107C)"
ARM UWP app compiled with .NET Native tool chain crashes right after startup. It happens half the time. x86 or x64 works fine.

`Unhandled exception at 0x63961663 (mrt100_app.dll) in CryptoCoins.UWP.exe: 0xC0000005: Access violation reading location 0x72C9107C. occurred`

The app was compiled targeting:
Windows 10 Creator Update (15063)
Microsoft.NETCore.UniversalWindowsPlatform 5.4.0

I have cras

[2017-09-07 12:08] jkotas commented on #4463
cc @MattWhilden

[2017-09-07 14:59] snrnats commented on #4463
I was able to localize the code that causes crash. It's related to [Win2D](https://github.com/Microsoft/Win2D) and accessing it from different threads. Here is a project to reproduce the crash.
[Win2D.zip](https://github.com/dotnet/corert/files/1285102/Win2D.zip)

[2017-09-07 20:16] sergiy-k opened #4466 "Environment.GetFolderPath fails due to a missing interop feature"
Repro:

[code]
It fails with the following exception:
[code]

[2017-09-08 09:05] gdmka opened #4468 "Cross Compiling from OSX to GNU/Linux"
Hi, i'm testing CoreRT right now, the project aim is wonderful. Thought, i'm trying to build a statically linked "Hello World" binary.

I was able to jump over some issues by myself, some of them have temp workarounds (like replacing `TargetName` with `MSBuildProjectName` in `Microsoft.NETCore.Native.targets`) to compile successfully.

So, the question is: does CoreRT toolchain currently supports

[2017-09-08 13:55] jkotas commented on #4468
cross compiling is not supported. #258 mentions some of the problems.

[2017-09-08 17:29] #4468 closed

[2017-09-08 20:29] sergiy-k commented on #4444
Hi @markrendle!
@nattress is working on improving dotnet cli integration and fixing the issue https://github.com/dotnet/corert/issues/2619. He should have something to share with you soon but, as you probably have discovered it by yourself, this is not going to be the biggest issue.
The main problem is that ASP.NET heavily uses a lot reflection to glue things together even in a simple MVC core app

[2017-09-12 16:30] sergiy-k commented on #4463
cc @AntonLapounov

[2017-09-12 16:49] AntonLapounov commented on #4463
@snrnats Hello Dmitry,
Did you save the dump or the call stack by a chance?

[2017-09-12 18:14] snrnats commented on #4463
@AntonLapounov I attached the archive with dumps to the first message. Call stack is different every time I launch the project. Were you able to reproduce the crash with the project I attached?

[2017-09-12 18:52] AntonLapounov commented on #4463
@snrnats Thanks! The first two dumps indicate managed heap corruption, the third dump indicates RMClient.dll unexpectedly unloaded.  I have not tried running your project yet.  Thank you very much for pinpointing the issue!

[2017-09-12 18:54] AntonLapounov commented on #4463
@Maoni0 In the first two dumps we hit AV in GCHeap::Promote due to `o == 0x1`.  Have you seen this before?  mrt100_app has version 1.7.25531.0, timestamp 07/28/2017.

[2017-09-12 19:04] sergign60 opened #4485 "[RyuJIT/ARM32] CoreRT failed with SegFault in vtable for __cxxabiv1::__class_type_info () from /usr/lib/arm-linux-gnueabi/libstdc++.so.6"
[create_arm_env.zip](https://github.com/dotnet/coreclr/files/1284157/create_arm_env.zip)

[code]
To reproduce this you need to clone the latest coreclr, corefx, corert, build all of them for armel (tizen), create runtime environment with the (edited) script from the attachment, push it to a device and execute the following commands:
[code]
needed jit diffs
[code]

Also you probably may need to tur

[2017-09-12 19:05] sergign60 commented on #4485
@Dmitri-Botcharnikov @BredPet @alpencolt @jkotas @MichalStrehovsky

[2017-09-12 19:47] jkotas commented on #4485
Could you please try to run the following program against RyuJIT backend on regular CoreCLR (no CoreRT involved at all)? Does it work with RyuJIT backend on regular CoreCLR?

[code]

[2017-09-12 22:49] Maoni0 commented on #4463
@AntonLapounov heap corruption can really be anything so it's impossible to say, based on the info you described, whether I have seen it or not. but I'm not aware any heap corruption issues due to the GC currently in .net native (I don't know where to find the src for the version you mentioned though).

[2017-09-12 22:52] janvorli commented on #4463
@AntonLapounov my guess is that the crashes are caused by a GC hole. That can easily manifest itself as an AV in GCHeap::Promote.

[2017-09-13 02:10] morganbr commented on #4444
@markrendle , would you mind telling us more about how you expect AoT compilation to benefit shtik? We're definitely interested in gathering that kind of feedback to help us prioritize work.

[2017-09-13 09:34] sergign60 commented on #4485
@jkotas Yes, it work with both debug and optimized variants of *.exe

[2017-09-13 10:33] sergign60 commented on #4485
As I see now there is some problem with ```compHnd``` in ```CILJit::compileMethod``` because ```r3``` in the  jump
[code]
has a wrong value. I've tried to disas after 'si' command and got the following
in auto mode
[code]
in thumb mode
[code]

[2017-09-13 14:31] sergign60 commented on #4485
there is the incompatibility between jit version and corert,

[2017-09-13 14:31] #4485 closed

[2017-09-13 14:55] LawrenceDior commented on #4371
There's a call to RHBox...

[code]
...followed by __VirtualCall_Object__ToString, and then a jump to somewhere that looks suspicious. Here's an extract from disassembly around the point at which the suspicious jump is made:
[code]
Here's where it lands:
[code]
The type of rcx is b334376.exe!Boxed_b334376_VType3_1<String>::`vftable'

[2017-09-13 17:57] jkotas opened #4492 "Implement support for CORINFO_FLG_JIT_INTRINSIC"
See https://github.com/dotnet/coreclr/pull/13815

[2017-09-13 19:58] jkotas commented on #4485
@sergign60 I am updating RyuJIT in #4493

Yeah ... turning off this verification always leads to super weird crash. There is a good reason why we have it there.

[2017-09-14 12:10] sergign60 opened #4496 "[RyuJIT/ARM32] CoreRT failed with Internal.JitInterface.CorInfoImpl.AllocException(Exception ex)"
[create_arm_env.zip](https://github.com/dotnet/coreclr/files/1284157/create_arm_env.zip)

The used test - Hello from CoreRT test suite
Debug versions of CoreCLR, CoreRT and CoreFX

[code]

To reproduce this you need to clone coreclr (f3dfbf546396db24f5fbc690213e89beaebd5f35), corert (53939b93d4cbb5c18d6a141347eff73e843d04b5), corefx (860123c95c8b5b709bfce924e6b951a2702857b6), build all of them for

[2017-09-14 12:11] sergign60 commented on #4496
@Dmitri-Botcharnikov @BredPet @alpencolt @jkotas @MichalStrehovsky

[2017-09-14 12:28] sergign60 commented on #4496
CoreRT fails when it compiles them method ```Internal.Runtime.CompilerHelpers.StartupCodeHelpers:InitializeCommandLineArgs(int,int)``` in ```CodeGen::genCallInstruction```

[code]
for ```methodHnd [System.Private.CoreLib]System.String..ctor```

[2017-09-14 13:55] sergign60 commented on #4496
[code]

[2017-09-14 14:10] jkotas commented on #4496
There are two problems:
- CoreCLR is crashing with `Infinite recursion during resource lookup`. I do not see this problem on my RPI.
- RyuJIT arm backend is calling getFunctionEntryPoint where it should not be. I have submitted fix for this problem in https://github.com/dotnet/coreclr/pull/13974

After this fix, the next problem I am seeing is failing `assert(info.compRetNativeType == op->gtCall.g

[2017-09-14 14:45] sergign60 commented on #4496
@jkotas yes, your fix works! Thank you very much!
I've also get the same assert

[code]

[2017-09-14 17:38] hippiehunter commented on #4428
@jkotas
I've made the fixes you describe but it appears to be that prior to the RhYield call, someone has to set m_pTransitionFrame in the current thread, transitioning into preemptive rather than cooperative mode. based on the comments in RhYield this appears to be an expectation for PInvoked methods. It looks like the transitionFrame needs to be a PInvokeTransitionFrame but the only place i see

[2017-09-14 19:21] jkotas commented on #4428
@hippiehunter Thank you for taking a look!

Ok, there are really two separate bugs here: one is in ReversePInvoke and second one is in PInvoke.

My comment was about how to first the first bug. To verify that your fix for the first bug is working well, you can comment out the IsCurrentThreadInCooperativeMode assert temporarily and see whether the thread gets created gracefully. If it does, feel fr

[2017-09-14 23:24] hippiehunter commented on #4428
@jkotas
I've implemented RhpPInvoke2/RhpPInvokeReturn2 in Thread.cpp to match the inline behaviors used for RhpReversePInvoke, and wrapped the output from ImportCall when IsRawPInvoke is true.

I ran into an interesting problem with PInvokeTransitionFrame, because its defined in rhbinder.h and that's not accessible in the generated cpp code, I've had to match its layout as a duplicate declaration

[2017-09-14 23:34] jkotas commented on #4428
Duplicating the required defininitions inside CPPCodeGen.h should be fine.

I would fix this by introducing portable definition of PInvokeTransitionFrame that does not vary from platform to platform.

[code]

[2017-09-15 01:52] morganbr opened #4504 "Add a WebAssembly product build platform"
Currently WebAssembly is produced by any architecture/platform of ILC, but we'll need a WebAssembly build flavor as we start to create WASM-specific changes to the runtime and framework. To start with, we probably need enough of an update to build scripts to handle the new platform.

[2017-09-15 01:56] morganbr opened #4505 "Compile Runtime with Emscripten"
In order to start using any runtime features with WebAssembly, the src/Native/Runtime directory will need to compile with [Emscripten](http://kripken.github.io/emscripten-site/). Hopefully most of the code is architecture and platform independent, but there might be some changes needed. For getting started, it's probably fine to exclude or ifdef out problematic sections.

[2017-09-15 02:02] morganbr opened #4506 "Compile System.Private.CoreLib for WebAssembly"
System.Private.CoreLib needs to be built for WebAssembly to allow calling into many of its APIs. WebAssembly probably looks a lot like the Unix build flavor, but will probably need some WASM-specific files as well.

This likely involves picking the right files from src/System.Private.CoreLib when there are multiple versions. For example, System/Globalization/CompareInfo has .Unix, .Dummy and .Wind

[2017-09-15 02:04] morganbr opened #4507 "Compile System.Private.CoreLib.Native for WebAssembly"
Many of the features of System.Private.CoreLib will require compiling Native/System.Private.CoreLib.Native for WebAssembly using [Emscripten](http://kripken.github.io/emscripten-site/). Most of the code appears to just use the C standard library, but some of it may need to be modified or ifdefed out for WebAssembly.

[2017-09-15 02:10] morganbr opened #4508 "Add support for building WebAssembly on Mac/Linux"
Currently, ILC can only produce WebAssembly on Windows because it depends on [LLVMSharp](https://github.com/Microsoft/LLVMSharp), which in turn depends on a Windows build of libLLVM. There appears to be a Linux build of LLVMSharp, so the work should be to incorporate the Linux version and an associated Mac/Linux version of libLLVM into building ILC.

When this is complete, please also remove the n

[2017-09-15 02:14] morganbr opened #4509 "Automate executing WebAssembly tests"
There's currently a WebAssembly test in tests/src/Simple/HelloWasm, but it only tests generating WebAssembly without attempting to execute it. We should have a way to run WebAssembly tests (including telling pass and fail apart). It probably shouldn't depend on running browsers since that would be annoying during development and hard to diagnose in CI. Perhaps it's possible to run via node.js or s

[2017-09-15 02:29] morganbr opened #4510 "Implement castclass/isinst opcodes"
The castclass and isinst opcodes should be implemented as calls into RhTypeCast functions. The method that handles these opcodes is https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L507

The complete mapping based on opcode and type is in https://github.com/dotnet/corert/blob/cccbccac222c70766962412a2d4

[2017-09-15 02:31] morganbr opened #4511 "Implement break opcode as trap"
Implement the break opcode. This normally breaks in a debugger, but that doesn't seem to be possible in WebAssembly, so we should start by implementing it as a trap. The method that handles the break opcode is
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L270

[2017-09-15 02:33] morganbr opened #4512 "Implement newobj opcode using malloc"
Implement the newobj opcode, which both allocates memory for a new object and calls its constructor. While we'll eventually need to hook this up to the garbage collector, if we start by using malloc, it will allow much more code to run. Newobj should be added as a new case to
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToW

[2017-09-15 02:35] morganbr opened #4513 "Implement dup opcode"
Implement the dup opcode, which duplicates the top object on the execution stack. Handling for the dup opcode goes in
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L494

[2017-09-15 02:39] morganbr opened #4514 "Implement ldnull opcode"
Implement the ldnull opcode, which loads a pointer set to 0. Handling belongs in
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L511

[2017-09-15 02:45] morganbr opened #4515 "Implement callvirt opcode correctly"
Currently, the WebAssembly importer treats call and callvirt identically, but there are two important differences:
1. callvirt should check the ```this``` parameter and throw a NullReferenceException if it's null (or trap if exception handling doesn't work yet).
2. callvirt should dispatch virtual methods. The runtime includes some of the dispatch logic, but some probably needs to be handled in co

[2017-09-15 02:48] morganbr opened #4516 "Fix P/Invokes that return void"
WebAssembly P/Invokes are currently hard-coded to expect the P/Invoke to return a value. The point below in ImportRawPinvoke should be fixed to handle ones that don't return anything.
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L626

[2017-09-15 03:06] morganbr opened #4517 "Implement ldftn opcode"
Implement the ldftn opcode, which pushes a function pointer. It might be possible to just use the results of LLVM.GetNamedFunction as the function pointer and let LLVM fix it up. The method to fill in is:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L634

[2017-09-15 03:08] morganbr opened #4518 "Implement calli opcode"
Implement the calli opcode, which calls a function pointer. Argument management code could probably be shared with HandleCall. The method to fill in is:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L630

[2017-09-15 03:10] morganbr opened #4519 "Implement switch opcode"
Implement the switch opcode, which handles switch statements. It may be possible to map this onto LLVM's switch statement handling. The method to fill in is:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L745

[2017-09-15 03:12] morganbr opened #4520 "Implement ldind opcodes"
Implement the ldind opcodes, which load values from a pointer. The methods to fill in are the two overloads of:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L749

[2017-09-15 03:21] morganbr opened #4521 "Implement stind opcode"
Implement the stind opcode, which stores a value at a pointer. The method to fill in is at:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L757

Testing this might depend on #4520

[2017-09-15 03:25] morganbr opened #4522 "Add overflow checking for add_ovf and similar operations"
[ImportBinaryOperation](https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L765) currently handles all of the _ovf versions of arithmetic operations, but doesn't actually check for overflows. It should throw OverflowException if the operations overflow, but if exception handling isn't implemented yet, it

[2017-09-15 03:28] morganbr opened #4523 "Implement shift opcodes"
Implement the shl, shr, and shr_un opcodes, which shift integers left and right. The method to fill in is:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L848

[2017-09-15 03:30] morganbr opened #4524 "Implement neg opcode"
Implement the unary neg opcode, which negates an integer. The function to fill in is (checking the opcod e for ILOpcode.neg)
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L910

[2017-09-15 03:31] morganbr opened #4525 "Implement not opcode"
Implement the unary not opcode, which applies logical NOT to an integer. The function to fill in is (checking the opcode for ILOpcode.not)
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L910

[2017-09-15 03:39] morganbr opened #4526 "Implement box opcode using malloc"
Implement a simplified version of the box opcode, which copies a value type to the heap as a boxed object. Eventually this will need to go through the runtime and garbage collector, but to get started, it should be able to just allocate with malloc. The method to fill in is:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWe

[2017-09-15 03:41] morganbr opened #4527 "Implement unbox opcode"
Implement the unbox opcode, which copies a boxed struct from the heap and pushes it to the execution stack. Eventually, this will need to go through the runtime, but to start with, a simple copy should work.
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L918

Depends on #4526

[2017-09-15 03:47] morganbr opened #4528 "Implement throw opcode as trap"
Full implementation of exceptions will be a lot of work, but so that we can get started, implement the throw opcode as trap, perhaps by calling the llvm.trap intrinsic. The method to fill in is:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L1026

[2017-09-15 03:51] morganbr opened #4529 "Implement nop opcode"
Implement the nop opcode. This opcode doesn't do anything, but it would be good to emit a nop in debug builds since it can affect debugging. It might be possible do this by calling the llvm.donothing intrinsic. The method to fill in is:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L266

[2017-09-15 03:57] morganbr opened #4530 "Implement ldfld opcode"
Implement the ldfld opcode, which loads the value of a field. stfld is already implemented in [ImportStoreField](https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L1038), so that should be a good reference. The method to fill in is:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed136

[2017-09-15 04:01] morganbr opened #4531 "Implement ldflda opcode"
Implement the ldflda opcode, which pushes the address of a field. Look at [ImportStoreField](https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L1038) for an idea of how an idea of how fields work. The method to fill in is:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src

[2017-09-15 04:05] morganbr opened #4532 "Implement static fields for WebAssembly"
Implement storing to static fields. This requires having somewhere to store the static fields. It might work to generate LLVM global variables for them and store to/load from those. Look here for the check for static fields:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L1038

[2017-09-15 04:56] sergign60 commented on #4496
@jkotas thank you very

[2017-09-15 04:56] #4496 closed

[2017-09-15 05:04] jkotas commented on #4496
@sergign60 Are you going to look into the `assert(info.compRetNativeType == op->gtCall.gtReturnType);` crash? Let me know if you need help fixing it.

[2017-09-15 05:08] sergign60 commented on #4496
@jkotas Of course we do it. If we have some problems with it I or Petr will create the issue with the detailed description
CC: @BredPet

[2017-09-15 08:39] sergign60 commented on #4496
@jkotas @MichalStrehovsky
CC: @BredPet @alpencolt
We've found that reverting  01146d99291879f7506ec2ce08ce43984aeabef3
[code]

with this fix in src/ILCompiler.Compiler/src/ILCompiler.Compiler.csproj:

[code]
gives us successful compiling Hello test  (13417 methods in common were compiled by CoreRT compiler)!!! Maybe @MichalStrehovsky can give us a clue what should be fixed in his commit

[2017-09-15 09:08] am11 commented on #4508
Slightly off-topic, but the WASM [design doc](https://github.com/dotnet/corert/blob/master/Documentation/design-docs/WebAssembly-design.md) states:

If the ultimate goal is to produce WASM by RyuJIT, should there be a separate issue to that effect?

If that's not a goal, then how is the investment on:

`CoreRT -> LLVM codegen -> {Emscripten tool chain} -> wasm`

better / different than:

`CoreRT -

[2017-09-15 11:23] ArztSamuel opened #4534 "[ILVerify] Fix endless loop when re-verifying blocks after stack merge"
When the stack is merged in `ImportFallthrough` the target block is marked for verification again, by setting the `EndOffset` of this block to `0`. However, if the next block already happens to be the next block in the pending blocks chain, an endless loop is created.

I will take care of this as soon as possible.

[2017-09-15 13:20] ArztSamuel opened #4535 "[ILVerify] Fix assignment of Interface with variance to object generating a verification error"
Assigning any interface with a variance to `System.Object` will currently generate a verification error, even though interfaces should always be assignable to `System.Object`.

For example, this valid C# code currently reports a verification error:

[code]

I will take care of this as soon as possible.

[2017-09-15 13:25] ArztSamuel opened #4536 "[ILVerify] Fix AbortBasicBlockVerification and AbortMethodVerification aborting the entire verification process"
The methods `AbortBasicBlockVerification` and `AbortMethodVerification` currently abort the entire verification process by simply throwing an exception.
The expected behavior would be that the method `AbortBasicBlockVerification` only aborts the verification of the current basic block and continues verifying the next basic block and that the method `AbortMethodVerification` aborts verifying the cu

[2017-09-15 14:48] ArztSamuel opened #4537 "[ILVerify] Fix invalid branch/fallthrough into catch/finally causing assert"
As discussed in #4497, currently when an invalid IL-code is verified, which performs a branch/fallthrough into a catch/finally block, the process will assert, when starting to verify this catch/finally block in `StartImportingBasicBlock` at `Debug.Assert(basicBlock.EntryStack == null)`.

This could for instance be fixed by first fixing #4536 and then aborting the basic block verification when a br

[2017-09-15 17:14] jkotas commented on #4496
@MichalStrehovsky is offline till end of the month.

`System.RuntimeMethodHandle` has different implementations in CoreCLR vs. CoreRT. In CoreCLR, it is wrapping object reference. In CoreRT, it is wrapping pointer. This implementation detail is hardcoded in some places in the JIT, but these places have not been updated it correctly for CoreRT ABI. It has been a long-standing problem that we were g

[2017-09-15 17:18] tonerdo commented on #1285
@jkotas one last thing. I notice that when I build the staic (.lib) library on Windows and link it with a cpp program the program fails cos it's still looking for an equivalent dll. It seems lib.exe is building it as an import library instead of a typical self contained static library. I'm not sure if I'm missing out on a specific cli option

[2017-09-15 18:09] jkotas commented on #1285
`lib.exe` should produce import library only if you pass it `/DEF` command line option. Is it what is going on?

https://docs.microsoft.com/en-us/cpp/build/reference/building-an-import-library-and-export-file

BTW: You can typically tell the difference between the import library and typical self contained static library by looking at the size. The import libraries are a lot smaller.

[2017-09-15 18:24] tonerdo commented on #1285
@jkotas yes I do pass in the `/DEF`. Don't I need to pass in the `/DEF` so that methods marked with `NativeCallable` can be properly exported

[2017-09-15 18:31] jkotas commented on #1285
`.def` files control methods exported from .dlls, not objs or libs.

You do not need .def file if you just want one .obj/.lib refer to a different .obj/.lib where both are linked into same .dll.

[2017-09-15 18:50] tonerdo commented on #1285
@jkotas Ah ok. In that case let me wrap this up. I'm thinking of adding a couple of tests for this, are you fine with this?

[2017-09-15 19:25] jkotas commented on #1285
Sounds. I think one test should be enough - to start with at least.

[2017-09-15 19:25] jkotas commented on #1285
It should be under corert\tests\src\Simple

[2017-09-15 19:30] morganbr commented on #4508
@am11 , questions are certainly welcome. I don't have any problem with having an issue tracking RyuJIT. That said, I wouldn't say that we know whether the "ultimate goal" is RyuJIT or not yet -- that's part of why we're experimenting!

On the tool chain choices, to clarify, CPP codegen would also need to use Emscripten -- binaryen is a WASM library, but not a C++ compiler (Emscripten uses binaryen

[2017-09-15 20:02] jkotas commented on #4508
From a different angle, you can look at https://github.com/dotnet/corert/tree/master/src/ILCompiler.WebAssembly/src as general LLVM-based codegen for CoreRT. Most of it is pretty general, not specific to WebAssembly.

[2017-09-15 20:22] morganbr opened #4539 "Implement initobj opcode"
Implement the initobj opcode, with zero-initializes a structure. The method to fill in is:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L1076

[2017-09-15 20:24] morganbr opened #4540 "Implement newarr opcode using RhNewArray"
Implement the newarr opcode, which allocates and initializes an array. This should be implemented by calling the RhNewArray runtime method once #5141 is merged. The method to fill in is:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L1088

[2017-09-15 21:01] #4403 closed

[2017-09-15 21:06] jkotas commented on #4428
Fixed by #4503 and #4499.

cc @hippiehunter

[2017-09-15 21:06] #4428 closed

[2017-09-15 21:18] jkotas commented on #3294
This was likely duplicate of https://github.com/dotnet/corert/issues/4403

[2017-09-15 21:39] morganbr opened #4544 "Implement ldelem opcode"
Implement the ldelem opcode, which loads an object from an array. The methods to fill in are the two overloads of ImportLoadElement:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L1092

[2017-09-15 21:40] morganbr opened #4545 "Implement stelem opcode"
Implement the stelem opcode, which stores an object into an array. The methods to fill in are the two overloads of ImportStoreElement:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L1100

[2017-09-15 21:42] morganbr opened #4546 "Implement ldlen opcode"
Implement the ldlen opcode, which loads the length of an array. The method to fill in is:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L1108

This may depend on #4540 for testing.

[2017-09-15 21:43] morganbr opened #4547 "Implement ldelema opcode"
Implement the ldelema opcode, which loads the address of an array element. The method to fill in is:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L1112

[2017-09-15 21:47] morganbr opened #4548 "Implement cpobj opcode"
Implement the cpobj opcode, which copies a value type from one address to another. The method to fill in is:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L914

[2017-09-15 21:49] morganbr opened #4549 "Implement ckfinite opcode"
Implement the ckfinite opcode, which checks whether a float is finite and throws ArithmeticException if it's NaN or infinity. If we don't have exception handling, it could trap instead. The method to fill in is:
https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L926

[2017-09-15 21:52] morganbr opened #4550 "Finish ldtoken implementation for types"
There's a partial implementation of the ldtoken instruction for types, which loads the RuntimeTypeHandle for a type in [ImportLdToken](https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L934), but it's missing logic to get an eeTypePtr for the type. Look for the ```// todo: this doesn't work because we do

[2017-09-15 21:54] morganbr opened #4551 "Implement ldtoken for methods"
Implement the ldtoken opcode for methods. Look for ```else if (ldtokenValue is MethodDesc)``` in the [ImportLdToken method](https://github.com/dotnet/corert/blob/e6d0a9398e3d8fc83d047cccda302ed13610f190/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L934).

[2017-09-15 23:39] sergiy-k opened #4552 "Add support for Alpine Linux"
In response to requests from community (https://github.com/dotnet/coreclr/issues/917, https://github.com/dotnet/dotnet-docker/issues/22), @janvorli did quite a bit of work to enable CoreCLR on Alpine Linux. We should do the same for CoreRT.
I think that a tree-shaken single-file executable produced by the CoreRT compiler can suit well Alpine Linux based containers.

For example, some time ago I ha

[2017-09-16 00:35] hippiehunter commented on #910
@jkotas
Relying on C++ Exception handling seems sub optimal, while it would solve stack walking for exceptions, there are overheads to using C++ Exception handling and none of the other uses of stack walking (GC and StackTrace) would be able to leverage that overhead.

I've been reading the Book of the Runtime section on stack walking and from what I can tell, in the JITed version, stack walking i

[2017-09-16 00:43] jkotas commented on #910
Portability is primary goal for CppCodeGen, performance is secondary. I think the exception handling is the best we can do without compromising portability.

[2017-09-17 08:12] mjsabby commented on #4508
@morganbr I pushed an update to LLVMSharp which upgrades things to the most recent stable release (5.0) and also have native libraries for linux64 and osx. It's using the new 15.3 tooling for setup so all that is needed is <PackageReference Include="LLVMSharp" version="5.0.0" /> and it'll pick the dependencies properly.

[2017-09-18 10:24] am11 commented on #3294
@jkotas, @hippiehunter, this issue seems to be different than #4403 and still persists with current master (cb4c34e).

With ToString()

[code]

I get:

Method: RhpThrowEx

In my testing, there seems to be a general problem with ToString(), not only DateTime, but Enum.ToString() also complains about `RhpThrowEx`.

---

Without ToString()

[code]

It throws an NYI assertion:

[2017-09-18 12:57] am11 opened #4558 "CppCodeGen: AV in Enum.ToString()"
The runtime transpiled code in C++ for ToString looks like this:

[code]

Given the following code:

[code]

we get access violation when the getslot function tries to dereference `((RawEEType **)pThis)`, this part: `(*((RawEEType **)pThis) + 1)`.

Stacktrace:

[code]

[2017-09-18 13:00] am11 commented on #4558
Without ToString():

[code]

The stacktrace looks bit different:

[code]

I assume this is because WriteLine doesn't make the virtual call?

@hippiehunter, this second case might be related to #4556.

[2017-09-18 15:59] am11 commented on #3294
The Enum.ToString() case is bit different and is independent of System.Globalization: #4558.

For DateTime.ToString(), it's simply that the PINVOKE helper with `RhGetCommonStubAddress` is not implemented. Since `RhGetCommonStubAddress` is defined in ASM/S for all the supported architectures; do we need to re-link it via `COOP_PINVOKE_HELPER` https://github.com/dotnet/corert/blob/cb4c34eabe549d999d

[2017-09-18 16:47] hippiehunter commented on #4558
@am11 the first crash looks like the last of the rules [here](https://msdn.microsoft.com/en-us/library/system.reflection.emit.opcodes.constrained(v=vs.110).aspx) isn't being taken into account in ImportCall. I think i have a good handle on what needs to be done to fix it.

[2017-09-18 18:34] hippiehunter commented on #4558
The second failure appears to be something interacting poorly between boxed enum types and interface methods. The call to FindInterfaceMethodImplementationTarget appears to be returning 0 for the requested function pointer.

[2017-09-18 18:45] jkotas commented on #3294
This method is part of general purpose .NET delegate marshaling that allows marshaling either static or instance methods. It is not feasible to implement general purpose .NET delegate marshaling with portable CppCodeGen.

The delegate marshaling for CppCodeGen should be limited to static method only. The above method should not be required (e.g. it can return null) for CppCodeGen.

Overall, the st

[2017-09-18 19:11] #3186 closed

[2017-09-18 20:30] hippiehunter commented on #4558
@jkotas
it looks like boxed ints are castable to interfaces and their methods are callable, but it doesn't work for enums. I think the problem might be the lack of unbox_ wrappers for the interface methods, but I don't really understand why this doesn't break the plain ToString Case that I fixed in #4562

[2017-09-18 23:05] am11 commented on #4558
@hippiehunter, I tested `State.On.ToString()` case with your master (#4562) branch and set a breakpoint at line 162:

https://github.com/dotnet/corert/blob/0fa150c25aff09c80531f071e7e11c8aac08ab71/src/Runtime.Base/src/System/Runtime/TypeCast.cs#L156-L169

while debugging reproNativeCpp.vcxproj.

Except for the first time it hits this breakpoint (different code path from initial module loader), it

[2017-09-18 23:40] hippiehunter commented on #4558
It looks like I cut my test down to far and was only really testing the boxing interface call portion of this issue. It looks like the failure happens with just this

`System.Globalization.CultureInfo.CurrentCulture.GetFormat(typeof(System.Globalization.NumberFormatInfo))`

Im guessing this is blocked on #2035

[2017-09-19 01:22] jkotas commented on #4558
`typeof(Foo)` should work even without reflection data (ie #2035). It should detect that there is no reflection data and then create `RuntimeNoMetadataNamedTypeInfo`. It maybe a good idea to figure out why it does not work without reflection data first.

[2017-09-19 08:07] am11 commented on #3294
Thanks for the info @jkotas!
For DateTime without ToString() case; I attempted by removing NYI assertion in `RhGetCommonStubAddress` body from portable.cpp, the next assertion that failed was when runtime tried getting the adjustor thunk size in the same file; `RhpGetThunkSize`.

<details>
  <summary>Expand to see the stacktrace</summary>

[code]
</details><br/>

Should this be implemented for por

[2017-09-19 14:42] jkotas commented on #3294
I do not think you will be able to make it work by incremental bug fixes. This needs to be fixed in `PInvokeMarshal::GetStubForPInvokeDelegate` and there needs to be matching code in the compiler to support the fix.

There used to some kind of rules for these prefixes in the original RedHawk runtime, but they do not hold anymore so these prefixes do not mean much. `Rhp*` used to stand for "private

[2017-09-19 17:38] MichalStrehovsky commented on #3294
The decoder ring is: APIs used to communicate between the Native/managed portion of the runtime, or called by compiler generated code are "private". Other APIs (e.g. APIs called from System.Private.CoreLib) are "public".

[2017-09-19 19:56] morganbr commented on #4508
@mjsabby , that's good to know. I believe Emscripten is currently on LLVM 4.0. Do you know if we're likely to hit compatibility issues? (The current state is also mismatched, but it's closer -- we have LLVMSharp using 3.9 and Emscripten using 4.0).

[2017-09-19 22:00] mjsabby commented on #4508
Is the contract LLVM bitcode or IR? IR has been changing somewhat recently, but the bitcode format is more stable. However, I can just create a 4.0 package and publish it so you can use that if you'd like.

[2017-09-19 23:58] hippiehunter commented on #4558
@jkotas
Internal.Reflection.Execution.ExecutionEnvironmentImplementation.IsReflectionBlocked appears to be the primary offender here.

`NativeFormatModuleInfo module = ModuleList.Instance.GetModuleInfoByHandle(moduleHandle);`

Only works if the module has NativeFormatModuleInfo, otherwise it will throw when it attempts to cast. So basically the path that is supposed to return false and cause Runti

[2017-09-20 00:10] hippiehunter commented on #4558
when i hard code IsReflectionBlocked => true, we fail anyway because ToString of an Enum looks like it requires at least FieldInfo level reflection in order to work

[code]

[2017-09-20 00:27] jkotas commented on #4558
Fix this by using TryGetModuleInfoByHandle instead?

Yes, the enum.ToString is still expected to fail. int.ToString should work.

[2017-09-20 00:56] hippiehunter commented on #4558
I didn't even think to look for a Try method. Anyway that works for the int case and I've made #4571, does the github bot run a larger set of the coreclr tests? Given this is a common area I would really like to not break the world again.

[2017-09-20 01:24] morganbr commented on #4508
It's bitcode. If LLVMSharp on 4.0 is easy and adds Mac and Linux, that sounds fantastic.

[2017-09-21 08:23] #4535 closed

[2017-09-21 12:38] am11 commented on #4552
Current blocker: ILC is not executable on Alpine Linux and thus the test runs fail.

After complete build on Alpine (and test failures), if we search instances of `ilc` in corert directory, we get this:

[code]

They are all native executables and were built on Ubuntu. If we `ldd` each one of them, we get:

[code]

However, on Alpine, we expect it to link with `libc.musl-xxx`. Something like:

[co

[2017-09-21 14:34] jkotas commented on #4552
ilc is self-contained .NET Core app running on top of CoreCLR. It is created by the dotnet publish command here: https://github.com/dotnet/corert/blob/master/buildscripts/build-managed.sh#L54. To fix that:

- Stop falling back to Ubuntu on Alpine here to get proper Alpine `__NugetRuntimeId`: https://github.com/dotnet/corert/blob/master/buildscripts/buildvars-setup.sh#L149

- Bump the netcoreapp ve

[2017-09-21 15:46] janvorli commented on #4552
There is no official support for Alpine yet. I have changes that will enable official packages build ready, but I am waiting for some infrastructure changes before I can merge them in.
However, there already is a bootstrap cli that the build is able to use to compile managed code (I've tried that on Alpine some time ago myself and even xunit tests were succeeding. Only our basic tests were failing

[2017-09-21 16:22] am11 commented on #4552
Thanks! Since #4579, the managed code is compiling fine with bootstrapped CLI (dotnet exe) as you mentioned. However it's the native ilc executable, which is required to build some of the cpp/wasm tests, that is incompatible.

I modernized the RID detection code in buildvars-setup.sh: am11/corert@834a07d, but then ran into dependency resolution issue for Alpine as expected.

The following three bu

[2017-09-21 16:41] janvorli commented on #4552
@am11 The 3.4.3 packages are remnants of the old attempt to bring up Alpine that didn't do the last step - to enable Alpine support for CLI that would keep producing new versions of the CLI instead of relying on the bootstrap CLI. So once we needed to bump the tools versions in coreclr, corefx and core-setup, we would need to rebuild the boostrap cli and the native build on 3.4.3 got broken due to

[2017-09-21 20:27] morganbr opened #4589 "X86 runtime build fails"
There are a number of failures building for x86. This should be doable since the same sources get built for x86 as part of .NET Native.

8>e:\corert\corert\src\native\jitinterface\JITCodeManager.h(96): error C2143: syntax error: missing ';' before '*' [E:\corert\corert\bin\obj\Native\Windows_NT.x86.Debug\jitinterface\jitinterface.vcxproj]
     8>e:\corert\corert\src\native\jitinterface\JITCodeMana

[2017-09-21 22:31] tonerdo commented on #1285
@jkotas after my last rebase, when I try to build a shared library (or link a static library) I get the following error:

[code]

Any ideas? This happens only on Unix by the way

[2017-09-21 22:42] jkotas commented on #1285
@fadimounir The associated data have absolute pointer in them. Absolute pointers are bad - in particular on Unix. Would it be possible to use relative pointer instead?

@tonerdo You can try to workaround this by changing `MethodAssociatedDataNode.Section` to return `ObjectNodeSection.DataSection`.

[2017-09-22 12:03] farkasmark commented on #2570
Does anyone have any idea how to get started with this? Thanks!

[2017-09-22 12:18] bazzilic opened #4594 "CoreRT doesn't build on Debian 9 (Stretch) due to lack of OpenSSL 1.0"
CoreRT requires OpenSSL 1.0 to build, but this package is not available on Debian Stretch. Hopefully, you guys can update the scripts.

Build fails with a message: `"No usable version of the libssl was found"`.

### Steps to Reproduce
Dockerfile:
[code]

`$ docker build .`

Similar issue: https://github.com/dotnet/core/issues/649

Here's the full output:
![image](https://user-images.githubusercont

[2017-09-22 14:20] am11 commented on #4589
Hey @morganbr, I gave it a shot out of curiosity and got to a point where it requires to implement/port more unwinding features for x86 in and around JITCodeManager. One suggestion (which may cleanup some code): port CoreCLR's `REGALIAS` implementation to deal with `E`-family i386 registers. I used some ifdefs to deal with them and altered the macro code such as [this](https://github.com/am11/core

[2017-09-22 15:48] #4534 closed

[2017-09-22 16:16] jkotas commented on #4594
@janvorli Do you happen to know what dependency is off here?

[2017-09-22 16:24] jkotas commented on #4589
JITCodeManager can be excluded from the i386 completely (ie it can be included for x64 only). It is experimental component that is not required for CoreRT to work today.

[2017-09-22 16:26] jkotas commented on #4589
https://github.com/dotnet/corert/blob/master/src/Native/jitinterface/CMakeLists.txt#L10 is a good place to do it.

[2017-09-22 17:50] fadimounir commented on #1285
@jkotas @tonerdo I'll look into using relative pointers instead.

[2017-09-22 17:51] fadimounir opened #4595 "Use relative pointers in AssociatedMethodDataNodes instead of absolute pointers"
See #1285

[2017-09-22 18:42] janvorli commented on #4594
@bazzilic openssl1.0.2 support was already added to coreclr (that the build tools use), but the tools that CoreRT is using don't contain that fix. It seems that the fix is in 2.0.1-xxx tools. I've scanned a bunch of the 2.0.0-prerelease ones and they all seem to not to have the fix.
But simply trying to update the DotnetCLIVersion.txt to a 2.0.1-xxx doesn't work. It would require change to the ini

[2017-09-22 18:53] jkotas commented on #4594
Ok, so this is about updating dotnet cli used by buildtools -  https://github.com/dotnet/corefx/pull/23751.

This should be hashed out in https://github.com/dotnet/buildtools and https://github.com/dotnet/corefx first. CoreRT will then pick the required changes.

[2017-09-22 20:54] tonerdo commented on #1285
@jkotas Your workaround works fine. Thanks!

[2017-09-23 00:00] shrah commented on #2570
@farkasmark  I apologize for not getting to you sooner. With shipping .NET Native and parental leave I couldn't get to it in time.

If you want to work on it, you can start by looking into the corresponding CoreCLR implementation here
https://github.com/dotnet/coreclr/blob/52a816d3011f4d03b80b5940dc036b40d701f52d/src/vm/ilmarshalers.cpp#L3002

[2017-09-23 02:54] yinyue200 opened #4597 ".net native failed when a constant contains non-ASCII character(s)"
[netnativetestcase923.zip](https://github.com/dotnet/corert/files/1326239/netnativetestcase923.zip)

[2017-09-23 06:07] bazzilic commented on #4594
Also, as part of the fix, can CoreRT build script check if CLI is present in the system and try to use it first? Like in this case, I build on top of the `microsoft/dotnet:2-sdk` image, which has a nightly build of SDK, and CLI v2.0.0 is already there, so no need to download CLI (I assume).

[2017-09-23 14:31] jkotas commented on #4594
The CoreRT build script is based on https://github.com/dotnet/buildtools/ . Adding options like what you are suggesting maybe best to be discussed there.

[2017-09-24 00:00] bryanar opened #4599 "Opening/Building ILCompiler.sln in Visual Studio 2017 CE"
**Goal**:
I am trying to build ILCompiler.sln in Visual Studio 2017 Community Edition, or at least get intellisense support up and running.

**Problem**:

A ton of:

I'm probably missing something trivial, can anyone help?

[2017-09-24 03:29] jkotas commented on #4599
- Run `build.cmd` first
- Select Debug x64 ILCompiler configuration

https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-visual-studio.md has the instructions. Please submit PR if you can think about ways to make them.

If it still does not work, what is the exact version of VS 2017 that you are using?

[2017-09-24 05:15] bryanar commented on #4599
Boom. Thanks Jan.

[2017-09-24 05:15] #4599 closed

[2017-09-25 20:53] rrelyea commented on #3981
Help for NU1003: https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings#nu1003
(trying to help search engines learn)

[2017-09-26 01:22] morganbr commented on #4506
As part of this, we should be able to remove IntrinsicAttribute from RuntimeHelpers.OffsetToStringData.

[2017-09-26 04:21] morganbr commented on #4520
The ```TypeDesc``` overload has been implemented for integer and pointer types in #4592. It still needs to handle ldind_ref (which loads an Object, but doesn't take a type) and the float and double cases.

[2017-09-26 04:22] morganbr commented on #4514
Fixed in #4592

[2017-09-26 04:22] #4514 closed

[2017-09-26 18:45] farkasmark commented on #2570
@shrah Congratulations! :) No problem, I try to make it work based on the corresponding CoreCLR implementation you have given! Thanks for the help and I get back to you if I stuck.

[2017-09-26 20:38] hippiehunter commented on #4505
Rather than building directly to emscripten, what do you think about building it to bitcode with clang and just merging that into an LLVMModule inside ILCompiler.WebAssembly. As long as USE_PORTABLE_HELPERS and CORERT are defined, the source is already pretty portable.

Given that emscripten will probably not be needed in the future I think limiting the actual codegen pipeline to LLVM until the ve

[2017-09-26 22:35] #4214 closed

[2017-09-26 23:17] morganbr commented on #4505
Building to bitcode is a good idea since the runtime doesn't exactly stand on its own. We might still need to build the bitcode with Emscripten's copy of Clang since I think it needs to target the asmjs-unknown-emscripten.

Someday, we could think about having a separate WebAssembly module for the runtime for better caching/download times, but it's easier to start without it.

[2017-09-27 03:46] morganbr opened #4623 "Enable interop marshaling for WebAssembly"
The code to emit interop marshaling code for P/Invokes is disabled for WebAssembly since the output wouldn't compile. It should be re-enabled when there are enough implemented operations for some marshalers to work. To enable it, change https://github.com/dotnet/corert/blob/6622ebe8d8a48e0f7404457bfe0c5bf7b48c81fe/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L592
to use IsRawP

[2017-09-27 17:17] ph1ll commented on #4507
This was a nice easy one, the only issue is that emscripten does not implement `uuid_generate_random` so `uuid_generate` has to be used instead. This still generates version 4 UUIDs.

Which this change, it compiles, but I have not tested anything beyond that.

[2017-09-27 20:46] morganbr commented on #4507
That's great to hear. We'll need to track the uuid generation issue, but there's certainly no need to block on it.

[2017-09-28 12:59] BredPet opened #4626 "[RyuJIT/ARM32] GC fails with FindProcInfo"
After I compile under Tizen ARM with RyuJIT and run some sample, that starts consuming more memory than usual the next crash occurs in GC:
[code]
It seems that libunwind returned wrong proc info for PC. Can anyone say something about this?

[2017-09-28 12:59] BredPet commented on #4626
@Dmitri-Botcharnikov
@sergign60
@alpencolt
@jkotas please take a look

[2017-09-28 15:59] jkotas commented on #4626
The unwind info is not getting produced by the compiler on ARM. Has to do with this:

https://github.com/dotnet/corert/blob/764c8674d5463d3a4c744562941aef00b7210afb/src/ILCompiler.Compiler/src/Compiler/DependencyAnalysis/ObjectWriter.cs#L953

[2017-09-28 23:33] sergiy-k commented on #4597
@AntonLapounov, could you please take a look?

[2017-09-29 02:17] jkotas commented on #4626
https://github.com/dotnet/corert/issues/3799

[2017-09-29 06:14] BredPet commented on #4626
@jkotas thanks, I remembered. Seems I need to fix the GC so that it doesn't use libunwind? Or I should try to raise libunwind for ARM32?

[2017-09-29 12:20] #4537 closed

[2017-09-29 16:38] jkotas commented on #4626
This is about generating the unwind data in the compiler.

On Linux x64, we choose to generate start with generating the unwind data in DWARF format that is the Unix standard. The DWARF unwind data tend to be needed anyway to make debuggers work well. I would recommend doing the same for Linux arm.

If you generate the unwind data in DWARF format, the runtime side should just work.
If you were to

[2017-09-29 18:41] AntonLapounov commented on #4597
@yinyue200 Thank you for reporting this bug.  The issue is reproduced and assigned to a compiler engineer in VSTS (DevDiv 502196).

[2017-10-02 08:07] BredPet commented on #4626
@jkotas many, many thanks

[2017-10-02 09:27] BredPet opened #4640 "[RyuJIT/ARM32] Localization problem"
Hi, when I try to compile and run HelloWorld sample under Tizen ARM, I get the follow issue:
[code]
This is because the CoreCRL doesn't initialize the non-invariant mode with ICU. When I try to call GlobalizationNative_LoadICU() from GlobalizationNative_GetDefaultLocaleName in CoreCLR it's working. As I see CoreCLR uses invariant mode by default. But CoreRT - is not. How can I fix this? Maybe I sh

[2017-10-02 09:27] BredPet commented on #4640
@Dmitri-Botcharnikov
@sergign60
@alpencolt
@jkotas please take a look

[2017-10-02 10:25] sergign60 commented on #4496
@jkotas I've been on vacation for two weeks. Anyway many thanks for this fix. We have "Hello" working on armel/tizen now.

[2017-10-02 18:11] MichalStrehovsky commented on #4371
@jkotas Nope, this is new to me. We run the KnownGood set as part of the rolling build. Is this a different configuration that we don't run? Maybe a retail build (the stack doesn't suggest it is though...)?

[2017-10-03 04:28] #4640 closed

[2017-10-03 04:29] jkotas commented on #4640
@BredPet We used a very old System.Globalization.Native. I have updated it to current with matching changes in CoreLib.

CoreCLR does not use invariant mode by default.

[2017-10-03 08:53] BredPet commented on #4640
@jkotas thanks

[2017-10-03 09:06] MichalStrehovsky commented on #4597
Closing since this is now tracked elsewhere and people who work on the issue don't follow this repo.

[2017-10-03 09:06] #4597 closed

[2017-10-03 09:53] MichalStrehovsky commented on #4251
This was fixed in dotnet/coreclr#13440.

[2017-10-03 15:20] AndyAyersMS commented on #4251
@sandreenko abandoned the proposed changes in dotnet/coreclr#13440, so AFAIK we never fixed this.

[2017-10-03 17:30] sandreenko commented on #4251
Yes, I have not merged the fix.

[2017-10-03 19:22] MichalStrehovsky commented on #4251
Mmm, I tried to rebuild the repro today and didn't hit an issue, but maybe this is only fatal with a CHK RyuJIT. Reopening then...

[2017-10-03 20:44] morganbr opened #4655 "Add WebAssembly exception handling"
Once the runtime compiles for WebAssembly (#4505), we should add exception handling support. It's not yet clear how to do the stack walk, but Emscripten is able to make C++ exceptions work, so it should be possible.

[2017-10-03 20:46] morganbr opened #4656 "Implement WebAssembly allocation through the runtime"
Initially, allocation will be handled via malloc (#4512), but after compiling the runtime for WebAssembly (#4505) is complete, we should try to use the runtime to allocate. We can start with a large gen0 heap and worry about GC reporting separately.

[2017-10-03 20:56] morganbr opened #4658 "Simplify Emscripten setup"
Currently getting set up for WebAssembly involves getting and updating Emscripten. That means it's harder to get started and we don't have a good way to get it into CI. Emscripten is also pretty large. We should see if there's a way to use something small and automated to get the parts of Emscripten we need.

[2017-10-03 21:04] morganbr opened #4659 "Help build support for WebAssembly"
WebAssembly is a new technology for running code at near-native speed in browsers. A group of folks on the .NET team worked together to see what WebAssembly might look like using CoreRT. You can try the demo [here](http://morganbr.github.io/corert/HelloWasm.html) using Firefox, Chrome, [Edge](https://blogs.windows.com/msedgedev/2017/04/20/improved-javascript-performance-webassembly-shared-memory/#

[2017-10-03 23:23] jkotas opened #4665 "Update InstanceFieldLayout tests for Roslyn update"
https://github.com/dotnet/corert/blob/master/src/ILCompiler.TypeSystem/tests/CoreTestAssembly/InstanceFieldLayout.cs#L163

IsByRefLikeAttribute is reserved in latest Roslyn and cannot be used to create invalid byref-like types. The tests that need to create invalid byref-like types need to be written in IL.

[2017-10-03 23:45] jkotas commented on #4665
@MichalStrehovsky I have disabled these tests in #4664. Could you please take a look?

[2017-10-04 01:48] Thaina commented on #4659
Are there anything won't possible for current webassembly? Such as Reflection.Emit

[2017-10-04 02:48] jkotas commented on #4665
https://github.com/dotnet/corert/commit/796aeaa64ec09da3e05683111c864b529bcc17e8

[2017-10-04 05:07] morganbr commented on #4659
@Thaina, it's a little early to say for sure what would work eventually. The current WebAssembly spec has [lots of missing features](http://webassembly.org/docs/future-features/). For some of those cases, such as garbage collection and threading, we can build workarounds at the cost of efficiency.

On Reflection.Emit specifically, WebAssembly doesn't currently allow for JITs (and CoreRT doesn't cu

[2017-10-04 05:13] Thaina commented on #4659
@morganbr Nothing in particular. It just that almost all AoT compiler cannot support that feature and all things relate to that (such as Expression.Compile). So it came to my mind first

[2017-10-04 13:10] #4665 closed

[2017-10-04 13:58] xiangwan commented on #4659
wait and hope

[2017-10-04 18:31] zezba9000 commented on #4659
@morganbr WASM needs its own GC to be perform well? Many GC designs are different depending on how the lang works. Ugg, this is why NaCl/PNaCl was better.. you could have just used the .NET GC with some tweaks and everything would have been fine, fast and low resource... just like Mono was with NaCl.

How did tech rooted FireFox's asm.js concepts win out here... People need to go take a look at ju

[2017-10-04 20:20] morganbr commented on #4659
@zezba9000, we're planning to use the .NET GC. As you say, we just have to make some adjustments to how it finds live objects.

[2017-10-04 20:22] morganbr commented on #4659
What I meant in my earlier comment about "missing features" and GC is that WebAssembly doesn't let programs inspect the stack, which is important for finding live objects. We have to work around that by managing our own "shadow stack" elsewhere that the GC can inspect. If WebAssembly adds general GC support, it might let us do more efficient inspection and not need a shadow stack.

[2017-10-04 21:59] zezba9000 commented on #4659
@morganbr Ok tnx for clearing that up. So not being able to support stack scanning is part of the missing GC features in wasm. I see. I know PNaCl supported this but did asm.js support this btw? My guess is no.

I see what you mean by slowing stuff down. I wonder if its even worth spending time making a GC shadow stack hack as the performance probably has an insane hit.

[2017-10-04 22:52] am11 commented on #4589
The native parts now build on x86, for managed parts, I think aside from dotnet-cli for x86 Linux/Windows, we need to object-writer from LLILC for Linux-x86 (along with linux-x64, alpine.3.6-x64) RIDs. Something similar to this: https://github.com/dotnet/llilc/commit/8dc6363f625055be5c471f2c11d472b9b167ec32.

@jkotas, @janvorli, (unless ObjectWriter [build has dependency](https://github.com/dotnet

[2017-10-04 23:46] am11 commented on #4659
Also works in Edge! 😄

`about:config` -> `Enable experimental JavaScript features`. In the upcoming v16, wasm will be enabled by default https://twitter.com/MSEdgeDev/status/894607665334177792

<img src="https://user-images.githubusercontent.com/3840695/31204830-6ac79444-a976-11e7-9a34-4c68a16daa5b.png" width="260">

[2017-10-04 23:49] jkotas commented on #4589
We have been re-building ObjectWriter package from llilc repo manually as needed because of it is not changing frequently. Having the source for it in CoreRT repo makes sense. The plan can be something like:

- Copy over https://github.com/dotnet/llilc/tree/ObjectWriter/lib/ObjWriter to something like corert\src\Native\objwriter
- Add script and documentation on how to do one-off build

[2017-10-05 18:02] jkotas opened #4676 "Simple/Threading test is crashing intermittently on Linux/OSX Release"
Repro:
1. Build release on Linux or OSX
2. Run Simple/Threading test in a loop

Result: Intermittent crash with this callstack:
[code]

[2017-10-05 18:02] jkotas commented on #4676
The thread that we are stackwalking is stopped at:
[code]

Looks like the GCInfo for `CoreLibNative_GetTickCount64` call is not right.

[2017-10-05 18:05] jkotas commented on #4676
cc @adityamandaleeka

[2017-10-05 18:09] jkotas commented on #4676
It does not repro with debug build.

It does repro in release build with optimizations disabled optimizations and debug info enabled for the unmanaged runtime here (useful for debugging): https://github.com/dotnet/corert/blob/master/src/Native/CMakeLists.txt#L229 .

[2017-10-05 19:21] adityamandaleeka commented on #4676
Thanks @jkotas. I'm trying to repro it now. Roughly how frequently does it repro for you?

[2017-10-05 19:22] jkotas commented on #4676
Repros reliably in <10 tries (on Macbook).

[2017-10-05 19:25] jkotas commented on #4676
BTW: The crash looks exactly same as https://github.com/dotnet/corert/issues/4214 . It looks like that the fix was incomplete.

[2017-10-05 19:29] adityamandaleeka commented on #4676
Thanks, I am able to reproduce this now.

[2017-10-06 11:40] sergign60 commented on #4626
@jkotas @kyulee1  Are there any documentation about generation unwind data in DWARF for ARM? Thanks in advance for any info

[2017-10-06 11:43] jkotas commented on #4626
The approach taken is described in description of https://github.com/dotnet/coreclr/commit/b5f2fda695bf450c2bb37bdc618bfbc604406bde . The same approach should work for ARM as well.

[2017-10-06 12:36] sergign60 commented on #4626
@jkotas Thanks, I've looked at it already.

[2017-10-06 21:19] morganbr commented on #4659
I've confirmed the demo works on Safari 11 as well and updated the post 😄

[2017-10-06 22:47] sergiy-k commented on #4676
cc @sandreenko

[2017-10-07 08:20] am11 commented on #4589
@jkotas, the one-off build appears to be quite involved if we follow the documented build steps, I ended up compiling entire LLILC repo (ObjectWriter branch) as an LLVM plugin. Tested only the Windows x64 build, as there are missing x86 implementation which I guess would require a separate effort. With current infrastructure, we have to first compile CoreCLR, then LLILC as LLVM's tool. This can pr

[2017-10-07 15:41] jkotas commented on #4589
Compiling CoreCLR should not be required to compile ObjectWriter.

We have used ObjectWriter to bootstrap the project faster. We went back and forth on whether/when we should replace it with custom implementation. There is no immediate plan to remove it, but there is a chance that it will be removed in future.

[2017-10-07 17:05] MichalStrehovsky opened #4690 "InitializeArray intrinsic must always be expanded"
I'm hitting the `NO_WAY("JIT must expand the intrinsic!");` in Microsoft.CSharp assembly. This is in the same spirit as dotnet/coreclr#9948.

To repro, compile a hello world app with

[code]

From the looks, this is caused by a stack spill somewhere else than `ldtoken`. This doesn't repro if `-O` is passed.

NGenDump:
[ngendump.txt](https://github.com/dotnet/corert/files/1366303/ngendump.txt)

[2017-10-07 19:18] JensNordenbro commented on #4444
@morganbr ; I did the same experiment as markrendl a while back. (not on shtik though but another ASP.NET Core MVC application we wanted to run on a custom ARM-board)
For me it was a way of getting a sense of what to expect from corert on ARM since ASP.NET Core on ARM has bad startup performance (due to (my understanding) no crossgen being available yet).

I guess having corert on asp.net core app

[2017-10-07 19:32] JensNordenbro commented on #4444
@sergiy-k, is number 1 workaround in your comment above still relevent, considering jkotas [commit](https://github.com/jkotas/corert/commit/eba69dc84ba00b2c822b0ccc82b9ad0d095f51c7) as contrib to #4466?

[2017-10-07 20:35] MichalStrehovsky commented on #4444
I ran over Sergiy's steps yesterday and skipped the first workaround - it worked fine for me.

[2017-10-08 07:34] MichalStrehovsky opened #4694 "Intermittent failure in leakgenthrd test"
[code]

This fails about 5% of time in the CI. Example: https://ci.dot.net/job/dotnet_corert/job/master/job/debug_windows_nt/1228/

This test hasn't been touched in the CoreCLR repo for years: https://github.com/dotnet/coreclr/tree/master/tests/src/GC/Scenarios/LeakGen

[2017-10-08 11:45] mahald commented on #4552
not sure wheter this would Help, but there is a apline-glic
https://hub.docker.com/r/frolvlad/alpine-glibc/ Version in docker, using:
https://github.com/sgerrand/alpine-pkg-glibc

[2017-10-08 23:07] adityamandaleeka commented on #4676
Yea, this is the same issue as #4214. The thread we're scanning is here:
[code]

and the register we're trying to report as live is R15 (callee-saved), which contradicts the comment on RhpPInvoke where we say 'the codegenerator must ensure that there are no live GC references in callee saved registers.'

I'm not familiar with the LSRA code @sandreenko fixed, so I don't know yet why that fix isn't

[2017-10-09 01:01] sandreenko commented on #4676
I will take a look.

[2017-10-09 09:49] janvorli commented on #4552
@mahald thank you for the links. But the native Alpine support is ready, the last step is to finish infrastructure changes to enable official builds and publishing of Alpine nuget packages. And then we can enable the build of CLI for Alpine.

[2017-10-09 22:56] adityamandaleeka commented on #4676
@sandreenko I might have a clue about what's going on. Here's an extended snippet of the disassembly:

[code]

Based on the GC liveness info, we're dropping R15 at offset 280 and then making it live again at 314.

However, our transition frame that we push prior to the PInvoke has the RIP at offset 275, which explains why we think R15 is still live.

[2017-10-10 03:43] #4513 closed

[2017-10-10 11:27] JensNordenbro opened #4697 "Build.cmd clean Release fails"
Pulling 8f423ff10972c4fdcb8b315188b83fac398203ce, building according to prereq (CMAKE 3.10, Windows 10x64) yields:

Running test Threading
    WaitSubsystemTests.DoubleSetOnEventWithTimedOutWaiterShouldNotStayInWaitersList
    WaitSubsystemTests.ManualResetEventTest
    WaitSubsystemTests.AutoResetEventTest
    WaitSubsystemTests.SemaphoreTest
    WaitSubsystemTests.MutexTest
    WaitSubsystemTest

[2017-10-10 13:10] BredPet opened #4698 "[RyuJIT/ARM32] Alignment long(Int64/UInt64) pointers"
I run some HelloWorld sample on Tizen ARM and get the following bt:
[code]
disas:
    ` 0x0002eb7c <+48>:    ldrexd  r10, r11, [r0]`
"bus error" occurs because the r0 contains an unaligned pointer(0xb4c6f42c) to Int64.
Where is the logic for aligning such pointers? I tried several potential places, but the address of the pointer didn't change. Maybe this alignment is somewhere in CoreCLR...

[2017-10-10 13:11] BredPet commented on #4698
@Dmitri-Botcharnikov
@sergign60
@alpencolt
@jkotas please take a look

[2017-10-10 14:22] jkotas commented on #4698
For non-GC statics: It should be handled here already: https://github.com/dotnet/corert/blob/1105f175e74e0fee755d5e0884eb41e7fd32e453/src/ILCompiler.Compiler/src/Compiler/DependencyAnalysis/NonGCStaticsNode.cs#L125 . This should be the case you are hitting. Either the `RequireInitialAlignment` does not work; or the alignment is computed incorrectly somehow. I do not see any obvious bug.

For GC st

[2017-10-10 14:36] alpencolt opened #4699 "[x86/Linux] Stack corruption pinvoke/string marshaling"
I'm trying to run `Hello World` application on x86 (cross build on x64) but ILC compiler failed on `jitStartup()`.
First  it goes to new JitHost:
[code]
`JitHost::getIntConfigValue()` execute `JitConfigProvider::GetIntConfigValue()` from `corert/src/JitInterface/src/JitConfigProvider.cs` which returns value successfully. After that `JitHost::getIntConfigValue()` crash on return statement. If I rem

[2017-10-10 15:05] jkotas commented on #4699
This looks like stdcall/cdecl calling convention confusion. I have submitted #4700 to use the default calling convention in all places. Give it a try and let me know whether it helps.

[2017-10-10 15:08] BredPet commented on #4698
@jkotas thanks, I'll check this.

[2017-10-10 15:31] alpencolt commented on #4699
@jkotas unfortunately it failed on the same place.

[2017-10-10 15:57] jkotas commented on #4699
@alpencolt I have pushed one more fix. If it still does not work, it needs to be debugged by looking at disassembly.

[2017-10-10 16:33] alpencolt commented on #4699
@jkotas it still the same.
I've debugged on disassembly and it goes to `coreclr/src/vm/dllimportcallback.cpp`, `coreclr/src/pal/inc/pal.h` and `TheUMEntryPrestub () atcoreclr/src/vm/i386/umthunkstub.S`.
Does it correct control flow?

[2017-10-10 16:37] jkotas commented on #4699
Yes, it is correct control flow.

[2017-10-10 20:38] sandreenko commented on #4690
Fixed in dotnet/CoreCLR#14301. CoreRT RyuJit version is not updated yet.

[2017-10-10 20:38] #4690 closed

[2017-10-10 21:19] MichalStrehovsky commented on #4453
@fadimounir Is this done?

[2017-10-10 21:21] fadimounir commented on #4453
Yes. Closing the issue.

[2017-10-10 21:21] #4453 closed

[2017-10-11 00:07] morganbr commented on #4521
Fixed in #4702

[2017-10-11 00:11] morganbr opened #4708 "Implement stobj opcode"
Implement the stobj opcode, which stores a value type at a pointer. It may be possible to just call through to the other overload of ImportStoreIndirect, which was implemented in #4702 The method to fill in is at:
https://github.com/dotnet/corert/blob/baeebd4f5facf198c1252ed7e02940285982d534/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L890

[2017-10-11 00:23] hippiehunter commented on #4708
how do I test the token form of this rather than the TypeDesc overload?

[2017-10-11 00:29] morganbr commented on #4708
It'll get called if you get an stobj opcode. I was able to trigger stobj with code similar to your stind test that uses a struct:
[code]
Turns into:
[code]

[2017-10-11 01:29] #4708 closed

[2017-10-11 09:10] alpencolt commented on #4699
On latest master (`d312715287eddf3d7f75e0fd7815beef6981000f`) ILC started to fail on `assert(opts.compCanUseSSE2);` in `coreclr/src/jit/compiler.cpp:2760`.
`jitStartup()` works well.

[2017-10-11 09:10] #4699 closed

[2017-10-11 11:05] MichalStrehovsky commented on #4699
If it saves you some time looking, this should be fixable by setting `JIT_FLAG_USE_SSE2` in `getJitFlags` method in `CorInfoImpl.cs`. We might want to only set it if the target is x86.

[2017-10-11 11:34] markrendle commented on #4444
@sergiy-k You are a hero! Thank you for taking the time to do all that, I'll try it out right away.

@morganbr There are two main drivers for me wanting to AoT-compile Shtik:

1. Distributing the application as a standalone executable will be much easier for end users to install, it becomes a simple `$ download && copy to $PATH` process. With a standalone-published dotnet application, you can't co

[2017-10-11 11:49] alpencolt commented on #4699
@MichalStrehovsky  thank you!
I've been looking for proper place where it should be set. I'll prepare PR for x86 later.

[2017-10-12 08:41] BredPet opened #4713 "[ARM32/RyuJIT] Not implemented GetReferencedAssemblies"
I tried to run some Xamarin app under Tizen. After some workarounds it successfully compiled and linked. Then I run and get crash:
[code]
it's because GetReferencedAssemblies is not implemented. In some places I saw that it was not implemented because of the design. Are there plans to implement this? How can I do that? I saw some implementation in CoreCLR in the native part(src/vm/assemblynative.c

[2017-10-12 08:41] BredPet commented on #4713
@Dmitri-Botcharnikov
@sergign60
@alpencolt
@jkotas please take a look

[2017-10-12 13:04] MichalStrehovsky commented on #4713
Xamarin.Forms have a supported configuration for Universal Windows Apps (that uses .NET Native, which is the same reflection stack as CoreRT). You might need to tweak Xamarin to take those code paths for Ahead of Time compiled Tizen apps. Some details are [here](https://developer.xamarin.com/guides/xamarin-forms/platform-features/windows/installation/universal/) - the troubleshooting section speci

[2017-10-12 14:16] AtsushiKan commented on #4713
Implementing `GetReferencedAssemblies` would require closed-source tooling changes to convert the ECMA AssemblyRef table to the native format so it's not something could just be ported in any case.

[2017-10-12 14:27] jkotas commented on #4713
@AtsushiKan This issue is about CoreRT on Unix. CoreRT compiler has own copy of the ECMA -> native metadata converter that lives in this repo, not closed sourced.

However, I agree that it would be better to use flavor of Xamarin that does not depend on this API.

[2017-10-12 14:58] BredPet commented on #4713
Ok, thank you all.

[2017-10-12 14:58] #4713 closed

[2017-10-12 20:40] tonerdo commented on #1285
@jkotas, still figuring out writing tests, in the meantime I'll open a PR so that my approach can be reviewed

[2017-10-14 03:32] morganbr commented on #4532
We'll also have to handle cases where isStatic is false, but the token refers to a static field.

[2017-10-15 00:19] #4524 closed

[2017-10-15 00:27] morganbr commented on #4525
Fixed in #4725

[2017-10-15 00:27] #4525 closed

[2017-10-15 04:12] #4523 closed

[2017-10-16 03:52] jkoritzinsky commented on #4509
It looks like a combination of node.js version 8.7.0 and a simple JS script to load the WebAssembly should work. The gist at https://gist.github.com/kanaka/3c9caf38bc4da2ecec38f41ba24b77df has code JS code for running wasm in the runwasm,js file. We could use that to bootstrap running the tests.

[2017-10-16 10:08] xoofx commented on #4444
@morganbr the most common scenario for me is to be able to release small/medium self contained single app/exe tools that I can redistribute easily. If you look at the Go language ecosystem, this platform has been very popular in the past years, and one of the reason being that it allows to compile to AoT natively. Nowadays, It is often the language/platform most commonly used for releasing useful

[2017-10-16 11:23] BredPet opened #4732 "[RyuJIT/ARM32] marshalling stubs for delegate"
I try to run under Tizen some complex sample. I get bt:
[code]
with error message: "Couldn't find marshalling stubs for delegate". What does it mean?

[2017-10-16 11:23] BredPet commented on #4732
@Dmitri-Botcharnikov
@sergign60
@alpencolt
@jkotas please take a look

[2017-10-16 14:17] jkotas commented on #4732
This means that the AOT compiler did not pre-generate marshalling code for the delegate. The AOT compiler generates the marshalling code for the delegate only when it sees that it is needed. It does not generate the marshalling code for all delegates to save size. The logic that controls this is in https://github.com/dotnet/corert/blob/master/src/ILCompiler.Compiler/src/Compiler/CompilerGeneratedI

[2017-10-16 15:19] BredPet commented on #4732
@jkotas thanks, I tried to remove UnmanagedFunctionPointerAttribute condition in compiler, but it doesn't help with error: `Unhandled Exception: System.InvalidCastException: Unable to cast object of type 'Internal.TypeSystem.InstantiatedType' to type 'Internal.TypeSystem.Ecma.EcmaType'.` at compile time. As I understand it's impossible to force the compiler generating marshalling code for all dele

[2017-10-16 15:46] jkotas commented on #4732
It should be possible - with additional fixed.

This should just work. The marshalling code for `UIAppLifecycleCallbacks` should pull in the marshalling code for the delegates. @shrah Do you happen to know what needs to be fixed to make this happen?

BTW: You may want to change this to `[In] ref UIAppLifecycleCallbacks callback` so that the callbacks are marshalled just on the way in. Without `[In

[2017-10-16 15:50] jkotas commented on #4732
https://github.com/dotnet/corert/blob/master/src/ILCompiler.Compiler/src/Compiler/CompilerGeneratedInteropStubManager%20.cs#L218 looks like the place where this should be fixed.

[2017-10-16 18:10] shrah commented on #4732
I'll take a look.

[2017-10-16 18:44] shrah commented on #4732
@BredPet, I just verified with a simple test case that struct with delegates work if you decorate the delegates with [UnmanagedFunctionPointerAttribute(default(CallingConvention))] as @jkotas mentioned. We don't generate marshalling stubs for all delegates to save size. We could potentially add a flag in rd.xml to request the compiler to generate marshalling stubs for all delegates.

[2017-10-16 22:07] #4251 closed

[2017-10-17 20:27] #4530 closed

[2017-10-17 20:42] morganbr commented on #4528
Fixed in #4736

[2017-10-17 20:42] #4528 closed

[2017-10-18 01:41] #4732 closed

[2017-10-18 10:30] alpencolt commented on #2606
@jkotas you wrote:

Still it be needed now for cross build (x86 -> arm)?

[2017-10-18 10:55] prochan2 opened #4752 "[ILVerify] Probably false negative in a specific case with generics"
For the following code, I get

`Assert::AreEqual(!!0, !!0)][offset 0x0000000A][found ref 'T'][expected ref '[mscorlib]System.IEquatable´1<T>'] Unexpected type on the stack.`

The code is

[code]

(I have minimized it as much as possible.)

[2017-10-18 11:00] prochan2 commented on #4752
I can avoid this by changing the method signature to

`public static bool AreEqual<T>(IEquatable<T> a, IEquatable<T> b) where T : IEquatable<T>`

[2017-10-18 12:21] MichalStrehovsky commented on #4752
Cc @ArztSamuel

[2017-10-18 12:51] jkotas commented on #2606
Either that, or build specific objectwriter for each combination (ie one for x86->x86, and one for x86->arm). Similar to how RyuJIT build flavors work.

[2017-10-18 13:12] sergign60 commented on #4626
https://github.com/dotnet/corert/pull/4755

[2017-10-18 13:13] sergign60 commented on #4626
https://github.com/dotnet/coreclr/pull/14447

[2017-10-18 13:25] BredPet commented on #4732
@shrah, @jkotas thanks

[2017-10-18 14:23] ArztSamuel commented on #4752
Thanks for the simple reproducer sample code. This is indeed a false negative.

This is caused by the `TypeConstraints` of generic parameters not being instantiated correctly before they are passed to the casting check. Therefore the constraint is still `IEquatable<!0>` inside the CastingHelper and the cast to `IEquatable<T>` fails.

We had a very similar problem in the CheckConstraints code, whic

[2017-10-18 17:10] alpencolt commented on #3776
This is enough to build it , i tried it last week .

@tijoytom does it work now? I've tired different combinations of branches but cant build `x86` version.
Could you share which branches and commit you use? `cmake` command for configuration as well.

[2017-10-18 17:36] sandreenko commented on #3776
The last object writer was published with this llvm version https://github.com/llvm-mirror/llvm
d98023490266477bc565b17952ac926b9e07c2ed + patch. We are trying to keep this information in update LLVM PRs(https://github.com/dotnet/llilc/pull/1081).

What build errors do you see?

[2017-10-18 17:51] alpencolt commented on #3776
@sandreenko thank you I will try this commit.
Errors are may be different depending of configurations. If I use `MS` and `ObjectWriter` branches they are connected with changes from your PR:
[code]
If I would revert this commit I will something like this:
[code]

[2017-10-18 18:18] alpencolt commented on #3776
It helps!
For building I use:
`llilc` `ObjectWriter` branch and commit:
[code]
`llvm` `master` branch, commit:
[code]
and patch https://reviews.llvm.org/D29483

@sandreenko is it possible to keep this information somewhere in project documentation? I can prepare PR but don't appropriate place.

[2017-10-19 00:10] #4595 closed

[2017-10-19 13:13] #4492 closed

[2017-10-19 14:39] tonerdo commented on #1285
@jkotas any idea what's wrong here?
[code]

This only happens when trying to build a shared library on Ubuntu, `-fPIC` doesn't seem fix this

[2017-10-19 15:51] jkotas commented on #1285
No idea.

[2017-10-20 04:15] jkotas opened #4766 "Merge master to nmirror"

[2017-10-20 04:15] #4766 closed

[2017-10-20 09:20] Sergio0694 opened #4768 "[.NET Native] Error ILT0025 when compiling UWP app targeting SDK16299 and NETCore.UWP 6.0.1"
Hello,
I've updated my UWP app to target the new SDK 16299 (both minimum and target version) and updated the .NETCore.UniversalWindowsPlatform NuGet package to version 6.0.1, and according to the description, this new version also includes an updated .NET Native compiler.

The issue is that I can no longer compile my app in Release mode, I get the following error:

This is happening for other deve

[2017-10-20 10:07] jacano commented on #4529
Just wondering how to detect we are in a debug build to activate this emit...
Could I use this argument to activate it?

https://github.com/dotnet/corert/blob/d7a8b3aa8300386a2052b5bb4d04b9d2e5de55e0/src/ILCompiler/src/Program.cs#L126

Or using the optimization level?

[2017-10-20 14:57] dlewis-arcontech commented on #4676
Think I've found a similar issue, running code that uses several threads where the number of threads are configurable (lowering the number of thread reduces the chance of this issue happening). The code works fine when running just as JIT code but not as AOT compiled to native code. Code running on Ubuntu 14.04.5 LTS. Call stack as follows:

* thread #6: tid = 44826, 0x0000000000417bbc ConsoleApp1

[2017-10-20 17:19] sergiy-k commented on #4768
cc @morganbr

[2017-10-20 17:19] sergiy-k commented on #4768
cc @MattWhilden

[2017-10-20 17:24] sergiy-k commented on #1285
@nattress, do you have any suggestions how to diagnose the issue posted by @tonerdo?

[2017-10-20 18:02] nattress commented on #1285
I believe that error can also be caused by linkage visibility issues. I would verify that `__GetNonGCStaticBase_S_P_CoreLib_System_AppContext` has external linkage in the shared library you're building with objdump or an equivalent tool.

[2017-10-20 19:00] #4752 closed

[2017-10-20 20:27] morganbr commented on #4529
I'd suggest using the optimization level since skipping nops is an optimization. You probably need to propagate WebAssemblyCodeGenCompilationBuilder's _optimizationMode field to WebAssemblyCodeGenCompilation so that the ILToWebAssemblyImporter can check it.

[2017-10-20 21:09] MichalStrehovsky commented on #4529
Why do we need to do that? LLVM wouldn't optimize this away on it's own when set up to optimize?

[2017-10-20 21:25] morganbr commented on #4529
That's fine too. Having the plumbing for optimization will probably come in handy at some point, but it's optional for this change.

[2017-10-21 05:27] sandreenko commented on #4676
I checked that if we spill all gc refs before each call the issue still occurs.
Did anybody found the bad method name?

[2017-10-21 12:00] markrendle commented on #4444
@sergiy-k Finally found the time to do this, and IT WORKS! Thanks!

[2017-10-21 14:34] jkotas commented on #4676
It is call to `CoreLibNative_GetTickCount64` above. The codegen part of the spilling works fine. The problem is that the spilling is not reflected in the GCInfo correctly. The registers are still reported as alive during RhpPInvoke call, and they are reported dead right *after* the RhpPInvoke call.

[code]

In this example, we use `0x1001e5b0c` for the GC reporting during the PInvoke. This IP stil

[2017-10-22 18:13] jacano commented on #4529
Yes, emscripten could do that for us. So only the llvm.donothing intrinsic call

[2017-10-22 21:21] #4529 closed

[2017-10-23 02:06] jkotas opened #4778 "Port exception frame filtering logic from CoreCLR"
https://github.com/dotnet/coreclr/pull/14652 and https://github.com/dotnet/corert/pull/4777

[2017-10-23 02:07] jkotas commented on #4778
cc @trylek

[2017-10-23 07:59] trylek commented on #4778
Thanks @jkotas for sharing. LGTM modulo the fact that MethodBase availability is generally limited in AOT runtimes (CoreRT / .NET .Native) but that hopefully shouldn't be a major concern w.r.t. a bunch of internal framework methods.

[2017-10-23 08:36] sergign60 opened #4781 "[RyuJIT/Armel] CoreRT generates almost unfinite stack of DivConst_DivConst__I4_Div_0 before assert DivideByZero"
CoreRT generates many calls of ```DivConst_DivConst__I4_Div_0``` before ```Assert ("Divide by zero")``` on the following tests from the regular CoreCLR test suite
[code]
the call stack is
[code]

[2017-10-23 08:37] sergign60 commented on #4781
@jkotas  @MichalStrehovsky @Dmitri-Botcharnikov @alpencolt @BredPet

[2017-10-23 10:26] sergign60 commented on #4781
The test ```LocallocLarge``` generates many calls of ```Internal_CompilerGenerated__Module___InvokeRetOII``` with ```Segmentation fault```
[code]

[2017-10-23 13:57] jkotas commented on #4781
The infinite stacks look like a problem with RyuJIT generated unwind info that confuses the debugger. Can you check that you actually see the recursive call in the code? I do not think that there will be one.

`Divide by zero` is a problem with the contract of RhpIDiv helper. This helper expects that the codegen have checked for divide by zero already. The fix is to either fix RyuJIT to check for

[2017-10-23 15:18] sergign60 commented on #4781
@jkotas As I see, you're right, gdb can't restore the call stack correctly after calling  ```RhpReversePInvoke2(ReversePInvokeFrame*)```

[code]
the gdb log is:
[code]

[2017-10-23 16:18] sergiy-k commented on #4444
@markrendle, great to hear that it worked for you. If you'll have more time to play with it, then please let me know what are other issue that you'll find. We'll be happy to help.

[2017-10-23 16:53] alpencolt commented on #2606
@jkotas I configure `llvm` on x86 host with:
[code]
And `objectwriter` got correct target triple `thumbv7-linux-gnueabi`. But throw assertion in `ELFObjectWriter::recordRelocation():661`:
[code]
Where:
[code]

It looks I'm losing sight of something. May be you know what to check first?

[2017-10-23 17:06] jkotas commented on #2606
No idea

[2017-10-23 19:03] sandreenko commented on #4676
The first option looks easy to implement. It is possible to move`killGCRefs(GenTree* tree)` inside `compiler` and replace `call->IsUnmanaged()` with it.

However I do not fully understand the disadvantages of the first approach.
I think @BruceForstall and @AndyAyersMS might make better decision here. cc @dotnet/jit-contrib.

Also @jkotas  could you please explain If opts.ShouldUsePInvokeHelpers is

[2017-10-23 19:45] jkotas commented on #4676
I think so. E.g. if the unmanaged call takes any arguments in registers, the JIT needs to load them after the helper. The helper has regular calling convention. It can trash volatile registers.

It should not be necessary. It depends on the JIT not starting to report any registers as side-effect the loading arguments for the actual unmanaged call. It would be nice to guarantee it via assert at lea

[2017-10-23 19:50] briansull commented on #4676
`Option 1: Make sure that the registers are reported dead in GCInfo before the RhpPInvoke helper. `

This looks like the correct fix to me.

[2017-10-23 20:17] #4519 closed

[2017-10-24 03:45] #4676 closed

[2017-10-25 09:02] dlewis-arcontech commented on #4676
I've updated with the to the latest master that includes 'Update RyuJIT (#4791)'. Rebuilt everything in release and rerun my code and I'm still seeing the issue I previously had that looks similar to the issue fixed here, but I'm guessing subtly different. It'll be hard for me to distill my code into a simple reproducible test case and using a fairly large c# project pinvoking over to an also fair

[2017-10-25 16:38] jkotas commented on #4676
@dlewis-arcontech Here are the steps to debug this:

- Pick up https://github.com/dotnet/corert/pull/4798
- Find the value of `pRegisterSet->IP` in `RedhawkGCInterface::EnumGcRefs` frame. This is the instruction pointer of the code with incorrect GC tracking.
- Disassemble the native code around this IP, say 20 instructions before and after. Share this disassembly with us please. If it is not a fr

[2017-10-26 10:54] dlewis-arcontech commented on #4676
Hello jkotas, I've updated and rebuilt in Release and even with #4798 I didn't get much luck with finding out the args of RedhawkGCInterface::EnumGcRefs with neither lldb-3.9 nor gdb.

So I rebuilt in debug, gdb seems to be reporting the correct callstack but fails to get pRegisterSet->IP, the gdb callstack is:

(gdb) bt
#0  0x00007ffff69fcc37 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/uni

[2017-10-26 13:50] jkotas commented on #4676
`IP = 10062189` is 0x99896d. So the problem is around this call:

0x998968 <+2316>: callq 0x9afdf8
0x99896d <+2321>: nop

It does not look right that 0x9afdf8 has no symbol associated with it. The missing symbol is likely the reason for the corrupted stack as well. Could you please disassemble the code at that address? What does the corresponding C# code in ExtractChainImage method around ChainWat

[2017-10-26 14:11] dlewis-arcontech commented on #4676
Hi jkotas,

The line at 1851 is:

chainRecords[chainRecord.Index] = chainRecord;

Where chainRecords is a sorted dictionary of type SortedDictionary<int, ChainRecord> which is created on the call stack. The class ChainRecord is a simple immutable class that takes 2 strings and one int in the constructor:

ChainRecord(string, string, int index)

And has accessor properties for these above 3 values.

[2017-10-26 14:25] jkotas opened #4811 "Fix definition of RuntimeImportAttribute"
RuntimeImportAttribute entrypoint is both initializable via constructor and as a field. It creates ambiguity and confusing behavior.

E.g. `[RuntimeImportAttribute("foo.dll", EntryPoint="MyMethod")]` will binds to entrypoint foo.dll today!

See https://github.com/dotnet/corert/pull/4788/files#r147155719

[2017-10-26 14:32] jkotas commented on #4676
This looks like a regular managed method. I think we need to find out why it does not have the right symbol. It is likely symptom of the problem.

Do you see any warnings from the unmanaged linker (`ld`) during the compilation by any chance?

[2017-10-26 14:44] dlewis-arcontech commented on #4676
Do you mean warnings when I build corert or my project? For my project there is an .so that is C/C++ code build by gcc and installed as a release build and then the C# code is using pinvoke to talk to it. I'm getting an unmanaged warning but pretty sure it's related:

EXEC : warning : Method `[System.Text.RegularExpressions]System.Text.RegularExpressions.Regex.Compile` will always throw because: [

[2017-10-26 15:31] dlewis-arcontech commented on #4676
I've tried with a debug build of the .so after I'm getting a slightly different call stack that's missing the RedhawkGCInterface::EnumGcRefs frame, so not sure what to disassemble further.

Process 9969 stopped
* thread #6: tid = 10010, 0x000000000041aeac ConsoleApp1`EEType::get_BaseSize(this=0x0000000000000000) + 12 at eetype.h:365, name = 'ConsoleApp1', stop reason = signal SIGSEGV: invalid addr

[2017-10-26 16:17] MichalStrehovsky commented on #4676
If the struct is passed by value, could you try debugging around the p/invoke? I'm wondering if this could be some sort of corruption because we don't have the implementation for #158 yet.

[2017-10-26 16:28] dlewis-arcontech commented on #4676
It might be related, the struct is passed into a pinvoke function as a ref parameter. The flow of events are

First call this:

        [SuppressUnmanagedCodeSecurityAttribute()]
        [DllImport("feed64.so", EntryPoint = "FEED_Open_with_Std_Callback", ExactSpelling = true, CharSet = CharSet.Ansi)]
        internal static extern int FEED_OpenHandleWithCallback(FeedCallback feedCallback, int feed

[2017-10-26 16:55] dlewis-arcontech commented on #4676
The test is using the .so to receive a list of 50k items over tcpip and present it to a managed api interface. It uses a few threads but I've minimized the thread usage as much as possible. Just processing one set of 50k items usually fails but I have managed infrequently to run several times in a loop the same test before it fails. So it does basically work and if I reduce the test to 500 items a

[2017-10-26 20:57] jkotas commented on #4676
These structs are passed by reference. They won't hit the with missing implementation for #158.

This looks like a GC heap corruption. It does not look related to the original problem tracked by this issue. The problem seems to be that the GC collected an object that is still referenced from somewhere; or that something (e.g. interop) overrun the GC allocated buffer. You can try to look around the

[2017-10-27 10:24] dlewis-arcontech commented on #4676
Thanks, jkotas, I've updated to #4812 and also remove ifdef around RhpEnableConservativeStackReporting()  I'm still seeing the issue and the call stack still looks corrupt, I've put the details at the end of this post. I'm happy to spend more time on this but I'll leave it to you to advice on how to proceed. If you'd like me to wait until there are more tests happy to do that, if you'd like to rem

[2017-10-27 12:14] jkotas commented on #4676
Ok, the next thing to look at are the types of object that are being scanned. E.g. MetadataReader
and NativeFormatRuntimeNamedTypeInfo are the objects being scanned in my example below. Try this on a few different crashes to see whether the type is always the same. I expect that the object scanned in mark_object_simple1 is going to be invalid in your case, but the object in mark_object_simple shou

[2017-10-27 13:32] dlewis-arcontech commented on #4676
I've used lldb to look up the information, so focusing in on  mark_object_simple/mark_object_simple1 the section from lldb bt gives (I've pasted 2 runs here but the 3rd was the same):

    frame #2: 0x0000000000497d53 ConsoleApp1`WKS::gc_heap::mark_object_simple1(unsigned char*, unsigned char*) [inlined] WKS::my_get_size(ob=0x00007fffdfd742a0) + 25 at gc.cpp:8897
    frame #3: 0x0000000000497d3a C

[2017-10-27 15:12] jkotas commented on #4676
So problem seems to be that array backing `Dictionary<string,string>` is pointing to a string that got collected by the garbage collector already. The most likely cause is a missing GC write barrier somewhere.

Could you please cherry pick https://github.com/jkotas/corert/commit/21ad08ee6ab4ffc0e1bc35ddd67063b441c9299f and run your test with it? This enables some extra consistency checks around GC

[2017-10-27 15:52] dlewis-arcontech commented on #4676
I've rebuilt everything from your branch, I did it quickly as I'm about to head off so I might have made a mistake. On the face of it, the results look the same. Anyway to verify the build is correct from the callstack?

Process 19622 stopped
* thread #6: tid = 19664, 0x000000000041aeac ConsoleApp1`EEType::get_BaseSize(this=0x0000000000000640) + 12 at eetype.h:365, name = 'ConsoleApp1', stop reaso

[2017-10-27 16:26] jkotas commented on #4676
It is quite possible that the problem is something else. If you would like to double check that the instrumentation is kicking in, you can set a breakpoint at `RhpAssignRef` assembly helper, single step through it and verify that it is running through the GCShadow path.

So it may be useful to look at the content of the corrupted array - find out what kind of strings are stored into it.

I have al

[2017-10-27 16:28] jkotas opened #4822 "GC stress"
Mode that triggers GC on every N-th allocation and/or PInvoke transition.

[2017-10-27 16:28] jkotas commented on #4676
Also, opened #4822

[2017-10-27 16:48] jkotas commented on #4676
Another thing you can try is to change `int     GetGCgen0size  ()               const { return 0; }` to `int     GetGCgen0size  ()               const { return 64 * 1024; }` in gcenv.h. It will cause the GC to run more frequently - hopefully, it will break closer to the place where the problem happens.

[2017-10-29 19:50] Sergio0694 commented on #4768
@MattWhilden - or anybody from the .NET Native team - any help here?
I'm getting another issue too now:

Compiler internal error: MCG0023:UnresolvableAssemblyReference A reference was found to assembly 'Assembly(Name=Microsoft.IdentityModel.Clients.ActiveDirectory, Version=2.21.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, ContentType=WindowsRuntime)' that could not be resolved."

I haven

[2017-10-30 15:29] alpencolt opened #4834 "[armel][cross] Invisible Div and Mod helpers"
After #4788 PR all methods in `src/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/MathHelpers.cs` surrounded by `#if ARM` are missed in cross compilation (x86 host - arm target).
@jkotas may be better to move this checks to native code or compare dynamically with `TargetArchitecture.ARMEL` on some other place?

[2017-10-30 15:38] jkotas commented on #4834
x86 host - arm target cross compilation should be setting ARM define when compiling CoreLib. Is it not happening for some reason?

[2017-10-30 15:54] alpencolt commented on #4834
@jkotas it looks not.
I'm using `libarmelnonjit.so` and `libprotononjit.so` as `libclrjitilc.so` and pass `--targetarch=armel` but result is the same.

[2017-10-30 15:56] jkotas commented on #4834
So this needs to be fixed in build scripts.

[2017-10-30 15:58] alpencolt commented on #4834
Thank you I will check

[2017-10-31 00:40] lt72 commented on #4768
It may be that your project is missing a reference to nuget package  “Microsoft.IdentityModel.Clients.ActiveDirectory”. Could you please try adding such reference?

[2017-10-31 08:37] Sergio0694 commented on #4768
Hello @lt72 - thank you for your reply. I've tried adding that NuGet package as suggested but that didn't help (I also tried to cleanup the solution, delete the cache, restart, even switched PC).
Here's what I'm getting now:

I'd also like to point out that I haven't made any significant code changes between this app version and the one still targeting build 15063, I've just updated a few NuGet pa

[2017-10-31 08:37] francisrath commented on #4768
I have the same problem, and adding the suggested packages does not help

[2017-10-31 09:02] Sergio0694 commented on #4768
@francisrath I'm sorry you're having the same issue, but I'm glad to hear I'm not the only one having problems with the new SDK/.NET Native release.

[2017-10-31 12:29] dlewis-arcontech commented on #4822
Hi I've changed the code as suggested:GetGCgen0size () const { return 64 * 1024; }

[2017-11-01 15:29] daniel-white commented on #4552
@janvorli is there a issue # for the infrastructure changes that i can follow or will it be this issue?

[2017-11-01 16:43] alpencolt opened #4856 "[armel] CoreRT Linux/armel progress"
This task is for reporting progress of CoreRT `Linux/armel` support.
People are working on it @Dmitri-Botcharnikov @sergign60 @alpencolt @BredPet

## Applications
On the latest master we are able to compile and execute Binary-trees, Spectral-norm, Mandelbrot and Fannkuch-redux(without threading version) benchmarks from CoreCLR. ElmSharp Hello Tizen application as well. All apps launched on Samsung

[2017-11-01 16:47] alpencolt commented on #4856
@jkotas  is it possible to create group like **dotnet/arm32-contrib**  for involved people?

[2017-11-02 00:30] shrah commented on #4768
The error is for 'Assembly(Name=Microsoft.IdentityModel.Clients.ActiveDirectory, Version=2.21.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, ContentType=**WindowsRuntime**).  Could you try adding a reference to https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/2.22.302111727 which has the Microsoft.IdentityModel.Clients.ActiveDirectory.winmd

[2017-11-02 04:04] jkotas commented on #4856
Are you using release (or at least checked) build of RyuJIT? It would not expect it to take this long.

[2017-11-02 05:01] jkotas commented on #4856
This is awesome progress! Thank you for the update.

I have created @dotnet/arm32-corert-contrib . All of you are members except @BredPet who I am not able to add for some reason. I will work on it...

[2017-11-02 08:46] francisrath commented on #4768
@shrah We both tried it, but still no luck

[2017-11-02 09:36] alpencolt commented on #4856
Thank you!
We use debug version because checked and release were unstable before. I will try it with checked version (or checked CoreCLR + cross RyuJIT with disabled optimizations).
It looks @BredPet isn't member of .Net Foundation.

[2017-11-02 11:43] Sergio0694 commented on #4768
Also, as I've stated in my initial question, the same app targeting the 15063 SDK compiles just fine in both Debug and Release mode, and even with the 16299 SDK it still compiles fine in Debug mode.
It does sound like a .NET Native glitch introduced with the new SDK.

[2017-11-02 11:44] alpencolt commented on #4834
I used incorrect `libSystem.Private.CoreLib.Native.a`

[2017-11-02 11:44] #4834 closed

[2017-11-02 13:46] BredPet commented on #3776
After the latest achievements #4856 we would like to clarify the situation with this main component.
This is very important for us, we need to decide on further support for this component.

**I.**  What is the current ObjWriter status, near future? The project looks abandoned. Can any other component be used instead? What are your thoughts on this, if possible, share the details.

**II.** We need

[2017-11-02 14:29] MichalStrehovsky opened #4860 "Template type loader interface dispatch dependency tracking"
This will throw a `MissingMetadataException` because we never generated native layout for the `IFoo<__Canon>` interface, but the dispatch cell in `Gen<__Canon>.DoFrob` refers to it. We get away with this bug because normally something that implements this interface gets allocated with `newobj`. Not here.

I had some fix in mind, but I got pulled into other projects and don't have time to investiga

[2017-11-02 16:07] jkotas commented on #4856
Fixed.

[2017-11-02 16:34] jkotas commented on #3776
I have commented on this here: https://github.com/dotnet/corert/issues/4589#issuecomment-334321146

Agree. Or just add it to this repository as I have mentioned in the comment (not building by default - having default build having dependency on LLVM would be too heavy weight).

I should depend on LLVM only. There should not be any significant LLILC dependency.

[2017-11-02 18:00] danmosemsft commented on #4768
Could someone help find repro steps? If I make a new .NET Native app, with min version 16299, and put "throw new TimeZoneException()" in my InitializeComponent, I don't get `ILT0025: inconsistent type forwarders were found for type System.TimeZoneNotFoundException`

[2017-11-02 18:16] Sergio0694 commented on #4768
@danmosemsft I've sent a repro to the .NET Native support email a couple weeks back, would it help if I sent that again?
I mean, other than that I wouldn't know how to replicate that issue, I have another app and it compiles just fine targeting build 16299 🤔

[2017-11-02 18:17] danmosemsft commented on #4768
@Sergio0694 gotcha, I'll ask them.

[2017-11-02 23:45] shrah commented on #4768
The issue has been resolved through the .NET Native email alias. As it turned out,  referencing https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/2.22.302111727 did indeed fixed the issue.

[2017-11-03 03:19] morganbr commented on #4512
Fixed in #4808

[2017-11-03 03:19] #4512 closed

[2017-11-03 03:20] morganbr commented on #4505
I'm pretty far along on this, so I'll claim it.

[2017-11-03 05:10] morganbr opened #4863 "String.get_Length returns 0"
String.get_Length started returning 0 after #4808 , which breaks printing strings and might indicate other problems. It looks like pinning a string and printing it character-by-character still works, so it could be an issue in the frozen string's length or in reading instance fields.

[2017-11-03 06:57] morganbr commented on #4863
I've verified that the frozen string's length is in the right place by pinning it and working backward from the pointer. This is probably an issue calling instance methods or reading instance fields.

[2017-11-03 07:17] Sergio0694 commented on #4768
@danmosemsft @shrah Thank you for your help!

@francisrath I'm quite sure in my case it was the old Live SDK library I'm still using in my app that was referencing that missing package. Using that NuGet package they suggested solved the issue, but if that's the case for your too, I guess it would be a good idea to upgrade to the newer OneDrive SDK just in case, to avoid similar issues with the lib

[2017-11-03 08:13] BredPet commented on #4856
I joined. And requested membership in @dotnet/arm32-corert-contrib.
@jkotas thanks

[2017-11-03 08:31] BredPet commented on #3776
@jkotas thanks for your comments, we will think about this and about integration ObjWriter into CoreRT.

[2017-11-03 09:18] #4863 closed

[2017-11-03 09:32] alpencolt commented on #4856
@jkotas `Release` version still doesn't work, `-O` of ILC compiler as well (but with different errors). But if I run  ILC on `checked` CoreCLR compilation of HelloWorld takes **35 sec** on x86 host. And it's needed about **2** hours for compiling all BringUpTests.
Results of the tests are the same:
**1 Failed on compilation
11 FAIL
146 SUCCESS**

[2017-11-04 23:55] #4539 closed

[2017-11-05 00:16] morganbr commented on #4550
Fixed in #4872

[2017-11-05 00:16] #4550 closed

[2017-11-05 00:18] morganbr commented on #4551
Probably fixed in #4872. We'll reopen if this doesn't work once we have delegate support.

[2017-11-05 00:18] #4551 closed

[2017-11-05 12:09] am11 commented on #3776
@BredPet, yes please, that would be excellent! There were some files from CoreCLR as well that objwriter build was requiring, last time I tried. Based on @jkotas' comment, I believe it can be rewired to build independently or with corert sources.

Alpine x64, [glibc-]Linux x86 and future platforms/archs/libcs will also benefit from it if `corert/build.sh` is used to create objwriter's binaries and

[2017-11-05 21:01] DominicMaas opened #4873 "System.Net.Http.HttpClient possibly causing "Unresolved P/Invoke" crash."
## Introduction
In my UWP app, calling `GetAsync` (and possibly others) in the `System.Net.Http.HttpClient` class causes my app to produce the following exception `Unresolved P/Invoke method 'kernel32.dll!LocalAlloc' from this method. Please look for this method in build warnings for more details`. However, there is nothing mentioned in the build warnings.

This only happens after publishing my ap

[2017-11-06 08:11] Sergio0694 opened #4874 "Store-side app processing breaks all network APIs when targeting 16299"
## **Introduction**
I have a UWP app targeting build 16299 and .NETCore.UniversalWindowsPlatform 6.0.1.
Everything works perfectly fine both in Debug **and** in Release mode (so the .NET Native compiler doesn't seem to be causing issues here), but as soon as I upload an app to the Store, basically everything network-related stops working completely.

I use different cloud services in my app, and a

[2017-11-06 08:18] MichalStrehovsky commented on #4873
CoreRT repo is not a good support channel for issues with .NET Native, especially if they're specific to Store compilation and WinRT networking stack. None of the people working on that watch this repo. Please use the email channel described at https://github.com/dotnet/core/blob/master/Documentation/ilcRepro.md.

[2017-11-06 08:18] #4873 closed

[2017-11-06 08:18] MichalStrehovsky commented on #4874
CoreRT repo is not a good support channel for issues with .NET Native, especially if they're specific to Store compilation and WinRT networking stack. None of the people working on that watch this repo. Please use the email channel described at https://github.com/dotnet/core/blob/master/Documentation/ilcRepro.md.

[2017-11-06 08:18] #4874 closed

[2017-11-07 10:43] markrendle commented on #4444
@sergiy-k I'll be experimenting some more with it this week, including seeing if I can trim the rd.xml file. Anything I achieve will be pushed to the [shtik/cli](https://github.com/shtik/c;li) repo and I'll post in this thread.

[2017-11-07 11:46] sergign60 opened #4880 "[armel] ilc utility for armel/tizen"
Just now ```ilc``` is not built for armel/tizen platform so we user old command form ```./corerun ilc.dll @rsp-file``` while on x64 the command ```./ilc @rsp-file``` used.

[2017-11-07 11:49] sergign60 commented on #4880
@dotnet/arm32-corert-contrib

[2017-11-07 11:49] sergign60 commented on #4856
https://github.com/dotnet/corert/issues/4880

[2017-11-07 11:50] sergign60 commented on #4880
https://github.com/dotnet/corert/issues/4856

[2017-11-07 12:03] sergign60 commented on #4880
As I see we need armel/tizen version of ```libhostfxr.so``` and ```libhostpolicy.so``` also

[2017-11-07 12:30] dlewis-arcontech commented on #4822
Hello, I have managed to reproduce the issue in an isolated code set. The code works for 'dotnet run' on linux but fails in the way mentioned in #4676 for native compilation after a short time (running on Ubuntu 14.04.5 LTS). I've zipped up C/C++ the share object code and the C# code to get the issue to happen and attached them to this post. The zip file contains:

\arc-lib\ - run build.sh to prod

[2017-11-07 13:26] dlewis-arcontech commented on #4822
Seen (maybe 1 out of 5 runs) a slight different callstack, not sure if this helps in term of debugging:

(lldb) bt
* thread #3: tid = 13711, 0x00007ffff69fcc37 libc.so.6`__GI_raise(sig=6) + 55 at raise.c:56, name = 'ConsoleApp2', stop reason = signal SIGABRT
  * frame #0: 0x00007ffff69fcc37 libc.so.6`__GI_raise(sig=6) + 55 at raise.c:56
    frame #1: 0x00007ffff6a00028 libc.so.6`__GI_abort + 328 a

[2017-11-07 14:55] jkotas commented on #4880
I think you want to build `Microsoft.NETCore.App` package for tizen-armel so that `dotnet new console` and `dotnet publish -r tizen-armel` works. This package contains `libhostfxr.so` and `libhostpolicy.so` among other things.

[2017-11-07 15:03] jkotas commented on #4822
Thank you! We will take a look.

[2017-11-07 15:09] dlewis-arcontech commented on #4822
No problems, I have been trying out the test code and initially I was getting it to fail within the first 5-10 seconds every time (a good 20+ runs), I currently have a run going that has survived around a minute of running and no crash as of yet. Depending on your hardware (I'm running linux on a VM on windows on a pretty recent i7) it could be a little bit more difficult to recreate but hopefully

[2017-11-07 15:14] dlewis-arcontech commented on #4822
After that one successful run that I killed in the end and a bit of playing around, it seems what I sent is a pretty good attempt at recreating the issue, the next 5 runs all crashed in a few seconds.

[2017-11-07 21:44] #2601 closed

[2017-11-07 22:08] MichalStrehovsky commented on #1497
Fixed in a579f537fd48a9c8bce6929ad21852019da8e7ab.

[2017-11-07 22:08] #1497 closed

[2017-11-07 22:52] sergiy-k commented on #4444
@markrendle, sounds great! Please make sure you pick the following change up: https://github.com/dotnet/corert/pull/4884. It fixes this issue (https://github.com/dotnet/corert/issues/4860) that affects the entries in rd.xml. Thanks!

[2017-11-07 23:11] #4860 closed

[2017-11-08 05:20] morganbr commented on #4509
I've asked CI owners and it sounds like we can require a dependency like Chrome or Node.js on the CI machines as long as we don't have to update it too often. It's worth keeping in mind that while we can only generate WebAssembly on Windows right now, we'd eventually like to do it on Linux and Mac, so a cross-platform solution would be nice.

CC @hippiehunter

[2017-11-08 05:21] morganbr commented on #4658
Based on discussion with CI folks, it would be acceptable to have the WASM flavor of the build run a script to download Emscripten.

[2017-11-08 08:19] MichalStrehovsky commented on #2749
Fixed in #4870.

[2017-11-08 08:19] #2749 closed

[2017-11-08 08:19] MichalStrehovsky commented on #2619
Fixed in #4870.

[2017-11-08 08:19] #2619 closed

[2017-11-08 10:38] perlun commented on #2619
Thanks @MichalStrehovsky!

[2017-11-09 05:16] jkotas commented on #4822
Here is the minimal repro:

[code]

[2017-11-09 09:26] dlewis-arcontech commented on #4822
Hi Jkotas, I've tried the code here and it's crashing every time, so nothing to do with the PInvoke! I was wondering if it's too early in the project to ask about optimisation? I found the issue while running some of our system stress tests on the natively compiled output. If I reduce the iterations in stress test to a very small number so the gc issue isn't always hit, I'm seeing a big different

[2017-11-09 10:28] MichalStrehovsky commented on #4822
@dlewis-arcontech Could you open another issue for the perf findings? Some slowdown is expected because of known perf issues (such as #2640, #2393, or #2394), but providing a profile could help us rule out if this is known or unknown. Just to make sure - this is from a Release build of CoreRT, right? (The repo was built as Release, and the project was published as Release.)

[2017-11-09 11:14] dlewis-arcontech commented on #4822
@MichalStrehovsky good spot this was indeed a debug build! I did note a difference initially when I started to run the tests in Release build but then I quickly moved to Debug build to help investigate the issue we are discussing here and didn't change back when I took the above results. I've re-run the last 2 columns above in Release build and managed to increase the iterations count in the tests

[2017-11-09 11:26] dlewis-arcontech commented on #4822
I forgot to mention, just to check in case there are any optimizations I'm missing, to build CoreRT I am running:

.\build.sh Release

Then reference IlcPath to the release build, then my console app is using a dependent .Net dll, so as well as having in the main csproj:

  `<ItemGroup>
    <IlcReference = "xxx\dll.csproj" />`

I also have:

  `<ItemGroup>
    <IlcReference Include="[release build

[2017-11-09 12:15] sergign60 commented on #4626
[Hello.cs.txt](https://github.com/dotnet/corert/files/1457517/Hello.cs.txt)
@jkotas @MichalStrehovsky could you explain the folllowing problem:

When I run on the device the program from the attachment, compiled with CoreRT  whith the environment variables:
[code]
I get the following output
[code]
but elfdump shows another length for this section:
[code]
I guess that ```length = 8c8```, that shoul

[2017-11-09 15:48] jkotas commented on #4822
Given stacktraces for some of the crashes reported by @dlewis-arcontech (e.g. https://github.com/dotnet/corert/issues/4676#issuecomment-339628519), the perf bottlenect is likely in the un-optimized comparers (https://github.com/dotnet/corert/issues/763). We should have all parts required to implement the optimization now. @MichalStrehovsky feel free to take it if you have some time - I am unlikely

[2017-11-09 17:57] sergiy-k commented on #4822
@dlewis-arcontech, thank you so much for all the data that you provided and your help with diagnosing the issues! :)

[2017-11-10 03:37] morganbr commented on #4658
CC @hippiehunter

[2017-11-10 03:55] morganbr commented on #4509
@hippiehunter found that we can run the copy of node.js (v4.1.1) included in Emscripten on Emscripten's output. I had to add ```-s "BINARYEN_METHOD='native-wasm,interpret-binary'"``` to the Emscripten command line, which runs a WASM interpreter. If node 8.7.0 works without the interpreter, that might be a bit better, but we'd have to figure out how to deploy it to developer and CI machines.

[2017-11-10 03:58] jkoritzinsky commented on #4509
Node 8.7.0 doesn't require the interpreter option for emscripten linking. I don't know if it's worth the extra hassle though.

[2017-11-10 08:47] dlewis-arcontech commented on #4822
@sergiy-k my pleasure. As things progress with CoreRT and WebAssembly I'll be committing more of our resource to porting our .Net code, Unit/System tests to .Net Standard/.Net Core and getting it natively compiled and running under Windows and Linux. If I encounter any problems I'll raise an issue and I'm always happy to help to investigate.

[2017-11-10 15:53] Scellow opened #4904 "Tests fails on Arch Linux"
OS:

    Linux ryuk 4.13.11-1-ARCH #1 SMP PREEMPT Thu Nov 2 10:25:56 CET 2017 x86_64 GNU/Linux

I ran the following command:

    ./build.sh clean Debug >> output.log

Here is the output:

https://gist.github.com/Scellow/8ab508cf2122099332110abb71f4647d

Errors sumary:

    L:380 -> /home/scellow/dev/tmp/corert/Tools/depProj.targets(83,5): error : Error no assets were resolved from NuGet packages.

[2017-11-10 16:13] jkotas commented on #4904
This is the error:

[code]

The problem is that we only have ObjectWriter packages built for Ubuntu.

[2017-11-10 16:44] Scellow commented on #4904
Oh ok! thanks for the info, do i have to compile it myself ?

[2017-11-10 17:12] jkotas commented on #4904
Either that (https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-ObjectWriter.md), or try to tweak the condition here: https://github.com/dotnet/corert/blob/master/src/ILCompiler/ObjectWriter/ObjectWriter.depproj#L11 to `<RuntimeIdentifiers Condition="'$(TargetsLinux)'=='true'">>ubuntu.14.04-x64</RuntimeIdentifiers>`. There is a good chance that the Ubuntu package will work on

[2017-11-10 18:55] Scellow commented on #4904
I tried with 2nd method but still same issue:

    ./build.sh clean Debug >> output.log | grep error >> errors.log

[code]

[output.log](https://github.com/dotnet/corert/files/1462405/output.log)
[errors.log](https://github.com/dotnet/corert/files/1462406/errors.log)

I'll now try by compiling it myself

[2017-11-10 19:01] jkotas commented on #4904
The 2nd should fail much later if it does not work. Maybe the condition does not kick in as expected. Could you please try to change it to be unconditional to see whether it makes a difference?

`<RuntimeIdentifiers>ubuntu.14.04-x64</RuntimeIdentifier>`

[2017-11-10 19:20] jkotas commented on #4822
@dlewis-arcontech #4907 should fix the GC crash.

[2017-11-10 19:37] MichalStrehovsky commented on #4822
OK, I'll have a look

[2017-11-10 20:40] Scellow commented on #4904
Seems to solve the previous issue, but it then failed

[output.log](https://github.com/dotnet/corert/files/1462675/output.log)

I had clang 5 installed, i tried with clang3.9 but it refuse to compile:

https://gist.github.com/Scellow/94c06354e0a35771b7486663bba3a9fb

I think i'll end up just installed ubuntu :p

[2017-11-10 21:01] jkotas commented on #4904
The scripts default to clang-3.9 today. You can overwrite the default by doing export CppCompilerAndLinker=clang-5.0.

It is weird that you are not able to compile with clang-3.9. It is what we use by default in CI and everywhere else.

[2017-11-10 23:22] jcouv opened #4911 "Expect ILVerify error on initonly field outside its constructor"
Found this while testing ILVerify on Roslyn tests.

Compile the program below with C# compiler that ships with Visual Studio 15.5 with `csc /t:library /langversion:7.2 test.cs`.
Here's also a zipped copy of `test.dll`: [test.zip](https://github.com/dotnet/corert/files/1463011/test.zip)

PEVerify fails (as expected):
[code]

But ILVerify passes:
[code]

------

[code]

Tagging @ArztSamuel @VSadov

[2017-11-10 23:29] VSadov commented on #4911
AFAIK, the spec says that LDFLDA of a readonly field is unverifiable.

The actual implementation however permit LDFLDA when it is done in a corresponding constructor. Perhaps there is a special rule that permit that. I am not sure, but I believe both C# and PEVerify allow LDFLDA in a corresponding constructor.

Anyways, this is not the case with constructor and per current rules should not be veri

[2017-11-10 23:29] jcouv commented on #4911
Note: after the [spec changes](https://github.com/dotnet/corert/pull/4862), this probably should verify (Vlad can confirm). So the expectation reflects current PEVerify baseline.

[2017-11-11 10:53] ArztSamuel commented on #4911
That is correct. I think the rule you are referring to is described in `ECMA II.16.1.2 Field contract attributes`. However, I could not find any special rule permitting ldflda in constructors, a note of this section even states the opposite:

As far as I understand the PEVerify source, it simply permits all field instructions on initonly fields (including ldflda) in the corresponding constructor.

[2017-11-11 15:10] #4911 closed

[2017-11-12 00:15] tonerdo commented on #1285
@nattress after a bit of google searches I've been able to come to the conclusion that the static library that contains that symbol wasn't compiled with position independent code in mind. I should mention that after pulling the latest master the problem symbol is no longer `__GetNonGCStaticBase_S_P_CoreLib_System_AppContext` but now `__NewArr1___Array<Object>`.

Full error output:
[code]

[2017-11-13 16:38] dlewis-arcontech commented on #4822
I have updated and re-run the problem test and can confirm it now passes, thanks! I'll move on to attempting to run the entire test suite.

[2017-11-13 21:45] morganbr commented on #4515
@davidwrighton, @hippiehunter has made progress on slot-based dispatch at https://github.com/hippiehunter/corert/commit/7d041087d4863bdde2da1358aca7db8a37d6fb80 , but he had to modify object writing to make it work. Would you mind taking a look and filling in the blanks about how slot-based dispatch is supposed to use the data we have from the object writer?

[2017-11-14 04:18] A-And commented on #4444
Hey, @markrendle. With #4870 , shtik/cli should be publishable out of the box (as long as you identify the correct rd.xml file in your .csproj)! Give it a try and let us know if you run into any issues

[2017-11-14 15:36] MichalStrehovsky commented on #763
So in rough terms, the feature involves recognizing calls to `get_Default` on both types and redirecting the call to a method that is specialized for the given `T`. The expansion might need to do unwrapping if `T` is `Nullable`.

The ideal place to do this redirection would be in `ExpandIntrinsicForCallsite`, but when compiling a shared method body, this will become problematic because of the desi

[2017-11-14 15:52] jkotas commented on #763
I think we should be recognizing the calls to `Create`. `get_Default` has lazy initialization logic that should stay as is.

We may just want to replace the IL body of the Create with the right `new specialized_comparer()` directly. We will need the logic to figure the specialized comparer type to support the comparer devirtualization, so we can use it here as well.

I though that the shared metho

[2017-11-14 16:00] MichalStrehovsky commented on #763
Ah yes. Typo :).

Not if T is a generic struct (that is instantiated over a reference type) implementing the interface. For that we need to be able to find the right type context to pass to the generic comparer and I think we can't get away without doing this through runtime determined types.

[2017-11-14 16:19] jkotas commented on #763
Where does this context show up?

My naïve thought was that the Create method can be always implemented as this:

[code]

You can even make this the default body of the method in C#, and leave it alone in ExpandIntrinsicForCallsite for shared methods. (Be careful about ProjectN though - when I have tried that, the DR picked up the `typeof` in `EqualityComparerHelpers.GetUnknownEquatableComparer` a

[2017-11-14 16:28] MichalStrehovsky commented on #763
It's the generic dictionary used to give context to `GetUnknownEquatableComparer<T>`.

[2017-11-14 16:37] MichalStrehovsky commented on #763
Ah, I think I see. If we only redirect if shared generics are not involved and put `EqualityComparerHelpers.GetUnknownEquatableComparer<T>();` in the method body (as actual C# code) outside of ProjectN, it eliminates the problem with context lookup (because everything will happen the "normal way").

Based on my reading the NUTC code, it would also optimize the `SomeStructImplementingTheInterface<_

[2017-11-14 16:45] jkotas commented on #763
Right. All sorts of generic constructs can be optimized better if we had RuntimeDeterminedTypes plumbed through the whole system...

[2017-11-14 17:28] alpencolt commented on #4856
I've looked for API calls in Xamarine which could be problematic for CoreRT and have got results below. Checked `Xamarin.Forms.Core.dll`,  `Xamarin.Forms.Platform.dll`,  `Xamarin.Forms.Platform.Tizen.dll`,  `Xamarin.Forms.Xaml.dll` packages.
API calls: `System.Reflection.*`, `System.Array::CreateInstance`, `System.Type::ReflectionOnlyGetType`, `System.Type::MakeGenericMethod`, `System.Type::MakeTy

[2017-11-14 17:32] davidwrighton commented on #4515
The logic in the ObjectEmitter which handles references to virtual methods and sets values for the getslot variables is quite questionable.

- Virtual methods can exist as symbol references in several ways.
  - From a VTable
  - In multiple entries in a single vtable (Unusual, but possible. See handling for MethodImpl metadata)
  - Directly called (a call instruction on a virtual method can point

[2017-11-14 17:46] jkotas commented on #4856
This article explains the main problem with reflection in full AOT tree-shaked environment.

A more fine grained list is in https://github.com/dotnet/corefx/wiki/UWP-Compat#systemreflection , but the differences are corner cases that do not cause problems in practice.

The trick with making reflection work is to make sure that whatever the program reflects on gets compiled into the final image. Cu

[2017-11-14 18:09] alpencolt commented on #4856
Thank you!
I'm looking for functionality which cannot work in CoreRT by design. As I understand some of these API could be implemented. Others could be handled by compiler or config files.
Thing I want to understand is there something which can prevent using CoreRT in real huge applications (which use Xamarin or other frameworks)?

[2017-11-14 18:19] jkotas commented on #4856
The large missing features in CoreRT are dynamic loading (loading of binaries that were not seen by the compiler), and Reflection.Emit (it is really just a special case of dynamic loading).

There are ways how to make these features work in CoreRT - either by having interpreter, or by using JIT - but it would be a lot of work.

[2017-11-14 18:26] alpencolt commented on #4856
It looks `Reflection.Emit ` isn't used in Xamarin.
Another option for dynamic loading I think is distributing as precompiled binaries and open it with API like `dlopen()`. It should be easier than JIT.

[2017-11-14 18:29] jkotas commented on #4856
The hard part with this model is versioning (what builds are ok to mix). You typically want to allow mixing and matching of different builds, and doing that for managed code with full AOT is pretty hard because of [fragile base class problem](https://en.wikipedia.org/wiki/Fragile_base_class).

[2017-11-14 18:35] alpencolt commented on #4856
OK thank you. It's the same issues like CoreCLR's crossgen has, right?

[2017-11-14 18:37] jkotas commented on #4856
Right, the FragileNonVersionable flavor of NGen images.

[2017-11-14 21:48] hippiehunter commented on #4515
I've tried your suggestion before and after removing the offset change for __SYMBOL -> __REALBASE below is what I've found without making any offset changes to __SYMBOL

[code]

So the resulting function pointer ends up not pointing to @HelloWasm_TestDerivedClass__TestVirtualMethod

for this to work there must be different math done in converting the iSlot number to the actual offset from @__EETyp

[2017-11-14 23:15] MichalStrehovsky commented on #4515
If it helps this:

https://github.com/dotnet/corert/blob/712f557b8d1d087b29510e201d2a075f1813c867/src/ILCompiler.Compiler/src/Compiler/DependencyAnalysis/Target_X64/X64ReadyToRunHelperNode.cs#L32

is where we generate the assembly helpers to do virtual dispatch in the absence of the scanner phase in x64 RyuJIT.

I haven't looked at the commit in detail, but the lack of calls to `EETypeNode.GetVTab

[2017-11-14 23:27] hippiehunter commented on #4515
you are correct EETypeNode.GetVTableOffset was the key to solving the entire thing

[2017-11-15 17:26] MichalStrehovsky commented on #763
We might want to re-think how we cache the `_default` value. Codegen can't see through the useless `EqualityComparer<T>.get_Default` call. I wonder if this is because of how we organize our `get_Default`. CoreCLR doesn't seem to be caching it. @AndyAyersMS is this expected to get optimized away?

[code]

[2017-11-15 18:13] AndyAyersMS commented on #763
In CoreCLR the `get_Default` method is the intrinsic, and it has caching via an implicit static field that is initialized by the cctor.

The cost of fetching the static field (which triggers the cctor  to initialize it if necessary, which is what calls the Create in Core) is pretty high even when the class is already initialized. So when we know what type of object `get_Default` must return and we

[2017-11-15 18:45] MichalStrehovsky opened #4936 "Support for default parameters in Delegate.DynamicInvoke"
If the delegate has default parameters, we currently don't use them in Delegate.DynamicInvoke calls because they get lost during compilation.

The work will be around implementing a synthetic override of `Delegate.GetDefaultValueString` for all delegate types that have default values in their signature. During the override generation, we will serialize information about default arguments in the st

[2017-11-15 21:16] jcouv opened #4938 "ILVerify is sensitive to spaces in handling InternalsVisibleTo"
The following Roslyn test illustrates the problem.
I have verified that the compiler emits the space into metadata (see output from ildasm below). So I expect that ILVerify would tolerate such spaces, just like PEVerify does.

From ildasm:
[code]

The test:
[code]

The test fails with:
[code]
Relates to this Roslyn fix: https://github.com/dotnet/roslyn/commit/9ee9c480

Tagging @gafter @VSadov @Arz

[2017-11-16 19:22] jcouv opened #4952 "IsDelegateAssignable should use stricter "Compatible" check"
Currently, it uses the "Assignable" check.

From https://github.com/dotnet/corert/pull/4945#pullrequestreview-77228996

Technically the types should be "Compatible". In the spec "Compatible" is more strict than "Assignable", since "Assignable" allows some reinterpretations. I.E. an int32 is Assignable to int8 - one can be assigned to another with implicit value truncation.
However int32 and int8 a

[2017-11-16 19:26] VSadov commented on #4952
Also if "IsAssignable" actually performs "IsCompatible", then perhaps rename the helper?

[2017-11-16 20:00] JensNordenbro commented on #4444
Hi @A-And ; since your changes that allow using dotnet-cli for building (Nice!!) I cannot get a simple
"dotnet web" project ([Reference Project setup](https://github.com/JensNordenbro/corert-experiments)) to work any more.
It works nice with "dotnet console". Maybe I have missunderstood how to add the rd.xml or something else. Here is the output from running "dotnet publish -r linux-arm" on Ubuntu

[2017-11-16 20:34] ArztSamuel commented on #4952
Doesn't ECMA define the `assignable-to` relation to extend the `compatible-with` relation though? Or do you actually mean that ECMA should define delegate-assignable-to with the `compatible-with` instead of `assignable-to` relation?

If I remember correctly, `IsAssignable` is pretty much the same as `CompatibleWith` of PEVerify. I also thought that this was a bit misleading and wanted to change th

[2017-11-16 21:04] VSadov commented on #4952
ECMA does define delegate-assignable-to in terms of compatible-with.

assignable-to is indeed an extension on top of compatible-with. I am not that familiar with the project to know what IsAssignable implements. If what it implements is closer to CompatibleWith, I can see how the naming could be confusing.

[2017-11-16 21:22] ArztSamuel commented on #4952
Oh I think we are talking about different ECMAs then. I was still working with [335](https://www.ecma-international.org/publications/standards/Ecma-335.htm), haha.
Are you refering to https://github.com/dotnet/csharplang/blob/master/spec/delegates.md#delegate-compatibility?

[2017-11-16 21:39] VSadov commented on #4952
Yes, 335. And it indeed defines it in terms of `assignable-to`.
Now I am not sure where I was looking to see `compatible-with`.

[2017-11-16 21:47] VSadov commented on #4952
Sorry for confusion.
I think we still need a test in this area :-)

[2017-11-16 22:00] ArztSamuel commented on #4952
No worries.
I agree, but to be clear, would this test be valid or invalid now?
Is a target method with signature `int()` delegate-assignable-to a delegate with signature `byte()` in IL?
C# obviously doesn't allow it, however ECMA defines that it is valid IL, right?

[2017-11-16 22:04] jkotas commented on #4952
It has to be invalid. It cannot work well at runtime.

[2017-11-16 22:11] #4938 closed

[2017-11-16 22:38] jkotas commented on #4444
The `undefined reference to `CryptoNative_ErrGetErrorAlloc` errors are caused by missing reference to https://github.com/dotnet/corefx/tree/master/src/Native/Unix/System.Security.Cryptography.Native . We do not have yet .a file for this library available out of the box yet - I am not sure how it could have ever worked.

[2017-11-16 23:20] jkotas commented on #3895
This was fixed by https://github.com/dotnet/corert/pull/4788

[2017-11-16 23:20] #3895 closed

[2017-11-16 23:20] #428 closed

[2017-11-17 00:45] jcouv commented on #3734
As part of working on integrating ILVerify into the test framework for Roslyn, I [prototyped](https://github.com/dotnet/corert/compare/master...jcouv:verify-roslyn?expand=1) a simple API (note: this is not a PR for review, I left a number of temporary hacks in there).

Basically, a new public type (`Verifier`) which can be constructed or created, and has two methods:
- `bool AddModule(ImmutableArr

[2017-11-17 01:04] VSadov commented on #4952
I have checked with PEverify and it does not allow even such differences as int/uint in terms of return type.

It does look like PEVerify requires `compatible-with` for the purpose of delegate compatibility/assignability. I am not sure whether this is something that needs to be changed in the ECMA or implementation is intentionally more strict than spec requires.

Ayways, it feels like ILVerify sh

[2017-11-17 01:12] jkotas commented on #3734
We should build the .exe tool and tests on top of the same API. It will ensure that the API is reasonably flexible, and that we don't have to redo it from the ground up multiple times.

I do not think that the API should take the modules as `ImmutableArray<byte>` upfront. It implies that the caller of the API has to open all potential files that the verification may need and read them into memory.

[2017-11-17 01:26] VSadov commented on #3734
I agree with not requiring the caller to read/resolve.
But there is also a case when we have the set if all possible/expected dependencies already in a form of byte arrays. I think this case should be allowed.

Peehaps verifier ahould take abstract resolver as an input and a trivial implementation of resolver would be a bag pre-filled with binaries.

[2017-11-17 10:36] srxqds opened #4955 "can this will support ios or android mobile platform?"
can this will support ios or android mobile platform in plan?

[2017-11-17 14:20] alpencolt opened #4956 "[ARM32] Infinite loop in ILCompiler.DependencyAnalysisFramework.DependencyAnalyzer:ProcessMarkStack()"
`RecursiveTailCall.exe` from BringUpTests when being cross-compiled on x86 host hangs in `ILCompiler.DependencyAnalysisFramework.DependencyAnalyzer:ProcessMarkStack()`.
I've tried revert latest commits in CoreRT but it's in vane.

cc @dotnet/arm32-corert-contrib

[2017-11-17 15:02] jkotas commented on #4955
Not in our plan for foreseeable future. We will be happy to accept changes to add the support if somebody is interested in contributing them.

BTW: Have you checked Mono (https://github.com/mono/mono) ? It is .NET runtime that supports ios and android today.

[2017-11-17 17:10] MichalStrehovsky commented on #4956
Duplicate of #363? We have multiple CoreCLR tests blocked on this bug in [CoreClr.issues.targets](https://github.com/dotnet/corert/blob/b295b1a3ac5b53717109f5da330b54a707a5ee82/tests/CoreCLR.issues.targets#L19).

[2017-11-17 17:26] jkotas commented on #4956
Yes, it is duplicate of #363.

[2017-11-17 17:26] #4956 closed

[2017-11-17 22:33] VSadov opened #4958 "Ordering unimplemented ILVerify errors by their impact in compiler output validation"
This is very subjective. Most unimplemented errors between `UnknownOpcode` and `ThisMismatch` are interesting.

My approach here is to prioritize the errors by the chances of seeing such violation without triggering some internal asserts.

Bugs at higher levels of abstraction typically result in logically incorrect and yet valid IL. Bugs at lower levels often result in malformed IL and that is whe

[2017-11-17 22:39] VSadov commented on #4958
CC: @jcouv @ArztSamuel @jkotas

[2017-11-18 11:00] ArztSamuel commented on #4958
Thanks, that is very helpful!

If I remember correctly the following ER specific errors are actually already reported, but with different names / messages:

Branching out of a finally block currently reports a `BranchOutOfHandler` error, since finally blocks are also categorized as handlers by our current data structures. It would be possible to change the code to report this more specific error i

[2017-11-18 16:50] ArztSamuel commented on #4958
Resolved `E_BR_OUTOF_FIN`, `E_BR_TO_EXCEPTION`, `E_FALLTHRU_EXCEP`, `E_FALLTHRU_INTO_HND`, `E_FALLTHRU_INTO_FIL` and `E_LEAVE` through #4960.

[2017-11-18 18:55] VSadov commented on #4958
Thanks!! I only used error list with assumption that if error is used then the scenario is most likely handled. The opposite is indeed not necessarily true.

Yes I also find it odd that there is an error for leave outside handlers. I think it is defined as goto with clear eval stack. Could even be useful if it really works like that. Perhaps there is some subtle rule that makes it illegal, or it i

[2017-11-18 19:23] ArztSamuel commented on #4958
Yes, true. I forgot to mention that the evaluation stack is additionally cleared by the leave instruction.

PEVerify actually doesn't report a leave outside exception regions as an error (I have tested that). I have only seen this error being used for other rules of the leave instruction, like leaving out of a finally block. It is just the message that is kind of misleading.

A note in ECMA (`I.12

[2017-11-19 18:39] ArztSamuel commented on #4958
I have had a quick look at all errors now:

I am not sure what this error was defined for in PEVerify. I couldn't find any code that actually reports this error. When the stack is poped even though it is empty, ILVerify reports `StackUnderflow`.

This error is never reported by PEVerify and I even found a comment in the source code saying:
`// backwards branch with uninitialized 'this' is actually

[2017-11-19 19:57] jkotas opened #4963 "Go over ILVerify TODOs"

[2017-11-19 19:59] jkotas commented on #4958
These errors are deprecated. The implementation of PEVerify morphed a lot over the years - they were likely used in the earlier versions of PEVerify and later removed. Could you please submit PR to cleanup all the unused errors?

Agree. BTW: I have run into nonsensical errors reported by PEVerify. I have tried to match PEVerify for some time to make side-by-side comparison of errors easier, and ad

[2017-11-19 21:59] ArztSamuel commented on #4958
Of course, done in #4965.

[2017-11-19 23:02] VSadov commented on #4958
I also found some of the errors unfamiliar. I assumed they cover rare situations.
I still ordered them by what looked to be their category - control flow, stack, etc, but some looked pretty strange or redundant.

Removing deprecated ones seems right thung to do

[2017-11-19 23:36] VSadov commented on #4958
//E_SIG_VAR_PARAM "Unrecognized type parameter of enclosing class."
//E_SIG_MVAR_PARAM "Unrecognized type parameter of enclosing method."
//E_SIG_VAR_ARG "Unrecognized type argument of referenced class instantiation."
//E_SIG_MVAR_ARG "Unrecognized type argument of referenced method instantiation."
//E_SIG_GENERICINST "Cannot resolve generic type."

These seem to refer to situations when, for exam

[2017-11-20 00:22] jkotas commented on #4958
These fall into the metadata validation errors. ILVerify does a basic validation as part of the type loading.

The ECMA spec has the backward branch rule that requires the verification to be a single pass. The implemented IL verification has not ever been single pass - the backward branch rule was never enforced.

[2017-11-20 02:55] VSadov commented on #4958
Being an independent tool it may make sense for ILVerify be a single pass. It might actually be easier for the implementation.

(by 1 pass i mean “logically 1 pass”, - I.E. not the kind that repeats the analysis once/if more data about backwards branches is discovered)

Perhaps the backward branch rule for uninitialized ‘this’ should be enforced. It should not be hard and I doubt there are violati

[2017-11-20 04:00] jkotas commented on #4958
I think we should make ILVerify compatible with PEVerify by default. I do not think there is much value in enforcing stronger rules than what PEVerify and JIT-time verification enforced since forever.

It maybe ok to have a stronger rules in the opt-in warning mode: https://github.com/dotnet/corert/issues/3586

[2017-11-20 08:32] JensNordenbro commented on #4444
@jkotas; checked my work-VM; turns out it built the "dotnet web" on Windows, not WSL. Never the less using the dotnet-tooling on this Windows environement  I get:

   at web!<BaseAddress>+0x8cad9
   at web!<BaseAddress>+0x8b8a3
   at web!<BaseAddress>+0x8a62b
   at Microsoft.AspNetCore.Hosting.WebHostBuilderExtensions.<>c__DisplayClass1_0.<UseStartup>b__

..when trying to run the output exe after

[2017-11-20 12:38] MichalStrehovsky commented on #4444
The file name needs to be specified in the RdXmlFile property otherwise the compiler won't see it.

[2017-11-21 05:11] VSadov commented on #4958
Talked with @jkotas about the "single pass" requirements in more details.

ECMA335 does specify that
[code]

However no real implementation seem to be requiring this. We should review whether the requirement should be dropped from the spec.

That said, some of these cases, while ok with the JIT and type-safety, are often indicative of bugs in IL generator. Besides, some rules are still enforced in

[2017-11-21 07:12] VSadov commented on #4958
Still wonder about the following. Are different errors reported for these?

//E_TRY_EQ_HND_FIL "Try and filter/handler blocks are equivalent."
//E_HND_OVERLAP "Handler block overlaps with another block."
//E_FIL_OVERLAP "Filter block overlaps with another block."
//E_FIL_EQ "Filter block is the same as another block."
//E_FIL_START "Filter starts in the middle of an instruction."
//E_ENDFILTER_MIS

[2017-11-21 09:49] ArztSamuel commented on #4958
As far as I am aware, the validation of the start/end offsets of exception regions is not implemented for ILVerify at all yet. It could well be that these errors are handled by other errors in PEVerify, but I think it would make sense to keep these errors in the list of this issue until we have unit tests for ILVerify confirming that these cases are handled appropriately.

[2017-11-21 18:13] jkotas commented on #1285
@tonerdo Could you open github issues on the followup up work items for this that you are aware of, and link them to this issue?

[2017-11-21 19:30] #763 closed

[2017-11-21 20:55] tonerdo commented on #1285
@jkotas will do 👍

[2017-11-21 22:30] MichalStrehovsky commented on #1570
I think this was fixed in #4870.

[2017-11-21 22:30] #1570 closed

[2017-11-22 09:23] tonerdo opened #4985 "Tests for building native libraries"
Unit tests need to be added for building native libraries with CoreRT. Both shared and static libraries should be tested.

Parent issue: #1285

[2017-11-22 10:05] tonerdo opened #4986 "Automatic generation of method export file for shared libraries"
At this time when building a shared library on Windows (.dll) you have to specify the path to a handcrafted .def file. The compiler should automatically generate a def file on Windows for all methods marked with the `NativeCallable` attributes

Parent issue: #1285

[2017-11-22 10:18] tonerdo opened #4987 "Add building native libraries to documentation"
The documentation should be updated with the process for building both static and shared libraries on the different platforms

Parent issue: #1285

[2017-11-22 10:30] tonerdo opened #4988 "Fix building Ubuntu shared libraries"
Currently building shared libraries (.so) on Ubuntu throws the below error:

[code]

Parent issue: #1285

[2017-11-22 12:55] jkotas commented on #4986
All methods in user supplied assemblies. NativeCallable entry points used internally by the implementation should be excluded.

[2017-11-22 23:31] jkotas opened #4994 "Errors on Unix when changing decimal to explicit layout"
_From @stephentoub on November 22, 2017 5:13_

As part of unifying decimal's formatting code between coreclr and corert, @jkotas suggested I make decimal have an explicit layout, as it is in corert.  In doing so, a handful of JIT tests started failing:
[code]
The failures would seem to indicate a JIT/runtime bug, as they're frequently eminating from code other than decimal, suggesting that somethi

[2017-11-22 23:31] jkotas commented on #4994
_From @janvorli on November 22, 2017 18:24_

I may be wrong, but I think that the Unix amd64 ABI support in coreclr cannot pass / return structs with explicit layout by value in registers. Looking at the https://github.com/dotnet/coreclr/commit/dc35586ecd37be9d2517244175da8b84a1237005, it looks like the struct would be a candidate for passing in registers and so if we pass or return such struct fr

[2017-11-22 23:31] jkotas commented on #4994
You are probably right. It would meant that marking Decimal as ExplicitLayout would be a breaking change.

I am wondering whether https://github.com/dotnet/corefx/blob/master/src/System.Memory/Common/src/System/MutableDecimal.cs is the better solution for the explicit layout problem. As side-effect, it would get rid of majority of the places where we mutate the Decimal fields internally and allowe