[2017-01-11 19:51] christianscheuer commented on #2480
Stacktrace:
[code]
(Thread) $0 = {
  ThreadBuffer = {
    m_rgbAllocContextBuffer = {
      [0] = '\0'
      [1] = '\0'
      [2] = '\0'
      [3] = '\0'
      [4] = '\0'
      [5] = '\0'
      [6] = '\0'
      [7] = '\0'
      [8] = '\0'
      [9] = '\0'
      [10] = '\0'
      [11] = '\0'
      [12] = '\0'
      [13] = '\0'
      [14] = '\0'
      [15] = '\0'
      [16] = '\0'
      [17] = '\0'

[2017-01-11 20:26] janvorli commented on #2480
So the value at frame 1 is not valid, looks like it is freshly initialized, while the one at frame 2 is likely correct. My quick guess is that when the OSX runtime calls the TlsObjectDestructor, it has already removed the tls_CurrentThread from the TLS and somehow attempt to access it on the thread again creates a fresh copy of it.

It seems we will need to modify the thread shutdown code so that

[2017-01-11 21:07] nattress opened #2486 "[CppCodeGen] C++ Code-gen cannot handle typeof(void*)"
System_Private_TypeLoader::Internal::Runtime::TypeLoader::EETypeCreator::CreateEEType gets the TypeHandle for void*:

`RuntimeTypeHandle templateTypeHandle = typeof(void*).TypeHandle;`

The generated C++ is invalid:
`void* _33 = ::System_Private_CoreLib::System::Type::GetTypeFromHandle(::System_Private_CoreLib::Internal::Runtime::CompilerHelpers::LdTokenHelpers::GetRuntimeTypeHandle((intptr_t)void

[2017-01-12 01:57] christianscheuer opened #2489 "Intermittent AV in EEType::get_BaseSize called by Exception.ToString() in a catch block"
I get an intermittent access violation / `EXC_BAD_ACCESS` in EEType::get_BaseSize (called by `Exception.ToString()` in a catch block), because the this pointer is 0.
OS: OSX.

Frame 1:
[code]

Frame 1 variables:
[code]

Frame 2:
[code]

Frame 2 variables:
[code]

Frame 3:
[code]
Frame 3 variables:
[code]

Frame 4:
[code]

Frame 4 variables:
[code]

Full stack trace:
[code]

[2017-01-12 03:53] christianscheuer opened #2490 "P/Invoke regression in PR #2470 on OSX"
PR #2470 introduced a regression on OSX when calling `Marshal.AllocCoTaskMem` directly from user code. It worked before, but now winds up throwing an exception with the following message:
`api-ms-win-core-com-l1-1-0.dll`

Stacktrace:
[code]

[2017-01-12 04:00] jkotas commented on #2490
@yizhang82 Could you please take a look? Fixing this is part of https://github.com/dotnet/corert/issues/669

[2017-01-12 04:01] jkotas commented on #1895
Not needed for CoreRT

[2017-01-12 04:01] #1895 closed

[2017-01-12 04:05] jkotas commented on #2489
This may be symptom of https://github.com/dotnet/corert/issues/2480. Let's wait for it to be fixed first and see whether it still repros.

[2017-01-12 04:08] jkotas commented on #2486
This should be easy one to fix.

[2017-01-12 04:34] yizhang82 commented on #2490
@christianscheuer Thanks for reporting the issue. Actually Marshal.AllocCoTaskMem works in OSX by accident. It is pointing to the wrong DLL. Now it is just getting exposed by the correct lazy resolution support.
[code]

[2017-01-12 05:34] yizhang82 commented on #2490
I think for the most part we could avoid having a shim for S.P.Interop - we can move the x-plat stuff to S.P.CoreLib, and keep the COM/WinRT stuff in S.P.Interop.

[2017-01-13 04:08] MichalStrehovsky opened #2498 "System.NotImplementedException: NYI"
We are seeing a lot of compilation failures in the KnownGood CoreCLR tests:

[code]

This is from the last rolling build, before it timed out:
https://ci.dot.net/job/dotnet_corert/job/master/job/debug_windows_nt/167/consoleText

Sample failing test would be `tests_downloaded\CoreCLR\JIT\jit64\valuetypes\nullable\castclass\null\castclass-null034`.

[2017-01-13 05:49] MichalStrehovsky commented on #367
As per dotnet/standard#20 this will be part of the .NET Standard. Exact prioritization TBD, but reopening.

[2017-01-13 05:50] MichalStrehovsky commented on #395
As per dotnet/standard#20 this will be part of the .NET Standard. Exact prioritization TBD, but reopening.

[2017-01-13 21:25] #2498 closed

[2017-01-14 01:59] #2115 closed

[2017-01-14 17:24] MihaMarkic commented on #1285
This is a great proposition and would be of immense value. Hopefully it will be implemented.

[2017-01-15 14:45] mikedn commented on #2486
Hmm, doesn't seem that easy :). I suppose that there should be a class that represents `void*` so you can call `__getMethodTable` on it. But such a class doesn't seem to be generates, I don't even see pointer types reaching the CPP code generator.

[2017-01-16 20:48] jkotas opened #2516 "[CppCodeGen] C++ Code-gen cannot handle typeof(Nullable<>)"
`typeof(Nullable<>).ToString();`

Fails with:

[code]

[2017-01-16 21:03] jkotas commented on #2486
Parametrized types were incorrectly filtered out during the type emission, and the EEType mangled name used for them was not right either. Fixed in #2517

[2017-01-16 21:03] jkotas commented on #2516
@MichalStrehovsky What is the problem here?

[2017-01-17 01:45] MichalStrehovsky commented on #2516
The immediate assert is because we attempted to generate an EEType for `Nullable<!0>`. Things took a wrong turn at some point. EEType for the uninstantiated `Nullable<T>` should be the definition `EcmaType` for `Nullable`, not `Nullable` instantiated over a signature variable.

[2017-01-17 03:16] jkotas opened #2518 "[CppCodeGen] Make Reflection.Execution compile"
This is pre-requisite for making reflection work (https://github.com/dotnet/corert/issues/2035):

Repro:

1. Comment out if check: https://github.com/dotnet/corert/blob/358c94561e9ecec4e4ed9d0da42b0fc3cd56a96a/src/ILCompiler.Compiler/src/Compiler/LibraryInitializers.cs#L69
2. Compile "Hello world" using CppCodeGen

[2017-01-17 03:21] jkotas commented on #2035
The current problem is:

[code]

[2017-01-17 03:22] jkotas commented on #2518
The current problem is:

[code]

[2017-01-17 03:24] jkotas commented on #2516
I see - I will fold this fix into the other change.

[2017-01-17 03:24] #2516 closed

[2017-01-17 14:51] mancoast opened #2519 "Compile .NET to native k1om architecture"
Greetings!

I would like to request support for native compilation on KNC Xeon PHI.

Thanks,
coast

[2017-01-17 17:03] jkotas commented on #2519
https://en.wikipedia.org/wiki/Xeon_Phi

There are really two distinct problem:

- How to get the code compiled to native instructions. There are several strategies possible in the context of CoreRT. The easiest one to start with is using CppCodeGen. You can read more about CppCodeGen here: https://blogs.msdn.microsoft.com/alphageek/2016/10/13/native-compilation-why-jit-when-you-can-codegen/. @manc

[2017-01-17 17:52] #2486 closed

[2017-01-17 18:09] sandreenko opened #2520 "Interface dispatch to canonical methods on valuetypes"
Repro:
static void Main() { throw new Exception(); }
compile with  --usesharedgenerics and run, you would see:

in the debugger and then

in the output.

Is it expected behavior or duplicate? It was found in #2484.

[2017-01-17 18:40] jkotas commented on #2520
Looks like a bug in shared generics
cc @MichalStrehovsky

[2017-01-17 19:05] MichalStrehovsky commented on #2520
This is an interface call to a shared generic method body on a valuetype going wrong.

The codegen expects:
[code]

What we have instead is `RDX = garbage`. I need to look into how Project N does this.

[2017-01-17 20:19] mikedn commented on #2518
Presumably CppCodeGen has not support for exception handling and the best that can be done atm is to just push a null on the stack of the handler BB?

[2017-01-17 22:26] #2482 closed

[2017-01-17 23:13] MichalStrehovsky commented on #2520
Okay - so on Project N, NUTC compiles a thunk that does unbox+shuffle to match up the target calling convention.

Just need to come up with a nice way to express this in the type system so that we can ask the codegen to compile such thunk from IL. I don't think we would want that to be handwritten assembly.

In the thunk body, NUTC generates a `LDFLDA` with a magic token (look for `// Emit ldflda

[2017-01-18 02:49] MichalStrehovsky opened #2526 "Complex constrainted method calls in shared generic code"
[code]

We need to ensure that the compile time constraint resolution logic doesn't statically resolve the interface call to `IFoo.Frob` within the method body of `Frob<Foo<__Canon>, __Canon>`.

[2017-01-18 04:20] jkotas commented on #2518
The handlers should not be getting compiled right now. If they are getting pulled in somehow in this method (what is special about this method that pulls them in?), I agree that pushing null on the stack would be a fine for now.

[2017-01-18 16:08] mancoast commented on #2519
@jkotas I will attempt transpilation.
"One strategy we are investigating is the ability to transpile .NET code to C++ code that could be compiled with an appropriate C++ compiler for the target platform."

I would like to utilize CppCodeGen with travis.yml
Then we can utilize travis.yml with Intel Stack:
https://github.com/nemequ/icc-travis
EX. https://github.com/edanor/umesimd/blob/master/.travis

[2017-01-18 18:41] MichalStrehovsky commented on #2040
@DnlHarvey Can we close this?

[2017-01-18 19:02] mikedn commented on #2518
Yep, that seems to be the intention of the existing code. But this is done by not creating BBs for catch handlers and this results in nested finally BBs falling through into the catch BB code. I'll try to fix it one of these days.

[2017-01-18 19:05] DnlHarvey commented on #2040
Yes, this should be done.

[2017-01-18 19:05] #2040 closed

[2017-01-18 19:22] jkotas opened #2535 "Windows x64 unwinder gets consused by IP in the middle of instruction"
The handling of hardware exceptions has a hack where it adds +1 to the actual instruction IP: https://github.com/dotnet/corert/blob/de5c6d3728592c6e6ec0981bedb43db8afca1206/src/Native/Runtime/amd64/ExceptionHandling.asm#L43

The Windows x64 unwinder is disassembling instructions at the IP passed in to detect method epilogs. If the bytes at IP + 1 happened to match the epilog pattern, the unwind is

[2017-01-18 19:31] jkotas commented on #2535
This is causing several tests (b30126, b30128) to fail intermittently in the KnownGood CoreCLR runs.

[2017-01-19 00:03] jkotas commented on #2535
We may need to track adjustments done by AdjustReturnAddressForward/AdjustReturnAddressBackward and related code explicitly so that we can always get a good IP for the unwinder.

FYI @janvorli - interesting bug

[2017-01-19 01:48] janvorli commented on #2535
I wonder if we could have a flag in the stack walker that would be set for hardware exception frames and cleared for other frames. I believe both Unix and Windows unwinders provide identification of hardware exception frame.
So we would not augment the IP in the context that we capture at the hardware exception. And we would skip calling AdjustReturnAddressForward or AdjustReturnAddressBackward if

[2017-01-19 10:16] christianscheuer commented on #2480
Fixed in #2531

[2017-01-19 10:16] #2480 closed

[2017-01-19 16:37] hoyMS opened #2542 "Enable Indirect Pointer for Interface Dispatch Cell"
In InterfaceDispatchCellNode.GetData only supports pointer reloc type. In order to handle multifile, indirect pointer reloc type is needed.

[2017-01-20 15:13] marek-safar opened #2549 "System.Tuple<> types are not Serializable"
which breaks compatibility with CoreCLR and .NET Framework

[2017-01-20 19:08] stephentoub commented on #2549
FWIW, this is just one case of this.  We went through coreclr and corefx adding back a bunch of serialization attribution and implementation, and that en mass hasn't made its way to corert yet.

[2017-01-21 00:36] #2549 closed

[2017-01-21 16:29] jkotas commented on #910
The plan should be:

- Piggy back on C++ exception handling
- Use explicit checks instead of hardware exceptions (e.g. explicit checks for null reference exceptions)

[Unity IP2CPP internals blog](https://blogs.unity3d.com/2015/05/13/il2cpp-internals-a-tour-of-generated-code/) shows example of possible way to do this. [Mono LLVM pure bitcode](http://www.mono-project.com/docs/advanced/runtime/docs/

[2017-01-21 16:30] #2518 closed

[2017-01-22 16:40] #2466 closed

[2017-01-23 01:50] jkotas commented on #2359
The same crash repros with ProjectN as well. The problem is that the runtime does not handle  exceptions thrown from filters.

Minimal repro:

[code]

[2017-01-24 17:33] MichalStrehovsky opened #2568 "[Multifile] Static bases not generated if they're not used"
If I have:

## A.dll:

[code]

## B.exe

[code]

The result won't link because we didn't generate the static base for `Foo` in A.obj (since it's never used in A.dll), and when compiling B.exe, we thought we can just use a symbol reference to reach it.

This is a problem for all three kinds of static bases we have.

[2017-01-24 20:29] shrah opened #2570 "Port CriticalHandle and HandleRef to CoreLib"
We need to port CriticalHandle and HandleRef to CoreLib in order to have P/Invoke support for them.

[2017-01-24 21:31] #2124 closed

[2017-01-24 21:58] MichalStrehovsky commented on #2403
This was fixed in the above CoreCLR pull request.

[2017-01-24 21:58] #2403 closed

[2017-01-24 23:39] #383 closed

[2017-01-24 23:39] #696 closed

[2017-01-25 01:18] jkotas commented on #2489
@christianscheuer Are you still able to hit this crash with the fix for #2480 ?

[2017-01-25 02:00] #2535 closed

[2017-01-25 07:29] MichalStrehovsky commented on #209
Basic support implemented in #2317.

[2017-01-25 07:29] #209 closed

[2017-01-25 07:31] MichalStrehovsky commented on #1129
Ordering problem avoided with #2488.

[2017-01-25 07:31] #1129 closed

[2017-01-25 07:32] MichalStrehovsky commented on #1964
Fixed in #2175. More work tracked in #2178.

[2017-01-25 07:32] #1964 closed

[2017-01-25 10:19] christianscheuer commented on #2489
@jkotas no I think your assumption was right, that it was fixed in the fix for #2480. I'll reopen if I encounter it again. Thanks!

[2017-01-25 10:19] #2489 closed

[2017-01-25 10:20] christianscheuer commented on #2474
This seems to be fixed as part of the fix for #2480. Closing for now.

[2017-01-25 10:20] #2474 closed

[2017-01-25 20:43] SedarG opened #2588 "Port random hashing to CoreRT"
[InternalHashSortKey](https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Globalization/CompareInfo.Unix.cs#L353) implementation would need to create secure random hash. See [COMNlsHashProvider::HashSortKey](https://github.com/dotnet/coreclr/blob/master/src/vm/comutilnative.cpp#L2972) for how it's implemented on CoreCLR.

[2017-01-27 01:45] nattress opened #2601 "WinRT P/Invokes in System.Private.Interop prevent eager p/invoke generation"
We have to make P/Invokes lazily resolved when building System.Private.Interop since there are several WinRT APIs we don't link against on Windows and can't link against on Unix. Possibly related to https://github.com/dotnet/corert/issues/669. It would be nice to factor these out of System.Private.Interop to a WinRT-specific piece so CoreRT doesn't need to worry about them.

The APIs:
- CCWAddRef

[2017-01-27 11:16] #2362 closed

[2017-01-27 12:23] jkotas opened #2606 "Linux ARM port discussion"
- Build the right flavor of cross-targeting RuyJIT. Linux x64 hosted, arm targeting? https://github.com/dotnet/corert/issues/2381#issuecomment-268010021 talks about issues to watch for.
- Add command line switch to specify target architecture and platform to ilc (the CoreRT managed->native compiler). The cross targeting support in the CoreRT compiler should be wired in internally for the most part

[2017-01-27 12:27] jkotas commented on #2606
@sergign60 @Dmitri-Botcharnikov Here are some of the big items I can think of. You are welcomed to add more or ask questions here.

[2017-01-27 12:47] jkotas commented on #2606
Also check issues from the earlier ARM port effort for some of the problems you may run into:

https://github.com/dotnet/corert/issues/609
https://github.com/dotnet/corert/issues/458
https://github.com/dotnet/corert/issues/428

[2017-01-27 19:45] MichalStrehovsky opened #2608 "Investigate tests that fail with RyuJIT optimizations disabled"
Could be related to not having precise GC reporting but I don't know enough about GC to even be able to tell what's a precise GC. I just know it exists, so take that with a grain of salt.

Two buckets to investigate:

Non-deterministically failing in the CI (sounds more important):

[code]

Deterministically failing in the CI:

[code]

[2017-01-27 19:55] MichalStrehovsky commented on #2568
Simon fixed this with #2586.

[2017-01-27 19:55] #2568 closed

[2017-01-27 19:56] MichalStrehovsky commented on #1050
@nattress is there any work remaining for this?

[2017-01-27 20:03] #2520 closed

[2017-01-27 21:02] MichalStrehovsky commented on #34
We have coverage for platform specific rules in ArchitectureSpecificFieldLayoutTests.cs.

[2017-01-27 21:02] #34 closed

[2017-01-29 03:05] #2184 closed

[2017-01-30 07:16] perlun opened #2619 "FileNotFoundException: [TEMPORARY EXCEPTION MESSAGE] FileLoadErrorGeneric: NLog on build"
I get this error when trying to build my app with CoreRT, using RyuJIT:

[code]

The contents of the `bin/Debug/netcoreapp1.0/` folder is this; I presume the `NLog.dll` would have to be included in that folder for it to work:

[code]

This is the contents of my `.csproj` file:

[code]

[2017-01-30 15:39] jkotas commented on #2619
Correct. Microsoft.NETCore.Native.targets does not pick up package references yet. You can try working around this by explicitly adding the NLog.dll as via `<IlcReference Include="...path to NLog.dll ..." />`.

[2017-01-30 17:18] perlun commented on #2619
Thanks! Something like `~/.nuget/packages/NLog/5.0.0-beta04/lib/netstandard1.5/NLog.dll`? Feels quite kludgy, but I can try - thanks. Will report here if I get it working or not.

[2017-01-30 17:38] jkotas commented on #2619
Yes.

Agree. The right fix is to use the package implementation references in Microsoft.NETCore.Native.targets. It requires some reverse engineering of the msbuild scripts, but it should not be that hard.

[2017-01-31 07:48] sergign60 commented on #2606
@jkotas thanks!

[2017-01-31 20:01] tijoytom opened #2625 "DWARF debug headers missing from OSX native binaries produced by RyuJIT"
Follow the documentation https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-console-shell-prompt.md to setup ILC compiler to work with CLI

Linux ( Ubunutu 14.04LTE)
objdump -h  bin/Debug/netcoreapp1.0/native/hello

Idx Name          Size      VMA               LMA               File off  Algn
  0 .interp       0000001c  0000000000400270  0000000000400270

[2017-01-31 20:15] MichalStrehovsky commented on #2625
FWIW, the line number information was supposedly enabled in #837. This sounds like a regression.

Dwarf debug info for types and vars is tracked in #785 and #783, respectively.

[2017-02-01 15:39] marek-safar opened #2632 "Missing CoreCLR TimeZone type"
I could not find copy of [TimeZone](https://github.com/dotnet/coreclr/blob/7ced6b540e5c2fd7ed49661dc0b182d65a413949/src/mscorlib/src/System/TimeZone.cs) in CoreRT repo

[2017-02-01 16:40] marek-safar opened #2633 "TimeZoneInfo::HasSameRules is internal"
but it's part of a public surface in CoreClr/CoreFX

[2017-02-01 17:09] MichalStrehovsky commented on #2632
As a general rule, if [the API](https://apisof.net/catalog/System.TimeZone) was introduced in NetStandard 2.0, chances are it won't be in the CoreRT repo yet.

@joshfree Can you please label/milestone/assign this as appropriate?

[2017-02-01 17:10] MichalStrehovsky commented on #2633
This is a new API in NetStandard 2.0.

@joshfree Can you please label/milestone/assign this as appropriate?

[2017-02-01 20:17] joshfree commented on #2633
@zamont can you please pick this up?

[2017-02-01 22:00] #1105 closed

[2017-02-02 02:22] sandreenko commented on #2625
@MichalStrehovsky are you sure that it worked in the past? I have tried to checkout old commits and wasn't able to set breakpoint set -n MyFunctionName there.

[2017-02-02 02:24] MichalStrehovsky commented on #2625
I don't have personal experience - I just remembered there was a commit supposedly enabling it.

[2017-02-02 03:27] #2392 closed

[2017-02-02 04:49] jkotas opened #2640 "Port CoreCLR threadpool perf improvements"
https://github.com/dotnet/coreclr/pull/9234

[2017-02-02 04:51] jkotas commented on #2640
cc @stephentoub Since this is not going to be trivial port and you are planning to do more changes there, we may want to do all of them together at the end.

[2017-02-02 04:51] stephentoub commented on #2640
Sounds good

[2017-02-02 15:56] #2633 closed

[2017-02-02 19:16] jkotas commented on #2640
cc @sergiy-k

[2017-02-02 19:37] MichalStrehovsky opened #2645 "Michal's pet peeves"
This will be a running list of things I would like to fix, but not very many people will care about. Just a way to avoid spamming issues list while keeping the list available online.

- [ ] Clean up fallout from #2643: remove both instantiation parameters on `GenericLookupResult::GetTarget` since they're redundant with the generic dictionary parameter. Look into deleting `GetInterfaceDispatchCell`

[2017-02-02 21:49] SedarG commented on #2110
This is fixed with https://github.com/dotnet/corert/commit/7946f402e0954b16021f190ec5d5f115169fd7de
I confirmed that the sample code above gets compiled, linked and run correctly on OSX

[2017-02-02 21:49] #2110 closed

[2017-02-02 22:38] #285 closed

[2017-02-02 22:45] fadimounir commented on #278
@AlexGhiondea could you please provide a brief explanation of what this issue is about?

[2017-02-02 23:07] SedarG commented on #1569
In addition to System.Native.a, we now produce the static library for system.globalization.native. This library is being packaged in [Microsoft.NETCore.Native](https://github.com/dotnet/coreclr/tree/master/src/.nuget/Microsoft.NETCore.Native) and is being uploaded to package store (currently to MyGet). The intention is to add the other PALs into this NuGet package as needed and consume it from Cor

[2017-02-02 23:08] SedarG commented on #559
We have [Microsft.NETCore.Native](https://github.com/dotnet/coreclr/tree/master/src/.nuget/Microsoft.NETCore.Native) for this purpose

[2017-02-02 23:08] #559 closed

[2017-02-02 23:16] jkotas commented on #278
Make https://github.com/dotnet/corert/blob/26413145abcbdd49468db230a6f29784494f6f46/src/System.Private.CoreLib/src/Internal/Runtime/Augments/DynamicDelegateAugments.cs#L39 work

[2017-02-02 23:22] fadimounir commented on #278
Thanks!

[2017-02-03 01:21] zhenlan commented on #279
UWP toolchain has a component doing this "Dispatch proxy" function. Why does this need to be ported?

[2017-02-03 06:37] AlexGhiondea commented on #279
@zhenlan this is a very old issue -- it is possible it is no longer relevant.

[2017-02-03 17:40] #2104 closed

[2017-02-03 18:59] zhenlan commented on #279
@AlexGhiondea thanks. I didn't realized this was opened long time ago as I just received an auto mailer of this 😃. I think we can close this issue unless we have something specific we like to do with this issue.

[2017-02-03 19:16] nattress commented on #2645
I was planning to fix up DefinedSymbols anyway having added `AddSymbol` so I'll take that one. I agree on RequireAlignment too. Perhaps we should rename it to `SetObjectAlignment` or something so it's clear it's a one-time configuration operation.

[2017-02-03 21:58] AtsushiKan opened #2655 "Remove toolchain workaround in UnitySerializationHolder.cs"
Once the .Net Native toolchain can handle it, replace the <a href="https://github.com/dotnet/corert/blob/nmirror/src/System.Private.CoreLib/src/System/UnitySerializationHolder.cs#L281">RuntimeAugments call</a> with the original call to Type.GetType().

[2017-02-05 08:17] jkotas opened #2666 "Port Enum performance parsing/formatting optimizations from CoreCLR"
Enum performance parsing/formatting optimizations done in CoreCLR:

https://github.com/dotnet/coreclr/pull/9340
https://github.com/dotnet/coreclr/pull/6645
https://github.com/dotnet/coreclr/pull/3061
https://github.com/dotnet/coreclr/pull/81

We should make sure to port these optimizations; and verify that the Enum parsing/formatting performance is on par with CoreCLR.

[2017-02-06 15:05] jkotas opened #2669 "Port: Make EnsureSufficientExecutionStack less conservative"
Port fix for https://github.com/dotnet/coreclr/issues/9167 from CoreCLR

[2017-02-06 15:05] jkotas commented on #2669
cc @kouvel

[2017-02-06 15:39] christianscheuer commented on #2490
@yizhang82 @jkotas
I was able to work around the specific issue by calling malloc directly. But I'm hitting this in other places as well. Can you point me in the right direction if I may be able to help out fixing this?

By the way, I'm getting a process crash when the following RhpThrow gets caught in a catch handler that then calls Exception.ToString() to get the stack trace. Should I file that

[2017-02-06 15:44] jkotas commented on #2490
It is not expected.

[2017-02-06 16:31] jkotas commented on #2606
- [ ] FP convention differences: RyuJIT is using R11 as FP; CoreRT code is using R7 as FP. Switch RyuJIT to R7 when generating code for CoreRT ABI?

[2017-02-07 18:04] AtsushiKan opened #2674 "Remove toolchain workaround in MemberInfoSerializationHolder.cs"
Remove MethodInfo.MakeGenericMethodInternal() and replace with call to  MethodInfo.MakeGenericMethod()

[2017-02-07 19:42] shrah opened #2675 "Interop runtime exception error messages need to be localized"
The runtime exception messages for P/Invokes with unsupported signatures or bad MarshalAs directives are hardcoded. Those strings need to be localized.

[2017-02-07 19:44] shrah commented on #2675
As per Michal's Suggestion:

1. Throw the same exception type the CLR would throw (does interop really throw System.Exception when someone messes up their P/invoke declaration?)
2. Get the exception message from the class library. This is needed for glob/loc - the localization of the compiler and the localization of the class library are decoupled. E.g. see TypeSystemThrowingILEmitter how we solve

[2017-02-08 00:58] jkotas commented on #2490
@shrah Could you please look at this? It is related to the changes that you are working on.

[2017-02-08 04:00] rdlaitila opened #2679 "dotnet build /t:LinkNative error"
Hello,

I was receiving the following error when attempting to build a native application per https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-console-shell-prompt.md

[code]

After a bit of googling, running the following command from the VS2015 Native Tools solved the issue (since my machine is x64)

[code]

Could we have this noted in the documentati

[2017-02-08 04:53] jkotas commented on #2679
We always want to make our documentation better. Would you like to submit a PR with the documentation update you have in mind? Thanks for your interest in the CoreRT project!

[2017-02-08 17:59] MichalStrehovsky opened #2683 "Readonly prefix not respected for multidimensional array address method"
See dotnet/coreclr#9414.

[2017-02-08 18:57] AtsushiKan commented on #1758
Done: https://github.com/dotnet/corert/pull/2684

[2017-02-08 18:57] #1758 closed

[2017-02-08 18:57] AtsushiKan commented on #1757
Done: https://github.com/dotnet/corert/pull/2684

[2017-02-08 18:57] #1757 closed

[2017-02-09 07:16] kouvel opened #2695 "Crash during GC while scanning handle tables"
See PR #2686. The issue has been temporarily mitigated by reordering tests.

To repro, modify BasicThreading test to have FinalizeTest run after all other tests, and use the following command from the `tests` directory:
[code]

[2017-02-09 17:42] azutake opened #2700 "async does not work in release build"
Hi, trying to build my app with CoreRT, using RyuJIT
The build succeeded successfully.
However, an error occurred during execution.
[code]

I search and finded this issue: #2619
So, I re-built it with IlcReference specified.

However, this error was displayed next time.

[code]

I tried to build a dependent library with debug.
Then it worked correctly.
However, I would like to use the Release buil

[2017-02-09 17:44] azutake commented on #2700
P.S. I using Visual Studio 2017 RC latest.

[2017-02-09 18:05] jkotas commented on #2241
ProjectN is running with CoreFX bits that link against kernel32.dll already. There should not be a problem with doing this cleanup in CoreRT.

[2017-02-09 18:25] azutake commented on #2679
Hi, I propose.

I was stuck with this problem.
I recommend this write to document:
Instead of using `Developer Command Prompt for VS 2015`,
In x64 environment, use `VS 2015 x 64 Native Tools Command Prompt`.
In x86 environment, use `VS 2015 x86 Native Tools Command Prompt`.

[2017-02-09 18:31] jkotas commented on #2700
@azutake Could you please try to build a small repro for this crash, or provide some details about the pattern that may be triggering it?

[2017-02-09 18:37] azutake commented on #2700
@jkotas Okay, I making crash sample. please wait...

[2017-02-09 18:54] morganbr commented on #2241
I'm not sure those bits have shipped... I'd suggest confirming whether P/Invokes for kernel32 pass WACK and work on all of the OSes ProjectN supports, including all supported versions of Windows 10 desktop, Phone, XBox, HoloLens, and IoT.

[2017-02-09 19:06] jkotas commented on #2241
@yizhang82 have investigated this before corefx switched over, and concluded that we should be ok. We would not have switched corefx over otherwise.

[2017-02-09 19:22] MichalStrehovsky commented on #2679
@azutake Isn't that the thing the document linked from the original issue says? I'll quote the relevant part here:

x86 actually won't work. It specifically has to be x64 Command Prompt for now.

[2017-02-09 19:29] azutake commented on #2679
@MichalStrehovsky oh sorry, I should have read it properly.

[2017-02-09 19:37] azutake commented on #2700
@jkotas Sorry for keeping you waiting for such a long time.
Sample creation is complete.
Also, I understood the cause of the problem.
An error occurred in await.

Working environment
CoreRT: C:\corert
WorkDir: C:\Users\azuta\Downloads\dtnt
Git checkout commit id:
[code]
dotnet version:
[code]

Execution procedure

1. Build CoreRT in Release build(It may be the same in Debug) `.\build.cmd vs2017 Re

[2017-02-09 19:51] fadimounir commented on #278
Fixed on the ProjectN branch by deleting the API (unused)

[2017-02-09 19:56] jkotas commented on #278
@fadimounir This API still exists: https://github.com/dotnet/corert/blob/26413145abcbdd49468db230a6f29784494f6f46/src/System.Private.CoreLib/src/Internal/Runtime/Augments/DynamicDelegateAugments.cs#L39

As the comment suggests, it is done via IL toolchain magic...

[2017-02-09 20:01] MichalStrehovsky commented on #278
@jkotas The API really is unused. The thing that is used is `CreateObjectArrayDelegate` method (defined above). That one is just a piece of delegate thunk work that I track as the "last damn delegate thunk I need to implement before being finally done with this". We can make this issue track that thunk, although I haven't tracked thunks with issues in the past. I haven't done the thunk yet because

[2017-02-09 20:06] fadimounir commented on #278
The comment is inaccurate. The API is really not used. The API that is used is the CreateObjectArrayDelegate one, and only used if FEATURE_DYNAMIC_DELEGATE is not enabled (and this feature is actually enabled by default today, so even the CreateObjectArrayDelegate API seems to be unused)

[2017-02-09 20:10] shrah opened #2703 "Breakpoints in managed code with gdb on Linux doesn't work"
I tried to set breakpoints in managed code with gdb on Linux.  The breakpoints are not hitting. Also "info function" doesn't include the list of managed functions. I can see the function names in the frame, so I am assuming the symbols are there. gdb version 7.7

It didn't work for me with lldb on OSX either.

[2017-02-09 20:10] shrah commented on #2490
I will look into it. The first issue with invalid P/Invoke MultiByteToWideChar, I will port those changes as part of https://github.com/dotnet/corert/issues/669.

But the second issue regarding ToString crash, I can certainly repro it in OSX and Linux. I briefly looked into it.  It seems like while computing the function pointers in ComputeLdftnReverseLookupLookup it crashes. However, I couldn't s

[2017-02-09 20:11] fadimounir commented on #278
Sorry, I misread something in Michal's comment. Do we want to use this issue to track that thunk that Michal is talking about, or just close the issue? (I already closed it, but we can reopen it and have it track the thunk work if needed)

[2017-02-09 20:15] jkotas commented on #278
If CreateDynamicDelegate is not used, we should delete it from the code.

[2017-02-09 20:17] jkotas commented on #278
Sorry, I see you have just delete it.

[2017-02-09 20:17] #278 closed

[2017-02-09 20:19] tijoytom commented on #2703
OSX is known https://github.com/dotnet/corert/issues/2625

[2017-02-09 22:16] #2679 closed

[2017-02-10 00:17] MichalStrehovsky opened #2708 "Bad string marshalling"
The generated marshalling code for `OutputDebugString` is asserting RyuJIT after #2672. Please treat this as high pri, there are several people on the team that run with CHK RyuJIT.

[code]

[2017-02-10 00:18] MichalStrehovsky commented on #2708
(@sandreenko FYI - this one can be skipped over same as last time)

[2017-02-10 00:23] AtsushiKan commented on #1765
Done.

[2017-02-10 00:23] #1765 closed

[2017-02-10 00:23] AtsushiKan commented on #1762
Done (except for System.Exception but that's not a Reflection object.)

[2017-02-10 00:23] #1762 closed

[2017-02-10 00:24] AtsushiKan commented on #1755
Done.

[2017-02-10 00:24] #1755 closed

[2017-02-10 00:34] sandreenko commented on #1985
@MichalStrehovsky can you make necessary changes on CoreRT side to close this issue?

[2017-02-10 00:41] MichalStrehovsky commented on #1985
@sandreenko Sure. Are there any things you would like to see test coverage for? I'm planning to add a test for big struct return values from the `calli` - anything else that might be valuable? This doesn't get any testing on the CoreCLR side I assume.

[2017-02-10 00:46] sandreenko commented on #1985
It would be nice to check:
1) void, small and big struct return types;
2) calli with implicit/explicit tail call flags if it is possible.

[2017-02-10 01:59] cipher982 commented on #588
I have spent hours trying to figure this out, but re-installing CMake AFTER VS finally got it all working.

[2017-02-10 03:03] MichalStrehovsky commented on #1770
This is already being emitted by the CoreRT compiler. The class library code to read it is on the way from TFS as I'm writing this.

[2017-02-10 03:03] #1770 closed

[2017-02-10 03:52] morganbr opened #2715 "Port CultureInfo.nativeGetResourceFallbackArray from CoreCLR"
ResourceFallbackManager.GetResourceFallbackArray() returns the results of CultureInfo.nativeGetResourceFallbackArray() on Unix (but null on Windows). The Unix call has been disabled pending porting nativeGetResourceFallbackArray, which means there may be some incorrect cases for fallback on Unix.

[2017-02-10 05:23] #1773 closed

[2017-02-10 05:41] jkotas commented on #2715
nativeGetResourceFallbackArray is Windows only in CoreCLR; and it is actually getting ripped out even on Windows https://github.com/dotnet/coreclr/pull/9472. We should delete the whole thing in CoreRT as well.

[2017-02-10 05:58] jkotas opened #2717 "Crash inside ComputeLdftnReverseLookupLookup"
See https://github.com/dotnet/corert/issues/2490 or @shrah for repro

[2017-02-10 05:58] jkotas commented on #2717
@fadimounir Could you please take a look?

[2017-02-10 07:57] ErikSchierboom commented on #2057
Just as a quick heads-up, I noticed that a design for how to handle tail calls in CoreRT has been [merged](https://github.com/dotnet/coreclr/pull/8596/files) recently. Progress being made!

[2017-02-10 10:21] jkotas commented on #2700
We are crashing at:

[code]

[2017-02-10 10:24] jkotas commented on #2700
@azutake Thanks for creating a great small repro!

[2017-02-10 15:55] AtsushiKan commented on #672
Reconciled as part of NS2.0 work.

[2017-02-10 15:55] #672 closed

[2017-02-10 15:55] AtsushiKan commented on #2655
Done.

[2017-02-10 16:00] jkotas commented on #2655
@trylek @AtsushiKan Do we want to also remove the MakeGenericMethodInternal method and link to the issue? It looks like it was missed.

[2017-02-10 16:04] AtsushiKan commented on #2655
There was a separate issue tracking that (https://github.com/dotnet/corert/issues/2674) which I left open for that reason.

[2017-02-10 16:04] #2655 closed

[2017-02-10 16:21] AtsushiKan commented on #2674
Now, cleaned up for good.

[2017-02-10 16:21] #2674 closed

[2017-02-10 16:46] AtsushiKan opened #2722 "[Port] Assembly.CreateInstance(string typeName, bool ignoreCase, BindingFlags bindingAttr, Binder binder, object[] args, CultureInfo culture, object[] activationAttributes);"
0.8% on netapi catalog - just another one of hundres of CreateInstance overloads...

[2017-02-10 18:26] MichalStrehovsky commented on #2703
We are probably not reading the symbols for System.Private assemblies. You can probably hack it locally to place the PDBs next to the IL DLLs. This is related to #941 and #907.

[2017-02-10 18:28] AtsushiKan commented on #1769
PlatformNotSupported - zero usage, high implementation cost (at least until we get off CCI toolchain.)

[2017-02-10 18:28] #1769 closed

[2017-02-10 18:29] AtsushiKan commented on #1767
PlatformNotSupported

[2017-02-10 18:29] #1767 closed

[2017-02-10 18:29] AtsushiKan commented on #1768
PlatformNotSupported

[2017-02-10 18:29] #1768 closed

[2017-02-10 18:29] AtsushiKan commented on #1766
PlatformNotSupported - Low usage, high implementation cost in toolchain.

[2017-02-10 18:29] #1766 closed

[2017-02-10 18:31] AtsushiKan commented on #1772
Likely PNSE, but anyway, not framework.

[2017-02-10 18:32] AtsushiKan commented on #2722
It was actually implemented all along - we just needed to remove the override block.

[2017-02-10 18:32] #2722 closed

[2017-02-10 19:11] jkotas opened #2726 "Port GCHandle perf tweaks from CoreCLR"
https://github.com/dotnet/coreclr/pull/9473

[2017-02-10 19:12] jkotas commented on #2726
We may want to do this as part of reconciling the corelib CoreCLR and CoreRT instead of just a one-off.

[2017-02-10 19:23] shrah commented on #2703
@tijoytom  I tried setting breakpoint in user code, unfortunately that didn't work either :(

[2017-02-10 19:29] shrah commented on #2703
@MichalStrehovsky I just verified the pdbs are there for System.Private*  next to the dlls. However, I noticed that the pdb sizes are smaller than dll. For example, System.Private.CoreLib the dll size is 2.1MB whereas the pdb size is 0.8 MB. I wonder whether these are public PDBs or not.

[2017-02-10 19:35] jkotas commented on #2703
These are portable PDBs, and yes - they are small :-)

[2017-02-10 21:37] jkotas opened #2727 "Large debug section"
The binaries on Windows have large debug section in them. We should get rid of it.

[2017-02-10 21:38] jkotas commented on #2727
cc @PeterSolMS

[2017-02-10 21:39] jkotas opened #2728 "Tons of named sections make linker slow"
From @PeterSolMS

[code]

I wonder if there is an equivalent way of generating this stuff that is easier on the linker… Would it be enough to just get rid of the section names, but keep the COMDAT names, if that’s even possible?

[2017-02-10 21:49] AndyAyersMS commented on #2728
Pretty sure it is possible, generally the only thing the section name is used for is to control ordering of contributions in the final image. So you can probably just use .text for any code section.

[2017-02-10 23:03] jkotas opened #2730 "Clarify Marshaller.GetDefaultNativeType"
https://github.com/dotnet/corert/pull/2723#discussion_r100642119

Could you please add comment to GetDefaultNativeType about it does? Looking at how it is used, it seems to be mixing multiple different concerns together.

[2017-02-11 00:12] #2708 closed

[2017-02-11 02:20] Iwuh opened #2733 "Unable to access TimeZoneNotFoundException?"
Hopefully this is the right place to ask this, since the source for `TimeZoneInfo` and `TimeZoneNotFoundException` are in this repo. I'm calling `TimeZoneInfo.FindSystemTimeZoneById` using user input and I want to catch a `TimeZoneNotFoundException` in case the input is invalid. However, the exception doesn't show up in Intellisense and I'm getting the compiler error

I have `using System;` at the

[2017-02-11 02:32] jkotas commented on #2733
Hello @lwuh

TimeZoneNotFoundException is not in the available as public API in .NET Core 1.0/1.1. It has been added back for .NET Core 2.0 that is still work in progress. If you would like to try the nightly builds, here are the instructions: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

https://github.com/dotnet/corefx/ repo is generally the best place to

[2017-02-11 02:32] #2733 closed

[2017-02-11 02:48] Iwuh commented on #2733
Ah, okay. Thanks for the help.

[2017-02-11 16:55] #2730 closed

[2017-02-13 04:35] jkotas opened #2738 "Improve recursion protection in ResourceManager.GetString"
From https://github.com/dotnet/corert/pull/2710#issuecomment-279052353

CoreCLR has recursion protection in Environment.GetResourceString that's really complicated and not entirely applicable. I did include simplified protection in ResourceManager.GetString, but didn't think to put it in the constructor as well. That's probably worth adding (though we should also hopefully just fix everything that

[2017-02-13 10:54] sergign60 opened #2739 "[Arm Unix build] arm variants of System.Native.a and libSystem.Globalization.Native.a are needed for cross building tests"
For cross building of corert test for arm architectures (see PR #2682) arm variants of System.Native.a (and libSystem.Globalization.Native.a are needed. In CoreFX System.Native.a is built from sources. May be the same way is applicable in CoreRT also?

[2017-02-13 15:57] jkotas commented on #2739
CoreRT gets `System.Native.a` and `System.Globalization.Native.a` via nuget package. They get build in CoreCLR/CoreFX repos and published from there.

[2017-02-13 16:14] sergign60 commented on #2739
@jkotas Could you tell  which way can I get arm versions of this libraries on Linux x64 via nuget?

[2017-02-13 18:46] jkotas commented on #2700
The crash is caused by allocating instance of non-constructed type.

- EEType obtained here: https://github.com/dotnet/corert/blob/86b64971b099ec3f605c1f3c186dce653ec11691/src/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncMethodBuilder.cs#L761
- Instance allocated here: https://github.com/dotnet/corert/blob/86b64971b099ec3f605c1f3c186dce653ec11691/src/System.Private.CoreLib/src/S

[2017-02-13 19:04] MichalStrehovsky opened #2742 "Add a mechanism for EE to opt out of calli transform"
Some `calli` instructions within the class library are known to never encounter a fat pointer (e.g. `RawCalliHelper`). To help runtime performance, the EE side should have a way to tell RyuJIT that fat pointer transformation is not needed and `OMF_HAS_FATPOINTER` should not be set for the callsite.

[2017-02-13 19:14] jkotas commented on #2739
- System.Globalization.Native.a is in Microsoft.NETCore.Native package
- System.Native.a is in runtime.native.System package

I would expect that the arm builds for these packages may work same way as arm packages (e.g. https://github.com/dotnet/coreclr/pull/8421).

In the meantime, you should be able to just build them in corefx/coreclr and copy them over where you need them.

(As you can tell fr

[2017-02-14 03:05] sandreenko opened #2747 "Mac OSX ld : warning : PIE disabled."
There is warning in output after this [PR 2508:Make threadstatics multifile friendly](https://github.com/dotnet/corert/pull/2508).
`
ld : warning : PIE disabled. Absolute addressing (perhaps -mdynamic-no-pic) not allowed in code signed PIE, but used in ___TypeThreadStaticIndex_System_Private_CoreLib_System_Text_StringBuilderCache from native/Exceptions.o. To fix this warning, don't compile with -m

[2017-02-14 08:19] sergign60 commented on #2739
CC: @Dmitri-Botcharnikov

[2017-02-14 13:14] sergign60 commented on #2739
@jkotas
yes, I did as you say, built these libraries in coreclr/corefx and copied them into corert. After this the c++version of Hello test is linked successfully.

[2017-02-14 14:49] antiufo opened #2749 "References (both packages and projects) are not compiled"
I tried compiling an app with 3rd party dependencies (netstandard), but these external libraries don't seem to be included in the compiled output (an assembly not found error is thrown).

The `ilc.rsp` files looks like this:
[code]

The dependencies are not even mentioned in that file (no matter whether they are from NuGet or `<ProjectReference>`s).

The app is compiled with `dotnet build /t:LinkN

[2017-02-14 16:02] jkotas commented on #2749
I am sorry - we do not pick up the package and project references in the LinkNative target yet. This is dup of issue https://github.com/dotnet/corert/issues/2619.

[2017-02-14 17:14] MichalStrehovsky commented on #2747
No idea.

[2017-02-14 18:54] jkotas commented on #2747
This is because of ThreadStaticIndex section has pointer reloc. Sections with pointer relocs has to be in RW section on Unix to be compatible with PIE. That's why you see the following pattern in a lot of places:

[code]

It would be nice to create a helper method for it so that we do not have it replicated in many places.

[2017-02-14 19:30] MichalStrehovsky opened #2751 "Struct return calling convention in calli transform"
#2743 checked in two disabled tests for medium and big sized struct returns. We AV in the method body because of what looks like a calling convention mismatch. I didn't investigate too deeply because the generated code uses SIMD instructions and I never really learned those.

[2017-02-15 23:21] AtsushiKan commented on #2113
As discussed offline, this will require some toolchain work to unblock the corelib work.

[2017-02-16 00:09] AtsushiKan commented on #1871
Finished.

[2017-02-16 00:09] #1871 closed

[2017-02-17 05:46] nattress commented on #2728
Fixed with https://github.com/dotnet/corert/commit/05ad84aa562c6f106a39d01da0fd2056f44ed60a

[2017-02-17 05:46] #2728 closed

[2017-02-17 05:47] nattress commented on #2727
Fixed by https://github.com/dotnet/corert/commit/05ad84aa562c6f106a39d01da0fd2056f44ed60a

[2017-02-17 05:47] #2727 closed

[2017-02-17 20:19] MichalStrehovsky commented on #1985
This was enabled in CoreRT with #2743.

[2017-02-17 20:19] #1985 closed

[2017-02-18 00:02] AtsushiKan opened #2775 "CustomModifiers can be TypeSpecs too."
Got some bad info when implementing GetCustomModifers() api...

[2017-02-19 17:43] cocotr opened #2778 "corert for RHEL/Centos"
Hello,
Is it possible to build native executables for RHEL/Centos? or only Ubuntu is supported?

[2017-02-20 02:05] jkotas commented on #2778
We have not gotton to building CoreRT for RHEL or Centos yet; however it should be pretty straightforward to fix things up to make it work. @cocotr Would you like to give it a try?

The one obstacle where you would need our help is nuget package publishing. @ellismg Do we have "build from source" for .NET Core documented already? I am wondering whether we can have corert branch of it that would al

[2017-02-20 07:59] cocotr commented on #2778
Definitely I would like to give it a try.
btw. Do you think will it be possible to compile to native on Windows to make it work on RHEL/Centos (the same as for standard .net core app) ? or compilation needs to be done on RHEL/ Centos?

[2017-02-20 11:17] janvorli commented on #2778
@cocotr I just quickly tried to build CoreRT on CentOS 7. I've found that besides the need to fix the managed building, there is one problem in the native code build. The fix is to replace `#include <inttypes.h>` in src/Native/libunwind/src/DwarfParser.hpp by `#include <cinttypes>`.

[2017-02-20 11:56] jkotas commented on #2778
I would do it on RHEL/Centos natively first. Cross-compilation from Windows to Unix is harder orthogonal problem.

[2017-02-20 12:43] cocotr commented on #2778
what are prerequisites for building CoreRT on Centos 7 ? Similar as for Ubuntu ? Do you have any documentation?

[2017-02-20 14:08] sergign60 opened #2780 "[arm32 unix] The test Hello fails on arm32 because of difference between initializing and using structures"
The test Hello fails on arm32 because of difference between the initializing and using structures

The initializing structure for example in the following function supposes that the offset of the first pointer field equals to 24 bytes
[code]
but in the using structure from the file (src/Native/Runtime/inc/eetype.h)

[code]
the offset of the first pointer field (```m_ppTypeManager```)  equals to 20

[2017-02-20 14:10] sergign60 commented on #2780
CC: @jkotas @Dmitri-Botcharnikov

[2017-02-20 14:44] jkotas commented on #2780
The ilc compiler assumes that host platform = target platform right now.

I assume that you are using cross-compilation (the compiler is hosted on x64, producing code for arm), and thus the compiler does not know that you are doing cross-compilation. The best way to fix this is to add TargetPlatform command option that will let you set the target for cross-compilation: https://github.com/dotnet/co

[2017-02-20 20:34] am11 commented on #2778
In my CentOS 7 box, I tried the following:

[code]

After 100% of progress, I got these errors:

[code]

Then I applied this patch:

[code]

to get it fixed.

Now onto the managed / CLI story..

[2017-02-21 19:32] MichalStrehovsky opened #2782 "Investigate GC tests failing after RyuJIT update"
We have a bunch of new GC test failures after the RyuJIT update in #2740.

[code]

[2017-02-21 19:47] nattress opened #2785 "CoreCLR tests contain native DLLs which are passed to ILC"
The CoreCLR tests are distributed as a zip of pre-compiled assemblies. We unzip this and pass the contents of each tests' folder to ILC as input assemblies. Some tests contain native binary DLLs, though, and ILC fails to load these, failing the test.

For now we have a work-around in the ILC front-end that skips native binaries. Long term we should not even pass these in to ILC.

This was not a pr

[2017-02-21 20:04] sandreenko commented on #2324
Fixed with [ObjectWriter update](https://github.com/dotnet/llilc/commits/ObjectWriter).

[2017-02-21 20:04] #2324 closed

[2017-02-22 00:34] #2169 closed

[2017-02-22 09:23] sergign60 commented on #2780
https://github.com/dotnet/corert/pull/2793

[2017-02-22 12:50] sergign60 commented on #2780
With new updates from master the another error arises

[code]

[2017-02-22 16:56] jkotas commented on #2780
This should be initialized by `section->TypeManager = typeManager` in `InitializeGlobalTablesForModule`. The C++ boostrap code calls `InitializeModules` and `InitializeModules` calls `InitializeGlobalTablesForModule`.

What is the stacktrace of the crash?

[2017-02-22 19:27] MichalStrehovsky commented on #2102
Another repro, this one doesn't need shared generics:

[code]

This currently works, but only because RyuJIT generates a direct call to the delegate's constructor (where we make a guess that this is the instance method case). The success criteria is to be able to fix the TODO in `src\Common\src\TypeSystem\IL\Stubs\DelegateMethodILEmitter.cs` and stop generating a fallback body for the delegate con

[2017-02-22 19:32] MichalStrehovsky commented on #2102
And another repro - with a generic virtual method - but this might have other problems after that:

[code]

[2017-02-22 20:02] MichalStrehovsky opened #2796 "Creating delegates to generic virtual methods"
This might have a relationship with #2102 but it might need design work from our side.

Below code will currently crash the compiler because `getCallInfo` didn't bother to populate `pResult.codePointerOrStubLookup.constLookup.addr` but RyuJIT is trying to generate a reloc to it.

[code]

[2017-02-22 22:23] #2747 closed

[2017-02-22 22:52] #2381 closed

[2017-02-22 23:18] MichalStrehovsky opened #2801 "Don't allow accidental creation of EETypes for compiler support types"
E.g. the type that hosts reflection invoke stubs, or the type that represents the layout of a boxed valuetype.

Maybe have them all derive from a common class that we can check for? Or an interface type they can implement? Or?

[2017-02-23 03:02] #2715 closed

[2017-02-23 03:37] #2669 closed

[2017-02-24 00:28] swgillespie commented on #2608
Looking at these I've noticed some weird codegen around constructors. From the KeepAlive test (https://github.com/dotnet/coreclr/blob/master/tests/src/GC/API/GC/KeepAlive.cs#L57):

[code]

The two weird things here are that
 1. RyuJIT apparently inlines `RunTest2()`, despite optimizations being off?
 2. RyuJIT introduces two locals for `obj2` (`rbp-28` and `rbp-18`) and only nulls out one of them:

[2017-02-24 00:29] swgillespie commented on #2608
cc @sergiy-k

[2017-02-24 00:39] jkotas commented on #2608
CoreRT is using cached several weeks old binary snapshot of the tests. RunTest2 method was added this morning, so it is not in the cached binary shapshot.

This is by design. The JIT is free to introduce extra copies of the GC references; or otherwise extend the lifetime of the GC references.

[2017-02-24 00:46] swgillespie commented on #2608
Ah, I see - that explains the mystery inline, then 😆 .

If that's true re: GC references, I wonder if we should just go and fix all of these GC tests - they are obviously making some sort of assumption about object lifetimes. I already had to fix a number of tests for RyuJIT last year for MinOpts and this list of tests here gives me a nice list to work with.

[2017-02-24 01:07] jkotas commented on #2608
Yes, these tests that test whether GC collected particular object are fragile wrt. JIT optimizations or conservative GC.

The robust way to write these tests is to keep allocating and check whether at least some are getting collected
https://github.com/dotnet/corert/blob/master/tests/src/Simple/BasicThreading/BasicThreading.cs#L41 . The observation is that there cannot be infinite number of the bo

[2017-02-24 06:41] walter211 commented on #588
tried， failed。@cipher982

[2017-02-26 07:35] MichalStrehovsky commented on #1771
Fadi fixed this this week.

[2017-02-26 07:35] #1771 closed

[2017-02-26 19:33] MichalStrehovsky commented on #631
Feature is done with a test enabled in the CI, the rest will be bugfixes.

[2017-02-26 19:33] #631 closed

[2017-02-26 19:50] #1050 closed

[2017-02-27 14:35] sergign60 commented on #2780
@jkotas
[code]

[2017-02-27 15:49] AtsushiKan commented on #1764
Can now create type. Need to make CreateInstance() work by filling in the "NotImplemented" site at:

https://github.com/dotnet/corert/blob/nmirror/src/System.Private.Reflection.Core/src/System/Reflection/Runtime/MethodInfos/RuntimeClsIdNullaryConstructorInfo.cs#L52

[2017-02-27 15:52] AtsushiKan commented on #1764
Reflection side is done. The instantiation side should be on the interop side.

Ideally, the approach would be for S.P.Interop.dll to expose a method like McgMarshal.CoCreateInstanceEx(Guid clsid, string server) and replace the NYI site at (https://github.com/dotnet/corert/blob/nmirror/src/System.Private.Reflection.Core/src/System/Reflection/Runtime/MethodInfos/RuntimeClsIdNullaryConstructorInfo.c

[2017-02-27 17:01] jkotas commented on #2780
I would set breakpoint around  `System_Private_CoreLib::System::Text::EncodingTable::GetCodePageFromName`. It is where something went wrong. `System_Private_CoreLib::System::SR::get_Argument_EncodingNotSupported` should not be called at all.

I see that you are not getting good line numbers for `S.P.CoreLib` and `System.Console` ... debugging is hard without good line numbers. ilc will pick up the

[2017-02-27 17:22] sergign60 commented on #2780
@jkotas ok, thanks for your help!

[2017-02-27 18:53] christianscheuer opened #2840 "Invoking Console.Out.Flush() triggers Assert in WaitSubsystem / LowLevelMonitor"
Beyond that, it triggers an Assert in StackFrameIterator in an attempt to P/Invoke resolve OutputDebugString, as seen below.

[code]

[2017-02-27 18:56] jkotas commented on #2840
@kouvel Could you please take a look when you get a chance?

[2017-02-27 19:22] MichalStrehovsky opened #2841 "Multithreaded stability issue in native layout code"
See [#2440#comment](https://github.com/dotnet/corert/pull/2440/files/aff69f3d1bf73b0a1857e7eecf1522262b215993#r95905389). The review comment needs to be addressed.

The static counter is a landmine.

cc @davidwrighton

[2017-02-27 19:49] yizhang82 commented on #1764
This might be helpful for UWP applications but the value is pretty low. There are only a handful of CLSIDs that are whitelisted under HKLM\Software\Microsoft\WindowsRuntime\AllowedCLSIDs supported through [CoCreateInstanceFromApp](https://msdn.microsoft.com/en-us/library/windows/desktop/hh404137(v=vs.85).aspx). The most interesting ones are probably DirectX COM objects which are already wrapped by

[2017-02-27 19:50] yizhang82 commented on #1764
@AtsushiKan Can you change it to PNSE for now?

[2017-02-27 23:01] adityamandaleeka commented on #2782
For what it's worth, the four GC tests you mentioned are all of the variety that depend on counts of finalized objects to match what they expect. We've observed GC tests of this type failing occasionally in CoreCLR on Linux as well.

cc @swgillespie who was/is looking into this.

[2017-02-27 23:03] swgillespie commented on #2782
Yeah, unfortunately it's hard to confirm whether or not these are due to the same issue since we don't have SOS for CoreRT and I haven't been able to repro the failures in ProjectN.

[2017-02-28 00:44] AntonLapounov commented on #2395
I believe all issues mentioned here are resolved now.  I listed remaining Thread class issues at https://github.com/dotnet/corert/projects/3.

[2017-02-28 00:44] #2395 closed

[2017-02-28 02:25] DemiMarie commented on #2245
What is the purpose of this?

[2017-02-28 02:48] jkotas commented on #2245
.NET Framework and .NET Core on CoreCLR support them today for historic reasons. It is very rarely used feature; it may never get done for CoreRT. That's why it is tagged with P2 tag.

[2017-02-28 04:18] MichalStrehovsky commented on #2751
Let's keep this open until RyuJit is updated and the tests are enabled.

[2017-02-28 18:36] MichalStrehovsky commented on #2102
Here's another one, but this one might need a bit of work in `DelegateCreationInfo.cs`. It needs shared generics to hit the problem. Again, RyuJIT should make sure `CORINFO_HELP_READYTORUN_DELEGATE_CTOR` is used.

[code]

[2017-02-28 18:43] sandreenko commented on #2102
Thanks for tests, I hope to start this issue today or tomorrow( it depends on my progress with DWARF debug variables).

[2017-02-28 20:26] #2751 closed

[2017-02-28 21:36] imkow opened #2851 "Debug Assertion Violation Expression: 'm_pHackPInvokeTunnel != NULL'"
this pops up when running from compiled exe which is compiled from generated CPP
File: {corert}\src\Native\Runtime\thread.cpp

[2017-02-28 22:50] imkow opened #2852 "RyuJIT mode, System.Exception: Method '[System.Console]Kernel32.ReadConsoleInput' requires non-trivial marshalling that is not yet supported by this compiler."
on Windows
RyuJIT mode
Console.ReadKey() and Console.ReadLine()

Unhandled Exception: System.Exception: Method '[System.Console]Kernel32.ReadConsoleInput' requires
non-trivial marshalling that is not yet supported by this compiler.

[2017-02-28 22:55] MichalStrehovsky commented on #2852
Struct marshalling is not yet implemented, as the exception message says. `ReadConsoleInput` passes a struct by reference that has a bool in it. @shrah will be working on that feature pretty soon.

[2017-02-28 22:55] MichalStrehovsky commented on #2851
@imkow Do you have a stack trace?

[2017-02-28 23:04] imkow commented on #2851
didn't notice there is stack trace? how can I get stack trace out?

[2017-02-28 23:06] MichalStrehovsky commented on #2851
Run the compiled app under a debugger and let the debugger generate the stack. (E.g. open the native EXE as a solution in Visual Studio and hit F5.)

[2017-03-01 02:52] MichalStrehovsky opened #2855 "Tracking dependencies of generic virtual methods"
[code]

This will fail to link because we don't track any dependencies from method bodies of generic virtual methods.

[2017-03-01 02:54] MichalStrehovsky commented on #2855
@fadimounir If you have a general idea where the fix would be, I would appreciate if you could have a look.

Otherwise I'll just ramp up on the GVM code myself. This is currently blocking linking Roslyn.

[2017-03-01 17:18] fadimounir commented on #2855
I will take a look today.

[2017-03-01 17:26] cocotr opened #2856 "CoreRT on SUSE"
Hello,
Did anybody try to to build CoreRT on SUSE ?

[2017-03-01 19:10] imkow commented on #2851
@MichalStrehovsky
here you go:

 	reproNativeCpp.exe!Thread::GetTransitionFrame() Line 52	C++
 	reproNativeCpp.exe!Thread::GcScanRoots(void * pfnEnumCallback, void * pvCallbackData) Line 403	C++
 	reproNativeCpp.exe!GCToEEInterface::GcScanRoots(void(*)(Object * *, ScanContext *, unsigned int) fn, int condemned, int max_gen, ScanContext * sc) Line 79	C++
 	reproNativeCpp.exe!GCScan::GcScanRoots(voi

[2017-03-01 19:14] MichalStrehovsky commented on #2851
Ah, okay - the code is taking a GC. CppCodegen-generated code currently can't survive a GC (we track this in #2033).

You could work around this by setting a higher Gen0 budget (the issue I'm linking to points to the code where you can do that), but eventually you'll hit limits.

I'm going to close this as a duplicate.

[2017-03-01 19:14] #2851 closed

[2017-03-01 19:16] imkow commented on #2851
@MichalStrehovsky how to set a higher Gen0 budget? in C# or generated C++?

[2017-03-01 19:18] MichalStrehovsky commented on #2851
From #2033:

Edit gcenv.h the link is pointing to and rebuild the repo. GetGCgen0size is currently 100 MB.

[2017-03-01 19:19] imkow commented on #2851
@MichalStrehovsky use the class EEConfig?

[2017-03-01 19:19] imkow commented on #2851
haha, almost simultaneously, I found the trick

[2017-03-01 19:30] imkow commented on #2033
Can Boehm GC be an option?

[2017-03-01 19:33] jkotas commented on #2033
Plugging in a Boehm GC is likely to be more work than enabling the conservative GC scanning for the GC that we have.

[2017-03-01 19:35] imkow commented on #2033
@jkotas Great that you already have a GC that can enable conservative GC.

[2017-03-01 19:57] imkow commented on #2851
@MichalStrehovsky   just tried with code like this: 	g_pConfig->SetGCgen0size(1000 * 1024 * 1024);
still the problem

[2017-03-01 20:01] MichalStrehovsky commented on #2851
You'll need to step through the GC setup in the debugger (step through the places that use the value).

The GC will ignore Gen0 sizes once it crosses a threshold that the GC can no longer tolerate (I don't know the places, but I've seen them a year ago when I was playing with this).

The code might also just be allocating too much. There's not much complex managed code that can run without a GC.

[2017-03-01 20:05] imkow commented on #2851
I had even tried 10000 * 1024 * 1024, same problem

[2017-03-01 20:22] MichalStrehovsky commented on #2851
Try `200 * 1024 * 1024`. Really, you'll need to step through this. There's code like

[code]

That kicks in in `gc.cpp`.

[2017-03-01 20:47] AntonLapounov commented on #2782
Conservative GC cannot guarantee the time unreachable objects will be finalized.  Dead object references on the stack or even integers on the stack that look similar to object references may keep unreachable objects rooted for conservative GC.  That means you cannot use strict equality when comparing the number of finalized objects in the tests.

[2017-03-01 21:11] #2855 closed

[2017-03-02 17:07] tarekgh opened #2869 "BlockReflection attribute inclusion for assemblies that are used on uap"
@MichalStrehovsky commented on [Thu Feb 09 2017](https://github.com/dotnet/corefx/issues/16022)

Framework assemblies that are used on netcore50 should include `BlockReflectionAttribute=true` in their project file unless there's a good reason not to.

It seems like something happened to framework reflection blocking with e.g. Microsoft.CSharp.dll in the 5.2.2 framework metapackage for UWP apps.

I

[2017-03-02 17:12] MichalStrehovsky commented on #2869
Project N compiler work is not tracked on GitHub. @tarekgh Please open a TFS issue. Do not assign it to me.

[2017-03-02 17:12] #2869 closed

[2017-03-02 17:14] tarekgh commented on #2869
@MichalStrehovsky could you please open the TFS bug as you have better context than me and you can mention what exactly need to be done there? I can open the bug and let you fill the details if you want to.

[2017-03-02 17:17] MichalStrehovsky commented on #2869
@tarekgh Just link to the original issue from CoreFX repo. It has all the details.

[2017-03-02 17:34] tarekgh commented on #2869
have logged https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/390112 feel free to edit or change anything there.

[2017-03-02 19:40] MichalStrehovsky opened #2871 "Type system casting logic should respect special rules around arrays"
`CanCastTo` needs to be updated to make e.g. `int[]` castable to `ICollection<uint>` and `Derived[]` castable to `ICollection<Base>`.

Note this might also be a problem in NUTC, where the original `CanCastTo` logic was taken from.

[2017-03-02 21:17] kouvel commented on #2840
Thanks for finding this, I have put up a PR with a fix

[2017-03-02 23:07] #2775 closed

[2017-03-02 23:14] #2840 closed

[2017-03-03 14:32] sergign60 opened #2884 "[CppCodeGen] Simple test with enum fails on Linux x64"
The following test fails on x64 Linux with the latest version of corert

[code]

the listing of the execution in gdb
[code]

I commented #line generation in the file src/ILCompiler.Compiler/src/CppCodeGen/ILToCppImporter.cs and added "-g"  in /src/BuildIntegration/Microsoft.NETCore.Native.Unix.props

[code]

[2017-03-03 14:33] sergign60 commented on #2884
CC: @Dmitri-Botcharnikov @jkotas

[2017-03-03 15:18] jkotas commented on #2884
This is likely caused by missing generator of unboxing stub in CppCodeGen. It is not Linux specific - same crash will happen on Windows too.

The CppCodeGen is not as far as the RyuJIT CodeeGen (list of issues https://github.com/dotnet/corert/labels/CodeGen-Cpp). This test works fine with RyuJIT, so the alternative is to start bringing up the RyuJIT backend.

[2017-03-03 15:43] am11 commented on #2856
Seems like the same issue as with CentOS; kernel version in openSUSE v42.2 is v4.9, so the managed build fails. However, the native components are compiled.

Here is the Dockerfile to test it out:

[code]

[2017-03-04 00:39] MichalStrehovsky commented on #2700
@azutake Thanks for the repro! The problem for this particular case seems to be fixed now. (I can't get it to repro anymore.)

The underlying issue #2380 hasn't been fixed yet though - I'll be looking at that separately.

[2017-03-04 01:48] jkotas commented on #2700
@MichalStrehovsky I can still repro it. Simpler repro based on the repro project:

1. Copy&paste this to the repro project:

[code]

2. Build the repro project as release
3. Change ryujit.rsp to reference release repro.exe that you have just built
4. Build and run as usual

[2017-03-04 13:40] sergign60 opened #2902 "[CppCodeGen] Corert generates the wrong c++ text for the simple test with struct"
Corert CppCodeGen generates the wrong c++ source text for the following test

Hello.cs
[code]

Compiler output:
[code]

The correspondent fragment of the generated test:
[code]
Used platform

Linux s 4.4.0-65-generic #86-Ubuntu SMP Thu Feb 23 17:49:58 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

[2017-03-04 13:41] sergign60 commented on #2902
CC: @jkotas @Dmitri-Botcharnikov

[2017-03-04 16:49] #2852 closed

[2017-03-04 16:49] jkotas commented on #2852
@imkow `Console.ReadKey` should work fine now.

[2017-03-04 18:55] imkow commented on #2852
@jkotas  thanks a bunch, just tested, it's ok now.

[2017-03-06 14:29] sergign60 commented on #2902
@jkotas

I see another problem now:

The generated function RtRHeaderWrapper is the same for both 64 and 32-bit versions
[code]
but when the address of rtrHeaderWrapper is passed into another generated function System_Private_CoreLib::Internal::Runtime::CompilerHelpers::StartupCodeHelpers::CreateTypeManagers as its second operand, there arises the following inconcintence
[code]
the value of _41 eq

[2017-03-06 14:30] sergign60 commented on #2780
@jkotas

I see another problem now:

The generated function RtRHeaderWrapper is the same for both 64 and 32-bit versions

void* RtRHeaderWrapper() {
	static struct {
         	unsigned char leftPadding[8];
		void* rtrHeader;
		unsigned char rightPadding[8];
	} rtrHeaderWrapper = {
		{ 0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00 },
		(void*)__ReadyToRunHeader(),
		{ 0x00,0x00,0x00,0x00,0x00,0x00,0x00,0

[2017-03-06 15:16] sergign60 commented on #2780
https://github.com/dotnet/corert/pull/2903

[2017-03-06 21:12] MichalStrehovsky commented on #2700
Ah, I missed it has to be Retail. I have a fix for 2380 that also fixes this.

[2017-03-06 22:28] #2380 closed

[2017-03-06 22:28] #2700 closed

[2017-03-07 01:57] MichalStrehovsky opened #2910 "Add ILEmitter support for try/finally blocks"

[2017-03-07 02:10] MichalStrehovsky commented on #2910
Needed for the code that was checked in with #2911 and #831 (SafeHandle marshalling part).

[2017-03-07 19:31] nattress opened #2913 "CustomSectionAttributes should be specified for all sections"
We currently pass in `CustomSectionAttributes` for custom sections. We should pass them for default sections too for consistency. Ie, .text should pass in `CustomSectionAttributes.Executable`. This will allow us to simplify the object writer API and remove `SetCodeSectionAttribute` from https://github.com/dotnet/corert/pull/2876.

[2017-03-07 21:33] sandreenko opened #2916 "the section ordering for OSX should be strict."
Looks like OSX ld64 can't resolve links from A section to B section if B is declared after A.
It is why we need to call `objectWriter.SetSection(MethodCodeNode.UnixContentSection);` without emitting anything. Because now SetSection not only switches current section, but also creates it if it doesn't exist.  We probably should separate `SwitchSection `and `CreateSection ` again and create our secti

[2017-03-08 00:30] AtsushiKan commented on #1923
Fixed.

[2017-03-08 00:30] #1923 closed

[2017-03-09 11:15] sergign60 commented on #2780
@jkotas
The test ```Hello``` passes with the latest updates!
[code]
The used configuration is armel tizen
I think we can close this issue

[2017-03-09 14:06] jkotas commented on #2780
Nice :-)

[2017-03-09 14:06] #2780 closed

[2017-03-10 17:33] MichalStrehovsky opened #2941 "FieldInfo.GetCustomAttributes(bool) shouldn't check if the ctor is public"
[code]

On CoreRT, this code will fail to instantiate the attribute with the internal constructor because `CustomAttributeInstantiator.Instantiate` filters down to public constructors only.

[2017-03-11 00:15] luqunl opened #2946 "Creating an open delegate over a value type method requires that the first parameter in the delegate signature be a “ref VT” than “VT.”"
https://github.com/dotnet/corefx/blob/014bc7a6834aa92c35de4870b91afb3c2c375f82/src/System.Private.DataContractSerialization/src/System/Runtime/Serialization/AccessorBuilder.cs#L21 will throw "System.ArgumentException:Cannot bind to the target method because its signature is not compatible with that of the delegate type" for open delegate over a value type method scenario.

Repro:
[code]

[2017-03-13 19:28] MichalStrehovsky opened #2958 "JIT\Regression\CLR-x86-JIT\V2.0-Beta2\b426654\b426654 failed"
This is not new, but looks important.

[code]

[2017-03-13 19:39] MichalStrehovsky opened #2959 "Null StringBuilder marshalling"
[code]

Above code will fail with this stack because `StringBuilder` is null.

[code]

[2017-03-14 10:40] marek-safar opened #2966 "Add Span<T> from coreclr repo"
Ideally in the form of partial parts for corert specific code

[2017-03-15 06:07] MichalStrehovsky commented on #2742
The body we generate for delegate `Invoke` methods is another example (this is mostly a size on disk concern since the `Invoke` method is actually only invoked rarely because RyuJIT expands the `Invoke` method as an intrinsic for normal cases).

[2017-03-15 18:49] MichalStrehovsky commented on #367
The type was recently added to CoreLib. What we'll need to do:

* Move the type to the proper namespace under `#if CORERT` ifdef.
* Update the compiler to parse `ELEMENT_TYPE_TYPEDBYREF`
* Add a new rare flag to EEType (`IsByRefLike`) and set it for `TypedReference`
* Block `TypedReference` from entering places where CoreCLR blocks byref-like types (e.g. `Activator.CreateInstance`, `GetUninitializ

[2017-03-15 23:17] MichalStrehovsky commented on #367
Eh, I'll just do it now.

[2017-03-15 23:18] wecing commented on #2057
Hi @tsolarin , may I ask how did you make the `dotnet build` command work? I built dotnet/cli and corert from source, and was able to compile .NET Core C# programs; but when I try to compile F# programs, I got:

    The target "CoreCompile" does not exist in this project. [~/Code/tests/fsharp/fsharp.fsproj]
    4 Warning(s)
    1 Error(s)

Thanks!

[2017-03-16 08:12] tsolarin commented on #2057
@wecing here's a copy of my FsProj I use for building both on CoreCLR and CoreRT

[code]

You'd have to import `FSharp.NET.Sdk.props` and `FSharp.NET.Sdk.targets` from their nuget package installation location

[2017-03-17 16:48] MichalStrehovsky opened #3010 "Reject FixedAddressValueTypeAttribute"
We need to make sure that the metadata-based static field layout algorithm reads this attribute and produces a `TypeSystemException.TypeLoadException` or something similar if GC-statics/thread-statics are heap based on the target.

We might want to introduce a flag on `TargetDetails` to indicate where the statics are located to facilitate that. With that flag in place, we could also get rid of the

[2017-03-17 16:50] MichalStrehovsky opened #3011 "Respect UnsafeValueTypeAttribute"
See https://github.com/dotnet/corert/pull/3002#pullrequestreview-27491644

[2017-03-17 16:51] MichalStrehovsky commented on #3011
@davidwrighton Do we also need a tracking issue on the TFS side for NUTC?

[2017-03-17 18:35] jkotas commented on #3010
I do not think that this should be TargetDetails. I think it should be on the type system context and it should be configurable per type (e.g. the logic may be different for AOT types vs. unloadable JIT types).

[2017-03-17 22:39] wecing commented on #2057
Hi @tsolarin , thanks for your answer. I copied your .fsproj and changed all occurences of your home directory to mine, but `dotnet restore` failed:

    ~/.nuget/packages/fsharp.net.sdk/1.0.0/build/FSharp.NET.Core.Sdk.targets(23,31): error MSB4022: The result "" of evaluating the value "$(FscTaskAssemblyPath)" of the "AssemblyFile" attribute in element <UsingTask> is not valid. [~/blah/blah.fspro

[2017-03-17 23:35] enricosada commented on #2057
Hi everyone.

As a note, you are using old templates for fsproj /cc @wecing @tsolarin
Updated can be obtained from .net core tools 1.0.1 (the rtm of dotnet core sdk) from running `dotnet new console -lang f#` (or `lib`).

More info in [netcorecli-fsc wiki page](https://github.com/dotnet/netcorecli-fsc/wiki/.NET-Core-SDK-1.0.1)

and example (generated by `dotnet new console -lang f#`):

[code]

In

[2017-03-17 23:43] wecing commented on #2057
@tsolarin @enricosada Okay, sorry for spamming responses, but I fixed the issue by using FSharp.NET.Sdk/Sdk/Sdk.{props,targets} in `$(MSBuildSDKsPath)`, instead of `$HOME/.nuget`. Here is my .fsproj:

[code]

My `dotnet` command is built from source off [dotnet/cli](https://github.com/dotnet/cli). It is okay to use @tsolarin 's approach and import .props and .targets from `~/.nuget`, but you would

[2017-03-17 23:53] enricosada commented on #2057
@wecing the import of .props/target is automatic from `<PackageReference Include="FSharp.NET.Sdk"`.
The issue is you are referencing an old version, `1.0.0-beta-*`, try use `1.0.*` like my previous example.
And also because you are not using `Sdk="FSharp.NET.Sdk..`" attribute.

What version of dotnet/cli are you building? `dotnet --version`?

maybe this will do:

[code]

as a note, you can do `dot

[2017-03-18 00:21] wecing commented on #2057
@enricosada , my `dotnet` version is `2.0.0-preview1-005420` (built from source). Your .fsproj doesn't work, it would produce an error during `dotnet build /t:LinkNative`:

[code]

But the FSharp.NET.Sdk/Sdk/Sdk.props file from $(MSBuildSDKsPath) is really simple:

[code]

[2017-03-18 00:45] enricosada commented on #2057
I'll try to check this weekend.
Strange use the dotnet/cli 2.0.0, an d not the rtm. But I don't know this repo

[2017-03-18 01:04] #2111 closed

[2017-03-18 01:05] MichalStrehovsky commented on #2407
This is no longer blocked. The pull request in question got merged.

[2017-03-18 01:17] MichalStrehovsky commented on #1487
@shrah Would this be expected to work now? Can we close this?

[2017-03-18 01:21] MichalStrehovsky commented on #1642
Delegate marshalling should now be supported.

Cc @shrah

[2017-03-18 01:21] #1642 closed

[2017-03-18 01:28] jamesqo commented on #2407
@MichalStrehovsky Great. I'll submit a PR as soon as I can get around to it.

[2017-03-18 04:30] #1772 closed

[2017-03-18 05:23] MichalStrehovsky commented on #2801
David added `INonEmittableType` that fixes this.

[2017-03-18 05:23] #2801 closed

[2017-03-18 09:46] tsolarin commented on #2057
@wecing @enricosada I've taken a look and did the upgrade to use dotnet/cli 1.0 and here are my findings:

Using the template generated fsproj works ok when just building for CoreCLR, however some modifications  are needed when trying to build for CoreRT. Here's my final layout as well as the steps I took to achieve a successful build:

<img width="761" alt="screen shot 2017-03-18 at 10 23 10 am"

[2017-03-18 16:50] shrah commented on #1487
Yes, this should work now. @MichalStrehovsky

[2017-03-18 16:50] #1487 closed

[2017-03-19 00:55] #2407 closed

[2017-03-22 00:23] MichalStrehovsky opened #3053 "Things to undo after Project X no longer uses NUTC's dependency analysis"
- [ ] TODOs introduced in #3051

[2017-03-22 18:55] AtsushiKan opened #3061 "Type.IsSerializable"
In addition to checking for the IsSerializable bit in the attributes, this property is also supposed to return true if the UnderlyingSystemType is an Enum or Delegate. (CoreClr does this now.)

We need to port that behavior over to CoreRt (and hopefully in a way that Type.IsSerializable can migrate to the shared partition.)

[2017-03-22 18:56] AtsushiKan opened #3062 "System.Reflection.IReflect missing [Guid] attribute."
Problem is, GuidAttribute lives in S.P.Interop.dll. So we'll probably have to move it to CoreLib.

After this, IReflect.cs should be moved to the shared partition.

[2017-03-22 20:55] MichalStrehovsky opened #3063 "CustomAttributeInstantiatior should stop throwing MissingMetadataExceptions"
`CustomAttributeInstantiatior` has assumptions that if .ctor/field/property doesn't exist in the metadata, we must be missing metadata.

We have been doing proper reflection analysis of custom attributes for a while - if a custom attribute got reflection enabled, analysis already made sure everything we need to instantiate it has metadata.

If we hit a code path where this is missing, it's likely

[2017-03-22 22:28] #3061 closed

[2017-03-23 19:28] #367 closed

[2017-03-23 20:50] MichalStrehovsky opened #3080 "Block ByRef-like types in various reflection APIs"
Things that come to my mind: `Array.CreateInstance`, `Activator.CreateInstance` (the non-generic one) and `Type.MakeGenericType`. There might be more - it would be best to do a sweep of CoreCLR sources for this.

[2017-03-24 21:58] #2841 closed

[2017-03-25 00:22] wecing commented on #2057
@tsolarin @MichalStrehovsky I think the problem of printfn originates from GetMethod returning null on [PrintfImpl.Specializations](https://github.com/fsharp/fsharp/blob/master/src/fsharp/FSharp.Core/printf.fs#L218). GetMethod is invoked [here](https://github.com/fsharp/fsharp/blob/master/src/fsharp/FSharp.Core/printf.fs#L1097). I am not quite sure how to whitelist it in rd.xml (tried but not succ

[2017-03-29 08:58] ezverev opened #3137 "TimeSpan.FromMilliseconds(TimeSpan.MaxValue.TotalMilliseconds) exception"
There is a committed pull request in coreclr: https://github.com/dotnet/coreclr/pull/10352.
Should I create the corresponding pull request here?

[2017-03-29 14:27] jkotas commented on #3137
Yes, it would be nice. Thank you!

[2017-03-29 17:51] #1774 closed

[2017-03-29 22:31] tsolarin commented on #2057
@wecing that I already know. Cals to `GetMethod` return `null` when run on CoreRT, also when using C#. However, I'm still confused how the [reflection tests](https://github.com/dotnet/corert/blob/master/tests/src/Simple/Reflection/Reflection.cs#L175) pass without needing an `rdxml` and my own exact code still fails

[2017-03-29 23:22] #3137 closed

[2017-03-29 23:33] wecing commented on #2057
@tsolarin If you comment out [this line](https://github.com/dotnet/corert/blob/master/tests/src/Simple/Reflection/Reflection.cs#L166) (so that `GetHello` is no longer [statically reachable](https://github.com/dotnet/corert/blob/master/tests/src/Simple/Reflection/Reflection.cs#L166)), that unit test will fail.

The `PrintImpl.Specializations.Final*` methods are only used through reflection, so they

[2017-03-29 23:52] MichalStrehovsky commented on #2057
We not only don't generate the metadata, but we also don't bother generating the code. The experience is pretty bare bones right now.

As @wecing mentioned, you either need to make sure the code path is statically reachable, or provide it as an additional compilation root (a place from which compilation starts compiling the static callgraph) externally with an RD.XML file.

The RD.XML will have so

[2017-03-30 22:11] tijoytom opened #3167 "Use CRT float functions from MathF"
Right now MathF functions are just forwards to Math , but we need to change them to use lower precision but efficient f* functions..

[2017-03-30 22:28] tannergooding commented on #3167
@jkotas, the changes here look relatively simple to make. But I'm not familiar with the `RuntimeLibrary` definition (https://github.com/dotnet/corert/blob/143634ae9dfcd38a0a92b9052156cb9099d7463e/src/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs#L796), where would I find it?

[2017-03-30 22:37] jkotas commented on #3167
These match functions has been coming straight from CRT. There is nothing defining them explicitly.

[2017-03-30 22:42] tannergooding commented on #3167
Awesome. Then this looks like a relatively simple change. I'm willing to take this on if someone else isn't going to 😄

[2017-03-31 20:43] kouvel opened #3174 "Reentrant waits on STA threads may try to reuse some waited arrays"
Null out the arrays on `RuntimeThread` when they are in use, and create array on reentrant wait when null.
- `RuntimeThread._waitedHandles`
- `RuntimeThread._waitedSafeWaitHandles`

[2017-04-03 14:26] sergign60 opened #3186 "[CppCodeGen] Implement virtual delegate targets"
We need for implementing virtual methods calls in CppCodeGen for our applicaions. Just now we have only

```./src/ILCompiler.Compiler/src/CppCodeGen/ILToCppImporter.cs```
[code]
Are there any plans and milestones for this feature?

[2017-04-03 14:27] sergign60 commented on #3186
CC: @Dmitri-Botcharnikov

[2017-04-03 15:27] jkotas commented on #3186
It should not be hard to mirror the implementation used by RyuJIT backed. You can try removing this NYI check and see where it breaks.

Microsoft CoreRT team is focused on the RyuJIT backend currently. We do not have any milestones for CppCodeGen.

[2017-04-03 15:31] sergign60 commented on #3186
@jkotas thanks, I'll try it.

[2017-04-03 16:12] MichalStrehovsky commented on #1775
Fixed with #3176 for CoreRT and a day or two before that for Project N.

[2017-04-03 16:12] #1775 closed

[2017-04-04 14:20] sergign60 opened #3203 "[RyuJIT] Unhandled Exception: System.InvalidCastException: Unable to cast object of type 'Internal.TypeSystem.Ecma.EcmaType' to type 'Internal.TypeSystem.ArrayType'."
Compiling a simple Tizen application on Ubuntu  causes the error in CoreRT/RyuJIT for the following method
``` [Tizen.Applications]AppCommon.AppEventGetLanguage```
[code]

To reproduce this failure  unarchive the attached file into the directory corert/tests/src/Simple as one more "Simple" test and run the ```build.sh``` script.

[XForms.TizenMobile.tar.gz](https://github.com/dotnet/corert/files/8

[2017-04-04 14:20] sergign60 commented on #3203
CC: @Dmitri-Botcharnikov

[2017-04-04 14:24] jkotas commented on #3203
@shrah Is it one of the known bugs in marshallers that you are working on?

[2017-04-04 14:42] MichalStrehovsky commented on #2632
We now have this class in CoreLib\shared\System\TimeZone.cs.

[2017-04-04 14:42] #2632 closed

[2017-04-04 16:19] sergign60 commented on #3203
@shrah This bug is blocking for our work so it's desirable for us to know when it will be fixed.

[2017-04-04 17:30] shrah commented on #3203
I am looking into it. I will send out a PR today.

[2017-04-04 17:44] sergign60 commented on #3203
@shrah many thanks!

[2017-04-04 21:04] shrah commented on #3203
@sergign60, I tried to repro this in both linux and MacOSX but encountered the following exception:

[code]

It happens for Xamarin.Forms.VisualElement._mergedStyle.

Do you have any idea what may be wrong with it?

[2017-04-04 23:23] shrah commented on #3203
Looking at the call stack it seems like you are using older version CoreRT build. We have added some interop features like struct marshalling, delegate marshalling, and others over the last month.
In any case your test would fail even if you updated as unfortunately we didn't have support
for Ref and Out for AnsiString. I have addressed that in https://github.com/dotnet/corert/pull/3208. Please le

[2017-04-05 08:31] sergign60 commented on #3203
@shrah
CC: @jkotas @Dmitri-Botcharnikov

Yes, you're absolutely right, I've used the older version, it's my fault. As I see now your PR fixes this issue, so this issue can be closed. Thank you very much.

[2017-04-05 08:31] #3203 closed

[2017-04-05 13:16] sergign60 opened #3211 "[RyuJIT] node ILCompiler.DependencyAnalysis.GCStaticsNode is not marked when ILCompiler.DependencyAnalysis.RyuJitNodeFactory is MarkingComplete"
Compiling a simple Tizen application on Ubuntu causes assertion in CoreRT/RyuJIT because the node
```ILCompiler.DependencyAnalysis.GCStaticsNode``` is not ```marked``` when the factory ```ILCompiler.DependencyAnalysis.RyuJitNodeFactory``` is ```MarkingComplete```

The stack trace is
[code]

To reproduce this failure unarchive the attached file into the directory corert/tests/src/Simple as one more

[2017-04-05 13:23] sergign60 commented on #3211
CC: @Dmitri-Botcharnikov

[2017-04-05 16:50] AtsushiKan commented on #2588
This calls CryptGenRandom() on Windows to generate the initial seed. Might be a problem on CoreRT on Unix (we didn't want want CoreLib to take a dependency on external crypt libraries, even for SHA1.)

[2017-04-05 16:57] jkotas commented on #2588
We do have non-cryptographically strong random number generator available in CoreLib. https://github.com/dotnet/corert/search?q=GetRandomBytes . It is what we should be using here as well.

[2017-04-05 18:36] shrah commented on #3211
@fadimounir  can you please take a look.

[2017-04-05 18:37] MichalStrehovsky commented on #3211
This is interesting. I haven't looked at the repro app in question but, from the stack, I thought the simpler repro would be this:

[code]

Except it doesn't repro with this because the statics info hashtable will end up generating the GC static base even though it's not used.

This would be a question to @fadimounir: do we always need to generate the GC static base? If so, this is probably the pr

[2017-04-05 19:06] fadimounir commented on #3211
Yes for constructed generic types that have GC statics (because it's needed by the StaticsInfoHashtable), but there isn't any code that i'm aware of that always generates the GC static base for non-generic types.

Sounds like the fix should be to check whether the statics node was marked in the dependency graph before emitting static field information in the reflection mapping table.

[2017-04-05 19:09] MichalStrehovsky commented on #3211
Well, if I'm compiling the repro program I posted above, we do generate the GC static base and the DGML log says we generated it because:

[code]

Sounds like the fix will be what you say plus more.

[2017-04-05 19:20] MichalStrehovsky commented on #3211
Ah, there's the repro:

[code]

Code got added to ConstructedEETypeNode that is trying to make sure we can generate the mapping table entry for the bases, but we need to mirror it in the unconstructed EEType. The fix will be there.

[2017-04-05 23:01] fadimounir opened #3224 "Move reflection analysis before compilation begins and fix dependency analysis"
Ideally the list of reflection enabled entities should be known before even start the compilation process, and all these entities and their dependencies should be rooted at the very beginning.
Today since we reflection-enable all fields/methods, we have dependency tracking logic scattered everywhere to handle the Reflection mapping entries.

Once fixed: look for the following comments in the codeb

[2017-04-06 11:30] mafanshu commented on #588
same as @walter211 sad

[2017-04-06 16:56] #3211 closed

[2017-04-06 17:50] shrah opened #3231 "Move P/Invoke related exceptions and attributes to CoreLib"
In order to throw appropriate exception from generated marshalling stubs we need to move P/Invoke related exceptions(eg. DllNotFound) from System.Private.Interop to CoreLib.

[2017-04-06 18:55] AtsushiKan commented on #2588
We should able to fill in the NotImplementedException now but this path isn't reachable, even on Unix. This can wait until we figure out how to turn on random hashing on CoreRT...

[2017-04-06 21:40] trylek opened #3235 "NS2.0 - implement Debugger.Log / Debugger.IsLogging"
I'm temporarily checking stubbed out implementations of two newly ported methods, Debugger.Log and Debugger.IsLogging. This issue tracks their proper implementation.

[2017-04-07 16:11] sergign60 opened #3248 "[RyuJIT] Segmentation fault arises because GetVirtualMethodSlot gets null method as argument for ILCompiler.DependencyAnalysis.RyuJitNodeFactory and for method [System.Linq]WhereSelectEnumerableIterator`2<[Xamarin.Forms.Core]Xamarin.Forms.Span, [System.Private.CoreLib]System.String>.Clone"
Compiling a simple Tizen application on Ubuntu causes segmentation fault because ```GetVirtualMethodSlot``` gets null methot as argument when ```ReflectionVirtualInvokeMapNode::GetData processes ILCompiler.DependencyAnalysis.RyuJitNodeFactory``` and meets the ```[System.Linq]WhereSelectEnumerableIterator`2<[Xamarin.Forms.Core]Xamarin.Forms.Span, [System.Private.CoreLib]System.String>.Clone``` meth

[2017-04-07 16:17] sergign60 commented on #3248
@Dmitri-Botcharnikov @MichalStrehovsky @fadimounir

[2017-04-07 17:30] AtsushiKan opened #3251 "NS2.0 Implement Synchronized(Stream).BeginRead() and BeginWrite()"
This method needs to know if a Stream has overridden BeginRead or BeginWrite. CoreCLR does this with an FCall. We don't have a direct alternative (other than shudder, Reflection.)

Need to figure out something here.

[2017-04-07 17:37] AtsushiKan opened #3253 "NS2.0 - Implement AssemblyName.GetAssemblyName(String assemblyFile)?"
2.5% usage on .NET Api catalog.

Now that we have an ECMA Metadata Reader, we could probably implement this easily but it seems like a heck of a dependency to bring in just for this...

[2017-04-07 17:38] fadimounir commented on #3248
@nattress and I were investigating this yesterday, and I have an idea where the fix should be. I can take a look.
Is this blocking?

[2017-04-07 17:50] jkotas commented on #3253
For UWP apps, the toolchain strips all IL assemblies from the package today, so I do not see what can this be actually used for in UWP apps - unless we stop stripping the IL.

I think we will want it only for configs that are able to run IL.

[2017-04-07 18:28] MichalStrehovsky commented on #3251
Once Roslyn implements dotnet/roslyn#11475, can we implement this using a combination of `LoadFunctionPointer` and `LoadVirtualFunctionPointer`?

[2017-04-08 17:58] sergign60 commented on #3248
@fadimounir thank you very much. Yes, it is blocking. I will be grateful for your efforts.

[2017-04-09 18:38] jkotas commented on #2588
This needs to be fixed in InternalHashSortKey as well.

[2017-04-10 02:33] caserzer opened #3273 "Barrier.SignalAndWait waiting forever"
using dotnet build /t:LinkNative , I got the exe and find the Barrier.SingalAndWait waiting forever
Below is my code
`    class SpectralNorm
    {
        public static void Main(String[] args)
        {
            int n = 100;
            if (args.Length > 0) n = Int32.Parse(args[0]);
            Console.WriteLine($"hello : {n}");

            //var stopwatch = new Stopwatch();
            //sto

[2017-04-10 02:50] jkotas commented on #3273
cc @kouvel

[2017-04-10 14:41] AtsushiKan commented on #2588
Needs Unsafe.AsRef<T>() to convert the byte* to a ref byte.

[2017-04-10 14:43] AtsushiKan commented on #2588
Marvin.ComputeHash32() now contains the hash functionality you need. From here, it's NLS work.

[2017-04-10 15:07] jkotas commented on #2588
You can just write `ref *pByte`. No special unsafe method is needed.

[2017-04-10 16:05] tarekgh commented on #2588
@AtsushiKan could you clarify what is the remaining work need to be done here as I was not involved on it?
also which the issue is blocked? more info please.

[2017-04-10 16:12] AtsushiKan commented on #2588
@tarekgh  I've removed the block label since Jan provided a workaround for the Unsafe.AsRef() issue.

The remaining work is to switch CompareInfo (and NLS code in general) to use secure (Marvin) hashing as CoreCLR does.

The first piece is the "NotImplementedException" part here (https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Globalization/CompareInfo.Unix.cs#L3

[2017-04-10 18:14] MichalStrehovsky opened #3278 "ObjectWriter should support IMAGE_REL_BASED_RELPTR32 relocs"
We have a workaround in place in ObjectWriter.cs to map `IMAGE_REL_BASED_RELPTR32` into `IMAGE_REL_BASED_REL32` with +4 bytes delta, but we should just emit the right reloc.

[2017-04-10 22:49] fadimounir commented on #3248
I'm currently working on the fix. @nattress will share with you a temporary hack to unblock you while I merge a fix for this issue.

[2017-04-10 23:22] nattress commented on #3248
In the meantime you can apply a work-around from this branch: https://github.com/nattress/corert/tree/Tizen

[2017-04-11 11:48] sergign60 commented on #3248
@fadimounir @nattress  IlcCompiler succeeds with your patch. Thanks so much for your efforts!

[2017-04-11 16:13] AtsushiKan opened #3290 "Internal.Reflection.Core.AssemblyBinder should take inputs as RuntimeAssemblyName, not AssemblyName."
The only reason the inputs were AssemblyName rather than RuntimeAssemblyName were because of old Project N layering constraints that no longer exist.

Today, RuntimeAssemblyName is exported publically out of S.P.CoreLib so anyone can use it. We might as well avoid the wasted cycles converting back and forth.

[2017-04-11 16:44] MichalStrehovsky commented on #2959
@sergiy-k Just hit this bug too. @shrah Could you prioritize this a bit higher?

[2017-04-11 17:42] nattress opened #3291 "Add SafeHandle marshaling support for [In,Out] arguments"
Currently we support one or the other; not both.

[2017-04-11 18:40] cocotr opened #3294 "[CppCodeGen] System::DateTime::ToString crash"
Hello,
I have compiled the same code on Ubuntu 16.04 once with just  /t:LinkNative and second time with /t:LinkNative /p:NativeCodeGen=cpp.
The one which was compiled just only with /t:LinkNative works properly, but when I try to run program compiled with /t:LinkNative /p:NativeCodeGen=cpp I get an error: "Segmentation fault (core dumped)".
How to check what causes the problem?

Thanks

[2017-04-11 18:43] shrah commented on #2959
Sure, I will work on it.

[2017-04-11 18:46] MichalStrehovsky commented on #3294
@cocotr If you run the produced executable under a debugger, the stack trace might be helpful.

You can have a look at the [list of known issues in CppCodegen](https://github.com/dotnet/corert/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20cppcodegen). Maybe you can map your issue to one of them.

[2017-04-11 18:48] tijoytom commented on #3294
@cocotr Can please try deleting the obj directory ? I have seen this happening with incremental build. Feel free to open an issue.

[2017-04-11 19:03] cocotr commented on #3294
I deleted both obj and bin directory and then dotnet restore and then compilation. Both compiled successfully but only compiled with  /t:LinkNative runs properly

[2017-04-11 19:43] cocotr commented on #3294
Which debugger do you use ?

[2017-04-11 19:45] MichalStrehovsky commented on #3294
The code gets compiled with clang, so lldb would be a good choice.

[2017-04-12 03:48] github-john-doe opened #3308 "Add support for quantum computers?"
Apparently, the support should be requested 10 days earlier, but it is never too late to ask for it.

[2017-04-12 13:54] #3174 closed

[2017-04-12 14:08] jkotas commented on #3308
We should do support for WebAssembly first. It will just work on quantum computers once we have it. GC heuristic may need some adjustments to make it run fast.

[2017-04-12 15:21] AtsushiKan commented on #3290
Fixed.

[2017-04-12 15:21] #3290 closed

[2017-04-12 16:40] cocotr commented on #3294
Hi,
I did backtrace with lldb. Any ideas how to fix it ?

(lldb) thread backtrace
* thread #1: tid = 26677, 0x0000000000000000, name = 'test', stop reason = signal SIGSEGV: invalid address (fault address: 0x0)
  * frame #0: 0x0000000000000000
    frame #1: 0x00000000007ead09 test`System_Private_CoreLib::System::Text::StringBuilder::AppendFormatHelper(_a0=0x00007fffdc8c10c0, _a1=0x00007fffdc898ed8,

[2017-04-12 16:51] #1861 closed

[2017-04-12 16:52] #3062 closed

[2017-04-12 16:53] #1777 closed

[2017-04-12 16:59] AtsushiKan commented on #3063
MissingMethodException

[2017-04-12 17:11] AtsushiKan commented on #2941
A little more complicated than just disabling the check for public - it's a visibility check (so "internal" only succeeds if the attribute is defined in the same assembly, "protected" only succeeds if the calling method is part of the family, etc.)

Though in practice, we might get away with just ignoring visibility issues...

[2017-04-12 17:49] #2902 closed

[2017-04-12 18:07] MichalStrehovsky commented on #3063
Also for a missing field referenced in the custom attribute data? I guess this is the CLR codebase in corner case error situations, so maybe I shouldn't be surprised, but I still am :).

[2017-04-12 18:12] sergign60 commented on #3248
@MichalStrehovsky @nattress @fadimounir with the latest updates the test from attach is compiled successfully 1860d048f1c85659bbec473b94bc03f2c72510e7 Make DelegateCtor R2R helper perform virtual resolution (#2928)

[2017-04-12 18:22] AtsushiKan commented on #3063
It’s actually a CustomAttributeFormatException for fields and props.

(and unlike the constructor, fields and props do have to be IL-public).

Yay for consistency…

[2017-04-12 18:47] sergign60 commented on #3248
@fadimounir Do you have something additional?

[2017-04-12 18:48] fadimounir commented on #3248
@sergign60 No not yet.

[2017-04-12 19:22] #2941 closed

[2017-04-12 19:22] #3063 closed

[2017-04-12 19:31] tarekgh commented on #2588
@jkotas there is something unclear to me here. it looks @AtsushiKan implemented Marvin in managed code while Windows build is using the native implementation

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Globalization/CompareInfo.Windows.cs#L483

I recall the managed implementation will have a perf issue (@jkotas mentioned that to me awhile ago). so my question is, why we

[2017-04-12 19:41] AtsushiKan commented on #2588
The implementation differences are for CoreRT vs CoreCLR, not Windows vs. Unix.

Though it'd be nice to get rid of the native implementation in CoreCLR and put marvin.cs in the shared partition - provided, of course, the CoreCLR JIT can produce competitive performance.

[2017-04-12 19:41] jkotas commented on #2588
The two implementations are for CoreCLR (in C++) vs. CoreRT (in C#).

We have re-implemented next to everything in C# for CoreRT, even though we may be losing some performance here and there for now. So the Marvin just goes with it.

Note that there has been number of improvements made in the JIT since I said this. In particular, the barrel shift is recognized as intrinsic by the JIT now.

It woul

[2017-04-12 19:44] danmosemsft commented on #2588
@jkotas is this blocking release in what sense? I'd rather keep @tarekgh on 2.0 stuff. Unless this is breaking progress on CoreRT.

[2017-04-12 19:50] jkotas commented on #2588
This is blocking eventual CoreRT release, not .NET Core 2.0.

[2017-04-12 20:09] jkotas commented on #3294
It looks like that a bad code gets generated by the IL to C++ transpiler.

Could you please share small repro for the crash?

[2017-04-12 22:20] MichalStrehovsky commented on #2102
Closed with #2928.

[2017-04-12 22:20] #2102 closed

[2017-04-13 08:07] sergign60 commented on #3248
@fadimounir ok, then I'll close this issue when you prepare your code.

[2017-04-13 08:17] lemmaa commented on #3186
@jkotas , Are there any special reasons for giving up CppCodeGen?

[2017-04-13 09:25] sergign60 commented on #3248
@fadimounir What do you think, does this issue need some additional work or it can be closed because of @MichalStrehovsky fix?

[2017-04-13 10:12] sergign60 opened #3320 "[RyuJIT Unix armel cross] IlcCompiler unable to load DLL 'jitinterface' because build system does not support cross compiling with RyuJIT"
ROOTFS is armel tizen

The used command

$ ./build.sh armel debug verbose cross

The message iis
       IlcCompile:
         Creating directory "/home/signatov/CORERT/corert/tests/src/Simple/Hello/obj/Debug/armel/native/".
         "/home/signatov/CORERT/corert/tests/../bin/Product/Linux.armel.Debug/packaging/publish1/corerun" "/home/signatov/CORERT/corert/tests/../bin/Product/Linux.armel.Debug/pa

[2017-04-13 14:48] jkotas commented on #3186
@lemmaa We have created CppCodeGen as a proof of concept to demonstrate that the CoreRT toolchain can have wide platform reach as an option. Other related technologies in this bucket are LLVM bitcode (required on Apple watches) or WebAssembly (good chance to become a big thing for games). The wide platform reach is important for devices in particular.

Microsoft .NET Core team is focused on cloud

[2017-04-13 15:32] lemmaa commented on #3186
@jkotas Aha, I get it. In the end, enabling the ARM32 RyuJIT backend is becoming more and more important to us in every way. Thank you for your detailed explanation.

P.S. Supporting WebAssembly is really interesting. I am glad to know that you are considering it. :)

[2017-04-13 16:09] sergign60 opened #3323 "[cross unix arm] x86-64 versions of System.Native.a and libSystem.Globalization.Native.a are installed in bin/Product/Linux.armel.Debug/packaging/publish1/framework instead of arm versions"
The used ROOTFS armel tizen
The used command
./build.sh cross armel debug

Linking of Hello test fails with the message
corert/tests/../bin/Product/Linux.armel.Debug/packaging/publish1/framework/System.Native.a: error adding symbols: File format not recognized

After I brought the appropriate versions of these libs from corefx and coreclr Hello test is linking successfully

[2017-04-13 16:10] sergign60 commented on #3323
@jkotas Could you fix it?

[2017-04-13 16:10] sergign60 commented on #3323
CC: @Dmitri-Botcharnikov

[2017-04-13 16:22] jkotas commented on #3323
It should be fixed here: https://github.com/dotnet/corert/blob/master/buildscripts/buildvars-setup.sh#L128 . It should use actual target build arch, instead of hardcoding to x64.

[2017-04-13 16:33] MichalStrehovsky commented on #3248
My fix doesn't address this problem. I can believe it shuffled things enough that the problem went away for this particular repro, but the problem is still there.

[2017-04-13 18:13] sergign60 commented on #3323
@jkotas Thanks, but I have no idea what value should be here, something like this  ubuntu.16.04-armel, right?

[2017-04-13 18:15] sergign60 commented on #3323
@jkotas As I see another problem is that only these two libraries should be of armel variant for cross compiling.

[2017-04-13 18:21] jkotas commented on #3323
Agree. There are likely multiple bugs to fix to make the build work well for cross-compilation.

[2017-04-13 21:44] AtsushiKan opened #3328 "Custom Attribute: enum arrays with object arrays are not represented property."
Consider this custom attribute:

   class MyAttribute : Attribute { public MyAttribute(object[] o) {} }

and this application:

   [My(new object[] { new MyEnum { MyEnum.Red } })]

Reading this with Reflection will make the MyEnum[] array come back as an Int32[] array (or whatever the underlying integral type of MyEnum is). (This breaks xunit tests that use [InlineData] with enum arrays.)

As far

[2017-04-14 05:59] lemmaa commented on #3186
cc: @egavrin @dmahugh @hqueue @hseok-oh @parjong

[2017-04-14 08:53] egavrin commented on #3186
@jkotas @lemmaa if CoreRT is not the favorable solution then it would be reasonable for me to concentrate on RyuJIT and ARM32 support instead.

[2017-04-14 09:00] Dmitri-Botcharnikov commented on #3186
@egavrin There is another path in CoreRT which is based on RyuJIT. It has however another issues.

[2017-04-14 09:26] sergign60 commented on #3323
@jkotas what about this question: what value should be used for getting System.Native.a for armel, something like this ubuntu.16.04-armel , right?

[2017-04-14 11:09] sergign60 commented on #3323
@jkotas What about the question: what value should be for getting arm versions of this libraries, ""tizen.4.0.0-armel", right ?

[2017-04-14 11:35] AtsushiKan opened #3331 "Support rank 1 multidim arrays."
Not saying this is a must-do - just need an issue comment for a disabled test.

[2017-04-14 12:59] Scellow commented on #3308
@jkotas Hello, i know it's not the right place to ask this, but i don't know where i can the answser to my questions

* Will CoreRT produce self-contained executables like GO or Rust?
* Will i need the whole .NET runtime to distribute my executable?
* Any ETA for a possible "beta" or early access release ?

Thanks!

[2017-04-14 14:20] jkotas commented on #3308
It does today already.

Yes. However, if you would like to work great as self-contained executable, it is best to avoid:
- Dynamic code generation (Reflection.Emit) because of it would pull in a JIT
- Complex generics or reflection patterns because it results into long compile times and bloated binaries

CoreRT is open source. You can get early access by building it yourself: https://github.com/do

[2017-04-14 14:30] jkotas commented on #3323
Right.

The x64 build is getting the .a files via nuget package from https://dotnet.myget.org/gallery/dotnet-core . I do not see tizen armel binaries on myget. You will need to point the build to somewhere to get these from.

[2017-04-14 21:00] MichalStrehovsky commented on #3331
@AtsushiKan this works fine with the open source CoreRT compiler.

It's a bit odd to track the closed source, UWP-only compiler limitations in the public repo. We might want to come up with a label for this kind of issues if tracking on GitHub is a must, but I would prefer not track issues like this here.

[2017-04-16 11:29] sergign60 commented on #3323
https://github.com/dotnet/corert/pull/3349

[2017-04-17 10:49] #3323 closed

[2017-04-17 11:53] jkotas commented on #2966
Fixed by #10988

[2017-04-17 11:53] #2966 closed

[2017-04-17 14:34] sergign60 commented on #3320
#3354

[2017-04-17 16:41] MichalStrehovsky opened #3355 "Extend metadata schema to allow illegal modopts"
See dotnet/coreclr#10944. The native metadata schema strictly follows the ECMA-335 spec, but that's not how Microsoft compilers use it.

[2017-04-17 17:15] AtsushiKan opened #3356 "Review AssemblyName ref->def matching rules regarding Versions with 65535 components."
CoreCLR treats 65535's in refname Version components as "wildcards."

[2017-04-17 20:01] AtsushiKan commented on #3356
cc @atsushikan - testing if github notifications working.

[2017-04-17 22:21] MichalStrehovsky commented on #3331
Turns out there's interesting behaviors we still don't cover in the runtime/compiler even on the CoreRT side.

Once we cover those, we're free to bring down the limitation on the ProjectN side (in terms of reflection/type loader). Statically, we'll still not support them with the ProjectN compiler, but that will fix itself with time. The test blocked on this on the CoreFX side doesn't test the sta

[2017-04-18 05:04] #3328 closed

[2017-04-18 07:53] #3320 closed

[2017-04-18 09:07] sergign60 opened #3365 "[RuyJIT cross unix armel] IIc fails with the message System.Exception: JIT Failed"
For all CoreRT tests RuyJIT fails

"/home/signatov/CORERT/corert/tests/../bin/Product/Linux.armel.Debug/packaging/publish1/corerun" "/home/signatov/CORERT/corert/tests/../bin/Product/Linux.armel.Debug/packaging/publish1/ilc.dll" @"/home/signatov/CORERT/corert/tests/src/Simple/Threading/obj/Debug/armel/native/Threading.ilc.rsp"

         Unhandled Exception: System.Exception: JIT Failed

[2017-04-18 09:44] sergign60 commented on #3365
CC: @Dmitri-Botcharnikov

[2017-04-18 15:41] AtsushiKan opened #3366 "Support reading MarshalAs customattributes through Reflection."
I don't think we need this for 2.0 but need a github issue to disable a test with.

This attribute is unfortunately a pseudo-custom attribute which means we first need the native metadata layer to represent FieldMarshal metadata in its schema. Right now, there's no support for that.

[2017-04-18 16:36] cocotr opened #3367 "Unhandled Exception: System.IO.FileNotFoundException"
Hello,
I successfully built native application with /t:LinkNative . Unfortunatelly I got below exception when I try to run application. What should I do ?
tablonzo@coco:~/Desktop/DJ_PRAWDZIWY_NATIVE/bin/Release/netcoreapp1.1/native$ ./DJCompositeFeedSrv_NETCore
Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Xml.XmlDocument'. The system cannot find the

[2017-04-18 19:06] jkotas commented on #3367
The problem is that we do have good builds of `System.Xml.*` in CoreRT yet.

You can try to add following to
https://github.com/dotnet/corert/blob/master/src/packaging/packages.targets#L168 to workaround it (one test is likely going to fail) and see whether it makes your app work:

[code]

[2017-04-19 16:34] MichalStrehovsky commented on #1512
#3380 fixed this.

[2017-04-19 16:34] #1512 closed

[2017-04-19 17:22] MichalStrehovsky commented on #1198
Also related: #3210. With that, most of the low hanging fruit has been collected in this space.

[2017-04-19 19:29] sergign60 commented on #3365
@jkotas
As I see there are two versions of 'crljit' libs - libclrjit.so and libclrjitilc.so in CoreRT. Could you tell what is the difference between these libraries? How can I build the library libclrjitilc.so for other platforms?

Thanks in advance!

[2017-04-19 19:45] jkotas commented on #3365
`libclrjitilc.so` renamed `libclrjit.so`. The rename is hidden in this line: https://github.com/dotnet/corert/blob/master/src/packaging/packages.targets#L64

libclrjit.so is used by the CoreCLR that compiler runs on, and libclrjitilc.so is used for the actual compilation. The versions of the two RyuJIT .dlls are typically different because of we do not upgrade the CoreCLR that the toolchain runs t

[2017-04-19 19:56] sergign60 commented on #3365
@jkotas
thanks! But where can I take these libraries for tizen armel for example or for other platforms?

[2017-04-19 20:03] jkotas commented on #3365
They are regular RyuJIT builds from CoreCLR repo.

[2017-04-19 21:18] AtsushiKan opened #3387 "Delegate.CreateDelegate() - V1 overloads fail to find private method in base class."
Once this is fixed, remove the todo marked with this issue in System.Runtime.Tests.

        public class B
        {
            private int Execute(C c) => 4;
        }

        public class C : B
        {
             private void Execute(C c) {}
        }

        Delegate.CreateDelegate(typeof(Func<C,int>), new C(), "Execute")

on CoreCLR, CreateDelegate skips over C::Execute (that has the n

[2017-04-19 23:58] AtsushiKan opened #3389 "Array.Copy() throws when asked to copy int[,] to Object[,] or vice-versa."
These work for SZArrays.

On CoreCLR, they also apparently work for multidim arrays. But not on CoreRT.

[2017-04-19 23:59] AtsushiKan opened #3390 "Array.ConstrainedCopy() fails on copying Int32Enum[] to int[]."
Works on CoreCLR.

[2017-04-20 00:00] AtsushiKan opened #3391 "Array.ConstrainedCopy() fails on copying NonGenericSubClass[] to NonGenericClass[]"
Works on CoreCLR.

class NonGenericClass {}
class NonGenericSubClass : NonGenericClass {}

[2017-04-20 00:02] AtsushiKan opened #3392 "Array.ConstrainedCopy() accepts copying many type combinations that it shouldn't."
More detail to come.

Not the most urgent bug but causes scads of failures in ArrayTests.*ThrowsTypeMismatch* tests.

[2017-04-20 06:41] 717009629 opened #3394 "Visual Studio 2015 (Community is free) is a pre-requisite to build this repository."
`D:\git\corert>build  clean vs2017`
`Doing a clean build`

`找不到 D:\git\corert\bin\Logs\*_Windows_NT__x64__Debug.*`
`Checking pre-requisites...`

`Visual Studio 2015 (Community is free) is a pre-requisite to build this repository.`
`See: https://github.com/dotnet/corert/blob/master/Documentation/prerequisites-for-building.md`
`Setting build variables failed.`

[2017-04-20 07:48] sergign60 commented on #3365
@jkotas
thanks, I mean is it possible now to build RyuJIT that works on x64 for example but generates code for any other platform?

[2017-04-20 14:52] jkotas commented on #3365
It is possible and some of the combinations are building already: https://github.com/dotnet/coreclr/commit/db2c3f635d49cc3072ede8f39174459cd764fda4

All the combinations so far have been for host and target of the same bitness. The x64 host / arm target combination may need some bug fixing because of it is mixing different bitness. The bug fixing should be pretty straightforward - fix places where

[2017-04-20 20:34] #3248 closed

[2017-04-20 22:47] jkotas opened #3396 "Port fix for delegate's hash code's distribution from CoreCLR"
https://github.com/dotnet/coreclr/pull/11019

[2017-04-21 00:06] mountgellert commented on #3396
Do you need help porting it?

[2017-04-21 00:48] Scellow commented on #3308
What about the GC ? same as exising one? or we can have some hope for ARC?

[2017-04-21 07:17] jkotas commented on #3396
Yes, it would be help if you can port it. Thank you!

[2017-04-21 08:01] sergign60 commented on #3365
@jkotas thanks! It's a great news! :+1:

[2017-04-21 15:04] sergign60 commented on #3365
@jkotas
Now I'm trying to get object file for tizen armel on a device with tizen.
I've copied corerun and all its libraries that are cross-compiled on x64  for tizen armel into some directory on the device and copied ilc.dll that is brought from the directory corert/bin/Product/Linux.armel.Debug/packaging/publish1  into the same directory where corerun and all coreclr libraries are placed.

I run

[2017-04-21 15:55] jkotas commented on #3365
This message suggests that `System.Private.CoreLib` cannot be found. Do you have correct path to `System.Private.CoreLib` in `@Hello.ilc.rpc` ?

[2017-04-21 16:53] AtsushiKan commented on #3392
https://github.com/dotnet/corert/pull/3400

[2017-04-21 16:53] #3392 closed

[2017-04-21 16:53] AtsushiKan commented on #3391
https://github.com/dotnet/corert/pull/3400

[2017-04-21 16:53] #3391 closed

[2017-04-21 16:54] AtsushiKan commented on #3390
https://github.com/dotnet/corert/pull/3400

[2017-04-21 16:54] #3390 closed

[2017-04-21 16:54] AtsushiKan commented on #3389
https://github.com/dotnet/corert/pull/3400

[2017-04-21 16:54] #3389 closed

[2017-04-21 18:31] MichalStrehovsky commented on #2959
Fixed in #3398.

[2017-04-21 18:31] #2959 closed

[2017-04-21 18:41] sergign60 commented on #3365
@jkotas
thanks. It was my fault :) but there is another message:
[code]

[2017-04-21 18:43] jkotas commented on #3365
Are you referencing CoreRT System.Private.CoreLib? CoreCLR System.Private.CoreLib won't work on CoreRT.

[2017-04-21 21:27] shrah opened #3408 "Generate delegate marshalling stubs"
Today we only generate runtime delegate stubs and data for delegates which are explicitly part of P/Invoke signature. However, for the Marshal.* delegate APIs to work we need proper analysis to determine what delegates to generate data for.

As a next step we could possibly mark the delegates that we want to generate marshal data for with [UnmanagedFunctionPointerAttribute](https://msdn.microsoft.

[2017-04-24 12:14] sergign60 commented on #3365
@jkotas
I'm sorry for my misunderstanding. I've got already that CoreCLR System.Private.CoreLib isn't appropriate. But after building CoreRT with the command: ./build.sh armel cross debug, I've got the following collection of System.Private.CoreLib.dll's
[code]
I've checked all of these variants (with different sizes) but nothing is working on armel. As I understand the situation all of these libr

[2017-04-24 15:51] jkotas commented on #3365
The libraries under `bin/Product/Linux.armel.Debug/packaging/publish1/sdk/*` are the right set to use. Could you please share the details why they do not work?

[2017-04-24 15:52] jkotas commented on #3365
The conditions for defines in System.Private.CoreLib.csproj may need adjustments.

[2017-04-24 16:16] sergign60 commented on #3365
@jkotas
Thank you for help!
Now compiler fails with the message:
[code]

[2017-04-24 16:42] jkotas commented on #3365
If you do not have it already, you may want to use debug build of the JIT to debug this.

You can use `--codegenopt` command line options to pass additional arguments to the JIT, like what is done `COMPlus_` environment variables in CoreCLR. Useful to turn on JIT logging. Examples: https://github.com/dotnet/corert/pull/2031

[2017-04-25 14:47] sergign60 commented on #3365
https://github.com/dotnet/corert/pull/3424

[2017-04-25 15:03] cocotr opened #3425 "CoreRT official release"
Hello,
When official release of CoreRT is planned ?

[2017-04-26 07:41] shrah commented on #2476
Fixed in https://github.com/dotnet/corert/pull/3315

[2017-04-26 07:41] #2476 closed

[2017-04-26 17:55] shrah commented on #2490
Fixed with https://github.com/dotnet/corert/commit/15e3e38fd80919aa759d31588ec0d40e409005ad

[2017-04-26 17:55] #2490 closed

[2017-04-27 00:00] #2542 closed

[2017-04-27 00:36] #3394 closed

[2017-04-27 10:07] sergign60 opened #3440 "Clean up unused RelocType values in Relocation.cs"
The following values should most likely be cleaned (Relocation.cs)

        // TODO: Clean up
        IMAGE_REL_THUMB_MOV32           = 0x11,     // Thumb2: MOVW/MOVT
        IMAGE_REL_THUMB_BRANCH24        = 0x14,     // Thumb2: B, BL

[2017-04-27 11:15] #3365 closed

[2017-04-27 21:14] #2683 closed

[2017-04-27 22:34] jkotas commented on #3440
Fixed by https://github.com/dotnet/corert/pull/3444

[2017-04-27 22:34] #3440 closed

[2017-04-28 23:54] MichalStrehovsky opened #3454 "GVM resolution failures in CoreCLR tests"
Following tests fail GVM resolution at runtime:

[code]

[2017-04-29 17:06] MichalStrehovsky opened #3460 "Support for `catch (T)`/`catch (SomeException<T>)` from shared code"
This was tracked on the "Shared generics" project, but we actually have tests failing because of this and I need an issue number to reference from blocked tests.

[2017-04-29 17:25] MichalStrehovsky opened #3461 "TypeLoadException compatibility in shared code"
There are a bunch of tests that test we throw `TypeLoadException` from shared code when the shared code ends up referencing a bad type in a particular instantiation.

Without shared code, the compiler is able to detect that and replace the referencing method with a throwing body. With shared code, we only detect the problem when building the concrete generic dictionary, which is too late to do any

[2017-05-01 09:41] charlesroddie commented on #3425
I'd be interested to know how far this project has progressed in general.

[2017-05-01 19:26] rolandh commented on #2035
Do you guys have anything in mind with how you will achieve this? Will you effectively build some sort of metadata cache?

I am very interested in this.

[2017-05-01 20:07] MichalStrehovsky commented on #2035
This would reuse the same scheme we already have for the RyuJIT codegen path:

* The compiler generates a blob of bytes that describes the metadata (namespaces, types, their members, their custom attributes, method parameters, etc.). The data is generated as a byte array in the [ComputeMetadata](https://github.com/dotnet/corert/blob/79affc5f32c390e7f6a0d61b1446360fbad0ae5f/src/ILCompiler.Compiler/

[2017-05-04 22:46] AtsushiKan opened #3522 "Type.GetTypeFromCLSID().MakeArrayType() throws on CoreRT."
Not that we could ever instantiate this but the full framework allows this...

[2017-05-05 06:59] MichalStrehovsky commented on #2062
Related: #3468, #3503.

[2017-05-05 23:34] sandreenko opened #3538 "c++ linker drops UserDefinedTypes information."
[code]
For this test the debugger doesn't show MyClassB fields, because there is no complete UDT in the pdb. There is only a forward declaration.
The complete UDT exists in the obj, but it is dropped in the C++ linker.

Obj dump:
[code]

Pdb dump:

[code]

[2017-05-06 07:08] MichalStrehovsky opened #3543 "Implement sealed virtual slot emission"
Size on disk optimization that lets us avoid emitting certain interface implementing virtual slots in the vtable. Runtime already supports this, but the compiler needs to emit this.

[2017-05-08 19:55] danmosemsft commented on #3366
reenable test when fixed https://github.com/dotnet/corefx/pull/19484/files

[2017-05-09 19:13] kouvel opened #3560 "Port fix for timer drift to CoreRT"
Port dotnet/coreclr@c55f023f542e63e93a300752432de7bcc4104b3b to CoreRT
Original issue: dotnet/coreclr#6408

[2017-05-09 19:13] kouvel commented on #3560
@AntonLapounov @sergiy-k

[2017-05-09 19:38] kouvel opened #3561 "Port fix for thread pool TrySteal perf to CoreRT"
Port dotnet/coreclr@cfd28c5021187e19c1da5eff0b62f3419d8b5d26 to CoreRT
Original issue: dotnet/coreclr#5930

[2017-05-09 19:38] kouvel commented on #3561
@AntonLapounov @sergiy-k

[2017-05-09 20:32] sandreenko commented on #3538
PTAL @hoyMS, maybe you know what is a problem here.
cc @davidwrighton

[2017-05-09 20:56] kouvel opened #3562 "Port fix for Task.WhenAny perf to CoreRT"
PR: https://github.com/dotnet/coreclr/pull/9024
Original issue: https://github.com/dotnet/coreclr/issues/9011

[2017-05-09 20:56] kouvel commented on #3562
@AntonLapounov @sergiy-k

[2017-05-09 21:03] stephentoub commented on #3562
I already ported this:
https://github.com/dotnet/corert/pull/2583
Or is something more needed?

[2017-05-09 21:14] kouvel commented on #3562
Forgot to check this one, thanks!

[2017-05-09 21:14] #3562 closed

[2017-05-09 23:27] jkotas opened #3564 "Remove runtime dependency on libstdc++"
CoreRT runtime does not use any C++ features (exception handling, etc.), but it still depends on libstdc++ here and there for no good reason. Consider removing cleaning up these dependencies to improve minimal footprint.

[2017-05-09 23:59] activa opened #3565 "Reflected constructor invocation fails when using null propagation operator in .NET Native"
The following code works fine in any .NET runtime environment, including Mono, Xamarin, etc. :

[code]
On Windows UWP with .NET Native compilation enabled, the same code throws an exception of type `NotImplementedException`

However, when the null propagation operator is removed, it works perfectly on .NET Native:
[code]
The line in the stack trace where the exception occurs is:

    at System.Ref

[2017-05-10 00:16] MichalStrehovsky commented on #3565
Can you give us more details so that we can route this?

* What version of Visual Studio is this? (Help -> About in VS)
* What CPU architecture you're compiling for?
* What version of the `Microsoft.NETCore.UniversalWindowsPlatform` NuGet package is your project using?

I just tried this in VS and couldn't repro this failure, so I want to make sure we have everything to repro.

[2017-05-10 00:34] activa commented on #3565
It's 100% reproducible on my end when creating an empty project, enabling .NET Native compilation and adding the code I posted here.

* Microsoft.NETCore.UniversalWindowsPlatform **version 5.2.3**
* CPU Architecture **x86**
* Visual Studio **14.0.25431.01 Update 3**
* "Optimize Code" turned off (tried both, same result)

[2017-05-10 00:48] MichalStrehovsky commented on #3565
Still no luck in reproing. This could be a bug in devirtualization. Code generation bugs are extremely finicky. Do you mind creating an [ilcRepro](https://github.com/dotnet/core/blob/master/Documentation/ilcRepro.md) file with your test project?

[2017-05-10 01:03] activa commented on #3565
I will try to get you everything you need.  Can I post the link to the ilcRepro here or do I need to send it by e-mail?

BTW, this issue is occurring on 3 different machines so it doesn't seem to be environment-related.

[2017-05-10 01:12] MichalStrehovsky commented on #3565
E-mail is the proper channel for .NET Native for UWP apps, so taking it there wouldn't be a bad idea (I do get the dotnetnative at microsoft com emails and will be able to follow up).

We can close the issue here - the compiler used for .NET Native for UWP apps is different than the compiler we have in this repo. This will likely be a compiler bug that can't be fixed in this repo anyway.

[2017-05-10 01:14] activa commented on #3565
Ok, I just thought that because the stacktrace clearly indicates that the Exception is thrown in the CoreRT code, that this would be the right place.

[2017-05-10 01:43] activa commented on #3565
Repro file was created and I'll e-mail it to the e-mail address you mentioned.
It turns out that this issue only happens when the code is in a PCL (Profile151) referenced from the UWP project.

Reflection works so it's not caused by missing runtime directives (because the constructor was successfully found and the first line of code where the constructor is invoked without the ?. operator succeeds

[2017-05-10 02:13] sandreenko commented on #3538
Was fixed by #3439

[2017-05-10 02:38] MichalStrehovsky commented on #3565
Oh, okay, with Profile151 I have a repro and it's a rather annoying breaking change in the framework.

If you want to follow along:

* `ConstructorInfo.Invoke(object[])` method in the System.Reflection reference assembly (`C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETPortable\v4.5\Profile\Profile78\System.Reflection.dll` says that the `Invoke` method is not virtual.
* Somewh

[2017-05-10 02:46] #3565 closed

[2017-05-10 03:03] jkotas opened #3567 "[ILVerify] Add readme for ILVerify tool"
@gregkalapos Would you like to give it a shot?

[2017-05-10 03:08] jkotas opened #3568 "[ILVerify] Make non-essential types optional"
ILVerify type system fails when non-essential types like `ByRefererence<T>` are missing. These types should be optional for ILVerify instead.

[2017-05-10 03:09] jkotas opened #3569 "[ILVerify] Add ILVerify test scafoding"
The sources for the tests should be under ILVerify\tests as .il files, and they should get compiled as binaries. (BTW: ilasm has /ERROR option that suppresses some of its error checking that would otherwise prevent invalid test cases from compiling.)

Related tests should live in the same .il file, so that we end up with like a few dozen .il files at the end. I do not think we would want to have t

[2017-05-10 03:12] jkotas opened #3570 "[ILVerify] Support different names for base libraries"
Add command line option and/or try to find from metadata of the assembly being verified

[2017-05-10 03:16] gregkalapos commented on #3567
@jkotas Yes, I take this! (I cannot assign it to myself, I guess you have to do it)

[2017-05-10 05:20] mmayr-at commented on #3568
I take this. Resolving this is a prerequisite for integrating ILVerify into our test suites.

[2017-05-10 13:43] janvorli commented on #3564
@jkotas CoreRT uses new / delete operators and these are implemented in the libstdc++. It also uses std::terminate. And the System.Globalization.Native uses std::string.

I have looked at the Exceptions simple test to find the symbols using `objdump -x Exceptions | grep GLIBCXX | c++filt`

[2017-05-10 15:53] jkotas commented on #3564
Yes, these are the kind of dependencies that I meant. E.g. we can have our own trivial local impl instead of pulling in the libstdc++ dependency.

I am not worried about System.Globalization.Native as much. If you link with System.Globalization.Native, you are pulling in the large libicu dependency (order of magnitude more than libstdc++) and so the extra libc++ does not matter. I think this is re

[2017-05-10 23:33] tarekgh opened #3583 "Remove un-needed target when upgrading to v2 BuildTools"
We have done some change in the PR #3580 to change the license Url for packaging. because corert repo not using v2 of the buildtools we had to hack this by adding the temporary target OverrideLicenseUrl in the dir.targets files. This target should be removed after upgrading to v2 of the buildtools and need to ensure when removing it the license Url in the packages nuspec files is correct

[2017-05-11 02:35] jkotas opened #3586 "[ILVerify] Add optional warnings for constructs that are likely incorrect"
- Catching exception that does not derive from System.Exception

[2017-05-11 02:37] jkotas opened #3587 "[ILVerify] Add option for IL validation without IL verification"
Useful for sanity check of valid unsafe IL. This option should suppress all verification checks related to type safety, but keep the rest.

[2017-05-11 17:30] shmao commented on #2946
https://github.com/dotnet/corefx/issues/19663 is being blocked by this issue.

[2017-05-12 23:52] MichalStrehovsky opened #3608 "Constrained method calls use wrong generic context"
Below code will fail at runtime because RyuJIT generates code where in `DoFrob` we pass the interface type as generic context instead of `Foo` and things go bad in `Frob`.

Need to find the place where CoreCLR makes it do the right thing. Found this by accident because it showed up as a diff in my ILScanner work.

[code]

[2017-05-13 22:18] sandreenko commented on #3538
The problem still exist if Linker::Debugging:Generate Debug Info is set to FULL. It this case the final pdb doesn't have all UDT types.

[2017-05-15 17:27] #3567 closed

[2017-05-15 19:44] kouvel opened #3616 "Assertion failure in BasicThreading test on Ubuntu"
Build: https://ci.dot.net/job/dotnet_corert/job/master/job/debug_ubuntu_prtest/1714/
PR: https://github.com/dotnet/corert/pull/3503

[code]

[2017-05-15 20:05] MichalStrehovsky opened #3617 "Revise MdArray Rank 1 handling in src\System.Private.Reflection.Execution\...\TypeCast.cs"
`src\System.Private.Reflection.Execution\src\Internal\Reflection\Execution\TypeLoader\TypeCast.cs`: We cannot rely on `Rank == 1` => `SzArray`.

We might need to check Rank in more places.

[2017-05-15 20:09] AtsushiKan commented on #3331
Reopening and assigning to myself - need to now reenable those corefx tests that we disabled with this issue.

[2017-05-15 20:25] jodavis opened #3619 "Behavior of arraySegment.ToArray() has changed"
I was using `Enumerable.ToArray(this IEnumerable)` on an ArraySegment, which calls `ArraySegment.GetEnumerator()`. This did not throw any exception when the underlying array is null, so `ToArray()` would return an empty array.

Now that ArraySegment has its own `ToArray()` function, my code is calling that one (with no code change on my part). `ArraySegment.ToArray()` throws an exception when call

[2017-05-15 21:06] jkotas commented on #3619
This issue was moved to dotnet/corefx#19799

[2017-05-15 21:06] #3619 closed

[2017-05-16 05:51] #3568 closed

[2017-05-17 17:01] AtsushiKan opened #3637 "Passing an unsuitable base type to DispatchProxy.Create() throws wrong exception type."
Current tests disabled in System.Reflection.DispatchProxy.Tests:

[code]
Passing an unusable base type (abstract, sealed, etc.) to DispatchProxy.Create() is supposed to throw an ArgumentException.

On .NET Native, the toolchain generates these types. In the case of an impossible base type, it skips generating the type and you get an (internal) DispatchProxyNotFoundException thrown instead.

Perhap

[2017-05-17 17:11] AtsushiKan opened #3638 "Module.HasModuleVersionId() returns true but Module.GetModuleVersionId() throws."
One of these has to change their mind...

ActiveIssue'd test

  System.Reflection.Tests.MetadataTokenTests.UnbakedReflectionEmitType_HasNoMetadataToken

in System.Reflection.TypeExtensions.CoreCLR.Tests

[2017-05-17 20:18] AtsushiKan commented on #3331
Tests reenabled.

[2017-05-17 20:18] #3331 closed

[2017-05-17 20:19] #3522 closed

[2017-05-17 22:20] AtsushiKan opened #3643 "CoreRT/.NetNative does not support calling static constructors through MethodBase.Invoke()"
This was a conscious limitation (in part due to the fact that the toolchain optimizes away many class constructors in favor of raw data blocks) and I'm not pushing to add it now.

But we do have to PlatformDetect some corefx tests due to this and so it'd be good to have a tracking issue to point it to.

[2017-05-17 22:43] gregkalapos commented on #3569
@jkotas I take this. I think this is important... it would be nice to add tests as we go (and not afterwards), so I give it a try.

[2017-05-18 16:36] AtsushiKan opened #3645 "Port new overload String.GetHashCode(StringComparison) to CoreRT."
Then reenable the System.Runtime.Tests that were ActiveIssued on this.

[2017-05-18 16:37] AtsushiKan opened #3646 "Port new overload String.Replace(String, String, StringComparison) to CoreRT."
Then reenable the System.Runtime.Tests that were ActiveIssued on this.

[2017-05-18 16:38] AtsushiKan opened #3647 "Port new overload String.Replace(String, String, bool, CultureInfo) to CoreRT."
Then reenable the tests in System.Runtime.Tests that were ActiveIssued due to this.

[2017-05-18 16:51] AtsushiKan opened #3648 "Port new api GC.GetAllocatedBytesForCurrentThread() to CoreRT."
And reenable the tests ActiveIssued for this in System.Runtime.Tests

[2017-05-18 16:52] MichalStrehovsky commented on #3643
Should we just label issues like these Won't fix and close them? Does Helix care? I'm not a fan of keeping issues we have no plans to act upon open. It just makes us pile up issues until someone gets fed up and bulk closes all issues older than a year without looking at what they are. We should be more proactive.

[2017-05-18 16:58] AtsushiKan commented on #3643
Helix doesn't care.

[2017-05-18 16:58] #3643 closed

[2017-05-18 20:59] AtsushiKan opened #3650 "Array.CreateInstance throws wrong exception on receiving non-runtime type."
Expected: ArgumentException,
Actual: InvalidOperationException.

Once this is fixed, reenable the tests that the ActiveIssued onthis.

[2017-05-18 21:58] AtsushiKan opened #3651 "Enum.Parse<T> fails to throw ArgumentException on empty string input."
System.Runtime.Tests:
System.Tests.EnumTests.Parse_Invalid_NetCoreApp11(enumType: typeof(object), value: \"\", ignoreCase: False, exceptionType: typeof(System.ArgumentException))

[2017-05-19 16:43] MichalStrehovsky opened #3659 "Native layout generation causing compilation failure"
This will crash the compiler because `CanonicalEETypeNode` for `Unused<__Canon>` doesn't declare dependency on the virtuals, but ends up needing them in the vtable.

The fix for that is obvious (just declare the conditional dependencies on the `VirtualMethodUse` of the virtuals - same as `ConstructedEETypeNode` does).

This is more of a question of why we're forcing a constructed type here. It's s

[2017-05-19 16:44] MichalStrehovsky commented on #3659
@fadimounir Any chance you can have a look at this? I hit this with my ILScanner work. For a while I thought it's a bug in my code, but I ended up finding a repro without ILScanner and convinced myself this is not caused by those changes.

[2017-05-19 18:22] sandreenko opened #3661 "CV arrayType problems"
There are some known problems:
1. windbg doesn't allow to expand arrayType fields, the VS debugger works right;
2. values show two elements, when should show 1 (ProjectN shows 1)
`class repro_TestArrays_MyClassA *[2];
`
3. ProjectN has better name for primitive arrays types (for example class System::Byte[,] *, when CoreRT names it as class UInt8__<ArrayRank2> *)

[2017-05-21 14:52] benpye commented on #2884
@jkotas Just had a look at this issue, though struggled to translate the approach RyuJIT took to the CPP generator. Is there any documentation that would allow me to better understand the work needed here (corert seems less will documented than coreclr unfortunately). Do you think another of the open CPP issues would be better to try and get an understanding of the code?

[2017-05-22 07:11] jkotas commented on #2884
@benpye Welcome back Ben!

Even simpler repro - interface method calls on boxed value types do not work:

[code]

Here is how to start debugging it:
- Use https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-visual-studio.md to setup the debugging environment
- Optional: Comment out the following lines in LibraryInitializers.cs. These lines pull in reflecti

[2017-05-22 13:50] BredPet opened #3672 "Unimplemented CORINFO_HELP_READYTORUN_* helpers on 32-bit arm arch"
Backtrace:
[code]

Any ideas how to implement it?

@jkotas please take a look

[2017-05-22 14:53] jkotas commented on #3672
I would not expect you to hit the exception here. I would expect you to hit the NYI here instead: https://github.com/dotnet/corert/blob/master/src/ILCompiler.Compiler/src/Compiler/DependencyAnalysis/Target_ARM/ARMReadyToRunHelperNode.cs#L57 . Are you using the true RyuJIT or the legacy JIT? It may have something to do with that. Could you please look into it and share what you find?

Also, we have

[2017-05-22 15:04] UIDLYG commented on #3672
@Dmitri-Botcharnikov
@sergign60

[2017-05-23 19:25] jkotas opened #3682 "Update CoreRT build to use latest .NET CLI and build tools"
Overall plan:
- Pick up latest .NET Core 2.0 CLI and buildtools
- Remove all project.json references and convert everything to msbuild projects
- Stick to vanilla .NET CLI project shape as much as possible. Minimize dependencies on buildtools special behaviors.

- [x] Restore
- [x] Build runtime parts
- [x] Build compiler parts
- [x] Unit tests
- [x] Packaging project
- [x] Simple tests
- [x] Core

[2017-05-23 19:27] jkotas commented on #3682
@nattress Here is a tracking bug for the .NET CLI update. I have pushed my current changes to https://github.com/dotnet/corert/tree/cli-update. Feel free to push more changes to it if you get a chance to work on this. We can review everything at once at the end.

[2017-05-23 19:54] BredPet commented on #3672
I think it's RyuJIT, in CoreCLR I checked the flag LEGACY_BACKEND, it's false.
I run it on arm target compilation by command: corerun ilc.dll some.ilc.rsp
corerun from CoreCLR, ilc.dll from CoreRT. It uses libclrjit.so and libclrjitilc.so libraries.
Also, I tried to disable the FEATURE_READYTORUN option in all CoreCLR. The error with READYTORUN disappeared but the process began to crash earlier, w

[2017-05-23 19:57] jkotas commented on #3672
Yes, it would be nice if the changes are simple enough.

[2017-05-23 20:26] fadimounir commented on #3659
As far as I remember, there was no distinction between necessary vs. constructed for canonical instantiations that was added in CoreRT. Any canonical eetype that exists is a candidate for being a template. A template must be constructed and have the full eetype (otherwise it's useless).
It wouldn't be a bad idea to distinguish between the 2 in order to avoid unnecessary size bloat. I'll investigat

[2017-05-23 20:29] MichalStrehovsky commented on #3659
I chatted with @davidwrighton about this yesterday and he suggested to just fix CanonicalEETypeNode to declare the conditional dependencies on the virtual method implementations (we need the size bloat, otherwise things get difficult to track). I can have a look at that later in the week, unless you want to beat me to it.

[2017-05-24 15:39] benpye commented on #2884
#3670 fixed the example given by @jkotas above, however the original and a simplified version are still broken.

[code]

As in the PR, `System_Private_CoreLib::System::Runtime::DispatchResolve::FindInterfaceMethodImplementationTarget` is returning `NULL` , it seems that FindImplSlotForCurrentType (at https://github.com/dotnet/corert/blob/master/src/Runtime.Base/src/System/Runtime/DispatchResolve.c

[2017-05-24 15:53] AtsushiKan opened #3688 "Implement Environment.GetEnvironmentVariables() property on CoreRT."
Right now, it just returns an empty dictionary.

[2017-05-24 16:42] MichalStrehovsky commented on #762
@nattress fixed this in #3680.

[2017-05-24 16:42] #762 closed

[2017-05-24 17:38] jkotas commented on #2884
I do not think so. Looks like a bug in the CppCodeGen - using underlying enum type instead of actual enum type, or something similar.

[2017-05-24 19:10] benpye commented on #2884
Hm, alright. At a quick glance it looks like CppCodeGen doesn't do much differently for enums compared to other value types, aside from a little different name mangling. Will have another look over the weekend.

[2017-05-24 20:35] #3538 closed

[2017-05-24 23:38] AtsushiKan commented on #3688
Update: Decided to implement this in corefx.

[2017-05-24 23:38] #3688 closed

[2017-05-24 23:45] jkotas commented on #3688
Implementing it in corefx will be tricky for x-plat. It has been moved to corefx once, and then moved back to runtime... .

[2017-05-24 23:49] AtsushiKan commented on #3688
What were the issues with implementing it in corefx?

(and do they also apply to SetEnvironmentVariable()?)

[2017-05-25 00:17] jkotas commented on #3688
See https://github.com/dotnet/corefx/issues/13931

[2017-05-26 00:02] davidwrighton commented on #2946
.NET Native UWP toolchain now supports this construct (and the runtime logic to make this work should flow into the public repo today). However, the public CoreRT toolchain handling of delegates does not yet have the changes to tie into that work.

[2017-05-26 13:42] AtsushiKan commented on #3638
I still need to reenable the test

ActiveIssue'd test

System.Reflection.Tests.MetadataTokenTests.UnbakedReflectionEmitType_HasNoMetadataToken

in System.Reflection.TypeExtensions.CoreCLR.Tests

[2017-05-26 21:55] #2796 closed

[2017-05-26 22:35] MichalStrehovsky commented on #3425
I know this is not the answer you want to hear, but we'll share details about timelines through the official channels when we have something to share (the [.NET Blog](https://blogs.msdn.microsoft.com/dotnet/) and Twitter account). We want to ship this at least as much as you want us to ship it, and we're getting there.

In the meantime, feel free to play around with building from source, or grabbi

[2017-05-26 22:35] #3425 closed

[2017-05-29 10:37] BredPet opened #3729 "arm32 compile error"
Hi, I try to compile some sample on arm32 target, as:
`./corerun ilc.dll @Hello.ilc.rsp`
and I got the following error(bt):
[code]
I tried to understand what was wrong and found that there was a call to the function "embedGenericHandle" from "impTokenToHandle" function in CoreCLR/src/jit/importer.cpp#1726
And if "embedGenericHandle" called from CoreCLR - it's ok, but if it called from CoreRT, the

[2017-05-29 10:38] BredPet commented on #3729
@Dmitri-Botcharnikov
@sergign60
@jkotas

[2017-05-29 11:47] jkotas commented on #3729
`CORINFO_LOOKUP` needs to be fixed to be bit-ness independent to work well on ARM32 host. It can be something like:

[code]

[2017-05-29 12:30] BredPet commented on #3729
Thanks. It's ok without hardcoded offset now, but the "stack smashing" error remained. I'll try to find where the stack is damaged.

[2017-05-29 17:47] kouvel commented on #3616
Some of these asserts are invalid

[2017-05-29 18:51] gregkalapos opened #3734 "[ILVerify] Define and Implement a public API surface"
Currently basically everything is internal in ILVerify.

Having a public API surface is needed for at least two things:

- Supporting a .dll flavor, so it can be embedded into any .NET application
- Creating tests without exposing every internal data structure to the test code. (see https://github.com/dotnet/corert/pull/3725#discussion_r118855361)

Step1: would be: let's discuss what we want to ex

[2017-05-29 19:01] leppie commented on #3734
Isn't ILVerify a COM thing? Or has it been ported to managed code (which would be super awesome!)?

[2017-05-29 19:03] gregkalapos commented on #3734
@leppie I guess what you mean by "COM thing" is PEVerify. And your guess is basically correct: ILVerify will be a managed port of that (...well not 100% port... ). Look here: https://github.com/dotnet/corert/tree/master/src/ILVerify

[2017-05-30 21:51] AtsushiKan opened #3740 "Race condition between allocating call-conversion thunks and storing them"
I’ve been running one of the really big corefx tests (System.Dynamics.Runtime) that also happens reflect on and invoke a ludicrous number of MethodInfo’s (I saw FindExistingOrAllocateThunk() being handed callConversionInfo’s with values like 0x05d1xxxx.) When run with parallelism (and with stdout redirected to a file), I hit <a href="https://github.com/dotnet/corert/blob/master/src/System.Private.

[2017-05-30 22:37] kouvel commented on #3616
@jkoritzinsky

[2017-05-30 23:18] AtsushiKan opened #3743 "Environment.GetCommandLineArgs() returns null on Project N"
I cannot deduce from the code and issues whether this is expected to work or not on CoreRT or Project N (it looks like it's supposed to clone a string array that's set at startup, but the startup hook is never called.)

Whatever else, null cannot be the right result. Either something faked, something valid or PNSE.

[2017-05-30 23:21] jkotas commented on #3743
It works in CoreRT with the CoreRT toolchain. It does not work in ProjectN / UWP because of the startup code is done differently there and this part was never wired up into it.

[2017-05-31 08:13] BredPet commented on #3672
With disabled READYTORUN feature in CoreCLR, I fixed some new bugs, and got next crash with "unknown shared statics helper" from fgGetStaticsCCtorHelper function in CoreCLR/src/jit/flowgraph.cpp. This is due to the fact that CoreRT in getFieldInfo function in CoreRT/src/JitInterface/src/CorInfoImpl.cs sets helper as:
[code]
Is there a way around this? There are no compile flags in the CoreRT to di

[2017-05-31 12:37] sergign60 commented on #3672
When I tried to use the latest corerun toolchain with disabled FEATURE_READYTORUN in CoreRT on x64 I got the following error on the Hello test

[code]

used diffs in coreclr
[code]
with READYTORUN the test is compiled successfully.

[2017-05-31 15:48] AtsushiKan opened #3747 "Port async-aware CultureInfo property from CoreCLR."
The following two tests are ActiveIssued onthis:

System.Globalization.Tests
-method  System.Globalization.Tests.CultureInfoAsync.TestCurrentCulturesAsync
-method System.Globalization.Tests.CultureInfoAsync.TestCurrentCulturesWithAwait

[2017-05-31 16:48] MichalStrehovsky commented on #3743
This was taken out of `#if CORERT` define without actually implementing it outside of CoreRT in #1496. We should just `PlatformNotSupport` it under `#if PROJECTN`. It's irrelevant for UWP.

[2017-05-31 16:49] MichalStrehovsky commented on #3743
(Also, we should remove the graceful failure mode for "things weren't initialized" that was added in that pull request. That change makes no sense to me.)

[2017-05-31 18:46] jkotas commented on #3672
Getting the non-ReadyToRun path inlined by the JIT is not about disabling FEATURE_READYTORUN when compiling the JIT. The JIT can be compiled with FEATURE_READYTORUN just fine for this. Not passing `CORJIT_FLAG_READYTORUN` flag to the JIT has the same effect as compiling the JIT with `FEATURE_READYTORUN` disabled. I am sorry for the confusion.

Getting the non-ReadyToRun path inlined by the JIT is

[2017-05-31 18:48] jkotas commented on #3672
Let's focus on details how to get the regular virtual method calls inlined by the JIT to make progress on this.

cc @PeterSolMS

[2017-05-31 20:38] #3569 closed

[2017-05-31 21:21] MichalStrehovsky opened #3753 "bool/BOOL mismatch in JitInterfaceWrapper"
E.g.

[code]

Should actually be

[code]

[2017-05-31 21:21] MichalStrehovsky commented on #3753
(Uncomment assert in `appendClassName` when this is fixed.)

[2017-05-31 22:20] AtsushiKan opened #3755 "Remove "new NotImplementedException"'s from Stack Trace code."
List of sites found by tooling:

[code]
## How to remove:

1. Include the following in your .csproj file:

[code]

Options for removing “throw new NotImplementedException()”:

### If you can implement the missing functionality now:

Do so.

### If this is functionality that’s not supported on a particular framework or OS, replace with

`throw new PlatformNotSupportedException(SR.xxx);`

### If thi

[2017-05-31 22:20] AtsushiKan opened #3756 "Remove "new NotImplementedExceptions" from Interop code."
Sites found by tooling:

[code]
## How to remove:

1. Include the following in your .csproj file:

[code]

Options for removing “throw new NotImplementedException()”:

### If you can implement the missing functionality now:

Do so.

### If this is functionality that’s not supported on a particular framework or OS, replace with

`throw new PlatformNotSupportedException(SR.xxx);`

### If this is an

[2017-05-31 22:21] AtsushiKan opened #3757 "Remove "new NotImplementedExceptions" from IO code."
Sites found by tooling:

[code]

## How to remove:

1. Include the following in your .csproj file:

[code]

Options for removing “throw new NotImplementedException()”:

### If you can implement the missing functionality now:

Do so.

### If this is functionality that’s not supported on a particular framework or OS, replace with

`throw new PlatformNotSupportedException(SR.xxx);`

### If this is an

[2017-05-31 22:22] AtsushiKan opened #3758 "Remove "new NotImplementedExceptions" from threading code."
Sites found by tooling:

`[System.Private.CoreLib] System.Threading.OverlappedData::GetOverlappedFromNative(NativeOverlapped*)
`

## How to remove:

1. Include the following in your .csproj file:

[code]

Options for removing “throw new NotImplementedException()”:

### If you can implement the missing functionality now:

Do so.

### If this is functionality that’s not supported on a particular fra

[2017-05-31 22:22] AtsushiKan opened #3759 "Remove new "NotImplementedExceptions" from Exception and LockFreeHashTable"
Sites found by tooling:

[code]

## How to remove:

1. Include the following in your .csproj file:

[code]

Options for removing “throw new NotImplementedException()”:

### If you can implement the missing functionality now:

Do so.

### If this is functionality that’s not supported on a particular framework or OS, replace with

`throw new PlatformNotSupportedException(SR.xxx);`

### If this is an

[2017-05-31 22:23] AtsushiKan opened #3760 "Remove "new NotImplementedException" from TypeLoader."
Sites found by tooling:

[code]

## How to remove:

1. Include the following in your .csproj file:

[code]

Options for removing “throw new NotImplementedException()”:

### If you can implement the missing functionality now:

Do so.

### If this is functionality that’s not supported on a particular framework or OS, replace with

`throw new PlatformNotSupportedException(SR.xxx);`

### If this is an

[2017-05-31 22:23] AtsushiKan opened #3761 "Remove "new NotImplementedException" from Reflection."
Sites found by tooling:

[code]

## How to remove:

1. Include the following in your .csproj file:

[code]

Options for removing “throw new NotImplementedException()”:

### If you can implement the missing functionality now:

Do so.

### If this is functionality that’s not supported on a particular framework or OS, replace with

`throw new PlatformNotSupportedException(SR.xxx);`

### If this is an

[2017-05-31 23:57] jkoritzinsky commented on #3616
There is a repro of this issue at https://github.com/jkoritzinsky/corert/tree/EventWaitHandleSetCrash

[2017-06-01 00:32] shrah opened #3763 "Add an attribute for structs indicating whether they are interesting for Interop"
We need an attribute on a struct to indicate whether a struct is interesting for interop. We have similar attribute(https://msdn.microsoft.com/en-us/library/system.runtime.interopservices.unmanagedfunctionpointerattribute(v=vs.110).aspx) for struct.

[2017-06-01 00:37] MichalStrehovsky commented on #3763
Should this be filed in the CoreFX repo then as a formal API proposal then?

Btw, reflection side has similar needs and what we did there is:

* Implemented a subset of RD.XML in `ILCompiler\src\RdXmlRootProvider.cs` as a temporary crutch.
* And we'll be adding support for consuming information from global analysis that uses data flow/RD.XML at a later stage.

[2017-06-01 07:36] BredPet commented on #3729
I fixed the bug, this was due to the dereferencing of the token's pointer from the CoreRT, but it's not a pointer, it's an index on the array in terms of the CoreRT. I'll create PR later.

[2017-06-01 07:37] #3729 closed

[2017-06-01 07:50] BredPet commented on #3672
I am much obliged to you for your help during the recent feedbacks. I'll try to deal with all this ;-)

[2017-06-01 13:56] AtsushiKan commented on #3253
Will turn NotImplemented to PNSE as part of NotImplemented sweep.

[2017-06-01 17:35] jkotas commented on #3672
@MichalStrehovsky and @PeterSolMS are going to look into this in the upcoming days. It requires some refactoring that would be hard for you to do without context. Could you please wait for their work?

[2017-06-02 01:25] davidwrighton opened #3772 "Implement MethodNameAndSignature on ArrayMethod"
This is used for computing RuntimeMethodHandles which will be needed in the jit implementation on CoreRT as that work goes from prototype to real.

[2017-06-02 02:10] jkotas commented on #3672
#3773 is the first step.

[2017-06-02 06:20] mmayr-at commented on #3753
Some month ago I had a bug where the root cause was exactly such bool/BOOL mismatch. Consider a function
[code]
which is called from managed code using pinvoke. Here is the C# declaration
[code]

In 32bit mode the compiler generates following instruction for the return statement
[code]
which stores the boolean result into AL register, which are the lower 8 bits of the EAX register. The managed pin

[2017-06-02 12:11] sergign60 commented on #3672
@jkotas "Are you using the true RyuJIT or the legacy JIT?"
@BredPet @Dmitri-Botcharnikov

As I see we are using legacy JIT now for armel tizen, in particulary, getHelperFtn for  CORINFO_HELP_READYTORUN_NEWARR_1 is called from CodeGen::genCodeForCall from codegenlegacy.cpp

[2017-06-02 13:34] sergign60 opened #3776 "ObjWriter for armel tizen"
We tried to build ObjWriter for armel tizen from the current version of https://github.com/dotnet/llilc. But we found that it is too old, in particular there are some sections in CoreRT that are not processed by ObjWriter from this repository. Where can we take more up-to-date version of it with the appropriate building instructions?

[2017-06-02 13:35] sergign60 commented on #3776
@sandreenko @jkotas @Dmitri-Botcharnikov @BredPet

[2017-06-02 14:40] jkotas commented on #3776
https://github.com/dotnet/llilc/tree/ObjectWriter branch should be up-to-date.

[2017-06-02 15:31] BredPet commented on #3776
In master there is old ObjWriter version, if we build this version with llvm MS brach, we get error:
`Unsupported section`
and if we ignore it, we get:
[code]
i.e. in ObjWriter missed SetCodeSectionAttribute function.
I found that in llilc exists ObjectWriter branch, which @jkotas talk above. But this branch of ObjWriter is not compiled with LLVM MS branch. I got errors:
[code]
I found that, ObjWr

[2017-06-02 16:34] jkotas commented on #3753
There are C# analyzers for that. https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1414-mark-boolean-p-invoke-arguments-with-marshalas

[2017-06-02 16:44] #3740 closed

[2017-06-02 18:07] yizhang82 commented on #1764
We just had a customer report this missing API so we probably should just go ahead and implement it.
@shrah Can you take a look?

[2017-06-02 18:08] shrah commented on #1764
Sure, I'll look into it.

[2017-06-02 18:37] #3753 closed

[2017-06-02 18:54] tijoytom commented on #3776
Checkout ObjectWriter branch and apply this LLVM patch  https://reviews.llvm.org/D29483
This is enough to build it , i tried it last week .

[2017-06-02 20:51] #3760 closed

[2017-06-02 21:23] jkotas opened #3784 "Linux stack walking performance"
We spend a lot of time in libuwind during stackwalking on Unix:

- Conversions between CoreRT CONTEXT report and libuwind context record
- LLVM libuwind itself is slow because of its abstraction layers

We should look into replacing LLVM libuwind with our own DWARF unwinder that just does what we need (ie may not need to support all DWARD codes), without the unnecessary overhead.

Mono has a prior

[2017-06-02 22:36] #3616 closed

[2017-06-02 23:53] #3638 closed

[2017-06-06 04:31] MichalStrehovsky opened #3797 "Reflection blocking inconsistency for enums"
CoreFX test bring up found another place where we're not consistent about reflection blocking. Consider:

[code]

This will print

[code]

Per our mantra "reflection blocked things shall never throw a `MissingMetadataException` because it's not fixable with RD.XML", we need to come up with a lie here.

Possible options that come to my mind:

1. Pretend the type is not an enum. This is consistent w

[2017-06-06 04:31] MichalStrehovsky commented on #3797
Cc @morganbr @davidwrighton

[2017-06-06 07:21] xoofx opened #3798 "AOT for UWP6.0?"
Hi,

This is a question to understand the direction of the development.

I was assuming that the work being done for UWP6.0 at bringing .NET Standard 2.0 compatibility was mainly targeting the internal Microsoft .NET Native compiler... but looking at many commits in this repo related to ILCompiler (and in LLILC related to ObjWriter), It looks like there is quite an heavy work to get AOT working wi

[2017-06-06 12:40] AtsushiKan commented on #3797
Blocked types already pretend not to have fields (the 0 field count) - the problem is that our GetEnumInfo() helper isn't going through the Type abtraction - it's going directly from the EEType to the metadata TypeDef handle (or lack thereof, in this case.) It just needs to check where the EEType is on the block list and return an  EnumInfo object that reports no fields.

I think 2 could introduce

[2017-06-06 13:37] BredPet commented on #3776
It was possible to compiler arm32 version. I just thought there was a valid LLVM repository with all needed patches already. Ok, thanks

[2017-06-06 14:20] BredPet opened #3799 "Support CFI unwind info for arm32"
I continue compiling HelloWorld on arm32 by: `./corerun ilc.dll @Hello.ilc.rsp`
Now, I get errors in ObjWriter library, but I think it's due to unsupported CFI unwind on arm32.
There are garbage values in CFI_CODE structure, but I see some references to this structure and some logic only in the unwindamd64.cpp in CoreCLR. Errors appear in BuildCFIMap and EmitCFICodes functions in ObjectWriter.cs i

[2017-06-06 14:21] BredPet commented on #3799
@Dmitri-Botcharnikov
@sergign60
@mskvortsov
@jkotas please take a look

[2017-06-06 14:23] jkotas commented on #3798
There is work to get AOT working with RyuJIT for .NET Core console apps, on both Windows and Unix. Majority of the code in CoreRT repo is shared with UWP AOT. However, UWP AOT toolchain has number of extra parts that are not open source today. Take a look at https://channel9.msdn.com/Shows/Going+Deep/Inside-NET-Native. We do not have plans to make RyuJIT officially supported configuration for UWP

[2017-06-06 14:34] jkotas commented on #3798
@xoofx I see that you are looking at different CoreCLR/CoreRT options(https://github.com/dotnet/coreclr/issues/11969). Feel free to send me email if you would like to have call about what you are thinking about doing and how we can help.

[2017-06-06 14:42] jkotas commented on #3799
The DWARF unwind info emission is implemented for AMD64 only today.

https://github.com/dotnet/coreclr/pull/2868 is the change that implemented this for AMD64.

You can disable this for ARM for now to make progress on bring up. Exception handling won't work without it, and it likely means that you won't get good stack traces under debugger. I think you will want to implement it sooner or later.

[2017-06-06 14:52] xoofx commented on #3798
Thanks for the precisions @jkotas, will contact you as I have indeed a couple of questions!

[2017-06-06 15:00] sergign60 commented on #3672
https://github.com/dotnet/coreclr/pull/12104

[2017-06-06 15:28] BredPet commented on #3799
I thought the same thing, thanks

[2017-06-06 15:28] #3799 closed

[2017-06-06 15:52] #3798 closed

[2017-06-06 17:26] AtsushiKan opened #3800 "FieldInfo.GetRawConstantValue() on open generic enums."
This throws because our implementation of GetRawConstantValue() just calls GetValue() and unwraps the enum value if needed.

This should be implemented properly as it doesn't need to box the (open) enum and should return the underlying boxed integer just like CoreCLR does.

[2017-06-06 18:20] #3797 closed

[2017-06-06 18:58] AtsushiKan opened #3802 "EEType.IsEnum asserts (and returns wrong value past assert) for open generic enums."
Consider this valid program:

[code]
This asserts because of this check:

[code]

Assertion  is here (the "IsCanonical" one)

[code]

[2017-06-06 19:03] MichalStrehovsky commented on #3802
Generic type definition EETypes don't carry information about the base type because it's likely to be something that is not representable as an EEType anyway (consider `class Foo<T> : Bar<T> { }` - we don't have an EEType for `!0`). While we could make it work for enums because the base type doesn't refer to generic arguments, it may be the best just not to ask this question about generic type def

[2017-06-06 23:55] morganbr opened #3810 "MissingMetadataException reflection block hurts logging"
MissingMetadataException and friends are reflection blocked, which means loggers like the CoreFX XUnit logger that print the exception type print strings like "$BlockedFromReflection_5_6f32c4e1 : This operation cannot be carried out because metadata for the following object was removed for performance reasons". It would be nice if those exceptions (and perhaps any others that users could log) had

[2017-06-06 23:59] MichalStrehovsky commented on #3810
The type names for everything (including blocked types) are available when developer experience mode is turned on - maybe turning on developer experience should be the fix for this?

[2017-06-07 00:03] morganbr commented on #3810
Here's a complete string from a developer experience log:
$BlockedFromReflection_3_19f5285d : This object cannot be invoked because it was metadata-enabled for browsing only: 'System.Data.SqlTypes.SqlCompareOptions.value__' For more information, please visit  http://go.microsoft.com/fwlink/?LinkID=616867]]

[2017-06-07 00:07] MichalStrehovsky commented on #3810
Oh, interesting. Pretty sure these used to be `EETypeRva:0xCAFEBABE(MissingMetadataException): blah`. Granted, not much better, but at least is had the exception type name in it.

Would you be okay if the exception type name is only present when developer experience is enabled, or are you asking for a separate channel?

[2017-06-07 00:10] AtsushiKan commented on #3810
Type.ToString() returns  EETypeRva:0xCAFEBABE(MissingMetadataException): blah.

Type.Name returns $BlockedFromReflection_3_19f5285d
Same with Type.FullName.

Given that this is a logger function, I wish it would have used Type.ToString()

[2017-06-07 00:19] morganbr commented on #3810
@MichalStrehovsky I don't have a very strong opinion on developer experience for this, but we do enable browse metadata for all (non-reflection blocked) exceptions since these kind of loggers are very common.

[2017-06-07 00:25] AtsushiKan commented on #3810
So if I whitelist it, reflection will always be enabled on it? We want to make sure there's no possibility of triggering a tragic loop of missing metadata forcing logger to call Type.Name on MissingMetdataException which triggers missing metadata...

[2017-06-07 00:26] morganbr commented on #3810
That policy isn't a guarantee -- we're free to change our minds. You can add rd.xml to guarantee it though.

[2017-06-07 00:29] AtsushiKan commented on #3810
Hmm, looks like that "policy" _is_ implemented by rd.xml...

[code]

[2017-06-07 00:41] morganbr commented on #3810
Right, but that's an implementation detail. If you add rd.xml that says something like this, the behavior is better guarded:
[code]

[2017-06-07 06:16] mmayr-at opened #3817 "[ILVerify] Add support for Array<T>"
The type system for ILVerify currently does not support Array<T>, so following code will fail with a `NotSupportedException`:
[code]

To fix this we should implement following virtual methods in `SimpleTypeSystemContext`
[code]

Now the question is, what is the best way to implement this?

# Option 1
A `RuntimeInterfaceAlgorithm` implementation returns a fixed list of interfaces for `Array<T>`, e.

[2017-06-07 06:29] jkotas commented on #3817
Option 2 would not allow ILVerify to be used with different mscorlibs.

I think it should be option 1.

[2017-06-07 16:56] MichalStrehovsky commented on #1736
Fixed by @morganbr in 35935850ed292270330691c77e2ed1e59d17bcea. I guess GitHub won't auto-close if there's a word between "fixes" and the issue number.

[2017-06-07 18:08] #368 closed

[2017-06-07 18:56] #3800 closed

[2017-06-07 19:01] BredPet opened #3824 "arm 32: Unresolved symbols"
I got Hello.o object file on armel target by:
`./corerun ilc.dll @Hello.ilc.rsp`

But when I link the executable file with HelloWorld by:
`clang-3.9 -target arm-linux-gnueabi --sysroot=CoreRT/tests/../cross/rootfs/armel -BCoreRT/tests/../cross/rootfs/armel/usr/lib/gcc/armv7l-tizen-linux-gnueabi/6.2.1 -LCoreRT/tests/../cross/rootfs/armel/usr/lib/gcc/armv7l-tizen-linux-gnueabi/6.2.1 Hello.o -o Hello

[2017-06-07 19:03] BredPet commented on #3824
@Dmitri-Botcharnikov
@sergign60
@mskvortsov
@jkotas please take a look

[2017-06-07 20:22] jkotas commented on #3824
libRuntime is for RyuJIT codegen. libPortableRuntime is for CppCodeGen.

[2017-06-07 20:25] jkotas commented on #3824
Yes. Note that the implementation exists for Windows ARM in the .asm files. The implementation for Linux ARM should be pretty similar.

[2017-06-07 20:26] sergign60 commented on #3824
https://github.com/dotnet/corert/pull/3826

[2017-06-07 20:55] MichalStrehovsky commented on #3824
@BredPet @sergign60 You might also find it useful to build against Test.CoreLib instead of the full set of framework APIs.

Test.CoreLib is a very minimal base class library that is useful for platform bringup because it e.g. doesn't try to run a ton of code at process startup to initialize reflection. It might be useful to get you to a point where you can return a number from `Main()` pretty quic

[2017-06-07 21:51] #3817 closed

[2017-06-07 22:20] AtsushiKan commented on #3810
Changeset #1660982

[2017-06-07 22:20] #3810 closed

[2017-06-08 01:37] MichalStrehovsky opened #3833 "Constrained calls to methods on generic valuetypes"
RyuJIT ends up passing the interface type as the generic context to the instance method.

[code]

[2017-06-08 08:21] #3672 closed

[2017-06-08 08:25] BredPet commented on #3824
Thanks

[2017-06-08 12:28] acl33 opened #3836 "CoreRT local tests fail (Ryu)JIT compilation"
I see all the tests in corert\tests failing like this:

    IlcCompile:
    Creating directory "d:\a\1\s\tests\src\Simple\BasicThreading\obj\Debug\x64\native\".
    "d:\a\1\s\tests\\..\bin\Product\Windows_NT.x64.Debug\packaging\publish1\CoreRun.exe" "d:\a\1\s\tests\\..\bin\Product\Windows_NT.x64.Debug\packaging\publish1\ilc.dll" @"d:\a\1\s\tests\src\Simple\BasicThreading\obj\Debug\x64\native\Basic

[2017-06-08 13:51] jkotas commented on #3824
You need to pull down the fix made in https://github.com/dotnet/corert/pull/3827 that @MichalStrehovsky mentioned.

[2017-06-08 13:58] mskvortsov commented on #3824
@jkotas That fix has already been applied... I used the latest master (commit `a107596` to be precise).

[2017-06-08 14:05] jkotas commented on #3836
This error usually means that you have a mismatched version of the RyuJIT package. There was nuget issue that caused this a few days ago. These steps should fix the problem:

- Make sure that you have pulled down the fix made in https://github.com/dotnet/corert/pull/3808
- Delete bin, packages and tools directories; and do a clean build

[2017-06-08 14:12] jkotas commented on #3824
The fix made in #3827 added `throwIfNotFound: false` in the exact place where you see the exception:

Could you please double check that you are not running outdated bits; and if not - debug why `throwIfNotFound: false` does not have the desired effect for you?

[2017-06-08 14:36] mskvortsov commented on #3824
Rebuilt from the scratch -- yes, that System.Private.Interop exception has gone. Looks like I missed to update some of the ILCompiler's dlls, sorry for the noise.

Some other failures appeared though, but they seem to be related to the legacy ARM JIT, and that's a different story.

[2017-06-08 14:42] #3824 closed

[2017-06-08 15:46] #2280 closed

[2017-06-08 15:46] #2349 closed

[2017-06-08 15:46] #2782 closed

[2017-06-08 16:02] acl33 commented on #3836
Yes, #3808 fixes it, thanks! :)

[2017-06-08 16:02] #3836 closed

[2017-06-08 19:28] MichalStrehovsky commented on #3833
This is actually a dupe of #3608.

[2017-06-08 19:28] #3833 closed

[2017-06-08 19:29] MichalStrehovsky commented on #3802
Workaround got checked in and we have no plans to add more fields to generic type definition EETypes.

[2017-06-08 19:29] #3802 closed

[2017-06-08 21:38] #3659 closed

[2017-06-09 20:49] #1764 closed

[2017-06-10 04:33] MichalStrehovsky commented on #1867
Unhandled exceptions now work on Unix.

[2017-06-10 04:33] #1867 closed

[2017-06-10 05:13] MichalStrehovsky opened #3856 "Make RhGetCodeTarget work"
`RhGetCodeTarget` has knowledge about a region in the executable where all the unboxing stubs are placed. We don't generate such region on CoreRT.

This is e.g. used to skip over the unboxing stubs for cases like #2946 (without fixing this, we'll end up moving the `this` pointer of the struct by a pointer before calling the instance method, breaking things badly).

[2017-06-10 05:20] jkotas commented on #3856
I am not able to find `RhGetCodeAddress`. Where is the knowledge about a region in the executable where all the unboxing stubs are placed? It is news to me...

[2017-06-10 06:14] MichalStrehovsky commented on #3856
Ah, it's `RhGetCodeTarget`.

[2017-06-10 23:13] am11 commented on #3784
@jkotas, @janvorli, are there future plans for moving CoreCLR to also consume a light-weight cross platform unwinder, in effort to waive the libunwid dependency?

I found a related issue dotnet/coreclr#872, but as far as I can tell, LLVM libunwind is already supported in cmake script as a (degraded) fallback to the primary [HP libunwind](https://github.com/libunwind/libunwind). I am not quite sure

[2017-06-11 01:24] jkotas commented on #3784
We do not have plans like that currently.

CoreCLR has its own more lightweight unwinder already. CoreCLR is using libuwind to unwind from manually managed code only. It is rare case, so it does not matter much that it is relatively slow. Unwinding from manually managed code needs to support all unwind codes that may be potentially generated by the C/C++ compiler so limiting it to a subset of unwi

[2017-06-11 02:45] #2946 closed

[2017-06-13 02:47] Alan-FGR commented on #588
@walter211, @mafanshu: Are your guys uninstalling CMake and reinstalling or just using the modify option?
In any case, I'm not sure if that will fix the problem, try pointing CMake manually to cl.exe and see if it drops a linker error. CMake compiles a simple program for testing and it may drop some errors, possibly a missing lib (which can be installed in the VS installer program... maybe ucrt).

[2017-06-13 05:12] MichalStrehovsky commented on #3608
So I'm playing with a slightly simplified repro:

[code]

CoreCLR seems to be generating a runtime lookup for an instantiating stub in `DoFrob` and calling that:

[code]

This is mildly annoying because it seems like we'll need yet another JitInterface change. What we need is a runtime lookup for the owning type _after constraint resolution_ and pass that as the generic context to a canonical (con

[2017-06-13 23:33] MichalStrehovsky opened #3873 "Move ownership of type system entities to CompilerTypeSystemContext"
Type system entities that produce code or EETypes need to be owned by the `CompilerTypeSystemContext` so that we can match/reconcile them between the scanning and code generation phases.

This includes
* Reflection invoke stubs
* Various interop types and methods

We currently e.g. can't do fixed slot assignments to virtual methods on interop's delegate wrappers. Similar problems will arise for e.

[2017-06-14 04:34] MichalStrehovsky commented on #2342
Interface dispatch now uses the dispatch cells directly.

[2017-06-14 04:34] #2342 closed

[2017-06-14 09:22] sergign60 opened #3877 "[armel tizen] The simplest test fails because NotImplementedException: Arbitrary relocs"
The message from ilc is:

[code]
I guess now that we should process other cases than  BlockType.Code on ARM

[2017-06-14 09:23] sergign60 commented on #3877
CC: @jkotas @Dmitri-Botcharnikov @BredPet @mskvortsov

[2017-06-14 09:24] sergign60 commented on #3877
https://github.com/dotnet/corert/pull/3868

[2017-06-14 22:07] MichalStrehovsky commented on #3608
When resolving this bug, look for the issue number in the sources. We have some workarounds in place.

[2017-06-14 22:07] MichalStrehovsky commented on #3873
When resolving this bug, look for the issue number in the sources. We have some workarounds in place.

[2017-06-15 01:28] #3454 closed

[2017-06-15 14:42] jkotas opened #3895 "[arm] Div/Mod helpers convention"
From https://github.com/dotnet/corert/pull/3893#discussion_r122217978

These helpers do not check for overflow/divide-by-zero in CoreRT, but they do check in CoreCLR - it is what RyuJIT expects. This will need more fixes, but this fix should be fine for now.

[2017-06-15 16:03] AtsushiKan commented on #3648
Now tracked as TFS 451285

[2017-06-15 16:04] AtsushiKan commented on #3747
Now tracked as TFS451287

[2017-06-15 16:05] #3743 closed

[2017-06-15 16:07] AtsushiKan commented on #3651
Now tracked as TFS 451288

[2017-06-15 16:08] AtsushiKan commented on #3650
Now tracked as TFS 451290

[2017-06-15 16:09] AtsushiKan commented on #3251
TFS 451292

[2017-06-15 16:09] #3251 closed

[2017-06-15 16:11] AtsushiKan commented on #3387
Now tracked as TFS 451293

[2017-06-15 16:11] #3387 closed

[2017-06-15 16:13] AtsushiKan commented on #3637
Now tracked as TFS 451295

[2017-06-15 16:14] AtsushiKan commented on #3645
Now tracked as TFS 451296

[2017-06-15 16:15] AtsushiKan commented on #3646
Originally TFS 451298

[2017-06-15 16:16] AtsushiKan commented on #3647
Now tracked as TFS 451301

[2017-06-15 16:18] AtsushiKan commented on #3761
Now tracked as TFS 451302

[2017-06-15 16:18] #3761 closed

[2017-06-15 16:19] AtsushiKan commented on #3759
Now tracked as TFS 451308

[2017-06-15 16:19] #3759 closed

[2017-06-15 16:21] AtsushiKan commented on #3758
Now TFS 451311

[2017-06-15 16:21] #3758 closed

[2017-06-15 16:23] AtsushiKan commented on #3757
Now tracked as TFS 451317

[2017-06-15 16:23] #3757 closed

[2017-06-15 16:25] AtsushiKan commented on #3756
Now tracked as TFS 451321

[2017-06-15 16:25] #3756 closed

[2017-06-15 16:26] AtsushiKan commented on #3755
Now tracked as TFS 451322

[2017-06-15 16:26] #3755 closed

[2017-06-15 16:45] tarekgh commented on #3747
I have reassigned the TFS back to you @AtsushiKan.

@AtsushiKan, is this for UAP scenario? or in general for aot? if it is in general for aot (even when running as non UAP, then you may assign it back to me). also I am wondering why we are tracking this as TFS and not here?

[2017-06-15 17:05] tarekgh commented on #3747
Issue moved to [dotnet/corefx #21093](https://github.com/dotnet/corefx/issues/21093) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-19 17:15] cartermp commented on #3682
Tagging myself on this issue so I'm pinged once we're off project.json

[2017-06-19 18:38] nattress opened #3925 "Make the compiler multi-threaded"
List of work items:

- [ ] Add compiler switch that randomizes dependency graph to simulate a multi-threaded compile environment
- [ ] Sort ObjectNodes before emission
- [ ] Stabilize map / table nodes whose orderings are currently compile-order dependent
- [ ] Audit data structures for thread-safety
- [ ] Use thread pool to spin up multiple JIT workers

Extra credit:

- [ ] Multi-thread the calls

[2017-06-19 20:26] cartermp opened #3929 "F# Smoke Test"
This is to tracking adding an F# smoke test (or two, or three).  It should use a some different and likely more "difficult" F# features:

* SRTP and inlining
* F# Enums
* Recursive DUs
* Higher-order functions

Although the goal isn't to have a file which uses every single feature of the F# language in different valid ways, it should serve as a pretty good roadmap of what needs to be addressed.

T

[2017-06-19 20:26] cartermp commented on #3929
@jkotas can we get an "F# Support" label so that if/when more issues are created it's easier to group them?

[2017-06-20 22:16] AtsushiKan opened #3944 "Implement Assembly.GetForwardedTypes() on CoreRT/Project N"
This api was approved here: dotnet/corefx#19789. Specifications can be found in that issue.

I can do this in an hour so I'm not marking this up-for-grabs. (You'd likely need the Project N toolchain to debug and test it easily anyway so it's likely unactionable for community - tracking this here anyway since it's linked to all these other github issues.)

[2017-06-20 22:52] fadimounir opened #3945 "Investigate GVMs with VB scenarios"
They could be working... This is a tracking issue. If not working, they'll need to be fixed.

[code]

[2017-06-22 12:31] AtsushiKan opened #3960 "Port Environment.EnumerateVariables race fix to CoreRT."
https://github.com/dotnet/coreclr/pull/10711

"Key data (values and subkeys) can change while we're in the midst of enumerating. This is causing intermittent failures in tests as ERROR_NO_MORE_ITEMS surfaces as an exception as we try and iterate past removed data."

This is assuming we haven't just picked up the fix via moving the relevant code to the shared partititon with CoreCLR by then..

Only

[2017-06-22 14:55] AtsushiKan commented on #3944
In CR.

[2017-06-22 20:44] AtsushiKan commented on #3944
Done

[2017-06-22 20:44] #3944 closed

[2017-06-23 02:56] Jiayili1 commented on #3253
Active issue, reopen it, test method: GetAssemblyName_AssemblyNameProxy
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/tests/System/Reflection/AssemblyNameProxyTests.cs#L18

[2017-06-23 06:25] Jiayili1 commented on #3637
ActiveIssue, reopen it, test methods:
Create_Using_Concrete_Proxy_Type_Throws_ArgumentException
Create_Using_Sealed_BaseType_Throws_ArgumentException
Create_Using_Abstract_BaseType_Throws_ArgumentException
Create_Using_BaseType_Without_Default_Ctor_Throws_ArgumentException

[2017-06-23 06:26] Jiayili1 commented on #3637
https://github.com/dotnet/corefx/blob/master/src/System.Reflection.DispatchProxy/tests/DispatchProxyTests.cs#L103

[2017-06-23 06:50] Jiayili1 commented on #3645
ActiveIssue, reopen it, test methods:
GetHashCode_StringComparison
GetHashCode_NoSuchStringComparison_ThrowsArgumentException

https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/StringTests.netcoreapp.cs#L296

[2017-06-23 07:11] Jiayili1 commented on #3646
ActiveIssue, reopen it, test methods:
Replace_StringComparison_ReturnsExpected
Replace_StringComparison_TurkishI
Replace_StringComparison_NullOldValue_ThrowsArgumentException
Replace_StringComparison_EmptyOldValue_ThrowsArgumentException
Replace_NoSuchStringComparison_ThrowsArgumentException

https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/StringTests.netcoreapp.cs#L19

[2017-06-23 07:31] Jiayili1 commented on #3647
ActiveIssue, reopen it, test methods:
Replace_StringComparisonCulture_ReturnsExpected
Replace_StringComparison_NullOldValue_ThrowsArgumentException
Replace_StringComparison_EmptyOldValue_ThrowsArgumentException

https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/StringTests.netcoreapp.cs#L251

[2017-06-23 07:39] Jiayili1 commented on #3648
ActiveIssue, reopen it, test method: GetAllocatedBytesForCurrentThread

https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/GCTests.netcoreapp.cs#L16

[2017-06-23 07:51] Jiayili1 commented on #3650
ActiceIssue, reopen it, test methods:
CreateInstance_Type_Int_Invalid
CreateInstance_Type_Int_Int_Invalid
CreateInstance_Type_Int_Int_Int_Invalid

https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/ArrayTests.netcoreapp.cs#L17

[2017-06-23 07:58] Jiayili1 commented on #3651
ActiveIssue, reopen it, test method: Parse_Invalid_NetCoreApp11

https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/EnumTests.netcoreapp.cs#L36

[2017-06-23 08:04] Jiayili1 commented on #3747
ActiveIssue, reopen it, test methods:
TestCurrentCulturesAsync
TestCurrentCulturesWithAwait

https://github.com/dotnet/corefx/blob/master/src/System.Globalization/tests/CultureInfo/CultureInfoAsync.cs#L16

[2017-06-23 08:12] Jiayili1 commented on #1736
ActiveIssue, reopen it, test methods:
Comparer_EqualsShouldBeOverriddenAndWorkForDifferentInstances_cloned
Comparer_GetHashCodeShouldBeOverriddenAndBeTheSameAsLongAsTheTypeIsTheSame_cloned
EqualityComparer_EqualsShouldBeOverriddenAndWorkForDifferentInstances_cloned
EqualityComparer_GetHashCodeShouldBeOverriddenAndBeTheSameAsLongAsTheTypeIsTheSame_cloned

https://github.com/dotnet/corefx/blob/maste

[2017-06-23 15:48] tarekgh commented on #3747
@Jiayili1 could you please tell more why you activated this one? and add a pointer to the failures with the platform information?

[2017-06-23 22:48] crummel commented on #2389
This was fixed in https://github.com/dotnet/corert/commit/99a78afd8d2d7902c7e8b1d6ceb87dad62dbfdfc.

[2017-06-23 22:48] #2389 closed

[2017-06-24 18:10] #3682 closed

[2017-06-25 21:28] davidfowl opened #3981 "Build failure with the latest bits"
After pulling the latest e3af35c2d218a69524f7ec825c8243b2cd2c29dc at time of writing I get the following error on build:

C:\Users\dfowler\Documents\GitHub\corert>call "C:\Users\dfowler\Documents\GitHub\corert\Tools\dotnetcli\dotnet.exe" restore "C:\Users\dfowler\Documents\GitHub\corert\packages\microsoft.dotnet.buildtools\2.0.0-prerelease-01702-02\lib\\tool-runtime\project.csproj" --source https:

[2017-06-25 21:42] davidfowl commented on #3981
After "fixing" that issue there's a swath of downgrade warnings:

[code]

My guess is that I probably have  a newer dotnet CLI that the one being downloaded by the toolchain. There should be a global.json checked in to make sure the correct version is used.

[2017-06-26 01:37] Jiayili1 commented on #3747
@tarekgh the platform is:
TargetFrameworkMonikers.UapAot
windows desktop framework

And @danmosemsft could you help to tell why reactive this issue?

[2017-06-26 02:20] tarekgh commented on #3747
@danmosemsft this issue is not shipping scenario for UWP because the current culture work differently inside the app containers. uapaot tests running outside app containers which is not the shipping scenario of UWP.

Also we already have a TFS bug tracking this for PN future release. I understand it is good to fix this but I wanted to clarify that it is not UWP6.0 issue. I'll leave it to @danmosem

[2017-06-26 02:52] jkotas commented on #3981
cc @weshaggard

The CoreRT repo does exactly same thing here as CoreFX. If there is a problem here, all repos that use build-tools suffer from it.

We always invoke the private dotnet CLI, so it should not matter what else you have on the machine. Or is it not the case? Could you please help up setup a repro for the problem?

[2017-06-26 04:59] danmosemsft commented on #3747
Thanks @tarekgh . @Jiayili1 reactivated it as it is marked active issue against this issue. I moved to Future.

[2017-06-26 16:39] weshaggard commented on #3981
There are definitely some downgrade warnings in our tool-runtime\project.csproj but they should just be warnings. Do you have something in your setup that is turning them into errors?

[2017-06-26 17:36] jkoritzinsky opened #3982 "RunTest script on Unix fails with latest bits"
Running the `./runtest.sh` script in the tests directory to run tests without having to rebuild CoreRT fails on Linux. It's unable to find any of the predefined types like `System.Object` and so on. Running the tests via the `./build.sh` script in the root of the repo works.

@jkotas

[2017-06-26 23:20] MichalStrehovsky commented on #3747
@danmosemsft This issue is tracked in TFS as 451287 as per Ati's closing comment above. This includes a bunch of other issues @Jiayili1 reactivated on the same day for the same reasons in this repo (such as #3651 and #3650).

What's the motivation to keep duplicate issues in two bug databases? I would prefer we close these as originally done by @AtsushiKan and track this in TFS only (because that'

[2017-06-26 23:22] danmosemsft commented on #3651
already tracked in TFS

[2017-06-26 23:22] #3651 closed

[2017-06-26 23:22] danmosemsft commented on #3650
already tracked in TFS

[2017-06-26 23:22] #3650 closed

[2017-06-26 23:22] danmosemsft commented on #3747
@MichalStrehovsky I'm happy to close it, the problem is annotations like this in the code
[code]
We have to pass over these periodically to check for forgotten isssues that got closed. So as long as there is markers like this in the code this may get periodically reactivated.

[2017-06-26 23:22] danmosemsft commented on #3747
already tracked in TFS

[2017-06-26 23:22] #3747 closed

[2017-06-27 00:07] jkotas commented on #3747
Since the different behavior on UAPAOT is by design, the ActiveIssue marker should be removed so that this is not getting reactivated again and again...

[2017-06-27 00:27] MichalStrehovsky commented on #3648
Already tracked in TFS.

[2017-06-27 00:27] #3648 closed

[2017-06-27 00:27] MichalStrehovsky commented on #3647
Already tracked in TFS.

[2017-06-27 00:27] #3647 closed

[2017-06-27 00:28] MichalStrehovsky commented on #3646
Already tracked in TFS.

[2017-06-27 00:28] #3646 closed

[2017-06-27 00:28] MichalStrehovsky commented on #3645
Already tracked in TFS.

[2017-06-27 00:28] #3645 closed

[2017-06-27 00:28] MichalStrehovsky commented on #3637
Already tracked in TFS.

[2017-06-27 00:28] #3637 closed

[2017-06-27 05:54] davidfowl commented on #3981
@weshaggard the latest sdk defaults downgrades to errors

[2017-06-27 13:56] #1736 closed

[2017-06-27 15:16] #3982 closed

[2017-06-27 16:15] weshaggard commented on #3981
Why would you be the only one hitting this as we should be using the SDK that is local to our tools directory which doesn't do that yet.

[2017-06-27 16:22] MichalStrehovsky commented on #3583
@tarekgh FYI, the build tools have been updated to 2.0.0-prerelease-01702-02.

[2017-06-28 10:20] farkasmark commented on #2570
Do you know if any progress is made or planned in this issue?

[2017-06-28 10:54] mmayr-at opened #3999 "[ILVerify] Infer type pushed onto the stack from the byref"
As described by @jkotas in #3846:

I will take care of this.

[2017-06-28 11:51] JustinXinLiu opened #4000 ".Net Native compiler fails with nested Value Tuple dependency properties"
I encountered a strange error when I tried running our UWP app in _Release mode_.

After some digging, I found it's related to one of the dependency properties I defined.

[code]
Just create a new UWP project and put the above code in the code behind of the `MainPage`, it will run OK in *Debug*; but as soon as you try to run it in *Release*, you will get the same error. Then, if you comment out `T

[2017-06-28 14:00] davidfowl commented on #3981
@weshaggard because I have a newer version of the SDK on the PATH.

[2017-06-28 15:18] MichalStrehovsky commented on #2570
Both classes are already ported to CoreRT, but the marshalling code generator in the CoreRT compiler doesn't handle them.

I think we can repurpose this issue to track implementing this in the CoreRT compiler. (Cc @shrah)

@farkasmark Are you asking about support for this in the CoreRT compiler?

[2017-06-28 15:24] farkasmark commented on #2570
@MichalStrehovsky Yes, I am asking about the CoreRT compiler support. I can build the solution successfully but I get a runtime exception from the natively compiled application.

[2017-06-28 15:38] MichalStrehovsky commented on #4000
@JustinXinLiu Thanks for the detailed analysis! You're hitting a known issue (also reported in e.g. dotnet/roslyn#18737).

The problem is caused by the C# compiler emitting a custom attribute with a `string[]` parameter that has a null element in it (e.g. `[TupleElementNames(new string[] {"name1", "name2", null, null})]`). The .NET Native metadata schema doesn't have a representation for it.

We'l

[2017-06-28 15:38] #4000 closed

[2017-06-28 16:46] weshaggard commented on #3981
Even with it on the path unless you are calling dotnet directly it shouldn't matter because we always use the local dotnet when we restore from our build scripts.

[2017-06-28 21:21] tijoytom commented on #3776
@BredPet Can this be closed?

[2017-06-29 02:17] jkotas opened #4014 "Clean build fails with `*.g.props already exists` intermittently"
`<RestoreRecursive>false</RestoreRecursive>` in the root dirs.props is supposed ensure that no two restores write the same file. It is not working for some reason.

[2017-06-29 02:18] jkotas commented on #4014
https://ci.dot.net/job/dotnet_corert/job/master/job/debug_osx10.12_prtest/142/

OSX.x64.Debug/AotPackageReference/AotPackageReference.depproj.nuget.g.props' already exists

[2017-06-29 03:27] kouvel opened #4015 "AssemblyName(string) constructor does not throw when provided an assembly-qualified type name"
The following code throws in .NET Framework and .NET Core because the passed string is an assembly-qualified type name, not a qualified assembly name. It does not throw in .NET Native:

[code]

Moved from CoreCLR issue: https://github.com/dotnet/coreclr/issues/7046
CC @ridomin

[2017-06-29 04:19] davidfowl commented on #3981
Well, it doesn't work.

[2017-06-29 05:57] JustinXinLiu commented on #4000
@MichalStrehovsky thanks for the workaround! Worked like a charm!

[2017-06-29 14:20] AtsushiKan commented on #4015
Now tracked as TFS 457932

[2017-06-29 14:20] #4015 closed

[2017-06-29 17:09] AtsushiKan commented on #2113
Now TFS 457960

[2017-06-29 17:09] #2113 closed

[2017-06-29 20:07] sandreenko commented on #3661
The second was fixed by #3932.
@davidwrighton maybe you also knows how to fix the rest?

[2017-06-29 23:23] jkoritzinsky commented on #4014
Seems to be happening on consistently on OSX10.12 Debug and CoreCLR Tests builds, at least for my PRs.

[2017-06-29 23:41] weshaggard commented on #3981
I've got the preview2 SDK installed in my path and I was able to successfully run build.cmd. You must have something else going on in your environment.

[2017-06-30 00:52] shrah commented on #2570
@farkasmark I should be able to work on the marshalling support for CriticalHandle and HandleRef around mid July if that works for you.

[2017-06-30 18:21] MichalStrehovsky commented on #2355
Tracked in TFS as 252099.

[2017-06-30 18:21] #2355 closed

[2017-07-02 09:46] christianscheuer opened #4053 "Build failure with latest bits on OSX"
[code]

[code]

[2017-07-02 09:52] christianscheuer commented on #4053
This error seems to be related to invoking the build from a path that includes a symbolic link.

When invoking it directly, I get thousands of errors like this:
[code]

This was built on a clean repo.

[2017-07-02 11:08] jkotas commented on #4053
These errors are just a consequence of the error in `Restoring packages for ...` step.

Yes, I am able to reproduce it:
[code]

[2017-07-02 11:40] christianscheuer commented on #4053
I tried cleaning everything and invoking directly (no symlinks), but I still get the errors. Might it be that there is a global nuget cache that needs to be invalidated?

[2017-07-02 11:54] jkotas commented on #4053
The global nuget cache is at `~/.nuget`

[2017-07-02 11:59] christianscheuer commented on #4053
I removed everything at ~/.nuget and ~/.dotnet, reinstalled the latest CLI, cleaned the repo and invoked ./build.sh clean Release and am now still getting 16.000+ errors like the "is not defined or imported" as above.
I can't see if there is a package restore failure leading up to that since the terminal output doesn't go that far back, but I'll try to investigate.

[2017-07-02 12:05] christianscheuer commented on #4053
When invoking ./build.sh clean Release again, I get no package restore errors (probably because the cache is still invalid somehow), but I do still get all the errors, beginning with:

[code]

[2017-07-02 13:17] christianscheuer commented on #4053
When renaming the repo dir from corert-sfsx1.1 to corert, I am getting this error (like in #4014):
/Users/Chr/Projects/corert/Tools/dotnetcli/sdk/2.0.0-preview1-005977/NuGet.targets(97,5): error : The file '/Users/chr/Projects/corert/bin/obj/OSX.x64.Release/AotPackageReference/AotPackageReference.depproj.nuget.g.props' already exists. [/Users/chr/Projects/corert/src/AotPackageReference/AotPackageR

[2017-07-02 13:39] christianscheuer commented on #4053
Sorry I understand that it wasn't. But even after checking out your workaround branch I still get the same errors.
Here is the build log, cut off as soon as I saw errors...
https://gist.github.com/christianscheuer/89e34a59da689e6484bbc15ae20f02cf

[2017-07-02 14:24] jkotas commented on #4053
`AotPackageReference.depproj.nuget.g.props' already exists` is build race. It goes away if you retry.

[2017-07-02 15:48] christianscheuer commented on #4053
@jkotas unfortunately that is not the error I am getting now.
All package restores complete succesfully, and then at one point these errors come forward:
This happens after a complete rm -rf ~/.nuget, and rm -rf bin tools packages in the repo dir.

[code]

[2017-07-03 07:58] farkasmark commented on #2570
@shrah That would be perfect! Let me know if I can assist you in that! (in testing for example)

[2017-07-03 17:16] #4014 closed

[2017-07-03 17:19] jkotas commented on #4014
It should be fixed now - please do reactivate this issue if you see it again.

[2017-07-05 06:09] #3999 closed

[2017-07-05 16:20] sergign60 opened #4070 "[x64 ubuntu 16.04] CoreRT build script fails on ubuntu 16.04"
CoreRT build script cannot load libobjwriter on ubuntu 16.04 and fails. I need to fix it by this patch
[code]
Another problem is that ilc fails with the following message
[code]

[2017-07-05 16:21] sergign60 commented on #4070
CC: @Dmitri-Botcharnikov @BredPet @mskvortsov

[2017-07-05 20:00] AtsushiKan commented on #3080
Just adding some observations from a prior attempt to address this:

- EEType.IsByRefLike does not include IsByRef types themselves.

- It's possible for a type to have metadata but no EEType. We might have to fall back to a careful CA check for that (hopefully minority case) case. I really don't want this to be the first type-dissector method on Type that's not MME-immunized as we've grown pretty

[2017-07-06 05:50] jkotas commented on #4070
The workaround for this should be to override the objectwriter NuPkgRid when restoring. Add this line `<RuntimeIdentifiers Condition="$(NuPkgRid.StartsWith('ubuntu.'))">ubuntu.14.04-x64</RuntimeIdentifiers>` here: https://github.com/dotnet/corert/blob/master/src/ILCompiler/ObjectWriter/ObjectWriter.depproj#L10  . Could you please give it a try and submit PR if it works? Several other projects are

[2017-07-06 05:53] jkotas commented on #4070
I think this may be caused by the `buildvars-setup.sh` change.

[2017-07-06 11:48] sergign60 commented on #4070
@jkotas Yes, you're right. It's working.

[2017-07-06 11:48] sergign60 commented on #4070
https://github.com/dotnet/corert/pull/4082

[2017-07-06 22:02] LeeCampbell opened #4090 "`build.cmd clean Release` fails "The target "Clean" does not exist in the project""
When executing `build.cmd clean Release` as suggested on https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-console-shell-prompt.md, the build ultimately fails with

[code]

I tried running `build.cmd clean` with failure too.

Running just `build.cmd` (without and args) however does work.
I am not sure if this is a documentation issue, or a build issue.

[2017-07-06 23:29] MichalStrehovsky commented on #3460
This will become blocking when we start looking at running the xUnit tests from the CoreFX repo. `Assert.Throws<SomeException>(...)` is a very common pattern there.

What we need is for RyuJIT to lower things like:

[code]

Into a filter block:

[code]

We currently end up generating a catch for `__Canon` and that one never catches anything.

@sandreenko Do you think you can fit this in your sched

[2017-07-06 23:38] sandreenko commented on #3460
I am going on vacation from 7/8 to 7/24.
So I will not be able to do it soon.

[2017-07-07 01:50] jkotas commented on #4090
Thank you for reporting this issue. Fixed by #4095

[2017-07-07 02:01] LeeCampbell commented on #4090
Nice! That was fast turn around.

[2017-07-07 02:55] #4090 closed

[2017-07-07 03:52] #4070 closed

[2017-07-07 19:49] #3583 closed

[2017-07-11 04:37] wub commented on #541
Any updates on this stuff?

[2017-07-12 03:25] ravimeda opened #4143 "Official build break: symbol files not found, making indexing fail"
https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=856273
Index symbols on Symweb task fails as shown below.

To fix this refer to https://github.com/dotnet/corefx/pull/18350

[code]

[2017-07-12 16:59] sergign60 opened #4146 "updateVarInfo fails for Internal.IL.Stubs.DynamicInvokeMethodThunk<[System.Private.CoreLib]System.Int64>"
```updateVarInfo``` issues ``` System.IndexOutOfRangeException``` for ```Internal.IL.Stubs.DynamicInvokeMethodThunk<[System.Private.CoreLib]System.Int64>``` because ```nativeVarInfo.varNumber == 11``` but ```_variableToTypeDescLength == 4```

I am ready to provide any additional information if it is required