[2016-04-25 15:59] jkotas commented on #768
Yes, `NativeCallable` will allow you to do this. The catch is that it will take a while until the CoreRT compiler and frameworks are complete and production quality (we do not have date yet).

cc @yizhang82

[2016-04-25 17:50] proftom commented on #768
Neat. This is a big deal. Just to clarify, this **will **be for non-WinRT (e.g. 'normal' .NET class libraries)? Are you planning to do a WinRT release first ?

[2016-04-25 18:46] yizhang82 commented on #768
@proftom NativeCallable is a general mechanism that allows managed code to be exposed to native code. It is not WinRT specific. The more feature-rich interop (like reverse pinvoke) is built on top of it.

[2016-04-26 06:33] jkotas opened #1198 "Reduce cost of variant interfaces"
See https://github.com/dotnet/corert/pull/1172#issuecomment-214521698 for context

[2016-04-26 16:46] jkotas commented on #936
Fixed by #1193

[2016-04-26 16:46] #936 closed

[2016-04-27 06:52] Rizasoylu opened #1208 "Dnx 5.0 Guid could not be found"
Hello;
Class library as "DNX 5.0" I want to use. But I get the following error.

project.json
[code]

[2016-04-27 20:04] MichalStrehovsky commented on #1208
@Rizasoylu if this is for CoreRT, look at how we do project.json e.g. here: tests\src\Simple\Add1\project.json.

If this is not CoreRT, this is the wrong repo to file an issue in and it lacks repro steps that would allow me to help you route it (how do I get from the project.json to the error message?).

[2016-04-27 20:04] #1208 closed

[2016-04-27 20:10] Rizasoylu commented on #1208
Dnx 5.0 core multilayer sample you send a project?

[2016-04-29 01:34] MichalStrehovsky opened #1213 "Introduce a hierarchy of EEType nodes"
I'm not sure if it's really worth pursuing, but right now, `EETypeNode` is used for emitting generic type definition EETypes, EETypes that are not constructed, and full EETypes.

We have another EEType node that generates a subset to describe GC statics.

It feels like we should introduce a class hierarchy between these to get rid of duplications and the various `if`s in `EETypeNode`.

[2016-05-02 16:05] mikebluestein opened #1226 "Error building native console app on OS X"
small program that calls a rest service using http client and parses the results with newtonsoft json.

works ok without native.

Here's the error I get when building with -n option:

[code]

[2016-05-02 16:38] MichalStrehovsky commented on #1226
You'll typically see this crashing here if the program (or one of the assemblies it refers to) ended up referencing `mscorlib` and `System.Object` from `mscorlib`. The CoreRT compiler doesn't have compatibility shims that would make this work and we didn't invest in diagnostics for invalid inputs yet.

All assemblies fed to ILC need to be compiled against the .NET Core contracts (and use `System.O

[2016-05-02 17:23] mikebluestein commented on #1226
I tried removing newtonsoft.json, thinking that may be the culprit, but to no avail. I'm only taking System.Net.Http as a dependency and get the same error. Here's my project.json:

[code]

[2016-05-02 17:52] MichalStrehovsky commented on #1226
The biggest problem is the `dnxcore50` moniker. That means CoreCLR and it's quite likely it ends up using assemblies that are written for CoreCLR.

We're getting away with it in our testing because we only use a limited subset that is "known good" and provide overrides in the `Microsoft.DotNet.AppDep` package for everything else. The framework team is not making bigger investments in this area yet

[2016-05-03 16:34] jkotas commented on #1213
I do not think that hierarchy (e.g. where one EEType node inherits from a different EEType node) makes sense here. I think that

- Sharing of GC desc encoding should be done via encoding helpers in separate class (e.g. helper that takes pointer map and produces the encoded blob, or something similar)
- Having a different Node type for generic type definitions and other fake EETypes sounds reasonab

[2016-05-03 16:59] MichalStrehovsky opened #1231 "Rename ContainsPointer and IsObjRef"
Both should be something like ContainsGCPointers and IsGCPointer.

[2016-05-03 23:15] jkotas commented on #610
Work in progress: https://github.com/pgavlin/corert/tree/PInvokeHelpers

[2016-05-04 01:55] #1231 closed

[2016-05-04 16:37] MichalStrehovsky opened #1239 "Extract GCDesc encoder into a separate helper"
GCDesc encoding should live in /src/Common.

[2016-05-04 16:39] MichalStrehovsky commented on #1213
OK, I'll use this workitem to track splitting out generic type definitions and unconstructed types into separate Nodes. Taking out the GCDesc encoder will be tracked by #1239.

[2016-05-05 22:57] MichalStrehovsky opened #1243 "Lazy PInvoke resolution on Unix"
This tracks finishing up what was started in pull request #1240.

Known work items:
- Remove `// TODO: Test and make this work on non-Windows` in `PInvokeMarshallingILEmitter.cs` to enable the feature on Unix
- Steal `.so` probing logic from CoreCLR (the thing that attempts prefixing library name with `lib`, etc.). This needs to be implemented either in `CoreLibNative_LoadLibrary()`, or on the man

[2016-05-06 00:47] MichalStrehovsky commented on #239
Done.

[2016-05-06 00:47] #239 closed

[2016-05-06 18:22] #1239 closed

[2016-05-08 03:46] MichalStrehovsky commented on #730
Pull request #1240 fixed the first part. This issue now only needs to track the `A` and `W` probing.

[2016-05-08 03:47] MichalStrehovsky commented on #730
There's a separate issue #1243 tracking Unix probing.

[2016-05-08 03:52] MichalStrehovsky commented on #372
The AppDep package contains a stubbed out ResourceManager that does this now.

@jkotas did it initially, then it was lost for a couple months because we picked up a real ResourceManaged assembly from Project N, but now it's restored to the fake one again.

[2016-05-08 03:52] #372 closed

[2016-05-08 04:25] MichalStrehovsky commented on #320
Closing based on the discussion.

[2016-05-08 04:25] #320 closed

[2016-05-08 21:21] #249 closed

[2016-05-09 01:18] #826 closed

[2016-05-09 03:05] manu-silicon commented on #1194
Updating the report with warnings you get from commit 60d56f41eb54d347ad962e79d8318b32f622fcb7

[code]

[2016-05-10 20:31] MichalStrehovsky opened #1268 "Move EEType.cs to Common and use it from CoreLib"
This enables us to remove the various EEType interrogation exports from Runtime.Base.

[2016-05-10 21:14] MichalStrehovsky commented on #1268
@davidwrighton Pointed out that instead of using EEType.cs from Runtime.Base, we would want to pull out EEType.cs from the type loader (still lives on the TFS side) and use that instead. It's more full featured and doesn't call into the unmanaged runtime to do the "complicated" things.

[2016-05-10 22:58] jkotas commented on #1268
Two EEType.cs that we got are very similar. Ideally, all System.Private.CoreLib, Runtime.Base and TypeLoader would share the same copy.

[2016-05-12 21:34] davidwrighton commented on #1268
Agreed.

[2016-05-13 19:28] MichalStrehovsky opened #1276 "Flexible name formatting within the type system"
We need an infrastructure to format type names, member names, and signatures within the type system.

Right now formatting is done with `ToString` overrides but this is not very flexible. Various consumers can be interested in various formats.

Take CCI `TypeNameFormatter` and `STS::Naming` as inspiration.

[2016-05-16 23:34] DemiMarie opened #1285 "Allow creating native library (static or shared)"
It should be possible to create a library (either static or dynamic) which exposes a C API, and which does not require callers to be aware that it is not written in C.

[2016-05-17 14:10] jkotas commented on #1285
Thank you for talking a look at the project. First class support for building libraries like this is definitely something we would like to support in CoreRT eventually. This involves providing a different version of startup code (`src\Native\Bootstrap`) and build scripts.

[2016-05-20 00:50] MichalStrehovsky opened #1302 "Fix explicit virtual method override resolution"
Virtual methods overridden explicitly hit an assert in `FindBaseUnificationGroup`:

[code]

[2016-05-20 00:54] MichalStrehovsky commented on #1302
(The ValueTypeTransform on Project N injects GetHashCode/Equals overrides that look like this.)

[2016-05-23 20:10] MichalStrehovsky opened #1314 "RyuJIT should expand EETypePtrOf intrinsic"
We need to expand both `System::EETypePtr.EETypePtrOf<T>` and `System::EETypePtr.ConstructedEETypePtrOf<T>`.

The "constructed" variant should make sure to call `embedGenericHandle` with `CorInfoTokenKind.CORINFO_TOKENKIND_NewObj`.

[2016-05-24 02:03] jkotas commented on #685
This is done in https://github.com/dotnet/corert/pull/1241. I am removing the TODO

[2016-05-24 02:03] #685 closed

[2016-05-26 20:32] ilackarms commented on #541
@tijoytom definitely interested in seeing the work you did with OSv

[2016-05-26 20:49] tijoytom commented on #541
@ilackarms It's been a while back that i did the experiment , i still have the run-time changes on my machine. The path that i look was the easiest ie use cpp compile and then use clang  / gcc to compile to native binary.
Is there anything particular you are interested in ?

[2016-05-26 20:56] ilackarms commented on #541
@tijoytom you did not cross-compile dotnet CLR? all you did was compile some C# to a native binary? and that worked?

[2016-05-26 21:10] tijoytom commented on #541
@ilackarms Yes , I did cross compile the runtime (dotnet CLR)  and link it to produce the final binary.
1 . Use CoreRT cpp codegen to generate c++ code for the test c#  application . The output here is a cpp file with all the necessary plumbing to initialize the run-time and jump to app's main method.
2. Compile the run-time.
3. Compile an link the cpp from (1) and runtime from (2) to produce the

[2016-05-26 21:13] ilackarms commented on #541
@tijoytom were there any changes you had to make to CLR source to make it cross compile to run on OSv?

[2016-05-26 21:22] tijoytom commented on #541
@ilackarms I didn't actually make any change to compile CLR , but i had to make some changes to get 'helloworld' running on OSV .

1.Removed bool QueryCacheSize() from PalRedhawkUnix , opendir("/sys/devices/system/cpu") do not work on OSV.
2.Disabled the finalizer thread since PalWaitForSingleObjectEx(hFinalizerEvent .. was triggering a page fault.

[2016-05-26 21:25] ilackarms commented on #541
great! thanks. I am interested in trying this out on top of a rumprun unikernel instead of OSv.

[2016-05-28 00:14] #1302 closed

[2016-06-01 16:51] mjp41 opened #1352 "Typo in #ifndef APP_LOOCAL_RUNTIME in Native/Runtime/PalRedhawk.h"
APP_LOOCAL_RUNTIME should probably be APP_LOCAL_RUNTIME.

https://github.com/dotnet/corert/blob/master/src/Native/Runtime/PalRedhawk.h#L703

I am happy to fix, but what testing needs to be done to ensure this is exercised.

[2016-06-01 17:48] jkotas commented on #1352
@mjp41 Please go ahead and fix this.

`APP_LOCAL_RUNTIME` define is used in one of the ms internal builds only, so you do not have a good way to exercise it. If there is a problem, we will catch it once the change is merged over - that's fine.

[2016-06-03 14:18] jkotas commented on #1352
Fixed by #1363

[2016-06-03 14:18] #1352 closed

[2016-06-09 10:02] #1103 closed

[2016-06-22 19:35] janvorli commented on #911
Implemented by #1417

[2016-06-22 19:35] #911 closed

[2016-06-24 02:21] jkotas commented on #610
This is done.

[2016-06-24 02:21] #610 closed

[2016-06-24 02:21] jkotas commented on #611
This is done.

[2016-06-25 15:56] #611 closed

[2016-06-28 10:51] jonstoneman opened #1442 "Unable to build --native on OS-X"
When using `dotnet build --native --ilcpath /Users/jonathan/Downloads/corert-master/bin/Product/OSX.x64.Release/packaging/publish1`, I get..

[code]

If I add the `--cpp` flag, I get...

[code]

Guessing it's not related but using `--cppcompilerflags /MTd` gives `clang: error: no such file or directory: '/MTd'`.

Can anyone tell me what the problem is here or how I should go about debugging it?

[2016-06-28 19:50] MichalStrehovsky commented on #1442
It works for me. We also run this on Mac in the CI builds. What `dotnet` are you using? Is it the one that CoreRT pulls down into `Tools/dotnetcli` or something else?

When you run `./build.sh` to build the repo, are the tests passing? (Should be the last two lines of the build output.)

[2016-06-29 07:09] jonstoneman commented on #1442
I am using `dotnet` from CoreRT's `Tools/dotnetcil`.  All tests pass when running `./build.sh`.

The app I'm trying to use this with references a multi-targeted (netstandard1.5/net451) library project and uses the Docopt.Net third party library.

I've created a new app, using CoreRT's `dotnet`, and the behaviour is slightly different:

[code]

[2016-06-29 08:15] jonstoneman commented on #1442
I've re-run `./build.sh` and notice that I'm getting lots of warnings including the `could not create compact unwind` warnings above:  http://pastebin.com/7ByFCzJP

Is that normal?

[2016-06-29 16:22] MichalStrehovsky commented on #1442
The warnings are normal for now. They just need someone to sit down, figure out why they show up and clean up/suppress.

I would suggest starting with the exact same *.cs and *.json file as we use in one of the tests (under `[repo]/tests/src/simple`) and modifying it until you hit the issue. The compiler and it's integration with the .NET Core Framework has some rough edges at this point.

[2016-06-29 23:03] MichalStrehovsky commented on #1268
This was fixed by me a few days ago.

[2016-06-29 23:03] #1268 closed

[2016-07-01 03:17] MichalStrehovsky commented on #464
Finalizers work now.

[2016-07-01 03:17] #464 closed

[2016-07-05 00:10] MichalStrehovsky opened #1461 "Bad unwind info generated on macOS for methods with stackalloc"
There are two buckets:
- `linkerscript, file was built for unsupported file format`
- `could not create compact unwind for X: does not use RBP or RSP based frame`

The linkerscript one should go away when we get rid of the linkerscript (see comment on #1417).

[code]

[2016-07-05 00:11] MichalStrehovsky commented on #1442
@jonstoneman I opened a separate issue to track the linker warnings (#1461). Did you track down the problem with compiling your project?

[2016-07-05 01:01] MichalStrehovsky commented on #394
Eh, we can't skip this. These have to be treated the same as modopts:

The CLR is happy to use these to distinguish overloads:
[code]

[2016-07-05 14:48] jamesqo opened #1463 "Maybe there should be a `skipnative` option for the build script"
Building the native components of the repo via the build script didn't take nearly as long as it did with CoreCLR, but still maybe there should be a `skipnative` option for someone who only touched the managed portion. (also maybe `skipmanaged` for vice versa)

[2016-07-06 01:06] wjk opened #1471 ""JIT Error" on AssemblyBinderImplementation"
I just updated my local clone of CoreRT to revision `bc9671edca37502794c01647215519d4254d3ad4`, and now it doesn't work. Immediately when I launch my app I it calls through to `__not_yet_implemented` with the informative error string "JIT Error". Here is my call stack:

[code]

I have never seen this happen before. Does anyone have any ideas what the cause of this error is? Thanks!

[2016-07-06 01:14] wjk commented on #1471
My bad, actually. The root cause of the problem was that `System.Private.TypeLoader.dll` was missing from the command line for ILC. Adding that DLL in fixed the problem. Never mind. :smile:

[2016-07-06 01:14] #1471 closed

[2016-07-06 19:15] wjk opened #1474 "Reflection Assembly Question"
I am trying to write a piece of CoreRT-based code that implements `ResourceManager` in a CoreRT-friendly, albeit Windows-only, way. To do this I am using a build-time script to extract the manifest resource streams from the compiled .NET assemblies, and compile them into a native object using `rc.exe`. I would then use a custom `ResourceManager` class to extract the appropriate blob from the compi

[2016-07-07 00:37] MichalStrehovsky commented on #1474
Thanks for the detailed bug report! The issue you're seeing affects all types referenced from a `typeof(Y)` expression that are otherwise not constructed (there's no `new Y()` in the program). The fix is inbound.

[2016-07-07 00:50] MichalStrehovsky commented on #1474
@wjk ResourceManager is a big beast with a lot of challenges. If you would like to contribute, do keep us posted if you would like early feedback! All contributions are welcome.

[2016-07-07 04:50] jkotas commented on #1474
cc @tarekgh since he has been looking into the resource manager before.

[2016-07-07 06:01] #1474 closed

[2016-07-07 12:38] jonstoneman commented on #1442
@MichalStrehovsky I've not really got very far and am now unsure how much of the problem is down to my understanding of what should be possible.

I was expecting that I'd be able to do:
[code]

Should that work?  I get..

[code]

The only way I've found to natively compile this app is:
- edit `project.json` replacing...

[code]
    ...with...
[code]
- build using `dotnet build --runtime osx.10.10-

[2016-07-07 18:40] MichalStrehovsky commented on #1442
I fixed the `Reason: JIT Failed` issue to have more diagnostic information with #1479, so now the error message becomes a more useful `Reason: System.IO.FileNotFoundException: Assembly not found: System.Console`.

For some reason when dotnet invokes the native compiler built in the repo (`ilc.exe`) it doesn't pass `System.Console.dll` as one of the inputs (it's missing in `obj\Debug\netcoreapp1.0\

[2016-07-07 18:42] gkhanna79 commented on #1442
CC @nattress

[2016-07-08 04:14] wjk opened #1487 "MarshalAs Incorrect Behavior"
When working on a P/Invoke call that is declared as follows:

[code]

...it marshals the two string arguments as _ASCII strings_, not `wchar_t` strings, despite my MarshalAsAttribute stating otherwise. If I declare the strings as type `LPCWSTR` on the receiving end (in C++), I get strings of Chinese characters. If I declare them as `LPCSTR`, I get the correct values.

[2016-07-08 04:59] jkotas commented on #1487
It is because of TODOs around custom marshaling in https://github.com/dotnet/corert/blob/master/src/Common/src/TypeSystem/IL/Stubs/PInvokeILEmitter.cs.

Fixing these TODOs is about reading the MarshalAs from metadata, and use it to control how the arguments get marshalled.

As workaround, you can use `CharSet = CharSet.Unicode` in DllImport. It causes string arguments to be marshalled as Unicode a

[2016-07-08 06:31] MichalStrehovsky opened #1491 "Reconsider how generic arity is preserved in the EETypes"
We are currently duplicating arity information:

1. In type definition's component size field
2. As the first DWORD of the generic composition info

We could fetch it from (1) everywhere and eliminate (2), but this is used from hot code paths (variant casting). (2) bloats the size - we are actually wasting a full pointer because of alignment requirements.

[2016-07-10 18:04] wjk opened #1497 "CCWAddRef symbol not defined"
I am trying to compile a rather complex CoreRT-based project (private repo) when it suddenly started failing on the stage where it links the object file with the CoreRT support libraries. The complaint is this:

[code]

I have found the P/Invoke that references this symbol [here](https://github.com/dotnet/corert/blob/master/src/System.Private.Interop/src/Shared/StandardInterfaces.cs#L171-L174), bu

[2016-07-10 18:24] jkotas commented on #1497
The COM interop does not work in CoreRT at all yet. We are adding dummy stubs as needed to make things compile - e.g. https://github.com/dotnet/corert/blob/master/src/Native/Runtime/portable.cpp#L355.

[2016-07-10 19:02] wjk opened #1498 "Exception-handling assertion failure"
I am working on a CoreRT-based project that is throwing an exception in a P/Invoke function. That is not the problem I am reporting here, however. The problem I am reporting here is that if I throw an exception, I then get an assertion failure and `__debugbreak()` with the following call stack (copied directly from the Visual Studio C++ debugger):

[code]

Apparently, the `CoffNativeCodeManager::F

[2016-07-10 21:16] wjk commented on #1498
Clarification: The assertion detailed above occurs _anywhere_ an exception is thrown (by the runtime, by a corefx library, or by a `throw` statement in application code).

[2016-07-10 21:29] wjk commented on #1498
Furthermore, as far as I can tell the `try` block is not emitted into the generated assembler by ILC. The contents of the `catch` block are present and as expected, but I can see no code whatsoever that informs the runtime about its presence. The symptoms described above may or may not be caused by the exception actually being unhandled at runtime.

[2016-07-11 02:06] wjk opened #1499 ".NET CLI Build Problem"
When I build a .NET Core project of mine (private repo) that references the class `System.IO.File` in code, the `dotnet publish` completes successfully, yet ILC then crashes on an `mscorlib` reference. Inspection of the DLLs in the publish output directory reveals that the following DLLs all reference `mscorlib`:

* `System.AppContext.dll`
* `System.Diagnostics.StackTrace.dll`
* `System.Diagnostic

[2016-07-11 02:40] wjk commented on #1499
Update: By adding the DLLs above to the `project.json` file under the `AotPackageReference` subdirectory of the CoreRT repo, running `dotnet restore`, and then re-running the CoreRT build, I can download CoreRT-compatible variants of most of the above-listed DLLs. I can then delete the ones that I cannot replace in this manner before running ILC.

However, I am running into another problem: `Syste

[2016-07-11 03:18] jkotas commented on #1498
I see that you are building the managed code as .dll, not as .exe. Have you done the matching change in for `RhpRegisterCoffModule`? `RhpRegisterCoffModule(GetModuleHandleW(NULL)` needs to be changed to register the .dll module, e.g. change it to `RhpRegisterCoffModule(PalGetModuleHandleFromPointer((void*)&AppMain), ...`.

[2016-07-11 03:21] jkotas commented on #1285
https://github.com/dotnet/corert/issues/1498 is one of the problems that needs to be fixed to make this work.

[2016-07-11 03:45] wjk commented on #1498
@jkotas As a matter of fact, no I did not. I can't confirm that this change fixes the issue at this very moment -- I am currently in the middle of debugging another issue -- but once I fix that, I will let you know. Thanks!

[2016-07-11 03:47] jkotas commented on #1499
AppDepSDK has been temporary hack to workaround nuget issues - it does not contain all DLLs required. It should go away once https://github.com/dotnet/corert/issues/309 is fixed.

These .dlls can be build from corefx repo, with `TargetGroup=netcore50aot`:

cd \corefx\src\System.Threading.Timer\src
msbuild System.Threading.Timer.csproj /p:TargetGroup=netcore50aot

However, not all DLLs in your list

[2016-07-11 18:03] MichalStrehovsky commented on #52
Rough execution plan:

- [ ] Make it possible for `CompilationModuleGroup` to be instantiated outside of `Compilation`

 Delete `ICompilationRootProvider` interface – change the pattern from "compilation group roots everything that should be a root" to "compilation group provides a list of roots for everyone who might be interested"

 In the `Compilation`'s `Compile` method, iterate over all the r

[2016-07-11 18:08] MichalStrehovsky commented on #52
Basically it feels like the success criteria for this is to get rid of `CompilationOptions` class in it's entirety and allow the driver to compose the LEGO bricks (classes) that constitute the compiler according to the command line arguments and run the `Compile` method.

[2016-07-12 00:20] wjk opened #1504 "System.Private.CoreLib.Threading?"
While trying to use the CoreFX assemblies compiled by hand for a target of `netcore50aot` (as suggested by @jkotas in #1499), I ran into a problem wherein ILC emits a call to `__not_yet_implemented` stating that it can't find the file `System.Private.CoreLib.Threading.dll`. As far as I know, this DLL does not exist anywhere. It is being referenced by `System.Threading.dll` (along with `System.Priv

[2016-07-12 00:32] wjk commented on #1504
And, as it turns out, `System.Private.CoreLib.Threading` *does* exist -- in the `Microsoft.TargetingPack.Private.NETNative` NuGet package! Is there any reason this isn't in the CoreRT repo yet, or any way that the use of it can be avoided if it won't be?

[2016-07-12 01:24] wjk commented on #1498
@jkotas I have now confirmed that your change did the trick. Throwing and catching exceptions now works as expected.

[2016-07-12 01:24] #1498 closed

[2016-07-12 01:24] wjk commented on #1499
I have managed to resolve this (with caveats, e.g. #1504).

[2016-07-12 01:24] #1499 closed

[2016-07-12 04:03] wjk opened #1506 "NativeCallableAttribute Issue"
While brainstorming ideas on how to workaround `Marshal.GetFunctionPointerForDelegate()` being unimplemented, I came up with the idea of using `NativeCallableAttribute` to give the method in question a C name, and then use a C stub method (exposed to C# as `[DllImport("*")]` method) to convert the name of the function into its pointer, which then can (hopefully) be passed safely into Win32.

Unfor

[2016-07-12 04:10] jkotas commented on #1506
It should work.

I would set at breakpoint here to check why your custom methods are not getting picked up: https://github.com/dotnet/corert/blob/d85dc4f6b9912e002d0a41ce08c06cf394c7ee08/src/ILCompiler.Compiler/src/Compiler/CompilationModuleGroup.cs#L97

[2016-07-12 04:25] jkotas commented on #1504
`System.Private.CoreLib.Threading` has no code in it. It is just a façade with type forwarders. It is useless artifact of the old internal build scheme that we do not plan to bring over to the build system in corert/corefx repos.

In the meantime, you could either use the one from NETNative package; or replace all references to it with System.Private.CoreLib using ildasm/ilasm roundtrip.

[2016-07-12 20:21] wjk commented on #1506
I figured it out, actually. It seems that only the input module and `System.Private.CoreLib` are scanned for methods marked with `NativeCallableAttribute`. @jkotas I can prepare a PR with a fix for this, if desired.

[2016-07-12 20:37] wjk commented on #1506
Closing as resolved; please see #1510 for the fix.

[2016-07-12 20:37] #1506 closed

[2016-07-12 23:44] bbowyersmyth opened #1512 "Implement StringComparison.InvariantCulture and InvariantCultureIgnoreCase"
These two (largely misused) string comparisons are making a comeback. https://github.com/dotnet/corefx/pull/10019

CoreRT doesn't have them implemented in `string.cs`
cc @hann013

[2016-07-13 19:14] wjk commented on #1504
I've just copied the one over from the NETNative package to fix my build. No harm done.

[2016-07-13 19:14] #1504 closed

[2016-07-13 19:20] wjk opened #1515 "Exception Unwinding Issue"
I am writing a program that does both forward and reverse P/Invoke with Win32 user interface libraries. The flow of control looks something like this:

1. Main()
2. Managed code
3. Win32 code
4. Managed code
5. Throw exception

The exception unwinding code works fine until it reaches the first Win32 stack frame (one of about 11), at which point it asserts [here](https://github.com/dotnet/corert/bl

[2016-07-13 19:56] MichalStrehovsky commented on #1515
In CoreRT (and CoreCLR on non-Windows platforms for that matter), managed exceptions are not allowed to propagate out of reverse pinvokes (i.e. delegate callback). There is no cross-platform (or cross-compiler) ABI that defines exception handling.

On Windows and CLR, this worked because exception handling is implemented on top of SEH. Originally, the CLR had only a custom exception dispatch mecha

[2016-07-13 22:51] wjk commented on #1515
@MichalStrehovsky Thanks! That explains it. I'm going to close this now; feel free to reopen if appropriate.

[2016-07-13 22:51] #1515 closed

[2016-07-14 00:03] jkotas commented on #1515
It is sort of documented here https://docs.microsoft.com/en-us/dotnet/articles/standard/native-interop via the linked Mono documentation at the very end. I am going leave comment on the page to mention it explicitly.

[2016-07-14 02:15] wjk opened #1517 "Weird Exception-Dispatch Hang"
My application is throwing an exception, and the application is locking up while trying to dispatch it. I am quite certain that there is a catch block on one of the managed frames on the stack. Strangely, whenever I pause the app in the Visual Studio debugger, it always stops [on this specific instruction](https://github.com/dotnet/corert/blob/master/src/Native/Runtime/amd64/ExceptionHandling.asm#

[2016-07-14 06:59] jkotas commented on #1517
Could you please try to single step in assembly code once you stop on this specific instruction, so that we can tell what's going on?

[2016-07-14 17:13] wjk commented on #1517
@jkotas Actually, this problem stopped occurring due to an unrelated change; however, if it ever happens again, I will do so and let you know. Thanks!

[2016-07-14 19:31] #1142 closed

[2016-07-16 01:31] wjk opened #1530 "NotImplementedException in EETypeNode.OutputBaseSize"
I just added the [Autofac](https://github.com/autofac/Autofac) dependency injection framework to my CoreRT app, and now ILC.exe is crashing. Here is the backtrace it gives me:

[code]

Some brief investigation reveals that the offending line of code is [here](https://github.com/dotnet/corert/blob/master/src/ILCompiler.Compiler/src/Compiler/DependencyAnalysis/EETypeNode.cs#L419). I will update this

[2016-07-16 01:43] wjk commented on #1530
The type in question is the `TService` in `IRegistrationBuilder.As<TService>()`. The source for this method can be found [here](https://github.com/autofac/Autofac/blob/develop/src/Autofac/Builder/IRegistrationBuilder.cs#L158).

[2016-07-16 01:46] wjk commented on #1530
Using `IRegistrationBuilder.As(params Type[])` gives me the same crash as when I use the generic version.

[2016-07-16 01:49] wjk opened #1531 "Interactive debugging aid"
While in the process of debugging #1530, I find that attaching the Visual Studio debugger to ILC is an extremely annoying process. I have to edit ILC's `Main()` method, add some code that waits for a keypress, and then rebuild CoreRT. The pause for the keypress gives me time to switch back to Visual Studio and Attach to Process after I launch ILC from within PowerShell. However, once the debugging

[2016-07-16 03:21] jkotas commented on #1531
Would gflags tool help?

https://social.msdn.microsoft.com/Forums/vstudio/en-US/a164868b-c361-4a5f-a9ef-888058363b93/is-there-a-way-of-making-the-vs-debugger-start-up-directly-when-an-exe-is-run?forum=vsdebug

[2016-07-16 03:34] wjk commented on #1531
@jkotas I'm afraid not, as if I attach to the process before CoreCLR is initialized, the debugger is of no practical use. From what I gather from the linked post, this would initialize the Visual Studio debugger immediately when the process launches. Visual Studio would then auto-detect native code and attach the C++ debugger. By the time I detach ILC has run to completion before I can reattach us

[2016-07-16 03:59] jkotas commented on #1531
Would having debugging aid under switch help? Like https://github.com/dotnet/cli/blob/rel/1.0.0/build_projects/Microsoft.DotNet.Cli.Build.Framework/DebugHelper.cs. I think it should be fine to add.

[2016-07-16 05:10] wjk commented on #1531
@jkotas That would be perfect.

[2016-07-16 08:24] MichalStrehovsky commented on #1530
We shouldn't be creating EETypes for generic parameters. If you can set a conditional breakpoint on the EETypeNode's constructor and set the condition to trigger when we're creating it (e.g. `type is GenericParameterDesc`) that might give us more info about the root cause.

That said, within the scope of this issue we'll probably only find a better way to error out early. There's no support for ge

[2016-07-16 19:39] jkotas commented on #1531
@wjk Are you interested in submitting PR with the fix?

The command line option may be called `--waitfordebugger` so that it is clear what it does and not getting confused with generating debuggable code. A good place to add the implementation of the helper class may be `src\Common\src\CommandLine`. Thanks.

[2016-07-16 20:27] wjk commented on #1531
@jkotas Of course! I’ll get on it as soon as I can.

[2016-07-16 21:47] jkotas commented on #1531
Fixed by #1532

[2016-07-16 21:47] #1531 closed

[2016-07-17 02:57] wjk commented on #1517
@jkotas I figured it out. The program is _actually_ looping indefinitely inside of `Debug.DebugBreak()`. The break on the instruction listed above is due to Visual Studio unwinding the stack back to the first frame that contains line-number information. The instruction being run is the next one that would execute if `DebugBreak` would ever return.

[2016-07-17 02:57] #1517 closed

[2016-07-17 02:59] wjk opened #1533 "Fix Debug.DebugBreak"
In CoreRT as currently implemented, any call to `Environment.FailFast` calls through to `Debug.DebugBreak` which does nothing that loop indefinitely. I would expect that if I call `FailFast()` the program would actually crash. Could this be changed?

[2016-07-17 04:31] jkotas commented on #1533
Fixed by https://github.com/dotnet/corert/pull/1534

[2016-07-17 07:20] #1533 closed

[2016-07-21 10:10] #88 closed

[2016-07-21 17:38] rottor12 opened #1560 "unresolved external symbol __managed__Main"
I'm trying to use new CoreRT to build native version of a simple app

compilation succeeds, but the linker outputs following error:

bootstrapper.lib(main.obj) : error LNK2019: unresolved external symbol __managed__Main referenced in function wmain

here is my build command:

dotnet build --native --runtime "win7-x64" --ilcpath "D:\corert-master\bin\Product\Windows_NT.x64.Debug\packaging\publish1"

[2016-07-22 04:24] MichalStrehovsky commented on #1560
What's the contents of you `project.json` file? Can you try using [this one](https://github.com/dotnet/corert/blob/master/tests/src/Simple/Hello/project.json)?

[2016-07-22 14:59] rottor12 commented on #1560
Initially I was using
[code]

after I changed to below setting I'm still getting the same Linker error (note - I've added System.Threading dependency):

[code]

[2016-07-22 15:16] blackdwarf opened #1566 "dotnet-compile --native should work outside x64 Native Tools Command Prompt"
A port of the dotnet/cli#301 issue.

[2016-07-22 20:23] blackdwarf opened #1568 "Publish CoreRT Framework Libs on Nuget/Myget and remove AppDepSDK"
Today CoreRT framework libs are included in the AppDepSDK NuGet package. This only includes a small subset of libraries, and does not provide any functionality for a user to opt in or out of specific libraries.

We should instead publish these libraries on nuget/myget and allow them to be referenced like other framework libraries in the project.json

The resolution of this is heavily tied to the r

[2016-07-22 20:26] blackdwarf opened #1569 "Figure out where Native shims will be published and how to consume them."
For Context dotnet/corefx#4572

Native shims in the form of static libraries need to be published somewhere and consumable for the dotnet-compile-native and ilcompiler toolchains.

These libraries need to be linked into the application during native compile.

This is another step in unblocking #255

/cc @schellap @gkhanna79

P.S.: a move of dotnet/cli#405

[2016-07-22 20:27] blackdwarf opened #1570 "Include 3rd party and P2P dependencies during native compile."
Implementation assemblies for 3rd party and P2P dependencies should be passed to ilc.exe as references.

An open question is how to handle the runtime identifier in this case. 3rd Party dependencies may not be targeting the -aot runtime identifier suffix that native libs are currently under. For this reason this is somewhat tied to #402

This is another step in unblocking #255

/cc @schellap @gkha

[2016-07-25 11:50] tartufella opened #1579 "UWP x:bind memory leaks"
I have an application that has a Page backed by a ViewModel.  At the bottom of this page I have this code :

[code]
If I navigate on and off this page, it is never GC'd.  See attached images that show 6 instances of this page that are pinned by `Windows.Foundation.TypedEventHandler<Windows.UI.Xaml.FrameworkElement, Object>    <0x1E44D54> [Dependent Handle, Formworks.Win10.Views.EditPage <0x1E44AD8

[2016-07-25 13:01] jkotas commented on #1579
cc @MattWhilden

[2016-07-25 17:42] rottor12 commented on #1560
anyone ?

I cannot move forward because of this

[2016-07-25 17:59] gkhanna79 commented on #1560
CC @nattress

[2016-07-25 18:13] MattWhilden commented on #1579
Hello Marshal! Happy to help get this investigated. One thing that helps us understand this issue is to confirm that these objects will never be collected. Can you add this:
[code]
somewhere on that path and confirm that the objects are still available. With that confirmed we can investigate this as a real lifetime issue.

The fastest, cleanest way to get us repro files is outlined here: https://g

[2016-07-25 18:18] MichalStrehovsky commented on #1560
We need exact repro steps to help. How is the thing you're building different from tests in `/tests/src/Simple` within the repo?

In general, adding *anything* to the `project.json` file on top of what is in the `tests` subdirectory is likely to cause trouble because it might end up downloading a package meant for CoreCLR. We hack around it with `appdepsdk` but the hack doesn't cover everything. A

[2016-07-26 13:23] rottor12 commented on #1560
I've created new project from scratch with this code:

[code]

project.json:

[code]

the same error:

[code]

[2016-07-26 15:42] MichalStrehovsky commented on #1560
This is still not the same `project.json` as we use in our tests - there is no `netcoreapp1.0` in our tests. Also, make sure you're using `dotnet` from the `[repo]\Tools\dotnetcli` directory.

[2016-07-26 16:46] rottor12 commented on #1560
after I've changed frameworks node to:

[code]

same error:

[code]

I'm using dotnet from [repo]\Tools\dotnetcli:

dotnet --version
1.0.0-rc2-002416

[2016-07-26 17:00] MichalStrehovsky commented on #1560
Well if you successfully built the repo and saw
[code]
at the end, this should work, One of the tests in both JIT and CPP mode is a hello world and your computer compiled, linked, and executed it successfully.

Are you running this from `VS2015 x64 Native Tools Command Prompt`? The fact that the project lives under a `Visual Studio 2010` directory doesn't inspire much confidence in how the environ

[2016-07-26 17:11] rottor12 commented on #1560
yes .. I can see:
"JIT - TOTAL: 7 PASSED: 7
CPP - TOTAL: 2 PASSED: 2"

on the cmd window where I've build coreRT

and yes - it is VS 2015 x64 Native, just as stated in the readme doc:

http://i.imgur.com/6BgjNyY.png

it is indeed strange as the sample Hello was built and I can execute it

[2016-07-26 17:23] rottor12 commented on #1560
I'm pasting my LIB and LIBPATH if this is of any help:

[code]

[2016-07-27 18:38] blackdwarf opened #1583 "dotnet-compile-native does not support Windows x86"
Cross-post from dotnet/cli#1550

Currently `dotnet compile --native` produces only x64 binaries on Windows.

Could be this is not applicable anymore.

[2016-07-27 19:25] nattress opened #1584 "dotnet compile --native should pass app dependencies to ILC.exe"
This functionality was taken out because the CoreRT framework libraries are currently only included in the AppDepSDK Nuget package.

We need to think about where the framework libraries will eventually come from, and how we deal with third party app dependencies.

Related: https://github.com/dotnet/cli/issues/255

[2016-07-28 04:48] wjk commented on #1568
@blackdwarf You can actually build these for yourself, should you ever need to. To do so, clone `dotnet/corefx` and run `init-tools.cmd` from within that repo. Then, you can go into any of the project `src` directories and run `msbuild *.csproj /p:TargetGroup=netcore50aot` and it will create a CoreRT framework lib for you. Note that most of the time these are the same as the "regular" CoreFX libs;

[2016-07-28 20:06] wjk opened #1593 "PalDebugBreak symbol not found"
While running the in-repo unit tests while debugging #1506, I found that `Runtime.lib` has ten or so references to the `PalDebugBreak` symbol, but no definition for it. This just started happening now, after I rebased the branch I was working on to the tip of master. This symbol was added in #1534. It seems to me that [since `PalDebugBreak` is now a preprocessor macro](https://github.com/dotnet/co

[2016-07-28 20:08] wjk commented on #1593
Correction: I will put this symbol in a C++ file, so I can take advantage of the `__debugbreak()` MSVC intrinsic.

[2016-07-28 20:09] wjk commented on #1593
I also noticed that the Unix version of `PalDebugBreak` is (possibly) incorrectly defined on Unix. The GCC-compatible builtin equivalent of `__debugbreak()` is `__builtin_trap()`. Should I correct this as well?

[2016-07-28 20:28] jkotas commented on #1593
I do not see any references to `PalDebugBreak` in the assembly code. The assembly code is referencing `RhDebugBreak` that is C function. Maybe the assembly code is not getting rebuilt? I have noticed that the incremental build does not always work well for assembly code.

This would be great.

[2016-07-28 23:09] wjk commented on #1593
@jkotas Yeah, the assembler objects were out-of-date. Blowing away the `bin\obj\Native` directory to force a full rebuild fixed the build; no new functions are required. I will prepare a PR re `__builtin_trap`.

[2016-07-28 23:09] #1593 closed

[2016-07-29 03:37] wjk opened #1596 "Interop calls into reflection on startup before reflection is online"
When I run my CoreRT app, an unhandled `InvalidOperationException` is thrown in [the getter for `Internal.Runtime.Augments.RuntimeAugments.Callbacks`](https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/Internal/Runtime/Augments/RuntimeAugments.cs#L759). This occurs within the call to `InitializeModules`, prior to entry into my application code. I haven't seen this happen b

[2016-07-29 04:41] MichalStrehovsky commented on #1596
Can you paste the stack that leads to the exception? I have a suspicion it's related to the new eager constructor in https://github.com/dotnet/corert/pull/1591/commits/388a79a8ad3e085712776545c95612f6129306d3, but a stack would help.

[2016-07-29 19:55] wjk commented on #1596
[code]

[2016-07-29 20:08] MichalStrehovsky commented on #1596
Mmmm, yeah, the `EagerStaticConstructorOrder` enum defines the order of how class constructors run and indeed reflection is initialized only after interop initializes.

We need this order because if I remember correctly, reflection ends up calling into either globalization garbage or resource manager garbage, both of which depend on interop. This use of reflection is not a problem on Project N bec

[2016-07-29 20:22] wjk commented on #1596
@MichalStrehovsky So what, if anything, should be changed?

[2016-07-29 20:43] MichalStrehovsky commented on #1596
Ideally, fix up RyuJIT so that it can do the intrinsic expansion of `typeof(x).TypeHandle`. That way CoreRT compiler will be in the same bucket as the Project N compiler (i.e. interop calling into reflection during startup will work for now).

This means:

1. Fix intrinsic expansion of `CORINFO_INTRINSIC_GetTypeFromHandle` to work for the case when `RuntimeTypeHandle` isn't just a thin wrapper ove

[2016-07-29 20:44] MichalStrehovsky commented on #1596
Alternatively, @yizhang82 could get someone from his team to fix interop not to call reflection in the startup path.

[2016-07-29 20:44] jkotas commented on #1596
The quick fix should be to put the call to `InitRefCountedHandleCallback` under `#if !CORERT` with TODO and link to this issue. (And define CORERT in System.Private.Runtime.InteropServices.csproj so that it actually works: https://github.com/dotnet/corert/blob/master/src/System.Private.Reflection.Core/src/System.Private.Reflection.Core.csproj#L13.)

[2016-07-29 21:20] wjk commented on #1596
@jkotas Should I prepare a PR?

[2016-07-29 21:26] jkotas commented on #1596
@wjk That would be perfect.

[2016-08-09 17:54] #1213 closed

[2016-08-10 22:56] christianscheuer opened #1634 "P/Invoke fails on OSX"
P/Invoke to OSX system libraries seems to fail when linking (with the --cpp and without). Should there be a way to manually specify arguments to the linker? Is there a workaround possible?

This is my output:

Undefined symbols for architecture x86_64:
  "_objc_getClass", referenced from:
      cptsbackend::Mac::ObjCRuntime::Messaging::__pInvokeImplobjc_getClass15(long) in cptsbackend-6463b3.o
  "

[2016-08-11 03:23] jkotas commented on #1634
There is no way to pass extra linker flags via `dotnet build` today. We are waiting for dotnet cli to be switched over to msbuild (https://github.com/dotnet/cli/issues/3599) before fixing these.

The workaround is run `dotnet build` in verbose mode. It will print command lines of all commands being executed. The same commands can be then executed as a script, with custom tweaks as necessary.

[2016-08-11 10:19] christianscheuer commented on #1634
Thank you very much @jkotas. This makes a lot of sense. Do you have to be using the debug configuration for the verbose argument to exist? I cannot seem to find it in the usage page, and -v / --verbose does not work.

[2016-08-11 12:38] janvorli commented on #1634
@christianscheuer - the `-v` option needs to be after the dotnet and before the build, so e.g. like this:
[code]

[2016-08-11 19:59] christianscheuer commented on #1634
Thank you so much, @janvorli :)

[2016-08-11 19:59] #1634 closed

[2016-08-12 03:05] christianscheuer opened #1642 "Delegate Marshaling not supported on OSX"
It seems to me that marshaling of callback delegates is not yet implemented on OSX/Unix. Is this true?

When I'm sending a delegate as an argument to a P/Invoke call, the process hangs on the call, using 100% CPU.

The same is true for calling Marshal.GetFunctionPointerForDelegate(delegate)

When looking through the code in McgMarshal.cs it does indeed seem like some of the Marshaling code has not

[2016-08-12 07:24] jkotas commented on #1642
Thank you for interest in the CoreRT project!

The higher level delegate marshalling is not implemented yet. The workaround is to use the lower-level `NativeCallableAttribute` and `AddOf` intrinsic that the higher level delegate marshalling will be built on top of. Here is a small example: https://gist.github.com/jkotas/8cf994304c56b7d5ec6e54d8ed0e585f

The NativeCallable method has to be `static`

[2016-08-12 07:24] jkotas commented on #1642
cc @yizhang82

[2016-08-12 12:30] rottor12 opened #1646 "ilc.exe from Windows_NT-bin.zip from https://github.com/dotnet/corert/releases gives exception"
I've downloaded Windows_NT-bin.zip from https://github.com/dotnet/corert/releases

and when I try to run ilc.exe it gives me an exception:

D:\Windows_NT-bin\bin\Product\Windows_NT.x64.Release>ilc.exe

Wyjątek nieobsłużony: System.IO.FileNotFoundException: Nie można załadować pliku lub zestawu 'System.Console, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' lub jednej z jego zal

[2016-08-12 13:07] christianscheuer commented on #1642
Thank you again, @jkotas. That was exactly something like that I had in mind - it works :)

Fixing this led me to some other workarounds I had to make. Let me know if they could be of any use to you.

I found a small bug (or unimplemented feature), where a struct with two IntPtrs would be put incorrectly onto the stack for a p/invoke call. I worked around that by just incorporating the two struct

[2016-08-12 16:46] MichalStrehovsky commented on #1646
The EXE is built for CoreCLR. You'll need to run it through CoreRun - it will not with the desktop CLR (which is what runs if you run the EXE directly on Windows).

The release is also very old - you're better off building ILC from source.

The best way to play with ILC is by following the instructions here: https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler

[2016-08-12 19:13] jkotas commented on #1642
Unimplemented feature (https://github.com/dotnet/corert/issues/158).

Yes, RyuJit codegen is more mature.

We should be producing enough debug information to make stacktraces work in native compiled C# code today. If the stacktraces are missing for native compiled C# code, I would be curious to know about it.

Thank you for your kind words!

[2016-08-13 19:59] christianscheuer commented on #1642
Ok, I will see if I can narrow down which part of the code produces the problem. It will probably be a lot of trial and error, but hope to be able to provide some usable feedback.

[2016-08-16 12:34] fanoI opened #1657 "CoreRt does not compile on Ubuntu 16.04"
I've downlaoded with GIT the last version of CoreRt and compiled with:
[code]

The compilation ends with these errors:

[code]

[2016-08-17 00:31] jkotas commented on #1657
Thank you for filling the issue. It looks like we will need to update CLI tools to get Ubuntu 16.04 support. It is a non-trivial - requires number of infrastructure changes.

[2016-08-21 18:48] DemiMarie opened #1683 "Tail calls"
Needed for F#.  Must work cross-assembly and cross-platform.  IL2CPP needs to transform code that uses tail calls so that (at least on GCC/Clang) sibling call optimization takes place.  RyuJIT can use an EBP frame and double-compilation of tail-called methods.

[2016-08-21 19:42] jamesqo opened #1684 "Comparer<T?>.Default.Compare will not work in CoreRT"
For CoreCLR the `Comparer.Default` implementation is specialized for nullables so a simple nullable compare does not end up with virt method calls to `Comparer<T>.Default.Compare`. However, it looks like this is not done in the CoreRT version of `Comparer`, and since nullables do not implement `IComparable` it looks like they will reach this point: https://github.com/dotnet/corefx/blob/master/src/

[2016-08-21 20:24] MichalStrehovsky commented on #1684
On .NET Native for UWP, `Comparer<T>.Default` uses deep magic that treats the call to `get_Default` as a codegen intrinsic. For nullable types that implement `IEquatable`, we actually end up here: https://github.com/dotnet/corert/blob/master/src/System.Private.Reflection.Execution/src/Internal/IntrinsicSupport/ComparerHelpers.cs#L184

#763 tracks implementing this deep magic in the CoreRT compiler

[2016-08-21 20:36] jamesqo commented on #1684
@MichalStrehovsky I did not realize that-- thank you for clarifying.

[2016-08-21 20:36] #1684 closed

[2016-08-22 02:33] AtsushiKan opened #1688 "FieldInfo.SetValue(object, object) passes null rather than Type.DefaultBinder."
Fixing this is blocked by a toolchain issue - opening issue for tracking.

[2016-08-22 11:31] christianscheuer opened #1690 "Finalizer thread throws unhandled native exception on OSX"
I am getting the following native error in my console output when running my natively compiled application on OSX.
[code]

cptsbackend is the name of my assembly.
I am on the current master branch of corert with a debug build.
When I remove finalizers in my assembly, there are no problems.

Here is the stacktrace when debugged with lldb:
[code]

This seems to come from:
https://github.com/dotnet/c

[2016-08-22 12:11] jacano opened #1691 "TypeSystemTests fails on Spanish culture systems"
Hi there,
I got the following error while building debug version of **corert** project on my Windows machine.
I think it has to do with the fact that I'm running Windows with the system locale in **Spanish** (decimal symbol here is "," instead of ".")

Here is the failure test detail stripped from the "**build.cmd Debug**" console output:

[code]
I'm also providing my systeminfo.exe output:

[code

[2016-08-22 13:02] christianscheuer commented on #1690
I created a workaround for this:
https://github.com/dotnet/corert/pull/1693

[2016-08-22 14:21] christianscheuer commented on #1690
Closing since a workaround has been merged and that the todo implementations in Platform.Unix.cpp is probably tracked better elsewhere.

[2016-08-22 14:21] #1690 closed

[2016-08-22 14:36] christianscheuer commented on #642
Hi @janvorli.
Is there any progress on this, or would it be possible to work around the hijacking of threads? Right now a process on OSX/Unix will crash once the GC starts to suspend the threads, since it eventually calls PalHijack.

[2016-08-22 15:00] #1691 closed

[2016-08-22 15:26] jkotas commented on #1691
@jacano Thank you for reporting this issue

[2016-08-22 15:38] jacano commented on #1691
@jkotas My pleasure, keep up the good work!!

[2016-08-23 14:01] christianscheuer opened #1704 "Console application fails when not run through Terminal on OSX"
Natively compiled application works fine when run through Terminal, but fails here when invoked from any other process (through NSTask).
It has no effect whether or not StandardInput/output/error is redirected or not.

Might this it be an environment issue, or are there made any assumptions in the bootstrapping code which makes this fail?

This is the stacktrace from lldb:

[code]

[2016-08-23 23:39] christianscheuer commented on #1704
This was due to a security setting in OSX - I apologize for the noise.

[2016-08-23 23:39] #1704 closed

[2016-08-23 23:51] jkotas commented on #1704
@christianscheuer which security setting it was?

[2016-08-24 08:02] christianscheuer commented on #1704
@jkotas, the app is using the Accessibility API, but only Terminal had been approved access in the System Preferences -> Security & Privacy -> Accessibility tab - so my mistake.

Interestingly, there is a number of exceptions I have which still make the application crash with a native exception rather than get handled by normal managed exception handlers as they would in CoreCLR. This was what con

[2016-08-24 13:32] jkotas opened #1716 "rethrow test crashes on Unix"
The recently added simple rethrow test is crashing on Unix (tested on Mac) at https://github.com/dotnet/corert/blob/master/tests/src/Simple/Exceptions/Exceptions.cs#L90.

[2016-08-24 13:35] jkotas commented on #1716
@janvorli Could you please take a look when you get a chance? We seem to be treating the funclet as main method body, and get lost because of the funclet does not the exception handling data attached to it.

[2016-08-24 13:36] jkotas commented on #1704
We have known bugs in exception handling on Unix (just filled one https://github.com/dotnet/corert/issues/1716).

[2016-08-25 04:16] jkotas commented on #789
Implemeted by https://github.com/dotnet/llilc/pull/1057

[2016-08-25 04:16] #789 closed

[2016-08-25 04:22] jkotas commented on #1683
cc @janvorli

[2016-08-25 04:25] jkotas commented on #1646
I have deleted the old release to avoid confusion.

[2016-08-25 04:25] #1646 closed

[2016-08-25 21:54] justinvp opened #1727 "String literals mangling issue"
From [comment](https://github.com/dotnet/corert/pull/1726#issuecomment-242524701):

[2016-08-25 21:57] jkotas commented on #1727
@A-And Could you please take a look when you get a chance? It should be easy fix.

[2016-08-26 04:08] jamesqo opened #1730 "Is there room for an IsAscii flag on String?"
In CoreCLR String has a method `IsAscii()` which returns a lazily-initialized boolean indicating whether the string is completely ASCII or not. This flag is stored in the object header (preceding the method table): https://github.com/dotnet/coreclr/blob/37f4a5a473ff0ee43536b8aa12eb25238a85aed4/src/vm/object.h#L1126-L1139

It is quite useful in a number of places for taking the 'fast path'. For exa

[2016-08-26 04:43] jkotas commented on #1730
We do not believe that the IsAscii and similar bits stored on object header in CoreCLR are the best design. It is intentional that they do not exist in CoreRT.

[2016-08-26 15:36] newsyue opened #1731 "Help me!!"
newsyue@ubuntu1404-newsyue:~/dotnet/test$ cat project.json
{
  "version": "1.0.0-*",
  "compilationOptions": {
    "emitEntryPoint": true
  },
  "dependencies": {
    "Microsoft.NETCore.App": {
      "type": "platform",
      "version": "1.0.0"
    }
  },
  "frameworks": {
    "netcoreapp1.0": {}
  },
    "runtimes": {
        "ubuntu.14.04-x64": { }
    }
}
newsyue@ubuntu1404-newsyue:~/dotnet/tes

[2016-08-26 16:12] jamesqo commented on #1730
Well, that's unfortunate. Any idea if it would be practical to implement similar functionality in this repo, e.g. a `static Dictionary<WeakReference<string>, bool?>` that maps a string to whether it was initialized/doesn't cause memory leaks?

[2016-08-26 16:15] jkotas commented on #1730
The cost you pay for solution like this would be orders of magnitudes higher than the benefit.

[2016-08-26 16:20] jamesqo commented on #1730
Yeah, probably. Can't come up with any other good ideas though...

/cc @benaadams

[2016-08-26 16:42] benaadams commented on #1730
Don't know how it would work in AoT as its a completely different beast (or even coreclr) but in library land to check you can loop with:
[code]
Depends what you are doing as to whether it will save you anything though

[2016-08-26 16:57] jkotas commented on #1727
Fixed by #1728

[2016-08-26 16:57] #1727 closed

[2016-08-26 19:34] MichalStrehovsky commented on #213
Fixed by #1732.

[2016-08-26 19:39] MichalStrehovsky commented on #213
Only 50% fixed :)

[2016-08-26 20:35] jkotas commented on #1731
This repo is still on a pre-release version of dotnet tool that needs different package versions.

Can you please try project.json from one of our test cases, like https://github.com/dotnet/corert/blob/master/tests/src/Simple/Hello/project.json?

[2016-08-27 08:22] newsyue commented on #1731
@jkotas
## Test build tests/src/Simple/Hello is also wrong

newsyue@ubuntu1404-newsyue:~/dotnet/corert/tests/src/Simple/Hello$ cat project.json
{
    "version": "1.0.0-*",
    "compilationOptions": {
        "emitEntryPoint": true
    },

    "dependencies": {
        "NETStandard.Library": "1.0.0-rc2-23819"
    },

    "frameworks": {
        "dnxcore50": { }
    },

    "runtimes": {
        "wi

[2016-08-27 16:43] jamesqo opened #1736 "Bug: Comparer/EqualityComparer should override Equals(object) and GetHashCode()"
In [CoreCLR](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/Generic/Comparer.cs#L131-L136) the `Equals(object)` and `GetHashCode()` methods are overridden on Comparer/EqualityComparer.Default, to determine the equality of the comparers themselves. This is not done in CoreRT, which is a behavior mismatch between the runtimes.

(This is typically not needed since o

[2016-08-29 16:35] AtsushiKan opened #1737 "InteropExtensions should be in a private namespace."
I just got a nasty surprise when I imported "using System.Runtime.InteropServices" into a file in Reflection.Core and got an unexpected build error because this <a href="https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Runtime/InteropServices/InteropExtensions.cs#L19">publically-defined extension class</a>
in Corelib was injecting dozens of non-standard extension

[2016-08-29 17:52] jamesqo commented on #906
@jkotas I think the `String.ObjectModel.cs` idea is good, but that only accounts for a couple hundred lines when the String class itself is 3000+ lines.

What would you think of doing something similar to [Linq](https://github.com/dotnet/corefx/tree/master/src/System.Linq/src/System/Linq), where related functions are grouped into the same file? Then we could have something like

[code]

and each f

[2016-08-29 18:23] jamesqo opened #1739 "String.Join(string, string[]) on CoreRT uses an intermediary StringBuilder"
Compare the [CoreCLR version](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/String.cs#L256) with the [CoreRT version](https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/String.cs#L457). The first has no additional allocations since `UnSafeCharBuffer` is a struct, while `StringBuilderCache.Acquire` does a thread-static field access and probabl

[2016-08-29 18:40] jkotas commented on #1739
Unifying the implementation is fine, but the unified implementation should preserve the defense-in-depth against buffer overruns - e.g. by using `FillStringChecked` that is used in other places.

[2016-08-29 19:02] jkotas commented on #906
I guess that the answer to this depends on personal preference about maximum reasonable .cs file size. @jamesqo What is the maximum reasonable .cs file size for you?

[2016-08-29 19:56] jamesqo commented on #906
@jkotas I think a good file size would be about 700-800 lines per file. After that it starts getting a little unwieldy. This would separate the class out into 4/5 different files, which won't overly pollute the directory with `String` files.

[2016-08-29 21:24] jamesqo commented on #906
I have come up with a plan after much pondering:

- `String.Manipulation.cs` - contains methods for string manipulation (i.e. `Trim`, `Insert`, `Concat`)
- `String.Comparison.cs` - contains methods for string comparison (`Compare`, `Equals`, `GetHashCode`, `StartsWith`)
- `String.Searching.cs` - contains methods for searching the string (`Contains`, `IndexOf`, `IndexOfAny`)
- `String.cs` - miscell

[2016-08-30 01:36] jamesqo commented on #1739
@jkotas Under what circumstances should `FillStringChecked` be used? Why do some places use it and others use `wstrcpy` directly?

[2016-08-30 01:52] jamesqo opened #1743 "OrdinalCompareEqualLengthStrings should be named EqualsHelper"
It has already been renamed to `EqualsHelper` in CoreCLR, but not here. I am opening this issue since I am currently in the middle of reorganizing String and do not want to introduce too many changes in the same PR.

[2016-08-30 02:41] jkotas commented on #1739
We want to have defense-in-depth that double checks the buffer bounds for any kind of non-trivial unsafe buffer manipulations. Of course, the definition of non-trivial is subjective - but the code in Join method is what we would generally consider non-trivial.

[2016-08-30 02:49] jkotas commented on #906
Looks good to me. The PR should just move stuff around, with no other changes. Thanks.

[2016-08-30 16:59] #906 closed

[2016-08-31 14:22] AtsushiKan opened #1753 "[Port] RawDefaultValue and GetRawDefaultValue()"
- System.Reflection.Runtime.ParameterInfos.RuntimeParameterInfo::RawDefaultValue.get()
- System.Reflection.Runtime.PropertyInfos.RuntimePropertyInfo::GetRawConstantValue()
- System.Reflection.Runtime.FieldInfos.RuntimeFieldInfo::GetRawConstantValue()

[2016-08-31 14:24] AtsushiKan opened #1754 "[Port] Enum-related apis on RuntimeTypeInfo."
- System.Reflection.Runtime.TypeInfos.RuntimeTypeInfo::GetEnumName(object)
- System.Reflection.Runtime.TypeInfos.RuntimeTypeInfo::GetEnumNames()
- System.Reflection.Runtime.TypeInfos.RuntimeTypeInfo::IsEnumDefined(object)
- System.Reflection.Runtime.TypeInfos.RuntimeTypeInfo::GetEnumUnderlyingType()
- System.Reflection.Runtime.TypeInfos.RuntimeTypeInfo::GetEnumValues()

Each method on System.Type

[2016-08-31 14:25] AtsushiKan opened #1755 "[Port] Enum-related apis on System.Type"
- System.Type::Type.GetEnumName(object)
- System.Type::Type.GetEnumNames()
- System.Type::Type.IsEnumDefined(object)

These use metadata-only reflection to operate on user-defined types (and thus are quite slow.) RuntimeTypeInfo overrides all these methods with those that know about the runtime's enum representation    so these are dead code unless/until we expose user extensibility.

Implementing

[2016-08-31 14:26] AtsushiKan opened #1756 "[Port] EventInfo.AddEventHandler() and RemoveEventHandler()"
- System.Reflection.EventInfo::AddEventHandler(object, Delegate)
- System.Reflection.EventInfo::RemoveEventHandler(object, Delegate)

This is mostly a straightforward code-lift from CoreClr and wouldn't even merit an issue except for the slightly tricky business of migrating EventRegistrationToken from S.P.Interop to S.P.Corelib without breaking the non-open builds.

[2016-08-31 14:27] AtsushiKan opened #1757 "[Port] ToString() on CustomAttributeTypedArgument and CustomAttributeNamedArgument"
- System.Reflection.CustomAttributeNamedArgument::ToString()
- System.Reflection.CustomAttributeTypedArgument::CustomAttributeTypedArgument.ToString()

On the surface, it looks like you could copy the CoreClr code directly over. The problem is that this algorithm invokes code that could throw MissingMetadataExceptions on NetNative. The cheap way out is to wrap the thing in a try-catch, but we gene

[2016-08-31 14:28] AtsushiKan opened #1758 "[Port] System.Reflection.ParameterInfo::ToString()"
On CoreClr, RuntimeParameterInfo.ToString() inherits ParameterInfo.ToString().

On NetNative, RuntimeParameterInfo.ToString() implements what ParameterInfo.ToString() should do.
Unfortunately, that code is totally tied to RuntimeTypeInfo due to the fact that it has to be on guard for
MissingMetadataExceptions. Better just to port CoreClr's code over and live with the duplication for a ToString() m

[2016-08-31 14:29] AtsushiKan opened #1759 "[Port] System.Reflection.Runtime.CustomAttributes.RuntimeCustomAttributeData::Constructor.get()"
- System.Reflection.Runtime.CustomAttributes.RuntimeCustomAttributeData::Constructor.get()

We have the necessary N metadata but we don't actually have code to resolve it to a RuntimeConstructorInfo (we never needed it before.) So we need to write that.

[2016-08-31 14:30] AtsushiKan opened #1760 "[Port] ReflectedType, DefaultBinder, BindingFlag apis."
-  System.Reflection.Runtime.EventInfos.RuntimeEventInfo::ReflectedType.get()
-  System.Reflection.Runtime.FieldInfos.RuntimeFieldInfo::ReflectedType.get()
-  System.Reflection.Runtime.MethodInfos.RuntimeConstructorInfo::ReflectedType.get()
-  System.Reflection.Runtime.MethodInfos.RuntimeMethodInfo::ReflectedType.get()
-  System.Reflection.Runtime.TypeInfos.RuntimeTypeInfo::ReflectedType.get()
-

[2016-08-31 14:30] AtsushiKan opened #1761 "[Port] Partial Trust queriers for Reflection Types (FieldInfo.IsSecurityCritical, FieldInfo.IsSecuritySafeCritical, FieldInfo.IsSecurityTransparent)"
-  System.Reflection.FieldInfo::FieldInfo.IsSecurityCritical.get()
-  System.Reflection.FieldInfo::FieldInfo.IsSecuritySafeCritical.get()
-  System.Reflection.FieldInfo::FieldInfo.IsSecurityTransparent.get()
-  System.Reflection.Runtime.FieldInfos.RuntimeFieldInfo::IsSecurityCritical.get()
-  System.Reflection.Runtime.FieldInfos.RuntimeFieldInfo::IsSecuritySafeCritical.get()
-  System.Reflection.R

[2016-08-31 14:31] AtsushiKan opened #1762 "[Port] Custom Serialization methods for Reflection types."
- System.Exception::.ctor(SerializationInfo, StreamingContext)
  - System.Exception::GetObjectData(SerializationInfo, StreamingContext)
  - System.Reflection.AssemblyName::GetObjectData(SerializationInfo, StreamingContext)
  - System.Reflection.AssemblyName::OnDeserialization(object)
  - System.Reflection.Missing::Missing.System.Runtime.Serialization.ISerializable.GetObjectData(SerializationInfo,

[2016-08-31 14:32] AtsushiKan opened #1763 "[Port] System.Reflection.Runtime.TypeInfos.RuntimeTypeInfo::IsEquivalentTo(Type)"
I can't actually find any evidence this api ever did anything other than "this == other".

[2016-08-31 14:32] AtsushiKan opened #1764 "[Port] Type.GetTypeFromCLSID() and Type.GetTypeFromProgID()"
- System.Type::Type.GetTypeFromCLSID(Guid, string, bool)
- System.Type::Type.GetTypeFromProgID(string, string, bool)

[2016-08-31 14:33] AtsushiKan opened #1765 "[Port] CustomModifier retrievers on Reflection"
- System.Reflection.Runtime.ParameterInfos.RuntimeParameterInfo::GetOptionalCustomModifiers()
- System.Reflection.Runtime.ParameterInfos.RuntimeParameterInfo::GetRequiredCustomModifiers()
- System.Reflection.Runtime.PropertyInfos.RuntimePropertyInfo::GetOptionalCustomModifiers()
- System.Reflection.Runtime.PropertyInfos.RuntimePropertyInfo::GetRequiredCustomModifiers()
- System.Reflection.Runtime.

[2016-08-31 14:34] AtsushiKan opened #1766 "[Port] Module apis that retrieve global fields and methods."
- System.Reflection.Runtime.Modules.RuntimeModule::GetField(string, BindingFlags)
- System.Reflection.Runtime.Modules.RuntimeModule::GetFields(BindingFlags)
- System.Reflection.Runtime.Modules.RuntimeModule::GetMethods(BindingFlags)
- System.Reflection.Runtime.Modules.RuntimeModule::GetMethodImpl(string, BindingFlags, Binder, CallingConventions, Type[], ParameterModifier[])

These retrieve global

[2016-08-31 14:34] AtsushiKan opened #1767 "[Port] ECMA IL inspection apis"
- System.Reflection.Runtime.MethodInfos.RuntimeConstructorInfo::GetMethodBody()
- System.Reflection.Runtime.MethodInfos.RuntimeMethodInfo::GetMethodBody()

[2016-08-31 14:35] AtsushiKan opened #1768 "[Port] Module.Resolve apis"
Leave a comment
-  System.Reflection.Runtime.Modules.RuntimeModule::ResolveField(int, Type[], Type[])
-  System.Reflection.Runtime.Modules.RuntimeModule::ResolveMember(int, Type[], Type[])
-  System.Reflection.Runtime.Modules.RuntimeModule::ResolveMethod(int, Type[], Type[])
-  System.Reflection.Runtime.Modules.RuntimeModule::ResolveSignature(int)
-  System.Reflection.Runtime.Modules.RuntimeModule

[2016-08-31 14:36] AtsushiKan opened #1769 "[Port] System.Reflection.Runtime.EventInfos.RuntimeEventInfo::GetOtherMethods(bool)"
- System.Reflection.Runtime.EventInfos.RuntimeEventInfo::GetOtherMethods(bool)

Event associated methods that aren't Add, Remove or Raise.

[2016-08-31 14:37] AtsushiKan opened #1770 "[Port] System.Reflection.Runtime.Assemblies::EntryPoint.get()"
- System.Reflection.Runtime.Assemblies::EntryPoint.get()

[2016-08-31 14:38] AtsushiKan opened #1771 "[Port] RuntimeMethodHandle/FieldHandles"
- System.Reflection.Runtime.FieldInfos.RuntimeFieldInfo::FieldHandle.get()
- System.Reflection.Runtime.MethodInfos.RuntimeMethodInfo::MethodHandle.get()
- System.Reflection.Runtime.MethodInfos.RuntimeConstructorInfo::MethodHandle.get()

We have just enough under-the-hood support now for this to get Linq Expressions support going.

[2016-08-31 14:38] AtsushiKan opened #1772 "[Port] System.Reflection.Assembly::GetCallingAssembly()"
- System.Reflection.Assembly::GetCallingAssembly()

[2016-08-31 14:40] AtsushiKan opened #1773 "[Port] System.Reflection.Assembly::GetEntryAssembly()"
- System.Reflection.Assembly::GetEntryAssembly()

[2016-08-31 14:40] AtsushiKan opened #1774 "[Port] System.Reflection.Assembly::GetExecutingAssembly()"
- System.Reflection.Assembly::GetExecutingAssembly()

(partial support for this exists if the assembly refers to this api through "mscorlib".)

[2016-08-31 14:41] AtsushiKan opened #1775 "[Port] System.Reflection.MethodBase::GetCurrentMethod()"
- System.Reflection.MethodBase::GetCurrentMethod()

[2016-08-31 14:41] AtsushiKan opened #1776 "[Port] ReflectionOnly apis"
-  System.Reflection.Assembly::ReflectionOnlyLoad(byte[])
-  System.Reflection.Assembly::ReflectionOnlyLoad(string)
-  System.Reflection.Assembly::ReflectionOnlyLoadFrom(string)
-  System.Type::Type.ReflectionOnlyGetType(string, bool, bool)

[2016-08-31 14:42] AtsushiKan opened #1777 "[Port] Loader-related methods in Reflection."
-  System.Reflection.Runtime.Assemblies::CodeBase.get()
-  System.Reflection.Runtime.Assemblies::GetSatelliteAssembly(CultureInfo)
-  System.Reflection.Runtime.Assemblies::GetSatelliteAssembly(CultureInfo, Version)
- System.Reflection.Assembly::Load(byte[], byte[])
-  System.Reflection.Runtime.Assemblies::Location.get()
-  System.Reflection.Runtime.Assemblies::ImageRuntimeVersion.get()
-  System.R

[2016-08-31 19:01] davidwrighton commented on #1763
When type equivalence is enabled, this allows type equivalent things to be compare for equivalence as opposed to equality. (Type equivalent types return true for IsEquivalentTo but false to Equals)

[2016-08-31 19:02] davidwrighton commented on #1763
Until we add support for TypeEquivalence, this api should exactly match this == other.

[2016-09-01 09:00] janvorli commented on #642
@christianscheuer I am sorry for the late response, I had vacation for the last two weeks. I am glad @jkotas has provided a quick workaround for that. I have worked on implementing the hijacking in the past, but then I've realized that there are some other necessary changes that needed to be done first in order to make the hijacking work. Also, the GC was not working at that point, so there was no

[2016-09-01 17:07] #1753 closed

[2016-09-01 17:08] #1754 closed

[2016-09-01 17:08] #1763 closed

[2016-09-01 17:08] #1759 closed

[2016-09-01 18:09] MichalStrehovsky opened #1782 "Metadata format extensions to support new APIs"
We need to extend the .NET Native metadata format to support the new reflection APIs in .NET Core 2.0:

- Way to identify the `<Module>` type. To start, add a `TypeDefinition`-typed field on `ScopeDefinition` that points to it. Eventually, this will go to the record that specifies module. Q: Do we want to duplicate this `TypeDefinition` as a member of the root namespace for convenience? A: Probabl

[2016-09-01 20:33] AtsushiKan commented on #1777
Adding

- System.Type::GetType(string, Func<AssemblyName, Assembly>, Func<Assembly, string, bool, Type>, bool, bool)

to this list.

[2016-09-01 20:34] AtsushiKan opened #1785 "[Port] System.Activator::CreateInstance(Type, bool)"

[2016-09-01 22:12] AtsushiKan opened #1787 "Type.GetType() not applying default assemblies to type arguments."
The following passes on desktop but not on N, due to the non-assembly-qualified "System.Int32" buried inside the type name.

[code]

[2016-09-01 22:16] AtsushiKan opened #1788 "[Port] System.Type::GetType(string, Func, Func, bool, bool)"
•System.Type::GetType(string, Func, Func, bool, bool)

This work effective is about accepting 3rd party type and assembly resolvers and plumbing them into System.Reflection.Runtime.TypeParsing\TypeName.cs

(Reminder to myself: and since that'll mean touching that code again, stop being a slacker and fix this bug (https://github.com/dotnet/corert/issues/1787) that's been sitting around in TFS forev

[2016-09-01 22:21] AtsushiKan commented on #1761
And more of them (👎)

- System.Reflection.Runtime.TypeInfos.RuntimeTypeInfo::IsSecurityCritical.get()
- System.Reflection.Runtime.TypeInfos.RuntimeTypeInfo::IsSecuritySafeCritical.get()
- System.Reflection.Runtime.TypeInfos.RuntimeTypeInfo::IsSecurityTransparent.get()

[2016-09-01 22:26] jkotas commented on #1761
All these should just return constant false or true that is close-enough approximation of the fact that corert is full trust environment.

[2016-09-02 10:10] christianscheuer commented on #642
Hi @janvorli. Thank you for getting back to me, and yes the workaround definitely helps a lot. Looking forward to seeing how you will implement this, given the limitations of the Unix platform wrt. thread suspension.

[2016-09-02 21:19] A-And opened #1793 "[CPP] 0 Byte Emission"
If a node has a reloc to its related type, consequent byte data is incorrectly emitted.

[2016-09-02 21:45] #1793 closed

[2016-09-02 22:46] danmosemsft commented on #1755
We believe we need this near term, but user extensibility side can be deferred.

[2016-09-02 22:46] danmosemsft commented on #1756
No brainer.

[2016-09-02 22:46] danmosemsft commented on #1757
Diagnostics only - this can be deferred.

[2016-09-02 22:47] danmosemsft commented on #1758
Diagnostics only - this can be deferred.

[2016-09-02 22:48] danmosemsft commented on #1760
Port default binder. Custom binder can wait. Binding flags need to work.
3-4 weeks work depending on perf efforts.

[2016-09-02 22:48] danmosemsft commented on #1761
Return "is critical" throughout and we are done.

[2016-09-02 22:49] danmosemsft commented on #1762
Talk to @stephentoub to check he wasn't planning on doing these. Hard to say whether existing code actually does this. Jan believes at least some code does.
Probably not near term.

[2016-09-02 22:50] danmosemsft commented on #1764
Irrelevant to porting-from-Android effort as it's interop. Long term, we would need for console apps.

[2016-09-02 22:50] danmosemsft commented on #1765
Cases like "is that field volatile?". Low priority, long term.

[2016-09-02 22:50] danmosemsft commented on #1766
Unlikely case. Medium term.

[2016-09-02 22:51] danmosemsft commented on #1767
Low priority. Long term. Not for full AOT.

[2016-09-02 22:51] danmosemsft commented on #1768
Long term. Not for full AOT.

[2016-09-02 22:51] danmosemsft commented on #1769
Low priority. Long term.

[2016-09-02 22:51] danmosemsft commented on #1770
Necessary. Near term work.

[2016-09-02 22:52] danmosemsft commented on #1771
@davidwrighton says the information is already there in both directions. Should just do this, near term.

[2016-09-02 22:55] danmosemsft commented on #1772
Unclear how to implement this efficiently; not always correct on Desktop. Low priority.

[2016-09-02 22:56] danmosemsft commented on #1773
Straightforward, should just do this. Need to build intrinsics. Cost high - several people.

[2016-09-02 22:56] danmosemsft commented on #1774
Straightforward, should just do this. Need to build intrinsics. Cost high - several people.

[2016-09-02 22:56] danmosemsft commented on #1775
Straightforward, should just do this. Need to build intrinsics.

[2016-09-02 22:56] danmosemsft commented on #1776
Wil not be supported.

[2016-09-02 22:57] danmosemsft commented on #1777
@danmosemsft look at usage. Some must be PNSE due to being AOT.

[2016-09-02 23:04] danmosemsft commented on #1777
@AtsushiKan Here's the usage (usage in highest using bucket of apps). Usage is likely around gathering diagnostic info.

20% System.Reflection.Runtime.Assembly::Location.get()
8% System.Reflection.Runtime.Assembly::CodeBase.get()
1% System.Reflection.Runtime.Assembly::GetReferencedAssemblies()
0% System.Reflection.Runtime.Assembly::GetSatelliteAssembly(CultureInfo)
0% System.Reflection.Runtime.Ass

[2016-09-05 16:14] #1716 closed

[2016-09-06 22:30] #1787 closed

[2016-09-06 22:30] #1788 closed

[2016-09-07 09:07] hughbe opened #1805 "Convert.ChangeType throws inconsistent type on Native"
In System.ComponentModel tests [here](https://github.com/hughbe/corefx/blob/57ba4af3c45049024496d09aca87ca652518dc5d/src/System.ComponentModel.Annotations/tests/CustomValidationAttributeTests.cs), there is the following comment

[code]

Tagging @stephentoub who suggested that there should be an issue for this

[2016-09-07 17:18] joshfree commented on #1777
@DnlHarvey can you please pick this up after AppDomain (https://github.com/dotnet/corefx/issues/9327)?

/cc @dotnet/corert-contrib as FYI

[2016-09-07 20:38] #1756 closed

[2016-09-07 20:38] #1761 closed

[2016-09-07 20:38] #1776 closed

[2016-09-07 23:00] SedarG opened #1811 "Add System.Runtime.Loader.AssemblyLoadContext"
This API is consumed by System.Reflection.AssemblyNameProxy (exposed by System.Runtime).

[2016-09-08 23:07] SedarG commented on #1688
The toolchain fix is checked in

[2016-09-09 00:03] #1688 closed

[2016-09-09 17:24] A-And opened #1826 "EETypeOptionalFieldsBuilder and node mutation"
When emitting an InterfaceDispatchMapNode for the first time the creation callback

`  dispatchMap.SetDispatchMapIndex(this, DispatchMapTable.IndexOfEmbeddedObject(indirectionNode));`

changes the value of the EETypeOptionalFieldsBuilder associated with an EETypeOptionalFieldsNode. This can lead to a situation where there are two different OptionalFieldNode objects with the same field values.
Beca

[2016-09-11 02:24] benaadams opened #1832 "Throwhelper for generic types?"
A lot of the generic types throw directly which will cause code duplication on generation.

Should there be a ThrowHelper class similar to coreclr?

[2016-09-11 02:35] jkotas commented on #1832
We want to optimize this pattern by outlining it in the compiler. It is how the shipping .NET Native for UWP toolchain does it. It covers both generic and non-generic cases, and it can be done otherwise more efficiently. We have intentionally removed all uses of ThrowHelper in CoreRT because of it made this optimization less efficient.

[2016-09-11 02:45] benaadams commented on #1832
Ahh... as it is only AoT and there is no runtime compile.

Will close.

[2016-09-11 02:45] #1832 closed

[2016-09-11 03:13] jkotas commented on #1832
BTW: This optimization is not AoT specific. It can be done at IL level just fine, either using [Cecil](https://github.com/jbevain/cecil) or [CCI](https://github.com/Microsoft/cci) IL rewriter. Or maybe Roslyn will support pluggable optimizations steps one days; same was as it supports pluggable analyzers today. I believe that there is a lot of opportunities for IL level optimizations: from low lev

[2016-09-12 16:49] #1805 closed

[2016-09-13 21:54] AtsushiKan opened #1843 "Type.GetMethod(name) disambiguation bug."
If Type.GetMethod(name) finds two methods with the same name, it's supposed to return the most derived one *as long as all matching methods have the same signature.* Right now, it's neglecting to compare the signatures.

[2016-09-16 22:56] AtsushiKan opened #1861 "[Port] AssemblyName.ReferenceMatchesDefinition(AssemblyName, AssemblyName)"
This just got added to CoreClr. According to MSDN (and my own experiments)

  The comparison depends only on the simple assembly name. It ignores version, culture, and public key   token.

Wow, what'll we build first with such awesome apis...

[2016-09-16 23:38] jkotas commented on #1861
Could you please switch the implementation in CoreCLR to the same naïve algorithm? I do not think that the current CoreCLR implementation behaves this way in all cases.

cc @sepidehMS

[2016-09-17 15:57] #1579 closed

[2016-09-17 16:06] #913 closed

[2016-09-17 16:22] #701 closed

[2016-09-17 16:47] jkotas commented on #874
Fixed by https://github.com/dotnet/corert/pull/1648

[2016-09-17 16:47] #874 closed

[2016-09-17 16:51] jkotas commented on #520
Fixed a while ago

[2016-09-17 16:51] #520 closed

[2016-09-17 16:53] jkotas commented on #1568
Tracked by https://github.com/dotnet/corert/issues/309

[2016-09-17 16:53] #1568 closed

[2016-09-17 17:14] jkotas commented on #161
Fixed a while ago.

[2016-09-17 17:14] #161 closed

[2016-09-17 17:17] #1730 closed

[2016-09-17 17:22] jkotas commented on #1442
`dotnet-compile-native` is going away. Replacement is tracked by other issues.

[2016-09-17 17:22] #1442 closed

[2016-09-18 19:22] christianscheuer opened #1864 "NullRef in MethodCodeNode::GetStaticDependencies"
When compiling a project, I am hitting a NullReferenceException in this line:
https://github.com/dotnet/corert/blob/3e7647a23f9fc8002523b0c6cea65dc4353fbf47/src/ILCompiler.Compiler/src/Compiler/DependencyAnalysis/ObjectNode.cs#L91

Doing a little debugging, it seems that the ObjectNode in question is a MethodCodeNode, whose _methodCode field is null when called, hence the nullref.

It seems to be

[2016-09-18 20:07] christianscheuer opened #1865 "foreach on null String array gives Segmentation Fault 11 on OSX"
Code like this gives me a Segmentation Fault 11 on OSX instead of the expected NullReferenceException.

[code]

[2016-09-19 09:15] jonstoneman commented on #1442
What is the replacement @jkotas ?

[2016-09-19 11:52] janvorli commented on #1865
I have tried to add that piece of code to the tests/src/Simple/Exceptions/Exceptions.cs into a try / catch for NullReferenceException and it has worked properly - catching the NullReferenceException.
However, when the exception is unhandled, I get the issue you have mentioned.

[2016-09-19 12:46] janvorli commented on #1865
And the same unhandled case fails on Windows too, although in a different way. I got assert in `StackFrameIterator::NextInternal`:
`ASSERT(m_pInstance->FindCodeManagerByAddress(m_ControlPC));`
The m_ControlPC points to a code inside the wmain function, which doesn't belong to any of the registered modules.

[2016-09-19 13:23] janvorli opened #1867 "Unhandled exceptions cause assert / crash Unix"
On Windows, both software and hardware unhandled exception causes assert in `StackFrameIterator::NextInternal`:
`ASSERT(m_pInstance->FindCodeManagerByAddress(m_ControlPC));`
The `m_ControlPC` points to a code inside the `wmain` function, which doesn't belong to any of the registered modules.
On Unix, it ends up in an infinite loop in EH.DispatchEx calling RhpSfiNext and getting stuck at `Exception

[2016-09-19 13:23] janvorli commented on #1865
I've created #1867 to track that

[2016-09-19 13:42] jkotas commented on #1442
`dotnet build` is going to be based on msbuild - more details https://blogs.msdn.microsoft.com/dotnet/2016/05/23/changes-to-project-json/. `dotnet-compile-native` will be replaces by msbuild `.targets` file. I am working on initial version here: https://github.com/jkotas/corert/blob/cli-update/src/BuildIntegration/Microsoft.NETCore.Native.targets

[2016-09-19 13:50] jkotas commented on #1867
This bug is caused by this TODO in `*CodeManager::UnwindStackFrame`:

[code]

[2016-09-19 18:58] #1843 closed

[2016-09-19 19:43] AtsushiKan opened #1871 "[Port] Custom Binder support for SetField()/Invoke()"
Affected apis:
-  FieldInfo.SetValue(object, object, BindingFlags, Binder, CultureInfo)
-  PropertyInfo.SetValue(object, object, BindingFlags, Binder, object[], CultureInfo)
-  MethodBase.Invoke(object, BindingFlags, Binder, object[], CultureInfo)
-  ConstructorInfo.Invoke(BindingFlags, Binder, object[], CultureInfo)
-  Type.InvokeMember() (all three overloads)

For November, these apis will be fu

[2016-09-19 19:45] AtsushiKan opened #1872 "[Port] Type.InvokeMember() for non-RCW's"
This part is expected for November as it ports over quite easily now.

(However, as per https://github.com/dotnet/corert/issues/1871, passing in custom binders will not be supported (simply because the Invoke() and SetValue() members it calls under the hood won't support them.))

[2016-09-19 19:49] AtsushiKan opened #1873 "[Port] Type.InvokeMember() for RCW's"
Type.InvokeMember() when passed in an RCW invokes a completely different code path which marshals the arguments into Variant's and invoke IDispatch::Invoke() or IDispatchEx::Invoke(). Since this code path is entirely written in C++, this is more of a feature bringup than a port. Thankfully, the Marshal class already contains working apis to convert Variants to managed objects and vice-versa, or el

[2016-09-19 19:50] AtsushiKan commented on #1760
Closing this now and opening separate issues for the remaining parts of this:

https://github.com/dotnet/corert/issues/1871
https://github.com/dotnet/corert/issues/1872
https://github.com/dotnet/corert/issues/1873

[2016-09-19 19:50] #1760 closed

[2016-09-19 20:08] AtsushiKan opened #1875 "[Port] Assembly.CreateInstance."
- Assembly.CreateInstance(string typeName, bool ignoreCase, BindingFlags bindingAttr, Binder binder, object[] args, CultureInfo culture, object[] activationAttributes)

This is really more about implementing the overload of Activator.CreateInstance() that takes all those extra parameters. This is probably a day or two at this point.

[2016-09-20 02:36] jkotas opened #1883 "tests\src\Simple\Exceptions test crashing on MacOS release build"

[2016-09-20 02:39] jkotas commented on #1883
I have added linking with libunwind as part of https://github.com/dotnet/corert/pull/1833. I have run into this crash when I tried enabling this test.

cc @janvorli

[2016-09-20 06:00] jkotas commented on #529
Removed a long time ago.

[2016-09-20 06:00] #529 closed

[2016-09-20 07:43] jonstoneman commented on #1442
Great, thank you.

[2016-09-20 18:17] #1875 closed

[2016-09-20 18:17] #1785 closed

[2016-09-20 19:46] jkotas commented on #370
The AppDep package is (almost) gone now. The work on proper packaging is tracked by other issues (e.g. #309)

[2016-09-20 19:46] #370 closed

[2016-09-20 21:28] #1872 closed

[2016-09-20 23:47] #1883 closed

[2016-09-20 23:50] jkotas commented on #1865
This was likely fixed by #1883 (except the known problem with unhandled exceptions tracked by #1867).

[2016-09-20 23:50] #1865 closed

[2016-09-22 10:40] tsolarin commented on #1657
@jkotas I have this same issue on macOS (sx.10.11-x64)

[code]

[2016-09-22 13:06] jkotas commented on #1657
This log says that things started failing in the `init-tools.sh` script. `init-tools.log` has more detailed log. Could you please look into this file why it failed? Or you just run `./init-tools.sh` directly again.

[2016-09-22 13:26] tsolarin commented on #1657
Directly running `./init-tools.sh` simply prints `Tools are already initialized`. I did look at the `init-tools.log` file and apart from several `warn` logs like this:
[code]
I don't see any of the errors printed out the first time

[2016-09-22 13:29] tsolarin commented on #1657
Also running the build again `./build.sh clean release` I get output similar to @fanol above
[code]
Does this problem also plague macOS `osx.10.11-x64`

[2016-09-22 13:41] tsolarin opened #1892 "No publish1 directory after successful CoreRT build"
After build command `./build.sh clean Release` I get a `CoreRT native components successfully built.` output. However, there is no `<repo_root>\bin\Product\<OS>.<arch>.<Config>\packaging\publish1` folder created as the documentation states.

I instead get a `<repo_root>\bin\Product\<OS>.<arch>.<Config>\lib` folder with a bunch of `.a` files.

[code]

[2016-09-22 17:01] yizhang82 opened #1895 "MCG runs x-plat"

[2016-09-22 17:15] AtsushiKan opened #1896 "Reflection shouldn't reinterpret virtual overriding logic."
It would be more robust and certainly faster for Reflection to get information from the runtime (or toolchain) about which methods overrides others, than doing the signature comparison it does now.

This issue opens up a discussion about that.

[2016-09-22 17:19] AtsushiKan commented on #1896
This affects the following functionality:

     Type.GetInterfaceMapping()
     All custom attribute querying apis that take "inherit = true"
     Type.GetMethods() (and all similar methods) as they need to filter out overridden methods.
     MethodInfo.GetBaseDefinition()

[2016-09-22 17:33] #1892 closed

[2016-09-22 18:07] tsolarin commented on #1743
@jkotas can I please pick this up?

[2016-09-22 18:22] jkotas commented on #1743
@tsolarin You are welcomed to

[2016-09-22 19:12] nattress opened #1898 "[Perf] Interface dispatch cells should be callsite specific"
Currently we create one per interface method. This results in poor cache performance since typically at a given call-site we see a stable set of object types.

[2016-09-23 05:36] yyjdelete opened #1907 "linenum of CallStack will change after rethrow an Exception?"
[code]
And Got
[code]
Notice that the line num of Main is different between Orig and ReThrow, and I don't find any doc for line num(only found that rethrow will keep the original stack trace information with the exception, [CA2200: Rethrow to preserve stack details](https://msdn.microsoft.com/library/en-us/ms182363)). Is it work as expected?

Test with both .net framework 4.6.2 and core 1.0.1, and

[2016-09-23 05:47] #1907 closed

[2016-09-23 05:57] RimashMohomed opened #1908 "unknown type name 'stack_t' in suse sle_11 SP3"
when i am trying to build corert on suse sle_11 sp3  it gives following error

error log is attached

[CMakeError.txt](https://github.com/dotnet/corert/files/488977/CMakeError.txt)

[2016-09-23 06:03] jkotas commented on #1908
More details from gitter: Fixed in coreclr under this ticket dotnet/coreclr#514 and the fix is available in corert as well but the issue remain same.

cc @janvorli

[2016-09-23 13:48] #1743 closed

[2016-09-25 18:36] MichalStrehovsky commented on #1864
@christianscheuer Could you share the signature of the PInvoke method in question along with the struct type?

[2016-09-26 04:40] RimashMohomed commented on #1908
For the older versions of glibc than glibc 2.20 ( 2.11.3 is the glibc version building for ) adding  feature test macro _BSD_SOURCE worked,

[2016-09-26 14:55] jkotas commented on #1908
@RimashMohomed You are welcome to submit PR with the proposed fix.

[2016-09-26 21:33] #371 closed

[2016-09-26 21:39] AtsushiKan opened #1923 "Array.CreateInstance on TypeDelegator"
Just learned that you can pass a TypeDelegator to Array.CreateInstance (Array.CreateInstance first calls UnderlyingSystemType on the passed in type before doing anything.)

Need to make sure CoreRt matches this.

[2016-09-27 01:23] jkotas commented on #154
Fixed by #1922

[2016-09-27 01:23] #154 closed

[2016-09-27 05:22] RimashMohomed commented on #1908
PR submitted https://github.com/dotnet/corert/pull/1927

[2016-09-27 07:23] MichalStrehovsky opened #1929 "Leftover work around pointer types and function pointer types"
This tracks various oddities around (unmanaged) pointer type and (unmanaged) function pointer type in the runtime/compiler that we should add support for at some point:

- [ ] Representing function pointer types in reflection (this is really weird)
- [ ] Arrays of pointer types
- [ ] Arrays of function pointer types
- [ ] `LDTOKEN functionPointerType` (this gives a `RuntimeTypeHandle` for `System.

[2016-09-28 04:15] MichalStrehovsky commented on #567
Sounds like a dupe of #432.

[2016-09-28 04:15] #567 closed

[2016-09-28 04:16] MichalStrehovsky commented on #594
This was fixed in Project N and CoreRT ingested the fix.

[2016-09-28 04:16] #594 closed

[2016-09-28 04:22] MichalStrehovsky commented on #1314
I thought I would need this for #1315, but that never merged.

[2016-09-28 04:22] #1314 closed

[2016-09-28 04:24] MichalStrehovsky commented on #1491
Generic unification took a dependency on having the arity in the composition info so there's not much we can do.

[2016-09-28 04:24] #1491 closed

[2016-09-28 04:25] MichalStrehovsky commented on #791
Closing as a dupe of #383.

[2016-09-28 04:25] #791 closed

[2016-09-28 12:03] RimashMohomed opened #1939 "Build break in suse_11_SLE SP3"
[https://github.com/dotnet/corert/pull/1000/commits/53faa31a16615c5cadab1f65250584893d743cd4](url) commit breaks build for suse_11_sle_sp3 . in #error statement of  `uint32_t Wait(uint32_t milliseconds)` function of PalRedhawkUnix.cpp

[2016-09-28 12:36] #1939 closed

[2016-09-28 16:36] SedarG commented on #1811
@AtsushiKan, would you mind taking a look at this issue

[2016-09-28 17:03] AtsushiKan commented on #1811
I don't see any dependency from AssemblyNameProxy.

AssemblyLoadContext is targeted for the System.Runtime.Loader contract (we're not consuming this package from Project N at this time.)

This is a new class and is barely documented (https://github.com/dotnet/coreclr/issues/5463) but from the method signatures, it doesn't look like AOT runtimes would do anything but throw a PNSE anytime soon.

[2016-09-28 18:11] SedarG commented on #1811
hmm. This dependency is no more. https://github.com/dotnet/corefx/commit/8e1be20d1e87fc36bc136ff3415a4d88602c09e9#diff-af8627680036fe1734171f4e257124d0 took care of it.

[2016-09-28 18:11] #1811 closed

[2016-09-28 18:37] kika123 commented on #567
Nope, as I know well that .NET Core compiles on ARM64, I have the toolchain btw

[2016-09-28 19:06] nattress opened #1940 "Add JIT support for frozen string literal objects"
Currently, string literals are stored in images as raw UTF-8. The startup helper code creates objects for each of them on the heap. https://github.com/dotnet/corert/commit/c9c3511716a63bacbf21f38ff2ebb5bed74e7104 added support for serialized string objects which will save allocations on the startup path.  When enabled, the JIT emits `XOR edx, edx` for the static property `Environment.NewLine` inst

[2016-09-28 19:18] nattress commented on #1940
Note: apply https://github.com/nattress/corert/commit/47324cbb68269e002f6ed1c6b5da8e5b15bbe087.patch to enable frozen strings

[2016-09-29 22:13] nattress commented on #1940
[jit_stringliteral_bad_opt.txt](https://github.com/dotnet/corert/files/501813/jit_stringliteral_bad_opt.txt)

[2016-09-29 22:21] nattress commented on #1940
@pgavlin PTAL

[2016-10-01 11:17] christianscheuer commented on #1864
@MichalStrehovsky sure :)

I was getting it on this P/Invoke decl. when it had CFIndex as return type:
[code]

Here is the definition:
[code]

This is part of a larger project which was built on OSX. After the switch to msbuild I am unable to build the project, so I don't know if this has already been fixed on the tip.

[2016-10-01 11:34] christianscheuer opened #1959 "Request: Standalone sample msbuild project file"
Since switching to the msbuild based cli, I am at a loss trying to create a working msbuild-based project file for a sample application, to be compilable with corert.

Looking at the tests' csproj files I get a rough sense of what needs to go there, but since they rely heavily on the dir.props and dir.targets of the main repo directory, I get all sorts of errors when trying to build an app which s

[2016-10-01 13:18] jkotas commented on #1959
Could you please try https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-console-shell-prompt.md ?

I have just walked through them and fixed them up a bit in #1960. The MSBuild integration has rough edges currently - let me know if you run into problems or if these instructions need updating to be more clear.

[2016-10-01 14:06] christianscheuer commented on #1959
Thank you so much once again, @jkotas. This was exactly what I needed.

[2016-10-01 16:00] MichalStrehovsky opened #1964 "Constructed type name mangling robustness"
E.g. `[test]Gen1<[Test.CoreLib]System.Object[]>[]` and `[test]Gen1<[Test.CoreLib]System.Object[][]>` both mangle as `test_Foo_Gen_1__Test_CoreLib_System_Object__Array__Array`.

We might want to reserve some characters (always replace them in user identifiers) and use them to delimit components of constructed types.

[2016-10-02 15:28] dasMulli opened #1970 "Build error on macOS 10.12 (Sierra)"
Steps to reproduce:
* Use macOS 10.12, Xcode 8 / macOS 10.12 SDK
* `./build.sh clean Release`

The following errors are shown:
[code]

It seems that macOS 10.12 introduced a lot of clock APIs like `clock_gettime` that the cmake file checks to set `HAVE_CLOCK_MONOTONIC`. However, a lot of functionality is missing that is used by the codebase and only guarded by `#if HAVE_CLOCK_MONOTONIC`.
It still

[2016-10-02 15:32] jkotas commented on #1970
cc @janvorli

I suspect that we are going to have the same problem in CoreCLR as well.

[2016-10-02 18:43] christianscheuer commented on #1864
Ok, I will try to isolate the code so it will reproduce. In the meantime I'm now hitting the same nullref in the MethodCodeNode for (mangled name):
System_Private_CoreLib_System_Threading_SendOrPostCallback__Invoke
Even though I am not using this delegate in my code.

I was using the code directly from github, built in Release mode.

[2016-10-03 05:39] #1908 closed

[2016-10-03 15:48] beppe9000 opened #1972 "What about Vb.Net?"
Is it known when support for Vb.Net will be added in the dotnet cli ?

[2016-10-03 15:59] MichalStrehovsky commented on #1972
Thanks for you interest! The .NET CLI repo seems to be tracking this under dotnet/cli#587 - do you have any specific concerns about this from the CoreRT perspective?

[2016-10-03 22:45] beppe9000 commented on #1972
Thanks for the link. So Vb.Net will eventually be compilable to native code?

[2016-10-03 22:48] MichalStrehovsky commented on #1972
Yup, we already do this for VB.NET if you're writing a Universal Windows Apps with [.NET Native for UWP](https://msdn.microsoft.com/en-us/library/dn584397(v=vs.110).aspx).

CoreRT will bring .NET Native compilation for VB.NET everywhere else (console apps on Windows, Linux, OSX, etc.).

[2016-10-03 23:31] beppe9000 commented on #1972
Wow, it is bizarre to me that we can natively compile vb.net universal apps and not console apps...

[2016-10-04 07:39] MichalStrehovsky commented on #1972
When it comes to native compilation, the level of support for C# is the same as VB.NET - production-level quality for universal apps, and "pre-alpha" for native compilation of other .NET Core app types. The only difference is the missing dotnet CLI integration, really.

[2016-10-05 00:46] #1970 closed

[2016-10-05 17:28] MichalStrehovsky opened #1981 "Ready to run helpers for static base lookups in shared generic code"
The existing helper used in CoreCLR (`CORINFO_FIELD_STATIC_GENERICS_STATIC_HELPER`) is not suitable because it requires a runtime helper capable of returning the static base given a type handle. CoreRT does not keep track of static bases of individual types.

Instead, we need a new helper that directly loads the static base from a runtime lookup.

[2016-10-05 18:09] MichalStrehovsky opened #1982 "assert(arg->OperIsPutArg()) in Lowering::CheckCallArg"
There appears to be a problem around CORINFO_HELP_JIT_PINVOKE_END that happens while compiling `RuntimeExports.RhGetCurrentThreadStackTrace`. To repro, just compile a hello world program with a CHK version of RyuJIT.

Not sure if codegen issue or driver issue.

JIT dump:
[jitdump_rhgetcurrentthreadstacktrace.txt](https://github.com/dotnet/corert/files/511990/jitdump_rhgetcurrentthreadstacktrace.tx

[2016-10-05 22:30] #445 closed

[2016-10-05 23:20] MichalStrehovsky commented on #1981
My attempt at this is here: https://github.com/MichalStrehovsky/coreclr/commit/11373f34576a1f97a04ffeaca1ef99764b38a7db.diff

[2016-10-05 23:27] MichalStrehovsky opened #1985 "Codegen support for fat function pointers"
Fat function pointers are function pointers that have the second least significant bit set. When expanding `calli`, the codegen needs to check for this bit. If the bit is set, the pointer (after clearing the bit) actually points to a tuple `<MethodPointer, InstantiationArgument>` where `InstantiationArgument` is a hidden first argument required by `MethodPointer`.

This is a replacement for instan

[2016-10-06 01:01] MichalStrehovsky opened #1986 "Accessibility not respected by the interface resolution algorithm"
`B.f` is protected and we shouldn't consider it as implementing the interface.

[code]

[2016-10-06 01:02] MichalStrehovsky commented on #1986
Cc @hoyMS

[2016-10-06 02:15] jkotas commented on #1972
Duplicate of https://github.com/dotnet/cli/issues/587

[2016-10-06 02:15] #1972 closed

[2016-10-06 02:19] jkotas commented on #1731
dotnet cli has been has been replaced by initial msbuild driver. Check https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-console-shell-prompt.md

@newsyue If you still have issues building the repo, please open a new issue on it.

[2016-10-06 02:19] #1731 closed

[2016-10-06 02:45] jkotas commented on #1560
dotnet cli has been has been replaced by initial msbuild driver. Check https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-console-shell-prompt.md

@rottor12 If you are still running into build errors, please open a new issue on it.

[2016-10-06 02:45] #1560 closed

[2016-10-06 04:32] MichalStrehovsky commented on #213
Fixed by #1971.

[2016-10-06 04:32] #213 closed

[2016-10-06 06:06] MichalStrehovsky commented on #790
@pgavlin Was this tracking your JitHost work? Sounds like we can close this?

There's #697 tracking a mechanism for the CoreRT compiler to actually pass these values in.

[2016-10-06 08:43] janvorli commented on #1970
@jkotas fortunately, the CoreCLR doesn't have this issue and still builds fine.

[2016-10-06 15:20] #394 closed

[2016-10-06 16:18] pgavlin commented on #790
Yeah, this work is complete w.r.t. the JIT and JIT interface.

[2016-10-06 16:18] #790 closed

[2016-10-06 19:40] MichalStrehovsky commented on #366
Dropping to P2. I implemented enough of this to cover the most common cases. We're likely to only see this as an issue for IL and F# programs.

[2016-10-06 20:45] MichalStrehovsky opened #1991 "Implement getTailCallCopyArgsThunk"
This is needed to support tail calling methods with many parameters.

The stub itself doesn't seem too hard, but we'll need to add some sort of support for emitting labels in the machine code stream. Also, GC info encoding at some point.

[2016-10-06 21:55] jkotas commented on #1991
@janvorli is working on the design for this.

[2016-10-06 23:18] christianscheuer commented on #1867
I believe a variant of this bug also occurs on Unix when a P/Invoked function calls back from the native world to a managed function, in which you have a try/catch block spanning the entire method that should handle all exceptions, yet it still gets stuck at the infinite loop in EH.DispatchEx as mentioned above.

Pseudocode:

[code]

[2016-10-08 19:01] MichalStrehovsky commented on #474
Fixed by #1994.

[2016-10-08 19:01] #474 closed

[2016-10-10 19:05] MichalStrehovsky commented on #392
#1990 fixed this.

[2016-10-10 19:05] #392 closed

[2016-10-10 19:43] #396 closed

[2016-10-11 02:20] RussKeldorph commented on #1981
https://github.com/MichalStrehovsky/coreclr/commit/11373f34576a1f97a04ffeaca1ef99764b38a7db is easier to review.

@dotnet/jit-contrib @pgavlin

[2016-10-11 12:45] jkotas commented on #1657
Fixed by #2005. There is cleanup left to do, but the build works on Ubuntu 16.04 now.

[2016-10-11 12:45] #1657 closed

[2016-10-11 21:27] #1826 closed

[2016-10-12 01:53] jkotas opened #2012 "Port https://github.com/dotnet/coreclr/pull/137 to CoreRT"

[2016-10-12 01:55] jkotas commented on #2012
@ikopylov Would you like to take care of this? (I am sorry that the original PR took very long to merge ... I promise that this one will be merged much faster.)

[2016-10-12 14:09] ikopylov commented on #2012
Ok. Will do that

[2016-10-12 17:43] #2012 closed

[2016-10-13 19:47] sandreenko commented on #1982
The problem is that  Lowering::InsertPInvokeCallProlog creates frameAddr as local variable address and doesn't lower it.

[2016-10-13 23:15] jkotas opened #2023 "Port https://github.com/dotnet/coreclr/pull/2192 to CoreRT"

[2016-10-13 23:16] jkotas commented on #2023
@dasMulli Would you like to take care of this?

[2016-10-13 23:27] dasMulli commented on #2023
@jkotas yes i'll do that.

[2016-10-13 23:32] jkotas commented on #2023
Thanks!

[2016-10-14 03:54] #1982 closed

[2016-10-14 14:20] jkotas opened #2026 "Port https://github.com/dotnet/coreclr/pull/6952 to CoreRT"
@benaadams Would you like to take care of this?

[2016-10-14 15:35] #2023 closed

[2016-10-14 15:58] #2026 closed

[2016-10-15 18:59] MichalStrehovsky commented on #1131
Fixed this with #1975.

[2016-10-15 18:59] #1131 closed

[2016-10-16 00:50] #697 closed

[2016-10-16 19:38] jkotas opened #2033 "[CppCodeGen] Enable conservative GC"
Remove artificially high GC budget (https://github.com/dotnet/corert/blob/26413145abcbdd49468db230a6f29784494f6f46/src/Native/Runtime/gcenv.h#L175) and make conservative GC stack scanning work with CppCodeGen.

[2016-10-16 19:43] jkotas opened #2035 "[CppCodeGen] Enable reflection"
Remove [reflection block for CppCodeGen](https://github.com/dotnet/corert/blob/77664e6ba41a41cf4b84cea170eb40c0ba07a2b9/src/ILCompiler.Compiler/src/CppCodeGen/CppWriter.cs#L383) and make the [simple reflection test](https://github.com/dotnet/corert/tree/master/tests/src/Simple/Reflection) pass.

[2016-10-18 00:40] sepidehMS opened #2040 "Add System.SystemException and missing derivations from System.SystemException"
Related issue on corefx: https://github.com/dotnet/corefx/issues/12198

The following types need to inherit from base type `System.SystemException`:

[code]

[2016-10-18 05:31] MichalStrehovsky commented on #1463
The existence of `AsmOffsets.cs` makes `skipnative` pretty unfeasible - managed build depends on native build to generate this file. As you noted, native build is pretty quick and we don't expect to have many more native parts that would slow it down more.

As for the `skipmanaged` option - I'm not sure if this would produce anything useful. On CoreCLR `skipmanaged` will give you a bunch of things

[2016-10-18 05:31] #1463 closed

[2016-10-18 05:33] MichalStrehovsky commented on #1864
@christianscheuer did you have any luck isolating the repro?

[2016-10-18 17:02] MichalStrehovsky commented on #631
Please stop assigning this to me. I already unassigned this once. Also, this is not feasible for thanksgiving.

[2016-10-18 17:13] joshfree commented on #631
@MichalStrehovsky I'm cleaning up milestones that over 1 year old.  Please work with @sergiy-k and triage this issue from January appropriately.  Thank you.

[2016-10-18 22:54] jkotas commented on #538
Need more details if it is still a problem.

[2016-10-18 22:54] #538 closed

[2016-10-19 00:43] joshfree opened #2049 "CoreRT NuGet Toolchain Packaging"
- [ ] initial product packaging to bring up testing and other dependencies
- [ ] Adding TFMs ("netstandard 1.6", "netcoreapp1.0aot", etc)
- [ ] updating build to publish to (and pull from) myget.org

[2016-10-19 03:04] Petermarcu commented on #2049
Is netcoreapp1.0aot a tfm?

[2016-10-19 06:17] #1782 closed

[2016-10-19 06:36] MichalStrehovsky commented on #412
Simon fixed this with #2024.

[2016-10-19 06:36] #412 closed

[2016-10-19 23:46] #436 closed

[2016-10-19 23:47] #477 closed

[2016-10-20 00:06] MichalStrehovsky commented on #787
Tracked in #338.

[2016-10-20 00:06] #787 closed

[2016-10-20 00:12] #975 closed

[2016-10-20 00:15] MichalStrehovsky commented on #1040
We can track this in #458.

[2016-10-20 00:15] #1040 closed

[2016-10-20 00:16] #1075 closed

[2016-10-20 00:20] MichalStrehovsky commented on #1180
Tracked in e.g. #783, #785.

[2016-10-20 00:20] #1180 closed

[2016-10-20 00:24] #1226 closed

[2016-10-20 00:28] MichalStrehovsky commented on #1497
We'll address interop with the MCG tool. We haven't started properly bringing this up yet.

[2016-10-20 00:30] MichalStrehovsky commented on #1530
Generic virtual methods are tracked elsewhere (#631).

[2016-10-20 00:30] #1530 closed

[2016-10-20 00:35] MichalStrehovsky commented on #1583
It's not like we're going to forget x86 and this is really not something that can be assigned to someone.

[2016-10-20 00:35] #1583 closed

[2016-10-20 00:36] MichalStrehovsky commented on #1584
Dupe of #1570.

[2016-10-20 00:36] #1584 closed

[2016-10-20 00:49] #1959 closed

[2016-10-20 03:11] MichalStrehovsky commented on #1985
Related pull request: #2052. This steps around not having codegen support by lowering `calli` in the driver. This will work for a while.

[2016-10-20 17:38] jkotas opened #2056 "Port https://github.com/dotnet/coreclr/pull/6767 to CoreRT"
@jamesqo  Would you like to take care of this when you get a chance?

[2016-10-20 17:54] joshfree commented on #231
@dleeapho this is something we could use help with getting setup for corert

[2016-10-20 21:20] jamesqo commented on #2056
@jkotas Sure, I'll probably do it today or tmrw. I hadn't forgotten, have just been a little busy of late. Thank you for raising an issue though, since I actually had forgotten until you mentioned CoreRT in https://github.com/dotnet/coreclr/issues/7710#issuecomment-254653712

[2016-10-21 01:22] jkotas commented on #1991
Duplicate of https://github.com/dotnet/corert/issues/1683

[2016-10-21 01:22] #1991 closed

[2016-10-21 01:25] jkotas opened #2057 "F# support"
Issue to track progress towards enabling native F# support.

The first step: try to compile F# "hello world" program using CoreRT and identify where the first blocking issue.

[2016-10-21 01:26] jkotas commented on #1683
Related: https://github.com/dotnet/corert/issues/2057

[2016-10-21 01:44] jamesqo commented on #1463
@MichalStrehovsky If not `skipnative` or `skipmanaged`, what about an option to skip restoring packages for buildtools? I didn't notice it earlier, but now it seems to be taking about ~5 mins before the managed build is able to commence:

[code]

[2016-10-21 08:55] mjsabby opened #2062 "Make CodeGen a DI'able "plugin" (a.k.a make ILImporter an interface)"
Currently the CPP writer and IL importer are quite coupled in code, so making a "plugin" codegen that writes something other than cpp is going to lots of duplicated code.

I think the TypeSystem ILImporter is conceptually a reasonable interface and the first step may just be making CPP code gen the single codegen plugin in the system.

This'll be a stepping stone required I think to introduce new

[2016-10-21 14:25] jkotas commented on #2062
@mjsabby Take a look at https://github.com/dotnet/corert/pull/2045 ... it is refactoring towards addressing this problem.

[2016-10-21 17:37] mjsabby opened #2063 "Discussion: Use "this." for member variables and method calls, and remove "_""
I'm opening this issue to discuss if we can move to and enforce "this." in the codebase for member variable, method and property access.

It's a bit difficult to decipher if a variable is a member variable or not if you're not using the IDE at all times, and even then it slows down the inner loop productivity.

In my opinion this." significantly improves readability and sometimes opens the develop

[2016-10-21 21:09] #1940 closed

[2016-10-21 21:19] #1981 closed

[2016-10-21 23:42] jkotas opened #2066 "Enable frozen strings"
Enable frozen strings after the RyuJIT fix https://github.com/dotnet/corert/issues/1940 gets integrated to CoreRT

[2016-10-22 00:45] jkotas commented on #2063
We follow the [corefx coding guidelines](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md). Number of other .NET Core repos standardized on them. Not planning to reinvent the wheel for CoreRT.

Proposals for updating corefx coding guidelines should go to corefx. You can find number long religious debates about these topics there...

[2016-10-22 00:45] #2063 closed

[2016-10-22 01:14] jamesqo opened #2067 "Port dotnet/coreclr#4654 to corert"
Once the `ArraySegment` hashing is changed in dotnet/coreclr#4654, we should also change it in the corert repo as well.

[2016-10-22 03:48] #2056 closed

[2016-10-22 03:48] #2067 closed

[2016-10-22 03:55] #52 closed

[2016-10-22 03:55] #875 closed

[2016-10-23 03:52] #2066 closed

[2016-10-23 03:52] jkotas opened #2070 "Register the frozen string segment with the GC"
Similar to change 1632724 in TFS. We are just getting lucky that the BVTs are not blowing up without it... .

[2016-10-24 22:53] MichalStrehovsky opened #2073 "Assertion failed in fgMorphCall"
In CoreCLR, `canTailCall` is hardcoded to return `false` in Ready To Run compilation - we never attempt to do tail calls. The CoreRT compiler doesn't put such restrictions and we're hitting the following assert when compiling Hello world with CHK RyuJIT (the combination of R2R and tail calls allowed triggers this):

[code]

To repro, undo the workaround from #2074.

@jkotas scoped the problem down

[2016-10-24 22:58] MichalStrehovsky commented on #2073
@sandreenko We have a workaround that unblocks CoreRT for now, but we might hit this in other code.

[2016-10-24 23:00] sandreenko commented on #2073
Ok, I will try to fix it before tomorrow.

[2016-10-24 23:02] MichalStrehovsky commented on #2073
(I was trying to imply it's not urgent and there's no need to drop what you're working on right now. Just put it close to the top of the queue :).)

[2016-10-25 15:53] jkotas commented on #2057
Related https://github.com/Microsoft/visualfsharp/issues/1096

[2016-10-25 18:31] DemiMarie commented on #1683
LLVM can handle tail calls cross-platform; its approach should work.

On Oct 20, 2016 9:26 PM, "Jan Kotas" <notifications@github.com> wrote:

[2016-10-26 01:43] #2070 closed

[2016-10-26 05:57] MichalStrehovsky opened #2080 "Hoisted static base incorrectly reused across GC/non-GC static regions"
[code]

Compile with `--usesharedgenerics`.

This results in:

[code]

Notice there's only one generic lookup (for the non-GC static base) and it's getting reused to load `StringField` too, even though that one lives in the GC static base.

I think we want to keep it hoistable, but the hoisting should check the entrypoint. Or maybe we just need separate helpers beside `CORINFO_HELP_READYTORUN_GENE

[2016-10-26 07:40] jkotas commented on #2080
Looks like `VNF_ReadyToRunGenericStaticBase` needs to be added to https://github.com/dotnet/coreclr/blob/9735854c9e1222ba63340b0c62afefebd779ee66/src/jit/valuenum.cpp#L6830

[2016-10-26 16:23] cmckinsey commented on #2080
@JosephTremoulet @erozenfeld Value-numbering too aggressive. Sound right?

[2016-10-26 16:50] MichalStrehovsky commented on #2080
Thanks! I'll try applying the suggested fixes to RyuJIT and if it works, I'll make a pull request.

[2016-10-27 00:50] #2080 closed

[2016-10-27 00:51] sandreenko commented on #2073
@vijayrkn can you take a look please.
 Is it correct gtTree for tail call?
[code]
Call returns bool, but we cast it to int for asg.
Should we delete cast or do not consider such calls as tail calls?

[2016-10-27 01:00] sandreenko commented on #2073
@sivarv please take a look.
[code]
Is it correct tail call tree or not?

[2016-10-27 01:10] sivarv commented on #2073
@sandreenko - It doesn't look like a valid tail call tree that RyuJIt supports as per fgMorphCall() assert.

What is even more suspicious is that call returns void and we have a cast from void to int!  I think that will point to the actual issue here.

[2016-10-27 01:13] sandreenko commented on #2073
It should be cast from int to bool to int, but we force call return type to void for all tail calls during morph phase.

[code]

[2016-10-27 01:14] sivarv commented on #2073
Please send me the full jitdump of the method by e-mail.

[2016-10-27 16:41] SedarG commented on #2049
We are already producing the packages at bin\Product\[TargetOS].[TargetArch].[Configuration]\packaging
[this myget feed](https://dotnet.myget.org/gallery/dotnet-corert) contains CoreRT packages, though the latest one is from Feb. '16.

[2016-10-27 20:09] jkotas opened #2090 "Port https://github.com/dotnet/coreclr/pull/7803 to CoreRT"
cc @AlexGhiondea

[2016-10-27 21:29] MichalStrehovsky opened #2092 "RyuJIT needs to be able to tolerate getBuiltinClass returning null for CLASSID_TYPED_BYREF"
`impNormStructType` calls `getBuiltinClass` for `CLASSID_TYPED_BYREF` just to see if a type is `System.TypedReference`. The `TypedReference` type is a desktopism we don't have in .NET Core. We can't return a classhandle for it because there's no such type.

A workaround is getting checked in with #2091, but we would like to just return `IntPtr.Zero` for this and have RyuJIT deal with it (error out

[2016-10-27 21:43] AndyAyersMS commented on #2092
`TypedReference` exists in .Net Core. It might not be exposed outside of the core library though.

I added that particular check because the class attribute flag `CORINFO_FLG_CONTAINS_GC_PTR` did not seem reliable for typed references.

Rooting out and fixing the other places we look for this class handle in RyuJit may be a bit trickier.

[2016-10-27 21:54] MichalStrehovsky commented on #2092
@AndyAyersMS The statement should be "exists in CoreCLR". .NET Core covers CoreCLR/ProjectN/CoreRT and the set of types included in it is defined in the public contracts. .NET Core never had it and it's not getting exposed with the NetStandard 2.0 work either. It's in CoreCLR's core library only for legacy reasons.

(If RyuJIT had all the code dealing with it ifdef'd out for CoreCLR, that would be

[2016-10-27 22:02] AndyAyersMS commented on #2092
Thanks for the clarification; I indeed meant it exists internally in CoreCLR's core library...

[2016-10-27 22:05] jkotas commented on #2092
It may be best to just have internal unused `TypedReference` type in CoreRT to make this work without unnecessary pain. It won't be the first one - for example, we have `RuntimeFieldHandle` and `RuntimeMethodHandle` in MRT for similar reasons.

[2016-10-28 03:54] jkotas commented on #680
No longer applicable

[2016-10-28 03:54] #680 closed

[2016-10-28 17:48] sandreenko commented on #2092
Do we decide to fix it CoreRT?

[2016-10-28 18:13] MichalStrehovsky commented on #2092
I haven't tried it, but wouldn't defining the type in CoreLib and having `getBuiltinClass` succeed be enough for RyuJIT to start compiling `mkrefany` and friends? We'll likely have to patch up a bunch of places so that we don't crash horribly. `RuntimeFieldHandle` in MRT is not a good precedent - we're in full control of the code that will use that library. In this case we're opening up an incompl

[2016-10-28 18:38] MichalStrehovsky commented on #2092
I chatted with Jan, and other option could be to just fix `getClassAttribs` to report `CORINFO_FLG_CONTAINS_GC_PTR` for `TypedReference` on CoreCLR. We could look at that as a small perf boost too. Of course, RyuJIT would still need to check for `CLASSID_TYPED_BYREF` under `#ifndef FEATURE_CORECLR`.

This way we could restore the old behavior of `getBuiltinClass(CLASSID_TYPED_BYREF)` that just thr

[2016-10-28 18:57] AndyAyersMS commented on #2092
Fixing `getClassAttribs` to be accurate sounds like a good idea.

There are other references to `CLASSID_TYPED_BYREF` in the jit code base (eg compiler.h). It looks like these are only reachable when the jit is processing a refany-related opcode, so if the jit will never see those opcodes in CoreRT then having `getBuiltinClass(CLASSID_TYPED_BYREF)` throw seems reasonable.

[2016-10-28 20:14] MichalStrehovsky opened #2102 "Always use CORINFO_HELP_READYTORUN_DELEGATE_CTOR optimization"
Repro program (needs to be compiled with `--usesharedgenerics`):

[code]

`fgOptimizeDelegateConstructor` will abort the optimization because `if (oper == GT_FTN_ADDR)` is not met.

This will result in generating a normal call to the delegate's `.ctor` method. CoreRT doesn't have enough smarts in it to be able to tell from the function pointer how the delegate object should be laid out. The constr

[2016-10-28 20:16] MichalStrehovsky commented on #2092
Cool, I'll take care of this then!

[2016-10-28 20:25] MichalStrehovsky commented on #1864
We can reopen when there's a repro.

[2016-10-28 20:25] #1864 closed

[2016-10-28 21:13] MichalStrehovsky opened #2104 "Multidimensional array Address method in shared generic mode"
The `Address` method is special since it requires generic context, but it's not owned by a generic type.

The below will crash the compiler:

[code]

[2016-10-28 21:37] nattress opened #2105 "StackOverflowException when using System.Random"
The current set of framework assemblies in CoreRT has an infinite loop resolving `System.Random`.  It is type forwarded from mscorlib to System.Runtime.Extensions, and forwarded back from System.Runtime.Extensions to mscorlib.  This causes a StackOverflowException in ILC when resolving the type.

We should detect cycles while resolving a type in the presence of forwarders and fail with an error me

[2016-10-28 22:00] SedarG commented on #2049
We need to update how we build packages. Currently it's quite a hacky way:
We’re building all the binaries – platform specific and agnostic – on each platform. And each platform has a runtime.json that declares the package identities and versions in the package graph, enumerating all the platform specific runtime packages. However, on say Ubuntu, we only produce Ubuntu runtime package and not OSX

[2016-10-30 08:10] jkotas opened #2109 "Port https://github.com/dotnet/coreclr/pull/7836 to CoreRT"
@Petermarcu Would you like to take care of it?

[2016-10-30 15:06] christianscheuer opened #2110 "Possible bug: Linker error when using the Uri class on OSX"
When constructing a Uri with the latest bits, I get a linker error on OSX.
I apologize if this is a known bug / a known todo item, please discard if that's the case.

[code]

This is the linker output:

[code]

Link to repro: (I've included the code in the Add1 test just to make it easy to repro for you guys). Also, don't know the correct way to link to a repro, so please let me know if you prefer

[2016-10-30 15:36] jkotas commented on #2110
@christianscheuer Thank you for reporting this. This is caused by mismatched bits corefx that we are picking up for CoreRT momentarily.

cc @SedarG @joshfree

[2016-10-30 21:51] tarekgh commented on #2109
note that the port is not for corert only but also we need to have this optimization for Linux too.

@Petermarcu please let me know if you need any help for me or you are willing to do it?

[2016-10-31 02:12] christianscheuer commented on #2110
Great, thanks @jkotas

[2016-10-31 04:13] MichalStrehovsky opened #2111 "Port dotnet/coreclr#7895 to CoreRT"
We should be able to one up the CoreCLR fix and also fix this for `Equals`: We can redirect the constrained call to a generated `ILStubMethod` with a proper type check followed by a an underlying field equality check.

Clickable link: dotnet/coreclr#7895

[2016-10-31 05:56] Petermarcu commented on #2109
I'll take it as a back burner thing. I'm assuming there is no critical timline?

[2016-10-31 06:06] Petermarcu commented on #2109
@tarekgh you mentioned we also need this fix ported for Linux. Is there something about the change that is specific to non-Linux?

[2016-10-31 06:12] Petermarcu commented on #2109
@tarekgh , @jkotas, Looking at it, is this whole Type missing on CoreRT?

[2016-10-31 07:00] jkotas commented on #2109
It was refactored for CoreRT: https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Globalization/FormatProvider.DateTimeFormat.cs

[2016-10-31 19:34] tarekgh commented on #2109
@Petermarcu

No, I discovered this part you touched is shared between Windows and Linux. so we should be fine here.

[2016-10-31 20:11] MichalStrehovsky opened #2113 "[Port] Use System.Reflection.Pointer in MethodInfo.Invoke scenarios"
Neither Project N, nor CoreRT support reflection invoking methods that return unmanaged pointer types (or methods that pass it by reference). This is because `System.Reflection.Pointer` wasn't part of the framework profile.

With netstandard 2.0 the type is making a comeback and we will need to support this at some point.

[2016-10-31 23:05] Petermarcu commented on #2109
Ok, these are the two changes that need to be brought over...

https://github.com/dotnet/coreclr/commit/5c0d01c19842049b2389ec9bee2885be918b9597
https://github.com/dotnet/coreclr/commit/026beb938949ac4390f67f6c79248fd7be7311c1

[2016-11-01 04:18] Petermarcu commented on #2109
Fixed by https://github.com/dotnet/corert/pull/2114

[2016-11-01 04:18] #2109 closed

[2016-11-01 06:17] jkotas opened #2115 "Encode Reverse PInvoke frame stack slot in GCInfo"
The GCInfo has space and encoding for reverse PInvoke frame slot. The JIT needs to set it, so that RyuJITT CodeManager can use it.

(Look for TODO link to this issue on where this needs to be fixed.)

[2016-11-01 16:55] MichalStrehovsky opened #2119 "ILEmitter should compute the maxstack value"
Maxstack is currently set to the number of bytes in the IL body of the method, but this number is unnecessarily big. RyuJIT makes e.g. inlining decisions using the value of maxstack. For well formed IL it is a trivial operation to compute maxstack.

Once we can compute stack height at arbitrary instructions, we can also use it to provide better asserts to validate the IL and improve developer prod

[2016-11-02 00:06] tsolarin commented on #2090
@jkotas I'd like to pick this up

[2016-11-02 01:20] jkotas commented on #2090
@tsolarin Looking forward for your PR!

[2016-11-02 14:14] jkotas opened #2124 "Port https://github.com/dotnet/coreclr/pull/7867 to CoreRT"
The manual changes that are missing in CoreRT. https://github.com/dotnet/coreclr/issues/7952 should be done first.

cc @Clockwork-Muse

[2016-11-02 14:22] #2090 closed

[2016-11-02 17:13] tsolarin commented on #2057
First blocker: There's no support for MSBuild based F# projects with the dotnet cli. Is there an alternative to https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-console-shell-prompt.md#compiling-source-to-native-code-using-the-ilcompiler-you-built for building .NET Core apps with CoreRT?

[2016-11-02 17:22] jkotas commented on #2057
@tsolarin Thanks for being interested in F#! You can build the F# app using the current non-msbuild based .NET Core tooling, and then follow steps in https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-visual-studio-2015.md with modified c:\corert\bin\obj\Windows_NT.x64.Debug\ryujit.rsp:

- Replace `...\repro.exe` with path to your F# app (it should have .

[2016-11-03 02:34] jkotas opened #2130 "Port https://github.com/dotnet/coreclr/pull/3163 to CoreRT"

[2016-11-03 10:46] tsolarin commented on #2130
@jkotas so I noticed `System.Private.CoreLib` has no `Number.cs` file, I guess adding in a Number class that implements methods for formatting and parsing numeric values is gonna be part of fixing this issue? Is that functionality perhaps present in another file?

[2016-11-03 11:48] tsolarin commented on #2130
@jkotas Done! Any way I can test this out? I will like to ensure this new implementation doesn't introduce any bugs on the CoreRT side of things.

[2016-11-03 11:54] tsolarin commented on #2130
@jkotas Done! Any way I can compare this with the older version? I will like to ensure this new implementation doesn't introduce any bugs and is more performant on the CoreRT side of things.

[2016-11-03 20:58] #2073 closed

[2016-11-04 03:33] #2130 closed

[2016-11-04 16:40] MichalStrehovsky commented on #283
Fixed in #2136.

[2016-11-04 16:40] #283 closed

[2016-11-05 00:17] nattress opened #2144 "RyuJit doesn't support inlining P/Invokes whose return type is a struct"
In importer.cpp, `Compiler::impCanPInvokeInlineCallSite` excludes P/Invokes from being emitted inline if they return a struct. This prevents CoreRT from compiling invoke stubs. The actual external method call ends up as a managed direct call instead.

See, ie: `System.Console!mincore.GetLargestConsoleWindowSize`

[2016-11-05 00:40] jkotas commented on #2144
We need to get onto the `compMustInlinePInvokeCalli` path for CoreRT.

[2016-11-05 02:03] nattress commented on #2144
We can force that in JIT startup by setting CorJitFlag.CORJIT_FLG_IL_STUB for p/invokes.  That only works for Calli though.  We maybe need something CoreRT-specific in that area of the importer to allow it for direct calls.

[2016-11-05 02:19] jkotas commented on #2144
Agree. `CorJitFlag.CORJIT_FLG_IL_STUB` flag flips number of different things ... not sure whether we want all of them ... .

[2016-11-05 07:34] MichalStrehovsky opened #2146 "Emitting COMDAT sections in single file causes size bloat"
The fact that we're emitting ReadyToRun helpers as COMDAT foldable no matter what is causing a pretty big size bloat for the default single file configuration. E.g. the simple Delegate test compiles to a 15 MB executable in Debug configuration and more than a half of it is padding inserted by the linker for reasons unknown.

[2016-11-05 17:25] Fabi opened #2147 "File I/O is not working"
Getting pathes from the Directory classes are fine, however creating or reading files let the native app crash.

I tried simple code like
`File.Create("bob.txt");`
or
`var fs = new FileStream("bob.txt", FileMode.Append);`

Using RyuJIT compiler it prints me "Unhandled Exception: System.IO.FileNotFoundException: IO_FileNotFound_FileName
IO_FileName_Name"

and using the cpp one I'm not even able to

[2016-11-05 18:09] MichalStrehovsky opened #2149 "[CppCodegen] Lazy P/invoke support"
CppCodegen doesn't have handling of RVA static fields and ends up hitting various problems due to the RVA static P/invoke fixup cells.

[2016-11-05 18:09] MichalStrehovsky commented on #2147
It compiles, but at runtime it prints:

[code]

This is because System.Threading.Overlapped.dll wasn't present in the inputs to the compiler. This is in the same bucket as e.g. #2110 and is caused by various cherry picked framework assemblies that don't match or are incomplete. There's work scheduled to fix this.

CppCodegen is hitting various problems related to lazy P/invokes and the missing han

[2016-11-06 17:13] tsolarin commented on #2057
@jkotas I'm on OSX so unfortunately I couldn't use the method above. However, thanks to https://github.com/dotnet/netcorecli-fsc/tree/master/examples/preview3/console and a whole lot of tweaking on my end I was able to get MSBuild to successfully build F# on CoreCLR on OSX.

### CoreRT

I went ahead to make a trial build on CoreRT. Below are the results

#### Using RyuJIT
[code]

On first build `I

[2016-11-06 17:20] tsolarin commented on #2057
@jkotas I'm on OSX so unfortunately I couldn't use the method above. However, thanks to https://github.com/dotnet/netcorecli-fsc/tree/master/examples/preview3/console and a whole lot of tweaking on my end I was able to get MSBuild to successfully build F# on CoreCLR on OSX.

### CoreRT

I went ahead to make a trial build on CoreRT. Below are the results

#### Using RyuJIT

[code]

On first build a

[2016-11-06 17:56] MichalStrehovsky opened #2153 "Lazy P/invoke import cells should use the right code page"
`PInvokeMethodFixupNode` uses UTF-8 for both Windows and Unix. `GetProcAddress` doesn't use UTF-8 though. We need to ensure the right encodings are used thorough.

[2016-11-06 20:55] jkotas commented on #2057
This error is caused by FSharp.Core.dll missing on ilc command line. The project dependencies are not yet picked up automatically, Could you please manually specify FSharp.Core.dll fpr now - adding the following lines to your .csproj file should do the trick:

[code]

Also, do not worry about CppCodeGen for now. It is behind RyuJIT codegen, so you would only find more problems with it; not less.

[2016-11-07 09:40] tsolarin commented on #2057
Thanks for that @jkotas I added that and tried another RyuJIT based build. Below is the build output:

[code]

[2016-11-07 10:05] jkotas commented on #1461
This is a real problem that leaks to broken stacks under debugger. I have run into it while working on https://github.com/dotnet/corert/pull/2157.

Repro:
- `int Main() { throw new Exception("My exception"); }`
- Compile it and run it on Mac under lldb

Result: The stacktrace of the crash is incomplete because of it contains one of these methods with broken unwind info. Thus, you cannot actually s

[2016-11-07 10:16] jkotas commented on #2057
This error is caused by CoreRT version of System.Diagnostics.Tracing not being ported to Unix yet. To workaround it for now, add a dummy throwing stub for EventWriteTransfer to  https://github.com/dotnet/corert/blob/master/src/Native/Bootstrap/platform.unix.cpp

[2016-11-07 11:29] tsolarin commented on #2057
Awesome! Followed your directive and it built successfully. However, when I try to run the resulting native binary I get the following error:

[code]

[2016-11-07 14:57] tsolarin commented on #2057
/cc @jkotas

[2016-11-07 15:39] jkotas commented on #2057
As the message says, this means you are hitting unimplemented part of the system. The first step is to find out where it is coming from exactly: Start your program under `lldb`, set break on exceptions using `break set -E C++`, and look at the stacktrace where it is coming from.

I suspect that it will be coming from `Environment.ProcessorCount`. We have it ported to Unix in corefx repo already, s

[2016-11-07 15:40] jkotas commented on #2057
@tsolarin Thank you for your help!

[2016-11-08 00:38] jkotas commented on #1867
The remaining issue is Segmentation Fault at:

[code]

We need unwinder that keeps track of where everything is stored. Statically linking customized version of LLVM's libuwind seems to be the best solution for it.

[2016-11-08 00:39] tsolarin commented on #2057
So I tried to debug the native binary with `lldb` as per your directions. At the first point where a breakpoint is reached because of an exception this is the output I get:

[code]

This is the breakpoint list after the above stacktrace:
[code]

My question: How do I interpret an output like this to determine the reason for the exception. Although the `Environment.ProcessorCount` port is something

[2016-11-08 01:26] christianscheuer commented on #1867
@jkotas Would there be any workaround for letting exceptions fail more gracefully / not crash the process, until this is resolved?

[2016-11-08 03:15] jkotas commented on #1867
The quick fix to stop EH from crashing would be to add `UIntNative FP` to REGDISPLAY for Unix or MacOS; get/set it in `UnwindCursorToRegDisplay`/`RegDisplayToUnwindCursor` to UNW_X86_64_RBP; and return it from GetFP() instead `*pRbp`. @christianscheuer Would you like to give it a shot?

[2016-11-08 11:29] christianscheuer commented on #1867
@jkotas thanks! That would be my pleasure :)

[2016-11-08 12:13] tsolarin commented on #2057
@jkotas PR open. Had to port the C++ impl though, I couldn't achieve a successful build without it.

My test F# program ("Hello World") was able to build and run without any errors

[2016-11-08 14:56] tsolarin commented on #669
an extra TODO added to https://github.com/dotnet/corert/blob/master/src/Native/Bootstrap/platform.unix.cpp

[2016-11-08 17:42] MichalStrehovsky opened #2169 "OSX linker has trouble seeing defined symbols"
See #2164.

[2016-11-08 17:47] janvorli commented on #2169
@MichalStrehovsky I wonder if the problem is in decorations of the names. OSX expects symbols to have prepended underscore, which is not the way for Linux.

[2016-11-08 17:48] janvorli commented on #2169
There is a function in ObjectWriter.cs to do that:
[code]
I wonder if we are forgetting to use it in your case.

[2016-11-08 19:07] MichalStrehovsky commented on #2169
@janvorli I don't think that's the problem. These are references to symbols from other `ObjectNode`s - they all go through `BuildSymbolDefinitionMap`. I would think that `nm -undefined-only` would be able to detect that - and they don't show as undefined there.

[2016-11-08 20:56] tsolarin commented on #2057
So we got `Hello World` working, what direction do we go next?

[2016-11-08 21:03] jkotas commented on #2057
Try more complex tests - I believe F# repo has a bunch of them.

[2016-11-10 17:52] jkotas opened #2178 "Namemangling revamp"
The name mangling needs revamp, for both correctness and overall efficiency (do not allocate as much to construct the mangled names; and make the mangled names shorter). See #2175.

- Do we need to include the namespaces in the typenames? What if we instead just use the type simple name; and disambiguate it if there is conflict - similar to what we do for methods.
- Use shortcut for the system mod

[2016-11-10 17:55] MichalStrehovsky commented on #2178
Do we want to make this also track #32 and close that one?

[2016-11-10 18:11] jkotas commented on #32
Let's track this in #2178

[2016-11-10 18:11] #32 closed

[2016-11-11 19:42] zamont opened #2184 "Globalization: Switch out Dummy implementations with Unix implementations"

[2016-11-11 20:03] zamont opened #2185 "Globalization: Implement methods that currently throw NotImplementedException"
**CompareInfo.Windows.cs**
System.Globalization.CompareInfo.CreateSortKey
System.Globalization.CompareInfo.IsSortable
System.Globalization.CompareInfo.GetSortVersion

**CompareInfo.Dummy.cs**
System.Globalization.CompareInfo.CreateSortKey
System.Globalization.CompareInfo.IsSortable
System.Globalization.CompareInfo.GetSortVersion

**CultureData.Windows.cs**
~~System.Globalization.CultureData.Locale

[2016-11-11 23:23] nattress commented on #2178
We should make the mangled names more global ready, too. Currently if you are a Japanese developer, your generated C++ will most likely crash, and if not identifiers will all look like `_____::_____` etc

[2016-11-12 19:51] MichalStrehovsky opened #2194 "TypeDesc.GetMethods and TypeDesc.GetFields allocate too much"
I'm seeing 260,000 allocations of the totaling 14.5 MB for a simple app. We really need to make these struct enumerators.

What we could probably do is:

* Make `GetMethods` and `GetFields` non-virtual.
* Add virtual methods `internal int GetLimitMethodCookie()`, `internal int GetLimitFieldCookie()`, `internal MethodDesc GetNextMethod(int currentMethodCookie, out int nextMethodCookie)`, `internal

[2016-11-12 23:00] MichalStrehovsky commented on #2194
Related: dotnet/corefx#13624.

[2016-11-12 23:44] jkotas commented on #2194
This does not sound that bad to me. The GC is really good at getting rid of the short-lived garbage. I doubt that getting rid of these allocations will make anything materially faster.

What are the top call sites of the GetMethods/GetFields methods? I would expect most of them to come from resolving method and fields references - it may be interesting to special case it for the common cases. E,g.

[2016-11-13 00:16] MichalStrehovsky commented on #2194
The number of allocations is in the same bucket as what `NameMangler` produces with all the strings and `ImmutableDictionaries` - it basically overshadows everything else. Those two alone account for about a third of all allocations. Even if GC can do this efficiently, the best way to speed it up is to not give it any work. I still think it will be worth going after this.

A lot of the calls comes

[2016-11-13 00:38] jkotas commented on #2194
I agree that we should not be ignoring it, but introducing a custom IEnumerable equivalent would be choice of the last resort for me.

`MethodDesc.GetMethod` does not do what virtual resolution needs, and so it needs to enumerate all methods instead. If this is the top one, the fix should be to adjust `MethodDesc.GetMethod` so that it works for virtual method resolution.

[2016-11-14 00:08] #2092 closed

[2016-11-14 05:43] AlexRadch opened #2201 "Fast append or insert StringBuilder into other StringBuilder"
Hello,
I think for fast strings processing, StringBuilder should have fast methods to append and insert other StringBuilder.

Now when I gather string from many parts, I gather each part into separated StrindBuilder (for example in different threads for speed) and then when I gather all parts to one StringBuilder, the standard library made many copy operations to convert each StringBuilder to stri

[2016-11-14 05:51] jkotas commented on #2201
corefx is the right repo to track this issue. Duplicate of https://github.com/dotnet/corefx/issues/13639.

[2016-11-14 05:51] #2201 closed

[2016-11-14 09:13] mjsabby opened #2202 "Add ObjectNodeKind to each ObjectNode derived type"
As part of accomplishing #2062 I've done some changes locally to get both Cpp and RyuJit code generators out of the core compiler and before I proceed to do more invasive changes (not very), thought I'd share one so we can discuss it.

Basically ObjectNode and its derived symbols are used from the Cpp/RyuJit code writers. But almost exclusively it is only to check their type to do some conditional

[2016-11-14 13:46] jkotas commented on #2202
Could you please list these problematic places?

It is not clear to me whether introducing ObjectNodeKind property is the right way to solve this problem.

[2016-11-14 14:25] jkotas commented on #2202
Marker interfaces may be better.

[2016-11-14 17:20] mjsabby commented on #2202
One example is here. Marker interfaces are fine too, but it's quite apparent we're just trying to find the kind of node, that's why my inclination. I'll try the marker approach first to see how the changes look like.

[code]

[2016-11-14 17:33] jkotas commented on #2202
Most of these are workarounds for deficiencies in CppCodeGen. They should go away eventually. It would be ok to change them to node.GetType().ToString() and check for the particular type names as strings.

[2016-11-14 17:39] mjsabby commented on #2202
Ok.

[2016-11-14 20:20] sandreenko opened #2206 "support correct debug info for an IL instruction with no body followed by Epilog"
CoreCLR has the special case for two symbols with the same nativeOffsets, when one of them is Epilog or Prolog.

We meet this case in JIT\Directed\ExcepFilters tests (with checked mode) and should process it properly in CoreRT.

[2016-11-14 20:26] sandreenko commented on #2206
#2176

[2016-11-14 21:06] #270 closed

[2016-11-14 23:51] sandreenko commented on #2206
There was no found any cases of using map from native offsets to IL offsets as multimap.
Algorithms in

use the first entrée.
It means that the correct fix is to ignore all further entry with the same native offset.

[2016-11-15 00:52] #2206 closed

[2016-11-15 06:22] MichalStrehovsky opened #2210 "Nullref in GenTreeStmt::GenTreeStmt(GenTreePtr expr, IL_OFFSETX offset)"
Compile following with shared generics enabled (`--usesharedgenerics`):

[code]

On CoreCLR we don't attempt to do the inline.

NGenDump: [ngendump.txt](https://github.com/dotnet/corert/files/591202/ngendump.txt)

Stack at the time of nullref (expr was null):
[code]

[2016-11-15 07:26] AndyAyersMS commented on #2210
Just a guess from reading the code -- it looks like the inliner is trying to prepend code to call a shared cctor, and the responsible section of `fgInlinePrependStatements` is not expecting that the transitively called `getReadyToRunHelper` jit interface method might return false and so cause a nullptr to bubble up through `impReadyToRunHelperToTree` and `fgGetSharedCCtor`.

Other callers of `impR

[2016-11-16 19:11] MichalStrehovsky opened #2222 "Shutdown hang when running CoreCLR tests"
After running the [CoreCLR KnownGood](https://github.com/dotnet/corert/blob/master/Documentation/how-to-run-tests.md) test set, I regularly see a few tests hanging on shutdown (`_il_dbglcs_ulong`, `_il_rellcs_ulong`, `_speed_dbglcs_ulong`, `_speed_rellcs_long`, `_speed_rellcs_ulong` are those that were left hanging this time). The tests time out and the test harness conveniently leaves them spinni

[2016-11-16 19:13] MichalStrehovsky commented on #2222
Worth pointing out that this is not deterministic. If I just go and run the same EXE manually, it finishes fine.

[2016-11-17 23:26] MichalStrehovsky commented on #2194
That will expose the problem with virtual methods injected by the type system and the philosophical conflict of `GetMethod`/`GetMethods` only ever operating on methods defined in the metadata.

[2016-11-18 03:28] jkotas commented on #2194
I think `FindMatchingVirtualMethodOnTypeByNameAndSig` can go through the same indirection as GetAllMethods so that there is a place to inject any extra ones if necessary.

(I assume that the bottleneck is coming from https://github.com/dotnet/corert/blob/488486065d532cf8d6b3e5bb8fcf787f7f0da483/src/Common/src/TypeSystem/Common/MetadataVirtualMethodAlgorithm.cs#L280.)

[2016-11-21 20:56] #2210 closed

[2016-11-21 22:50] jkotas opened #2241 "Reorganize DLL imports"
corefx switched back to PInvokes using classic Windows .dll names: https://github.com/dotnet/corefx/pull/13440

We should do the same for CoreRT.

[2016-11-22 19:03] MichalStrehovsky opened #2245 "Support for arrays with non-zero lower bounds"
Low priority. Not exposed from any of the mainstream .NET languages.

The work would likely span:

* System.Private.CoreLib support
* Type system support
* Compiler support
* Support in the reflection metadata format
* Support in the native layout metadata format
* Runtime type loader support

[2016-11-22 19:28] MichalStrehovsky commented on #383
Does "checked build" have any meaning outside of the Windows world? `--optimize` or `-O` to enable optimizations would be my preference. It's how the rest of the world calls this switch.

[2016-11-22 21:59] jkotas commented on #383
Agree. No need to teach everybody what "checked build" means.

[2016-11-23 20:41] MichalStrehovsky opened #2253 "Support for throwing exceptions not deriving from System.Exception"
The ECMA-335 standard (and the CLR) allows this, but no mainstream .NET language can throw something that doesn't derive from `System.Exception`.

We would also need to implement `RuntimeCompatibilityAttribute.WrapNonExceptionThrows`.

CoreRT will FailFast if a program attempts to do this instead.

[2016-11-23 20:41] MichalStrehovsky commented on #2253
Aaaaand closing as Won't fix. Just needed an issue number that I can refer to. We thought about it, and the value is dubious.

[2016-11-23 20:41] #2253 closed

[2016-11-23 21:28] MichalStrehovsky opened #2254 "FailFast: (InternalError): Runtime internal error"
`JIT\Directed\FaultHandlers\Nesting\Nesting` test is hitting an issue with calling finally funclets:

[code]

The disassembly at the `TEST__Main` frame looks like this:

[code]

We ended up calling 4 bytes before what we were supposed to call. The hardware exception being thrown is `0xC000001D: Illegal Instruction`.

[2016-11-23 22:28] MichalStrehovsky opened #2255 "Accessing localloc variables from catch blocks"
Leads to an AV in the `catch`:

[code]

I haven't actually validated that each test has the same root cause, but from the names and failure mode, I would assume so.

[2016-11-23 22:52] MichalStrehovsky opened #2256 "Marshal.GetExceptionForHR not setting HResult property"
`Interop\MarshalAPI\GetExceptionForHR` is failing.

[code]

[2016-11-23 22:59] MichalStrehovsky opened #2257 "AV in nested try/catch/try/throw exception handling"
I don't know how to name this bug, but this is a regular C# test, no IL weirdness.

[code]

[2016-11-23 23:08] MichalStrehovsky opened #2258 "Type system shouldn't allow overlapping reference and value type fields"
We need to detect this when computing the type layout.

[code]

Affected test:
[code]

[2016-11-24 00:53] MichalStrehovsky opened #2262 "Object synchronization method was called from an unsynchronized block of code"
Something is not right in the way we run class constructors.

I looked at the first and this is around handling cctors that throw exceptions. Could be EH related. We have lots of EH bugs.

[code]

[2016-11-24 01:43] MichalStrehovsky commented on #912
I assume frozen string make this unnecessary.

[2016-11-24 01:43] #912 closed

[2016-11-24 01:44] MichalStrehovsky commented on #511
"Basic reflection" is done.

[2016-11-24 01:44] #511 closed

[2016-11-24 16:00] jkotas commented on #2254
The catch funclets end with something like:

[code]

The `<address to continue>` in the final image is off by a couple of bytes in some cases. The problem is that recordRelocation on the JIT-EE interface does not do what RyuJIT expects it to do.

[2016-11-24 16:01] jkotas commented on #2262
Likely dup of https://github.com/dotnet/corert/issues/2254

[2016-11-24 16:02] jkotas commented on #2257
Likely dup of Likely dup of https://github.com/dotnet/corert/issues/2254

[2016-11-25 02:16] jamesqo opened #2268 "Port new string.Join overloads"
Everything from dotnet/coreclr#7942 needs to be ported to this repo. I nearly forgot, so opening a tracking issue for it.

[2016-11-26 00:46] #2222 closed

[2016-11-27 00:12] #2254 closed

[2016-11-27 08:20] jkotas commented on #2255
Mismatch in conventions for PSPSym. Likely needs to be fixed in RyuJIT.

[2016-11-27 08:23] jkotas commented on #2257
Fixed via #2254

[2016-11-27 08:23] #2257 closed

[2016-11-28 18:17] MichalStrehovsky commented on #1497
Actually, let's keep this open for tracking. Interop is progressing slower than I would want to see.

[2016-11-28 19:00] MichalStrehovsky opened #2272 "Support P/invoke imports that don't declare the calling convention"
`Internal.TypeSystem.PInvokeMetadata.GetUnmanagedCallingConvention` will throw if the calling convention is not specified, but on the CLR (`PInvokeStaticSigInfo::InitCallConv`) there's some logic that tries to get the unmanaged signature from the method signature (why?), and if it fails, defaults to `cdecl`/`stdcall` depending on whether it's a vararg method.

Affected tests:

[code]

[2016-11-29 17:24] #2255 closed

[2016-11-30 00:57] MichalStrehovsky opened #2279 "Emit type forwarders into reflection metadata"
Need to come up with a mechanism to emit type forwarders into reflection metadata (so that you e.g. can `Type.GetType("System.Object, System.Runtime")` in addition to `Type.GetType("System.Object, System.Private.CoreLib")`.

On Project N, we emit all the forwarders for all types we generate metadata for. We also look for forwarders in all assemblies we load. On CoreRT, there's this distinction bet

[2016-11-30 01:19] sandreenko commented on #1461
Can anybody compile next program on OSX:
`internal class Program
{
    static unsafe int Main()
    {
        int bufferSize = 10;
        char* tmpBuffer = stackalloc char[bufferSize];
        return tmpBuffer[0];
    }
}`
with --codegenopt NgenDump=Main  and paste output here?

[2016-11-30 01:26] MichalStrehovsky opened #2280 "`newarr [mscorlib]System.Void` should throw InvalidProgramException"
We currently throw `TypeLoadException` about `IEnumerable<void>` for this.

Note it's not enough to add this to `CheckCanGenerateConstructedEEType` because the validation of interfaces runs in the base constructor (`EETypeNode`), before we run the constructor for the `ConstructedEETypeNode` that calls `CheckCanGenerateConstructedEEType`.

We might want to finally untangle `EETypeNode` from being t

[2016-11-30 01:31] jkotas commented on #2280
I think this behavior is just fine. No need to be bug for bug compatible with CoreCLR for every corner case. I would fix the CoreCLR test to accept TypeLoadException as well.

[2016-11-30 01:46] MichalStrehovsky opened #2281 "The check for consistent layout across inheritance chain needs tweaks"
This code was copied from NUTC, but there's a CoreCLR test that does just this (`Loader\classloader\generics\Layout\General\Base01d_seq_ser`) that passes on CoreCLR.

This will also need fixing in NUTC.

The problem is with the `Note:` part of the comment.

[code]

[2016-11-30 01:57] MichalStrehovsky opened #2282 "Add support for tests that use EXE as a library"
[code]

I don't think there's a good reason and this was just test writer's laziness. We could also just fix the tests, but maybe we should make sure ILC can support this anyway (I think we still have some arbitrary IsExe checks).

[2016-11-30 03:44] jkotas commented on #1461
Here you go: [ngendump.txt](https://github.com/dotnet/corert/files/620903/ngendump.txt)

[2016-11-30 03:46] jkotas commented on #1461
If you do not have a Mac, I can borrow you mine for a few days to debug this.

[2016-11-30 04:55] sandreenko commented on #1461
I have one, but brew was installed not on mine account and I have some troubles when I need to install something new. We will fix it tomorrow.

[2016-11-30 07:15] MichalStrehovsky commented on #2146
This was fixed in #2248.

21 MB Generics.exe test is now just 6 MB. 🎉

[2016-11-30 07:15] #2146 closed

[2016-11-30 15:23] jkotas commented on #2262
This is caused by duplicated clauses emitted by the JIT. They cause the finally blocks to be executed twice in this case. The duplicate clauses are not needed by CoreRT and the codegen should not emit them.

[2016-11-30 20:16] svick opened #2286 "Reflection test hardcodes decimal point as a separator and fails certain locales"
When I run `build.cmd`, the end of the output is:

[code]

[The documentation](https://github.com/dotnet/corert/blob/master/Documentation/how-to-run-tests.md#test-logs) says to look into `bin\Logs`, but I don't see any failing test logs there.

I did find `bin\tests\testResults.xml`, which says:

[code]

But again, I didn't find any logs at or near the suggested path.

The same thing happens when

[2016-11-30 21:54] MichalStrehovsky commented on #2286
The way to troubleshoot this is to go to `\tests\src\Simple\Reflection\bin\Debug\native` (if you build Debug, that is) and locate `Reflection.exe`. Then run it under a debugger (you can open the EXE in VS as a "solution", then open `tests\src\Simple\Reflection\Reflection.cs` and set a breakpoint on line 142, and hit F5). The test doesn't log much more than this.

This will be something specific to

[2016-11-30 22:01] jkotas commented on #2286
I suspect that it is another one of those test bugs that only fail with Czech locale...

[2016-11-30 22:04] MichalStrehovsky commented on #2286
Oh. Totally my fault. I should know better than to hardcode '.' as a decimal separator...

[2016-11-30 22:35] MichalStrehovsky opened #2290 "Exception.GetClassName formats type names in an incompatible way"
We have tests that expect `typeof(GenException<Foo>).ToString()` will be a substring of the exception's `ToString()` string.

Except `Type.ToString` will use `[` and `]` to surround the generic arguments, but `Exception.GetClassName` will end up with `<` and `>` (because of the way it attempts to provide a name at all costs).

The CLR-compatible behavior is to use `[` and `]`.

[2016-11-30 22:49] sandreenko commented on #1461
// UNWIND_X86_MODE_EBP_FRAME:
//    EBP based frame where EBP is push on stack immediately after return address, 
//    then ESP is moved to EBP. Thus, to unwind ESP is restored with the current 
//    EPB value, then EBP is restored by popping off the stack, and the return 
//    is done by popping the stack once more into the pc.
//    All non-volatile registers that need to be restored must hav

[2016-11-30 23:50] #2286 closed

[2016-12-01 03:41] sandreenko commented on #1461
Due to [apple sources](https://opensource.apple.com/source/libunwind/libunwind-35.3/include/mach-o/compact_unwind_encoding.h):

So possible solutions are:
1) Don't use compact info (my favorite one);
2) Change RyuJit (only for ReadyToRun and Mac OSX?) and emit push rbp; mov rbp, rsp;
3) Generate both compact and standart unwind info.
PTAL @dotnet/jit-contrib

[2016-12-01 05:35] jkotas commented on #1461
I think we should go with 2 - change it for CoreRT ABI on Unix (or maybe even CoreCLR on Unix).

The currently generated prolog does not look particularly pretty:

[code]

Instead, we should generate:

[code]

It is both more efficient smaller code, and works with the compact unwind info.

[2016-12-01 06:29] #2262 closed

[2016-12-02 07:40] christianscheuer opened #2295 "EXC_BAD_ACCESS in StringBuilder called by StackTraceHelper.FormatStackTrace"
I get an access violation in StringBuilder.Append when calling Exception.ToString() from a catch handler in a multithreaded environment. Any ideas?
The catch handler is in an async method. Let me know if you would need more info.

[code]

[2016-12-02 09:42] christianscheuer commented on #2144
Is there a workaround for this, to prevent the inlining from taking place? `[MethodImpl(MethodImplOptions.NoInlining)]` doesn't help unfortunately.

[2016-12-02 11:39] jkotas commented on #2295
There are several known missing features for multithreading (thread statics #209, synchronization primitives - #527). They are being worked on. Once we have them, we will be able to stress multithreading via tests that will crashes like this one.

[2016-12-02 16:32] christianscheuer commented on #2295
Thanks @jkotas, sorry for the noise. I'll go ahead and close this one again :)

[2016-12-02 16:32] #2295 closed

[2016-12-02 16:40] jkotas commented on #2144
The proper fix should be like a five line change in RyuJIT. I will try to do it in a next several days.

There is a related problem (https://github.com/dotnet/corert/issues/158) that causes structs on Unix to not be always passed in registers according to the platform calling convention. If you have PInvokes that return structs, you are likely to hit that one too.

[2016-12-05 22:33] tsolarin commented on #2057
Hey @jkotas it's me again 😀. I've been trying to build more complex F# programs with CoreRT and I've run into another error. Whenever I try to print formatted text (e.g. `printf "%b" true`) I get a `FailFast: Runtime internal error` exception. After a bit of debugging and digging through the visualfsharp source code I discovered that formatted text printing was implemented using reflection (especi

[2016-12-06 00:47] jkotas commented on #2057
Where is this runtime internal error coming from?

The simple `Type.GetMethod().Invoke()` should work, as long as the methods are enabled for reflection. We have a very simple set of policies on what to enable reflection on. If you need to enable reflection for specific methods, you can list them in rd.xml file and then pass the path to the file using rdxml command line option. It should get you u

[2016-12-06 02:33] MichalStrehovsky commented on #2057
Yes, the rule is that if the method is statically reachable in the callgraph, *and* the type that owns the method was allocated (with a `new` or at least referenced with a `typeof`), it should be reflection-callable. If that's not the case, `GetMethod` will just give you null, as if the method wasn't there.

You can force the type and all of it's methods to be generated through RD.XML if the above

[2016-12-06 19:33] tsolarin commented on #2057
Hi @jkotas thanks for pointing out the rdxml workaround I'll give it a shot. @MichalStrehovsky here's the callstack at the time of failfast:

[code]

For further investigation here's the simple F# program I compiled:

[code]

[2016-12-06 22:43] KittyMac commented on #1959
@jkotas @christianscheuer

I stumbled across this ticket because the instructions at https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-console-shell-prompt.md no longer appear to work.  Such as "dotnet build3" complaining because dotnet-build3 doesn't exist.  Even the first command "dotnet new --type MsBuild" is no longer accurate.

I would very much lov

[2016-12-06 23:18] sandreenko opened #2302 "Codeview DebugInfo for primitive types"
It is part of the issue #784.
It covers types that don't require to create new types in debug info.

[2016-12-06 23:20] sandreenko opened #2303 "Codeview DebugInfo for user defined non-generic types"
It is part of the issue #784.
It covers types that require to create user defined type section, but don't use .Net generics types.

[2016-12-06 23:22] sandreenko opened #2304 "Codeview DebugInfo for generic types"
It is part of the issue #784.
It covers types that require to create user defined type section and use .Net generics types.
It was proposed to reuse Bartok experience here, but it looks like a big deal.

[2016-12-07 02:39] morganbr commented on #2241
We need to understand how this will affect using these libraries on Windows Server Core and in UWP applications.

[2016-12-07 04:02] sandreenko commented on #1461
There are actually two problems here:
1) warnings for method with non standard rbp frame;
2) broken non-compact unwind info.

So unwind info should be available and correct for all methods even with this warnings. I think a fix will hide the second problem and maybe it is better to create another issue about broken non-compact unwind info.

[2016-12-07 06:30] jkotas commented on #1959
@KittyMac Thank you for reporting the outdated instructions. I have started PR to get them updated: https://github.com/dotnet/corert/pull/2305. Right now, it fails with msbuild error after building the native binary. I will look into it tomorrow.

[2016-12-07 16:50] #2144 closed

[2016-12-08 01:44] MichalStrehovsky opened #2311 "Disallow allocation of incomplete types"
* Allocating abstract types should result in an `InvalidOperationException` (we don't check for it right now)
* Allocating non-abstract types that still have abstract methods should be a `TypeLoadException`

There might be more.

[2016-12-08 01:48] MichalStrehovsky opened #2312 "Disallow allocation of types that don't meet constraints"

[2016-12-08 07:26] christianscheuer commented on #2110
Hi @SedarG @joshfree. Is there any news on this?

[2016-12-09 01:58] jkotas commented on #1461
Need to get RyuJIT updated.

[2016-12-09 19:27] #1461 closed

[2016-12-09 19:27] jkotas opened #2321 "macOS: Could not create compact unwind for XXXX: does not use RBP or RSP based frame warnings"
The hypothesis from https://github.com/dotnet/corert/issues/1461#issuecomment-264083341:

The currently generated prolog does not look particularly pretty:

[code]

Instead, we should generate:

[code]

It is both more efficient smaller code, and works with the compact unwind info.

[2016-12-09 19:30] #2302 closed

[2016-12-09 19:48] sandreenko commented on #2321
We don't need to change prolog generation.
ld works fine with the current one, it checks only offsets and doesn't care about instructions types and order.
The problem is that morning build of RyuJit didn't include my commit, I am trying to understand why.
I don't see this warning on my local mac with my RyuJit, but I see them with the last RyuJit from nuget.

[2016-12-09 21:53] sandreenko commented on #2115
Where is this TODO?

[2016-12-09 21:55] jkotas commented on #2321
Fixed by https://github.com/dotnet/corert/pull/2323

[2016-12-09 21:55] #2321 closed

[2016-12-09 21:59] jkotas opened #2324 "macOS: Warning: can't parse dwarf compilation unit info"
The linker is still producing this warning on macOS that may be worth understanding and fixing.

[2016-12-09 22:04] jkotas commented on #2115
https://github.com/dotnet/corert/blob/cac5d0efe2783ebf81b17143d797ea1540dd9bbb/src/Native/Runtime/windows/CoffNativeCodeManager.cpp#L325
https://github.com/dotnet/corert/blob/cac5d0efe2783ebf81b17143d797ea1540dd9bbb/src/Native/Runtime/unix/UnixNativeCodeManager.cpp#L148

[2016-12-14 02:15] MichalStrehovsky opened #2342 "Virtual resolution and dispatch with runtime lookups"
On Project N, resolving a method on an interface (`ldvirtftn`), and calling a method on an interface (`callvirt`) in shared generic contexts (where the target depends on the context) is implemented by embedding a pointer to the virtual dispatch cell in the generic dictionary.

The sequence to call an interface method consists of:

1. Loading the `this` pointer in Arg0 register
2. Loading the gener

[2016-12-14 11:03] radu-matei commented on #541
Hi, everybody!

Did any of you continued working on running .NET on top of a unikernel?

Thanks!

[2016-12-14 22:58] MichalStrehovsky opened #2348 "Unhandled HW access violation raised instead of NullReferenceException"
[code]

RyuJIT seems to be generating the same code as on CoreCLR (no explicit null check). We either diverge in how we do the write barrier (I couldn't find the spot though), or how we translate HW AV exception with a very low (but non-null) address.

[2016-12-14 23:32] janvorli commented on #2348
Is this on Windows or Unix? On Unix, when we get SIGSEGV, we check if the address is below 4KB and if it is, consider it null reference. On Windows, this area is 64kB. Just search the sources for NULL_AREA_SIZE to see.

[2016-12-14 23:41] MichalStrehovsky commented on #2348
This is on Windows. Seems like the translation doesn't kick in.

[2016-12-15 00:23] jkotas commented on #2348
This is only a problem for debug builds of the runtime. The `RhpAssignRefAVLocation` here: https://github.com/dotnet/corert/blob/26413145abcbdd49468db230a6f29784494f6f46/src/Native/Runtime/EHHelpers.cpp#L318 is not the actual AV location in asm code. It is pointer to a jump stub inserted by the linker... .

[2016-12-15 00:49] MichalStrehovsky opened #2349 "Dynamic invoke stub for method taking 8192 parameters won't compile"
This is for stubs to reflection-invoke the method.

Hits an assert `JIT doesn't support offsets larger than 65535 into valuetypes`.

We should probably find out what the limit is and just not generate such stubs. On Project N, we actually limit number of parameters of a reflection-invokable method to 255 due to MDIL file format limitations.

Affected test:
[code]

[2016-12-15 01:06] MichalStrehovsky opened #2350 "Disallow allocation of types with bogus virtual overrides"
[code]

For additional fun point, these can throw `MissingMethodException` or `TypeLoadException` depending on when CLR catches it. The natural option for us is to use `MissingMethodException`. We need to update one of the tests.

[2016-12-15 01:22] MichalStrehovsky opened #2351 "Non-virtual calls to abstract but MethodImpl'd methods"
[code]

Apparently, doing a *non-virtual* call to an abstract method that has a MethodImpl on the same type should land on the MethodImpl.

This might be related to leftover work in #366. The CoreCLR sources seem to suggest we should have the same behavior for `jmp method`.

[2016-12-15 01:27] MichalStrehovsky commented on #2348
I assume we would want this to work on debug builds too - do we want to e.g. add a `#if DEBUG` piece that can optionally disassemble the target of the first instruction?

[2016-12-15 01:48] jkotas commented on #2348
Agree - we want to make this work on debug builds too. Not sure about the best way yet...

[2016-12-15 21:13] MichalStrehovsky opened #2354 "Incompatible behavior GC.Collect"
[code]

I haven't spent much time investigating this since this is GC and I know nothing about GC. For the first test for example the output on CoreRT is:

[code]

On CoreCLR it is:

[code]

[2016-12-15 21:32] MichalStrehovsky opened #2355 "InteropExtensions.MightBeBlittable is only an approximation"
[code]

This is failing a GC pinning test. We also track this as 252099 on the TFS side. The bug number in the above code is for the old bug database and it was resolved as fixed (?!) and closed by a service account.

[2016-12-15 22:26] MichalStrehovsky opened #2357 "RhUnbox2 lacks a type check"
E.g. the `JIT\Generics\Conversions\Reference\gentogen03` test is failing because we can unbox a boxed struct `Gen<int>` into a location of type `Gen<string>`.

[2016-12-15 23:05] MichalStrehovsky opened #2358 "Variant interface method resolution"
[code]

We end up not resolving a constrained interface call at compile time, which leads to boxing and failing the test.

[2016-12-15 23:57] MichalStrehovsky opened #2359 "Did not expect to collide with a 1st-pass ExInfo during a EH stackwalk"
Affected test:

[code]

The test seems to have two nested try blocks with the inner one being filtered.

[2016-12-16 18:48] MichalStrehovsky opened #2362 "CORINFO_FLG_OVERLAPPING_FIELDS and CORINFO_FLG_CUSTOMLAYOUT not reported"
`getClassAttribs` should report both.

We might want to compute the answer to `CORINFO_FLG_OVERLAPPING_FIELDS` in the field layout algorithm.

[2016-12-16 19:39] jkotas commented on #2362
I think it should be good enough to just return both these flags for any struct with explicit layout.

These flags are poorly defined/buggy and they do not reflect what the codegen needs. The JIT has workarounds and ignores these flags in some cases, and instead computes what it actually needs by enumerating the fields.

[2016-12-16 20:15] jkotas opened #2364 "Synchronized methods"
https://github.com/dotnet/corert/blob/824667876313056eb7af0666fbe9d0a5b4dece1c/src/JitInterface/src/CorInfoImpl.cs#L644

[2016-12-16 21:19] MichalStrehovsky opened #2365 "Stack overflow in variant interface casting"
This reproes with .NET Native for UWP. Not a compiler issue.

[code]

[2016-12-16 21:21] MichalStrehovsky commented on #2365
We should also add a test case to the type system `CanCastTo` logic and fix it there too if it reproes.

[2016-12-16 21:52] MichalStrehovsky opened #2366 "Disallow allocation of delegate types with bad variance"
[code]

We should also revise the test. I'm not actually sure if it's testing everything it expects to be testing (I would expect we can fail to JIT `LoadTypeInternal` even if just one of these gets detected as bad).

[2016-12-16 22:12] MichalStrehovsky opened #2367 "Ambiguous interface method resolution"
[code]

Didn't bother to find out what ECMA-335 corner case this exploits...

[2016-12-16 22:15] MichalStrehovsky opened #2368 "Disallow loading of types that override an override"
[code]

[2016-12-16 22:22] MichalStrehovsky opened #2369 "InvalidCastException doesn't include type names"
Instead of `Unable to cast object of type 'System.Object' to type 'IFoo'.`, we have `Specified cast is not valid.`.

[2016-12-16 22:23] MichalStrehovsky commented on #2369
This is by design. The metadata with type names can be removed from the executable image to save space. We only have it sometimes and it's better to be consistent.

[2016-12-16 22:30] MichalStrehovsky commented on #657
There are CoreCLR tests that test module constructors and among other things, they test module constructors throwing exceptions.

We won't be able to get those tests passing if we assume all module constructors run as part of the startup path - we might need something more lazy. Injecting a synthetic class constructor that runs the module constructor to all types in a module with an initializer mi

[2016-12-16 22:37] jkotas commented on #2369
This is in the same category as getting good stacktraces for exceptions. I agree that this should not work in the maximum optimization mode, but it should work in the diagnostics friendly mode, e.g. if the data for good exception stacktraces are included, this one should work too.

[2016-12-16 22:45] jkotas commented on #657
I think it is fine to run module cctor eagerly and not have these tests passing. The timing of the module constructors is not particularly predictable even in CoreCLR because of it depends on when the assembly gets loaded.

[2016-12-16 23:10] MichalStrehovsky opened #2370 "Support explicit default constructor for structs"
We don't really run these. E.g. `Array.Initialize` will not run them.

[2016-12-17 05:33] jkotas opened #2375 "Static synchronized methods in shared generic code"
The codegen syncroot of static synchronized methods in shared generic code depends on method handles. It should be fixed to be a dictionary lookup of the owning type instead to work well for CoreRT.

https://github.com/dotnet/coreclr/blob/466fc3252f78619612a2da8d21787460b2d94c0d/src/jit/flowgraph.cpp#L7505

[2016-12-17 10:12] jkotas commented on #2369
I would keep this one open in the future milestone.

[2016-12-17 11:28] nat42 opened #2377 "Windows Build Instructions Not Working - Missing Steps?"
I don't really want to build CoreRT, I just wanted to try a pre-built version of the ILCompiler on a project I am working on, but there doesn't seem to be a pre-built version for download so I tried following the instructions to build.

First issue, compiling on the commandline using build.cmd, the path to the project can not contain spaces; moved project to root of the drive as suggested. Second

[2016-12-17 16:48] jkotas commented on #2377
Could you please share some details about your system? Windows OS version, any unusual configuration settings?

The Visual Studio solutions only work once the repo is built successfully at least once.

[2016-12-17 16:57] jkotas commented on #2354
These tests fail because of we are using conservative GC reporting currently. The tests expect the objects to be collected, but some conservative root keeps them alive.

[2016-12-17 17:01] nat42 commented on #2377
Win10 Home 64bit, nothing unusual that comes to mind.... hmm, I'm not especially setup for Dotnet Core builds, just used the VS2015 tooling, oh and I choose CMake's recommended option of not adding itself to the PATH environment variable...

[2016-12-17 18:22] #2364 closed

[2016-12-17 19:09] jkotas commented on #2377
This is the problem. I am able to reproduce the same error when I download the zip. Windows has some kind of feature that prevents scripts download from internet to be executed.

There was similar issue opened in CoreCLR a while ago https://github.com/dotnet/coreclr/issues/1172. The suggestion was to use `-ExecutionPolicy bypass`, but the fix was not actually made.

[2016-12-17 20:03] #2377 closed

[2016-12-17 20:17] jkotas commented on #2377
@nat42 Please give it a try - I have verified that the zip builds fine now.

[2016-12-18 07:41] jkotas opened #2380 "Don't allow allocating "necessary" EETypes"
Complex variant casts do not work as expected. CoreCLR tests:

Loader\classloader\generics\Variance\IL\IsInst004\IsInst004.*
Loader\classloader\generics\Variance\IL\Unbox004\Unbox004.*

[2016-12-19 02:11] wjk opened #2381 "Question: Cross-compiling guidance"
I understand that CoreRT can currently only be built with Visual Studio 2015. However, I am using Visual Studio 2017 RC for my projects, because of its updated support for .NET Core projects. I am hesitant to mix-and-match runtime support libraries (and, theoretically, the CoreRT output itself) built using VS2015's version of CL, and a manually written C++-based entry point built using VS2017's ve

[2016-12-19 06:28] jkotas commented on #2381
In theory, it should work. In practice, mixing different C/C++ compiler versions is sometimes painful

The build scripts does not have support for building with VS2017. We will be happy to take PR add such support. Since VS2017 is not released yet, it should be under a switch, e.g. `build.cmd vs2017` will build using VS2017.

Here is similar change in CoreCLR repo that added VS2015 support some ti

[2016-12-19 06:32] jkotas opened #2383 "Support building with VS2017"
Since VS2017 is not released yet, it should be under a switch, e.g. build.cmd vs2017 should build using VS2017.

Here is similar change in CoreCLR repo that added VS2015 support some time ago to address the same problem: dotnet/coreclr#822

[2016-12-19 06:34] jkotas commented on #2383
@wjk Are you interested in doing this work?

[2016-12-19 06:37] #2357 closed

[2016-12-19 06:41] wjk commented on #2383
@jkotas I would be flattered to.

[2016-12-19 16:19] #2348 closed

[2016-12-19 16:31] AndyAyersMS commented on #2381
I believe RyuJit is not able to cross-target if the pointer size differs between the host and target. So when/if you get closer to enabling cross-targeting we'll need to fix a bunch of assumptions in the code.

[2016-12-19 20:03] jkotas opened #2388 "Port TimeZoneInfo cleanups from CoreCLR"
https://github.com/dotnet/coreclr/pull/8512
https://github.com/dotnet/coreclr/pull/8513
https://github.com/dotnet/coreclr/pull/8526
https://github.com/dotnet/coreclr/pull/8527
https://github.com/dotnet/coreclr/pull/8528
https://github.com/dotnet/coreclr/pull/8529
https://github.com/dotnet/coreclr/pull/8530
https://github.com/dotnet/coreclr/pull/8540
https://github.com/dotnet/coreclr/pull/8575

[2016-12-19 20:08] jkotas commented on #2388
cc @tarekgh @DnlHarvey

@justinvp Would you like to take care of these ports?

[2016-12-19 20:11] tarekgh commented on #2388
@DnlHarvey could you please help with the port?

[2016-12-19 21:51] crummel opened #2389 "Change build pipeline to have a publish pipeline step instead of publishing legs separately"
From https://github.com/dotnet/corert/pull/2325, we are currently publishing packages from each leg of the pipeline build separately.  CoreFx and CoreCLR publish packages by pushing the artifacts from each leg into Azure storage, and then having a separate publish build to push to MyGet and the versions repo.  This is the preferred approach because it eliminates the duplicate NuGet.exe tasks from

[2016-12-19 21:53] crummel commented on #2389
Estimate - probably one day of actual work, but back and forth to set up Azure Storage accounts, etc might take a bit - say two or three days total.

[2016-12-20 03:30] wjk opened #2392 "Virtual method use optimization doesn't work for calls that are not through the declaring slot"
I am using some minimal reflection in my (closed-source) app to implement `System.Resources.ResourceManager`. The use of reflection is limited to the following calls:

* `Type.GetTypeInfo()`
* `TypeInfo.Assembly` getter
* `Assembly.GetName()`
* `AssemblyName.Name` getter

However, when I try to compile this code with CoreRT, ILC finishes successfully, but the linker gives undefined-symbol errors f

[2016-12-20 04:37] jkotas commented on #2392
This looks like a bug with LazilyBuiltVTableSliceNode. One part of the system believes that TypeInfo.Assembly method is necessary, but other part believes that it is not necessary.

You can try working around this by calling `type(MyProgram).GetTypeInfo().Assembly` at the start of your program. Also, if you can distill this to a repro that you can share with us, we will be happy to take a look?

@

[2016-12-20 05:05] wjk commented on #2392
@jkotas No good. I have added `typeof(Program).GetTypeInfo().Assembly` at the top of my Main method, and it still fails to link.

[2016-12-20 05:06] jkotas opened #2393 "Inlining of runtime details - avoid overhead of R2R helpers for statically linked programs"
CoreRT has been using R2R codegen in RyuJIT that emits call for any runtime details. The runtime details are implemented by R2R helpers emitted by the toolchain. It allowed us to bootstrap quickly without too many runtime-specific changes in the JIT. However, this scheme has overhead that does not make sense for statically linked programs. We should inline the runtime details into the code, and av

[2016-12-20 05:13] jkotas opened #2394 "Optimize JIT helpers"
Many of the JIT helpers in CoreRT have very straightforward implementation in CoreRT. We should look at optimizing them using the same tricks as they are optimized in CoreCLR (e.g. streamlined fast path and fallback slowpath, etc.).

For example, calls to AreTypesAssignableInternal in casting helpers are potential bottlenecks. Discussed in https://github.com/dotnet/corert/pull/2378#discussion_r929

[2016-12-20 05:16] wjk opened #2395 "Implement System.Threading.Thread for CoreRT"
Some of the code in my private CoreRT project references `System.Threading.Interlocked`. My build sequence properly references the copy of `System.Threading.dll` from within the `$(IlcPath)\framework` directory. However, the code that references Interlocked is crashing because it is trying to load an implementation from `mscorlib`.

Inspection using ILDASM reveals that the CoreRT-specific `System.

[2016-12-20 05:20] wjk commented on #2395
I have managed to work around this issue by including the copy of `mscorlib.dll` located within `$(IlcPath)\framework` in my ILC invocation. I will leave this issue open, in case `System.Threading.dll` should be patched. If not, feel free to close this. Thanks!

[2016-12-20 06:11] justinvp commented on #2388
I can take care of porting these. I might not get to it for a few days, though.

[2016-12-20 07:00] jkotas opened #2396 "Absurdly large field offsets"
Blittable, absurdly large field offset, expect TypeLoadException

Loader\classloader\explicitlayout\Regressions\ASURT\ASURT150271\test3.il

[2016-12-20 07:03] #2396 closed

[2016-12-20 07:09] christianscheuer commented on #2395
I am experiencing a possibly related issue, where referencing Thread.Sleep(...) will give a File Not Found exception at runtime. I suspect though that this is due to not yet implemented Unix/OSX PAL work.

[2016-12-20 16:24] tarekgh commented on #2388
thanks @justinvp

[2016-12-21 00:03] sandreenko opened #2401 "Definition ranges for variables in debug info are wrong"
[code]
In the debugger myVar won't be available on the third line (RyuJit with minopts and asm shows that it is alive).
It looks like we emit wrong  offStart value in S_DEFRANGE_REGISTER.

[2016-12-22 04:49] MichalStrehovsky commented on #2392
I have seen linking failures similar to this if there's a generic virtual method (or generic interface method) somewhere in the compiled app. We don't support them yet and the blocking we have in place is subpar. We need a repro, otherwise this is not very actionable.

[2016-12-22 04:58] wjk commented on #2392
@MichalStrehovsky I'll try to create a repro for you sometime tomorrow.

[2016-12-22 04:58] MichalStrehovsky opened #2403 "P/Invoke inlining in unoptimized builds"
I had a quick look at fixing #383 (generate debuggable code).

The main blocker seems to be RyuJIT's reluctance to do inline P/Invokes in debuggable code. There seems to be a check in `impCanPInvokeInline` that kicks in.

[2016-12-22 06:37] wjk commented on #2392
I think I've got a repro. Using a copy of CoreRT as of commit  2c70a97c46c7eaba1df56ce687d8a87682c61fa1 (I am currently using the tip of the PR branch for #2390, but that commit is the last change that affected ILC itself), attempt to compile the following program with ILC:

[code]

I have found that if `TypeInfo.get_Assembly` is referenced anywhere in the program, it will trigger this bug. Let me

[2016-12-22 09:23] MichalStrehovsky commented on #2392
Yup, this helps. This is because `TypeInfo.get_Assembly` was moved to `System.Type` as part of the NetStandard 2.0 work. The compiler expects a `callvirt` to the method on `System.Type`, but sees a callvirt to the one on `System.Reflection.TypeInfo` instead. This is legit IL, but the C# compiler would never have generated it if we were compiling against the NetStandard 2.0 reference assemblies.

W

[2016-12-22 10:28] jkotas commented on #2392
It is a problem for all existing code (nuget libraries in particular) that is compiled against 1.X NetStandard.

[2016-12-23 02:38] #2383 closed

[2016-12-23 20:22] tsolarin commented on #2268
@jamesqo @jkotas I see this has been open for quite a while. I'd love to pick it up.

[2016-12-23 20:44] jkotas commented on #2268
It's yours. Thank you!

[2016-12-23 23:00] jamesqo commented on #2268
@tsolarin @jkotas I forgot to close this issue after fixing it. I have already ported the APIs here: https://github.com/dotnet/corert/pull/2270. Sorry for the confusion.

[2016-12-23 23:00] #2268 closed

[2016-12-23 23:06] jamesqo opened #2407 "Stop using EqualityComparer in ValueTuple once enum.GetHashCode is recognized"
**Description:** Once `enum.GetHashCode` stops being boxed (https://github.com/dotnet/corert/pull/2117) there will no longer be a good reason to use `EqualityComparer` in `ValueTuple`. Everything of the form `EqualityComparer<T>.Default.GetHashCode(x)` should be replaced with `x?.GetHashCode() ?? 0`.

**Related:** https://github.com/dotnet/corert/pull/2117, https://github.com/dotnet/corert/pull/23

[2016-12-23 23:08] jamesqo commented on #2388
Maybe this can be closed? The associated PR was merged.

[2016-12-23 23:21] justinvp commented on #2388
https://github.com/dotnet/coreclr/pull/8512 still needs to be ported in a separate PR

[2016-12-23 23:23] justinvp commented on #2388
@tarekgh, please reopen.

[2016-12-23 23:23] tarekgh commented on #2388
I re-opened it but it would be better to track the porting on corert branch.

[2016-12-23 23:26] justinvp commented on #2388
Not sure what you mean. This issue is in the corert repo for work that needs to happen in corert.

https://github.com/dotnet/coreclr/pull/8512 is the only remaining item to port. It's not a straightforward port like the others as it requires some minor refactoring due to differences in the implementation. I started working on it.

[2016-12-23 23:27] tarekgh commented on #2388
@justinvp never mind.

[2016-12-24 02:04] #2388 closed

[2016-12-24 09:01] tsolarin commented on #2124
@jkotas has dotnet/coreclr#7952 been done yet? (I noticed it's still open). I can work on this since #2268 is already done

[2016-12-24 14:33] jkotas commented on #2124
dotnet/coreclr#7952 has not been done yet.

[2016-12-24 14:40] jkotas commented on #523
I do not see any duplication of PlatformTarget

[2016-12-24 14:40] #523 closed

[2016-12-24 14:53] jkotas commented on #1739
Fixed a while ago

[2016-12-24 14:53] #1739 closed

[2016-12-24 18:41] Clockwork-Muse commented on #2124
I've been waiting to do this until I would be able to run the tests against a live CLR, locally.
It looks like the instructions have been updated, so I'll be trying that soon (quite possibly today).

[2016-12-25 09:24] jkotas opened #2414 "EventSource instrumentation in CoreLib"
CoreCLR has EventSource tracing for many different subsystems: Tasks, ArrayPool, ... . They are WinRT-specific, stubbed out  or otherwise non-existent in CoreRT.

[2016-12-28 16:53] jkotas opened #2419 "Marshal.GetLastWin32Error in CoreLib"
Number of file I/O and similar APIs will move to CoreLib as part of NetStandard2.0 work. The implementation of these APIs depend on Marshal.GetLastWin32Error that is not available in CoreLib today.

The current solution that calls Interop.mincore.GetLastError() cannot be used for this as is because of it only works for APIs with trivial marshaling that won't overwrite the last error. It is not the

[2017-01-03 23:02] sandreenko commented on #2403
To repro this issue run ILC with the referenced pull request. Change CorInfoImpl.cs getJitFlags from flags.Set(CorJitFlag.CORJIT_FLAG_DEBUG_INFO); to CORJIT_FLAG_DEBUG_CODE and you should meet "Who is asking for IL of PInvokeTargetNativeMethod?" assert.

[2017-01-04 00:11] sandreenko commented on #2403
The check is right in the importer.cpp impCanPInvokeInline: (!opts.compDbgCode).

[2017-01-04 00:24] sandreenko commented on #2401
The issue was that RyuJit compiles with optimizations and ignore .csproj settings.
Debug option is covered in the issue 383.

[2017-01-04 00:24] #2401 closed

[2017-01-05 04:25] jkotas commented on #2115
To repro:

- Uncomment the two lines after the TODO
- Compile and run program that just throws unhandled exception: `static int Main() { throw new Exception(); }`

You should see the uncommented assert to be hit.

[2017-01-05 19:04] sandreenko commented on #2403
@AndyAyersMS can you explain why we can't do PInvokeInline with compDbgCode in CoreCLR?

[2017-01-05 19:35] AndyAyersMS commented on #2403
Don't know for sure, but I would guess it's done this way to improve the fidelity of the debugging experience.

I suspect that for CoreRT you can just have `impCanPInvokeInline` always return true, for instance:
[code]

[2017-01-05 21:39] #2290 closed

[2017-01-05 22:27] jkotas commented on #2403
We still want to the impCanPInvokeInlineCallSite legality check to kick in for CoreRT. I think that the logic may be something like this: https://github.com/jkotas/coreclr/tree/CoreRT-PInvoke

@sandreenko Could you please give it a try and see whether it works well?

[2017-01-05 22:43] sandreenko commented on #2403
Yes, I will reproduce the corert logic and check it.

[2017-01-06 00:16] MichalStrehovsky commented on #658
@fadimounir Was this fixed in 4e29f019e860dfcf8ddfee9b47376f76e51af2ae or do we need to keep this open?

[2017-01-06 19:04] fadimounir commented on #658
@MichalStrehovsky this was fixed yes, however the portable version of the thunk pool is still not working (not part of this fix).
We can c;lose this issue and track the portable version in another issue.

[2017-01-06 19:04] #658 closed

[2017-01-06 19:48] jkotas opened #2454 "Consider replacing PInvokeEmitterConfiguration with abstract PInvokePolicy"
https://github.com/dotnet/corert/pull/2450#issuecomment-270987799

[2017-01-07 00:21] MichalStrehovsky opened #2457 "[Port] Event tracing in the runtime"
`rheventtrace.cpp`, `eventtrace.cpp` only exist on the TFS side.

This is used to e.g. implement `RhpEtwExceptionThrown` that is used to generate tracing events when managed exceptions are thrown.

For now, this issue tracks both porting the files to git, and also making them crossplat. We can split the crossplat part off later.

When this is fixed, remove `CORERT-TODO: RhpEtwExceptionThrown` in `

[2017-01-07 05:17] jkotas commented on #2395
The mscorlib references are gone now. @AntonLapounov is working on Thread.Sleep and other Thread APIs.

[2017-01-07 05:32] #2147 closed

[2017-01-07 14:46] jkotas opened #2462 "NotImplementedException: canSkipMethodVerification"
CoreCLR tests:
[code]

[2017-01-07 14:49] jkotas opened #2463 "Main method missing in textual stacktrace"
CoreCLR tests:
[code]

[2017-01-07 19:48] Fabi commented on #2147
Without cpp codegen it works fine for me, thanks!

With cpp:

[2017-01-07 20:03] jkotas opened #2466 "[CppCodegen] Simple file I/O does not work"
Forked from https://github.com/dotnet/corert/issues/2147#issuecomment-271105629

Repro:

[code]

With CppCodeGen, it fails with:

C:\Users\Fabian\Documents\Development\nativetest\Program.cs(109752): error C2440: 'initializing': cannot convert from 'System_Private_CoreLib::System::Threading::NativeOverlapped *' to 'intptr_t' [C:\Users\Fabian\Documents\Development\nativetest\nativetest.csproj]
C:\Us

[2017-01-07 20:06] jkotas commented on #2466
This one should be easy one to fix. https://github.com/dotnet/corert/blob/master/src/ILCompiler.Compiler/src/CppCodeGen/ILToCppImporter.cs is the place to look to get it fixed.

[2017-01-07 20:07] jkotas commented on #2147
@Fabi Thanks for giving it a try! I have create a new issue for the CppCodeGen bug.

[2017-01-08 07:24] shrah commented on #2419
https://github.com/dotnet/corert/pull/2452

[2017-01-08 07:26] #2419 closed

[2017-01-09 18:13] #2462 closed

[2017-01-09 20:06] MichalStrehovsky commented on #2463
This is likely because the containing type of the main method didn't get an EEType generated and we don't have reflection data to construct the stack trace.

Maybe we should just group this with the general "pay for play reflection" bucket.

[2017-01-09 21:36] jkotas commented on #2463
Agree - https://github.com/dotnet/corert/pull/2472

[2017-01-09 23:10] christianscheuer opened #2474 "Question about indefinite GC loop in SuspendAllThreads"
I'm getting an indefinite loop when GC kicks in.

Is that because of this TODO in PalRedhawkUnix.cpp?
Sorry to bother.

[code]

[code]

[2017-01-09 23:11] #2463 closed

[2017-01-10 03:30] jkotas commented on #2474
This hang should not be caused by PalHijack not being implemented yet. The problems caused by PalHijack not being implemented would show up as GC hangs while other threads are actively executing managed code. There are no threads actively executing managed code in these stacktraces.

Is it deterministic, or intermittent problem? Did this process ever run managed code on other threads that exited a

[2017-01-10 07:02] yizhang82 opened #2476 "Support correct ANSI marshaling semantics"
https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/InteropHelpers.cs
[code]
It needs to account for ANSI in Windows.

[2017-01-10 11:20] jkotas commented on #2476
Also, it would be nice for it to allocate on stack for small strings... .

[2017-01-10 11:29] jkotas commented on #2474
cc @janvorli

[2017-01-10 18:57] jkotas opened #2478 "[Interop] Pass the right flags to LoadLibraryEx for lazy loaded libraries"
The interop lazy loading is always passing 0 as flags to LoadLibraryEx:

https://github.com/dotnet/corert/blob/7473a4c5fbdeee8c5f923f75f37d2e60eaa82294/src/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/InteropHelpers.cs#L110

We should pass in the right flags - like what CoreCLR does.

[2017-01-10 20:39] MichalStrehovsky commented on #1243
This was fixed in #2470.

[2017-01-10 20:39] #1243 closed

[2017-01-10 21:04] janvorli commented on #2474
@christianscheuer I assume this stack trace is from release build, right? It would be great to get one from the debug build so that some detail is not hidden by inlining and optimizations.  I am interested in where the CLREventStatic::Wait is called from. There is no call to it in the RhpReversePInvokeAttachOrTrapThread2 , but there is one in its callee, the ReversePInvokeAttachOrTrapThread and al

[2017-01-10 22:16] MichalStrehovsky commented on #2380
The test uses `Activator.CreateInstance` to instantiate the generic types to be tested. Normally, this would only succeed if the type is reflectable (and has a "constructed") EEType, but the code has a short circuit logic for value types to just `RhNewObject` them.

We're allowing to `RhNewObject` a type with a "necessary" EEType that doesn't have a bunch of things on it (that heap allocated objec

[2017-01-10 22:32] christianscheuer opened #2480 "Assert in TlsObjectDestructor"
I'm hitting an assert in [PalRedhawkUnix.cpp line 420]:(https://github.com/dotnet/corert/blob/65846c0008f13b0e4b940d2cc293ed914fc28f9e/src/Native/Runtime/unix/PalRedhawkUnix.cpp#L420)

[code]

Stacktraces:
[code]

[2017-01-10 22:37] christianscheuer commented on #2474
@janvorli Yes you are right, that stack trace was from release build. I am trying to repro it on the debug build, but I am instead now hitting an assert in TlsObjectDestructor, see #2480.

[2017-01-10 23:37] janvorli commented on #2480
Hmm, it actually looks like the assert is wrong. When I was writing this code, I have not noticed the text I have marked with bold in the documentation below:
An optional destructor function may be associated with each key value. At thread exit, if a key value has a non-NULL destructor pointer, and the thread has a non-NULL value associated with that key, **the value of the key is set to NULL**, a

[2017-01-10 23:38] janvorli commented on #2480
I meant, try to remove it and see if things work.

[2017-01-11 00:00] christianscheuer commented on #2480
Thanks, @janvorli. Removing the assert makes it hit a new assert.

[code]

[2017-01-11 00:20] janvorli commented on #2480
@christianscheuer could you please check if the pCurThread at frame 1 is equal to the thread parameter at frame 2?
If it is, then please set breakpoint at PalAttachThread, run the app and when you hit the breakpoint, continue if it is not the secondary thread that's causing the issue.
Once you hit it on the secondary thread, please write down the thread address and then step through the code until

[2017-01-11 00:21] janvorli commented on #2480
@christianscheuer alternatively, if you'd be willing to share your testing app source, it might help me to reason about the possible issue or build and debug it localy.

[2017-01-11 01:31] jkotas commented on #2115
Need to get the JIT package updated in CoreRT

[2017-01-11 02:07] christianscheuer commented on #2480
@janvorli They don't seem to be the same.

frame 1:
(Thread *) pCurThread = 0x000000011cd00160

frame 2:
thread = 0x00000001012161b0

I would love to be able to share the code, but what I'm running is a complete closed source app at this point. I'll do a little more digging to see if I can isolate the issue.

[2017-01-11 02:23] MichalStrehovsky commented on #281
Won't be needed.

[2017-01-11 02:23] #281 closed

[2017-01-11 02:23] #682 closed

[2017-01-11 02:23] #683 closed

[2017-01-11 02:24] #687 closed

[2017-01-11 02:30] jkotas commented on #280
Won't be needed.

[2017-01-11 02:30] #280 closed

[2017-01-11 03:01] christianscheuer commented on #2480
The thread in question seems to be a worker thread started by a call to
dispatch_get_global_queue (OSX's Grand Central Dispatch). The worker thread has probably previously executed managed code. By the time this assert happens, it is probably because GCD is shutting down the thread.

[2017-01-11 03:37] nattress opened #2482 "[Multi-module] Add support for generics with thread-statics"
The lack of a home for non-shared generic instantiations means we don't have a stable type index to use for each particular instantiation. We need a mechanism to unify the TLS static bases for generics and pick a winner at runtime.

[2017-01-11 03:49] christianscheuer commented on #2474
@janvorli you were right, it is the CacheTransitionFrameForSuspend() that returns false, which makes it so that the keepWaiting flag is set.
@jkotas it seems though, that the m_uPalThreadIdForLogging is 0.

(Thread) $8 = {
  ThreadBuffer = {
    m_rgbAllocContextBuffer = {
      [0] = '?'
      [1] = '%'
      [2] = 'x'
      [3] = '|'
      [4] = '?'
      [5] = '\x7f'
      [6] = '\0'
      [7]

[2017-01-11 14:51] janvorli commented on #2480
@christianscheuer could you please print the contents of the actual Thread variable pointed to by the pointers at frame 2 and 1? It is very strange that they are different.
The value at frame 2 was originally set in ThreadStore::AttachCurrentThread to the value obtained from RawGetCurrentThread(), which returns an address of a thread local variable tls_CurrentThread.
The value at frame 1 comes fro