[2015-09-24 18:04] MichalStrehovsky opened #6 "CoreLib doesn't implement Environment.GetEnvironmentVariable and friends"
GetEnvironmentVariable and ExpandEnvironment are implemented like this:

[code]

We need real implementations.

[2015-10-07 15:20] jkotas opened #32 "Name mangling robustness"
Make name mangling to be robust against collisions with built-in C++ identifiers or our internal identifiers (see #31)

[2015-10-07 21:35] MichalStrehovsky opened #34 "Static/instance field layout tests for non x64 architectures"
We should refactor the existing static/instance field layout type system tests to be easily extensible to other platform. Currently, the expected offsets are hardcoded to a specific number and the architecture is hardcoded to x64 (aka AMD64 or x86-64).

What we want is probably a data structure that has expected field offsets for each architecture and a driver that iterates over all architectures

[2015-10-10 13:14] jkotas opened #48 "Infinite recursion in virtual method resolution"
Paste this program into "repro" solution and compile it using ILToNative.

[code]

[2015-10-11 04:19] jkotas opened #49 "Support for portable IL PDB"

[2015-10-11 06:12] jkotas opened #52 "Interface between driver .exe and compiler .dll"
Review/design/refactor interface between driver .exe and compiler .dll. See #51.

[2015-10-17 00:53] davidwrighton opened #68 "Followon work for after dependency analysis checkin"
- Convert Cpp code gen to use dependency analysis
- Use only 1 Relocation structure
- Remove unused AsmWriter
- Generate target in jit interface as dependency analysis nodes directly instead of having translation step

[2015-10-18 06:32] MichalStrehovsky opened #71 "Implement error/warning infrastructure in the type system"
Good warnings and error reporting are of great help to tool developers or general developers alike.

The warning system should not be a burden in environments where warnings are undesired/unactionable - it should get out of the way without impacting perf. At the same time we want the warning system be flexible enough to enable PEVerify-like scenarios (dotnet/coreclr/#295) for the type system in th

[2015-10-18 06:34] MichalStrehovsky opened #72 "Implement error/warning infrastructure in the compiler"
The compiler needs a warning/error infrastructure that provides experience developers in the 21st century got used to.

This includes:
- Errors that can unambiguously distinguish between bad inputs and internal compiler errors. For bad inputs, they should be actionable and provide good context.
- Warnings that have warning levels associated with them
- Warnings that can be selectively disabled
- E

[2015-10-21 04:07] jkotas opened #85 "Implement interlocked intrinsics"
See TODOs in #84

[2015-10-21 04:10] jkotas opened #86 "Rename McgIntrinsic attribute"
McgIntrinsic attribute should be renamed because of it is not MCG-specific. Also, it should be per-method attribute, not per-type attribute.

See TODO https://github.com/dotnet/corert/blob/master/src/Common/src/TypeSystem/IL/ILProvider.cs#L27

[2015-10-21 23:09] MichalStrehovsky opened #88 "Make sure multi-dimensional arrays are treated right in the runtime"
Revise things like uses of IsInstanceOfArray to make sure we don't use them with the assumption that the type being looked at is a vector.

[2015-10-21 23:10] MichalStrehovsky opened #89 "Add type check to the multidimensional array Address helpers"
The generated Address methods on MDArrays should have a type check (for reference type arrays).

[2015-10-23 06:26] jkotas opened #101 "Remove workaround for large switch block"
See https://github.com/dotnet/corert/pull/98

[2015-10-23 21:57] gkhanna79 opened #107 "Change ILToNative buildType to be library"

[2015-10-23 21:57] gkhanna79 opened #108 "Add support for Nuget packages for Linux"

[2015-10-23 22:17] #107 closed, assigned to gkhanna79

[2015-10-23 22:45] gkhanna79 opened #110 "Figure out how Codegenerators integrate with the Toolchain"

[2015-10-25 06:16] jkotas opened #114 "Debug Assertion Violation: !IsStateSet(TSF_Detached)"
"Hello world" crashes during shutdown with debug assertion violation:

Expression: '!IsStateSet(TSF_Detached)`

File: c:\corert\src\native\runtime\thread.cpp, Line: 951

    reproNativeCpp.exe!PalDebugBreak() Line 918   C++
    reproNativeCpp.exe!Assert(const char * expr, const char * file, unsigned int line_num, const char * message) Line 97  C++
    reproNativeCpp.exe!Thread::SetDetached() Line

[2015-10-25 06:25] jkotas opened #116 "Assertion Failed: node.StaticDependenciesAreComputed"
Compile "hello world" using JIT codegen:

   at ILToNative.DependencyAnalysisFramework.DependencyAnalyzer`2.ComputeMarkedNodes() in C:\corert\src\ILToNative.DependencyAnalysisFramework\src\DependencyAnalyzer.cs:line 254

[2015-10-25 06:38] jkotas opened #118 "Make VS projects drop to the same locations as build.cmd"
#104 (it was not perfect before, but #104 made it significantly worse) regressed where the bits are dropped by VS projects. E.g
- Building in VS drops System.Private.CoreLib.dll to C:\corert\bin\System.Private.CoreLib.dll and C:\corert\bin\System.Private.CoreLib\System.Private.CoreLib.dll
- build.cmd drops it to C:\corert\bin\Product\Windows_NT.x64.Debug\System.Private.CoreLib.dll.

We need to get

[2015-10-25 07:41] davidfowl opened #121 "AV when runnning hello world sample on windows"
![image](https://cloud.githubusercontent.com/assets/95136/10714541/f36ccc52-7ab0-11e5-99db-1e70067723af.png)

Likely this change https://github.com/dotnet/corert/commit/d56f145e12f366ac06053c85438a138c90a956ea#diff-7d246f2f1ad0f9ce7a6ffcf4005175bbR167

[2015-10-25 08:34] #121 closed, assigned to nobody

[2015-10-25 10:30] davidfowl opened #122 "Namespace and .dll name collisions (CppCodeGen)"
[code]

I get compilation errors in the generated Cpp

[2015-10-25 18:12] MichalStrehovsky opened #126 "Invariant culture hardcoding has recursive nature"
[code]

Notice this will call "new CultureInfo(...)" which is defined as:

[code]

The constructor is trying to access s_InvariantCultureInfo which is _not yet initialized_ because we're in the process of initializing it.

To hit the bug, undo workaround #117 and compile hello world. Make sure you have the contents of pull request #125 or you'll hit a different bug.

[2015-10-26 18:42] #116 closed, assigned to MichalStrehovsky

[2015-10-26 23:41] #118 closed, assigned to gkhanna79

[2015-10-27 19:25] #126 closed, assigned to tarekgh

[2015-10-28 14:43] #108 closed, assigned to gkhanna79

[2015-10-28 21:39] gkhanna79 opened #146 "Add Mono support for Linux and Mac builds"
This will allow managed components to be built by default as well.

[2015-10-29 15:01] gkhanna79 opened #149 "Fix Mac OSX build Breaks"
Mac build fails with the following error:

In file included from /Users/gkhanna/Github/gkhanna79/corert/src/Native/Runtime/EHHelpers.cpp:26:
/Users/gkhanna/Github/gkhanna79/corert/src/Native/Runtime/stressLog.h:377:9: error: unused typedef '**C_ASSERT**' [-Werror,-Wunused-local-typedef]

This happens on Apple Clang 7+ (part of XCode 7+) and is no repro on Apple Clang 6.1 (part of XCode 6.1+).

[2015-10-29 18:27] #149 closed, assigned to gkhanna79

[2015-10-29 23:12] schellap opened #153 "Fix handling of known entry points"
Currently, __managed_main is the entry point, but we want to add more known entry points for other MethodCode nodes.

Note: @davidwrighton suggested in pull #144 to raise an issue for now.

[2015-10-30 00:00] gkhanna79 opened #154 "Remove /skipTests for non-Windows platforms"

[2015-10-30 01:22] MichalStrehovsky opened #158 "Implement System V AMD64 register passing descriptors"
Provide actual implementation of getSystemVAmd64PassStructInRegisterDescriptor in CorInfoImpl.cs.

[2015-10-30 09:04] davidfowl opened #160 "Put corert.external in a nuget package and download it as part of build.cmd"
It'll help if we can grab all of the bits from a single place until we have aot implementations available elsewhere (packages)

/cc @jkotas @gkhanna79

[2015-10-30 11:20] davidfowl opened #161 "Stil can't use System.Console in some cases (CppCodeGen)"
When I try to use the System.Console in my ASP.NET sample I get this:

[code]

/cc @jkotas

Looks like the issue is with System.Buffers?

Turning off line numbers shows:

[code]
It would help if the cpp codegen preserved (maybe in a comment) where it found the DLL exports. That would help identify the problem.

[2015-10-30 17:20] MichalStrehovsky opened #162 "Implement C++ JitInterface wrapper"
Implement C++ JIT interface wrapper that will catch the managed exception and re-throw it as unmanaged exception so that we can throw managed exceptions from JitInterface and not crash afterwards on Linux.

[2015-10-30 17:37] #6 closed, assigned to AlexGhiondea

[2015-10-31 00:06] AlexGhiondea opened #165 "Investigate concurrency issues with getenv and setenv"
getenv and putenv do not play well together.

We need to figure out the right thing to do.

[2015-10-31 00:08] AlexGhiondea opened #166 "When the size of the envvar is > int32.maxsize give an error"
When computing the size of the environment variable we need to guard against the very rare case where the size of the envvar is > 2GB. Since in manged code we cannot have a larger string than 2GB we need to handle that case.

[2015-11-02 09:31] manu-st opened #177 "What is supposed to be the content of corert.external?"
In the wiki and in the build.cmd it refers to the corert.external folder which I do not have locally. Should I manually create it?  What is the purpose of that folder?

[2015-11-03 05:41] #177 closed, assigned to nobody

[2015-11-04 03:45] morganbr opened #190 "Fix InstantiatedType.GetMethods signature handling"
Currently, InstantiatedType.GetMethods uninstantiates the type before doing signature comparisons with the signature passed in. This doesn't work for the case where the signature in question was instantiated since the instantiated type doesn't match the generic parameter. When fixing this, please remove the workaround in FindMatchingVirtualMethodOnTypeByNameAndSig in VirtualFunctionResolution.cs

[2015-11-05 02:16] manu-silicon opened #200 "Running ILToNative.exe from the command line against the .NET Framework"
I'm not sure if this is my setup but I'm unable to run ILToNative.exe from the command line (although I'm pretty sure it worked last week). It fails because it wants to load the following assembly:

Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Runtime.InteropServices.RuntimeInformation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a

[2015-11-05 06:52] #48 closed, assigned to morganbr

[2015-11-05 07:48] #101 closed, assigned to kyulee1

[2015-11-05 19:49] MichalStrehovsky opened #204 "Implement write barriers in non-portable runtime for Linux"
/src/Native/Runtime/amd64/WriteBarriers.s is stubbed out because I really didn't feel like translating WriteBarriers.asm to AT&T assembler.

[2015-11-06 00:49] davidwrighton opened #208 "Implement duplicate detection in interface computation"
Need implementations in InstantiatedType.Interfaces.cs

[2015-11-06 02:44] MichalStrehovsky opened #209 "Implement thread statics"

[2015-11-06 19:08] MichalStrehovsky opened #213 "Remove encoding workaround"
\src\System.Private.CoreLib\src\System\Environment.EnvironmentVariables.Unix.cs has a workaround to return null for LANG environment variable. This is to prevent System.Console from taking complicated code paths that we don't support yet.

The required feature is either interface calls or constrained calls (don't remember which one...).

[2015-11-08 18:20] gkhanna79 opened #220 "Push latest AppDep package to Nuget feedback"
@schellap - Can you see why the Nuget feed does not have the latest package from \jkotas1\drops\corert.external\gkhanna? This package has a CPPSDk subfolder while the one that gets restored does not.

[2015-11-08 20:27] #166 closed, assigned to AlexGhiondea

[2015-11-10 14:35] #220 closed, assigned to schellap

[2015-11-10 14:38] #160 closed, assigned to gkhanna79

[2015-11-10 14:38] #110 closed, assigned to gkhanna79

[2015-11-10 15:04] gkhanna79 opened #231 "Add VSO Build Definition Support for generating official builds"
We should enable the following:

1) Badges for nightly builds on the repo for all platforms
2) Signing the binaries before pushing them to the daily nuget feed.

[2015-11-10 15:06] gkhanna79 opened #232 "Integrate dotnet-compile-native CLI command with E2E experiences for CoreRT development"
1) It should be used by the test infrastructure
2) There should be a well defined flow for setting it up to perform compilation

[2015-11-10 15:07] gkhanna79 opened #233 "Alleviate the need to recompile nuget libraries to native code when compiling apps"

[2015-11-11 14:29] jkotas opened #239 "Produce complete EEType in the toolchain"
Check https://github.com/dotnet/corert/blob/master/src/ILToNative.Compiler/src/Compiler/DependencyAnalysis/EETypeNode.cs on what is there today.

Rough list of sub-workitems:
- [x] Various bits on EEType
- [x] GCDescs
- [x] Interface and interface dispatch structures
- [x] GIDs (refactored; we don't want what's in ProjectN)

[2015-11-12 18:34] MichalStrehovsky opened #249 "Standardize on a style for structs with no logic"
We have a bunch of structs that are just a bundle of values with no logic - we are using private fields + properties in some places, and public readonly fields in other places.

Would be nice to use readonly fields everywhere we can.

[2015-11-12 21:51] gkhanna79 opened #250 "Enable tests for Linux/Mac"
Similar to how we build and run tests, as part of the product build on Windows, we need to enable the same for Linux and Mac as well.

[2015-11-12 21:52] gkhanna79 opened #251 "Enable CoreCLR Test invocation for Linux/Mac"
Similar to Windows, we should be able to run CoreCLR tests on Linux and Mac.

[2015-11-12 22:07] #146 closed, assigned to mmitche

[2015-11-13 18:12] richlander opened #256 "Remove or mitigate Windows dependencies"
Just built CoreRT on OS X. Got error messages about installing an SDK of reference assemblies into the GAC.

/Users/rlander/git/corert/packages/Microsoft.Build.Mono.Debug.14.1.0.0-prerelease/lib/Microsoft.Common.CurrentVersion.targets(1090,5): warning MSB3644: The reference assemblies for framework ".NETPortable,Version=v4.5,Profile=Profile7" were not found. To resolve this, install the SDK or Tar

[2015-11-13 20:43] gkhanna79 opened #258 "Refactor nuget packages and dotnet-compile-native to support cross-targeting."
We should be able to use CLI command to support corss-compiling for different architectures on a given platform.

[2015-11-13 20:43] gkhanna79 opened #259 "Support loading JIT from a custom location"

[2015-11-13 22:34] #256 closed, assigned to nobody

[2015-11-16 17:15] kyulee1 opened #270 "Missing debug line info at offset 0"
Debug line info is often dropped at the binary offset 0.
Currently we synthesize this with the first entry of debug line info, which is inaccurate. -- https://github.com/dotnet/corert/pull/255/files#r44851864
This needs to be reconciled with local/parameter debug infos.

[2015-11-16 19:13] AlexGhiondea opened #272 "[Port] System.Private.Reflection.Core.dll"

[2015-11-16 19:13] AlexGhiondea opened #273 "[Port] System.Private.Reflection.dll"

[2015-11-16 19:13] AlexGhiondea opened #274 "[Port] System.Private.Reflection.Execution.dll"

[2015-11-16 19:13] AlexGhiondea opened #275 "[Port] System.Private.Reflection.Metadata.dll"

[2015-11-16 19:13] AlexGhiondea opened #276 "[Port] System.Private.StackTraceGenerator.dll"

[2015-11-16 19:15] AlexGhiondea opened #277 "[Port] System.Private.DeveloperExperience.Console.dll"

[2015-11-16 19:15] AlexGhiondea opened #278 "Implement DynamicDelegateAugments.CreateDynamicDelegate"

[2015-11-16 19:15] AlexGhiondea opened #279 "[Port] System.Private.DispatchProxy.dll"

[2015-11-16 19:15] AlexGhiondea opened #280 "[Port] System.Private.Interop.Extensions.dll"

[2015-11-16 19:16] AlexGhiondea opened #281 "[Port] System.Private.MCG.dll"

[2015-11-16 19:16] AlexGhiondea opened #282 "[Port] System.Private.Interop.dll"

[2015-11-16 19:16] AlexGhiondea opened #283 "[Port] System.Private.TypeLoader.dll"

[2015-11-16 19:25] AlexGhiondea opened #284 "[Tracking] Libraries work items"
**Libraries Need to get ported**
- [x] [Port] System.Private.Reflection.Core.dll #272
- [x] [Port] System.Private.Reflection.dll #273
- [x] [Port] System.Private.Reflection.Execution.dll #274
- [x] [Port] System.Private.Reflection.Metadata.dll #275
- [x] [Port] System.Private.StackTraceGenerator.dll #276
- [x] [Port] System.Private.DeveloperExperience.Console.dll #277
- [x] [Port] System.Private.C

[2015-11-16 19:26] AlexGhiondea opened #285 "Verify that all win10-aot binaries have all their dependencies satisfied"

[2015-11-16 19:30] tijoytom-zz opened #286 "Expose native memory alloc from System.Private.Corlib.Native"
System.Private.Interop marshaling require native memory allocation , expose native c library malloc and free  from System.Private.Corlib.Native*

[2015-11-17 00:43] MichalStrehovsky opened #288 "Use the robust class constructor runner to run class constructors"
The compiler is currently emitting calls to `CctorHelper` class defined in `StaticClassConstructionContext.cs`. This is a very minimalist class constructor runner that e.g. doesn't detect cycles and the current implementation has other problems too.

We need to use the real class constructor runner from `ClassConstructorRunner.cs`. But for that to happen we need an equivalent of eager static const

[2015-11-17 06:27] manu-st opened #292 "CodeLens issue in CoreRT solution"
Although not a CoreRT specific issue, it is causing me some headaches while browsing the code. Maybe someone knows how to fix this quickly.

The issue is that CodeLens seems to not find references for many members. It works for some but won't for others. I haven't find the pattern here. For example Internal.TypeSystem.AlignmentHelper.AlignUp will have 0 references when I counted a few.

Am I the o

[2015-11-17 21:28] #286 closed, assigned to tijoytom-zz

[2015-11-18 02:27] #292 closed, assigned to nobody

[2015-11-18 04:38] gkhanna79 opened #307 "Add CI Badges"

[2015-11-18 04:39] gkhanna79 opened #308 "--cpp mode should generate seperate source files for each assembly"

[2015-11-18 04:40] gkhanna79 opened #309 "Refactor AppDep contents into CoreRT SDK and upstack FX Packages"
- [x] Move headers from CPPSdk folder to ILCompiler.SDK
- [x] Move stub code (for OSX and Linux) into bootstrapper and remove stub files
- [x] Update CLI to consume the refactoring
- [ ] Remove dependency on available upstack binaries

[2015-11-18 04:41] gkhanna79 opened #310 "Switch to dnu restore for package restoration during build"

[2015-11-18 04:42] gkhanna79 opened #311 "Enable daily builds of Microsoft.DotNet.ILCompiler to be published."

[2015-11-18 04:43] gkhanna79 opened #312 "Enable daily builds of RyuJIT/ObjectWriter packages to be published."

[2015-11-18 04:44] gkhanna79 opened #313 "Switch post-build test to use DCN"
Runtest infrastructure and CI should use dotnet compile --native

[2015-11-18 06:17] jkotas opened #314 "Release builds of RyuJIT package"
ryujit.dll in Microsoft.DotNet.RyuJIT package is (slow) debug build.

Ideally, the debug builds of the toolchain would run with debug build of ryujit.dll by default and release builds of the toolchain would run with release build of ryujit.dll.

[2015-11-18 06:39] gkhanna79 opened #315 "Make Debug/Release build of ILCompiler consume corresponding packages"
There should be a provision for Debug/Release builds of the toolchain to consume Debug/Release builds of JIT when running tests.

[2015-11-18 09:08] manu-silicon opened #320 "Using Code Contracts"
I know there was a conscious decision not to use Code Contracts based on the discussion that was happening on the CoreFX repository (https://github.com/dotnet/corefx/issues/503).

However, here in CoreRT, I think everyone working on it would benefit from Code Contracts, not just for getting failures at runtime when something goes wrong, but for readers to better understand how things are supposed

[2015-11-18 16:22] #307 closed

[2015-11-18 16:45] jkotas commented on #320
Code contracts have benefits, but they also do have costs. We have been experimenting with code contracts for years. We have found that the costs outweigh the benefits in the current implementation.

This equation has to change first in order for them to be viable, e.g. building them as first class language construct https://github.com/dotnet/roslyn/issues/119

[2015-11-18 20:14] gkhanna79 opened #327 "Produce Mac version of Codegen packages"
We need to produce Mac versions of Microsoft.DotNet.ObjectWriter and Microsoft.DotNet.RyuJIT packages and published to our development feed.

@schellap - FYI

[2015-11-19 00:05] manu-silicon commented on #320
My understanding was that they put some burden on the compilation steps because of the rewrite step and I've also encountered issues with the rewriting. The run-time cost should be very similar though when there is no violation. Can you shed some light on the other costs?

Can we standardize some practice to replicate the assert into the XML documentation of members while waiting for contracts to

[2015-11-19 18:53] kyulee1 opened #338 "Toolchain support for LlilcJit integration"
LLILC can be an alternative JIT instead of RyuJit. This is about adding framework support to enable LLILC integration.

[2015-11-20 00:04] natemcmaster opened #344 "Question: reflection"
Can someone elaborate on the [high-level engineering plan for reflection](https://github.com/dotnet/corert/wiki/High-level-engineering-plan#reflection)? How will the developer experience compare to UWP's .NET Native? e.g. UWP has [runtime directives](https://msdn.microsoft.com/en-us/library/dn600639(v=vs.110).aspx) to designate types that need reflection. Will the CoreRT's ILCompiler follow the sa

[2015-11-20 00:34] jkotas commented on #344
We plan to have a simple explicit policy first, controlled using directives. We have not decided what the defaults are going to be for single-exe console apps (e.g. what will happen when you do not specify any directive).

.NET Native for UWP apps has analysis engine that tries to find what kind of reflection your app needs based on number of inputs: runtime directives, IL analysis, WinRT analysis

[2015-11-20 01:23] natemcmaster commented on #344
Thanks @jkotas. As you are designing this, I hope you'd consider [Entity Framework](https://www.github.com/aspnet/EntityFramework) as a good test case. EF relies *heavily* on reflection. Work to enable EF on UWP [is still ongoing](https://github.com/aspnet/EntityFramework/issues?utf8=%E2%9C%93&q=is%3Aissue+%22net+native%22) as we workaround the limited expressibility of directives. The UWP directi

[2015-11-20 01:23] #344 closed

[2015-11-20 01:56] #153 closed

[2015-11-21 01:17] bbowyersmyth opened #356 "ArgumentOutOfRangeException detail missing from String.Compare"
`String.CompareOrdinal` is missing the paramName detail that CoreCLR has when throwing `ArgumentOutOfRangeException`

[2015-11-21 01:19] bbowyersmyth commented on #356
Is exception detail considered an implicit part of the contract? Should the unit tests check for some of these?
/cc @jkotas @stephentoub

[2015-11-21 01:45] MichalStrehovsky commented on #356
On Project N (.NET Native for UWP) we don't consider these a part of the contract - these strings are only useful for debugging. We actually aggressively strip these out of the framework assemblies when compiling with optimizations. It's a useful size on disk optimization.

If we want to unit test this, we should only unit test it on Debug builds so that we keep the option to strip these when opti

[2015-11-21 14:54] #356 closed

[2015-11-21 17:58] MichalStrehovsky opened #363 "Detect infinite generic expansion"
We need to detect infinite generic expansion and terminate type loading.

Affected test:
[code]

[2015-11-21 18:03] MichalStrehovsky opened #364 "Implement ldtoken field + InitializeArray for MDArrays"

[2015-11-21 18:04] MichalStrehovsky opened #365 "Implement interface method calls"

[2015-11-21 18:05] MichalStrehovsky opened #366 "Implement getFunctionEntryPoint on JitInterface"
This is needed to support `jmp [token]`.

[2015-11-21 18:07] MichalStrehovsky opened #367 "Implement TypedReference"
Very low priority. Required for ECMA-335 completeness, but not in the .NET Core profile (for now or forever).

[2015-11-21 18:08] MichalStrehovsky opened #368 "Implement CreateInstance<T> intrinsic"
We currently fallback to the type loader based implementation but Project N does better. This is mostly codegen work, plus some JitInterface work to support codegen.

[2015-11-21 18:09] MichalStrehovsky opened #369 "Implement delegates to virtual methods"

[2015-11-21 18:10] MichalStrehovsky opened #370 "Expand AppDep package"
We have tests failing because System.Threading assembly is missing, or SIMD assembly is missing.

[2015-11-21 18:11] MichalStrehovsky opened #371 "Add support for function pointer types"

[2015-11-21 18:11] MichalStrehovsky opened #372 "Implement minimal support for resource strings"
Just returning the resource key is likely fine for now.

[2015-11-21 18:12] MichalStrehovsky opened #373 "Implement delegates to value types"

[2015-11-21 18:14] MichalStrehovsky opened #374 "Make unimplemented JIT helpers easier to bucket"
Right now we translate all unimplemented JIT helpers to __fail_fast. 400 CoreCLR tests hit this, but it's hard to prioritize among them because we don't know which is which.

[2015-11-22 20:25] urza opened #380 "Use case"
Hi, sorry if this is wrong place to ask. Do I understand correctly that corert will allow me to write c# console app and compile it to native executable for win/lin/osx?

[2015-11-22 22:05] shahid-pk commented on #380
yes exactly.  More info here [corert info](https://github.com/dotnet/corert/blob/master/Documentation/intro-to-corert.md)

[2015-11-23 19:00] MichalStrehovsky commented on #364
@kyulee1 @russellhadley This is another difference between UTC and RyuJIT. InitializeArray is recognized as an intrinsic for both vectors and general arrays in UTC.

Would it make sense to standardize on what UTC does so that we don't have to come up with an implementation for InitializeArray within the class library?

[2015-11-23 19:45] jkotas commented on #364
The real problem is that the intrinsic pattern matching in RyuJIT is designed as optional. There are number of cases where the JIT won't expand the InitializeArray. Multi-dimensional arrays are just one of them.

To make this work, RyuJIT would have to guarantee that InitializeArray gets expanded under all circumstances - debug code, minops, edge cases, ... .

I kind of like that intrinsic expansi

[2015-11-23 19:49] MichalStrehovsky commented on #364
UTC doesn't leave room for any of that. If the pattern doesn't match exactly, it's simply considered invalid IL. We never had any problems with that.

I'm not a big fan of duplicated code. Having two implementations for something, where one implementation is only used rarely only invites bugs and regressions in the rarely used case (which would be the classlib implementation in this case).

[2015-11-23 20:12] jkotas opened #383 "ilc.exe needs /debug command line option"
ilc.exe is hardwired to compile with optimizations on right now. We need a command line option to turn the optimizations on/off.

[2015-11-23 20:13] jkotas commented on #364
I am not fan a duplicated code either, but there is by-design duplication in RyuJIT because of you can either compile with optimizations on or off. The intrinsic expansion kicks in only when optimizations are on today - it means that the classlib implementation is still used a lot, it is not a rare path. Opened issue https://github.com/dotnet/corert/issues/383 to add command line option to ilc.exe

[2015-11-23 20:47] MichalStrehovsky commented on #364
That's actually a good reason not to support InitializeArray if the pattern doesn't match. The method is called from a .ctor that is marked as "this is for compiler use", which is a pretty bad API design. The compiler should just lower the newarr+InitializeArray when calling the normal constructor.

The code as it is there might not even get the good code generated for it because that now depends

[2015-11-23 20:49] jkotas commented on #364
There are none of these today in RyuJIT.

[2015-11-23 21:14] jkotas commented on #364
BTW: The current classlib implementation of interlocked intrinsics is ifdefed per platform to match UTC implementation details: https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Threading/Interlocked.cs#L151. It is not good because of it does not allow different code generators to pick and choose which ones they would like to expand. We should have C++ implementati

[2015-11-24 01:13] davidwrighton commented on #364
I feel strongly that the backend compiler folks should be having the discussion about the general principle of intrinsics that are always enabled, not us.
With regards to a general purpose implementation of InitializeArray, I believe that it cannot be implemented in a fully general purpose fashion without a potentially significant size penalty for generated binaries. (Admittedly, we could detect i

[2015-11-24 01:43] MattWhilden commented on #383
It's not clear if command line parity with the .NET Native ilc.exe is desirable but the corresponding flag over there is /buildtype:{chk,ret}.

[2015-11-24 02:56] manu-silicon opened #389 "Gitter forum"
Will there be a Gitter forum?

[2015-11-24 03:16] MichalStrehovsky opened #392 "Enable throwing MissingFieldException/MissingMethodException"
There are tests that test accessing fields/methods that don't exist will throw.

[code]

We should be able to generate a method body that throws the appropriate exception for these.

[2015-11-24 03:22] #389 closed

[2015-11-24 03:46] MichalStrehovsky opened #394 "Skip PINNED part of TypeSpecs"
The test below has:

[code]

We need to find the right place where to skip that part of the signature.

[code]

[2015-11-24 04:24] MichalStrehovsky opened #395 "Implement vararg methods"
Low priority. Not in the .NET Core profile.

Depends on #367, which is another low priority workitem.

[2015-11-24 04:26] MichalStrehovsky opened #396 "Implement reportFatalError"
Affected tests:

[code]

[2015-11-24 04:27] MichalStrehovsky opened #397 "Investigate various compiler crashes"
Affected tests:

[code]

[2015-11-24 05:24] gkhanna79 opened #403 "Add System.Private.*.dll to ILCompiler nuget package"
For every library that is ported to CoreRT repo, please ensure that the following happens:

1) Add the library to be in the Microsoft.DotNet.ILCompiler nuget packages
2) Remove it from Microsoft.DotNet.AppDep package if it exists there. Please work with @schellap for this.

cc @AlexGhiondea @weshaggard

[2015-11-24 05:25] gkhanna79 commented on #403
Given that System.Private.Threading is ported and is present in Microsoft.DotNet.AppDep package, we should follow the process above for it.

[2015-11-24 06:55] weshaggard commented on #292
There is a similar issue on corefx https://github.com/dotnet/corefx/issues/3534 which appears to be caused by which slash you use in the definition of the CommonPath.

[2015-11-24 18:46] MichalStrehovsky opened #407 "Implement RVA mapped fields"
We currently only support this with respect to the `InitializeArray` intrinsic.

[2015-11-24 19:30] MichalStrehovsky commented on #395
Note this also includes work on the reflection side (making sure this is properly represented in the metadata format and attempts to reflection-invoke these methods throws the right exception type).

[2015-11-24 23:36] schellap opened #411 "Memory corruption with release ryujit.so"
When you use a release mode ryujit.so built out of coreclr under gdb you will notice a segfault.

Repro steps:

Follow instructions to obtain and use dotnet-cli tools.

https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-console-shell-prompt.md

cp libryujit.so /home/kyulee/newilc/ryujit.so # retail
cp libobjwriter.so /home/kyulee/newilc/objwriter.so # ret

[2015-11-25 00:15] MichalStrehovsky opened #412 "Hook up CoreCLR tests into the CI infrastructure"

[2015-11-25 08:56] manu-silicon opened #417 "Faster re-builds"
We have documentation to build CoreRT on both Unix and Windows. However it is not clear what you need to do when you make a change and you want to quickly experiment it. So far I've been using the build script. But it is quite expensive.

For example, when you have no changes, it takes about 26s compared to 2m10s when doing it the first time around (where most of the time is spent downloading file

[2015-11-25 10:31] janvorli commented on #417
If you are making changes in the C++ code only, you can go to the bin/obj/Native/Linux.x64.Debug folder and run "make install", or even better "make -j NNN install" where NNN is a double of the count of processors you have on your machine. It completes in about 1 sec if there are no changes and in about 5 secs for a clean build on my Ubuntu running in VM with 4 processors.

[2015-11-25 15:12] janvorli commented on #204
Implemented in #410

[2015-11-25 15:12] #204 closed

[2015-11-25 17:54] gkhanna79 opened #419 "Remove libSystem.Native.a from root of Microsoft.DotNet.AppDep package"
This file is now present under CPPSdk\<OS>\x64 folder, so it shouldn't be needed in the root folder.

[2015-11-25 20:20] MichalStrehovsky opened #423 "Generate EETypes for pointers and byrefs"
Failing tests:
[code]

[2015-11-25 20:22] MichalStrehovsky commented on #423
This is related to #239. Let's make sure we don't forget to add this and unblock the tests.

[2015-11-25 22:02] #114 closed

[2015-11-25 23:13] #397 closed

[2015-11-25 23:25] manu-silicon commented on #417
At the moment, the part that is slow is the managed part.

[2015-11-26 00:59] MichalStrehovsky commented on #417
The slow part is the `BatchRestorePackages` target. We just took the build system as it was in the CoreFX repo along with it's problems. Not sure if there is a way to make DNU restore faster if there no packages to be downloaded.

If DNU is just slow by design, we could consider adding a `skippackagerestore` option to build.cmd/.sh, pipe it through to the managed build, and make the `BatchRestoreP

[2015-11-27 00:24] MichalStrehovsky commented on #380
@urza [Try it out](https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-console-shell-prompt.md)!

It's a work in progress - not much more than Hello World works right now though.

[2015-11-27 00:35] manu-st opened #428 "Cannot build CoreRT managed parts when targeting ARM"
When compiling directly on ARM of via cross compilation, I'm getting the following MSBuild error:

[code]

Am I missing obvious? For now I'll try to see if I can get the assembly that causes the issue.

[2015-11-28 21:14] bbowyersmyth opened #430 "Unaligned reads: Yea or nay?"
I've noticed that functions like `String.FastCompareStringHelper` no longer include the ALIGN_ACCESS conditional compile that is in CoreCLR.
What is the plan going forward, is it a system requirement that unaligned int reads need to be supported? Or if .net is going to run anywhere does this code need to make a comeback?

[2015-11-30 02:54] manu-silicon commented on #428
I managed to see that for some reasons, reflection in mono doesn't like the ILCompiler.DependencyAnalysisFramework.dll that was generated. I'll have a closer look today.

[2015-11-30 04:07] manu-silicon opened #432 "Add support for arm64"
Make native code compile on arm64.

[2015-11-30 04:08] manu-silicon commented on #432
Can you assign this to me?

[2015-11-30 06:49] jkotas commented on #430
ALIGN_ACCESS define was in use when CLR/CoreCLR supported platforms with strong alignment requirements. Neither CoreCLR nor CoreRT support any platforms with strong alignment requirements today (ARM v7 requires it in a few corner cases only). It means that the code under ALIGN_ACCESS has bit-rotten or it was even removed; and that there would be work required in this area if CoreCLR or CoreRT are

[2015-11-30 18:25] tarekgh commented on #283
@davidwrighton you may look at System.Private.Threading project as a template or example to be used in porting System.Private.TypeLoader

[2015-11-30 19:23] jkotas opened #436 "dotnetbot sample fails to compile on Ubuntu"
From @silentnull:

HI, I downloaded samples dotnetbot code and during compile with latest coreclr in native mode I have follow error: Compiling> [System.Private.CoreLib]System.Runtime.InteropServices.InteropExtensions.MightBeBlittable

[2015-11-30 19:24] jkotas commented on #436
https://github.com/dotnet/core/tree/master/samples/dotnetbot

[2015-11-30 21:56] bbowyersmyth commented on #430
Thanks @jkotas that answers it. Might be useful in the requirements or porting doco. I couldn't find any mention anywhere.
Cheers

[2015-11-30 21:56] #430 closed

[2015-12-01 01:47] manu-silicon opened #440 "Consistency for platforms preprocessor macros"
For example, for AMD64, the native code is defining the following preprocessor macros:
\_AMD64\_
AMD64
TARGET_X64
TARGET_AMD64
\_TARGET_AMD64\_

I'm not sure if we really need all those defines, but regardless, shouldn't we ensure some consistency in the code of CoreRT where only one of them is used through out?

It is also true for x86, arm and arm64.

[2015-12-01 02:31] manu-silicon commented on #428
Strangely when targeting arm64 the build goes further. I'm just getting the following errors:
[code]

Any idea what could be wrong then for arm?

[2015-12-01 02:32] jkotas commented on #440
cc @smosier

[2015-12-01 02:59] jkotas commented on #428
I suspect that it is because of arm64 handling is missing in some places in the build or packaging infrastructure, and so it is treated as anycpu that happens to go further.

[2015-12-01 05:36] manu-silicon commented on #432
My work is currently in [manu-silicon/corert/tree/arm64](/manu-silicon/corert/tree/arm64)

[2015-12-01 08:23] janvorli commented on #440
The same is true for CoreCLR. Over there, the `TARGET_AMD64` is not used anywhere and the `_TARGET_AMD64_` is used at about 1200 places. In CoreRT, we have a mix of those and there are more usages of `TARGET_AMD64` than `_TARGET_AMD64_`.
The AMD64 seems to be unused in both projects.
It seems it would make sense to replace `TARGET_X64` usage by the `_TARGET_AMD64_`, there are 7  usages of it in Co

[2015-12-01 09:00] manu-silicon opened #444 "Keeping AsmOffsetsVerify.cpp in the build by default"
Currently the build of AsmOffsetsVerify.o is disabled in CMakefiles.txt. Shouldn't we keep it by default? This is a good way to find errors if someone changes the layout of structs used in the runtime.

[2015-12-01 09:04] manu-silicon commented on #440
To summarize, we should only use _TARGET_AMD64_, _TARGET_X86_, _TARGET_ARM_ and _TARGET_ARM64_.

Also to clarify, should we remove the usage of the macros without the _TARGET_ prefix (i.e. _AMD64_, _ARM_, _ARM64_, _X86_, _X64_)?

[2015-12-01 14:50] jkotas commented on #444
Agree - it should on by default.

[2015-12-01 14:55] jkotas commented on #440
We have both to support cross-targeting of components like compilers or debuggers. The variant without the _TARGET_ prefix is the host platform, the variant with `_TARGET_` prefix is the target platform, e.g. `_X86_` + `_TARGET_ARM_` can be compiler running on x86 machine, producing ARM code.

The macros without the `_TARGET_` prefix come from Windows SDK, so they will be sort of always there - on

[2015-12-01 15:30] jkotas opened #445 "Cleanup src\Native\Runtime\unix\config.h.in"
config.h.in was copied from CoreCLR, and so it has a lot of clutter in it that should not be ever needed for CoreRT.

[2015-12-01 16:42] jkotas commented on #445
@janvorli Does it make sense to do it now, or wait for MRT PAL to be complete?

[2015-12-01 16:44] janvorli commented on #445
I would wait for the MRT PAL completion.

[2015-12-01 19:08] smosier commented on #440
We also have to be aware of the desire to line up with the preprocessor usage in Runtime.Base, which is where the AMD64 variant (without underscores) originated.  This came from a desire to emulate the C# coding style in System.Private.CoreLib -- it's not uncommon to move code from one to the other.

I agree that it would be nice to be consistent about "x64" vs "amd64", but again, we have competin

[2015-12-02 00:17] kangaroo commented on #428
The lack of shell expansion in the paths for both is interesting.  I would expect the ~ expansion to happen before things even got to the managed layer?

[2015-12-02 00:19] kangaroo commented on #440
@jkotas Thats horribly confusing if thats the case.  :+1: for changing to HOST_* and TARGET_* if those are the real intentions.

[2015-12-02 00:40] manu-silicon commented on #440
@kangaroo I was thinking the same thing.

[2015-12-02 02:10] manu-silicon opened #455 "Advice on updating macros in AsmOffsets.h"
While adding arm64 support in AsmOffsets.h, I added a new argument to the ASM_OFFSET/ASM_SIZEOF/ASM_CONST macros. Although for the time being we will be limited to 4 platforms, if we had more in the future, that will be cumbersome.

Should we instead use the PLAT_... macros instead and have in AsmOffsets.h an inclusion of AsmOffsets.$BuildArch.h located in the $BuildArch subdirectory? That would b

[2015-12-02 04:59] manu-silicon commented on #428
Because it was too long, I removed the absolute path from the output and simplified with ~/

[2015-12-02 05:55] kangaroo commented on #428
@manu-silicon Well, that makes things slightly more complicated from my casual analysis perspective :)  I'll try on my ARM64 board tomorrow.

[2015-12-02 06:45] jkotas commented on #455
I agree that the current structure does not scales with number of platforms.

A lot of the offsets just differ between 32-bit and 64-bit platforms, or are even identical accross platforms. Perhaps we can keep those defined in central location to avoid duplication (`AsmOffsetsCommon.h`?), and just have the platform-specific offsets defined in the platform-specific file.

The current pattern is that

[2015-12-02 07:15] manu-silicon opened #458 "Compilation issue for arm/arm64"
I believe PR#425 broke the cross platform compilation. Now I'm getting:

[code]

I commented out that part after I downloaded the version for Linux.x64 and I could proceed with the build.

Also at the moment the new dotnet-cli tools are installed in a non-architecture dependent path. Meaning that once we have arm/arm64 build working they will be overridden each time you compile from one architectu

[2015-12-02 07:22] manu-silicon opened #459 "Is VIRTUAL_ALLOC_RESERVE_GRANULARITY necessary?"
I could not find a single usage of this macro in the source tree while I was trying to find the proper value for arm64.

[2015-12-02 07:24] jkotas commented on #458
@schellap Could you please take a look?

[2015-12-02 07:33] jkotas commented on #459
Delete it since it is unused and wrong for non-Windows OSes.

It is redundant with g_SystemInfo.dwAllocationGranularity that has the right values already (64k on Windows, OS page size on Unix).

[2015-12-02 07:38] manu-silicon commented on #459
Will do. It will be part of my PR for the initial arm64 port which will be mostly a skeleton as many things will need to be implemented but at least it will enable compilation of the source code.

[2015-12-02 07:38] #459 closed

[2015-12-02 07:45] manu-silicon commented on #455
Thanks for the tip, I used something similar too. Should I move the code for the trick to corert as well, or simply reference CoreCLR?

[2015-12-02 07:52] jkotas commented on #455
I would copy it over so that it is easy to turn on.

[2015-12-02 08:53] jkotas commented on #444
Fixed by #452

[2015-12-02 08:53] #444 closed

[2015-12-02 17:41] mzaky commented on #458
It seems that the file doesn't exist : https://dotnetcli.blob.core.windows.net/dotnet/dev/Binaries/Latest/dotnet-linux-arm.latest.tar.gz

[2015-12-02 18:23] schellap commented on #458
@brthor, we need support from CLI x64 bits to target arm/arm64 for cross compilation. CLI with its flat layout, doesn't support this as of now.

For now, using x64 CLI in dev mode, i.e., by specifying --ilcpath, we should at least be able to use toolchain and runtime libs for ARM from the build binary drop of the target. I'll fix the latter now.

[2015-12-02 19:20] gkhanna79 commented on #432
Please work with @schellap to bringup supporting nuget packages so that when the platform is enabled, we are building all required artifacts as expected.

[2015-12-02 23:24] kangaroo commented on #432
We're currently using mono to build the managed bits.  There is no mono for arm64, so we'll need to complete the HFA bringup in CoreCLR for ARM64 work, so we have a managed runtime to run roslyn, to do the managed builds on target.

[2015-12-03 00:00] nattress opened #464 "Add support for finalizers"
Failing tests:
[code]

[2015-12-03 00:29] jkotas commented on #432
Building arm64 on target is number of months away as you have pointed out. I expect that we will be doing cross-compilation for CoreRT in the meantime.

[2015-12-03 00:58] gkhanna79 commented on #417
@schellap FYI

[2015-12-03 01:04] gkhanna79 commented on #411
@kyulee1 @russellhadley Do we understand the cause of the corruption?

[2015-12-03 01:07] gkhanna79 commented on #313
@schellap Can we close this?

[2015-12-03 01:11] gkhanna79 commented on #310
Closing since it is completed.

[2015-12-03 01:11] #310 closed

[2015-12-03 01:13] gkhanna79 commented on #251
We will use https://github.com/dotnet/corert/issues/412 to track the work.

[2015-12-03 01:13] #251 closed

[2015-12-03 01:13] schellap commented on #313
Will close when Mac is enabled.

[2015-12-03 01:15] gkhanna79 commented on #313
Do you mean when Mac RyuJIT support is enabled?

[2015-12-03 01:16] schellap commented on #313
Yes.

[2015-12-03 02:54] schellap commented on #432
@manu-silicon, @kangaroo cross compilation support using dotnet-cli is not fully thought through. I will write down my initial thoughts on this later this week about how this scenario can be made to work.

[2015-12-03 06:04] jkotas opened #469 "Implement startup code injector"
The manually managed startup code needs to be replaced with real managed one.

https://github.com/dotnet/corert/pull/468

[2015-12-03 16:13] jkotas commented on #68
I am working on fixing this

[2015-12-03 17:59] MichalStrehovsky commented on #469
Before we start working on this, do we want to make GC static section and string literals lazily initialized?

(To keep the stuff the startup code needs to run minimal.)

[2015-12-03 18:41] MichalStrehovsky opened #471 "Support eager static constructors"
Add support for static constructors that run at the module initialization time.

We should take the ordering algorithm from RhBind.

Depends on #469.
Prerequisite for #288.

[2015-12-03 21:04] nattress opened #474 "Implement byref type support"
The runtime currently cannot represent byref types. Adding support would look similar to the way pointer types are handled (parameterized EETypes whose base size is 0) but with a different special value for base size (ie, 1).

[2015-12-03 21:52] brthor commented on #232
@gkhanna79 @schellap `dotnet-compile-native` is included in the CoreRT test workflow now.
Can we close this out?

[2015-12-03 22:38] dlech opened #477 "Add support for debian armel"
If you haven't seen already, the ASP.NET folks were very excited about [dnx running on LEGO MINDSOTRMS EV3](https://github.com/aspnet/dnx/issues/3145).

I'm guessing that it is probably not worth the time it would take to implement, as there aren't really any other practical applications that I can think of but I am wondering just exactly what it would take to get AOT cross compiling working for D

[2015-12-03 23:05] schellap commented on #232
Assigning to @schellap to track adding --ilcsdkpath to the E2E flow in CoreRT repo then it can be closed out.

[2015-12-03 23:07] MichalStrehovsky commented on #477
This is the kind of scenario we are targeting with the C++ code generation backend. In that compilation mode we're not compiling into native object files (*.o on Unix or *.obj on Windows), but into a standard *.cpp file you can compile with the platform C++ compiler. So if LEGO MINDSTORMS has a C++ compiler (ideally CLang because that's what we test on Unix), you might be able to get a "Hello Worl

[2015-12-03 23:38] dlech commented on #477
Thanks for the info. I didn't realize that this is how it works - I guess I assumed that it was like AOT in mono. This sounds much more achievable now. I will definitely give it a try.

[2015-12-03 23:41] nattress opened #478 "Use TypeFlags enum instead of ECMA CorElementType in MRT binary format"
ECMA CorElementType has holes in its enum and deprecated values. The new Type System uses [TypeFlags.cs](https://github.com/dotnet/corert/blob/master/src/Common/src/TypeSystem/Common/TypeFlags.cs) which has different values for its elements. For consistency, we should move the file format read by CoreRT runtime to use TypeFlags instead. For example, in EEType declarations.

[2015-12-04 07:40] schellap opened #483 "Better logging for runtest.cmd"
The toolchain silently ignores asserts when they are hit in Debug release. It is better to bubble up asserts.

The CPP run overwrites/clears the JIT run. Provide an option to fail fast on failure.

Use verbose flag with --ilcargs for CI runs.

Also, see: https://github.com/dotnet/corert/pull/475#issuecomment-161894220

@manu-silicon, I've filed an issue for now. I'll try to add this soon.

[2015-12-04 07:42] nattress commented on #483
Alternatively, we could keep the JIT / CPP test binaries separate by adding -cpp / -jit to their output folder or something.

[2015-12-04 07:57] manu-silicon commented on #483
@nattress :+1:

[2015-12-04 13:33] shahid-pk commented on #477
@dlech corert can aot too without producing c++ files at all but instead of that producing c++ is also supported.

[2015-12-04 17:45] jkotas commented on #436
@schellap Could you please take a look at this? People are that are trying to compile hello world are running into this. Do we just need to push updated corert bits somewhere?

[2015-12-04 18:56] schellap commented on #436
Taking a look, surprising because the DotNet/CLI also has Ubuntu CI compiling with these exact bits.

[2015-12-04 19:08] schellap commented on #436
/Cc @brthor

This is the last method compiled successfully in "Hello World" sample app as the toolchain is supposed to.

Compiling> [System.Private.CoreLib]System.Runtime.InteropServices.InteropExtensions.MightBeBlittable

The post compilation linking steps done by CLI fails trying to find the pre-requisite tools/libraries. We need better error messages than "No such file or directory" and bail ou

[2015-12-04 22:58] #275 closed

[2015-12-07 03:18] drbo commented on #430
Note that LLVM and the C standard consider unaligned access undefined behavior, so only RyuJIT and assembly code can use it.

[2015-12-08 06:53] jkotas commented on #455
Fixed by #494

[2015-12-08 06:53] #455 closed

[2015-12-08 19:33] gkhanna79 opened #499 "Mac RyuJIT triggers OverflowException for Release mode ILC"
Trying to compile output of "dotnet init" (a helloWorld app) using Mac RyuJIT triggers an OverflowException when running against release build of ILC, while the same thing works against Debug build. Also, this scenario works for either builds on Windows or Ubuntu.

Below is the callstack in lldb at the point the exception is thrown, followed by the managed callstack at the very end.

@kyulee1 @rus

[2015-12-08 20:04] kangaroo commented on #499
@gkhanna79 For future reference, you can mark up backtraces with \`\`\` to make them much more readable.

[2015-12-08 20:37] gkhanna79 commented on #314
@russellhadley @kyulee1 When can we expect Release builds of the JIT compiler be published?

[2015-12-08 20:38] gkhanna79 commented on #312
@russellhadley @kyulee1 Can you please work with @schellap to understand what needs to be done to publish daily builds of the JIT and ObjectWriter to the myget feed? this requires VSO build definition support.

[2015-12-08 20:39] gkhanna79 commented on #327
@russellhadley @kyulee1 Blocked by https://github.com/dotnet/corert/issues/499

[2015-12-08 22:06] davidwrighton opened #500 "It is unclear if the hash code for EMCA Generic Parameters is good"
Its also unclear if that hash ever gets used. The work here is to find out if this is worth addressing, and if so, what is the hash. Should it involve the type that defined the generic parameter?

[2015-12-09 02:23] davidwrighton opened #504 "Implement parser for type names using Type.GetType format"
As we develop more compiler features we will eventually need this. See MSDN for specification.

[2015-12-09 02:24] davidwrighton commented on #504
There is an existing parser in reflection, we may be able to reuse that.

[2015-12-09 02:50] davkean commented on #504
MSDN is not a full specification - I have specified one here: https://github.com/dotnet/coreclr/issues/1345.

Do you need a native one or can you use a C# one that you native compile, we're got a managed one here: https://github.com/dotnet/corefx/tree/dev/metadata/src/System.Reflection.Metadata/src/System/Reflection/Metadata/Decoding/TypeNameParsing.

[2015-12-09 02:55] davidwrighton commented on #504
I need a C# one that will produce type system objects in the new type system as its output. I may need one that doesn't use the immutable api surface (I'll look into it), but otherwise, the one you reference there is exactly what we'll need.

[2015-12-09 02:57] davkean commented on #504
+ @nguerrera

It's still a work in progress (we need to remove a bunch of allocations before calling it done), but it's designed to go from string -> custom object model.

[2015-12-09 03:43] MichalStrehovsky commented on #504
The reflection one is used e.g. to build a CCI object model within the ProjectN dependency reducer. It's pretty reusable too.

[2015-12-09 21:30] MichalStrehovsky commented on #504
@davkean @nguerrera What is the timeline for shipping TypeNameParsing in System.Reflection.Metadata? Turns out the immutable part might not be a big deal, but we will need this within ~1 month and if it's not ready by then, we will go with the reflection code because that's already done and tested.

[2015-12-10 22:33] gkhanna79 opened #509 "Windows: Enable Managed Exception Dispatch and Unwind support"

[2015-12-10 22:48] gkhanna79 opened #510 "Interface Dispatch support"

[2015-12-10 22:50] gkhanna79 opened #511 "Basic Reflection Support"
- [x] Reflection metadata transform (transform ECMA metadata and type system entities to the native metadata format)
- [x] Make sure reflection gets initialized at startup path
- [x] Emit a mapping table between EETypes and native metadata
- [x] Emit a mapping table between fields offsets and native metadata
- [x] Emit a mapping table for methods
- [x] Generate dynamic invoke stubs for reflection-

[2015-12-10 22:54] gkhanna79 opened #512 "Multi-Module support"

[2015-12-10 22:54] gkhanna79 opened #513 "C++ File Split"

[2015-12-11 22:51] gkhanna79 commented on #338
@russellhadley Please adjust milestone as required.

[2015-12-11 22:52] gkhanna79 commented on #370
This should be a straightforward change.

[2015-12-11 22:56] gkhanna79 commented on #314
Related to https://github.com/dotnet/corert/issues/312 that is assigned to @russellhadley

[2015-12-11 22:57] gkhanna79 commented on #308
Closed as dup of https://github.com/dotnet/corert/issues/513

[2015-12-11 22:57] #308 closed

[2015-12-11 23:04] MichalStrehovsky commented on #423
Simon did this work last week or so.

[2015-12-11 23:04] #423 closed

[2015-12-13 15:59] #411 closed

[2015-12-14 02:39] jkotas opened #519 "Enable inlining on JIT-EE interface"
https://github.com/dotnet/corert/blob/master/src/JitInterface/src/CorInfoImpl.cs#L455

[2015-12-14 02:41] jkotas commented on #519
Depends on #162 (inlining will make us hit more paths that are not handled yet)

[2015-12-14 02:45] jkotas opened #520 "Delete project.lock.json files"
The project.lock.json files were finally removed in corefx repo (https://github.com/dotnet/corefx/pull/4894). We should do the same in CoreRT.

[2015-12-14 17:05] gkhanna79 commented on #327
Closing this since the packages are now available.

[2015-12-14 17:05] #327 closed

[2015-12-14 19:03] AlexGhiondea opened #523 "Cleanup the csproj files"
There are a bunch of duplicated information in the csproj files.

Some of that might not be needed anymore, or not needed for all projects:
- Explicitly setting the PlatformTarget

This issue is tracking that work.

[2015-12-14 21:23] gkhanna79 opened #525 "Enable CodeSigning and Build/symbol indexing"
Blocked by https://github.com/dotnet/cli/issues/496

[2015-12-14 21:40] AlexGhiondea commented on #273
This is resolved with https://github.com/dotnet/corert/commit/b2f594a9ec65d9008a03176f45850a3c3f9ee6c7

[2015-12-14 21:40] #273 closed

[2015-12-14 21:49] AlexGhiondea commented on #277
This is done.

[2015-12-14 21:49] #277 closed

[2015-12-14 21:49] AlexGhiondea commented on #276
This is done.

[2015-12-14 21:49] #276 closed

[2015-12-14 21:51] gkhanna79 commented on #232
@schellap Was this completed as part of your ILCompiler.SDK change?

[2015-12-14 21:57] schellap commented on #232
We can **close this one** out as it is better to not specify custom AppDep path and get corert/cli out of sync. It is however useful for testing purposes.

[2015-12-14 22:27] #232 closed

[2015-12-14 22:39] gkhanna79 commented on #259
@russellhadley will be thinking about this seperately and for now, there is no action for us.

[2015-12-14 22:39] #259 closed

[2015-12-14 23:15] gkhanna79 opened #527 "Extend PAL for Linux and Mac"
This will be required for CoreFX Test run support.

[2015-12-14 23:56] schellap opened #529 "Remove HOME variable hack in build.sh"
See: https://github.com/dotnet/cli/issues/354, https://github.com/dotnet/cli/blob/5f5e3ad74c0c1de7071ba1309dca2ea289691163/scripts/ci_build.sh#L24

These hacks are needed because dotnet restore depends on HOME being set.

[2015-12-15 01:12] gkhanna79 commented on #200
@manu-silicon Can this be closed or are you using it to track something?

[2015-12-15 01:41] manu-silicon commented on #200
@gkhanna79 You can close it.

[2015-12-15 01:45] #200 closed

[2015-12-15 02:26] MichalStrehovsky commented on #371
I would say this is pretty low pri. These are only reachable from IL. We can probably live without this for a year.

[2015-12-15 02:34] jkotas commented on #371
`typeof(void*)` works in C# just fine ... I agree that it is low pri.

[2015-12-15 02:41] MichalStrehovsky commented on #371
@jkotas this bug tracks function pointer types, not reflection with pointer types

Things like
[code]

[2015-12-15 02:48] jkotas commented on #371
Got it...

[2015-12-15 05:02] weshaggard commented on #527
@tarekgh @AlexGhiondea I assume this is on your guys list?

[2015-12-15 22:16] JohnChen0 commented on #162
Fixed via 8b4cc05.

[2015-12-15 22:16] #162 closed

[2015-12-16 00:29] jkotas opened #538 "ObjWriter emits R_X86_64_32 relocs rather than R_X86_64_PC32"
GetSymbolRefExpr always encodes the MCSymbolRefExpr as a VK_None, it needs to be VK_PLT for the IsPCRelative case

[2015-12-16 02:53] AceHack opened #541 "Please create a .NET Core Unikernel, Nano Server is too Big"
Containers like Docker and Server OSs like Nano Server are too big and bring to much baggage. Please create an ultra tiny .NET Core Unikernel for the ultimate cloud OS. Make sure it runs perfect in Hyper-V and Xen.

Some background links:
http://research.microsoft.com/en-us/projects/drawbridge/
http://wiki.xenproject.org/wiki/Unikernels
https://www.youtube.com/watch?v=W9F4pn9Lngc
https://www.linux

[2015-12-16 04:42] jkotas commented on #527
FWIW We have been adding dummy implementation of Windows APIs to avoid unresolved symbols on Unix: https://github.com/dotnet/corert/blob/master/src/Native/Bootstrap/main.cpp#L500

[2015-12-16 05:05] manu-silicon commented on #458
With the latest build, it is definitely better. I still cannot cross compile for arm due to the managed build process stopping. But for arm64, it compiles both unmanaged and managed code, but stops when building the tests with this error:

[code]

[2015-12-16 18:20] MichalStrehovsky commented on #541
@AceHack [Rump Kernels](http://rumpkernel.org/) linked from one of your articles provides support running POSIX'y software. Chances are that if you play around a bit, you can get the Linux-targeting CoreRT running with it...

[2015-12-17 01:47] gkhanna79 commented on #499
Fixed with https://github.com/dotnet/corert/issues/544

[2015-12-17 01:47] #499 closed

[2015-12-17 08:31] #519 closed

[2015-12-18 19:14] jkotas commented on #370
We should not be spending time on trying to add more stuff to the AppDep package.

Instead, we need to get to a place where we get most of the stuff from regularly restored nuget packages - e.g. System.Numerics.Vectors.dll or System.Console.dll built for CoreCLR or .NET Native will work just fine for CoreRT too.

The AppDep package should only contain bits that we are not building for CoreRT prope

[2015-12-18 22:37] gkhanna79 commented on #313
Closed since JIT support for Mac is enabled.

[2015-12-18 22:37] #313 closed

[2015-12-18 22:40] gkhanna79 commented on #311
Closing as dup of https://github.com/dotnet/corert/issues/231

[2015-12-18 22:40] #311 closed

[2015-12-20 03:39] gkhanna79 commented on #419
This is fixed.

[2015-12-20 03:39] #419 closed

[2015-12-20 06:03] gkhanna79 commented on #309
See Jan's comment in https://github.com/dotnet/cli/pull/622

[2015-12-20 06:26] schellap commented on #309
osxstubs as well.

[2015-12-20 06:39] gkhanna79 opened #555 "Target basic Windows OS SKUs"
Require fixing the OS linkages.

[2015-12-21 04:57] gkhanna79 commented on #309
CLI side of PR for this change - https://github.com/dotnet/cli/pull/632
CoreRT side of PR for this change - https://github.com/dotnet/corert/pull/556

[2015-12-22 22:02] gkhanna79 opened #559 "Consume PALs from intended package"
Currently, we link PALs for FX libraries from AppDep package. They should be eventually consumed from their own package.

[2015-12-23 18:42] gkhanna79 opened #561 "Enable --cppcompilerflags to support multiple values"
Currently it can only take a single value.

[2015-12-23 18:44] gkhanna79 opened #562 "Export other functions from bootstrapper"
This is to account for Jan's comment in https://github.com/dotnet/corert/pull/560

CC @jkotas

[2015-12-26 13:13] kika123 opened #567 "ARM64 toolchain"
ARM64 can't be tested, as the toolchain isn't public in VS2015

[2015-12-27 07:08] jkotas opened #568 "Use System.CommandLine for ilc.exe command line parsing"
https://github.com/dotnet/corefxlab/tree/master/src/System.CommandLine, CLI repo has number of examples

[2015-12-29 07:40] jkotas commented on #213
This workaround was moved to src\System.Private.CoreLib\src\System\Text\Encoding.cs

[2015-12-30 00:50] gkhanna79 opened #573 "Add CentOS support for CoreRT build"
This requires work in:

1) Build/test scripts
2) Managed build
3) CI
4) Packages we publish (ILC, ILC.SDK, JIT, OW)

[2015-12-30 17:25] #562 closed

[2015-12-31 18:07] tijoytom commented on #541
I did some experiments with OSV using C++ codegen and was able to get a simple helloworld working

Got the simple hello world working after I disabled QueryCacheSize and the finalizer thread.

tijoytom@uberbot:~/osv$ sudo ./scripts/run.py -nv -c1
OSv v0.24-36-gcd362a2
eth0: 192.168.122.89
/# Hello Unikernel from C#

1. Removed  bool QueryCacheSize() from PalRedhawkUnix , opendir("/sys/devices/syst

[2016-01-01 14:59] Phrohdoh opened #582 "Failure to clean on OS X 10.11"
Occurred on b0c0452749f820c97bc722801fcbe1a9a8bd6ede.

[code]

In particular this caught my eye: `Failed to build corert native components.`
Why is there any building happening if I am trying to clean?

[2016-01-02 16:42] kyulee1 commented on #582
This appears the same issue  https://github.com/dotnet/coreclr/issues/2054 which seems CMake 3.4 bug with regard to this change
[code]
Try the previous version CMake 3.3.2 for workaround, instead.

[2016-01-04 19:36] tarekgh commented on #272
Alex done it

[2016-01-04 19:36] #272 closed

[2016-01-04 19:40] tarekgh commented on #280
@yizhang82 I think you have confirmed before we don't need to port this library to corert. if this is true, could you please close this issue?

[2016-01-04 19:41] tarekgh commented on #281
@yizhang82 I think you have confirmed before we don't need to port this library to corert. if this is true, could you please close this issue?

[2016-01-04 20:02] tarekgh commented on #282
@tijoytom already done it.

[2016-01-04 20:02] #282 closed

[2016-01-04 23:31] schellap opened #587 "Console.WriteLine(100) hits not implemented errors"
From, @schnee72

This is likely because of a feature that is not yet implemented in the compiler.

See https://github.com/dotnet/cli/issues/702

[2016-01-04 23:32] gkhanna79 commented on #582
Specifying the "clean" argument means that the a clean build should be attempted (resulting in recompiling everything).

[2016-01-04 23:42] jkotas commented on #587
This is blocked by https://github.com/dotnet/corert/issues/510

[2016-01-05 01:03] hynguyen2610 opened #588 "The C compiler identification is unknown"
I installed cmake.
When trying to run the build.bat, I got this error.

-- The C compiler identification is unknown
-- The CXX compiler identification is unknown
CMake Error at CMakeLists.txt:2 (project):
  No CMAKE_C_COMPILER could be found.

[2016-01-05 01:45] jkotas commented on #588
Do you have Visual Studio 2015 installed? Could you please try running the build in `VS2015 x64 Native Tools Command Prompt`?

[2016-01-05 01:51] hynguyen2610 commented on #588
I have Visual Studio 2015 Community installed, with C# and C++ modules. Tried to run build.bat with VS2015 x64 Native Tools Command Prompt, but this error still happened.

[2016-01-05 17:04] jkotas commented on #588
Dup of https://github.com/dotnet/coreclr/issues/2524

[2016-01-06 01:07] jkotas commented on #582
Fixed by https://github.com/dotnet/corert/pull/591

[2016-01-06 01:07] #582 closed

[2016-01-06 04:40] hynguyen2610 commented on #588
I findout this error because I install CMake before VS. Remove CMake and reinstall fix this

[2016-01-06 04:40] #588 closed

[2016-01-06 04:44] hynguyen2610 opened #593 "Error when build (24 errors)"
When run build.bat, I got a long error list look like
[error_log.txt](https://github.com/dotnet/corert/files/79370/error_log.txt)

[2016-01-06 18:32] gkhanna79 commented on #593
Are you attempting the build from VS x64 native tools command prompt?

[2016-01-06 19:32] MichalStrehovsky opened #594 "Fix reflection over multidimensional arrays"
On .NET Native for UWP, multidimensional arrays are represented as generic instances of System.MDArrayRank`X` type (where `X` is the rank <= 4). On CoreRT, multidimensional arrays are represented the same way they are represented in CoreCLR (actual multidimensional arrays).

We need to:
* Grep for references to "`MDArrayRank`" within the reflection code base and update accordingly
* Make a new ref

[2016-01-06 23:40] #403 closed

[2016-01-07 00:50] hynguyen2610 commented on #593
No, I run the build.bat from a normal CMD windows

[2016-01-07 01:28] jkotas commented on #49
I will take a look

[2016-01-07 01:36] schellap commented on #49
@nguerrera suggested this small sample code, it might be useful. I found that this logic needs to be refactored to fit with the current reader.

[code]

[2016-01-07 02:16] hynguyen2610 opened #599 "The build tools for Visual Studio 2010 (Platform Toolset = 'v100') cannot be found"
I have VS 2015 community installed with C++ (all ticked, ,included VS tool for C++), but when run the build.bat, I got this error (Log attached)
[log.txt](https://github.com/dotnet/corert/files/80646/log.txt)

Build FAILED.
       "c:\git\coreclr-master\bin\obj\Windows_NT.x64.Debug\install.vcxproj" (default target) (1) ->
       "C:\git\coreclr-master\bin\obj\Windows_NT.x64.Debug\ALL_BUILD.vcxproj

[2016-01-07 02:20] hynguyen2610 commented on #593
I findout this problem is because I am using Python 3.5, replace it by Python 2.7 and the building doesn't get this error anymore. I close this now

[2016-01-07 02:20] #593 closed

[2016-01-07 02:23] #599 closed

[2016-01-07 18:56] tarekgh commented on #274
@MichalStrehovsky already ported the library. closing the issue.

[2016-01-07 18:56] #274 closed

[2016-01-07 19:47] gkhanna79 opened #602 "Generate CentOS packages for RyuJIT and ObjectWriter"
See associated issue - https://github.com/dotnet/corert/issues/573

CC @russellhadley

[2016-01-07 20:54] gkhanna79 commented on #370
Any concerns in closing this?

[2016-01-07 20:59] MichalStrehovsky commented on #370
This is tracking the failing tests and the tests are still failing AFAIK. Do we have this work tracked elsewhere?

[2016-01-08 00:48] noahfalk opened #606 "Clarify dependency on VS140COMNTOOLS"
Following the instructions to build and test I mistakenly assumed that I could build in one command window and then run a HelloWorld test from a second window. However if you only do these steps in a new command window:

    set PATH=%PATH%;f:\github\corert\bin\tools\cli\bin
    set DOTNET_HOME=f:\github\corert\bin\tools\cli
    dotnet compile --native --ilcpath f:\GitHub\corert\bin\Product\Window

[2016-01-08 02:50] jkotas opened #608 "Emit native DebugInfo on Unix"

[2016-01-08 04:23] manu-silicon opened #609 "Build incrementality issue"
I usually build both the Linux x64 and Linux arm64 using the same source tree. It used to be working fine when I switched the output, i.e. doing this worked:

[code]

However now it does not work. I haven't looked into the details yet, but now when I do the above, the first build succeeds while the 2nd and 3rd builds fail with this error:

[code]

It might not be surprising that the 2nd build fail

[2016-01-08 07:58] manu-silicon commented on #609
I found the issue related to the presence of cross/rootfs folder which is actually a symbolic link in my case and not an actual folder. This used to work.

Any idea where this is checked somehow? I do not have ROOTFS_DIR defined anywhere.

Here is the output when it fails:

[code]

[2016-01-08 13:34] #49 closed

[2016-01-08 13:41] jkotas commented on #609
I have noticed as well that the `dotnet` tends to choke on symbolic links.

We should create a minimal repro for it (e.g. the right combination of `dotnet new` + `dotnet restore`) and open a bug on it in https://github.com/dotnet/cli repo.

[2016-01-08 19:36] jkotas opened #610 "Generate PInvoke transitions in the JIT"
The JIT needs to generate the following code around PInvoke calls, the existing logic to check for PInvoke calls is in Compiler::impCheckForPInvokeCall should work:

[code]

There is some of this in the RyuJIT already – the difference between the above and what’s there today are:
-	JIT_PINVOKE_BEGIN callback does not exist, instead the JIT has knowledge of the CoreCLR-specific EE datastructures an

[2016-01-08 19:38] jkotas opened #611 "Generate reverse PInvoke transitions in the JIT"
The JIT needs to generate the following code in prolog/epilog of reverse PInvoke calls. There needs to be a new flag added to JIT-EE interface to mark these methods (e.g. it can be called `CORINFO_FLG_NATIVECALLABLE`):
[code]
None of this exist in RyuJIT today, but there are other prolog/epilog callbacks with similar structure.

[2016-01-08 20:39] jkotas opened #612 "Build fails if binary directory is a symbolic link"
Execute the following in CoreRT repo root on Ubuntu (I have done something similar to workaround out-of-disk space problem):

[code]

Result:

[code]

[2016-01-08 20:41] jkotas commented on #612
The problem seems to be the `../../../..` for ILCompilerSdkBinPlace in https://github.com/dotnet/corert/blob/01cdef0f099e507230e4bfa26e576dfd62a61306/src/packaging/packages.targets#L86.

@schellap Is there a good way to avoid `../../../..` here?

[2016-01-08 20:42] jkotas commented on #609
I have opened #612 on the symbolic link problem that I have seen - it seems to be a different issue.

[2016-01-08 23:03] kyulee1 commented on #606
I'm seeing this too. Setting this is effectively disabled -- https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.Tools.Compiler.Native/IntermediateCompilation/Windows/WindowsCommon.cs#L13
Either we should fix or update wiki as a required environment.

[2016-01-09 16:04] #612 closed

[2016-01-10 20:27] noahfalk commented on #606
FYI: On another machine I am finding even calling vcvarsall.bat doesn't resolve the issue. On this machine I needed to manually add paths to the LIB environment variable. I assume it has to do with exactly which versions of the Windows SDK are installed and that they likely have different directory layouts, but I haven't been able to do a careful comparison.

[2016-01-11 00:39] noahfalk commented on #606
Continuing to add notes as I discover how the various pieces work. The LIB path generated by vcvarsall.bat above came from Visual Studio 2015 without Update 1. After upgrading to update 1 the behavior changed and produced this LIB path instead:

    C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\LIB\amd64
    C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\ATLMFC\LIB\amd64
    C:\Pr

[2016-01-11 04:10] hynguyen2610 opened #620 "Error when try to build and run ILCompiler in Visual Studio 2015, The build tools package was just restored and so we cannot continue"
Hi,
I am following the tutorial at https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-visual-studio-2015.md
After set the "desktop" to startup project and set it's command line to

I press F5 and got this error:

[2016-01-11 04:21] hynguyen2610 commented on #620
Enable Nuget to download missing packages fixed this

[2016-01-11 04:21] #620 closed

[2016-01-11 04:29] hynguyen2610 opened #621 "An unhandled exception of type 'Internal.CommandLine.CommandLineException' occurred in ilc.exe Additional information: No files matching c:\corert\src\ILCompiler\repro\bin\Debug\repro.exe"
I am following the tutorial at
https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-visual-studio-2015.md
When run the solution (startup project), I got this error

[2016-01-11 04:54] jkotas commented on #621
This means that the repro project in the solution was not built.

[2016-01-11 05:04] jkotas commented on #621
I have added explicit dependency between desktop and repro project to make the instructions work on a pristine clone of the repo.

BTW: I see that you are opening issues on problems you are running into. It would be great if you could send us pull requests with documentation fixes if other are likely going to run into the same problems.

[2016-01-11 05:11] #621 closed

[2016-01-11 15:58] kyulee1 opened #623 "Platform specific unwinder support"
This needs change in RyuJit/Runtime/OW.

[2016-01-11 18:03] gkhanna79 commented on #623
CC @smosier

[2016-01-11 19:06] gkhanna79 commented on #606
@noahfalk Did you attempt to compile from within VS 2015 x64 Native Tools command prompt?

[2016-01-11 19:31] pgavlin commented on #610
@jkotas

[code]

Would it be more precise to say "no managed references may be live *only* in registers?" I assume that this is due to the GC transition that `JIT_PINVOKE_BEGIN` will perform.

[code]

Similarly, I assume that argument setup and the return value store don't need to be tightly positioned around the call to the target so long as they respect the condition above.

[2016-01-11 19:46] jkotas commented on #610
Yes.

This depends on the calling convention of these JIT helpers. If they are going to have regular calling convention, then the argument setup has to be after the call to the helper. We can explore a custom calling convention if it would be too hard to use the regular calling convention for these in the JIT.

[2016-01-11 20:55] pgavlin commented on #610
Ah, right.

Sure. I'm thinking of LLVM in particular (via LLIILC), which currently performs GC transitions immediately before and after the unmanaged call instruction in order to ensure that the preemptive mode invariants are respected.

[2016-01-12 00:12] noahfalk commented on #606
@gkhanna79 - I tested it in some situations, but I don't remember exactly which setups I tried it. My understanding is that the VS command prompt is roughly the same as a regular command prompt where you execute vcvarsall.bat. I would expect all scenarios that were resolved by running vcvarsall.bat would also be resolved by running in the in the developer command prompt.

Just to make sure there i

[2016-01-12 00:18] gkhanna79 commented on #606
@noahfalk Thanks. Our currently supported scenario for Windows is to run the tools under VS 2015 X64 Native Tools command prompt.

[2016-01-12 00:19] noahfalk commented on #606
The instructions don't mention this as far as I can tell, I'll include that in the update

[2016-01-12 02:31] manu-silicon commented on #609
I dig at little bit more into the problem by using some verbose output to the msbuild task. For some reasons it tries to access the path:

[code]

which is a symbolic link to ```/home/Microsoft/corert/cross/rootfs/arm64/etc/ssl/private``` which is owned by root. And accessing this file doesn't really make sense when targeting x64. If we were targeting arm64, maybe but this file is by default owned

[2016-01-12 15:35] gkhanna79 commented on #609
I am not aware of any build aspect creating this symlink. Do you have a sense of when it maybe getting created?

CC @schellap

[2016-01-12 19:16] MichalStrehovsky opened #631 "Support for generic virtual methods"
High level buckets:
- [x] Compiler support
- [x] Framework support (piping, callback initialization, porting existing code from TFS)

[2016-01-12 20:39] kyulee1 opened #632 "Duplicated definitions of optional fields"
We should emit only one copy of the same optional fields data.

[2016-01-12 22:48] nattress opened #634 "Remove CreateInstanceIntrinsic workaround"
\src\System.Private.CoreLib\src\System\Activator.cs has a workaround to add a method implementation which throws a NotSupportedException until support the intrinsic is added to the compiler and the method body is no longer needed.

[2016-01-13 01:01] manu-silicon commented on #609
This symlink is not really the issue (this is created by the process to create a arm ROOTFS directory (see https://github.com/dotnet/corert/blob/master/Documentation/cross-building.md). What is strange is why it is looking at this path:
[code]

[2016-01-13 08:52] manu-silicon commented on #609
Just to confirm that the link is not the issue. As soon as you have a rootfs folder that was created by ```build-rootfs.sh``` then it fails because the cli tools are trying to look into that folder.

[2016-01-13 08:59] manu-silicon commented on #609
See https://github.com/dotnet/cli/issues/822

[2016-01-13 18:33] MichalStrehovsky commented on #634
Maybe a dupe of #368?

[2016-01-13 19:38] jkotas commented on #634
I agree.

[2016-01-13 19:38] #634 closed

[2016-01-13 19:41] gkhanna79 opened #639 "Transition to use MSBuild for .NET Core to build managed components"

[2016-01-13 21:33] janvorli opened #640 "Create proper abstraction for callback at thread termination in PAL"
At the moment, PAL explicitly uses FLS to register callback at the thread shutdown. We need to abstract that so that we don't have to emulate `FlsAlloc` / `FlsGetValue` / `FlsSetValue` on Unix.

[2016-01-13 21:40] janvorli opened #641 "Implement waiting for multiple objects for Unix in PAL"
The WaitForMultipleObjectsEx and PalCompatibleWaitAny need to be implemented / modified to support multiple objects to wait on.

[2016-01-13 21:43] janvorli opened #642 "Implement PalHijack for Unix in PAL"
Thread hijacking is necessary e.g. for GC stack walking.

[2016-01-13 21:44] janvorli opened #643 "Implement FlushProcessWriteBuffers for Unix in PAL"
It is necessary for GC in multi-threaded scenarios.

[2016-01-13 21:50] janvorli opened #644 "Implement various remaining PAL functions for Unix"
We need to implement:
- PalGetCurrentProcessorNumber for OSX / FreeBSD
- PalAllocateThunksFromTemplate
- TerminateProcess
- GetEnvironmentVariableW
- PalGetModuleBounds - getting the upper limit
- PalReadFileContents
- PalGetModuleFileName
- GetCurrentThreadId
- FlushFileBuffers / WriteFile (probably reimplement their usage by CRT functions)
- GCToOSInterface::VirtualReset
- GCToOSInterface::GetLa

[2016-01-13 23:42] jkotas commented on #641
I am not sure whether we need full wait for multiple objects for the runtime alone.

Full wait for multiple objects should be only needed for framework threading support. The framework threading support should have its own PAL in System.Private.CoreLib.Native.
cc @schellap

[2016-01-14 00:03] janvorli commented on #641
@jkotas The RhpWaitForFinalizerRequest could possibly pass in two handles to wait if the lowMemEvent is ever implemented.
The RhCompatibleReentrantWaitAny calls PalCompatibleWaitAny with an arbitrary number of handles, but I can see that it is used only in the src\System.Private.CoreLib\src\System\Threading\LowLevelThread.cs, so I guess that's the case that this will move to the specialized PAL of

[2016-01-14 03:13] nattress commented on #510
Added by the interface dispatch feature in commit https://github.com/dotnet/corert/commit/811a3232872e0ac3835b932c0ebbb7a130c11623.

[2016-01-14 03:15] nattress commented on #510
We still need to port the Unix assembly code portions of dispatch, so I'll leave this issue open for now.

[2016-01-14 13:59] #606 closed

[2016-01-14 17:49] MichalStrehovsky opened #647 "Make Delegate.Combine work"
Reflection uses Delegate.Combine and invokes such combined delegates. We either need to hack around it or make it work on CoreRT. I would prefer making it work.

[2016-01-14 17:53] MichalStrehovsky opened #648 "Make unboxing work"
JitHelperId.Unbox is not implemented in the compiler.

We need to implement it at least to the extent that `IntPtr.Zero.Equals(IntPtr.Zero)` works.

For the above, it's actually enough to make it call `__fail_fast` because we don't actually take the code path that calls the helper, but a full implementation might be nice.

[2016-01-14 17:55] jkotas commented on #648
I will take care of this one

[2016-01-14 22:05] Priya91 opened #650 "Implement Environment.MachineName on Unix"
Currently the implementation return PNSE for UWP. We have to get ```GetComputerName``` win32 api supported on Store profile or find other suitable API. This issue also tracks porting the Unix implementation using ```gethostname``` in coreclr to corert.

cc @joshfree @jkotas

[2016-01-15 09:12] jkotas opened #655 "Efficient AddrOf intrinsic"

[2016-01-15 09:27] jkotas commented on #655
Either make JIT to optimize out the unnecessary delegate allocation, or product ldftn directly from Roslyn.

[2016-01-15 20:34] jkotas commented on #650
This issue should be just about the Unix implementation...

[2016-01-15 21:34] tarekgh commented on #650
will look at this.

[2016-01-15 23:48] yizhang82 opened #657 "Module constructor support in CoreRT startup code path"
Initially it can be implemented as eager constructors as part of CoreRT startup code path and call them in the right order based on dependency graph.
This feature is needed by interop team to properly initialize data structures before module load.

[2016-01-15 23:55] yizhang82 opened #658 "Port thunk pool support to CoreRT"
Interop team needs a way to dynamically allocate executable thunks (from a pool, or created on-demand) pointing to a stub function, and retrieve the thunk ID from the stub function to collect custom information regarding the thunk. This is needed for implementing reverse P/invoke delegates.

[2016-01-16 07:10] loqix opened #663 "Non-English operating system compile error"
Generated cpp file requires BOM header

[2016-01-18 08:06] jkotas opened #667 "InterfaceDispatchMapTable not compatible with PIE"
Linking on Mac emits warning:

Absolute addressing (perhaps -mdynamic-no-pic) not allowed in code signed PIE, but used in ___InterfaceDispatchMapTable

PIE is Unix version of ASLR. The linker warning says that the ASLR will be disabled … so it is basically a security bug.

[2016-01-18 08:08] jkotas opened #668 "Rare fields for Nullable EEType are not in the format expected by the runtime"
Repro:

[code]

[2016-01-18 08:10] jkotas commented on #668
@nattress Could you please take a look? (#666 is needed for repro.)

[2016-01-18 21:14] jkotas commented on #85
Fixed by #571

[2016-01-18 21:14] #85 closed

[2016-01-18 21:18] jkotas opened #669 "Enable Unix build of System.Private.Interop"
See TODOs in https://github.com/dotnet/corert/blob/master/src/System.Private.Interop/src/System.Private.Interop.csproj

[2016-01-18 21:25] jkotas commented on #669
I am adding more TODOs to https://github.com/dotnet/corert/blob/master/src/Native/Bootstrap/platform.unix.cpp

[2016-01-18 21:32] jkotas opened #670 "Unix port of _ecvt_s and _copysign"
Used by CoreLib number formatting and math.

[2016-01-18 21:33] jkotas commented on #670
I am adding TODOs to https://github.com/dotnet/corert/blob/master/src/Native/Bootstrap/platform.unix.cpp

[2016-01-19 02:12] jkotas opened #672 "[Port] System.Reflection.Extensions/System.Reflection.TypeExtensions"
- Put the implementation into System.Private.Reflection.*
- Keep the facades and contracts in corefx

[2016-01-19 14:37] jkotas commented on #669
Also:
- Change `WIN32` to `BIT64` - the CoreRT convention is to use BIT64 for 64-bit specific code.
- IsAtom/IsNotWin32Atom needs to be short-circuited for Unix because of they would return false positives.
     - Maybe worth it going through `FEATURE_PAL` and `PLATFORM_UNIX` ifdefs in CoreCLR to see whether there is more of these.

[2016-01-19 18:10] #648 closed

[2016-01-20 15:25] gkhanna79 commented on #231
@schellap Are we publishing from VSO now?

[2016-01-20 15:38] gkhanna79 commented on #655
@jkotas Should this be closed? If not, can you please update the milestone and owner?

[2016-01-20 15:49] gkhanna79 commented on #250
We build and compile tests for CPP and JIT modes as part of the repo build, so I am closing the issue.

[2016-01-20 15:49] #250 closed

[2016-01-20 16:43] jkotas commented on #374
The unimplemented JIT helpers result into NotYetImplemented exception at compilation time with the JIT helper name with my recent changes.

[2016-01-20 16:43] #374 closed

[2016-01-20 19:24] tijoytom opened #679 "Port Mcg to CoreCLR"

[2016-01-20 19:25] tijoytom opened #680 "Remove --enableinterop switch from dotnet CLI once mcg is cross platform"

[2016-01-20 19:26] tijoytom opened #681 "Port System.Private.MCG contract to CoreFX repository"
We need the contract and facade to compile and run mcg generated interop code and the right place for it is corefx.

[2016-01-20 19:26] tijoytom opened #682 "Fixup mcg commandline to be consistent with ilc.exe"

[2016-01-20 19:27] tijoytom opened #683 "Package LKG version of MCG as nuget package and consume from CLI"

[2016-01-20 22:05] nattress opened #685 "Implement ManagedCallout2 support on Unix"
The implementation is in assembly code. A Unix GAS implementation of amd64/ManagedCalloutThunk.asm is needed for full support

This is worked around currently in https://github.com/dotnet/corert/blob/master/src/Native/Runtime/portable.cpp.

[2016-01-21 00:14] tijoytom opened #687 "Better convension for matching mcg generated PInvoke method to user Pinvoke"
Mcg use the DllModule  name as the container type name for PInvoke methods it generate , but the CoreRT logic try to lookup a type with the same name as the user pinvoke containing type and obviously fails. Mcg also doesn’t  generate nested types. We can easily fix mcg to use user pinvoke containing type name , but then we need to handle name collision ( in ProjectN)  since two assemblies can have

[2016-01-21 00:45] nattress commented on #365
This is a duplicate of issue https://github.com/dotnet/corert/issues/510 that I'm using to track this work.

[2016-01-21 00:45] #365 closed

[2016-01-21 02:15] nattress commented on #668
Fix checked in.

[2016-01-21 02:15] #668 closed

[2016-01-21 04:08] schellap opened #689 "Return Array.Clone of static in Environment.GetCommandLineArgs"
In CPP CodeGen `cast` ends up with overloaded signatures of RhUnbox but then they are also marked extern "C".

1. Fix TODO: https://github.com/dotnet/corert/blob/caf081dfe05c52826ac09f6204ed0acb19fe909c/src/System.Private.CoreLib/src/System/Environment.cs#L125

2. Also, remove the if check:
https://github.com/dotnet/corert/blob/c4232511ff688be60494042599eafa259a88b2aa/src/ILCompiler.Compiler/src/C

[2016-01-21 04:10] schellap opened #690 "Windows StartupCodeMain should use wchar and wmain"
Try to link without /SUBSYSTEM:CONSOLE from CLI.

[2016-01-21 11:01] #689 closed

[2016-01-21 15:48] janvorli commented on #643
Implemented by #693

[2016-01-21 15:48] #643 closed

[2016-01-21 18:38] nattress commented on #587
Fixed with https://github.com/dotnet/corert/pull/684

[2016-01-21 18:38] #587 closed

[2016-01-21 18:39] nattress commented on #510
With https://github.com/dotnet/corert/pull/684 this feature is now supported across all three platforms.

[2016-01-21 18:39] #510 closed

[2016-01-21 22:01] russellhadley opened #696 "command line flag to enable debug info output"
In addition to an debug/opt decision the tool chain needs to allow the user to emit or drop debug info.

An example would be the -Zi flag for cl.exe

[2016-01-21 22:18] #667 closed

[2016-01-21 22:40] russellhadley opened #697 "Enable clr config value support with CoreRT"
The code generator should (will) use the get{Int,String}ConfigValue APIs on the corinfo.h interface to access runtime configuration values.  Depending on scenario or runtime these could come from the environment, registry, or ini file.  In the near term the JIT needs these APIs wired up to allow for dumping, disasm, and controlling test/stress modes.

[2016-01-22 16:38] tarekgh opened #701 "Integrate System.Native package to corert toolchain"
we have created System.Native package and we need to have corert toolchain start consuming it.

https://github.com/dotnet/corefx/issues/4572#issuecomment-173954717

[2016-01-22 23:42] wjk opened #702 "P/Invoke Documentation"
I was planning on compiling my complex application using CoreRT, but it uses a _lot_ of P/Invoke (and more than a little COM interop). After reviewing the source code and issues/PRs, I have come to the conclusion that P/Invoke on CoreRT requires different techniques (more unsafe methods, C# pointers, and manual conversion of types) than P/Invoke on CoreCLR. In addition, COM interop would be signif

[2016-01-23 03:50] jkotas commented on #702
CoreRT is not far enough to compile complex applications yet. We do plan do have fully interop support via MCG tool eventually, but it will take a while.

cc @yizhang82

[2016-01-23 06:42] tommyettinger opened #705 "Building on Windows 7: DotNet CLI could not be downloaded or installed."
I'm running Windows 7, 64-bit, with VS 2015 Community and CMake 3.3.0 installed. After unblocking the zip I downloaded from Github (I didn't clone), I extracted to `C:\corert` as per the documentation, navigated to that folder in the VS2015 x64 Native Tools Command Prompt, and ran `build.cmd clean Release`. The build went quickly but for some reason was not complete; `C:\corert\bin\tools` is compl

[2016-01-23 06:58] kangaroo commented on #705
@tommyettinger Does this fix it for you:
https://gist.github.com/kangaroo/c07d053b6200d34f47a4

[2016-01-23 07:11] tommyettinger commented on #705
It doesn't change anything, but from what I can tell, it should! Manually entering the URLs:
 * https://dotnetcli.blob.core.windows.net/dotnet/dev/Binaries/Latest/dotnet-win-x64.latest.zip
 * https://dotnetcli.blob.core.windows.net/dotnet/dev/Binaries/Latest/dotnet-win-x64.Latest.zip
Causes only the first to download a file in the browser. Could an older version of the script be cached somewhere?

[2016-01-23 15:33] jkotas commented on #705
cc @schellap

[2016-01-23 16:18] tommyettinger commented on #705
So manually downloading https://dotnetcli.blob.core.windows.net/dotnet/dev/Binaries/1.0.0.000973/dotnet-win-x64.1.0.0.000973.zip and unzipping its contents to `C:\corert\bin\tools\cli\` seems to enable the build to progress further. I seem to be getting mostly HTTP timeouts when downloading packages this depends on via NuGet, however. Some of the downloads appear to succeed, but others, like Syste

[2016-01-23 23:31] noahfalk opened #710 "RhpNewArray in portable.cpp allocates incorrectly sized strings"
The slow path C++ code for RhpNewArray allocates assuming that the method table base size is 3 pointers.

    COOP_PINVOKE_HELPER(Array *, RhpNewArray, (EEType * pArrayEEType, int numElements))
    {
        // eliding some code for brevity
        size_t size = 3 * sizeof(UIntNative) + (numElements * pArrayEEType->get_ComponentSize());

However the base size for strings on x64 is 22 bytes (and I

[2016-01-24 04:21] jkotas commented on #632
Fixed by #716

[2016-01-24 04:21] #632 closed

[2016-01-24 12:33] krytarowski opened #718 "Clash with pointers to data and pointers to functions"
There are several places where CoreRT stores pointers to functions in `void*`. This isn't supported by C/C++ language.

Few examples:

[code]

[code]

[code]

I don't know how to fix it off hand properly. Brute-forcing it with `reintrpret_cast<>`? Perhaps cast it to `intptr_t`? Besides it working on amd64 it might break badly on other platforms.

Host:

[code]

[2016-01-24 12:47] krytarowski commented on #718
This blocks me with progress on NetBSD porting.

[2016-01-24 15:40] kyulee1 commented on #718
The first issue with regard to EEType/StringTable is actually not a function but a read only data. https://github.com/dotnet/corert/pull/719 should fix this.

The latter seems a real conversion between function ptr to void *, which is actually not C standard which NetBSD tool-chain seems to have..
We could workaround by explicitly allocating a location to hold function pointer and converting from

[2016-01-24 17:06] krytarowski commented on #718
Your patch for src/Native/Bootstrap/main.cpp in #719 fixed build of this file.

[2016-01-24 17:32] krytarowski commented on #718
I tested it:

[code]

[code]

[2016-01-24 17:40] jkotas commented on #718
For the other cases, brute-forcing it using `reinterpret_cast` should be fine.

[2016-01-24 19:06] kyulee1 commented on #718
Should https://github.com/kyulee1/corert/tree/funccast be enough to fix this issue?
BTW, why not using clang insteadd of gcc? My understanding iss Dotnet Core toolchain assumes this in various places.

[2016-01-24 20:05] jkotas opened #720 "Emit module header with list of module sections"
TODO at https://github.com/dotnet/corert/blob/b54338dc0eeb0fe39e4a13aceccbe428474be94d/src/Native/Bootstrap/main.cpp#L260

[2016-01-24 21:19] krytarowski commented on #718
Thank you, I'm going to test it.

I have got a nonstandard clang setup.. as I sit on current with it, as I'm helping on the LLDB/NetBSD line. For the  rest I try to use GCC.

[2016-01-24 21:26] krytarowski commented on #718
@kyulee1 your patch worked! Thank you. I have got a bunch of other errors in the same class. I will try to address them the same way.

Please merge your patch with HEAD.

[2016-01-25 04:13] #718 closed

[2016-01-25 18:01] aakar-gupta commented on #650
In CoreCLR how can we get ComputerName on Unix type machine ?? Envoirnment.MachineName is available there ?

[2016-01-25 18:12] Priya91 commented on #650
Environment.MachineName will be available in ```System.Runtime.Extensions``` 4.1.0.0 contract. The work is being tracked here: dotnet/corefx#5428

[2016-01-25 18:32] b3nt0 commented on #541
There is actually a really nice write up by one of the founders of Joyent about how unikernels may be missing the point a bit. (Sorry, I don't have the URL.) His point, in short, was basically that applications these days actually aren't bound by context switches, which are the main thing that unikernels save you from. I'm probably not doing it justice, but it did make the case that what's intuiti

[2016-01-25 18:38] tijoytom commented on #541
I think this's what you are refereeing to https://www.joyent.com/blog/unikernels-are-unfit-for-production
But there are lot of well thought argument for unikernel in the comments "https://news.ycombinator.com/item?id=10953766".

[2016-01-25 19:13] b3nt0 commented on #541
That's the one. Thanks!

[2016-01-25 23:04] tijoytom opened #730 "Pinvoke method "W" and "A" probing"
(1). [DllImport("kernel32.dll", CharSet = CharSet.Unicode)]
public static extern bool GetProcessMemoryInfo(IntPtr hProcess, out PROCESS_MEMORY_COUNTERS ppsmemCounters, int cb);

linking phase  will fails since it can't find "GetProcessMemoryInfo" in any of the libs.

(2).  On windows distinguish between "W" and "A" version of method.

[2016-01-26 04:54] yizhang82 commented on #702
@wjk As @jkotas mentioned, we are actively working on porting over MCG tool (from .NET native) to CoreRT to enable p/invoke scenarios and the same support would most likely still available to you in CoreRT. However, we don't have a plan to port the COM interop support yet (but it's definitely doable, and we can even support simple COM interop in other OS through simple COM ABI rules). Just curious

[2016-01-26 20:09] wjk commented on #702
@yizhang82 The COM interop I have in mind is that required to enable calls into COM required for Windows integration in GUI apps (`IFileDialog`, `ICustomDestinationList`, and `ITaskbarList4` in particular).

[2016-01-27 09:05] krytarowski opened #740 "NetBSD buildslave?"
Current CoreRT/NetBSD is at "CoreRT native components successfully built.". Nuget/msbuild are in progress of researching/porting.

Could we please setup NetBSD build machine? I think @mulander can help with Jenkins setup. I'm more familiar with Python buildbot.

Thank you in advance.

[2016-01-27 18:16] janvorli commented on #644
Remaining stuff:
 - PalAllocateThunksFromTemplate
 - TerminateProcess
 - PalGetModuleBounds - getting the upper limit
 - PalGetModuleFileName
 - GetCurrentThreadId
 - GCToOSInterface::VirtualReset
 - GCToOSInterface::GetLargestOnDieCacheSize

[2016-01-27 18:27] jkotas commented on #644
This should be done as part of https://github.com/dotnet/corert/issues/658 instead.

The callers of these functions will need work because of they are very Windows-specific. We should not need these once the callers are ported to Unix.

[2016-01-27 18:51] jkotas commented on #740
@krytarowski I would like to thank you for your contributions to the CoreRT project. They definitely made the project better.

We do have plans to add more build bots (e.g. #573 is tracking CentOS), but we do not have capacity for it right now. We hope to get to it after .NET Core release in March. The relative amount of native code in CoreRT repo is pretty small, so hopefully the native NetBSD bu

[2016-01-27 22:57] tarekgh opened #742 "StringBuilder::AppendFormatHelper is not compiled"
run the code:
Console.WriteLine("{0}", "Hi");

will get the following stack:

#0  0x00007ffff6c01cc9 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:56
#1  0x00007ffff6c050d8 in __GI_abort () at abort.c:89
#2  0x00007ffff7b36535 in __gnu_cxx::__verbose_terminate_handler() () from /usr/lib/x86_64-linux-gnu/libstdc++.so.6
#3  0x00007ffff7b346d6 in ?? () from /usr/lib/x86_6

[2016-01-27 23:04] tarekgh opened #743 "System.Globalization.NumberFormatInfo.get_CurrentInfo is not compiled"
Run:
Console.WriteLine(123.ToString());

will he following stack

#0  0x00007ffff6c01cc9 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:56
#1  0x00007ffff6c050d8 in __GI_abort () at abort.c:89
#2  0x00007ffff7b36535 in __gnu_cxx::__verbose_terminate_handler() () from /usr/lib/x86_64-linux-gnu/libstdc++.so.6
#3  0x00007ffff7b346d6 in ?? () from /usr/lib/x86_64-linux-gnu/

[2016-01-27 23:45] krytarowski commented on #740
Thank you for your feedback.

In the start, the code quality is very high, almost no need to add checks for `defined(__NetBSD__)`. Yes, CoreRT is just a partial .Net support and it happened to be relatively the easiest one to get as the first one aboard to NetBSD. All mentioned projects are being ported as well, while CoreCLR is going to be the next.

I'm also active on the line with .Net dependen

[2016-01-27 23:59] jkotas commented on #743
It is failing because of the following line requires reflection that is not hooked up yet:

formatProvider.GetFormat(typeof(NumberFormatInfo))

[2016-01-28 00:02] jkotas commented on #742
Same problem as #742. The following line requires reflection:

provider.GetFormat(typeof(ICustomFormatter));

[2016-01-28 00:03] jkotas commented on #742
Closing as dup

[2016-01-28 00:03] #742 closed

[2016-01-28 06:04] MichalStrehovsky commented on #743
@tarekgh There are already workarounds checked in for other cases when reflection blocks a scenario. If it's blocking you, please check in a workaround with a TODO. If it's not blocking you, I see little point in filing bugs for all the code paths that can potentially call into reflection (I recommend we close this).

[2016-01-28 06:42] #710 closed

[2016-01-28 15:11] jkotas commented on #743
I will take a look at implementing the workaround

[2016-01-28 16:20] tarekgh commented on #743
thanks @jkotas. I'll try to test my changing without hitting any of such code paths. it is so far not really blocking. if you are going to check in a workaround, it'll be nice to do the work around for the stringBuilder case as it is used by many code paths. thanks for looking at that.

[2016-01-29 14:26] altk opened #758 ".NET Native optimization breaks an application"
In one of the applications I've encountered an error associated with the optimization of code.
I tried to repeat this behavior in the test application. The test application is available on GitHub: https://github.com/altk/NullableError
The error occurs only when you compile using .NET Native, but not everywhere. Error reproduces on few PCs.

The application code is very simple. It must prints to th

[2016-01-29 14:47] jkotas commented on #758
@altk Could you please open this bug using http://connect.microsoft.com/ instead?

We are only tracking issues that reproduce on CoreRT here.

[2016-01-29 19:57] jkotas commented on #758
cc @MattWhilden

[2016-01-29 21:00] MattWhilden commented on #758
@altk Thanks for the bug report. Looks like something we'll need our optimizer folks to look in to.

This repo is only for the ahead of time compiler work happening for .NET CLI ("CoreRT"). We're happy to support you with the UWP ahead of time compiler (".NET Native") if you send us a mail at dotnetnative@microsoft.com.

I'm closing the issue here and look forward to following up with you via emai

[2016-01-29 21:00] #758 closed

[2016-01-29 21:10] #743 closed

[2016-01-29 21:23] lilred commented on #541
As someone who's [developing a unikernel](https://github.com/CRust-OS/CRust-OS) for my senior project, the promise of unikernels isn't really improved performance. It's about:

1. Reduced attack surfaces, and
2. Soft real-time scaling when using AWS, Azure, etc. Automatically boot up new instances as needed to handle live traffic.

[2016-01-29 22:38] MattWhilden commented on #758
I've reproduced this issue and set it to some folks to get looked at. Sounds like you're able to unblock yourself with one of the various workarounds but if you need further assistance please feel free to send us a mail.

Again, really appreciate the bug report!

[2016-01-30 03:52] kyulee1 opened #762 "Optimize ObjectWriter Byte Emission"
Currently, ObjectWriter writes byte by byte, which is quite inefficient.
Even worse, there are several map look up for each byte offset.
For instance, Symbol Definition (Label generation), Debug location emission, and CFI emission are looking up the maps for each offset although many of them are sparse or none.
We could record next offset like what we do with Symbol Reference (Relocation emission)

[2016-01-30 07:38] jkotas opened #763 "Implement proper EqualityComparer<T> and Comparer<T>"
https://github.com/dotnet/corert/pull/761 for CoreRT

[2016-01-30 21:35] MattWhilden commented on #758
There is a bug where certain optimization were not properly handling the Nullable here. This will be fixed in Update 2 for .NET Native.

[2016-01-31 19:10] BearishSun opened #768 "Embedding interface"
Hello, this is not an issue, just a question. Do you plan on supporting an embedding interface like Mono does? (for example: http://docs.go-mono.com/?link=xhtml%3adeploy%2fmono-api-object.html). It allows C++ code easily call into C# and to C# to call into C++ (without automatic marshalling, which is important for performance reasons). It also allows a variety of others features - essentially the

[2016-01-31 20:03] jkotas opened #769 "`dotnet compile --native` should produce .pdbs by default"

[2016-01-31 20:03] jkotas commented on #769
There are multiple problems that break this.

[2016-01-31 21:10] jkotas commented on #768
We plan to provide [NativeCallable attribute](https://github.com/dotnet/coreclr/pull/1566). It allows creating `extern "C"` exports for managed methods. The NativeCallable attribute works for blittable types only. There is still GC mode transition for these methods, but no argument marshalling. Take a look at current uses of this attribute in the CoreRT repo.

We do not plan to allow manipulation

[2016-02-01 00:56] wjk opened #770 "Exceptions?"
Just a quick question: are exceptions implemented? When I try running a dead-simple program that throws an `InvalidOperationException`, I get the following output:

[code]

This makes me think that exceptions are not implemented, yet we have `System.Private.StackTraceGenerator`, which presumably would be used in creating stack traces for exceptions. If exceptions are not yet implemented, what does

[2016-02-01 01:33] gkhanna79 commented on #770
That is correct - EH is still to be implemented.

CC @smosier

[2016-02-01 01:47] jkotas commented on #770
We have moved all existing code that we believe will be needed for the project to github. Now, we are working on integrating the parts together. E.g. the same applies to reflection - there is a lot of code related to reflection, but reflection is not functional yet.

[2016-02-01 08:18] BearishSun commented on #768
NativeCallable sounds great. It would be nice if you could also pass object references through it automatically, but it sounds like your marshalling tool will eventually take care of that.

I do not know how cooperative GC mode in mono works with embedding, I've yet to use it, but I don't remember seeing any special notes about it changing how embedding works, so I can assume it remains the same a

[2016-02-01 10:53] altk commented on #758
@jkotas i already opened bug at http://connect.microsoft.com.
https://connect.microsoft.com/VisualStudio/feedback/details/2164313/net-native-optimization-breaks-an-application#
I opened issue here, because the employee Microsoft Russia recommended to open bug here.

@MattWhilden great news, thank you!
In my code I workaround problem, so I don't need support.

[2016-02-01 16:47] jkotas commented on #769
@schellap Could you please upgrade cli to use corert build snapped after https://github.com/dotnet/corert/pull/772? As part of doing it, you should be able to: delete /DWIN32 from compiler command line and /IGNORE:4099 from the linker command line.

I would like to verify that end-to-end actually works before closing this.

[2016-02-01 18:19] MattWhilden commented on #758
No worries. I'll take care of the paper trail. Feel free to mail us directly for .NET Native issues in the future. Love getting good bug reports!

[2016-02-02 00:36] jkotas commented on #670
Fixed by #747 & #760

[2016-02-02 00:36] #670 closed

[2016-02-02 00:37] jkotas commented on #690
Fixed by #767

[2016-02-02 00:37] #690 closed

[2016-02-02 16:19] xied75 commented on #541
Understandable given how open .NET now is, we surely can pick other unikernel systems as the base, yet why trash the valuable work of DrawBridge to not "Change the World"? If Docker "forced" MS to embrace container and being a follower, why repeat this again and lose unikernel game? Everybody would benefit if considering the IoT thing, as Mary Jo said.

Anyone interested to start a petition to Ope

[2016-02-02 17:06] kyulee1 opened #782 "Codeview DebugInfo for Vars"
This is for local/parameter debugging for Windows

[2016-02-02 17:07] kyulee1 opened #783 "Dwarf DebugInfo for Vars"
This is for local/parameter debugging for Unix

[2016-02-02 17:12] kyulee1 opened #784 "Codeview DebugInfo for Types"
This is about supporting user debug types for Windows

[2016-02-02 17:12] kyulee1 opened #785 "Dwarf DebugInfo for Types"
This is about supporting user debug types for Unix

[2016-02-02 17:18] kyulee1 opened #786 "Dwarf DebugInfo for Line"
This is about creating line info for Unix.

[2016-02-02 17:20] kyulee1 commented on #623
Fixed via https://github.com/dotnet/corert/commit/72c3eecde5c089b1e21b4f6d38042c2048446bd2

[2016-02-02 17:20] #623 closed

[2016-02-02 17:25] kyulee1 commented on #538
Per discussion before, I don't this is a real issue.

[2016-02-02 17:27] kyulee1 commented on #608
Detail work is expanded by
https://github.com/dotnet/corert/issues/782 ~ https://github.com/dotnet/corert/issues/786

[2016-02-02 17:27] #608 closed

[2016-02-02 17:28] kyulee1 commented on #314
Since we are already publishing release build of RyuJit and https://github.com/dotnet/corert/issues/312 will handle this in automation, I close this.

[2016-02-02 17:28] #314 closed

[2016-02-02 17:29] kyulee1 opened #787 "Missing JIT/EE interface support for LLILC integration"

[2016-02-02 17:35] kyulee1 opened #788 "Extension of RyuJit flag"
32 bit Jit flag runs out. Need a more general support to accommodate new features for CoreRT.
This requires JIT/EE interface and thus various updates in other Jits are required.

[2016-02-02 17:41] kyulee1 opened #789 "Custom support/LSDA emission for EH/GC"
This is about support for LSDA emission for EH/GC, etc.
Currently as binary blob, it is provided in Coff for Windows.
We should define such thing in Dwarf for Unix.
Depending on what @smosier needs, we might need special encoding/object writer support.
So, I leave this work as tracking purpose.

[2016-02-02 17:47] kyulee1 opened #790 "Debugging/Logging using Config value for RyuJit"
We should use Config value JIT/EE interface to set RyuJit debugging/logging setting instead of setting via uitilcode.

[2016-02-02 17:50] kyulee1 opened #791 "Compilation Mode setting"
ILC does not have compilation mode setting via command line. The Jit flags are hard coded before compileMethod.
At minimum, we should be able to supply such options to RyuJit similar to what CSC allows.

[2016-02-02 17:52] pgavlin commented on #787
What are the details here? Is this tracking unimplemented features in CoreRT or additional changes that need to be made to the JIT/EE interface?

[2016-02-02 17:55] kyulee1 commented on #787
This is about tracking unimplemented features in CoreRT.
Some of code-paths in LLILC with regard to query to EE are different than with RyuJit.
So, we will run into various NYIs in CoreRT/LLILC.

[2016-02-02 19:39] kangaroo commented on #538
This is still valid (sorry I haven't had time to reply in more detail).  VK_None is causing R_X86_64_32 relocs in the text section, not PC32's.

[2016-02-02 21:08] kyulee1 commented on #538
I'm not sure the case.
When we set IsPCRel = true with VK_None, we get ELF::R_X86_64_PC32 not ELF::R_X86_64_32.
https://github.com/Microsoft/llvm/blob/master/lib/Target/X86/MCTargetDesc/X86ELFObjectWriter.cpp#L93-L98

When I "objdump -r hello.obj", I'm seeing either "R_X86_64_64" or " R_X86_64_PC32" only.
Can you provide a specific case/repro for this?

[2016-02-03 17:26] tarekgh commented on #650
This is done by the PR https://github.com/dotnet/corert/pull/795

[2016-02-03 17:26] #650 closed

[2016-02-03 17:44] tarekgh commented on #527
We have split the PAL work to 3 main areas: Threading, Globalization and Miscellaneous:
The highest priority is the threading and @schellap is going to work on that, the plan is to get most of the important threading functionality ready by March.
Globalization is low priority for now as it is not blocking any scenario for March. we should complete the PAL for globalization after March.
for Miscell

[2016-02-05 01:16] manu-silicon opened #804 "VisualStudio warnings when loading System.PrivateCoreLib project"
When loading the IL compiler solution, Visual Studio issues the following warnings for the System.Private.CoreLib project:

[code]

Because of the relative path, it seems that VS puts all the files coming from ```..\..\Common``` at the root of the project. Should we create ```<Link>``` nodes for them to put them in the right folder structure?

[2016-02-05 02:31] manu-silicon commented on #32
Does this cover the case where the following C++ code is generated:
[code]
It confuses the C++ compiler whenever you use later ```A::A```?

[2016-02-05 02:45] manu-silicon opened #805 "error LNK2038: mismatch detected for '_ITERATOR_DEBUG_LEVEL': value '2' doesn't match value '0'"
Following the Windows instructions to build a sample native application using the C++ backend, I'm getting the following errors:

[code]

Turns out that the C++ code is compiled with ```/MT``` but I compiled CoreRT by just using ```build.cmd``` which defaults to debug mode compiled using ```/MTd```. Compiling the C++ generated file using ```/MTd``` solves the linker error.

I'm not sure what is th

[2016-02-05 03:00] jkotas commented on #32
This case should be tracked by CppCodeGen specific issues (#122).

[2016-02-05 03:25] jkotas commented on #804
@tarekgh Could you please find out how the rest of corefx is dealing with this?

[2016-02-05 03:35] weshaggard commented on #804
Yes common files should have a Link element like https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System.Private.CoreLib.csproj#L45 otherwise they will be dropped in the root and conflict like you are seeing.

[2016-02-05 03:43] jkotas commented on #805
The instructions should be updated to add `--cppcompilerflags /D_DEBUG` for debug CoreRT builds.

Introduced by https://github.com/dotnet/corert/commit/650f99d78c2bc0c89a81e30d9c758f184514ba98#diff-adec353b8bdbfa8c549ed738939291e8R141

[2016-02-05 03:50] manu-silicon commented on #122
I'm in need to get this fixed since it is quite frequent in our code to have the assembly name using the same namespace name. I'm currently testing a solution where the name mangling would prepend an _ when there is such a conflict. Is this something you have in mind? Should we always prepend an _ for assembly name, the likelihood you would have to add an extra _ would be quite reduced.

[2016-02-05 03:53] jkotas commented on #122
Maybe a better option is to always fully qualify the names in the generated C++ code (with :: prefix).

[2016-02-05 05:25] gkhanna79 commented on #805
--cppcompilerflags are added by "dotnet compile --native --cpp" automatically. @manu-silicon How are you compiling your C++ code?

[2016-02-05 06:42] manu-silicon commented on #805
The issue is not that they are missing, it is that they are wrong when you are using a debug build of CoreRT. As @jkotas mentioned adding ```--cppcompilerflags /D_DEBUG``` (or ```--cppcompilerflags /MTd```) solves the issue. Although using ```/D_DEBUG``` still generates a linker warning about conflicting C libraries, whereas ```/MTd``` does not.

[2016-02-05 07:43] gkhanna79 commented on #805
This is not the common production scenario where we expect to link against release version of CoreRT. I think it is fair to document addition of how to use the switch - do you want to start a PR for the documentation update @manu-silicon ?

[2016-02-05 15:30] jkotas commented on #805
I have done that already #809

[2016-02-05 16:11] tarekgh commented on #804
I'll take a look.

[2016-02-05 17:28] #805 closed

[2016-02-06 00:08] tarekgh commented on #804
This is done. thanks @manu-silicon for bringing this issue.

[2016-02-06 00:08] #804 closed

[2016-02-07 23:57] manu-silicon commented on #804
@tarekgh Thanks for doing it.

[2016-02-08 01:02] manu-silicon commented on #805
Just tried again today after updating and now it looks like I need to pass /MDd instead of /MTd. Did something changed in the way  PortableRuntime.lib is built in debug mode?

[2016-02-08 01:18] jkotas commented on #805
Yes, we had to rollback https://github.com/dotnet/corert/pull/819 to workaround issues with live version of cli - that also include the change how the runtime library is built.

I just submitted PR with the doc fix.

[2016-02-08 01:19] jkotas commented on #805
We will switch back to live version of cli again (rollback the rollback) in near feature once the issues with live version of cli are resolved  - so it will change again.

[2016-02-08 01:35] manu-st opened #823 "Missing System.Private.CoreLib.WinRTInterop"
Currently System.IO.dll included in `./bin/Product/Windows_NT.x64.Debug/.nuget/publish1/toolchain.win7-x64.Microsoft.DotNet.AppDep.1.0.5-prerelease-00001/System.IO.dll` is referring to the System.Private.CoreLib.WinRTInterop assembly which is not available.

[2016-02-08 01:54] jkotas commented on #823
@tarekgh We will need to add plain Win32 / Unix versions of System.IO and similar libraries to the corefx build. Could you please take a look?

These missing WinRT dependencies are causing number of exceptions to throw during compilation that is pretty annoying.

The first step is to get them build, second step is to get them packaged properly. We should at least get the first step done and includ

[2016-02-08 02:26] manu-silicon commented on #122
I've done that locally. Could you remind me where I should add a test to cover this specific scenario?

[2016-02-08 02:50] jkotas commented on #122
You can add a new test under tests\src\Simple with the interesting cases of name collisions that you are fixing.

Other than that - just make sure that the few tests (hello world, etc.) that are running as part of the build still work.

[2016-02-08 06:26] manu-silicon opened #825 "More Visual Studio issues"
Whenever I compile the ILCompiler solution, I'm getting the following errors in the Error List window. Although they are present they do not cause the build to fail:

[code]

Looks like it is an issue while restoring packages. The MSBuild output is more precise about the error:

[code]

[2016-02-08 06:47] jkotas commented on #825
It is likely caused by some left over nuget bit. Could you please try cleaning untracked files (e.g. `git clean -x -d -f`), followed by `build.cmd` and check whether the problem goes away?

[2016-02-08 06:47] jkotas commented on #825
cc @schellap

[2016-02-08 07:05] schellap commented on #825
That should work.

`rmdir bin\\tools\\cli` would work as well.

The CLI is cached, so you are using a newer CLI. Got reverted to 1.0.0.000973.

[2016-02-08 07:19] manu-silicon commented on #825
I thought I had done this this morning, but just to be sure I redid git clean -xfd to delete everything but it is still causing those errors.

[2016-02-08 07:34] manu-silicon opened #826 "How to write tests properly?"
I've been trying to write a test but I'm not successful in writing a somewhat more evolved test involving multiple assemblies. Ideally I would like to compile a C# class using 2 assemblies with the same name but different publickey. I know how to do it manually but not using the `dotnet compile' command and the project.json file.

Is there a way to do this?

On the other hand, I feel testing would

[2016-02-08 08:37] manu-silicon commented on #826
See https://github.com/manu-silicon/corert/tree/cpp/tests/src/Simple/Collision for the example I have so far.

[2016-02-08 08:45] schellap commented on #825
Can you share the branch name on your fork and add me as collaborator so I can add your branch as my remote?

[2016-02-08 16:52] jkotas opened #828 "Simple I/O does not work"
[code]

There are a few missing P/Invoke marshallers for SafeHandle and StringBuilder.

[2016-02-08 17:20] jkotas commented on #828
@tijoytom @yizhang82 This is blocking a number of simple tests. @bloudraak

When do you expect that the mcg is going to be properly hooked up to handle these?

I am wondering whether we should add these missing cases to the temporary interop gen in the compiler in the mean time - it is trivial to do.

[2016-02-08 19:24] tarekgh commented on #823
CC @weshaggard

I looked at the AppDep package and so far we have 3 assemblies that have dependencies on WinRT:

- System.IO
- System.Resources.ResourceManager
- System.Runtime.Extensions

looks as Jan mentioned, we'll need to have corert specific implementation for these assemblies and then package them. we may need to look at our full list later to identify what other assemblies depend on WinRT

[2016-02-08 20:06] tijoytom commented on #828
@jkotas @yizhang82  The recent CLI changes broke mcg , I have a fix which is not yet merged since CLI folks are moving dotnet compile native as a standalone command.Given this is blocking i will merge the changes today and will update the documentation on how to enable mcg.

[2016-02-08 20:07] tijoytom commented on #828
Sorry , I did not mean to close it.

[2016-02-08 21:17] jkotas commented on #828
Could you please verify that your change makes the end-to-end work for the above simple test (ideally on both Windows and Unix)?

[2016-02-08 22:43] yizhang82 commented on #828
@tijoytom Can you also see if we can add a simple test in there to avoid future regressions?

[2016-02-08 23:34] manu-silicon commented on #825
@schellap The repo and branch is at this url: https://github.com/manu-silicon/corert/tree/cpp

However I don't think my fork as any difference in the way projects are built.

[2016-02-09 07:08] jkotas commented on #826
The project.json has a way to describe multi-file projects (e.g. https://github.com/dotnet/cli/blob/master/src/dotnet/project.json#L36). We have not tried it yet for CoreRT tests, so it may require some troubleshooting.

If you need to add multifile test, it is fine to add it as non-automated, and worry about automating it as separate step.

`dotnet -v compile --native` will print command line opt

[2016-02-09 13:26] manu-silicon commented on #826
I've been using the ```-v``` argument, this has actually been very helpful. I'll lookup the json stuff tomorrow and will try to make it work.

[2016-02-09 13:28] manu-silicon opened #833 "Improve C++ code generation formatting"
I feel it would be good if the C++ backend generated code was more readable.

I've worked on some improvements that I'll share tomorrow.

[2016-02-09 14:03] MichalStrehovsky commented on #833
Depending on how it impacts throughput (generation and the subsequent compilation), we might want it to be optional.

[2016-02-09 15:55] amerkoleci opened #834 "Where are the Runtime method implementation"
Hi,
I was digging in code and can't find where are methods like: RhNewObject, RhMemberwiseClone, RhTypeCast_CheckCast  implemented?

[2016-02-09 16:41] jkotas commented on #833
+1

[2016-02-09 17:04] jkotas commented on #834
In the managed portion of the base runtime (src/Runtime.Base):

(RhNewObject)[https://github.com/dotnet/corert/blob/068d57c68a047202d139dcd3e7152b116ba2302d/src/Runtime.Base/src/System/Runtime/RuntimeExports.cs#L88]
(RhMemberwiseClone)[https://github.com/dotnet/corert/blob/068d57c68a047202d139dcd3e7152b116ba2302d/src/Runtime.Base/src/System/Runtime/RuntimeExports.cs#L327]
(RhTypeCast_CheckCast)[ht

[2016-02-09 22:36] #786 closed

[2016-02-09 23:17] jkotas opened #838 "Reenable parallel restore"

[2016-02-09 23:19] jkotas commented on #838
https://github.com/dotnet/corert/pull/824#issuecomment-182110917

[2016-02-09 23:19] #834 closed

[2016-02-10 00:31] tijoytom commented on #828
@yizhang82 @jkotas I merged the changes to CLI and verified that Console.WriteLine(Directory.GetCurrentDirectory()) work , but File.ReadAllBytes throw FileNotFound since System.IO.FileSystem is not included in compilation.We need to get pass along the app references to ilc.exe , guess there's workitem for this?.I will verify some other simple scenarios on Windows and then on Linux.

[2016-02-10 00:34] jkotas commented on #828
@schellap is working on this.

[2016-02-10 00:38] jkotas commented on #828
@tijoytom I have looked at your CLI change https://github.com/dotnet/cli/pull/1293. It looks like it is generating the interop for .exe only - it is nice, but it won't the framework work where all interop is. DO you have things in place to generate the interop code for the framework (so that the temporary interop generator in ilc can be disabled)?

[2016-02-10 02:59] manu-silicon opened #843 "Invalid C# debugging from C++ backend"
If you have some code that does not have any debug information, you will still be able to see the C# code for the code being generated prior to the type being debugged.

Ideally you will need to generate a #line back to the current file, but this requires counting the number of generated lines.

[2016-02-10 04:58] manu-silicon commented on #833
Fixed by #840

[2016-02-10 04:58] #833 closed

[2016-02-10 11:36] amerkoleci opened #846 "Remove usage of CreateFile2 as only available under Windows 8"
PalReadFileContents makes usage of CreateFile2, downgrade and make usage of CreateFile.

[2016-02-10 15:12] jkotas commented on #846
@smosier Is `APP_LOCAL_RUNTIME` the right ifdef to use here, or do we need to create a new one?

[2016-02-10 18:16] smosier commented on #846
we should have PalReadFileContents call PalCreateFileW, which is implemented with CreateFileW in the "minwin" PAL and with CreateFile2 in the "app" PAL.

[2016-02-10 20:14] jkotas commented on #825
@manu-silicon Do you still see these problems on live master now that we have switched to current CLI?

[2016-02-10 20:37] #846 closed

[2016-02-10 20:58] tijoytom commented on #828
@jkotas @yizhang82 By framework you mean ILSDK?We have two options , one is to generate the interop for them during app compile time another is to run mcg as a post build process and add *.interop.dll to ILSDK package.As obvious the first option is redundant , but can be a stop-gap measure till i hook up the post build and generate the package.

[2016-02-10 21:03] tijoytom commented on #568
@jkotas @gkhanna79 I switched to System.CommandLine for mcg and if you want i can change ilc too.For mcg i included the source files directly , is there a nuget feed for corefxlab i can use that.

[2016-02-10 21:05] schellap commented on #568
I have it done this last night, so skip ILC please.

[2016-02-10 21:05] gkhanna79 commented on #568
We should use nuget package for System.CommandLine. I spoke @schellap today who is doing similar work for ILC and can point you to the package to consume.

[2016-02-10 21:08] schellap commented on #568
`https://dotnet.myget.org/gallery/dotnet-corefxlab`

The WIP diff is in `schellap/corert/syscmd` which uses it from the myget feed. I had to make it work for both desktop project and dnxcore50 project so I am using a slightly older version of the System.CommandLine.

[2016-02-10 21:13] tijoytom commented on #702
@wjk I have initial support for mcg based interop enabled in latest CLI bits.To enable you need use compile-native directly '_dotnet compile-native --enableinterop <pathtoassembly>_'.I have tested some very basic scenarios on windows and linux.As @yizhang82 mentioned we are actively working on it and it's very likely that you will run in to bugs.I will more than happy to help you with any issues.

[2016-02-10 22:18] tijoytom commented on #681
We don't need this anymore since we reference implementation directly

[2016-02-10 22:18] #681 closed

[2016-02-10 22:19] jkotas commented on #828
Senthil is almost done with trimming the temporary AppDeps package to bare minimum (to just .dlls that we do not have packaged properly). We are about to start getting most of the framework (e.g. System.Console.dll) via regular packages.

[2016-02-11 01:07] janvorli commented on #640
Implemented by #832

[2016-02-11 01:07] #640 closed

[2016-02-11 11:22] MichalStrehovsky opened #852 "Add EETypeOf intrinsic"
Pull request #851 has a pretty awkward way to get to the EEType of the string type.

I propose we add an intrinsic to make this less awkward. The declaration of the intrinsic would look like this:

[code]

The compiler would generate following IL method body:
[code]

(I'm wondering if the IntPtr should actually be EETypePtr.)

[2016-02-11 11:23] MichalStrehovsky commented on #852
@jkotas Is this a good/bad idea?

[2016-02-11 11:50] jkotas commented on #852
I like it. Random thoughts:

The return type may be EETypePtr instead.

We should use it in FastAllocateString and startup code to get the EEType for String. It will be faster, and we should be able to get rid of the plumbing used to pass String EEType to startup code.

For !CORERT, it can be implemented as "typeof(T).TypeHandle.RawValue" - that should just work for .NET Native for UWP.

[2016-02-11 18:13] russellhadley commented on #364
To chime in with the backend opinion, while it's probably convenient to have it always expanded, I agree with @jkotas that our best approach is to make intrinsics optional.  I especially like the idea that we have a set of helpers that are always there to call if the user/toolchain/runtime disables intrinsics.

[2016-02-11 18:58] MichalStrehovsky commented on #364
General purpose non-intrinsic implementation of InitializeArray is costly to implement. I'm unassigning this workitem from myself. Compared to other work remaining on CoreRT, non-intrinsic InitializeArray is just busywork.

[2016-02-11 23:36] jkotas commented on #364
I will take care of this once we are far enough to make it happen.

[2016-02-12 00:20] manu-silicon commented on #825
I think I still had this problem after the update. Today I tried again, but this time I delete the .nuget folder in my home and recompiled everything. The errors are gone. So I'm not so sure if this is the .nuget folder or the current CLI that actually solved it.

Regardless, there are 2 warnings when you compile in VS:
[code]

I've fixed the project.json file in the PR #855

[2016-02-12 13:35] #852 closed

[2016-02-13 00:53] #782 closed

[2016-02-13 17:18] #380 closed

[2016-02-13 21:32] jkotas commented on #825
I assume that this can be closed now.

[2016-02-13 21:32] #825 closed

[2016-02-14 23:12] manu-silicon commented on #825
Yes. Thanks.

[2016-02-15 00:23] manu-silicon opened #863 "Warnings while restoring during testing"
When you build the CoreRT project, you will get the following warnings when it goes on running the tests:

[code]

[2016-02-15 00:45] manu-silicon commented on #863
Note that even if it claims the restore failed, the test are compiled and executed and the whole build doesn't fail.

[2016-02-16 05:59] jkotas commented on #863
It works fine for me:
[code]

[2016-02-16 05:59] jkotas commented on #863
@schellap Any ideas?

[2016-02-17 12:19] MichalStrehovsky commented on #68
@jkotas Seems like we can close this?

[2016-02-17 14:22] mjp41 opened #872 "Why does ConditionalWeakTable use a free list?"
The [ConditionalWeakTable](https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Runtime/CompilerServices/ConditionalWeakTable.cs) uses a [free list](https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Runtime/CompilerServices/ConditionalWeakTable.cs#L657) to represent where the unused entries are, but this free list is never added too, o

[2016-02-17 15:21] jkotas commented on #872
I agree that this could be simplified by replacing the free list with first unused entry.

Yes, I am likely to take this refactoring.

[2016-02-17 15:22] jkotas commented on #872
Thanks in advance!

[2016-02-17 18:08] jkotas opened #874 "[CppCodeGen] Use dependency analysis to generate EE datastructures"
The code to generate EE data structures (EEType, etc.) is duplicated between RyuJIT codegen and CppCodeGen. The CppCodeGen path is missing number of features from RyuJIT codegen - in particular support for interface dispatch.

This issue is about switching CppCodeGen to use the same dependency analysis nodes as RyuJIT codegen - to increase the amount of code shared between the two, and add the mis

[2016-02-17 18:09] jkotas commented on #68
There is still one item remaining. I have created separate issue on it (#874).

[2016-02-17 18:09] #68 closed

[2016-02-17 20:22] schellap opened #875 "nolinenumbers command option is overloaded"
Overloaded for both RyuJIT and CPPCodegen. That is not making sense at least for RyuJIT CodeGen -- "Line Numbers"

[2016-02-18 01:10] jkotas commented on #568
Fixed by https://github.com/dotnet/corert/pull/859

[2016-02-18 01:11] #568 closed

[2016-02-18 02:53] jkotas opened #879 "Auto generated .rsp files point to stale bits"
`C:\corert\bin\obj\ryujit\ryujit.rsp` points to `C:\corert\bin\tools\cli\bin\sdk\System.Private.CoreLib.dll`. This is stale copy of System.Private.CoreLib.dll from CLI drop. Instead, it needs to point to `C:\corert\bin\Product\Windows_NT.x64.Debug\.nuget\publish1\sdk\System.Private.CoreLib.dll` that is the freshly build System.Private.CoreLib.dll.

[2016-02-18 02:53] jkotas commented on #879
@schellap Could you please take a look?

[2016-02-18 06:26] manu-silicon opened #881 "Modified src/AotPackageReference/project.lock.json"
Each time we compile the corert project, the following file ```src/AotPackageReference/project.lock.json``` is changed which is causing git to report modifications. Can this be removed from git?

[2016-02-18 06:44] MichalStrehovsky commented on #122
@manu-silicon @jkotas Can we close this now?

[2016-02-18 06:47] MichalStrehovsky commented on #881
Dupe of #520?

[2016-02-18 06:59] manu-silicon commented on #881
I guess it is related. Is there a reason to hold off on the removal?

[2016-02-18 07:00] manu-silicon commented on #122
I was not the original reporter but what I fixed seems to be exactly that scenario, so I would say we can close it now.

[2016-02-18 07:05] MichalStrehovsky commented on #881
I don't know why it was checked in in the first place. It might be needed on the TFS side of our source tree mirror?

@AlexGhiondea Will you have time to look at deleting the lock files anytime soon?

[2016-02-18 07:15] AlexGhiondea commented on #881
@MichalStrehovsky that item was on my plate and I was hoping to finish it a long time ago. Unfortunately I got side tracked by other work.

However, there wasn't anything in particular blocking this.

If you guys have any spare cycles I would be grateful it if you took it off my plate :).

[2016-02-18 07:35] jkotas commented on #838
Fixed by https://github.com/dotnet/corert/pull/878

[2016-02-18 07:35] #838 closed

[2016-02-18 07:36] #122 closed

[2016-02-18 07:43] jkotas commented on #881
We should just update the checked in copy of the file for now.

[2016-02-18 07:47] #879 closed

[2016-02-18 08:08] jkotas commented on #881
Just checked - the internal build still needs this file, it breaks without it.

[2016-02-18 08:09] jkotas commented on #881
Fixed by https://github.com/dotnet/corert/pull/883

[2016-02-18 08:09] #881 closed

[2016-02-18 08:09] manu-silicon commented on #881
thanks

[2016-02-19 01:31] manu-silicon opened #888 "_AMD64_ vs _TARGET_AMD64_"
It seems to me that the C++ code have some inconsistency on the ```_AMD64_``` and ```_TARGET_AMD64_``` usage (This of course extends to the other #ifdef following this pattern).

For example ```src/Native/Runtime/StackFrameIterator.cpp``` has one usage of ```_AMD64_``` when everywhere else it is ```_TARGET_AMD64_```.

If the Src/Native/Runtime contains code that will be only used at runtime to run

[2016-02-19 02:14] kangaroo commented on #770
Whats the plan here with respect to ModuleHeader?  The current bootstrapped registers a SimpleModuleHeader which does not contain, well, much of anything.  All of the code in the StackFrameIterator and RuntimeInstance seem to presume that all the Module's will have a full ModuleHeader.

I'm happy to pitch in here, but whats the plan of record?

[2016-02-19 02:21] kangaroo commented on #770
Never mind -- I just saw https://github.com/dotnet/corert/pull/886

[2016-02-19 02:38] jkotas commented on #770
The good stuff is actually coming in #851. It should be a list of <section id, start/end> so that we have flexibility about which sections to included in different configs.

[2016-02-19 03:48] jkotas commented on #888
The `TARGET_XXX` variants are also for DAC used by debugger https://github.com/dotnet/coreclr/blob/master/Documentation/botr/dac-notes.md, e.g. to debug ARM runtime from Intel machine. We are not building DAC for CoreRT today, but we are building it for .NET Native for UWP.

[2016-02-19 17:54] #471 closed

[2016-02-19 20:14] #89 closed

[2016-02-19 21:37] #872 closed

[2016-02-20 18:39] MichalStrehovsky commented on #705
The not being able to download CLI part is due to lack of PowerShell 3. I submitted a pull request with updated instructions. I'm not sure whether this fully unblocks the build. I don't have an x64 Windows 7 handy to try.

[2016-02-20 21:15] #288 closed

[2016-02-21 01:48] schellap commented on #863
@manu-silicon still facing this? PR #859 added feed source and runtime to the restore command.

[2016-02-21 09:35] AlexBHarley commented on #367
@MichalStrehovsky I'd like to look into this. Is there any chance you can give me a starting point for this?

[2016-02-21 11:28] MichalStrehovsky commented on #367
Thanks for volunteering!

I would defer to @jkotas whether it's worth investing into this right now though.

[2016-02-21 16:04] jkotas commented on #440
Fixed by https://github.com/dotnet/corert/pull/454.

[2016-02-21 16:04] #440 closed

[2016-02-21 16:14] jkotas commented on #888
This is a bug. It should be `_TARGET_AMD64_`. It is fine to fix inconsistencies like this one, but both definitions need to stay for the most part.

[2016-02-21 16:22] jamesqo opened #906 "(organization) Splitting up the String class into several files"
At the moment, the code behind the [`String.cs`](https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/String.cs) file spans over 3000 lines. It also has many different methods, some of them relating to unsafe code and some relating to high-level concepts like `IEnumerable<>`.

I propose splitting up the class into 3 files:

- `String.Unsafe.cs` - this will contain man

[2016-02-21 16:43] jkotas commented on #906
cc @AlexGhiondea @tarekgh

Moving the interfaces into String.Interfaces.cs sounds good to me.

The split between String.Unsafe.cs and String.cs looks questionable - because of String.cs would have unsafe code as well. Perhaps we need to come up with better file names?

[2016-02-21 16:46] jkotas opened #907 "Download IL .pdbs for nuget packages"
The native compiler needs IL .pdbs in order to generate good native debug information. We need to download IL .pdbs for assemblies in NuGet packages to have a good debugging experience.

[2016-02-21 16:46] jkotas commented on #907
This was solved for .NET Native for UWP - we need to bring it over to CoreRT.

[2016-02-21 16:48] jkotas commented on #769
This works now. Opened https://github.com/dotnet/corert/issues/907 on new issue that I have discovered during testing.

[2016-02-21 16:48] #769 closed

[2016-02-21 17:04] jamesqo commented on #906
@jkotas Perhaps `String.Helpers` would be a better name?

[2016-02-21 19:42] tarekgh commented on #906
I would prefer split it into 2 files only. the reason is we are going to support the PAL which will require creating more files per platforms. so we can have string.cs and string.helpers.cs. eventually we'll have something like string.win32.cs and string.unix.cs too.

[2016-02-21 20:21] jkotas commented on #906
The interesting question is where it is meaningful to draw the boundaries.

The current string.cs contains mix of low-level methods that are really the heart of the string implementation, and higher-level "object model" methods (interfaces, methods that take Object, IEnumerable, Format, ...). I think this would be the most meaningful boundary for the split.

Does it make make sense to split the "o

[2016-02-21 21:01] tarekgh commented on #906
I like the object model idea more.

[2016-02-21 21:23] jkotas commented on #395
This is not needed for .NET Core. It would be only needed if we ever wanted to target full .NET Framework surface using the CoreRT compiler.

[2016-02-21 21:28] jkotas commented on #367
This is not needed for .NET Core. It would be only needed if we ever wanted to target full .NET Framework surface using the CoreRT compiler.

[2016-02-21 21:36] jkotas opened #910 "[CppCodeGen] Managed Exception Dispatch and Unwind"

[2016-02-21 21:36] jkotas opened #911 "Unix: Managed Exception Dispatch and Unwind"

[2016-02-21 21:40] jkotas commented on #770
This is tracked by #509, #910 and #911.

[2016-02-21 21:40] #770 closed

[2016-02-21 21:44] jkotas commented on #874
This is needed to make interface calls with CppCodeGen work, e.g.:
[code]

[2016-02-21 21:48] jkotas commented on #367
@AlexBHarley I have fixed up the UpForGrabs to make sure they are appropriate. Could you please take a look whether there is anything interesting? I would recommend starting with some items related to CppCodeGen because of it is easier to ramp up on it (e.g. #874 or #910 are good CppCodeGen workitems).

[2016-02-21 21:55] MichalStrehovsky commented on #469
If this is tracking what the .NET Native for UWP startup code injector does, I think the only thing that's left is static constructors on the &lt;Module&gt; type (nice to have, but we could live without it for a while).

Or is this tracking complete removal of the C++ bootstrapper code?

[2016-02-21 22:03] jkotas commented on #469
I agree - we should have more specific issues on what is left. (#657 tracks the module constructors.)

[2016-02-21 22:03] #469 closed

[2016-02-21 22:06] jkotas opened #912 "Lazy string literals"
All string literals are created during startup today. They need to be created lazily instead (several different schemes are possible).

[2016-02-21 22:09] jkotas opened #913 "Enable conservative GC stack roots scanning"
Depends on #610 and #611

[2016-02-21 22:20] AlexBHarley commented on #910
@jkotas I have setup corert on my local machine. I compiled this with using RyuJIT and then CPP Code Generator. Both worked and caught the exception. Could you please let me know a bit more about the issue here?

[2016-02-21 22:25] jkotas commented on #559
#701 tracks this specifically for System.Native.a

[2016-02-21 22:27] jkotas commented on #672
The implementation was actually added to corefx recently, but it does not belong there because of it is tightly coupled with the rest of the runtime. It should be moved to CoreRT.

https://github.com/dotnet/corefx/tree/master/src/System.Reflection.Extensions/src
https://github.com/dotnet/corefx/tree/master/src/System.Reflection.TypeExtensions/src

[2016-02-21 22:34] tarekgh commented on #672
yes it is planned to merge the code with S.P.Reflection.

[2016-02-21 22:37] jkotas commented on #910
I suspect that you are not actually running the code using CoreRT - exception handling does not work yet with either RyuJIT or CppCodeGen.

Try following steps in Documentation\how-to-build-and-run-ilcompiler-in-visual-studio-2015.md or Documentation\how-to-build-and-run-ilcompiler-in-console-shell-prompt.md. The Visual Studio steps are more convenient for day to day development, just change the r

[2016-02-22 05:47] jkotas commented on #828
We need to add .NET Native version of System.Threading.Overlapped.dll to appdeps package to make this work out of the box (the CoreCLR version of this .dll that we are picking up right now does not work because of it depends on mscorlib). @schellap Could you please do it when you get a chance?

The other part needed to make this work out of the box is to pick up a updated  System.IO.FileSystem.dll

[2016-02-22 06:33] schellap commented on #828
@jkotas, I had added the Threading.Overlapped with https://github.com/dotnet/cli/pull/1470 using the DLL you had shared. Does FS dll need update as well?

[2016-02-22 08:28] jkotas commented on #828
Cool - I have not realized that there is updated package available. I am fixing up the CoreRT repo to pull it down as well: https://github.com/dotnet/corert/pull/914

[2016-02-22 08:44] jkotas commented on #828
This works now with most recent package versions.

[2016-02-22 08:44] #828 closed

[2016-02-22 16:44] MichalStrehovsky opened #915 "Implement support for array interfaces"
[code]

[2016-02-22 21:15] MichalStrehovsky commented on #705
Found an x64 Windows 7 to test with. Building product and running tests works now.

[2016-02-22 21:15] #705 closed

[2016-02-24 09:59] MichalStrehovsky opened #928 "Wrap valuetype virtual method overrides in unboxing stubs"
[code]

This currently lands in the `IntPtr.GetHashCode` method with `this` being a boxed `IntPtr`. Since this is a valuetype instance metod, `this` should be a managed reference to `IntPtr`. We need a stub that adds PointerSize to `this` and jumps to the expected entrypoint.

[2016-02-24 14:01] MichalStrehovsky opened #931 "Expose functionality in WinRTInterop.Callbacks in a platform-neutral way"
Hit this while trying to get reflection off the floor.

\src\System.Private.Reflection.Core\src\System\Reflection\Runtime\Assemblies\AssemblyNameHelpers.StrongName.cs calls WinRTInterop.Callbacks.ComputeSHA1.

Cursory search for WinRTInterop in the repo indicates this is a pattern.

[2016-02-24 16:56] tarekgh commented on #931
we already have the full list we need to do in the issue https://github.com/dotnet/corert/issues/527

[2016-02-24 17:58] tarekgh commented on #527
I have re-opened the issue to use it fro tracking the PAL work in general. I have changed the title to reflect that.

[2016-02-24 17:59] tarekgh commented on #931
Closing this issue as we have another tracking issue for the whole PAL work #527

[2016-02-24 17:59] #931 closed

[2016-02-24 18:16] MichalStrehovsky commented on #931
@tarekgh I opened a new one because the one you're mentioning was closed. RTM milestone might not be an acceptable timeline for many of those, btw. I think we will need finer granularity. For this particular case, RTM is fine, so I won't be reopening this issue.

[2016-02-24 18:22] tarekgh commented on #931
@MichalStrehovsky, I already re-activated #527 because it lists all needed work including the WinRT entries.
If you have any entry need to be fixed soon, just let me know or add the information to #527 and I'll put this as high priority to support. I am already working on the list and have done some of them so we are adding the support as we go

[2016-02-24 23:27] krytarowski opened #936 "Remove MONO dependency?"
CoreRT makes use of MONO. Is there chance to remove this requirement?

Log of building on NetBSD:

[code]

[2016-02-24 23:29] gkhanna79 commented on #936
Yes, we have plan to make a change to remove this dependency but will be in few weeks.

[2016-02-25 00:10] #928 closed

[2016-02-25 01:16] Opiumtm opened #938 "Performance issues on UWP platform with .NET Core and Windows Runtime system calls"
Problem fundamentally in a Windows Runtime architecture. Marshalling cost between native and managed code in UWP is terrible. As all XAML UI controls now essentially are native COM classes with winmd metadata on top, every call to a Windows Runtime have a heavy marshalling cost. As application manually render on a Canvas it make many MARSHALLED calls to a Windows Runtime. Also, we have similar per

[2016-02-25 01:28] jkotas commented on #938
cc @yizhang82 @MattWhilden

[2016-02-25 02:12] jkotas commented on #936
https://github.com/dotnet/corert/issues/639 is most of the work

[2016-02-25 08:06] MattWhilden commented on #938
Hello! Thanks for your interest in .NET Native. We've received similar feedback regarding the overhead due to interop calls and have made significant progress in the upcoming release. In particular, the amount of allocations that happen on any given interop call has been dramatically reduced. One partner application (a medium sized XAML application) sees a 90% reduction in allocations for their ke

[2016-02-25 08:06] #938 closed

[2016-02-25 10:06] MichalStrehovsky opened #941 "Missing debugging symbols for System.Private.* stuff"
After running build.cmd, the location at `bin\Product\Windows_NT.x64.Debug\.nuget\publish1\sdk` only has DLL files, but PDBs are missing.

RyuJIT.rsp picks up System.Private.* libraries from this location, but ILC can't find the symbols.

I gave myself 5 mins to figure this out, but I couldn't find the spot where this directory is populated :/

[2016-02-25 10:08] MichalStrehovsky commented on #941
@schellap If you can give me some pointers, I can look into it. Or you're also welcome to fix this :)

It's possible to work around this by manually copying the PDBs into that location (which is what I've been doing in the past few days).

[2016-02-25 12:27] schellap commented on #941
You can copy the pdbs into this folder temporarily. May be as a build step also. I can TAL tomorrow.

Purely CLI way would be to make symbol packages and restore those as well as dependencies in the stage1 project.json. With the current publish1 folder, rather than xcopy based binplace, we get the value of just using dotnet to validate our stuff which is useful for maintaining contracts and shippi

[2016-02-26 03:51] jkotas commented on #941
For our internal debugging in VS, we should fix up ryujit.rsp to have the right paths, so that F5 just works (even for changes in System.Private.CoreLib). Right now, I am working around this by editing paths in ryujit.rsp to point to \corert\bin\Product\Windows_NT.x64.Debug.

#907 is tracking the fix for the end user case.

[2016-03-02 13:17] janvorli commented on #644
Ok, so that leaves us with:
PalGetModuleFileName
GetCurrentThreadId
GCToOSInterface::VirtualReset
GCToOSInterface::GetLargestOnDieCacheSize

[2016-03-03 19:52] jkotas opened #972 "Compress EHInfo using type table index scheme"
https://github.com/dotnet/corert/pull/886/files#r54936019

[2016-03-03 20:06] jkotas opened #973 "Register the code manager for the range that contain managed code only"

[2016-03-03 21:08] #509 closed

[2016-03-04 11:00] MichalStrehovsky opened #974 "Intermittent build breaks due to AssemblyList.txt"
[code]

Seems like all NUnit tests try to use the same file, which leads to a race condition when two of them try to write it at the same time. We should check to see how CoreFX repo handles this and steal that.

[2016-03-04 11:19] MichalStrehovsky opened #975 "Publish NuGet packages for reusable ILCompiler components"
For now, I'm thinking three packages:

* `ILCompiler.MetadataWriter` - the Project N compiler toolchain should be consuming this instead of doing the hacky thing it does now to consume the sources
* `ILCompiler.MetadataTransform` - Project N can eventually switch to this and we can deprecate the existing CCI-based MdTransform.dll.
* `ILCompiler.TypeSystem` - a prerequisite for MetadataTransform, b

[2016-03-04 11:20] MichalStrehovsky commented on #975
@trylek FYI

[2016-03-04 15:33] #915 closed

[2016-03-04 19:37] TimonChristl opened #977 "Native compilation: C++ code generation generates malformed float constants on german systems"
The c++ code generator currently generates malformed float constants if the current culture formats floats with a comma as decimal separator instead of a dot (such as on german systems). This of course leads to the code not compiling. For example:

[code]
I tracked this down to the `.ToString()` call in `ImportLoadFloat()` in corert/src/ILCompiler.Compiler/src/CppCodeGen/ILToCppImporter.cs, which

[2016-03-04 19:48] jkotas commented on #977
Thanks for tracking it down - I will be super happy to take the PR with this fix!

[2016-03-05 00:37] vcsjones opened #978 "Fix GetHashCode on IntPtr / UIntPtr for 64-bit values"
This is to match the behavior of CoreCLR that was change by dotnet/coreclr#3506.

The issue boils down to `IntPtr` and `UIntPtr` truncating the upper 32-bit values for the purposes of creating a hash code.

[code]

Change the behavior of `GetHashCode` to match that of the CoreCLR.

[2016-03-05 01:52] #978 closed

[2016-03-05 17:40] jacano commented on #977
Same problem here when building with spanish format selected in the region OS config.

[2016-03-05 17:54] MichalStrehovsky commented on #977
We might want to audit all uses of the `ToString` override on integer/float types within the compiler. I know we're not very rigorous at using invariant culture. I don't think it will ever matter for integers, but floats/doubles are obviously a problem.

These should ideally be routed through helpers in `src\ILCompiler.Compiler\src\Compiler\FormattingHelpers.cs` - I created this file mostly to avo

[2016-03-09 00:50] manu-silicon opened #989 "Cannot compile CoreRT"
When building an up to date version of CoreRT, I'm getting the following error:

[code]

I'm running on Windows 10 x64.

[2016-03-09 01:25] gkhanna79 commented on #989
CC @schellap

[2016-03-09 02:54] #989 closed

[2016-03-09 03:38] manu-silicon commented on #863
I do not have this issue anymore. Closing.

[2016-03-09 03:38] #863 closed

[2016-03-09 03:53] manu-silicon opened #994 "Build issue with testing"
I randomly get a failure when testing the Hello program as part of the build process. The output of launching ```build.cmd``` when it fails is:

[code]

[2016-03-09 03:55] manu-silicon commented on #994
I got it with Add1 too

[2016-03-09 05:37] manu-silicon commented on #994
Found out that my anti-virus software is the culprit. I can mitigate the issue by re-issuing the bin removal directory command in ```runtest.cmd```:
[code]

Is this something we can add in runtest.cmd?

[2016-03-09 07:26] manu-silicon commented on #881
Again the file has changed with the latest source code. I've submitted a new PR #995 to resolve the issue.

[2016-03-09 07:44] manu-st opened #996 "VisualStudio warnings"
Compiling ILCompiler from scratch you get the following warnings in Visual Studio:

[code]

And then some versioning issue:

[code]

[2016-03-09 09:05] manu-silicon opened #998 "C++ response file is bogus"
In the documentation to generate C++ code from VisualStudio, the cpp.rsp response file used is bogus. It is actually the same as the one used for RyuJit.

I think the issue is that when we call dotnet to build both the native and C++ version of repro, the first time it works, but the second time, it gives:
[code]

which explains why the response file is invalid.

[2016-03-11 17:43] jkotas commented on #977
Fixed by #997

[2016-03-11 17:43] #977 closed

[2016-03-11 18:55] jkotas commented on #973
Fixed by #983

[2016-03-11 18:55] #973 closed

[2016-03-15 10:27] Opiumtm opened #1013 "Windows runtime marshalling memory leaks and poor performance"
When I used memory profiler with current version of .NET Core runtime on UWP windows 10 platform, there was too many retained (leaked) marshalling intermediate objects. Most specifically - used with unmanaged Windows Runtime events interop. After some time, there was huge amount of event marshalling objects retained in memory and many other intermediate objects (but most of all - event marshalling

[2016-03-15 13:47] MichalStrehovsky commented on #1013
Cc @yizhang82 @MattWhilden

[2016-03-15 14:19] Opiumtm commented on #1013
Additionally, I do not understand why Windows Runtime interop is so unoptimized. All winmd metadata is known at compile time. winmd metadata is restrictive enough and efficient interop code can be generated at compile time. Maybe garbage collector, JIT and .NET Native can handle windows runtime references on its own as a special case, to avoid unnecessary glue objects. In c++ call to Windows Runti

[2016-03-15 14:40] Opiumtm commented on #1013
Also, I think, in a winmd metadata case it is safe to emit otherwise "unsafe" code, because winmd metadata is well known and restrictive. No cautions is needed, because type safety can not be broken when we have strict metadata known at compile time.

[2016-03-16 00:24] MichalStrehovsky commented on #974
We diverged from CoreFX in `dir.props`. I believe the location of AssemblyList.txt is controlled by the general OutputPath property.

This is in CoreFX:
[code]

This is in CoreRT:
[code]

The CoreRT one used to be the same as CoreFX, but got changed when we started generating NuGet packages.

I don't want to spend time figuring out how to get back on track, but wanted to jot down my findings in ca

[2016-03-16 01:08] Opiumtm commented on #1013
More information on this issue.
On x86 desktop .NET Native seems to have better performance than .NET Core runtime.

But on ARM Windows 10 Mobile smartphone situation is direct opposite. .NET Native compiled app starts much faster than .NET Core runtime app. But when .NET Native compiled app starts, it perform much worse. JIT-ed managed runtime deliver much more responsive UI on ARM! It's just for

[2016-03-16 01:11] MattWhilden commented on #1013
Thanks for your continued interest! Here's a rough ordering of how best to get things to us so that we can address them quickly:

- Links to source, in particular repos with VS solutions in them
- Snippets that can be dropped into the UWP template
- PerfView traces (see below)
- Traces taken with VS (DEBUG > Start Diagnostic tools without debugging)

For performance related issues it's often very

[2016-03-16 01:34] MichalStrehovsky commented on #1013
Closing per Matt's comment.

[2016-03-16 01:34] #1013 closed

[2016-03-16 01:46] Opiumtm commented on #1013
@MattWhilden these performance related problems are hard to debug and track because it manifest itself most violently on ARM smartphone, in my case it's an aged Lumia 920 testing device (with insider preview version of W10M). On x86 desktop these issues are almost ephemeral, x86 desktop with Intel Core i7 CPU have enough power to not worry about excessive Windows Runtime marshalling cost. But ARM

[2016-03-16 01:57] Opiumtm commented on #1013
@MattWhilden from a description of this repo:

Am I wrong when I address .NET Native issues here?

[2016-03-16 03:29] MichalStrehovsky commented on #1013
.NET Native and .NET Native for UWP target the same runtime (CoreRT), but they currently use different compiler toolchains, with different capabilities. The compiler toolchain that .NET Native uses for UWP apps is not open source and doesn't live in this repo.

I know it might be confusing - the difference will get blurred out eventually - but the channel to report issues that are specific to WinR

[2016-03-16 04:10] Opiumtm commented on #1013
@MichalStrehovsky it is not "might be" confusing, it is certainly confusing and extremely misleading.

[2016-03-16 19:02] #504 closed

[2016-03-16 23:50] MattWhilden commented on #1013
Thanks for the link to the repo. I'd love to have someone here at MS investigate the issue that lead to your cpp workaround. Can you describe what we'd need to do in your application to trigger the issue?
Having a customer app like this is really great for keeping us on track and focused. :-)

Also, we have a bunch of work in this area that will be available in the Update 2 UWP tools sometime soon

[2016-03-17 07:44] yizhang82 commented on #1013
@Opiumtm Thanks for your valuable feedback. As @MattWhilden mentioned earlier, we are actively working on improving performance of WinRT interop in .NET native. We need to understand your scenario better to be able to provide more specific recommendations or fix underlying performance problems. It'd be great to have a reduced repro to show the perf difference between C# interop and C++.
To give mo

[2016-03-17 08:26] Opiumtm commented on #1013
I will write more later about these issues, @MattWhilden, @yizhang82, when I have more time.
As a fast response to make **most critical** point I say this - things certainly is "good enough" on x86 desktop computer with Intel Core i7 CPU. To be honest, on i7 interop costs are not noticeable and cause problems only at badly designed parts of code. You are right in general. But in some particular ca

[2016-03-17 15:27] janvorli commented on #641
Fixed by #1000. Waiting for multiple events will not be needed in PAL, the only place that was using it in RhpWaitForFinalizerRequest can be reimplemented to not to need separate events.

[2016-03-17 15:27] #641 closed

[2016-03-17 19:41] MattWhilden commented on #1013
We agree about the importance in driving improvements for small devices. My desk has a Raspberry Pi and a bunch of Nokia 630s on it! The general message about making sure things run on smaller devices is heard loud and clear. It will continue to be something that we'll invest in.

@yizhang82 correctly points out that we end up needing to do a bunch of corporative work with various other teams invo

[2016-03-18 21:48] tijoytom commented on #679
We have a mcg nuget package now , moving mcg to git is to tracked by different issue.

[2016-03-18 21:48] #679 closed

[2016-03-19 20:04] MichalStrehovsky commented on #998
Filed dotnet/cli#1956.

Let's see if the CLI agrees this is a CLI bug. If not, we will need to add a line to clean in between.

[2016-03-20 03:53] jkotas commented on #888
The incorrect usage fixed by #991.

[2016-03-20 03:53] #888 closed

[2016-03-20 03:53] jkotas commented on #888
The incorrect usage fixed by #991.

[2016-03-20 03:53] jkotas commented on #888
The incorrect usage fixed by #991.

[2016-03-20 03:53] jkotas commented on #888
The incorrect usage fixed by #991.

[2016-03-20 03:56] jkotas commented on #788
Fixed by https://github.com/dotnet/coreclr/commit/27445bb1b827ce186d06d1c536a7fe10b8bc79ac

[2016-03-20 03:57] #788 closed

[2016-03-22 20:01] #369 closed

[2016-03-22 20:01] #373 closed

[2016-03-22 20:31] MichalStrehovsky opened #1037 "IL2IL transform parity progress"
Keeps track of the various tasks that the IL2IL transform phase performs on .NET Native for UWP and our progress towards having them in the CoreRT compiler.

Purposefully omits things related to interop, serialization, WCF, reflection, and lazy generics. These topics are more complex and interact with the IL2IL whole program analysis results.

Tasks done by pre-resolve transforms (oldstyle portabl

[2016-03-22 23:27] AArnott opened #1039 ".NET Native compiler fails when consuming PCLCrypto (PInvoke) library"
Moved from AArnott/PCLCrypto#81

**Repro steps**

1. Create UWP unit test project
1. In project.json, add a dependency on `"PCLCrypto": "2.0.140"`
1. Add the following line to TestMethod1 in the UnitTest.cs file:
`PCLCrypto.WinRTCrypto.CryptographicBuffer.GenerateRandom(5);`
1. Switch the solution configuration to Release
1. Build

**Build fails** due to bad code generation in the .NET Native comp

[2016-03-22 23:48] jkotas commented on #1039
cc @MattWhilden

[2016-03-23 00:02] MattWhilden commented on #1039
For issues related to .NET Native for UWP, the usual thing we recommend is to send us mail at dotnetnative@microsoft.com. The CoreRT repo is somewhat related but isn't a great place to get help for these things. As such, I'll close this issue down and look forward to working with you as above. :-)

The compiler has a nice way of packing up a repro file for us: https://github.com/dotnet/core/blob/m

[2016-03-23 00:02] #1039 closed

[2016-03-23 00:05] AArnott commented on #1039
We'll do. Thanks.

[2016-03-23 00:06] manu-silicon commented on #1037
Could you clarify what is implied by this action item ```Calli - TBD - likely not needed```?

[2016-03-23 01:40] manu-silicon opened #1040 "Cross compilation on ARM"
I just tried cross compilation for arm on Linux x64 and got the following error:

[code]

Just wondering if this was expected it would look for arm binaries and whether or not this is more a dotnet/cli issue or corert one?

[2016-03-23 01:46] jkotas commented on #1040
The immediate error is corert issue. The script should download cli that matches the host platform, not the target platform.

However, there is likely number of cross-compilation issues in cli as well - that you will hit once this one is fixed.

[2016-03-23 05:38] MichalStrehovsky commented on #1037
It means that the codegen limitation for calli to generic methods that exists in c2.dll (.NET Native for UWP codegen backend) is not present in RyuJIT and there might not be any work to do.

[2016-03-23 18:20] MichalStrehovsky commented on #994
We don't really have a guarantee the second attempt will work. We would at least need to put a delay between them. It depends on how busy your machine is, etc. We would also have to sprinkle retry logic all over the place to make it work on different people's machines (e.g. someone else might hit it while we clean out the obj directory, someone else within MSBuild, etc.). I would rather not set th

[2016-03-23 19:46] #998 closed

[2016-03-23 20:14] MichalStrehovsky commented on #720
@jkotas Didn't SImon implement this?

[2016-03-23 20:18] MichalStrehovsky commented on #791
@kyulee1 How is this different from #383?

[2016-03-23 20:26] jkotas commented on #720
Yes.

[2016-03-23 20:26] #720 closed

[2016-03-24 00:34] manu-silicon commented on #994
I've hit this problem in the past for other projects and the solution was to actually retry infinitely or after a few attempts and bail out. This is especially true if you are running on top of a network share.

Adding the exclusion to the antivirus is not so great.

[2016-03-24 00:43] manu-silicon commented on #1037
@MichalStrehovsky Thanks.

[2016-03-24 16:56] nattress opened #1049 "VTableSliceNode should Assert if Slots has been read and more are added"
We may also want to freeze the inheritance chain's VTableSliceNodes. Ie, if we freeze System.String's VTable, we should freeze System.Object's, too.

[2016-03-24 17:36] nattress opened #1050 "Add Multi-module test that compiles all object files separately"
Stress test the module object file emission by creating an object file for each input assembly and verifying they can link together successfully.

[2016-03-24 23:39] wjk opened #1052 "Package Restore Failure"
When I try to build CoreRT using `build.cmd x64`, it gets as far as "Restoring all packages", hangs for a while, and then MSBuild fails stating that the .NET CLI exited with code 1. [Here is the MSBuild log.](https://gist.github.com/wjk/579575707b89a9464228) No matter what I do, I cannot get MSBuild to give me an indication of what is the cause of the error. (If I build again using the same `packa

[2016-03-25 01:04] wjk commented on #1052
Note that running `dotnet restore` using my system version of .NET CLI (1.0.0-beta-001483) succeeds after some time and a lot of output. The version of .NET CLI being used by the CoreRT build, however, is much older (it is so old, it does not give me an exact build number of commit sha in its `--version` output).

[2016-03-25 01:05] wjk commented on #1052
Scratch that about the version number in my last post above; it is 1.0.0.000973, commit sha `68c0edff1716c9f0edb343d8843eef293d567c41`. (These values come from the `build.cmd` output.)

[2016-03-25 01:11] wjk commented on #1052
And, as it turns out, that insanely old cached copy of .NET CLI was the cause of the problem; removing it to force CoreRT to download a newer one fixed it; the CoreRT build now proceeds further. (It still doesn't compile _per se_, but that's a separate issue.)

[2016-03-25 01:11] #1052 closed

[2016-03-25 17:15] #974 closed

[2016-03-25 21:37] wjk opened #1055 "__not_yet_implemented failure"
I am trying to run a complex project of mine (private repo) in CoreRT, with an eye on finding unimplemented functionality. The `__managed__Main` function (apparently) calls directly into the `__not_yet_implemented` stub function in `main.cpp`. There are no intervening frames on the stack (with or without Show External Code enabled).

However, `__not_yet_implemented` is passed two garbage pointers.

[2016-03-25 21:58] wjk commented on #1055
After inspecting the disassembly of `__managed_Main` in the Visual Studio debugger, I found the following lines of x64 assembly:

[code]

It seems that RyuJIT is dereferencing the pointers to the strings twice before passing them into `__not_yet_implemented`. @janvorli Is it correct for RyuJIT to emit such assembly?

[2016-03-25 22:33] MichalStrehovsky commented on #1055
You're hitting a failure extremely early in the startup path - string literals are not initialized yet.

Run the ILC compiler under a debugger with first chance exceptions turned on. You'll see the reason why we're generating the __not_yet_implemented call in the first place and that might take you further.

Note that running a complex project is unlikely to work. We don't have a GC and there are

[2016-03-26 00:32] wjk commented on #1055
I appear to be getting a `FileNotFoundException` inside `ilcompiler.compiler.dll!ILCompiler.CompilerTypeSystemContext.GetModuleForSimpleName(string simpleName, bool throwIfNotFound)	`. The message is that it cannot find the assembly System.Runtime. (I say _appear to_ because I am having trouble loading symbols for ILC; therefore I cannot perform source-level debugging.)

If I continue after the ex

[2016-03-26 00:45] wjk commented on #1055
@MichalStrehovsky Is it true that I must reference _all_ of the DLLs used in my program on the command line (either as inputs or using `-r`) for ILC? This requirement to me seems odd, and results in very unwieldy command lines to have to type in. Furthermore, it complicates my PowerShell-based build script.

[2016-03-26 00:47] wjk commented on #1055
As it turns out, after referencing all the assemblies linked against using `-r`, I am now getting `Assembly not found: mscorlib`. This is an even stranger error, as AFAIK `mscorlib` should not be used at all with CoreRT! Is this supposed to happen?

[2016-03-26 00:52] MichalStrehovsky commented on #1055
ILC doesn't have probing paths - you need to be explicit. The preferred way to run ILC is through the .NET CLI (http://dotnet.github.io/getting-started/), which will do everything for you.

To compile to native, you can use `dotnet build --native`. You can also use `--ilcpath` to specify a different version of ILC since the one that comes with `dotnet` is pretty stale.

I assume you're seeing `msc

[2016-03-26 01:07] wjk commented on #1055
As it turns out, I was not using the AppDep package at all; I did not know I had to use that. In addition, I cannot use .NET CLI, because I need to use a custom C++ entry point for my application to work properly.

[2016-03-26 20:23] MichalStrehovsky commented on #1049
Simon fixed this in #1056.

[2016-03-26 20:23] #1049 closed

[2016-03-26 21:05] wjk opened #1060 "GetModuleSection symbol not found"
I am trying to debug the running of ILC on my relatively complex codebase. (See #1055 for the previous work on this problem.)

ILC correctly (as far as I know) emits the object file, but the linker complains of a missing symbol when I try to link the final DLL file. The symbol is `GetModuleSection`. I do not know where this symbol is referenced from, or where it is implemented (in C++ or in C#). I

[2016-03-27 02:02] jkotas commented on #1060
Is it `GetModuleSection` or `RhpGetModuleSection`?

If it is `GetModuleSection`, no idea where it may be coming from if it. There is no function called `GetModuleSection`.

If it is `RhpGetModuleSection`, you may be linking with stale `Runtime.lib`. `RhpGetModuleSection` is implemented in `src\Native\Runtime\MiscHelpers.cpp` - added by #851.

[2016-03-27 02:46] wjk commented on #1060
@jkotas I am quite certain that it is `GetModuleSection` (no `Rhp`).

[2016-03-27 02:55] wjk commented on #1060
I found it! I believe that the offending code is [here](https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/StartupCode/StartupCodeHelpers.cs#L198-L200). The function is imported from the runtime using the symbol name `RhpGetModuleSection`, as it should, but the function is called from C# as `GetModuleSection`. For whatever reason, ILC is no

[2016-03-27 03:01] wjk commented on #1060
Update: A version mismatch between my copy of ILC and the copy of `System.Private.CoreLib` may be causing this issue. If I use the copy of `System.Private.CoreLib.dll` that comes from the same fork as the copy of ILC I am using, I then get a crash in ILC. I will file a separate issue regarding that.

[2016-03-27 03:05] wjk opened #1061 "Expected method not found"
I am trying to run ILC on a fairly complex codebase of mine, and it is crashing. Here is the error message and stack trace:

[code]

Oddly, if I use a deliberately outdated copy of `System.Private.CoreLib.dll`, this issue will not occur. However, if I do so I will then get the problem being discussed in #1060. If I use the version of ILC and `System.Private.CoreLib.dll` from the exact same commit

[2016-03-27 03:37] jkotas commented on #1061
You are using old ilc.exe, with live System.Private.CoreLib.dll.

`\corert\bin\Product\...\ilc.exe` is the current live version. You want to be using this one.

`\corert\bin\tools\cli\bin\ilc.exe` is months old version. It is the last version that got integrated into CLI.

[2016-03-27 03:45] wjk commented on #1061
I _am_ using the copy under `bin\Product` (precisely, `bin\Product\Windows_NT.x64.Debug\packaging\publish`). It still has this problem. I have even deleted that file and rebuilt it from scratch, to ensure that it is not a stale build. No change.

[2016-03-27 03:59] wjk commented on #1061
Intergalactic facepalm! The version of `ILCompiler.Compiler.dll` that was being loaded _was_ out of date: since I was using the `corerun.exe` shipped with .NET CLI, it was seeing its own, outdated copy of that DLL, and ignoring my more up-to-date copy! Changing the `corerun` program fixes this bug.

[2016-03-27 03:59] #1061 closed

[2016-03-27 04:00] wjk commented on #1060
As it turns out, the same fix as in #1061 resolves this as well.

[2016-03-27 04:00] #1060 closed

[2016-03-27 19:51] #407 closed

[2016-03-27 23:46] wjk commented on #1055
This one has now been resolved on my end.

[2016-03-27 23:46] #1055 closed

[2016-03-28 23:54] #941 closed

[2016-04-02 00:04] nattress opened #1075 "Migrate dotnet-compile-native into CoreRT branch from CLI"
CLI team recently disabled dotnet-compile-native in their Rel/1.0.0 branch and Master is still very shaky. We should bring the command over to our branch and remove it from CLI so our dependency on them is greatly reduced.

[2016-04-02 00:05] nattress commented on #1075
See also https://github.com/dotnet/cli/issues/1213

[2016-04-02 16:42] MichalStrehovsky commented on #647
This was fixed with #1068.

[2016-04-02 16:42] #647 closed

[2016-04-04 21:02] MichalStrehovsky opened #1083 "JumpStubNode doesn't preserve method identity"
The following program will print `true` on CoreRT even though it should print `false`.

[code]

The underlying issue is that the `JumpStubNode` causes both MethodEntrypoints to collapse into a single Node when in fact we need to preserve the information about the logical method associated with the extern symbol.

As part of fixing this, we should probably make `JumpStubNode` implement `IMethodNode

[2016-04-05 07:07] #1083 closed

[2016-04-09 00:41] MichalStrehovsky opened #1103 "Update Array class to handle CoreRT multidimensional arrays"
E.g. Array.get_Rank is off in the BCL because it expects Project N style multi-dim arrays.

Basically, we need to revise all the places that use `MDArray` in Array.cs.

[2016-04-09 17:33] MichalStrehovsky opened #1105 "Make ICastable work"
Implementing ICastable currently makes the compiler assert because the EEType emission code will attempt to get ICastable slot numbers while the VTable is still in flux.

[2016-04-11 02:48] manu-silicon opened #1109 "Warning in index_of_set_bit of gc.cpp"
CoreCLR has already a fix for the warning (see https://github.com/dotnet/coreclr/commit/fde7b2cd22a8c67ecf145e8602a132baa9a70156):
[code]
Should I submit a PR or will this change be merged in CoreRT?

[2016-04-11 02:56] manu-silicon opened #1110 "Truncated value in C++ code generation"
The following C# code:
[code]

will actually generate something like that:
[code]

where 254 will be invalid. Ideally it is best to generate the hex values for numerical constants to avoid this situation.

[2016-04-11 04:58] jkotas commented on #1109
You can submit a PR. The change would get to CoreRT eventually via GC integrations but we do not have to wait for it. (I do not want to do CoreCLR -> CoreRT GC integration right now because of there is a small refactoring being worked on that will make it easier), .

[2016-04-11 05:03] manu-silicon commented on #1109
Done so. See PR #1111

[2016-04-11 06:01] #1109 closed

[2016-04-11 06:02] manu-silicon opened #1112 "Using C# 6.0 level"
Just noticed that the C# projects are using C# 5.0. Is this on purpose, or can we bump the version to C# 6.0?

[2016-04-11 06:21] jkotas commented on #1112
There is no good reason for this constrain anymore. It is fine to remove it (it is in dir.props).

[2016-04-11 13:31] janvorli commented on #644
PalGetModuleFileName implemented by #1004,
remaining items:
GCToOSInterface::VirtualReset
GCToOSInterface::GetLargestOnDieCacheSize

[2016-04-12 00:22] MichalStrehovsky opened #1116 "Implement FltRem/DblRem JIT helpers"
There is some implementation of this in FloatingPoint.asm, but we likely want something portable anyway.

[2016-04-12 00:41] manu-silicon commented on #1110
Because of C/C++ have some rules about type conversion, the following:

[code]

will not raise any warnings when

[code]

will.

So it seems that ILToCppImporter.AppendCastIfNecessary should actually check what the source is to find out if a cast is necessary. Because the way the evaluation stack is handled, it is not easy to compare between locals/functions and values.

I'm suggesting to improve

[2016-04-12 01:25] manu-silicon commented on #996
Is there a way to solve this? It is annoying to see errors in the VS Error List window.

[2016-04-12 02:02] manu-silicon commented on #1112
I've added PR #1117

[2016-04-12 02:24] manu-silicon opened #1118 "Is there a reason for keeping release mode in ILCompiler.Compiler?"
The ILCompiler solution in debug mode has all projects in debug configuration except ILCompiler.Compiler? Is this an oversight or is this expected?

[2016-04-12 02:30] manu-silicon commented on #1118
Never mind, looks like my project was modified somehow without me realizing.

[2016-04-12 02:30] #1118 closed

[2016-04-12 02:35] manu-silicon commented on #994
Although I haven't changed my setup, I'm not hitting this issue anymore.

[2016-04-12 02:35] #994 closed

[2016-04-12 15:10] jkotas commented on #996
@schellap Any thoughts on this?

[2016-04-12 15:48] #1112 closed

[2016-04-12 21:24] MichalStrehovsky commented on #1103
Chatted with Scott about this - we'll want to avoid adding new runtime services for this. The runtime doesn't need to be aware of multidimensional arrays - in fact, the `RhNewMDArray` API that was recently added should be converted to a new "allocate an array with a given base size" service.

[2016-04-13 03:09] manu-silicon commented on #996
With the latest CoreRT code, the output is slightly different:
[code]

And to be precise, the Dependency entries are treated as warning by Visual Studio, whereas the "not compatible" entries are treated as errors.

[2016-04-13 04:40] schellap commented on #996
I did a build.cmd and compile in Visual Studio and did not see the nuget errors. I have the Allow Nuget to restore missing packages disabled in Tools Options.

[2016-04-13 04:53] manu-silicon commented on #996
I have both "Allow Nuget to restore missing packages" and "Automatically check for missing packages during build in Visual Studio" checked. I believe this is the default.

[2016-04-13 07:42] jkotas commented on #996
I am not able to repro the `Dependency specified was System.CommandLine (>= 0.1.0-e160323-1) but ended up with System.CommandLine 1.0.0.1` errors with the default package manager settings (allow restore + automatically check). Not sure what it may be causing this error.

[2016-04-13 07:50] manu-silicon commented on #996
If I disable the check, then the errors and warnings disappear. The only think left is
[code]

For the
[code]
warning, I'll try to delete my .nuget folder and see if it addresses it.

[2016-04-13 07:50] jkotas commented on #1110
This sounds good - I assume that it will make the generated code more readable with less clutter.

Note that the IL stack is always logically storing int32 per IL spec. It may be a good idea to have separate tracking of the logical value on the IL stack (what it is there today) and tracking of what is the current type of the value.

BTW: The tracking of the actual type of the value may eventually

[2016-04-13 20:40] nattress opened #1129 "Eager class constructor ordering in multi-module scenarios"
Types marked with `EagerOrderedStaticConstructorAttribute` have their Cctors run in a defined order according to the integer value they passed to `EagerOrderedStaticConstructorAttribute`. Currently merged modules have their own separate lists of Cctors to run. These lists need to be merged at runtime from all modules being loaded. We don't currently pass the order number through with the construct

[2016-04-13 21:27] jkotas commented on #1129
I think this is way too complex. I think we need to rather fix the usage so that it is not order dependent.

[2016-04-13 23:54] MichalStrehovsky opened #1130 "Environment.Exit missing on CoreRT"
This prevents us from using System.CommandLine on CoreRT, so I would say this is higher pri.

[2016-04-13 23:55] MichalStrehovsky commented on #1130
@weshaggard I could go an implement Environment.Exit in CoreLib somehow, but I don't know what this means in terms of facades, contracts etc.

[2016-04-14 00:58] MichalStrehovsky commented on #1129
I'm worried not having deterministic ordering will make things very fragile. The order currently defines at what point various runtime features start being available. E.g. it determines at what point we can start doing lazy generic lookups, at what point we can fail with an OutOfMemoryException, at what point we can have lazy cctors etc.

It's difficult to notice violation of these dependencies in

[2016-04-14 00:59] manu-silicon opened #1131 "Comment on GetMethods, injected methods and naming"
I was looking at test SyntheticVirtualOverrideTests as I'm building a test for issue #192 I reported a while back. This test injects Equals and GetHashCode in classes/structs not defining them in code. The test is explicit that you should retrieve them via GetAllVirtualMethods and EnumAllVirtualSlots but not via GetMethods. That seems counter intuitive.

CC: @MichalStrehovsky as you wrote the test

[2016-04-14 01:03] manu-silicon opened #1132 "IL tests from TypeSystem tests are causing a warning in Visual Studio"
The following warning is displayed in VisualStudio when compiling the TypeSystem.sln solution:

[code]

Looks like Visual Studio has no idea about .ilproj file.

[2016-04-14 01:29] jkotas commented on #1130
Facades will just work. And contracts will get there eventually.

[2016-04-14 01:43] jkotas commented on #1129
If the initialization needs to happen in a particular order, the best way to achieve that is via a method that just calls stuff in that order. It is how ordinary folks do it in ordinary C# code. Very explicit, hard to miss during codereviews, etc.

It is best to avoid building features for internal consumption that have near zero chance of becoming public .NET Core features at some point. The expl

[2016-04-14 02:05] MichalStrehovsky commented on #1129
The ordered eager constructor concept was built for interop. Cc @yizhang82

The only thing that I have context for is reflection initialization. I would be more than happy to pull that part of reflection into corelib and remove the dependency on eager cctors for that. The existing CoreLib factoring doesn't make sense anyway.

[2016-04-14 02:17] MichalStrehovsky commented on #1132
That's because the ilproj is not in the solution file. We could add it, but it won't build from VS anyway.

We would need to fix IL.targets to work in VS first. It lives in the dotnet/buildtools repo.

[2016-04-14 03:39] manu-silicon opened #1133 "Strategy to add a failing test"
I wrote a test for Issue #192 in the TypeSystem.sln solution but it is currently failing. What is the way to mark it as ```expected to fail```? Should I simply remove it from the list of ran tests, but then you need to remember to add it at some point.

[2016-04-14 03:42] jkotas commented on #1133
Marking it with `[ActiveIssue(1234)]` should do the trick. It is what is done in other repos for xunit tests.

[2016-04-14 04:14] weshaggard commented on #1130
Correct the facades are just type forwards and there is already a type forward for Environment. The contract is already updated as well but we don't claim to support it yet for .NET Native, if you need that let me know.

Thanks for going ahead and implementing this.

[2016-04-14 04:15] manu-silicon commented on #1133
Unfortunately that attribute is not available by default. What do I need to add to the project.json file? So far I added:

[code]
I picked a random version from the list that VS was suggesting.

[2016-04-14 04:21] jkotas commented on #1133
The exact version should not really matter as long as it works. `"1.0.0-prerelease-00231-07"` - version used by corefx currently - may be best.

[2016-04-14 05:47] yizhang82 commented on #1129
@smosier @tijoytom We are moving away from ordered eager constructor in interop and moving to real module constructors where we can do eager initialization with explicit order control (it's a real method after all), without the cost of lazy cctors.

[2016-04-14 13:33] manu-silicon commented on #1133
Closing as doing this work. See PR #1134 shows how to do this.

[2016-04-14 13:33] #1133 closed

[2016-04-14 16:41] MichalStrehovsky commented on #1131
The semantic of `GetMethods` only reflecting metadata and `GetAllVirtualMethods` reflecting metadata plus what the type system context injected was a conscious decision that was subject to a lot of hallway discussions.

Redux of the discussion is that most parts of the system don't care about the injected methods (we already inject a bunch of other non-virtual ones) and those that do only ever car

[2016-04-14 17:41] nattress opened #1135 "Generate NI images for ILCompiler assemblies and distribute in SDK Nuget package"
When building the SDK package for CoreRT, we should generate native images for managed assemblies to improve the compiler's start up time when using --native with the dotnet CLI.

Related: https://github.com/dotnet/cli/issues/329

[2016-04-14 19:53] MichalStrehovsky commented on #1132
Submitted dotnet/buildtools#640 to address the first problem.

[2016-04-14 20:24] MichalStrehovsky commented on #1129
@yizhang82 That sounds much cleaner, but how are we going to emit the module .cctors? Is C# adding support for that?

[2016-04-14 20:53] yizhang82 commented on #1129
@MichalStrehovsky Today we use a magic attribute marks a static method to be the module constructor that ProjectN toolchain understands . CoreRT can probably do the same.
But yeah, we should put the feature in Roslyn's list. I'll go talk to Roslyn team - I have a list of asks for MCG.

[2016-04-14 23:55] manu-silicon opened #1142 "Is there an easy way to just compile a specific type or method of an assembly?"
Is there a way to just generate the code for a specific type or method without generating any dependencies? This would help in debugging code generation issue.

[2016-04-14 23:59] jkotas commented on #1142
There is not one, but it would be nice to add it.

[2016-04-15 05:07] #1116 closed

[2016-04-15 06:39] manu-silicon opened #1144 "Generating C++ triggers a binding Failure exception"
When trying to debug the C++ code generation I'm getting the following exception:
[code]

Unfortunately VS doesn't let me ignore that exception. Pressing F5, seems to rethrow the same exception.

If I catch all exception, apart from some NotImplementedException, the one worth mentioning is the following:

[code]

[2016-04-15 06:51] jkotas commented on #1144
Disabling 'BindingFailure' MDA should silence this one - it is disabled in the default VS config. Go to Debug / Windows / Exception Settings / Managed Debugging. (Disabling VS hosting process may help with this exception too.)

This one is on top of our list. Unfortunately, it requires some nuget packaging changes to fix properly that we are not able to do right now because of lock down for .NET C

[2016-04-15 06:57] manu-silicon commented on #1144
I did disable it from VS but it did not do anything. I've also tried to disable the VS hosting but to no available. Below is a copy of the exception:

[code]

[2016-04-15 13:49] manu-silicon opened #1146 "Adding support for float infinities in C++ backend"
Currently the C++ backend will throw a NotImplementedException whenever a Value evaluates true for the following:
```Double.IsInfinity(Value) || Double.IsPositiveInfinity(Value) || Double.IsNegativeInfinity(Value)```

I'm not sure why the code was testing for the 3 possibilities here. Anyway, should we have some method in the runtime to provide those values to the C++ backend? If so, what is recom

[2016-04-15 13:59] jkotas commented on #1146
I think that the easiest way to deal with this is to take pointer to the bit representation that came from the IL instruction and recast it as double.

The BCL depends on the bit representation of floats and doubles to be the regular IEEE in number of places, so taking a dependency on it in the C++ code should be ok.

[2016-04-15 14:32] #1144 closed

[2016-04-15 14:32] jkotas commented on #1144
@manu-silicon Could you please verify that it fixed the problem for you?

[2016-04-15 15:03] manu-silicon commented on #1144
Yes but this will have to wait Monday. Thanks for looking into this.

[2016-04-15 17:11] MichalStrehovsky commented on #1142
On a first thought, making a new subclass of `CompilationModuleGroup` might be the way to go.

The Project N native compiler exposes this functionality under following command line switches (we might want to align):

* `-singlemethodbyname typeName methodName`

`typeName` is in the ECMA 335 SerString format (we have a parser for that (`GetTypeByCustomAttributeTypeName`), `methodName` is just the m

[2016-04-15 19:27] #1130 closed

[2016-04-16 18:19] MichalStrehovsky opened #1155 "Infrastructure to dump node contents"
ObjectNodes should implement an (optional?) interface by which they can textually describe their content. This can be e.g. used by the metadata node to dump all the metadata handles in the blob, or by the EEType node to dump the vtable of each EEType.

We could make this an interface understood by the DependencyAnalysis infrastructure (and make it part of the DGML log), or build something separate

[2016-04-18 00:29] manu-silicon commented on #1144
Works great now. Thanks!

[2016-04-18 04:23] manu-silicon commented on #1142
@MichalStrehovsky Thanks for providing the hints. I'll see if I can make this work as this would be very useful to have.

[2016-04-18 06:31] manu-silicon commented on #1142
Looking into this more, I'm not sure creating a new CompilationModuleGroup buys us much. It seems that the dependency analyzer might be the one we want to filter on since the code generation is actually done during the analysis. Any thoughts?

As a side note, where is the System.CommandLine assembly coming from? I'm not sure if it will easily accept what you suggested as I could not figure out wha

[2016-04-18 06:35] jkotas commented on #1142
github.com/dotnet/corefxlab/

[2016-04-18 07:44] jkotas commented on #936
The only remaining tool that depends on mono is "nuget pack".

[2016-04-18 07:47] krytarowski commented on #936
I'm now fixing NetBSD support with MONO, due to these dependencies around.

[2016-04-18 07:48] krytarowski commented on #740
Any news on it?

[2016-04-18 08:14] jkotas commented on #740
Once the CoreCLR one is up (https://github.com/dotnet/coreclr/issues/3125), it should not be hard to reuse it for CoreRT too.

[2016-04-18 08:39] #639 closed

[2016-04-18 08:42] jkotas commented on #513
This should be based on the multi-module compilation built for RyuJIT codegen.

[2016-04-18 16:55] MichalStrehovsky commented on #1142
CompilationModuleGroup is the thing that controls the dependency graph expansion. I would be wary of creating a new mechanism.

Right now the concrete `CompilationModuleGroup` to be used during compilation is getting created in `Compilation.cs`, but we will likely want to have it created in the ILCompiler exe project and passed to `Compilation` (which means none of ILCompiler.Compiler will not nee

[2016-04-18 22:47] MichalStrehovsky opened #1159 "Reconcile codegen EH conventions on x64"
See discussion in #1114 for details.

The runtime expects the first argument to EH funclets to be the exception object. RyuJIT currently expects establisher frame (on x64). x64 codegen should align with how this is done on arm/arm64.

[2016-04-19 00:02] manu-silicon opened #1161 "Incompatible package since 2016-04-18"
Looks like the recent update to the various package versions broke my patch for new tests (see #1134). The error message I get is the following:

`Package xunit.netcore.extensions 1.0.0-prerelease-00312-04 is not compatible with netstandard1.3 (.NETStandard,Version=v1.3). Package xunit.netcore.extensions 1.0.0-prerelease-00312-04 supports: dotnet (.NETPlatform,Version=v5.0)	`

This is after updati

[2016-04-19 00:03] manu-silicon commented on #1161
This is coming from commit https://github.com/dotnet/corert/commit/0ca7f2e21090fb56b8bb3f906e649c7b10ddefa2

[2016-04-19 00:21] jkotas commented on #1161
You should be able to fix this by adding `imports dnxcore50` to project.json. It tells nuget that the two profiles are compatible, even though the nuget package manifest does not say it.

Here is an example of real use of `imports` https://github.com/dotnet/cli/pull/2548/

[2016-04-19 00:33] manu-silicon commented on #1161
Thanks it seems to work. Here is what I changed, from:
[code]
to
[code]

[2016-04-19 00:33] #1161 closed

[2016-04-19 02:05] manu-silicon commented on #1146
To make this easier, it would be good to have a helper function like this one:

[code]

somewhere in the code. Are you ok with this and if so where should we put it?

[2016-04-19 02:12] jkotas commented on #1146
I would start a new file, something like - `src/Native/Bootstrap/CppCodeGen.h/cpp` - and start adding the random small CppCodeGen helpers to it. E.g. `INT64VAL` or `CORERT_UNREACHABLE`  that you have added recently can be move to it as well.

[2016-04-19 02:40] manu-silicon commented on #1146
Sounds good. For now, I can get away with an inline and just a .h file.

[2016-04-19 02:53] manu-silicon commented on #1146
Submitted PR #1164

[2016-04-19 04:49] manu-silicon commented on #1146
Closed via PR #1164

[2016-04-19 04:49] #1146 closed

[2016-04-19 04:58] manu-silicon commented on #1110
Closed via PR #1145

[2016-04-19 04:59] #1110 closed

[2016-04-20 08:22] manu-silicon opened #1173 "Improve resources.targets file"
Although that file is not part of the CoreRT repository, I could not find it either in dotnet/cli or dotnet/buildtools. The issue is that at line 49:

[code]

would not prevent VS to show the files in the Solution Explorer. This causes tools such as ReSharper to issue warnings for files that are actually not compiled when building the solution (observed when compiling TypeSystem.sln).

It would be

[2016-04-20 13:43] MichalStrehovsky commented on #1173
It's in buildtools: https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/resources.targets

[2016-04-20 15:42] manu-silicon commented on #1173
Thanks, github could not return a result for it. I'll fill a PR over there.

[2016-04-20 15:42] #1173 closed

[2016-04-21 00:00] manu-silicon commented on #1173
See PR dotnet/buildtools#653

[2016-04-21 06:38] manu-silicon opened #1180 "Debugging info"
I'm looking at how to debug a native program using gdb/lldb. On AMD64, you can actually step into the source code of managed code. However it does not seem possible to list all locals and arguments. From what I can gather, the debugging info seems to be generated by RyuJit, does it means that for the non-C++ backends, it will rely on RyuJit for debug info and that therefore any improvements on thi

[2016-04-21 06:50] jkotas commented on #1180
RyuJIT has everything required for this. It generates IL->native map for both code and local variables.

The missing parts are in CoreRT and ObjectWriter (that lives in llilc repo). Merge the source code -> IL map and IL->native map and write the result as PDB or DWARF.

The implementation of the local var debug info was started in #794. It works for some limited cases, but it is not finished. Tra

[2016-04-21 19:46] #1159 closed

[2016-04-22 23:58] #1132 closed

[2016-04-23 15:17] jkotas opened #1189 "printf formatting strings"
Number of printf formatting strings (in particular in native\gc) iuse Windows-specific features in formatting strings (like %l) that won't work on Unix.

[2016-04-24 17:10] MichalStrehovsky opened #1192 "Generate .IL file with all generated method bodies and map debug info to them"
Introduce a command line switch that generates an `.IL` file with all the generated methods bodies and maps the PDB information to that file. We already have a disassembler, so it shouldn't be that hard. Debugging generated methods on Project N has always been rather annoying and it feels like this might make a difference.

[2016-04-25 00:26] manu-silicon commented on #1189
Using %l on Unix is quite fine as far as I can tell. Do you mean the usage of Windows specific formatters such as %I64d?

[2016-04-25 02:23] manu-st opened #1194 "Linux build warnings"
When compiling the managed part you get some warnings.

This one is also present on Windows:

[code]

Those are Linux specifics:

[code]

[2016-04-25 02:36] manu-silicon commented on #1194
For the ubuntu.14.04-x64 related warnings, it is due to a missing "ubuntu.14.04-x64" entry in the list of runtimes in the project.json files. Most files only refer to win7-x86 and win7-x64. Only  src/ILCompiler/src/project.json lists way more runtimes. Should all project.json files mimic that one and thus lists:

[code]
?

[2016-04-25 02:52] manu-silicon commented on #1194
Adding the entry in the json files also removes the chmod errors.

[2016-04-25 15:44] proftom commented on #768
Unintelligent person here. My scenario is I have a non-WinRT native legacy application and I want to write new business logic in C#, but not have to load the .net run time and use a COM interface to marshall data back and forth. Please correct me if I'm wrong, but NativeCallable will allow me to export my class library so they can be called from my native application as if it was a native dll (thi