[2017-11-22 23:31] jkotas commented on #4994
_From @pentp on November 22, 2017 19:46_

Using unsafe ref casts to work on the overlaid fields could work, but it might hurt perf, for example in .ctors because JIT optimizations might not work as well. In any case, `[FieldOffset(8), NonSerialized] private ulong ulomidLE;` would still require explicit layout, unless we add another projection struct.
`readonly struct` would be a nice benefit, but

[2017-11-22 23:31] jkotas commented on #4994
I was thinking we would always start by casting the whole decimal as `ref MutableDecimal` and go from there. We would not be casting for each individual field access.

The struct calling convention Unix amd64 ABI depends on the content of the struct - if you change the fields of the struct, it will change how it gets passed. Also, there is no direct exact mapping between C++ unions and C# explicit

[2017-11-22 23:31] jkotas commented on #4994
_From @pentp on November 22, 2017 20:24_

Always casting first and then passing by `ref/in` should be doable (maybe even combine `DecCalc` and `MutableStruct` for better code cohesion). If I understand correctly, the C# compiler treats `System.Decimal` in a special way that allows it to have .ctors that don't init all fields? I tried to look into it once, but didn't find anything in Roslyn.
That l

[2017-11-23 10:55] MichalStrehovsky opened #5001 "Finalize story for reflection roots"
The compiler currently supports a weird dialect of RD.XML (it's far from a proper subset) to describe dynamic behavior of the app. Placing full RD.XML support into the compiler is not feasible (as it requires whole program analysis).

We should explore:
* Recognizing directives recognized by Mono linker
* A proper subset of RD.XML
* Something else?

[2017-11-23 12:51] MichalStrehovsky opened #5005 "Enabling stack trace generation breaks WASM compilation"
Stack trace points to problems in dependency analysis. To repro, undo the workaround in #5002 and build the HelloWasm test.

[code]

[2017-11-23 21:23] tonerdo commented on #4986
Working on this first

[2017-11-23 21:35] tonerdo opened #5011 "Support for Reflection.Emit in CoreRT"
We should consider porting Mono's .NET interpreter (http://www.mono-project.com/news/2017/11/13/mono-interpreter/) over to CoreRT, to support runtime IL generation and execution within native code

[2017-11-23 22:03] tonerdo opened #5012 "NativeCallable methods can only be called from unmanaged code"
Calling a method marked with the NativeCallable attribute from managed code throws an unhandled exception.

E.g
[code]

The generated native binary aborts at the point where `Main` calls `Print`

Operating System: macOS Sierra
Full LLVM stack trace:

[code]

[2017-11-23 22:22] jkotas commented on #5012
This is expected. `NativeCallable` methods can be only called from unmanaged C/C++ code. They cannot be called from other C# code.

[2017-11-23 22:23] tonerdo commented on #5012
@jkotas any particular reason they shouldn't be callable from both?

[2017-11-23 22:37] jkotas commented on #5012
The native callable methods have a special prolog and epilog that does transition from preemptive to cooperative mode and back. It is necessary to make the GC work - you can read more about it in https://github.com/dotnet/coreclr/blob/master/Documentation/botr/threading.md#suspension. If the preemptive to cooperative mode transition is attempted on a thread that is in cooperative mode already, you

[2017-11-23 22:39] tonerdo commented on #5012
Ah I see, thanks. I'll go ahead and close this

[2017-11-23 22:43] jkotas commented on #5012
We may want to keep it open to track producing error/warning in the compiler when NativeCallable method is called from other C# method.

[2017-11-23 22:46] jkotas commented on #4986
BTW: The non-Windows platforms have .def file equivalent as well. It is passed to the linker using `-exported_symbols_list` on Mac or `--version-script` on Linux.

[2017-11-23 22:53] tonerdo commented on #4986
Will take a look, thanks

[2017-11-23 23:02] MichalStrehovsky commented on #5012
I'm going to mark this up for grabs and describe the fix:

Around these lines (similar to this check) https://github.com/dotnet/corert/blob/0d175ec0e4d03b533b78857faf7fc9ba5363515f/src/JitInterface/src/CorInfoImpl.cs#L2930-L2936

Add a check that if `method` is NativeCallable and this is not LDFTN/LDVIRTFTN (`CORINFO_CALLINFO_FLAGS.CORINFO_CALLINFO_LDFTN`), we throw an exception.

Similarly, add t

[2017-11-23 23:14] jkotas commented on #5011
The interpreter implementation is always tighly coupled with the underlying runtime implemenentation details. It cannot be easily ported from runtime to runtime. This would be more like a rewrite, maybe using some of the ideas from the other implementations. We would want to rewrite it in C# for CoreRT. Implementing it in C/C++ for CoreRT would be much harder than implementing it in C#.

BTW: We h

[2017-11-23 23:20] tonerdo commented on #5012
This looks straightforward enough, I'll look into it

[2017-11-23 23:57] MichalStrehovsky opened #5013 "Base class library size on disk footprint workitems"
I spent some time looking into why an optimized Hello World is 3.8 MB big on Windows. There are two ways to look at this problem: what we do in the compiler to make it this big, and what we do in the class libraries that forces it to be so big. This issue tracks the latter.

With a [set of hacks here](https://github.com/MichalStrehovsky/corert/commit/ba04e683cbb647e42a4f448ffb65457f6a826d6f) Hello

[2017-11-24 09:39] janvorli commented on #4904
@Scellow the issue is that the build picks GCC for C++ compilation instead of clang, see this line in the build log:
[code]
I've seen this issue on some Linux distros with coreclr already. The problem is caused by the fact that in those cases, the C compiler is named as `clang-3.9` (and also exposed via a symlink as `clang`), but the C++ compiler is exposed only as `clang++` (without the version n

[2017-11-24 15:59] jkotas opened #5017 "ILCompiler crash under ILCompiler.ILScanResults.ScannedVTableProvider.GetSlice"
From https://github.com/dotnet/corert/pull/4935#issuecomment-346856941

I was just trying a simple test from https://github.com/dotnet/BenchmarkDotNet, Using dotnet add package BenchmarkDotNet --version 0.10.10 then:
using BenchmarkDotNet.Attributes;
using BenchmarkDotNet.Running;
Then put [Benchmark] around a method to benchmark and in main run the benchmark:
var summary = BenchmarkRunner.Run();

[2017-11-24 15:59] jkotas commented on #5017
cc @MichalStrehovsky

[2017-11-24 15:59] MichalStrehovsky opened #5018 "KeyNotFoundException in ScannedVTableProvider.GetSlice"
_From @dlewis-arcontech_

https://github.com/dotnet/corert/pull/4935#issuecomment-346856941

I was just trying a simple test from https://github.com/dotnet/BenchmarkDotNet, Using dotnet add package BenchmarkDotNet --version 0.10.10 then:

using BenchmarkDotNet.Attributes;
using BenchmarkDotNet.Running;

Then put [Benchmark] around a method to benchmark and in main run the benchmark:

var summary =

[2017-11-24 16:02] MichalStrehovsky commented on #5018
Sigh, dupe of #5017. Why do I even bother to race with Jan.

[2017-11-24 16:02] #5018 closed

[2017-11-24 16:06] jkotas commented on #5018
:-)

[2017-11-24 20:44] MichalStrehovsky opened #5019 "Use scanner analysis to aid devirtualization"
I originally thought this would just be a perf optimization we can do later, but it turns out this is needed for making devirtualization working with our IL scanner at all.

As a refresher - scanning phase in the compiler tries to determine the exact set of methods that we're going to compile so that we can precompute generic dictionary layouts or vtable layouts. There's an essential invariant tha

[2017-11-24 20:45] MichalStrehovsky commented on #5019
Cc @A-And. This is the second issue we hit yesterday while troubleshooting the first one.

[2017-11-24 20:49] jkotas commented on #5013
Are you trying to get rid of dependency on native metadata completely? I would think that saving the backing data for enums in the native metadata should be fine. Maybe the real problem here is that there is too much code required to fetch the enum values and names from native metadata.

These maybe candidates for readonly-value overrides implemented by Mono AOT: https://github.com/mono/mono/blob/

[2017-11-24 20:59] MichalStrehovsky commented on #5013
*This*. To do a `ToString`, the higher level reflection stack will do a custom attribute walk to check for the `Flags` attribute. Checking for attributes is super expensive because it involves resolving `ConstructorInfo`s and that's a lot of code. I would want us to have a low level fast path that uses the `MetadataReader` directly.

This is in a code path where all we have is a `System.Type` that

[2017-11-27 11:54] ArztSamuel commented on #4952
Did you find the corresponding lines in the source, or did you simply test it by running PEVerify on modified IL?

I finally came around to creating the discussed unit tests in #5027 and came to the conclusion that ILVerify already reports an error for this case. The IsAssignable of ILVerify is indeed more of a compatible-with check. However, it is neither exactly what is defined as `assignable-to

[2017-11-27 13:38] #5012 closed

[2017-11-27 20:36] jcouv commented on #3734
Here's a second proposal for API. Let me know what you think.

[code]

Note: I'd suggest that `name` mean `full name` or `identity`, but internally `ILVerify` currently looks up references by simple name (for instance, just "mscorlib" without a version number or public token).

[2017-11-27 20:55] jkotas commented on #3734
So should it be AssemblyName then? The lookup in ILVerify does actually start with AssemblyName - it is just using simple name out of the AssemblyName for the actual lookup.

What are these names? I would think that we should have `Verify(PEReader, MethodDefinitionHandle)` to verify single method.

For convenience, we can also have `Verify(PEReader)` to verify single assembly and maybe `Verify(PER

[2017-11-27 21:00] jkotas commented on #3734
Also, we need a way to specify system assembly.

[2017-11-27 23:04] #4952 closed

[2017-11-28 11:45] ArztSamuel commented on #3734
I think it would make sense to change it to:
[code]

I also think that it makes sense to have mutiple overloads of `Verify`, however resolving the AssemblyName to a `PEReader` should be done by the `Verifier` internally using `IResolver`, right? Therefore we wouldn't have a `PEReader` or `MethodDefinition`/`TypeDefinitionHandle` object from outside.

As @jcouv mentioned earlier, the system assembl

[2017-11-28 15:28] jkotas commented on #3734
If the API takes PEReader and caller has AssemblyName, the caller can call resolver like: `verifier.Verify(resolver.Resolve(assemblyName))`. It would not be as easy the other way if the API takes AssemblyName and caller has PEReader.

The API that takes PEReader is the more core one. I think we should have it. If we actually see callers that have AssemblyName, we can make it a bit easier for them

[2017-11-28 17:16] sergign60 commented on #4626
@jkotas Could you or anyone else answer the following question: the current version of libunwind requires for arm generating ```arm.exidx``` sections not dwarf ```eh_info``` as for x64.  You can read about this here https://wiki.linaro.org/KenWerner/Sandbox/libunwind#getting_the_started

Just now I generates such sections from CoreCLR cfi pseudo-instructions. But  for the simplest case when the ``

[2017-11-28 18:25] jcouv commented on #3734
I don't see how `ILVerify.exe` can get those assembly names without cracking the files open. I suspect that is the main reason why short names are used now: the file name is assumed to match the simple name of the assembly, so it is used as an identifier.
When time comes to actually load the file, that assumption is checked.

[2017-11-28 21:25] lukasf commented on #4768
@Sergio0694 @shrah There are two errors discussed here. I only see a solution for the second issue regarding ActiveDirectory dll. I do not get any errors regarding ActiveDirectory. I am facing the original problem "ILT0025: Inconsistent type forwarders were found for type 'System.TimeZoneNotFoundException'". Is there a solution available for the original problem?

To me this happens with NETCore 6

[2017-11-28 23:13] lt72 commented on #4768
@lukasf: we did not realize we did not check on the first issue with you as well before closing, apologies for that!

In Sergio's case, the problem was that Sergio's Appxmanifest.xml was looking like this:
[code]

while instead it should have contained a reference to either 1.7 or 2.0. Sergio corrected the manifest by cleaning up the solution and only referencing 2.0.  That solved the first issue

[2017-11-29 01:22] jkotas commented on #4626
The lsda needs to be emitted by the LLVM object writer. Have you done any changes to emit the lsda in the object writer?

[2017-11-29 09:02] sergign60 commented on #4626
@jkotas thanks, but my problem is just that I don't know where and how generate such info in the object writer:( My question is about this.

[2017-11-29 10:26] ArztSamuel commented on #3734
That is true. But I guess that is the responsibility of the IResolver then, not ILVerify.
I think it makes sense to make the interface use `AssemblyName`. Whether the implementation of IResolver then simply assumes `filename = simple name` or whether it actually compares the full information of the AssemblyName is irrelevant for ILVerify, right?

[2017-11-29 14:36] MichalStrehovsky commented on #3608
We also need to make sure dependencies are right. This needs to pass:

[code]

[2017-11-29 19:27] lukasf commented on #4768
@lt72 Thank you for your response. Indeed my Appxmanifest.xml looks similar, with both 1.7 and 2.0 referenced. But the thing is, this file gets auto generated during build. The source is package.appxmanifest and it only contains this:

[code]

Why does VS generate an invaild Appxmanifest.xml, referencing multiple versions of a dependency?

[2017-11-29 19:43] lukasf commented on #4768
I just found out what was wrong: My project recently somehow moved my nuget references automatically from project.json to PackageReferences in .csproj file. But the old project.json files were left in the project folder. When I now upgraded to 2.0 runtime, only .csproj was updated to this. The compiler now picked up both, the 2.0 reference from .csproj and the 1.7 reference from project.json. Dele

[2017-11-29 20:04] francisrath commented on #4768
Sweet! This resolved the issue for me as well it seems. I had to delete the following files that was left behind after migrating from a Windows 8 app:
[code]

[2017-11-29 20:08] lukasf commented on #4768
Looks like I did not remember the names correctly. Glad to hear that this worked for you as well!

[2017-11-29 20:52] lt72 commented on #4768
This may definitely be an issue in VS project system. I am glad you are back in working conditions.  We will keep the issue open and find an appropriate owner for the actual issue, but for now I will assume you are unblocked, unless you tell me otherwise.

[2017-11-29 21:05] zamont commented on #4768
@lukasf did you originally create your UWP project in one version of VS and then update to a newer VS before this problem was exhibited? I'm trying to understand if a VS update was responsible for this problem.

[2017-11-30 09:28] lukasf commented on #4768
@zamont I cannot answer this for sure. I started the project somewhere in Q1/Q2, so it is right in the time frame of VS2017 introduction. It might be that I started with VS2015 and then converted to VS2017. I will post back if I can find a definitive answer to this.

[2017-11-30 22:51] hippiehunter commented on #5005
This appears to be an issue with unboxing stubs not yet being implemented in WebAssembly. If `WebAssemblyCodegenNodeFactory.CreateUnboxingStubNode` returns a WebAssemblyMethodCodeNode, it will never get 'Marked'. I've tried my hand at creating a WebAssemblyUnboxingNode but the infrastructure around UnboxingStubNode is all geared towards emitting runnable code directly into the image, and I still n

[2017-12-01 03:56] morganbr commented on #5005
@hippiehunter, I don't know much (@MichalStrehovsky, any thoughts?), but your WebAssemblyUnboxingNode sounds like what we might need. At a guess, we might need a WASM case added to AssemblyStubNode.GetData that would call a new EmitCode overload for WASM. WebAssemblyUnboxingNode could override that overload and generate LLVM instructions.

[2017-12-01 05:11] hippiehunter commented on #5005
Overriding GetData was my initial attempt but I don't see how to get the LLVMModule from inside that method. If I could get that, I could make a builder and it would be pretty straightforward.

[2017-12-01 11:23] MichalStrehovsky commented on #5005
I wouldn't even try to derive from `AssemblyStubNode` - `GetData` is not how code is treated in the WebAssembly backend (this is similar to CppCodegen in this respect).

I basically see two options:

1. In the `CreateUnboxingStubNode`, just create a normal `WebAssemblyMethodCodeNode`, but the `MethodDesc` parameter passed to it will be an instance of a new class that derives from `ILStubMethod`. I

[2017-12-01 16:44] hippiehunter commented on #5005
We currently return a normal WebAssemblyMethodCodeNode (that doesnt actually do the unboxing), but the returned node is never marked. This lack of marking is what has lead to the Assert you're seeing around stack trace info.

[2017-12-01 17:48] alpencolt commented on #4856
@jkotas we've reviewed opened issues. So I want to share tasks which are needed for stable work of CoreRT on ARM. Could you add another tasks if think that it's needed?

 1. Critical (**80**: [part 1](https://github.com/dotnet/corert/issues?utf8=✓&q=is%3Aissue+190+279+284+363+364+366+370+657+730+1189+1497+1683+1986+2102+2105+2153+2245+2253+2256+2258+2272+2281+2282+2311+2312+2350+2351+2354+2358+235

[2017-12-01 18:49] hippiehunter commented on #5005
I think I understand the issue now, WebAssemblyUnboxingNode can be a WebAssemblyMethodCodeNode but it needs to return the internal method as a dependency, otherwise the stack trace tries to create a new WebAssemblyMethodCodeNode when it tries to write its data.

[2017-12-01 20:06] A-And opened #5051 "TypeInitializationException caused by Mono.Runtime type"
Repro steps:

1. Run `dotnet publish -r win-x64 -c debug` the sample app found here - https://github.com/A-And/corert/tree/ILCompilerPackageSampleApp/samples/WebApi
2. Run the published .exe
3. Execute wget localhost:xxxx/api/values/3

Result:

Digging into this points to the culprit being the cctor() of `Microsoft.AspNetCore.Mvc.ModelBinding.Validation.ValidationStateDictionary.ReferenceEqualityC

[2017-12-01 21:53] jkotas commented on #4856
Getting CoreRT to work great for everything is a ton of work - I do not think we have issues opened for all of it. I would help to define the scenario you want to go after first. I assume you want to target relatively simple Xamarin-forms based apps on Tizen. Is this correct? Once there is agreement on the scenarios, we can help you to come up with prioritized list of issues to work on to make it

[2017-12-02 11:46] alpencolt commented on #4856
@jkotas right, we're focusing on Xamarin based applications from tutorials first.

[2017-12-02 16:25] jkotas opened #5059 "Run CoreFX tests on CoreRT"
We need scripts to do that easily.

[2017-12-02 16:27] jkotas commented on #4856
For this, I think you should primarily work on these:

- Cross-compilation
- Debug info (DWARF): #783, #785
- Reflection #5001. In particular, recognize the Mono AOT/reflection attributes if Xamarin forms are using them.
- Testing, triaging failures, bug fixing:
   - CoreCLR tests first (https://github.com/dotnet/corert/blob/master/tests/runtest.sh#L9)
   - CoreFX tests once CoreCLR tests are stab

[2017-12-02 17:05] jkotas opened #5060 "Make PEVerify output useful"
_From @ygoe on November 10, 2015 17:45_

I'm generating or manipulating assemblies at the IL level with Mono Cecil. This can lead to all sorts of errors and I use PEVerify to find them. But when the full output of PEVerify is just "The method does not exist." (or whatever the text is in English) then it's not helpful at all. No token number, no affected type, no nothing. Where should I even start

[2017-12-02 17:05] jkotas commented on #5060
_From @leppie on November 11, 2015 5:49_

Can you dump the IL as a gist? (also doing a ildasm/ilasm cycle might give more info about the error)

[2017-12-02 17:05] jkotas commented on #5060
_From @ygoe on November 14, 2015 11:55_

You can download the assembly files here:

https://drive.google.com/file/d/0B8CN0ghdY1SdaGdrZXlESVE3Y2s/view?usp=sharing

I haven't made especially good experience with ildasm+ilasm, Most of the time something is missing that is not represented with IL so the result is incomplete and doesn't work.

[2017-12-02 21:22] wesamco commented on #4955
I chose to comment here instead of opening another issue, you can correct the title and the comment.
@jkotas I've been watching the progress for more than a year, slow, constant (daily) and steady progress, I understand why it's taking so long, this is no small feat you guys are doing, and I love how engineers from Samsung are contributing.

"the runtimes are converging", Miguel de Icaza said in [

[2017-12-03 05:24] jkotas commented on #4955
Xamarin/Mono is leveraging parts of CoreRT today – check https://github.com/mono/mono/tree/master/external .
Our strategy has been to converge and share individual components at a time. We have started with the easier ones first, such as class libraries. It gets us, and our customers, the most immediate benefit.

A better question to ask would be whether there are plans for Xamarin/Mono to leverag

[2017-12-03 07:26] #5051 closed

[2017-12-03 07:32] jkotas opened #5062 "BasicThreading tests fails intermittently in the CI"
Looks like another case of bad recursion through TypeLoader:

[code]

[2017-12-03 10:01] #5062 closed

[2017-12-03 17:20] alpencolt commented on #4856
@jkotas thank you!
We will update plans.

[2017-12-03 17:42] alpencolt commented on #4955
Tizen uses armel (arm softfp) calling conventions, so it's not 100% ARM, difference is how to pass floating point arguments. But when Tizen support will be enabled it will needs little work to support ARM hard fp.

There is no official dates for release.

[2017-12-04 22:08] MichalStrehovsky commented on #3460
When done, remove workarounds from #5066.

[2017-12-05 06:45] #4505 closed

[2017-12-05 06:45] #4506 closed

[2017-12-05 06:45] #4507 closed

[2017-12-05 18:58] sandreenko commented on #3460
I will take a look this week.

[2017-12-05 22:07] MichalStrehovsky commented on #3460
Great to have you back looking at CoreRT stuff! :)

[2017-12-07 18:55] #2279 closed

[2017-12-08 08:47] #1276 closed

[2017-12-08 09:22] #5019 closed

[2017-12-08 10:44] #5005 closed

[2017-12-08 10:48] morganbr commented on #4527
Fixed in #5052

[2017-12-08 10:48] #4527 closed

[2017-12-08 10:49] morganbr commented on #4532
We now have partial support, but still need static constructor checks and we may need to have the statics emitted by the object writer.

[2017-12-08 10:50] morganbr commented on #4526
Fixed in #4731

[2017-12-08 10:50] #4526 closed

[2017-12-08 10:52] morganbr commented on #4504
Fixed in #4620 and #4876

[2017-12-08 10:52] #4504 closed

[2017-12-08 10:54] morganbr commented on #4656
Now that we have a build of the runtime, we can link it and allocate through the runtime. I have changes in progress.

[2017-12-08 12:19] morganbr commented on #4656
@hippiehunter or @MichalStrehovsky, I've made some progress on linking the runtime and can allocate through it, but virtual calls broke. I think it's because the method indices in the vtables are wrong after the runtime's virtual methods get linked in. Any ideas on what we need to do to get the right indices? My WIP changes are at https://github.com/morganbr/corert/tree/LinkRuntime (note that to t

[2017-12-08 12:28] jkotas commented on #4656
I think you need to emit relocs for the function indices: https://github.com/llvm-mirror/llvm/search?utf8=%E2%9C%93&q=R_WEBASSEMBLY_FUNCTION_INDEX_LEB&type=

[2017-12-09 00:17] morganbr commented on #4656
Thanks, @jkotas! Relocs was a great hint. It turned out my change messed up EEType emission by only making the EEType necessary, but not constructed. Everything's working now.

Before I send out a PR, I have to figure out how to account for wasm linking requiring the wasm runtime. I'd still like to have some validation in the x64 build until we have a wasm CI leg. I'm currently leaning toward maki

[2017-12-10 18:04] hippiehunter commented on #4656
I implemented the array instructions and as part of testing that i merged in your changes (and fixed the EEType emission) but i'm seeing "exception thrown: Runtime error: The application has corrupted its heap memory area (address zero)!" after the program finishes running. Is that happening to you as well or is it something I've done.

[2017-12-11 00:33] morganbr commented on #4656
@hippiehunter, good catch. I'm hitting that too. When I switched to asm.js and turned on assertions to debug in Chrome, I started getting an earlier error that might explain it -- the EEType getting passed for one of the boxing allocations is null. I don't know what the right pattern for having the runtime allocate a boxed type is, but my change probably does it wrong right now.

[2017-12-11 16:54] sergign60 commented on #4626
@jkotas My question is about the following fragment

https://github.com/dotnet/corert/blob/master/src/Native/Runtime/coreclr/gcinfodecoder.h#L267

Why the last multiplier here is the same for all platforms ```== 8``` ?  Maybe it should be ```== sizeof(size_t)``` ?

[2017-12-11 17:26] jkotas commented on #4626
The multiplier `8` seems to mean number of bits per byte. Feel free to make this more obvious by adding a comment or symbolic constant (the master copy of the file lives in CoreCLR repo - so make the change there first).

[2017-12-11 17:29] sergign60 commented on #4626
@jkotas ok, thanks!

[2017-12-11 21:02] hippiehunter commented on #4656
I think MaximallyConstructableType does the same job you're attempting with the constructed flag for EEType, but it doesn't need a flag to be passed in.

[2017-12-11 21:05] hippiehunter commented on #4656
I've tried backing out the actual AllocateObject changes you made but I'm still getting the heap corruption. This leads me to believe that its being caused by something in the runtime startup code that was enabled by your changes. Is there a simple way to get an IL listing for that code?

[2017-12-12 02:00] morganbr commented on #4656
@hippiehunter, I think the startup code is emitted by Internal.IL.Stubs.StartupCode.StartupCodeMainMethod and Internal.IL.Stubs.StartupCode.StartupCodeMainMethod.MainMethodWrapper. I guess it's also possible the runtime has some kind of shutdown code that's failing.

[2017-12-12 05:26] BredPet opened #5093 "[Cross] CMake Toolchain compile flags loop"
Just not to forget [discussion](https://github.com/dotnet/corert/pull/5091#discussion_r156154156)

[2017-12-12 05:47] hippiehunter commented on #4656
I've narrowed it down a bit, the corruption is happening inside InitDLL in startup.cpp. I'm not entirely certain but my chopping has pointed the finger at `g_pRhConfig->GetTotalStressLogSize()` I'm not sure if I've inadvertently chopped out something important that should be initializing g_pRhConfig. I'll keep poking at it.

[2017-12-12 08:58] fanoI commented on #4955
But CoreRT will have a slightly advantage as it could load a native library in its memory space directly without need of P/Invoke right? And it will be possible to do the other way around (to link in a native application written in C - for example - a library AOT compiled by CoreRT).

[2017-12-12 09:05] MichalStrehovsky commented on #4656
For future reference, the `MethodIL` class has a debug view. If you debug in Visual Studio, you should be able to see the disassembly once you get to the `MethodIL` for the method.

You can also pass `--ildump` to the compiler to have it generate an IL file with all the compiler-generated IL (we also map debug information to it so that you can source step through the generated IL, but that will ob

[2017-12-12 12:36] jkotas commented on #4955
CoreRT does this already for the .dlls that are guaranteed to be always present. The performance advantage out of doing this is very small. I doubt you would be able to measure it.

[2017-12-12 14:49] Fabi opened #5094 "Errors on finding entry points from [DllImport...]"
Hey,

right now I'm playing around with corert and got some errors while running an application that uses dll imports.

One sample is

`        [DllImport("kernel32.dll", EntryPoint = "CreateProcess", SetLastError = true)]
        public static extern bool CreateProcess(string lpApplicationName, string lpCommandLine, IntPtr lpProcessAttributes, IntPtr lpThreadAttributes, bool bInheritHandles, uint

[2017-12-12 14:54] MichalStrehovsky commented on #5094
You need to manually specify which [flavor of the API](https://en.wikibooks.org/wiki/Windows_Programming/Unicode#Windows_Implementation) you want (Unicode, or Ansi). The W/A probing is currently missing and we track it as #730.

So in your case, you'll want to import `CreateProcessW`.

[2017-12-12 14:56] jkotas commented on #5094
`[DllImport(Libraries.Kernel32, CharSet = CharSet.Unicode, SetLastError = true, EntryPoint = "CreateProcessW")]`

Doing this has a minor performance benefit when running against the other .NET Runtimes.

[2017-12-12 15:28] Fabi commented on #5094
Thank you! Works fine with CreateProcessA and CreateProcessW.

[2017-12-12 15:31] #5094 closed

[2017-12-12 15:45] Fabi opened #5095 "No app icon when set over ApplicationIcon in csproj file"
Right now there is no application icon when building a native binary on windows.

I set it with:

    <AssemblyName>ArctiumWoWClientLauncher</AssemblyName>
    <OutputType>Exe</OutputType>
    <TreatWarningsAsErrors>false</TreatWarningsAsErrors>
    <ApplicationIcon>arctium.ico</ApplicationIcon>
    <TargetFramework>netcoreapp2.0</TargetFramework>
    <Platforms>x64</Platforms>
    <PlatformTarget

[2017-12-12 15:49] Fabi opened #5096 "Can not open input file if spaces in assembly name"
Part of my PropertyGroup:

    <AssemblyName>Arctium WoW Client Launcher</AssemblyName>
    <OutputType>Exe</OutputType>
    <TreatWarningsAsErrors>false</TreatWarningsAsErrors>
    <ApplicationIcon>arctium.ico</ApplicationIcon>
    <TargetFramework>netcoreapp2.0</TargetFramework>
    <Platforms>x64</Platforms>
    <PlatformTarget>x64</PlatformTarget>
    <RuntimeIdentifier>win10-x64</RuntimeIdent

[2017-12-12 20:58] MichalStrehovsky commented on #5095
We'll probably want to do following:

* Create a new MSBuild task (can be placed in [ILCompiler.Build.Tasks](https://github.com/dotnet/corert/tree/14915c5fe5cbaa24c0aa72d0b84089c8c834b1e0/src/ILCompiler.Build.Tasks/src)) that extracts the native resources from the managed assembly into a `*.res` file. This will make sure we also have the version resources and manifest resource generated by the C#

[2017-12-13 17:25] MichalStrehovsky commented on #2105
I'm doing a type forwards related fix in the CLR right now - the code that handles this in the CLR is around `const_cMaxTypeForwardingChainSize`.

[2017-12-13 21:49] hippiehunter commented on #4656
So I think I've identified the three things that are causing the corruption. anything that uses `g_pRHConfig`, calls to `RedhawkGCInterface::InitializeSubsystems` and calls to `__reverse_pinvoke`. everything else looks fine to me. Without a debugger I'm not real sure how to move forward from here though. I tried new'ing g_pRHConfig but that doesnt appear to change anything. I suspect RhpReversePIn

[2017-12-13 23:23] morganbr commented on #4656
@hippiehunter, Unfortunately, this is a really busy week for me, so I can't debug it myself yet, but I'm happy to pass on thoughts (and if you'd like to finish the change, that's ok with me too).

InitializeSubsystems definitely worked at one point for me. Have you tried running emcc with ```-g4``` and without ```-s WASM=1```? That gives you source mapped asm.js and you should be able to set sourc

[2017-12-13 23:49] hippiehunter commented on #4656
The problem isn't that it doesn't work, the code all runs, It just causes corruption that is detected after we finish running. I'll give -g4 a try though and see what comes out.

[2017-12-14 17:54] ArztSamuel commented on #4958
`E_BAD_JMP_TARGET` and `E_BACKWARD_BRANCH` are now implemented via #5101 and #5113 respectively.

[2017-12-17 02:49] morganbr commented on #4656
I've updated my copy of emscripten and got a better error:
```if (HEAP32[0] !== 0x63736d65 /* 'emsc' */) throw 'Runtime error: The application has corrupted its heap memory area (address zero)!';```
Indeed Heap32[0] contains 5403240 when that throws. I think we can get emscripten to throw for null dereferences to avoid having them succeed.

[2017-12-17 09:45] morganbr commented on #4656
Turns out the Emscripten implementation of ```dladdr``` was corrupting memory, but we don't really need it for wasm since it's a stub anyway. I've pushed a commit to my branch that ifdefs out the usages. I'll try to put together a PR shortly.

[2017-12-20 12:13] MichalStrehovsky opened #5137 "Support reflection access to thread static fields"
This tracks implementing emission and reading of data structures that support `FieldInfo.GetValue`/`SetValue` for thread static fields.

We might also have to do something about them in the type loader.

[2017-12-20 17:58] tonerdo commented on #4986
Currently we don't need to specify a definition file on Unix for NativeCallable methods because all symbols are exported by default. Are you looking at `exported_symbols_list` and `--version-script` as a means to export ONLY NativeCallable methods?

[2017-12-21 05:34] morganbr commented on #4532
Details on handling static constructors in the comments of #4729. This likely depends on #4540 since EnsureClassConstructorRun uses arrays.

[2017-12-21 06:19] morganbr opened #5142 "Implement ldlen opcode"
Implement the ldlen opcode for WebAssembly, which pushes the length of an array on the stack. The function to fill in is:
https://github.com/dotnet/corert/blob/7df43adf895dab48f8764c3733a2f74d204923be/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter.cs#L1825

This may depend on #4540 for testing.

[2017-12-21 08:45] jkotas commented on #4986
Yes, either that or making the CoreRT symbols hidden by default - emit the CoreRT symbols on Unix with the same set of flags as clang emits them with `-fvisibility=hidden`.

Exporting all symbols by default bloats the binary a lot. This is primarily a binary size optimization, a pretty significant one I think.

[2017-12-24 13:12] MichalStrehovsky opened #5152 "Fix marshalling code to meet the CIL backwards branch constraint"
See #5149 - we can't use the validating IL emitter to generate marshalling code because the generated code fails to satisfy ECMA-335 III.1.7.5 on backwards branch constraints.

[2017-12-24 14:27] #2119 closed

[2017-12-24 14:28] MichalStrehovsky commented on #5152
Roll back c04d41a4509535d995d92dec0cb8eb1026445cf7 when fixed.

[2017-12-24 17:47] jkotas commented on #2570
This should not be hard - marking up-for-grabs.

- For CriticalHandle:
   - Start by creating clone of SafeHandleMarshaller as CriticalHandleMarshaller in https://github.com/dotnet/corert/blob/master/src/Common/src/TypeSystem/Interop/IL/Marshaller.cs. Alternatively, add a bool argument to SafeHandleMarshaller that says whether it is marshalling safehandle or critical handle.
   - Delete code that

[2017-12-27 10:26] morganbr commented on #4509
Emrun seems to work pretty well with Chrome (it kinda works with Edge and Firefox, but Edge prompts to close the tab and Firefox doesn't close). To use it, add ```--emrun``` to the emcc command line and then run ```emrun --browser chrome path\to\output.html```. That launches Chrome, runs the test, prints the output to stdout, exits the tab it opens, and emrun exits with the right return code. We m

[2017-12-27 10:49] #4656 closed

[2017-12-27 10:50] morganbr commented on #4540
#5141 is now merged. @hippiehunter, are you still interested in this one and other array opcodes? It's looking likely we'll need them for progress in a few other areas.

[2017-12-27 11:07] morganbr commented on #4659
## Update December 27:
As of #5141, we have a WebAssembly version of the runtime building and linked into generated WebAssembly code. Note that the [instructions ](https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-WebAssembly.md)for building WebAssembly have changed to incorporate the new build flavor. We also have implementations of most of the important IL opcodes, but we'r

[2017-12-27 19:09] lilred commented on #541
@AceHack two things:

1. Odds are, if they were making progress on this there would be a highly visible blog post popping up on Reddit and elsewhere;
2. You can probably do this yourself via Rump kernels :)))

[2017-12-27 19:27] moloneymb commented on #541
I'm looking at using WebAssembly based unikernels in the distant future. I assume .Net -> WebAssembly and Non-Web Embeddings for WebAssembly are both much more likely to happen independently than a .Net Unikernel.

[2017-12-27 22:15] yowl commented on #5142
Isn't this a duplicate of #4546 ?

[2017-12-27 22:41] morganbr commented on #5142
Good point, @yowl. Closing as duplicate.

[2017-12-27 22:41] #5142 closed

[2017-12-28 17:36] yowl commented on #4531
I think @hippiehunter has done this as part of #4729.  Sorry for nagging on whats Open, I'm just hunting around for something easy todo.

[2017-12-28 19:52] hippiehunter opened #5160 "bitmask of unsigned short fails to produce the right answer in WebAssembly"
using the following code in HelloWasm\Program.cs

[code]

because it doesn't happen if the variables are just short, I think this is related to sign extension.

[2017-12-28 20:20] #5160 closed

[2017-12-28 21:08] jkotas opened #5162 "Marshal.GetFunctionForPointer should throw exception when it cannot create the stub"
It returns null when the stub was not pre-generated during AOT.

[2017-12-29 09:50] #3224 closed

[2017-12-29 18:21] MichalStrehovsky commented on #4379
Were there any tests checked in for this? In #5165 I'm seeing failures that look a lot like failing to decode the unboxing stub on Unix.

I'm disabling the tests on this issue for now until we can prove this is something else.

[2017-12-29 23:18] MichalStrehovsky commented on #5017
The original issue has been resolved, but I guess we can repurpose this so that I can keep a running list of issues I hit with Benchmark.net:

- [ ] MakeGenericType call in LINQ expressions requiring ``<Type Name="System.Linq.Expressions.ExpressionCreator`1[[System.Func`1[[System.Boolean, System.Runtime]], System.Runtime]]" Dynamic="Required All" />`` in RD.XML (this is also present in the embedde

[2017-12-30 03:08] #4379 closed

[2017-12-30 06:35] morganbr commented on #4511
[llvm.debugtrap](https://llvm.org/docs/LangRef.html#llvm-debugtrap-intrinsic) might even stop the debugger correctly.

[2017-12-30 06:39] morganbr commented on #4516
Fixed in #4729

[2017-12-30 06:39] #4516 closed

[2017-12-30 06:39] morganbr commented on #4531
Thanks for looking, @yowl.

We have an initial implementation, but it's missing a few pieces:
1. Statics should be in regions generated by the ```WebAssemblyObjectWriter``` so that the runtime knows where to find them.
2. Static constructors should be called before accessing the fields, following the rules explained by @MichalStrehovsky in https://github.com/dotnet/corert/pull/4729

If you're inte

[2017-12-31 03:52] #4548 closed

[2017-12-31 11:17] morganbr opened #5173 "Implement Main return code on WebAssembly"
Currently, the generated WebAssembly method that calls into Main doesn't handle Main's return code and just returns a hard-coded value. The code that generates it is in ```WebAssemblyObjectWriter.EmitNativeMain```. If Main returns a value, the native caller should ```alloca``` a spot for it to write the return value and pass that as the second parameter to Main and then return the value from that

[2018-01-01 02:12] morganbr opened #5176 "Align shadow stack"
The WebAssembly shadow stack currently is only 1-byte aligned. However, parts of the runtime may require alignment and memory operations would likely be more efficient if types were aligned (that is: 3+ byte types start at a multiple of 4, 2 byte types start at a multiple of 2).

The methods that would need to handle this would likely be ```ILImporter.GetTotalLocalOffset```, ```ILImporter.GetTotal

[2018-01-01 14:34] am11 opened #5177 "How to modernize ObjectWriter package?"
In current master, ObjectWriter is the only project utilizing old-style RIDs (`toolchain.{targetOS_name}.{targetOS_version}-{targetOS_arch}`) and relying on [nuspec files](https://github.com/dotnet/corert/tree/641b32d/src/Native/ObjWriter/.nuget).

In order to bring it to new platforms such as Alpine Linux (#4552) and CentOS (#602), or new architectures such as aarch_32 (#3776) and x86_32 (#4589),

[2018-01-01 17:11] jkotas commented on #5177
We would love to modernize ObjectWriter packaging. Thanks!

This should be a good start.

[2018-01-01 18:20] A-And commented on #5177
Great idea!
What jumps out as a thing to consider is that in CoreRT we haven't yet built a generalized packaging framework on par with the CoreCLR repo. As such there is a small amount of manual work to be done when setting up RID-targeted packages (so that `runtime.json` and the package itself are generated correctly) - see the [current ILCompiler package](https://github.com/dotnet/corert/blob/ma

[2018-01-02 09:59] MichalStrehovsky opened #5180 "Enable RyuJIT optimizations around System.Type"
RyuJIT already does these optimizations in CoreCLR. We disable them in CoreRT because our representation of `RuntimeTypeHandle` is different from CoreCLR (in CoreCLR, RTTH just wraps a `RuntimeType` object instance; in CoreRT RTTH wraps an unmanaged pointer to the EEType).

This is needed to let us optimize patterns like:
* `typeof(T) == typeof(byte)`
* `foo.GetType() == typeof(Foo)`

These are us

[2018-01-02 13:55] MichalStrehovsky opened #5182 "Build separate runtime libraries with and without server GC"
Server GC costs about 100 kB in size on disk on x64 and everyone is paying the price for the option to turn it on. It might make sense to have two flavors of the runtime LIB files - one with server GC support and one without.

We would choose something reasonable as the default and have an MSBuild property that lets users choose which LIB file we should link against at compile time.

#4591 is the

[2018-01-02 14:16] jkotas commented on #5182
We may want to use to the existing `ServerGarbageCollection` msbuild property to control this.

[2018-01-02 14:55] MichalStrehovsky opened #5183 "Rethrown exception need to clear stack trace"
[code]

On the CLR, this will print:

[code]

On CoreRT this will print:

[code]

[2018-01-02 16:14] jkotas commented on #5017
We throw from this property because of it is tied with CAS. Update Benchmark.NET to call Assembly.Location instead?

Add try/catch for PlatformNotSupportedException around this to Benchmark.NET?

[2018-01-02 16:21] MichalStrehovsky commented on #5017
We throw from that too :).

`Assembly.Location` is really difficult to support in an AOT compiled app because:

* The original assembly doesn't exist in the filesystem. There's only a virtualized version of it present somewhere in the native executable that we use in reflection to pretend everything is in it's right place.
* Even the mapping from logical assembly to native executable is 1:n (1 man

[2018-01-02 16:43] jkotas commented on #5017
We do not throw from `Assembly.Location`: https://github.com/dotnet/corert/blob/2a81711d3c71e5dc3dc7a56d33f81e33f5c3f65d/src/System.Private.Reflection.Core/src/System/Reflection/Runtime/General/ThunkedApis.cs#L61. We return empty string. .NET Core returns empty string for assemblies without on-disk location, like assemblies loaded from memory. So always returning empty string here is pretending th

[2018-01-02 16:50] MichalStrehovsky commented on #5017
Ah yes, my mistake. The Benchmark.Net code does throw from some other place that does call to `Location` though, because it's not ready to handle the empty case. I only remembered that "it throws", but "it" is the code that uses the API, not the API itself.

I forgot to put that on the checklist (the list of issues started to be so long that I gave up on updating it).

[2018-01-02 21:28] #4986 closed

[2018-01-02 22:47] morganbr commented on #5182
This would be especially nice for WASM where the runtime currently contributes most of the size and Server GC is probably not too important in a browser.

[2018-01-04 03:31] tonerdo opened #5195 "Native static library should be entirely self contained"
Currently a static library (Windows `.lib`, Unix `.a`) built with CoreRT only contains the user's own (exported) code. A developer is still required to link that static library with the runtime libs for all symbols to be resolved. It is preferable for the CoreRT built native static library to include the runtime (and anything else it needs) so there's no extra linking step, except with the develop

[2018-01-04 04:06] jkotas commented on #5195
Why would it be preferable? It is pretty standard for .lib/.a files to not include the dependencies, and require you to provide them when linking the final binary.

[2018-01-04 04:53] tonerdo commented on #5195
I believe it'll be better (user experience wise) to have the static library contain everything. It's extra cognitive overhead to have to remember (or keep a list of) all the extra libs would need to link just to make a CoreRT static library usable. This from the perspective of a C++ dev who doesn't know much about .NET and will just like to link a provided static library

[2018-01-04 05:36] jkotas commented on #5195
Linking static libraries is not a beginner scenario. I think it is more important to follow established best practices here so that experts who are aware of them can understand the system easily.

The established best practice is to link individual libraries. You are right that it is confusing for beginners and Internet is full of their questions about what to do about that e.g. https://stackoverf

[2018-01-04 05:51] tonerdo commented on #5195
Ah that's fine then. Always better to follow best practices. I'll close this out now, thanks.

[2018-01-04 05:51] #5195 closed

[2018-01-04 07:08] jcouv commented on #3734
PR for review at https://github.com/dotnet/corert/pull/5186

[2018-01-04 13:56] jkotas opened #5200 "Auto-detect VS linker location"
From https://github.com/dotnet/corert/pull/5171#issuecomment-354557421:

The requirement to `dotnet publish` in VS command prompt is not pretty.

We may want to auto-detect the VS location if you do not have linker available on your path by calling  %ProgramFiles(x86)%\Microsoft Visual Studio\Installer\vswhere.exe. Similar to how we do it in repo's build.cmd.

[2018-01-04 14:00] MichalStrehovsky opened #5201 "Add infrastructure to support localizable messages from our targets"
We probably want something like the [NETSdkError](https://github.com/dotnet/sdk/blob/cb20a5fb09b3ea65193a098ba5e770cc8b34ec1b/src/Tasks/Common/NETSdkError.cs) class that .NET SDK has and use it from the places introduced in pull requests like this: #5171.

We would place the task in our ILCompiler.Build.Tasks assembly, and reference it from the `.targets`.

[2018-01-06 14:14] am11 commented on #5200
Would it make sense to fallback to downloading vswhere if `Installer` dir doesn't exist?

<details>
  <summary>example</summary>

[code]
</details><br/>

vsvars*.bat will set other envvars for LIBPATH etc. used by link.exe. Also, vswhere doesn't provide full paths like `C:\Program Files (x86)\Microsoft Visual Studio\2017\<edition>\vc\tools\msvc\<version>\bin\Hostx64\x64\link.exe`.

[2018-01-06 14:44] MichalStrehovsky opened #5217 "Marshal.Sizeof(new object()) asserts the class library"
There used to be a valuetype check in `int SizeOfHelper(Type t, bool throwIfNotMarshalable)` up until TFS changeset 1168403 when it got removed. Not sure where it's supposed to do the check now.

Now we're left with this:

https://github.com/dotnet/corert/blob/daaed31e3307155b9d1897da64aae485d7db774a/src/System.Private.Interop/src/System/Runtime/InteropServices/Marshal.cs#L157-L175

[2018-01-06 15:15] jkotas commented on #5200
I think it is overkill. The downloading would need to happen during the "restore" step. We just need to worry about two cases: you have setup the environment yourself; or CoreRT msbuild targets try to pick latest VS version installed at default location.

Writing vsvars environment to stdout to get these like you have in your example looks like a good simple starting point. If we find that it does

[2018-01-06 21:58] #5152 closed

[2018-01-07 03:47] jkotas commented on #1566
Dup of #5200

[2018-01-07 03:47] #1566 closed

[2018-01-07 14:50] #1194 closed

[2018-01-08 01:08] tim241 opened #5224 "[Arch Linux] DllNotFoundException: Unable to load DLL 'objwriter'"
Hello, when I execute `./build.sh` it gives me this error:
``` Unhandled Exception: System.DllNotFoundException: Unable to load DLL 'objwriter': The specified module or one of its dependencies could not be found.```
I'm using Arch Linux and applied this fix to corert to make it build ObjectWriter: https://github.com/tim241/corert/commit/f234467b1b263fd385a1614098cd4db82ee3e164
full output: [build.

[2018-01-08 02:18] jkotas commented on #5224
Could you please double check that there is `/home/tim/dev/corert/tests/../bin/Linux.x64.Debug/tools/libobjwriter.so`?

If there is one, it means that the prebuilt objwriter from the package does not work on Arch Linux. You can try to build a good one yourself using instructions at https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-ObjectWriter.md.

https://github.com/dotnet/c

[2018-01-08 16:22] tim241 commented on #5224
@jkotas that file did exist, I fixed it by adding a script(and a submodule) to the repo [here](https://github.com/tim241/corert/tree/linux-fix) which will automatically build the module! I'll close this issue as it is fixed for me, thanks!

[2018-01-08 16:22] #5224 closed

[2018-01-08 16:28] tim241 commented on #5177
I have no idea if it's helpful but I'll comment it here:
I'm working on a fix for the linux builds, I'll need to add Windows/MacOS support too though
I already added a submodule + build script for linux and it works well(for me), it'll just build the ObjectWriter module with clang. the repo is [here](https://github.com/tim241/corert/tree/linux-fix)

[2018-01-08 17:09] tim241 opened #5227 "[Arch Linux] Threading.sh: line 2: 30501 Segmentation fault"
Hello, when I execute `./build.sh` I get this output: https://gist.github.com/b1b34c57fa45197daf9a7fbcd47ed7ae
I'm compiling ObjectWriter using [this](https://github.com/tim241/corert/tree/linux-fix) and [this](https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-ObjectWriter.md)
I'm using Arch Linux 64 bit and clang 5

[2018-01-08 18:41] masonwheeler commented on #4659
If arrays don't work, doesn't that basically mean that nothing at all works yet?  Because how much code is there out there that doesn't require some collection from `System.Collections.Generic` at some point?  And those are backed by arrays...

[2018-01-08 20:39] mikedn opened #5229 "Does/can OPT:ICF work?"
I see in the linker response file that is generated when publishing that `/OPT:ICF` (and `/OPT:REF`) are specified. However, the final exe appears to contain identical method bodies that are not folded (e.g. `Array<int>.get_Count()` and `Array<byte>.get_Count()`.

Is it even possible to use `/OPT:ICF` with managed code? Won't it affect callstacks somehow?

[2018-01-08 21:25] morganbr commented on #4659
@masonwheeler , there's no question we still need to enable some very important features before this is broadly usable. @hippiehunter has #5172 in flight, so I'm looking forward to having arrays pretty soon.

Is there something in particular you had in mind?

[2018-01-08 23:08] MichalStrehovsky commented on #5229
Code folding affects delegate equality (a delegate to `Array<int>.get_Count()` cannot be equal to a delegate to `Array<byte>.get_Count()` even though the code is the same, or bad things will happen).

On Project N, we do code folding, but we create a jump stub whenever a unique code address is needed (e.g. when expanding the `LDFTN` instruction).  Having confusing stack traces is less of an issue

[2018-01-09 02:04] masonwheeler commented on #4659
@morganbr It's not clear how much of array support is not working.  Are they completely non-functional, or are specific bits of IL not working, or...?

The particular things I had in mind are the collections from `System.Collections.Generic`, especially `List` and `Dictionary`, These collections are backed by arrays, and they get used *everywhere*.  So if array support is simply not available at a

[2018-01-09 02:11] morganbr commented on #4659
There's no array support at all yet. #5172 should make most array functionality work (it doesn't do bounds checking, but for well-behaved test code, that's ok). At that point, I'd guess ```List``` and ```Dictionary``` would likely work, but we'll have to see if there are any other issues.

[2018-01-09 05:06] am11 commented on #5177
@tim241, in most of the .NET Core repos (exception being `dotnet/source-build`), git submodule is not used probably because it's not the first preference for dependency acquisition. Perhaps `:/build.sh` with `objectwriter` argument is the only time the llvm repo will be cloned (from shell script) followed by source compilation. Either way, that is an easy part imo 🤓

Then there is packaging step 🙈

[2018-01-10 20:51] #3734 closed

[2018-01-10 22:38] jcouv opened #5235 "[ILVerify] Directory structure for splitting ILVerify into exe+dll"
I’m going to split ILVerify.exe into an exe and a dll containing the public APIs, as we discussed in https://github.com/dotnet/corert/pull/5186.

Currently, the directory structure is:
[code]

I see two options:
[code]
OR
[code]

The first option is more in-line with the organization of the repo, so I’m assuming that’s what you prefer.
Can you confirm?

Does ILVerification.dll sound ok? (an altern

[2018-01-11 03:51] jkotas commented on #5235
First option and `ILVerification.dll` sounds good to me.

[2018-01-12 18:09] A-And opened #5240 "[ILVerify] ILVerify csproj Format"
ILVerify is the only project in the CoreRT repo that uses the new .csproj format, i.e.
[code]
The mismatch causes some causes some difficulties in adding the project to our daily build scripts (and subsequently having a NuGet package published from the usual pipeline).

Was there any explicit reason to go for the format? Are there any plans to unify the format?

cc @jkotas @KrzysztofCwalina

[2018-01-12 18:34] jkotas commented on #5240
Here is the history: When we have started .NET Core project, there was no dotnet cli or no cross-platform msbuild. We still needed to build the stuff somehow. So we have invented http://github.com/dotnet/buildtools and matching .csproj format to get us unblocked.

We have maturing dotnet cli now and a lot of the stuff in buildtools is redundant with it. This redundancy is getting cleaned up over t

[2018-01-12 18:35] jkotas commented on #5240
cc @jcouv @ArztSamuel

[2018-01-12 20:42] jcouv commented on #5240
Thanks!
CCing Krzysztof was my recommendation. I thought he's reviewing ILVerify changes, so would have historical context. My bad :-)

[2018-01-13 12:48] #4518 closed

[2018-01-13 12:51] morganbr commented on #4517
Fixed in #5143

[2018-01-13 12:51] #4517 closed

[2018-01-15 05:37] christianscheuer commented on #527
Are there any current plans for implementation of the rest of the PAL wrt Globalization for OSX?
Simple stuff like calling DateTime.Now fails due to unimplemented methods in TimeZoneInfo.

[code]

[2018-01-15 07:08] jkotas opened #5248 "TimeZoneInfo does not work on Unix"
See https://github.com/dotnet/corert/issues/527#issuecomment-357587236

Need to reconcile the implementation with CoreCLR to fix.

[2018-01-15 07:16] jkotas commented on #527
The TimeZoneInfo issue is about reconciling the implementation with CoreCLR.

CoreCLR and CoreRT CoreLib got forked at one point in the past. We have working through undoing the fork via https://github.com/dotnet/coreclr/tree/master/src/mscorlib/shared and fixed similar issues as side-effect. TimeZoneInfo did not go through this process yet.

I am going to close this issue because of it is a grab

[2018-01-15 07:17] #527 closed

[2018-01-16 05:00] A-And commented on #5240
@jkotas Great! Thanks for the input and context.

[2018-01-16 14:43] #4626 closed

[2018-01-17 11:53] superriva commented on #4904
I have got same building errors with clang-5.0.1 on ArchLinux after I did
[code]

I have in my log:
[code]

[2018-01-17 13:40] janvorli commented on #4904
@superriva can you please share the errors? I don't see how they could be the same as when it was trying to use gcc, since many of them were gcc specific.

[2018-01-17 15:48] christianscheuer opened #5253 "OSX Regression - undefined symbols FStat/LStat/Stat - from 1.0.0-alpha-26113-01 to 1.0.0-alpha-26117-02"
Thank you so much for all the hard work on CoreRT. It's wonderful to be able to consume the project as a package now, and we switched over from using corert as a submodule to the new format. Has worked wonderfully.

However, when the package recently upgraded from:
1.0.0-alpha-26113-01
to:
1.0.0-alpha-26117-02

it seems there has been a regression. With the old package our build works, with the ne

[2018-01-17 15:50] christianscheuer commented on #5253
I'd say this is a likely culprit:
https://github.com/dotnet/corert/commit/fe10cae79cfc51d573c59d11be4790d8eb402799

[2018-01-17 15:51] Scellow commented on #4904
@superriva check this: https://github.com/dotnet/corert/issues/5224 he seems to have it working fine

I personally gave up with linux, it is a way too annoying OS to setup, i'm using windows/macOS(hackintosh) only now

[2018-01-17 15:56] MichalStrehovsky commented on #5253
I think we just need to ingest a new version of corefx that includes dotnet/corefx#26176. I'll create a pull request shortly.

[2018-01-17 16:34] christianscheuer commented on #5253
Oh, I see. Thanks for the explanation.
I'll refrain from filing issues for stuff like that in the future then, as I can imagine this would happen fairly often.

[2018-01-17 16:36] jkotas commented on #5253
This does not happen fairly often. Please do let us know when you run into breaks. Maybe you can wait day or two before reporting them in case it is known issue that we will take care of.

[2018-01-17 16:36] MichalStrehovsky commented on #5253
Please do file issues if you see something is wrong. We don't have much testing in place at this time to find regressions like this. While this would get resolved over time, it's better to resolve it sooner than later.

[2018-01-17 17:16] jkotas commented on #5253
This should be fixed by #5254

[2018-01-17 17:16] #5253 closed

[2018-01-17 18:15] superriva commented on #4904
@Scellow , thanks a lot.

[2018-01-18 20:45] #5235 closed

[2018-01-19 13:12] christianscheuer opened #5265 "OSX 10.9 support / libicui18n"
When running a corert-based app on OSX 10.9, I get the following error:

[code]

Is there any way to link a version of libicui18n statically with corert to make it work on 10.9? I know that there probably isn't gonna be official support for 10.9 but since many of our customers are on old systems, it would be great to get a starting point on how to debug this, so we at least could make it work in a

[2018-01-19 13:37] MichalStrehovsky commented on #5265
The reference is most likely coming from `System.Globalization.Native.a` that we [link against](https://github.com/dotnet/corert/blob/eb9f9dd6d2929f0e61ee39fb25390c8df798bfd2/src/BuildIntegration/Microsoft.NETCore.Native.Unix.props#L58).

If there is a static version of libicui18n, what might work is removing the reference to the one [provided by the build scripts](https://github.com/dotnet/corert

[2018-01-19 14:24] jkotas commented on #5265
libicu is big. I do not think you would want to link it statically. I think viable options are:

- Build System.Globalization.Native.a without `HAVE_SET_MAX_VARIABLE` set. It will use an alternative hacky replacement for this API: https://github.com/dotnet/coreclr/blob/ce9bc942510fc9608c24e938f6d043c39fd0085d/src/corefx/System.Globalization.Native/collation.cpp#L277

- If you do not really need gl

[2018-01-19 15:06] christianscheuer commented on #5265
Great, thank you both for the quick response!
We could definitely work around both the need for culture specific .NET api's and crypto. And in case we should need it, we could just p/invoke to the Mac specific libraries directly.

Having a flag to only use the invariant culture and exclude libicu from the build would definitely be great in the long run, once the reconciliation is done, so we could

[2018-01-19 15:17] jkotas commented on #5265
Yes, I would expect ASP.NET Core to depend on the crypto stack.

[2018-01-19 23:47] VioletVyxen commented on #4659
<Demand src= "Baby O.G."> previous so-called Daddies had not treated the Baby and resulted in many lost playdates, etc. Now the Baby has been living like a trash is on strike. niw that I've learned to communicate I am making my demands.  I apologize for confusion, I apologize for so much stompy, and I need my favourite guards to help Baby O.G. to feel lime a Princess, incorporating playtime i to f

[2018-01-21 00:23] #5176 closed

[2018-01-21 03:02] morganbr opened #5272 "Implement localloc opcode for WebAssembly"
Implement the [localloc opcode](https://msdn.microsoft.com/en-us/library/system.reflection.emit.opcodes.localloc(v=vs.110).aspx) for WebAssembly, which allocates the specified amount of memory on the local stack and frees it on return. It also zeroes that memory if initlocals is true (which it usually is). This could potentially be implemented either by:
1. Doing bookkeeping with the managed shado

[2018-01-25 12:51] 13xforever opened #5289 "Microsoft.NETCore.Native.Publish.targets(54,5): error : The PrivateSdkAssemblies ItemGroup is required for _ComputeAssembliesToCompileToNative"
I followed the examples, but when I try to `$ dotnet publish -c Release`, I always get this error.

[code]

All I can find is issue #4913, but I can't figure out what I must do with my csproj.

[2018-01-25 13:18] jkotas commented on #5289
This error happens when you do not specify `-r win-x64` argument for publish. The CoreRT publish task requires the target runtime to be specified - either on the command line or in the .csproj file. @13xforever Could you please try again with this argument?

We should get a better error message for this. @A-And Could you please take a look when you get a chance?

[2018-01-25 13:30] 13xforever commented on #5289
Right, I tried with `win10-x64` and it failed, so I didn't think to try with generic `win-x64`.

[2018-01-25 21:34] BradChase2011 commented on #4768
I was getting the same ILT0025: inconsistent type forwarders were found for type System.TimeZoneNotFoundException but then I added the reference in to force the nuget version of the compiler to 2.0.2:

    <PackageReference Include="Microsoft.Net.Native.Compiler">
      <Version>2.0.2</Version>
    </PackageReference>

Once I did that, the it just gives out completely without any info on verbose -

[2018-01-26 22:55] christianscheuer commented on #4508
I'm trying to see if I could get wasm building working on OSX.. Did a few changes to the build scripts on my branch here:
https://github.com/dotnet/corert/compare/master...christianscheuer:f/wasm-osx

I know that this would require a LLVMSharp 4.0 build that includes the Mac version, but I wanted to check out how hard it would be to get it working, so we could start experimenting with the wasm sup

[2018-01-27 03:23] morganbr commented on #4508
That sounds great, @christianscheuer! Upgrading LLVMSharp is fine as long as it still works with Emscripten. Emscripten uses LLVM 3.9, but hopefully if we don't use any newer features, it won't mind.

I don't have a Mac CoreRT setup right now (though I'll get one started since you're working on this 😄) but I'd guess that somewhere the build scripts are either hard-coding osx or confusing the wasm

[2018-01-27 04:13] jkotas commented on #4508
I think that this is fine. This part of the build is host specific.

I think this is the message that points to the problem. It means that the build is picking up .NET Core 1.0 somehow. Everything in CoreRT should be on .NET Core 2.0. Here are a few things you can try:

- Try to `export DOTNET_MULTILEVEL_LOOKUP=0`
- Add `ulimit -n 2048` workaround from the non-wasm path to https://github.com/dotne

[2018-01-27 05:20] morganbr commented on #4508
@christianscheuer, I tried your change on a Mac and building from the command line (just running ```./build.sh wasm```) works for me. If that's what you're doing, I'd guess that the fact that I'm working on a freshly updated clean machine somehow helped.

For me, the test script immediately bails out with
[code]
Which is likely because it needs to have WASM piped through as an OS/Architecture. I'd

[2018-01-27 09:49] christianscheuer commented on #4508
Yes, I think this is because I pipe in `osx.10.10-x64` as the `__NugetRuntimeId` in `buildvars-setup.sh`, as I assumed this was host related and not target arch. This seems to work fine.

@morganbr that sounds great, thank you.
After cleaning out /usr/local/share/dotnet, and ~/.nuget, reinstalling the 2.1.4 SDK and cleaning the repo with `git clean -dfx`, I also got it breaking at the same point a

[2018-01-27 11:17] christianscheuer commented on #4508
After having upgraded libLLVM/LLVMSharp to 5.0 (there's no 4.0 version apparently), I'm now hitting these errors in the test runs (same error in all tests).
Any idea if this is caused by mismatching LLVM versions or missing wasm build support on OSX?

Branch:
https://github.com/dotnet/corert/compare/master...christianscheuer:f/wasm-osx

Btw, please lmk if you'd prefer me to open another issue for

[2018-01-28 02:47] morganbr commented on #4508
@christianscheuer opening a PR was a good choice (especially since you seem to have worked through all of the bugs).

[2018-01-28 15:22] gskachkov commented on #5173
Interested in implementing this task. Any existed tests cover this part?

[2018-01-28 16:10] christianscheuer opened #5299 "[CppCodeGen] TypeLoader: NotImplementedExceptions thrown when ilc compiling tests"
Are these expected? This was from an Ubuntu build, but I think I was seeing them on OSX too. Filing the issue as I wasn't sure if this slipped through since the builds+tests are still compiling/passing, or if it's already a known issue.

[code]

[2018-01-28 16:45] jkotas commented on #5299
These exceptions are expected. They are from CppCodeGen flavor of the tests. CppCodeGen has number of unimplemented features.

[2018-01-28 16:49] christianscheuer commented on #5299
Ok, thank you!

[2018-01-29 02:53] morganbr commented on #5173
That sounds good, @gskachkov, it's all yours.

We currently just have one test program for WebAssembly (```tests\src\Simple\HelloWasm```) because the other tests depend on libraries that don't work yet, so making HelloWasm return a value would probably be a good test. We commonly make our tests return 100 on success (and treat any other value as failure) and have the runner scripts check for that

[2018-01-29 04:03] #4547 closed

[2018-01-29 04:07] morganbr commented on #4546
Fixed in #5172

[2018-01-29 04:07] #4546 closed

[2018-01-29 07:04] morganbr commented on #4545
Fixed in #5172

[2018-01-29 07:04] #4545 closed

[2018-01-29 07:04] morganbr commented on #4544
Fixed in #5172

[2018-01-29 07:04] #4544 closed

[2018-01-29 07:04] morganbr commented on #4540
Fixed in #5172

[2018-01-29 07:04] #4540 closed

[2018-01-29 07:07] morganbr commented on #4510
This is probably pretty doable now.

[2018-01-29 07:18] morganbr commented on #4520
Fixed in #5143

[2018-01-29 07:18] #4520 closed

[2018-01-29 07:19] morganbr commented on #4532
This is probably possible now.

[2018-01-29 10:23] morganbr commented on #4655
I've done a little digging and [prototyping ](https://github.com/morganbr/corert/commit/7d540f96335d4c7048cac9a1f83cb60b582af5f7)on this as well as talking to @davidwrighton. It looks like Emscripten converts C++ exceptions to JavaScript exceptions. WASM can't catch exceptions, so Emscripten changes every call that can throw (only calls can throw in LLVM) into an indirection through JavaScript tha

[2018-01-29 12:22] morganbr opened #5305 "Enable conservative GC reporting for WebAssembly"
Currently, the GC is enabled for WebAssembly, but no references are reported to it, so if it ever collects, it will probably collect everything. By enabling conservative reporting and giving it the range of the shadow stack, we should cover most objects (any anything we miss can get moved to the shadow stack).

This likely starts by enabling ```InitializeRuntime```'s call to ```RhpEnableConservati

[2018-01-29 12:27] morganbr opened #5306 "Disable server GC for WebAssembly"
Server GC is pretty large and doesn't currently make sense for WebAssembly since it's optimized for multithreading. WebAssembly doesn't currently have threading at all and even when it does, it's unlikely to be doing heavy multi-threaded allocation.

To disable it, make the line below conditional on CLR_CMAKE_PLATFORM_ARCH_WASM
https://github.com/dotnet/corert/blob/d73ee1ca1cfd7e0fb45e9b496edcdbd7

[2018-01-29 13:14] jkotas commented on #5305
`Thread::GCScanRootsWorker` is reporting the whole stack in one shot with conservative reporting.

[2018-01-30 04:57] #3167 closed

[2018-01-30 05:33] jkotas commented on #5248
This should be fixed by https://github.com/dotnet/corert/pull/5312/commits/532de56ccfdd05baa65063500ca610e4e06699f9 .

@christianscheuer Please give it a try and let us know if you run into other important non-implemented APIs.

[2018-01-30 05:33] #5248 closed

[2018-01-30 14:18] Blealtan opened #5315 "Building CoreRT on Windows with latest Visual Studio failed"
Not having any clues in the error message, I have to look for help here.

The first time of error message occurs as this:
[code]

It seems like some assembling process failed, but they're all fine in the official CI, building with the same commit id as mine (latest by the time I fire this issue).

I'm using MSVC 19.12.25835.0, Windows 10.0.17083.

Full report see [msbuild_Windows_NT__x64__Debug.lo

[2018-01-30 14:30] MichalStrehovsky commented on #5315
The log says you're getting `Could not create output file, error code=0x80070005`.

Error 80070005 means "access is denied". Something might be interfering with the build process (maybe your antivirus software?).

[2018-01-31 06:17] Blealtan commented on #5315
Oh I missed that line. I'm using Windows Defender and I find no log about blocking anything. Let me see if disabling it will do any good.

[2018-01-31 06:29] Blealtan commented on #5315
Although disabling WD did no good, privilege the build.cmd make it work. Why it's required to be privileged? The source tree root is under my user directory.

[2018-01-31 11:15] #5272 closed

[2018-01-31 12:36] Blealtan commented on #4510
Tried to implement this but got this when I try to generate calls to the related runtime functions:

[code]

Debugging into the helper classes, I've confirmed the class itself is found but not the method, while ILSpy told me the method is there in `S.P.CoreLib.dll` with expected RuntimeExport attribute. May anyone have idea on this?

[2018-01-31 13:08] jkotas commented on #4510
The result of `GetCastingHelperNameForType` is `"extern C"` symbol. I think the problem is that you are using it as a managed method name.

[2018-01-31 14:55] #5299 closed

[2018-02-01 03:07] morganbr commented on #4510
@Blealtan, thanks for picking this up!

It looks like this is a slightly special case. The casting helpers are implemented in managed code, but they're both exported and imported with a different name. For example, ```System.Runtime.TypeCast.IsInstanceOfClass``` is exported as ```RhTypeCast_IsInstanceOfClass```. We have a ```CallRuntime``` utility, but because it uses the managed names of the meth

[2018-02-01 04:54] Blealtan commented on #4510
@morganbr is right. I was using the `RuntimeExport` name and once switch to the managed name, it works. I've also add simple tests on this; PR will be there in minutes.

By the way, `JitHelper` is invalid for use in the wasm importer seemingly due to assembly structure problems; I'm replicating the `GetCastingHelperNameForType` in the importer currently, like all other runtime interface references

[2018-02-01 05:40] Blealtan commented on #4510
However after added checks on interface casting, the implementation broke on execution. Still digging into it.

[2018-02-02 02:49] Blealtan commented on #4658
Have you considered LLVM wasm target? Though it's in experimental state, emscripten itself is not reliable enough either. If we have the tens of unresoved symbols fixed, using LLVM for backend codegen should be possible, and will also evolve minimum extra dependencies.

[2018-02-02 04:30] morganbr commented on #4658
@Blealtan, I'm open to the idea if it simplifies setup for new developers and CI and works well enough to replace Emscripten. It does seem plausible that we'll use LLVM at some point. I haven't looked too closely at the LLVM target, but as far as I know, it's missing a few things:
1. I don't believe there's a binary distribution of it, so people would need to build it from source with a special fl

[2018-02-02 05:44] Blealtan commented on #4658
@morganbr short replies on those points:

1. Yes because it's still listed in experimental targets rather than "all" (released) targets. An custom built package will be required before the LLVM team think it's mature.
1. Yes and I think I can help.
1. Not sure but LLVM itself provides rich scaffolds for doing these things, so I'm optimistic on that. Though I'm working on make it work and try it ou

[2018-02-02 09:21] Blealtan commented on #4658
@morganbr Okay and I have some results. LLVM's `llc` does compiles our generated code in `HelloWasm.bc`, with all `thread_local` modifiers removed (since this is not implemented in LLVM, rather than ignored as is in Emscripten) and target triple changed to `wasm32-unknown-unknown-wasm` according to LLVM's requirement. However, Generating `libPortableRuntime` has failed due to the usage of atomic i

[2018-02-02 10:19] morganbr opened #5335 "Investigate LLVM WebAssembly backend"
We should evaluate whether the [LLVM WebAssembly backend](https://github.com/llvm-mirror/llvm/tree/master/lib/Target/WebAssembly) is an improvement over Emscripten and if so, whether we can switch to it.

Discussion below migrated from #4658

[2018-02-02 10:19] morganbr commented on #5335
@blealtan
Have you considered LLVM wasm target? Though it's in experimental state, emscripten itself is not reliable enough either. If we have the tens of unresoved symbols fixed, using LLVM for backend codegen should be possible, and will also evolve minimum extra dependencies.

[2018-02-02 10:20] morganbr commented on #5335
@morganbr
@Blealtan, I'm open to the idea if it simplifies setup for new developers and CI and works well enough to replace Emscripten. It does seem plausible that we'll use LLVM at some point. I haven't looked too closely at the LLVM target, but as far as I know, it's missing a few things:

I don't believe there's a binary distribution of it, so people would need to build it from source with a sp

[2018-02-02 10:21] morganbr commented on #5335
@blealtan
@morganbr short replies on those points:

1. Yes because it's still listed in experimental targets rather than "all" (released) targets. An custom built package will be required before the LLVM team think it's mature.
2. Yes and I think I can help.
3. Not sure but LLVM itself provides rich scaffolds for doing these things, so I'm optimistic on that. Though I'm working on make it work and

[2018-02-02 10:21] morganbr commented on #5335
@blealtan
@morganbr Okay and I have some results. LLVM's llc does compiles our generated code in HelloWasm.bc, with all thread_local modifiers removed (since this is not implemented in LLVM, rather than ignored as is in Emscripten) and target triple changed to wasm32-unknown-unknown-wasm according to LLVM's requirement. However, Generating libPortableRuntime has failed due to the usage of atomic i

[2018-02-02 10:21] morganbr commented on #4658
Those are definitely interesting results. I've filed #5335 to continue discussion of the LLVM backend.

[2018-02-02 10:24] morganbr commented on #4658
On the topic of Emscripten installation, it looks like Windows setup has been simplified because emsdk is now distributed as a zip file instead of an installer. That could make installation scriptable -- something like:
1. Download emsdk.zip from somewhere
2. Unzip it
3. ```emsdk update```
4. ```emsdk install latest```
5. ```emsdk activate latest``` (optionally including the ```--global``` flag, w

[2018-02-02 10:36] morganbr commented on #5335
Most of the unresolved symbols are probably P/Invokes from the framework into [native libraries](https://github.com/dotnet/corefx/tree/master/src/Native/Unix) that build out of the CoreFX repository. https://github.com/dotnet/corefx/issues/26107 tracks creating a WASM build flavor for that repo.

It's possible we still have some RuntimeImports or RuntimeExports that aren't hooked up right correctl

[2018-02-02 10:56] Blealtan commented on #5335
There's another problem though. If switching to LLVM backend, what will we use for native code compiling? Clang is currently capable of compiling to WASM directly either, with the corresponding target enabled; however generating debug information still needs a detour, first generate `.bc` then to `.wasm`. Anyway, if we are dropping Emscripten, we need something to do the native code compiling, whi

[2018-02-02 12:22] Blealtan commented on #5335
Okay the `-mthread-mode single` flag works fine but without Emscripten provided CMake platform file, CMake always try to detect wasm-only clang as a normal compiler - which is not since it cannot produce single executable - and thus produce an error on checking phase. I'll later try to write an standalone platform CMake configuration for the wasm-only clang to solve this.

[2018-02-03 02:53] jkotas commented on #5200
Let's keep this open until multiple people verify that the fix works.

[2018-02-03 04:46] morganbr commented on #5335
Making a Clang NuGet package could be plausible, though it would certainly be easier to wait for an official build so we don't have to figure out how to build and package it for 3 OSes.

[2018-02-03 04:55] morganbr commented on #5335
@Blealtan, to help my understanding, what do you expect that LLVM will do better (or worse) than Emscripten? Some interesting aspects to compare on could include:
1. Size of the generated WASM
2. Performance of the generated WASM (not sure if there would be any differences here since they're both using the LLVM optimizer)
3. Build time
4. Ability to distribute a working toolchain
5. Likelihood of

[2018-02-03 05:15] #4510 closed

[2018-02-03 13:00] Blealtan commented on #5335
@morganbr Not having any extra ideas on the compare, I'll only cover what you've mentioned for now.

The first thing to point out is that Emscripten is firstly a self-implemented JS backend embedded Clang & LLVM toolchain, with WASM added later. So it will be clear that for LLVM WASM target:

1. Size of generated code is influenced by two factors: the level of optimization and the amount of extra

[2018-02-03 14:07] Blealtan commented on #4511
Experimented on `@llvm.debugtrap`. Emscripten generates it to a call to imported function `asm2wasm.debugger`, which is in turn implemented in js as the js statement `debugger;`; LLVM generates it into instruction `unreachable`, which is implemented in browsers as trap. As currently this is the only two implementation that generate LLVM IR directly into WASM, using `@llvm.debugtrap` intrinsic shou

[2018-02-04 00:48] morganbr commented on #4508
Fixed in #5297

[2018-02-04 00:48] #4508 closed

[2018-02-04 02:59] morganbr commented on #4659
# Update February 3:
We've made some big steps forward in compilation since the last update including:
* Support for arrays (thanks to @hippiehunter)
* Casting (@Blealtan)
* Enabling building WASM on Mac and Linux (@christianscheuer)
* Filling in more opcodes (@yaram and @morganbr)
* Bug fixes (everybody!)

At this point, we have at least partial implementations for the common IL opcodes. We can s

[2018-02-04 14:23] Blealtan opened #5345 "Generated WASM code for creating specific array causes infinite recursion at runtime"
With `new long[]{1, 2, 3}`, generated code by wasm backend will cause infinite recursion at runtime. The reported stack trace by Firefox is as below:

[code]

However for `new long[] {1, 2}` or `new long[] { Int16.MaxValue, 0, Int16.MinValue, 0 }`, they all work fine.

[2018-02-04 19:11] kripken commented on #5335
Interesting discussion here! Some notes and thoughts:

There are really 3 options,
1. Use emscripten with the asm2wasm backend.
2. Use emscripten with the LLVM wasm backend.
3. Use the LLVM wasm backend by itself, without emscripten.

About 1 vs 2, Emscripten plans to change its default from the asm2wasm backend to the LLVM wasm backend eventually. We haven't done that yet because we are still imp

[2018-02-05 00:30] Blealtan commented on #5335
Surprised that @kirpken is here! Thanks for your clarification and correction. Seems that I was betting too much on LLVM XD

The most critical problem I was considering is distributing and integrating, which sucks for Emscripten. We'll require users to have an EMSDK if using Emscripten, and a two step compilation also; which is really not so user friendly. Regarding the requirement on libc/libc++,

[2018-02-05 20:28] #5240 closed

[2018-02-06 07:35] morganbr commented on #5345
@hippiehunter , does this sound like the kind of thing you fixed in #5342? If not, might you have any other guesses?

[2018-02-06 08:57] Blealtan commented on #5345
Tested with latest master (thus with ldind fix in #5342), the same issue occurs.

[2018-02-06 19:06] hippiehunter commented on #5345
I did repro it locally but i haven't had time to try and fix it yet. My guess if you want to look closer, is that I've screwed up the padding/alignment for array access. Though ensuring that was not the case was the purpose of the bit pattern in the array creation test.

[2018-02-07 04:27] #4511 closed

[2018-02-07 14:22] Blealtan commented on #5345
After comparing the generated IL I find that the main difference between 3-element and 2-element initialize is whether `RuntimeHelpers.InitializeArray` is called. In our case, it seems to be this interface call with array of value type (but not reference types) that causing the infinite recursion.

[2018-02-07 14:27] Blealtan commented on #5345
Okay figured it out. `RuntimeHelpers.InitializeArray` is an intrinsic and not yet implemented in `ILToWebAssemblyImporter.ImportIntrinsicCall`. I'll try to implement it and see if any better.

[2018-02-07 17:04] #5093 closed

[2018-02-07 23:07] Braini01 opened #5361 "How to fix FileLoadErrorGeneric warnings?"
I want to make a .NET 4.7 console app a windows native exe and I was already successful in doing so with certain projects by adding the nuget package Microsoft.DotNet.ILCompiler and then calling _dotnet publish -r win-x64 -f net47 -c Release xxx.csproj_. But now I get a warning message like this:

I solved some of these errors before by just adding a reference to the missing assembly in the csproj

[2018-02-08 00:40] jkotas commented on #5361
The fix for this issue is included in https://github.com/dotnet/corert/pull/5329/files.

However, CoreRT will work well for .NET Core only. It won't work well for .NET Framework. It will happen to to work when your console app references surface that is common between the two, but it is easy to step outside of it by accident.

We should print error when the target framework is not netcoreapp.

Is

[2018-02-08 01:05] Braini01 commented on #5361
Ah ok, I seemed to have missed the fact that net47 is not suited for CoreRT. **Core**RT should have rang a bell though^^. My reason for using .Net Framework was System.Windows.Forms which provides the OpenFileDialog class but I can live without that. But even using .Net Core 2.0 I still have errors:

EXEC : warning : Method [System.Memory]System.MemoryExtensions.NonPortableCast<uint8,uint32>(ReadO

[2018-02-08 06:49] jkotas commented on #5361
These errors are issues with the framework that we are bundling with CoreRT:
- NonPortableCast was outdated framework package. Fixed in #5362.
- GetHRForLastWin32Error fixed in #5363
- System.Xml.Xsl and System.Xml.Serialization are hard to fix. The implementation of these namespaces  depends on Reflection.Emit that CoreRT does not support today.

[2018-02-08 17:33] jkotas commented on #5289
#5364 is adding error message for the missing rid. There is still an issue with the other specific rids like win10-x64. Ideally, they would be remapped to less specific rid like win-x64.

[2018-02-08 18:08] Braini01 commented on #5361
Could I circumvent these errors by not using certain functions (I use Reflection for example) or is it hard to figure out what exactly the cause is for those?

And btw, thx for the fast responses and even fixes. Very appreciated.

[2018-02-08 18:16] jkotas commented on #5361
System.Xml.Xsl and System.Xml.Serialization errors are caused by something in your app is using types from System.Xml.Xsl and System.Xml.Serialization namespaces - either directly or indirectly. Does that help?

[2018-02-08 19:07] Braini01 commented on #5361
It makes sense as my code is signing and serializing an XML. But as I get it, this is not supported currently?

[2018-02-08 19:14] jkotas commented on #5361
Correct. Components that depend on Reflection.Emit are not supported by CoreRT currently.

[2018-02-09 00:23] morganbr commented on #5345
Sounds good. the ILToCppImporter implementation is a start, though you'll probably need to reference the symbol for the field RVA data.

[2018-02-10 04:18] morganbr commented on #5361
The uapaot flavors of those assemblies might work. I haven't tried XSL, but Serialization should be able to fall back to reflection.

[2018-02-10 21:43] qmfrederik opened #5373 "MissingMethod: Marshal.ThrowExceptionForHR"
I'm exploring CoreRT and trying to compile one of our applications using CoreRT.

When compiling using `dotnet publish -r win-x64 -c release`, I get the following warning:

 will always throw because: [TEMPORARY EXCEPTION MESSAGE] MissingMethod: Void System.Runtime.InteropServices.Marshal.ThrowExceptionForHR(Int32)

In certain scenarios, this translates into a runtime exception:
[code]

So it look

[2018-02-10 22:55] qmfrederik opened #5374 "[Type] is missing structure marshalling data"
When compiling one of our programs using CoreRT, I get the following runtime exception:

[code]

However, there's a `rd.xml` file  which contains the `MarshalStructure` directive:

[code]

I've done some tests to make sure my `rd.xml` file is being picked up - for example, changing the Type name to a non-existing type will cause `dotnet publish` to fail, so it looks like `rd.xml` is being processe

[2018-02-11 00:21] morganbr commented on #5374
@MichalStrehovsky, does CoreRT process the Marshal* directives?

[2018-02-11 21:34] am11 commented on #4549
I couldn't produce IL containing ckfinite opcode with C#. After some searching, found a list of IL instructions that C# compiler does not emit: https://stackoverflow.com/q/7110666. Seems like currently we can't write a test for it.

In LLILC project, there is a C++ implementation of this opcode: https://github.com/dotnet/llilc/blob/9d6a522deb/lib/Reader/readerir.cpp#L3977-L3998

[2018-02-12 07:31] MichalStrehovsky commented on #5374
#3763 tracks basically that work. It currently doesn't.

For now, I think the only way to get marshaling data to be generated is to put the type into a p/invoke signature (make it a parameter to a p/invoke method). A call to the pinvoke needs to be statically visible, but doesn't have to be actually called (e.g. `if (String.Empty.Length > 0) CallMyPInvokeThatDoesntExist(default)` should work).

[2018-02-12 08:04] qmfrederik commented on #5374
Hmm, that doesn't seem to work for me.

My struct is named `MuxerHeader` and here's how I'm making sure it's statically visible:

[code]

During the execution of my program, I see `P/Invoke failed due to DllNotFoundException` being printed out so I'm sure that method is called.

However, I still get the following exception:

[code]

I'm calling `OffsetOf` manually; perhaps that's not supported in

[2018-02-12 08:10] shrah commented on #5374
Can you try the Marshal.OffsetOf<T> version? I don't believe the non-generic versions of Marshal.* APIs would work on CoreRT as we don't generate data for them.

[2018-02-12 08:13] MichalStrehovsky commented on #5373
This is because we're using System.Runtime.Extensions.dll that is designed to run on top of CoreCLR, not CoreRT. CoreFX repo only produces a Win32 version of System.Runtime.Extensions for CoreCLR, so that's what we have right now. We can probably make this work with the CoreCLR version by adding an implementation of `ThrowExceptionForHR` [here](https://github.com/dotnet/corert/blob/d5941bb63574604

[2018-02-12 20:46] qmfrederik commented on #5374
@shrah Hmm, it looks like I'm already using `Marshal.OffsetOf<T>` and it calls into `Marshal.OffsetOf(Type, String)`?

[code]

[2018-02-12 22:48] qmfrederik opened #5382 "Enum.GetValues(Type) results in '{Type}[]' is missing metadata."
Continuing my exploration of CoreRT, I'm currently stuck on the following exception:

I have the following in `rd.xml` which doesn't seem to be sufficient:

[code]

Things I noticed, perhaps not relevant:
- The exception message mentions `Org.BouncyCastle.Security.DigestUtilities.DigestAlgorithm[]`, so this seems to reference an array?
- `Org.BouncyCastle.Security.DigestUtilities.DigestAlgorithm`

[2018-02-13 05:38] jkotas commented on #3278
Depends on https://github.com/dotnet/corert/issues/5177

[2018-02-13 07:29] MichalStrehovsky commented on #5382
You got really close with the RD.XML. The last part is adding `[]` after `DigestAlgorithm` - the type that wasn't generated is the array, not the enum (the problem is basically that the compiler never saw `DigestAlgorithm[]` as used by the app, so we didn't generate the data structures that describe the type or support the interfaces and methods on the type). `Enum.GetValues` uses reflection to cr

[2018-02-13 07:29] #5382 closed

[2018-02-13 10:35] qmfrederik commented on #5382
@MichalStrehovsky Thanks, that fixed it!

[2018-02-14 09:07] morganbr commented on #4549
@am11, good find. If you'd like to add a test, https://github.com/dotnet/corert/blob/master/tests/src/Simple/HelloWasm/CpObj.il already has an IL test for WASM. I agree this one is a bit less important if C# won't do it though.

[2018-02-14 11:42] BredPet commented on #4880
@jkotas
I found linux-arm and tizen.4.0.0-armel runtimes for netcoreapp. linux-arm is built successfully, excluding the ObjWriter. tizen.4.0.0-armel is the problem with dependencies, some can not be satisfied. But we need something like linux-x86 for cross compile. I can't find such runtime. How can this be remedied? How can I add it?

[2018-02-14 16:06] jkotas commented on #4880
.NET Core Linux x86 packages are not getting published today. You would need to build them yourself.

Alternative is to use 64-bit ILCompiler and x64 host / arm target RyuJIT. @echesakovMSFT has been doing work on RyuJIT to make this kind of cross-targeting possible (see e.g. https://github.com/dotnet/coreclr/pull/15524).

[2018-02-14 22:48] am11 opened #5388 "Error building wasm toolchain on Windows"
Following the steps from https://github.com/dotnet/corert/blob/16aefe6/Documentation/how-to-build-WebAssembly.md, I am stuck at step 4,  `build.cmd clean wasm` throws:

[code]

[2018-02-15 06:39] BredPet commented on #4880
@jkotas Thanks

It's bad news. No any plans for x86? It's just strange that there is even an arm, arm ilc as netcoreapp, but there is no x86. The main question in this direction: how can I build x86 ilc? Or should I use the old method with corerun?

As far as I remember, not so long ago everyone claimed that it was rather difficult to do, since it would take CoreCLR ton changes. Has it changed? Is

[2018-02-15 07:22] jkotas commented on #4880
Linux x86 is in the list of what we would like to have. It just was not important enough to get traction and community is not pushing for it. (I know your team have done a bunch of work on it a while ago).

I think you meant to where to get Linux x86 CoreCLR to run ilc on. corerun should work fine for it if you do not want to go all the way to `dotnet`.

The rather difficult part is fixing up the

[2018-02-15 07:53] BredPet commented on #4880
@jkotas
Thanks for your explanation and advice. We'll think about this and x64 cross-build.

[2018-02-15 10:56] MichalStrehovsky commented on #5388
`g_rgWellKnownMethodNames` is defined multiple times, but it has a `__declspec(selectany)` to deal with that. Seems like EMCC doesn't support `selectany`.

This variable is only needed for rhbind.exe though, so the easy fix is to put it under an `ifdef`. I'll submit a pull request shortly.

[2018-02-15 16:28] #5388 closed

[2018-02-15 19:46] am11 commented on #5388
Thanks for the quick fix @MichalStrehovsky!
You are right, latest version of emscripten is using clang 5.0.0, which has a missing __declspec bug https://bugs.llvm.org/show_bug.cgi?id=35080 that was fixed in v5.0.1. Now I am hitting:

[code]

I will report the issue upstream.

[2018-02-15 19:59] jkotas commented on #5388
That is another `__declspec(selectany)` issues.

[2018-02-16 17:04] #5200 closed

[2018-02-17 01:35] morganbr commented on #5388
Thanks for chasing this down @am11 and @MichalStrehovsky.  It looks like Emscripten 1.37.30 (the last version before the clang 5.0.0 change) works while we're waiting for a fix. You can install it by running
[code]

[2018-02-17 18:07] #5373 closed

[2018-02-17 18:08] MichalStrehovsky commented on #2256
Jan fixed this in #5398.

[2018-02-17 18:08] #2256 closed

[2018-02-19 07:37] morganbr commented on #4531
Duping against #4532

[2018-02-19 07:37] #4531 closed

[2018-02-19 08:32] morganbr commented on #4532
I have this mostly working now, but I'm having problems getting the GC static base. If I'm reading other code correctly, I think the GCStaticBase symbol for a type is supposed to be dereferenced twice to find the address of the base. However, I'm seeing the first dereference go to a misaligned value and the attempt to load the field AVs. Additionally, it looks like multiple types' GCStaticBases ar

[2018-02-19 09:45] MichalStrehovsky commented on #4532
The GC static regions are allocated on the GC heap in CoreRT. This is different from Project N, where there's a region of the executable image that gets registered with the GC to contain GC references to scan.

When the executable image is generated, the GC static region actually points to an "EEType" that describes the GC layout of the static base. We set the lowest bit to indicate that it's not

[2018-02-19 14:40] #2856 closed

[2018-02-19 14:47] MichalStrehovsky opened #5408 "GVM dependency analysis in multimodule builds"
`JIT\Performance\CodeQuality\BenchmarksGame\fasta\fasta-1` test is failing in multi-module build with `GVM method pointer lookup failure`.

[2018-02-19 16:14] morganbr opened #5409 "Reuse variable offsets in WebAssembly codegen"
Now that more code is compiling, the output is getting bigger and much of it is recalculating the offsets of locals, arguments, and spills. This is especially bad in debug code where the C# compiler assigns almost every operation to a local. We should look into calculating all of those in the prolog and reusing them through the rest of the function.

[2018-02-19 16:17] morganbr opened #5410 "Investigate moving non-GC spills to allocas"
Now that returns are spills, we're generating a lot of them (and we'll generate more as part of a bug fix). We should investigate whether it would work to move non-GC types in spills to allocas instead of the shadow stack as that should generate smaller code by just using WASM locals. We still need the GC types so that we can report them to the GC from the shadow stack.

[2018-02-19 16:34] MichalStrehovsky opened #5413 "Delete old CoreCLR tests"
After giving #5412 a couple of weeks of baking time, we should go to https://ci.dot.net/job/dotnet_coreclr/job/master/job/debug_windows_nt_prtest/4/ and click the "Don't keep the build forever" button to release the resources.

[2018-02-19 23:14] brunomlopes opened #5415 "Running SampleWebApi on IIS seems to fail?"
I've looked at using corert to compile and package a very simple asp.net core app to run on IIS, but while it runs standalone (by executing it directly on a command line).

So I've tried to compile the SampleWebApi that's in the samples directory and run in under IIS.
It failed with `Application startup exception: System.InvalidOperationException: No public 'Invoke' or 'InvokeAsync' method found.`

[2018-02-20 00:30] realvictorprm commented on #768
Did anyone already implemented the fun? If not, is this still on the roadmap / considered?

[2018-02-20 07:46] jkotas commented on #768
NativeCallable attribute works fine if it is what you are asking about. There was discussion about some of the details on https://gitter.im/dotnet/corert last week.

[2018-02-20 11:39] MichalStrehovsky commented on #5415
It would be nice if ASP.NET updated their error message to also include the type name (in the form of `type.ToString()` somewhere. Troubleshooting this would be a breeze.

You could either blindly add all the other ASP.NET assemblies with `Dynamic="Required All"` (but it's possible the app will become too big and too slow to build), or try running this under debugger. You would typically run this

[2018-02-21 20:41] masonwheeler commented on #4515
So if we "solv[ed] the whole thing" 3 months ago, with a fix that's been merged, why is this issue still open?  Is there still more to do on it?

[2018-02-21 22:45] #5162 closed

[2018-02-22 03:50] Blealtan opened #5421 "Multi-dimensional array creating leads to trap-only genereted code in WASM codegen"
To reproduce, simply add `var a = new int[2,2];` in HelloWasm. After added this, generated HelloWasm.html shows only `trap!` in output.

[2018-02-22 07:55] MichalStrehovsky commented on #5421
Multi-dim array allocation looks like this in IL:

[code]

I assume WASM currently doesn't special case it and tries to generate a normal constructor call. This needs to be handled similarly to `newarr` because we can't call the constructor (this is likely throwing at compile-time [here](https://github.com/dotnet/corert/blob/5ec6a6b98da93620daec56de0100b0076c8a24d0/src/Common/src/TypeSystem/IL/Stu

[2018-02-22 23:51] jkotas commented on #4880
https://github.com/dotnet/coreclr/issues/16513

[2018-02-23 08:06] Scellow opened #5435 "StackOverflowException"
Hello

This is what i'm getting when i try to compile using this library:  https://github.com/tlgkccampbell/ultraviolet

[code]

[code]
Here is the log (-v diag) 20mb!

[log.txt](https://github.com/dotnet/corert/files/1750836/log.txt)

[code]

[2018-02-24 03:04] jkotas commented on #5435
The StackOverflow exception should be fixed by #5440. The package with the fix should be available on myget in a few hours.

I was not able to reproduce the missing `System.Runtime.InteropServices.Marshal.GetFunctionPointerForDelegate` method exception, and I am not sure what can be causing it.

[2018-02-24 03:10] jkotas commented on #5435
When I have run the binary, here are the issues that it hit:

- CoreRT does not do probing for different flavors of PInvoke entrypoints. Fixed by changing LoadLibrary to explicitly specify right entrypoint:
[code]
- The assemblies in single file binaries do not have location. Fixed it by using `AppDomain.BaseDirectory` instead:
[code]
- Then it started hitting types loaded via reflection. Added rd

[2018-02-24 03:11] jkotas commented on #5435
Let us know if you are able to compile Ultraviolet games using CoreRT successfully!

[2018-02-24 03:14] jkotas commented on #5435
The stackoverflow that this issue is about should be fixed now.

[2018-02-24 03:14] #5435 closed

[2018-02-24 05:25] zipswich commented on #4768
I am still getting this error despite I have made sure the aforementioned three files are not there:

VS15.5.7

[2018-02-24 05:58] BradChase2011 commented on #4768
@zipswitch just an idea... Do you have and and processor?  We switched over to another build machine that was Intel and it worked on that.  Still broken on the AMD though.

[2018-02-24 13:45] zipswich commented on #4768
@BradChase2011 Here is the PC:
![image](https://user-images.githubusercontent.com/6095671/36631045-180e36ca-193f-11e8-8f22-133d45382c64.png)

[2018-02-24 18:01] BradChase2011 commented on #4768
@zipswitch

Hmm yea ya got me sorry :(.  I never ended up getting it to work.  We now have a machine that is the only one that can build it and we hope that is never gets upgraded or any libraries change because we're screwed at that point.

.net native really is just messed up right now and I have even emailed the team but they never got back with me.  How the hell Microsoft ever made it a pre re

[2018-02-24 19:58] zipswich commented on #4768
@BradChase2011 The vast majority of problems of our apps are caused by .Net native.  The migration of our primary app was postponed from Jan. 2017 to Sep. 2017 due to a .Net native issue.  I would hold a celebration party if Microsoft killed .Net native.

[2018-02-26 06:57] Blealtan commented on #5421
Working on this issue now.

[2018-02-26 18:05] lt72 commented on #4768
@BradChase2011 and @zipswich : could you please describe the build setup and what is working and what not.
If I understand correctly, it appears that you are using the UWP 6.0.6 toolchain (see [here](https://github.com/Microsoft/dotnet/tree/master/releases/UWP/net-native2.0)) with VS 15.5.7 and that x64 is building and working fine, but x86 is not.
Is that correct?

[2018-02-26 20:51] BradChase2011 commented on #4768
@lt72

x64 does not build any longer after reinstalling everything.  So what I did was basically uninstall everything except windows and reinstall.  Then x64 had the same error.  This is on all the Ryzen 7 machines (one with 16gb memory the other with 32gb).  The Intel i7 7700HQ laptop (16gb memory) can build with all the same stuff that again had a full uninstall and reinstall.  All computers at

[2018-02-26 22:07] lt72 commented on #4768
@MattWhilden : do you have any information on AMD64 machines not supporting .Net Native / UWP toolchain?

[2018-02-26 23:19] BradChase2011 commented on #4768
@lt72 I wanted to remind you that this only happened after moving to the new 16299 targets with .Net 2... I've been building on these machines since the day Ryzen was released.  So my guess is it's something new.  That's not saying alot but hopefully narrows it down a little.

[2018-02-26 23:58] zipswich commented on #4768
Here are more details about my situation.
I have a library called ClassLibraryUWP that is used by every UWP app project of mine.  ClassLibraryUWP uses  [UWP Community Toolkit](https://github.com/Microsoft/UWPCommunityToolkit), the best tool of this type that  have ever used. UWP Community Toolkit apparently uses Microsoft.IdentityModel.Clients.ActiveDirectory. Its NuGet package is up to date (V3.1

[2018-02-27 00:07] MattWhilden commented on #4768
So it seems like there are at least two issues being reported here. One by @BradChase2011 which I'll call the "x86 builds crashing" issue and on from @zipswich which I'll call "old package dependencies in appmanifest" issue. If there's something else (sorry for the skimming) please call it out.

"x86 builds crashing":
@BradChase2011 After some digging I see your mail to us. We'll need to get some

[2018-02-27 07:53] BredPet commented on #4880
@jkotas Thanks. I checked CoreCLR with @echesakovMSFT commits. After some changes, the ILC compilation is successful, the binaries are the same byte size. But there are some invalid instructions (it seems inherent in the broader x64 types). I think x64 cross-mode is not yet ready at all, there are still a lot of bugs. For example one of the main problems is that in the [CoreCLR PAL headers](https:

[2018-02-27 17:27] zipswich commented on #4768
@MattWhilden Thanks a lot for looking into this.  I will try to reproduce it with a project as simple as possible.  Please allow me some time.

[2018-02-27 19:59] BradChase2011 commented on #4768
I sent in the package needed for the issue we are having, but yea sounds to be a different issue :(.

[2018-02-27 20:11] MattWhilden commented on #4768
@zipswich Definitely. Note that there's a bit of "odd" behavior where project references to the .NET Native tools/libraries can be automagically updated when you retarget your application to newer OS versions. For example, I think retargeting to RS2 will cause VS to update some of your references. I don't think that necessarily the issue but it's certainly something that can catch you off guard!

[2018-02-27 20:55] zipswich commented on #4768
@MattWhilden The project has been retargeted many times.
After the last Windows Developer Day in October, the target was changed to 16299 per the encouragement of Microsoft.
[ A VS bug](https://developercommunity.visualstudio.com/content/problem/145097/msb4064-the-platformxmldir.html)  forced the project to downgrade to 15063 soon afterwards.
Recently, I upgraded the a PCL to using .Net Standard 2

[2018-02-27 21:03] s-arash opened #5458 "Cross compiling fails"
Is cross compiling supported?

Reading the turorial, I got the impression that it should be supported. But I couldn't build my project for macOs or Linux on my Windows machine.

This is the error I got for Linux:
[code]

And I got a similar error for mac.

[2018-02-27 21:07] jkotas commented on #5458
Cross compiling is not supported yet.

[2018-02-27 21:32] s-arash commented on #5458
Ok. Thanks!
Is there a timeframe for this feature?

[2018-02-27 21:52] MattWhilden commented on #4768
Yikes. Sounds like you've really been through the wringer on this one. Even if you don't manage to get it teased out, a more general report (like you've already provided in this thread) is a good signal for some of our internal teams to hear about where our validation has been... uh... less than perfectly thorough. I've sent some folks in VS a heads up to see if they have any ideas or have seen si

[2018-02-27 22:25] Sergio0694 opened #5461 "Repeated crashes from rmrcorer.dll on UWP, can't figure out why"
Hello, I'm sorry if this is not the exact place to ask for help about this (although I suspect this is related to the .NET Native compiler and maybe the additional processing made by the Store, as I can't reproduce the issue locally), but I've been struggling with this issue for months and I have no clue on what's going on.

I have [this app](https://www.microsoft.com/store/apps/9NBLGGH3T7G3) in t

[2018-02-28 03:30] #5345 closed

[2018-02-28 03:33] morganbr commented on #5173
@gskachkov, have you had any luck with this (or any questions)? It would certainly help us bring up CI testing.

[2018-02-28 08:15] gskachkov commented on #5173
@morganbr Sorry for the delay fixing this task, I'm working on Mac and only recently I've managed to build solution, thanks for other contributors :-). But currently, we are releasing solution to prod on my primary job during next two weeks, so I have a small progress. But anyway I would be happy if you could wait at least for one, or two week, I'm still want to fix it, but if it block you from pr

[2018-02-28 10:25] Scellow commented on #5435
Thanks a lot :D

[2018-02-28 10:35] Scellow opened #5467 "Getting current assembly location returns empty string"
[code]

Version: https://github.com/dotnet/corert/commit/026c9341a023cfc112e6ac92cf58f788f9d332b6

Output: ``Location:``

Expected (.net core 2.0):  ``Location: C:\Users\Scellow\dev\test\bin\Debug\netcoreapp2.0\test.dll``

OS: Win 10 x64

[2018-02-28 10:44] MichalStrehovsky commented on #5467
What do you need this information for?

After native compilation, the assembly no longer exists on the file system (all assemblies get compiled into a single EXE file). We return an empty string because it's a valid return value and better than throwing an exception (e.g. it will be an empty string when the assembly was loaded from a byte array on the CLR).

[2018-02-28 10:52] MichalStrehovsky commented on #5467
The most common use cases we have seen is when people call this to get a path to the app's directory. `AppContext.BaseDirectory` is a better API to do that.

If you really need a name of a file that no longer exists, you could construct it with `Path.Combine(AppContext.BaseDirectory, asm.ManifestModule.Name)`

[2018-02-28 10:52] Scellow commented on #5467
I use a library and they use that to set the working directory in a static constructor :/, i think they do that because .net core applications set the Project directory as a working directory

But thanks to your explanation i understand now, and it make sense :)

[2018-02-28 11:18] #5467 closed

[2018-02-28 14:43] zipswich commented on #4768
I have just looked through my posts here, and noticed that I was not clear about the fact this problem happens with every UWP project.   I have tested 5 UWP projects so far, and all have exactly the same issue.  Hope to come with a simple repro by the end of this week.

[2018-02-28 19:37] MichalStrehovsky commented on #5461
`try/catch` will not catch exceptions in unmanaged code. This is an exception in unmanaged code.

I did a quick search for `registerscaleevent` in the Windows bug database and there are a couple hits. Does the dev dashboard show you what version of Windows this is getting hit on? It might be a bug in Windows that showed up in some recent flights of the Insider previews.

[2018-02-28 20:02] Sergio0694 commented on #5461
Hey @MichalStrehovsky - thank you for your reply!
Yeah I figured the `try/catch` wasn't working for that reason, but I figured I'd just mention that too just to add some more info.

I checked the dashboard and these are some of the builds where that crash is originating from:

- 10.0.17604
- 10.0.17101
- 10.0.17093
- 10.0.17083

So it looks it's happening both with the latest RS4 builds, and with

[2018-02-28 20:15] MichalStrehovsky commented on #5461
Yeah, I can see crash dumps being reported to the Windows team with builds as early as 17083. I think this is a Windows bug.

[2018-02-28 20:15] #5461 closed

[2018-02-28 20:16] Sergio0694 commented on #5461
@MichalStrehovsky Good to know, thank you for your help and for the heads up! 😊

[2018-03-01 04:45] AArnott opened #5470 ".NET Native compiler toolchain fails to bind FormatMessage to FormatMessageW"
The bug https://github.com/AArnott/PCLCrypto/issues/137 is now believed to be due to the .NET Native compiler toolchain failing to match [this](https://github.com/AArnott/pinvoke/blob/4a7ae6e81de80cde7a0acc0224a9ffbb7847d6f9/src/Kernel32/Kernel32.cs#L145):

[code]

Up with the `FormatMessageW` method defined in `api-ms-win-core-localization-l1-2-0.lib`.

This failure only occurs when compiling a U

[2018-03-01 08:55] MichalStrehovsky commented on #5470
We don't track .NET Native issues in this repo (especially not those that are specific to closed source UWP-specific parts like this one). Dotnetnative at microsoft com is the right channel for this. I responded to the email thread.

[2018-03-01 08:55] #5470 closed

[2018-03-02 03:15] morganbr commented on #5173
@gskachkov, no problem. As long as you're still interested over the next few weeks and we're not blocking you, we're in good shape.

[2018-03-02 21:20] h3x4d3c1m4l opened #5486 "Compiler does not honor Deterministic flag"
Using the defualt .NET Core 2.0 compiler, I can build my projects deterministically by creating a `Directory.Build.props` with the following contents:

[code]

This means that if I rebuild the code without changing any of it, the new files have no differences with the old ones. If I build with CoreRT there are differences and the binaries contain the whole path to the pdb files instead of the rela

[2018-03-02 23:09] jkotas commented on #5486
There are two key parts to this:
- The CoreRT compiler itself. We have done work on the compiler determinism before: https://github.com/dotnet/corert/pull/4818 . .obj file produced by the CoreRT compiler should be deterministic.
- The determinism of the platform linker that produces the final binary. I am not sure what determinism guarantees linkers on different platform make. Is there one platfor

[2018-03-02 23:10] jkotas commented on #5486
cc @nattress

[2018-03-03 09:44] mikedn commented on #5486
You could probably pass `-PDBALTPATH:path` to the VC++ linker to deal with the PDB full path that gets embedded in the executable by default.

[2018-03-03 16:08] jkotas commented on #5486
Some more related info: `pdb-path-determinism` feature was a temporary solution that is going to be removed: https://github.com/dotnet/roslyn/issues/19592 . The permanent solution is the pathmap option: https://github.com/dotnet/roslyn/pull/19593 . If we are adding support for this to CoreRT, it should be based on pathmap.

[2018-03-03 16:43] h3x4d3c1m4l commented on #5486
I just found this tool to be usable as a workaround:
https://github.com/jasonwhite/ducible

[code]

It's easy integratable as build step in my build system and indeed my binaries are equal after processing them with Ducible and they still work.

[2018-03-05 00:40] brunomlopes commented on #5415
Thanks. I tried to do that, but failed somewhere and wasn't able to break on the exception.
I might just try and submit a pull request to get better feedback on the middleware type.

[2018-03-05 00:59] brunomlopes opened #5496 "How to use the System.IO.Compression namespace ?"
Say I've got the following core on a .net core console app:

[code]

If I compile it with ` dotnet publish -c Release -r win-x64`, and try to run it with `CoreRt.TestCompression.exe ..\sample-zip.zip`, it fails with
[code]

From a quick search, this looks like clrcompression.dll is native code that doesn't get pulled in?
Is there anything I can do to work past this?

[2018-03-05 03:08] jkotas commented on #5496
We have not done the work to link clrcompression into the final binary.

The workaround is to copy clrcompression.dll next the native .exe. E.g. publish the app as standalone using
`dotnet.exe" publish -c Release -r win-x64 /p:NativeCompilationDuringPublish=false` first, save `clrcompression.dll` that got published, and then publish it again as native and copy clrcompression saved earlier next to

[2018-03-05 15:40] dagood opened #5498 "Publish symbols using Microsoft.SymbolUploader.Build.Task package"
The `Microsoft.SymbolUploader.Build.Task` package on the BuildTools feed is the new way to index and publish symbols to the symbol server.

Example implementation in Core-Setup: https://github.com/dotnet/core-setup/pull/3465

[2018-03-06 00:02] brunomlopes commented on #5496
Thanks, the workaround works.

I'd prefer a single binary, but a binary and a dll is good enough and a large improvement.
I mostly wanted to reduce the number of files in the final folder, and take advantage of faster startup.

[2018-03-06 00:50] #4509 closed

[2018-03-06 12:15] #4532 closed

[2018-03-06 17:04] tonerdo commented on #4987
Does it make sense to include and example in the `samples` folder as well?

[2018-03-06 17:10] jkotas commented on #4987
Yes, I think a sample would be a great way to document this.

[2018-03-07 00:31] denisvlah opened #5508 "app with mongoDB compilation failure"
I am trying to compile an app with  RyuJIT AOT compiler following steps in https://github.com/dotnet/corert/tree/master/samples/MonoGame

The app has a reference to the mongodb oficcial driver.

It gives the following error:
EXEC : error : VTable of type 'MongoDB.Bson.Serialization.IBsonSerializer`1<IgnoredReply<System.__Canon>>' not computed by the IL scanner. You can work around by running the c

[2018-03-07 15:09] #4985 closed

[2018-03-07 22:52] rolandh commented on #2035
Just wondering how this was progressing. Is it realistically ever likely to produce a working exe from a wpf project?

[2018-03-08 12:56] MichalStrehovsky commented on #5508
Could you share a complete project so that we can reproduce it (or a minimal subset that hits this)?

[2018-03-09 14:59] skyne98 opened #5523 "[Question] Platform dependencies"
Hey there, fellows!
First of all, I will describe the scenario. Let's take Rust into consideration. It's a systems programming language, so it has a standard library, that doesn't depend on platform it's running on, which allows it to be used as an OS building language, running without infrastructure.

With projects such as CoreRT and CosmOS being developed in parallel, I started to wonder: maybe

[2018-03-09 15:01] skyne98 commented on #5523
Just realized that WASM might be a very similar target, hmm.

[2018-03-09 15:51] bderuijsscher opened #5524 "[UWP] .net native compiled project won't run (Entry Point Not Found error)"
When targetting .net standard 2.0 for a windows uwp application (Windows IoT core, ARM targetting Windows 10 build 16299). The project compiles normally however when run on a target devices generates the error "Entry Point Not Found".

Please refer to the discussion on the MSDN forum [here](https://social.msdn.microsoft.com/Forums/en-US/e202edb0-dcb5-405e-bee7-5ddf4faca77b/uwp-cannot-build-app-wit

[2018-03-09 16:08] jkotas commented on #5524
cc @lt72 @sergiy-k

[2018-03-09 16:23] jkotas commented on #5523
The CoreRT depends on C/C++ runtime  (libc and libstdc++, or equivalent) today at minimum. We will be happy to take contributions that work towards having an option to build without the dependency on C/C++ runtime.

This good first step may be to eliminate dependency on C++ runtime: https://github.com/dotnet/corert/issues/3564

[2018-03-09 17:39] sergiy-k commented on #5524
@tijoytom, is this the same issue with Windows SDK and p/invokes that you investigated earlier?

[2018-03-09 20:00] tijoytom commented on #5524
Could be , it looks similar.
@bderuijsscher can you please share the verbose build log?

[2018-03-09 20:06] bderuijsscher commented on #5524
Gladly, however how do i achieve a more verbose build log than what is rendered by default in the output window of visual studio?

Regards

[2018-03-09 21:47] tijoytom commented on #5524
Tools -> Options-> Build and Run -> Change msbuild output verbosity

[2018-03-10 00:40] skyne98 commented on #5523
But what about WASM builds? Aren't they platform independent?

Also, can't I just avoid using parts of standard library with dependencies and just make syscalls, wherever possible?

[2018-03-10 00:49] jkotas commented on #5523
WASM builds depend on C/C++ runtime flavor that comes with Emsripten.

[2018-03-10 04:15] sergiy-k commented on #5415
Hi @brunomlopes! I got "Hello World!" printed in the browser after adding the following line to the rd.xml:

[code]

Regarding setting a breakpoint. Did you verify that Visual Studio was able to find and load the pdb file for the application? You can find the right pdb file under "bin\x64\Debug\netcoreapp2.0\win-x64\native". Unfortunately, "dotnet publish" copies the wrong pdb file into "bin\x64\D

[2018-03-10 05:09] morganbr commented on #5523
@skyne98 , the answer for WASM depends a little on how you think of a "platform". It's true that it runs on lots of different processors and operating systems because browsers provide an abstraction. I tend to think of WASM more like being dependent on the WebAssembly/JavaScript "platform" that browsers provide.

CoreRT (and CoreFX) are factored with running on multiple platforms in mind, so you c

[2018-03-10 12:24] bderuijsscher commented on #5524
[buildlog-verbose.txt](https://github.com/dotnet/corert/files/1799343/buildlog-verbose.txt)

Thanks, please find the verbose build log in the attachment. I have removed references to my username and projectname by replacing them with [USERNAME] and [PROJECTNAME]

I hope this helps to diagnose the possible cause of the error.

[2018-03-10 13:20] skyne98 commented on #5523
@morganbr, so you basically say, that, if I just make a program, that adds 2 + 2 and stores it into memory it will perfectly run everywhere? What about usage of raw pointers in C# and using FFI, are they platform dependent?

[2018-03-10 13:21] skyne98 commented on #5523
@jkotas, yeah, I had to see it coming

[2018-03-11 17:37] denisvlah commented on #5508
Find a subset of the project in the attached zip file.
[DruidTesterApp.zip](https://github.com/dotnet/corert/files/1800658/DruidTesterApp.zip)

Thanks,

[2018-03-12 00:47] brunomlopes commented on #5415
@sergiy-k thanks, that worked!

Honestly, since I'm not proficient with native debugging, I kind of let this go.

[2018-03-12 01:06] morganbr commented on #5523
@skyne98, that's putting it a bit more strongly than I intended. There are a base set of capabilities that CoreRT assumes every application will need like memory allocation (provided by the OS and possibly passed through something like libc++) and threading (though I know @MichalStrehovsky is interested in making some of those, such as reflection not necessarily part of every application). We occa

[2018-03-12 19:22] tijoytom commented on #5524
Ok , Looks like the same issue ,  what nuget packages are you using ?

P/Invoke 'FindFirstFileEx' resolved to 'FindFirstFileEx!api-ms-win-core-file-l1-2-0.dll' from 'SupportedAPIs.xml'. (TaskId:394)
P/Invoke 'FormatMessage' resolved to 'FormatMessage!api-ms-win-core-localization-l1-2-0.dll' from 'SupportedAPIs.xml'. (TaskId:394)

[2018-03-12 19:38] bderuijsscher commented on #5524
This project uses:

Microsoft.Azure.Devices.Client (1.4.0)
Microsoft.NETCore.UniversalWindowsPlatform (6.0.1)
Newtonsoft.Json (10.0.1)
Serilog (2.6.0)
Serilog.Formatting.Compact (1.0.0)
Serilog.Sinks.Http (4.2.1)
Serilog.Sinks.Rollingfile (3.3.0)
Serilog.Sinks.Trace (2.1.0)
System.Collections (4.3.0)

And a IoTDMClientLib library as indicated by the Azure Device Management docs.

Updating the Nuge

[2018-03-12 19:40] khanhnb commented on #5524
I'm having exactly the same problem. When compiling project, I received these warnings:
Unresolved P/Invoke method 'kernel32.dll!CreateFile'
Unresolved P/Invoke method 'kernel32.dll!SetFileValidData'
But it came from my imported lib not Nuget.

[2018-03-13 03:31] jkotas opened #5537 "Integrate ILLinker into CoreRT build"
CoreRT port of https://github.com/dotnet/coreclr/pull/16876

[2018-03-13 06:12] ShalokShalom commented on #4552
So this is solved?

[2018-03-13 07:10] #5508 closed

[2018-03-13 10:34] #5415 closed

[2018-03-13 10:42] bderuijsscher commented on #5524
hello @tijoytom,

after some further evaluation using a blank base project and adding the mentioned Nuget packages one by one, It appears that the Microsoft.Azure.Devices.Client package is the offending package.

When adding this library, the error will be generated.

Since the original poster of the problem (MSDN forum) uses another package, I suspect the underlying problem is in one of the libra

[2018-03-13 11:49] z1c0 opened #5539 "[ILVerify] solution / csproj files broken for Visual Studio"
I cannot use Visual Studio (2017) any more for running and debugging the ILVerify solution.
This is the error message I get:

The debug executable '...\corert\bin\Windows_NT.x64.Debug\ILVerify\ILVerify.exe' specified in the 'ILVerify' debug profile does not exist.

Also, there is a **second  ILVerify.csproj** file in the netcoreapp directory, which contains a "Hello World" console application ...

[2018-03-13 12:07] mmayr-at commented on #5539
I guess this is broken since https://github.com/dotnet/corert/pull/5351 was merged?

[2018-03-13 12:20] MichalStrehovsky commented on #5539
It works for me. Two things are needed:

* Run `build.cmd` from the repo root to get all the build tools. (You can also run `build.cmd skiptests` to save some time).
* After opening the solution, switch to the build configuration you just built (`build.cmd` without any arguments defaults to x64 Debug).

[2018-03-13 12:32] z1c0 commented on #5539
Not sure which "build configuration" you are referring to here.
I am talking **specifically** about the **ILVerify.sln** which I cannot run any more.

Also, what's with the second ILVerify.csproj I mentioned - this can't be there on on purpose, right?

[2018-03-13 12:38] MichalStrehovsky commented on #5539
Yup:

![ilverify](https://user-images.githubusercontent.com/13110571/37341851-345b506a-26c3-11e8-9b82-3a76d78bf32b.PNG)

You need to follow the steps I outlined. The SLN file doesn't have the x64 configuration so you need to create it before you can switch to it.

The project now uses the repo's build system so that we can get automated official signing and packaging for it. The extra step is a fa

[2018-03-13 13:54] z1c0 commented on #5539
Thanks for the help! I can run and debug the project again.

I cloned the whole repo again and ran the build.cmd file.

It now works in the .NET default **Debug | Any CPU** configuration.

![image](https://user-images.githubusercontent.com/4700296/37345821-0863a614-26ce-11e8-9f87-f59ca3ae9fbc.png).

[2018-03-13 13:54] #5539 closed

[2018-03-13 16:52] sergiy-k commented on #5524
@tijoytom, is there a workaround for this issue?

[2018-03-14 09:53] bderuijsscher commented on #5524
Hello, the developers of the Microsoft.Azure.Devices.Client have released an update to the package to fix the problem. Please refer to the discussion in [this issue](https://github.com/Azure/azure-iot-sdk-csharp/issues/315)

Apparently, it should also be possible to include the newest version of  nuget package Pinvoke.Kernel32 in the project as a workaround, however I have not yet tested this appr

[2018-03-14 18:31] tijoytom commented on #5524
@sergiy-k  No workaround since the offending PInvoke comes from a nuget package , Yes , there is a workaround if the app can be compiled from command line . Anyways @AArnott  have published the new package with the fix.
@bderuijsscher Let me know if you still hit issue after using the new package

[2018-03-14 19:15] AArnott commented on #5524
You can check your project.assets.json file (in your intermediates directory) to see if PInvoke.Kernel32.dll is being brought into your compilation. If it is, then yes, installing the latest PInvoke.Kernel32 package into your project to effectively upgrade the one you're getting transitively should workaround the Windows SDK bug that causes this issue.

[2018-03-15 08:13] bderuijsscher commented on #5524
Yes, the upgraded package of Azure Devices Client solved the problem, and @AArnott thanks for the advice for other situations for which this error might occur.

[2018-03-15 09:19] zarlo commented on #5523
its Cosmos not CosmOS

[2018-03-15 18:16] mjfara commented on #4768
Has there been any updates on this? I'm having the same problem after retargeting.

[2018-03-15 19:54] lt72 commented on #4768
@nattress @zamont PTAL

[2018-03-15 22:00] morganbr opened #5554 "Initialize modules on startup"
In order to use many runtime features (interface dispatch, reflection, resources, etc), we need to call InitializeModules on startup and call the compiler-generated StartupCodeMain method to initialize those features.

An initial attempt at doing that and fixing some of the issues is at https://github.com/morganbr/corert/commit/47fe52829be365a4133ef1d833569d858a8f98d6. There are still (undebugged)

[2018-03-15 22:01] morganbr commented on #5554
@hippiehunter, might you be interested in picking this up? I'd hoped to be able to unblock you on interfaces, but it'll be a while until I can get back to this and I suspect you'd be able to figure out whatever's wrong.

[2018-03-15 22:16] khanhnb commented on #5524
Hi everyone,
my app is facing the same problem. When compiling app, I got these warnings:

MCG : warning MCG0007: Unresolved P/Invoke method 'kernel32.dll!CreateFile' for method 'xxx.CreateFile(System.String, System.UInt32, System.UInt32, System.IntPtr, System.UInt32, System.UInt32, System.IntPtr)'. Calling this method would throw exception at runtime. Please make sure the P/Invoke either points t

[2018-03-15 23:07] tijoytom commented on #5524
@khanhnb Waht you are  seeing is not the same as the original problem that was discussed in this thread.
CreateFile is not a valid API for UWp , you should use "CreateFile2"

[2018-03-15 23:57] CIPop commented on #5524
Microsoft Azure IoT 1.7.0 has released a new package without the PCLCrypto dependency (no workaround is required).
For our LTS branch (1.6.*), please follow @AArnott's instructions here and in https://github.com/Azure/azure-iot-sdk-csharp/issues/315#issuecomment-373558193

@jkotas @tijoytom FYI: This issue is also tracked internally by the Windows SDK team.

[2018-03-16 08:20] khanhnb commented on #5524
@tijoytom : you mean that my app only works in debug mode and fails when compiling .NET native is because of using invalid API for uwp (actually it's using some ws2_32.dll and kernel32.dll APIs)? I'm sorry that lacking of information in output window makes me misunderstand it.

[2018-03-16 08:38] MichalStrehovsky commented on #5554
I had a quick look at your changes and have two suggestions:

* We had a build configuration for S.P.CoreLib that only compiles dummy globalization into CoreLib. People from MSR Cambridge used that [last](https://github.com/dotnet/corert/pulls?q=is%3Apr+author%3Aacl33). Might be worth it to enable that when building the WASM flavor of CoreLib instead of adding WASM specific ifdefs and workarounds

[2018-03-16 15:24] AArnott commented on #5524
@khanhnb said:

Not yet, that's true. And even when it does, it won't be available to UWP apps for the reason @tijoytom gave. PInvoke.Kernel32 also doesn't have `CreateFile2`, but that can certainly be contributed and it will be available to both UWP and desktop apps.

But as you're *already* getting `CreateFile` entrypoint breaks, it sounds like you have the P/Invoke coming from someplace else (`

[2018-03-16 17:18] tijoytom commented on #5524
@khanhnb Not a bug , you can't use all ws2_32 API in UWP . You need to stick to UWP approved APIs

[2018-03-16 17:19] tijoytom commented on #5524
@khanhnb I am closing this issue , since the original issue is fixed. If you need help , please open another issue with details.

[2018-03-16 17:19] #5524 closed

[2018-03-17 20:24] sgf opened #5564 "Could be let the compiled output be smaller?"
its too big now,

when  im testing a hello world with webapi Program,
the last output filesize need **21mb+.**
when im create a HelloWorld Program,
the last output file size got about **3.86mb.**

**oh my god,im just want it say hello,But its carry such a heavy burden.**

_even golang or dlang is much more smaller._

thats too big,any chance to let them smaller?

[2018-03-17 20:29] sgf commented on #1285
if could be create native lib,thats will be great !!!

[2018-03-17 21:30] MichalStrehovsky commented on #5564
What scenarios would having smaller deployment size enable for you?

[2018-03-17 23:02] sergiy-k commented on #1285
@sgf, did you see these sample/tests?
https://github.com/dotnet/corert/tree/master/tests/src/Simple/SharedLibrary
https://github.com/dotnet/corert/tree/master/tests/src/Simple/StaticLibrary

[2018-03-18 04:20] jkotas opened #5567 "objwriter build breaks in dwarfAbbrev.cpp"
I am getting these build errors while building objwriter using instructions from https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-ObjectWriter.md :

[code]

[2018-03-18 04:21] jkotas commented on #5567
@kbaladurin Could you please take a look? This is in the file added in your recent PR.

[2018-03-19 06:26] jcouv opened #5570 "ILVerification.dll is delay-signed"
@jkotas @MichalStrehovsky Would you know how to get ILVerification.dll actually signed? It seems to be delay-signed at the moment (and so is `ILCompiler.Build.Tasks.dll` fwiw).

[code]

The effect is that Roslyn tests can't consume the assembly in official builds (CI and such). They produce errors like:
[code]

From inspecting the binary log, I think the `DelaySign` option is last set by buildtool

[2018-03-19 07:43] #5182 closed

[2018-03-19 07:43] #5306 closed

[2018-03-19 07:49] kbaladurin commented on #5567
@jkotas I've fixed it in https://github.com/dotnet/corert/pull/5571. Thank you!

[2018-03-19 09:17] gskachkov commented on #5173
@morganbr  Release done, so I start working on task :-) Sorry for delay with implementation

[2018-03-19 14:24] MichalStrehovsky commented on #5523
There are two aspects of this:

* What the runtime depends on to execute type safe code and provide basic services like garbage collection and exception handling
* What the class libraries that .NET developers are used to need from the platform to work

At the core of CoreRT, there's a runtime that provides basic services for the code to run (think: garbage collection, exception handling, stack wa

[2018-03-19 15:42] #5567 closed

[2018-03-19 16:43] kbaladurin opened #5575 "Static members debug information"
How can I get value of the class's static member in VS?
Sample:
[code]
Result (Immediate Window):
[code]

Thank you!

[2018-03-19 16:45] kbaladurin commented on #5575
PTAL @sandreenko @davidwrighton

[2018-03-19 16:51] kbaladurin commented on #5575
Also gc, non-gc and thread statics are represented by corresponding artificial static members. Why was this way chosen? I think without such grouping debugging will be more comfortable.

[2018-03-19 21:38] hippiehunter commented on #5554
@morganbr, I've been looking at this but haven't had enough free time to make any real progress.

[2018-03-19 21:42] morganbr commented on #5554
@hippiehunter, no problem. Hopefully one of us (or another contributor) will have time at some point 😄

[2018-03-20 02:17] morganbr commented on #5173
No need to apologize; I'm happy you're helping out 😄

In the meanwhile, I implemented return value checking in the test running script, so once you start returning real values, the test should fail if they're not 42. If you want, you can also change 42 to our more standard test return value of 100.

https://github.com/dotnet/corert/blob/ce9cd701b13774174765f731834fb2cb1cf8ebfc/tests/src/Simple/Hel

[2018-03-20 09:21] fanoI commented on #5523
A clarification regarding Cosmos it does not uses CoreFx / CoreRt directly, it loads them as libraries and during compilations any native methods encountered is replaced with managed code written by us (we call this "Plug") or the compilation fails... in Cosmos C/C++ cannot exist.

The thing will be interesting for us will be to reduce in CoreFx / CoreRt the native methods so we have to plug less.

[2018-03-20 11:44] #2588 closed

[2018-03-20 19:41] fanoI commented on #5564
For example in the embedded world is typical to have little disk space (20 GB if you are lucky) so if we have a lot of Net Core app and anyone is more than 21 MB you will risk to fill all HDD!

[2018-03-20 23:31] mellinoe opened #5587 "canGetCookieForPInvokeCalliSig not implemented"
I was trying to compile this project with CoreRT: https://github.com/mellinoe/veldrid/tree/master/src/NeoDemo.

I added the latest `Microsoft.DotNet.ILCompiler` package and simply ran `dotnet publish -r win-x64`.

[code]

Any plans to implement this functionality, or is it tracked anywhere else? I searched briefly but didn't find anything.

[2018-03-21 02:56] ncsurfus commented on #5096
I'm running into the same issue, except I have a space in my account name (C:\users\nathan surfus\).

C:\Users\Nathan Surfus\.nuget\packages\microsoft.dotnet.ilcompiler\1.0.0-alpha-26320-02\build\Microsoft.NETCore.Native.targets(222,5): error MSB3073: The command ""C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Tools\MSVC\14.13.26128\bin\Hostx64\x64\link.exe"  @"obj\release\netco

[2018-03-21 04:26] jkotas commented on #5096
Thanks for reporting this. I have submitted PR with the fix.

[2018-03-21 07:12] jkotas commented on #5570
Fixed by #5582

[2018-03-21 07:12] #5570 closed

[2018-03-21 07:24] #5096 closed

[2018-03-21 09:32] MichalStrehovsky commented on #5575
This isn't implemented yet. Currently the only way to inspect these is to look at the symbol and interpret the bytes manually.

Thread statics would have to be special no matter what. We distinguish between GC and non-GC statics for perf reasons. GC statics are allocated on the GC heap and if we were to lump them together, all of them would need to be on the GC heap. Non-GC static fields can be ac

[2018-03-21 13:40] sgf commented on #5564
lots of  usage scenario need thats.
when ppl update there services.
for example 1 file is 10 mb.but if ppl has 10.thats will be 100mb.
if one is only 500kb.then the total only need 5mb.
the internet is Very unstable.Even the AWS S3 access in many parts of the world. Its speed even just a few KB.

more other Situations:
1.i think the Problem will take much more memory?am i right?
because the PE Fil

[2018-03-21 16:36] kbaladurin commented on #5575
@MichalStrehovsky thank you!

[2018-03-21 16:38] jernelson7 commented on #5524
Hi, I'm facing the same issue and the proposed solutions did not work for me. This is the exception when the app starts using the .net native compiler:

Exception thrown at 0x77384184 (ntdll.dll) in [MyAppExe]: 0xC0000139: Entry Point Not Found.

I'm building with Visual Studio 15.6.1.

Here are the nuget packages I think are relevant:
Microsoft.NETCore.UniversalWindowsPlatform 6.0.8
NETStandard.L

[2018-03-21 16:47] bderuijsscher commented on #5524
Hi @jernelson7,

I am quite sure it is caused by one of the packages. You would be best off eliminating the packages one by one to determine which is the offending package. Alternatively you could build a new project and adding the packages one by one.

In the discussions I followed there were some mentions of a certain cryptography libraries, so possibly the pclcrypto is the offending package.

A

[2018-03-21 17:05] jernelson7 commented on #5524
@bderuijsscher I will give that a shot. I was under the impression from this discussion that updating to the latest nuget version of PInvoke/PCLCrypto/etc should resolve the issue, but I have done that and it is not resolved.

[2018-03-21 17:32] jernelson7 commented on #5524
Update: I am able to reproduce this easily with a small test app. It has a Uwp project which references a .NET Standard 2.0 project. When I add PCLCrypto 2.1.17-alpha-g5b1e8dff8c to the .NET Standard project, it crashes immediately on startup with the same error.

[2018-03-21 19:34] ShiningDev opened #5593 "Issue with Process.Start()"
When I try to start an external program using Process.Start, I'm greeted with this:
![screenshot 27](https://user-images.githubusercontent.com/20741641/37733061-38e764c4-2d1d-11e8-9bc5-bed73e2bc3ac.png)

It's supposed to execute an external program which it downloaded.

[2018-03-21 19:39] ShiningDev commented on #5564
You're lucky, I usually get 7mb on my hello world program. I've tried using .net core 1.1, 2.0, and 2.1. No apparent size differences.

[2018-03-21 20:01] tijoytom commented on #5524
@jernelson7 Thanks for reporting the issue , it's the same FormatMessage issue that was discussed in this thread. I am not sure why the new package did not fix it  @AArnott would know.

Mean while here is a workaround
1. Find "SupportedAPIs-x86.xml"    on your machine , it's likely in "..Program Files (x86)\Windows Kits\10\App Certification Kit" .
2.  Rename it to say "SupportedAPIs-x86.dat" . Rec

[2018-03-21 20:01] jkotas commented on #5593
Thanks for reporting this. I have submitted the fix at https://github.com/dotnet/corefx/pull/28329 . I will show up in the CoreRT nuget packages in several days.

[2018-03-21 20:32] MichalStrehovsky commented on #5564
Make sure to pass `-c release` to `dotnet publish` when you're publishing. The default is `debug` and those builds are bigger.

Thanks for the scenarios, @fanoI and @sgf. Having executable sizes that scale based on what you're using is definitely something I want to look at in the future (#5013).

[2018-03-21 20:43] ShiningDev commented on #5593
@jkotas Is there a way I could apply your fix? I'm still very new at this

[2018-03-21 21:36] jkotas commented on #5593
You would need to clone corefx, build it and replace System.Diagnostic.Process.dll in your copy of ILC compiler package with the one you have built.

It will be a lot easier if you can effort to wait for a few days. The fix should show up in the CoreRT nuget packages that gets published regularly, and then you just need to rerun `dotnet restore` to pick up the fix.

[2018-03-22 02:48] jkotas commented on #5593
Keep this open until we get corefx update.

[2018-03-22 04:10] AArnott commented on #5524
@jernelson7 you must install the latest pinvoke.kernel32 package to apply the workaround. That is where the workaround lies... Not pclcrypto.

[2018-03-22 06:37] kbaladurin commented on #785
Generation dwarf debuginfo for types: https://github.com/dotnet/corert/pull/5542

[2018-03-22 06:39] kbaladurin commented on #783
Generation dwarf debuginfo for vars: https://github.com/dotnet/corert/pull/5542 https://github.com/dotnet/corert/pull/5550 https://github.com/dotnet/corert/pull/5592

[2018-03-22 09:15] fanoI commented on #5564
ILlinker is already used by CoreRt? Or all the .Net Framework is compiled?

Another possibility to mitigate the issue would be to:

1. Compile the Framework as a separate native DLL
2. Make all the applications use that DLL

So you transfer / install the framework native DLL only a time and the application will be more smaller having only their code inside.

[2018-03-22 09:21] fanoI commented on #5523
@jkotas does exists an "umbrella" issue on the native methods that you think can be replaced with managed code?

[2018-03-22 10:41] jernelson7 commented on #5524
@tijoytom Thanks, that does resolve the problem, but of course it needs to compile on other machines besides my own (build server, other developers, etc.), so it's not a very practical solution.

@AArnott you can see in my test app that I'm not referencing PInvoke directly, only PCLCrypto. It looks like PCLCrypto is bringing in PInvoke v0.5.126. Can you please push a new version that references 0.

[2018-03-22 11:31] gskachkov commented on #5173
Yeah, I look throw the code, so there is idea how to implement issue:

https://github.com/dotnet/corert/blob/eba7180dc25ff12d8989cc2eec2a0e7803071609/src/ILCompiler.WebAssembly/src/CodeGen/ILToWebAssemblyImporter_Statics.cs#L55
We create this function in LLVM with **_universalSignature** that is `void (int, int)`.  I'm thinking about add new constructor that can create correct signature for ie `in

[2018-03-22 12:24] CliffordSimak opened #5599 "Platform linker not found"
Hello! I just downloaded new version of VS2017 Enterprise. And now my program based on [Building a WebAPI app with CoreRT](https://github.com/dotnet/corert/tree/master/samples/WebApi) does not publish.

upd: `SampleWebApi` gives me the same issue

[code]

The program worked in the morning 🤷‍♂️

[code]

[code]

[code]
[code]

[code]

[2018-03-22 12:50] jkotas commented on #5599
Have you checked `Desktop Development for C++` when installing the VS Enterprise? Could you please open `x64 Native Tools Command Prompt for VS 2017` (you should see a shortcut to it in your start menu) and run `where link.exe` in it?

[2018-03-22 14:30] AArnott commented on #5524
@jernelson7 Yes, I understand you wouldn't naturally have a direct reference to PInvoke.Kernel32, but that _is_ the standard nuget way of bumping up a dependency library's version for your app, so it's perfectly normal.
I do have work on my PCLCrypto backlog to update PCLCrypto soon to resolve some other issues. At that time, I expect I'll bump up the PInvoke dependency version as well so that it

[2018-03-22 16:04] jkotas commented on #5523
CoreRT has class library methods like String.cs and Number.cs replaced with 100% managed code. We are incrementally integrating this goodness to CoreCLR as well. https://github.com/dotnet/coreclr/issues/9474 is the uber issue for that.

The C/C++ parts in CoreRT are centered around GC. We can use this issue to discuss that.

[2018-03-22 17:00] ShiningDev commented on #5599
Maybe you need to update `Desktop Development for C++`

[2018-03-22 17:02] ShiningDev commented on #5593
@jkotas Will the nuget update be for the `ILCompiler`, or the `Microsoft.NETCore` package?

[2018-03-22 17:50] jkotas commented on #5593
It will be for ILCompiler. The PR for it will look like this: #5601. Unfortunately, the fix that I made is incomplete. I need to do some more work on it.

[2018-03-22 19:43] ShiningDev commented on #5593
@jkotas If I really wanted to get it right now, then I'd need to build corefx, and corert with the modified dependencies.props?

[2018-03-22 20:50] jkotas commented on #5593
1. Build CoreFX with this change: https://github.com/dotnet/corefx/pull/28372
2. Overwrite System.Diagnostic.Process.dll in the ilc package that you are using with the one you have just build. On my machine, this looks like this (adjust the paths to match your environment):
`copy C:\corefx\bin\runtime\netcoreapp-Windows_NT-Debug-x64\System.Diagnostics.Process.dll C:\Users\jkotas\.nuget\packages\ru

[2018-03-22 21:17] morganbr commented on #5173
If you don't have metadata, you might be able to make return code handling unconditional by just initializing the memory you allocate for returning to zero. If main has a void return, it just won't write to that location.

Introducing a new signature could be more difficult because it would require special-casing how argument reading and returning works in generating main.

[2018-03-22 21:22] fanoI commented on #5523
decimal is all managed code in CoreRT too, right?

[2018-03-22 21:28] jkotas commented on #5523
Right

[2018-03-22 21:49] fanoI commented on #5523
It simply means that one would have to copy CoreRt Decimal.cs and Decimal.DecCalc.cs to the CoreFx / CoreRt shared partition? After having ensure that there are not differences in CoreFx (not easier to do a diff I fear as probably they are totally different).

[2018-03-22 21:51] ShiningDev opened #5603 "System.InvalidOperationException: Cannot call Set on a null context"
After I built the latest corert build, I started gettting this error when working with WebClient and httpClient

[2018-03-22 21:54] ShiningDev commented on #5564
@MichalStrehovsky I use dotnet publish -r win-x86 -c Release

[2018-03-22 22:08] jkotas commented on #5523
Yes, that is our plan for decimal. There are some performance and ABI issues to sort out before it can happen. @pentp has been working through them: https://github.com/dotnet/corert/search?q=Decimal&type=Issues

[2018-03-22 22:10] jkotas commented on #5603
Could you please share the callstack and/or repro?

cc @stephentoub This is likely related to one of the execution context optimizations. I expect that it will show up in UAPAOT runs eventually as well.

[2018-03-22 22:15] ShiningDev commented on #5603
@jkotas It only happens once it's compiled into .net native.

[2018-03-22 22:39] jkotas commented on #5603
Understood. It is likely CoreRT-specific bug. The code for handling execution contexts is not reconciled between CoreCLR and CoreRT yet, and so there can be behavior differences between the two.

Could you please add `<IlcArg Include="--stacktracedata" />` to the .csproj file, recompile and run your test? This options enables full textual stacktraces, and so the exception string will have the info

[2018-03-22 22:49] ShiningDev commented on #5603
@jkotas I'm sorry for asking a question which I would think most people would know the answer to, but where exactly should I put `<IlcArg Include="--stacktracedata" />` in the .csproj file?

[2018-03-22 22:58] fanoI commented on #5523
Regarding the GC you plan to rewrite it all in managed code?
Seeing how much performance improvement you have got respect to C++ in managed Decimal it seems really possible.

The GC is too much tiered to the compiler to be usable by other projects right?

[2018-03-22 23:32] jkotas commented on #5603
No problem ... I agree that it is not obvious where to put it. It should be inside `ItemGroup`. It does not matter where exactly. It can be the last thing in the .csproj file.

[code]

[2018-03-22 23:38] ShiningDev commented on #5603
`Unhandled Exception: System.InvalidOperationException: Cannot call Set on a null context
   at System.Threading.ExecutionContext.ThrowNullContext() + 0x2d
   at System.Threading.Win32ThreadPoolNativeOverlapped.CompleteWithCallback(UInt32, UInt32, Win32ThreadPoolNativeOverlapped*) + 0xc7
   at System.Threading.ThreadPoolBoundHandle.OnNativeIOCompleted(IntPtr, IntPtr, IntPtr, UInt32, UIntPtr, IntPt

[2018-03-23 00:33] jkotas commented on #5523
Not anytime soon. There would be no return on investment for us on that. The same goes for RyuJIT. We are not planning to rewrite the JIT in C# anytime soon either.

If you want to have a system with no C/C++, you can write a simple (non-generational, non-parallel, non-background, etc.) GC in C# to get it off the ground.

GC is pretty general purpose. For example, Midori project was using the .NET

[2018-03-23 00:49] jkotas opened #5604 "Net Native compilation fails with Out of Memory (Xamarin/UWP)"
_From @sebastianfilke on March 22, 2018 13:54_

We have a big problem with the net native compilation in a relative big project.
The release build only works if we disable the option “Compile with .NET Native tool chain” or “Optimize code”.
Otherwise the build takes up to 10 minutes and ends with an out of memory error.

The build log file is attached: [build.log](https://github.com/dotnet/core/fi

[2018-03-23 00:49] jkotas commented on #5604
_From @Petermarcu on March 22, 2018 23:26_

@jkotas do you know where this issue should get tracked/discussed?

[2018-03-23 00:50] jkotas commented on #5604
cc @sergiy-k @MattWhilden

[2018-03-23 00:55] sergiy-k commented on #5604
@hoyMS, could you please take a look? It seems NUTC fails due to OOM:
Error: NUTC300F:Internal Compiler Error: Native compilation failed due to out of memory error

[2018-03-23 05:18] #5603 closed

[2018-03-23 05:49] sebastianfilke commented on #5604
Further information's: we tried this on several machines. all equipped with 16GB ram. 200 GB free space on disk and newest intel core processors. it doesn't matter.

[2018-03-23 07:15] sebastianfilke commented on #5604
Microsoft Visual Studio Professional 2017
Version 15.6.2
VisualStudio.15.Release/15.6.2+27428.2005
Microsoft .NET Framework
Version 4.7.02556

Installed Version: Professional

Visual F# Tools 10.1 for F# 4.1   00370-20000-91176-AA803
Microsoft Visual F# Tools 10.1 for F# 4.1

Application Insights Tools for Visual Studio Package   8.11.10212.1
Application Insights Tools for Visual Studio

ASP.NET a

[2018-03-23 09:02] fanoI commented on #5523
So Midori had the GC as native code?

[2018-03-23 11:08] MichalStrehovsky commented on #5564
We don't use ILLinker, but everything gets naturally treeshaken by the compiler itself (we start with compiling `Main`/`NativeCallable` exports and continue compiling other methods and generating necessary data structures as we go). If there's a type or method that is not used, the compiler doesn't even look at it.

We currently only have that compilation option in [.NET Native for UWP apps](https

[2018-03-23 14:41] jkotas commented on #5523
They had several GCs for different purposes. The CLR GC was one of the options. There are clues about that in the code, e.g. here: https://github.com/dotnet/coreclr/blob/master/src/gc/gcpriv.h#L40

They have used a similar strategy for other algorithm heavy well-isolated components. For example, I do not think they have rewritten the JavaScript engine in C# for their browser. They just used https:

[2018-03-23 15:58] hoyMS commented on #5604
Yes, I confirm it is a NUTC OOM failure. A solution is to use the 64bit NUTC.

[2018-03-23 16:37] sergiy-k commented on #5604
@hoyMS. could you please provide instructions?

[2018-03-23 16:56] hoyMS commented on #5604
Sure. To enable the 64bit compilation all you need is to add the Use64BitCompiler property to the specific group in the csproj file you are compiling.

Take the $(Platform)' == 'Release|x86' as an example,

<PropertyGroup Condition="'$(Configuration)|$(Platform)' == 'Release|x86'">
<OutputPath>bin\x86\Release\</OutputPath>
<DefineConstants>TRACE;NETFX_CORE;WINDOWS_UWP</DefineConstants>
<Optimize>t

[2018-03-23 16:56] hoyMS commented on #5604
Sure. To enable the 64bit compilation all you need is to add the Use64BitCompiler property to the specific group in the csproj file you are compiling.

Take the $(Platform)' == 'Release|x86' as an example,

[code]
Then reload the solution file in Visual Studio and rebuild. To check if it triggers the 64bit compilation, go to the compilation log file located in your object folder.You should see the

[2018-03-23 19:06] ShiningDev commented on #5593
@jkotas I compiled the latest version of CoreFX, and followed your steps, and I'm getting this error: `Unhandled Exception: EETypeRva:0x005D1098: Interop+Kernel32+STARTUPINFO is missing structure marshalling data. To enable structure marshalling data, add a MarshalStructure directive to the application rd.xml file. For more information, please visit http://go.microsoft.com/fwlink/?LinkID=393965

[2018-03-23 19:16] jkotas commented on #5593
The latest version of corefx does not call System.Runtime.InteropServices.Marshal.SizeOf on STARTUPINFO at all after dotnet/corefx#28372 got merged. So you are not picking up the latest corefx bit for some reason.

I have just merged the fix into corert (#5608). The next ILCompiler package published at
 https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.DotNet.ILCompiler is going to

[2018-03-23 19:16] #5593 closed

[2018-03-23 19:48] sergiy-k commented on #5523
Right. Midori used the CLR GC for application processes.
Midori kernel, on the other hand, had a concurrent copying collector written in C#.

[2018-03-23 21:15] MichalStrehovsky commented on #5587
Thanks for reporting it! We don't track this anywhere because we didn't hit it yet. Seems like this is from a `calli` to a p/invoke. I'll have a look if we can do something easy there in the next couple of days.

[2018-03-23 21:36] mellinoe commented on #5587
Yes, that's likely, and it's probably from [this library](https://www.nuget.org/packages/vk). If that's the case, then a simpler repro could probably be created from that package alone.

[2018-03-23 22:03] jkotas commented on #2703
It works for me too. I assume that this issue can be closed.

[2018-03-23 22:03] #2703 closed

[2018-03-23 23:28] up2pixy opened #5611 ".Net Native tool chain - UWP won't launch when using Microsoft.NETCore.UniversalWindowsPlatform 6.0.x"
We have a centennial UWP app which is using `Microsoft.NETCore.UniversalWindowsPlatform 6.0.x`.
It has UWP part, WPF part, and a .NetStardard 1.4 part for shard components

It can build and run normally with debug build configuration, but when building with release (compile with .Net Native tool chain) the app won't launch.

When I check the event viewer, I see following errors:
`The server xxxxxx

[2018-03-23 23:31] jkotas commented on #5611
cc @sergiy-k

[2018-03-24 00:03] sergiy-k commented on #5611
Hi @up2pixy! For issues related to .NET Native for UWP, the usual thing we recommend is to send email at dotnetnative@microsoft.com. There are more people on that alias who will be happy to support you with the UWP ahead of time compiler (".NET Native"). This repo is focused on CoreRT not the UWP .NET Native tools and isn't a great place to get help for these things.

[2018-03-24 14:42] fanoI commented on #5523
I think it is a pity that Midori remained only a research project... I would loved to have Windows 8 based on that technology! In the end Windows NT kernel is year '90s technology...

[2018-03-25 11:23] morganbr opened #5614 "Dup opcode redoing loads instead of remembering results"
The ```dup``` opcode implementation isn't remembering loaded values, it's redoing their loads. Usually that's the same, but in the case of:
[code]
The compiler generates
[code]
Due to this bug, it stores the incremented value and then reloads it instead of remembering the previous value (and ends up writing to the wrong array index).

[2018-03-25 11:24] morganbr commented on #5554
I think I figured it out (at least well enough to get through the existing tests without crashing). There were two problems:
1. https://github.com/kripken/emscripten/issues/6259 meant that we had various memory corruption passing pointer-sized structs between managed and native code (including TypeManagerHandle and EETypePtr)
2. The ```dup``` opcode implementation isn't remembering loaded values,

[2018-03-26 07:47] CliffordSimak commented on #5599
Thanks guys, I  updated `Desktop Development for C++` and it works. I don`t know why VS deleted my `C++` libraries.

[2018-03-26 07:47] #5599 closed

[2018-03-27 15:06] akyildizfirat opened #5627 "Internal.TypeSystem.TypeSystemException+TypeLoadException: [TEMPORARY EXCEPTION MESSAGE]"
I am trying to create a single executable file targeting x86 windows, from a .net core 2.0 project. The command that I execute on x86 Native Tools Command Prompt for VS 2017 is :
[code]
Here is the output I get :
[code]

This is my csproj file :

[code]

I have tried every solution I have found online with no luck so far. Can someone please point me in the right direction ?

Thanks in advance.

[2018-03-27 15:29] jkotas commented on #5627
CoreRT does not support Reflection.Emit (https://github.com/dotnet/corert/issues/5011). Also, it works on x64 only; no x86 yet (https://github.com/dotnet/corert/issues/4589).

[2018-03-27 15:42] akyildizfirat commented on #5627
I didn't know about Reflection.Emin, and I thought x86 was supported from https://github.com/dotnet/corert/pull/4598

Nevertheless, thank you for your response.

[2018-03-27 15:42] #5627 closed

[2018-03-28 12:41] kbaladurin opened #5635 "[Linux/ARM] Breakpoints in managed code doesn't work properly"
Breakpoints in managed code didn't work properly in gdb and lldb on arm. They break program execution (lead to sigsegves, sigbuses and freezes). The reason of such behavior is that debuggers cannot determine which instruction set is used (arm/thumb) and assumes that it's arm. So debuggers use arm breakpoint opcode for thumb code.

gdb and lldb uses different approaches to determine instruction set

[2018-03-28 16:02] jkotas commented on #5635
We need all managed code to be together for the code manager to work. Also, we wanted to allow linking multiple object files with managed code into a single final binary (https://github.com/dotnet/corert/search?q=MultiModule has the relevant work). It lead us to the current design where managed code has its own section.

I think that the options to fix this maybe:
- Do not use own section for mana

[2018-03-28 16:15] kbaladurin commented on #5635
@jkotas thank you! I think such change can be accepted for lldb. For example, there is similar code for [MachO](https://github.com/llvm-mirror/lldb/blob/b99d21cd912a5396878337f8d64dd63b782fea3b/source/Plugins/ObjectFile/Mach-O/ObjectFileMachO.cpp#L1439):
[code]
I'll try to propose it for ELF.

[2018-03-29 17:33] #730 closed

[2018-03-30 14:26] #5604 closed

[2018-04-01 13:15] christianscheuer opened #5645 "Method not found: System.ReadOnlyMemory`1<Byte>.Retain(Boolean) -> System.Buffers.MemoryHandle"
I'm hitting a `MissingMethodException` in the `ReadOnlyMemory<T>` class when using a HttpClient. I suspect this might be a case of mismatching dependencies / the API change for Span/Memory that hasn't completely solidified yet. Is there a workaround for this or will it resolve itself when the dependencies get in sync?

[code]

[2018-04-03 14:25] xoofx opened #5647 "Assembly.Location returns null"
From a discussion  #5017:

Even the mapping from logical assembly to native executable is 1:n (1 managed assembly can be spread into multiple native executables - think a shared library that has some commonly used types from e.g. System.Private.CoreLib in it, and an app EXE that needs a less common type from CoreLib)

I'm typically using `Assembly.Location` to load resources (e.g native shared lib

[2018-04-03 23:08] zpodlovics opened #5648 "F# HelloWorld fails with ILCompiler.CodeGenerationFailedException: Code generation failed ---> ILCompiler.ScannerFailedException: VTable of type 'Microsoft.FSharp.Core.FSharpFunc`2<Microsoft.FSharp.Core.Unit, System.__Canon>' not computed by the IL scanner."
I have modified the HelloWorld [1] example to F# and tried to compile it with CoreRT.
[helloworld.zip](https://github.com/dotnet/corert/files/1873738/helloworld.zip)

The ILCompiler fails with the following message:

[code]

Using a more recent version (4.3.*) of F# dependency have the same problem (by modifying the fsproj file):
[code]

The exception seems to raised from here:
https://github.com/

[2018-04-04 00:06] charlesroddie commented on #5648
Would it make sense to discuss this in this thread instead? https://github.com/dotnet/corert/issues/2057

[2018-04-04 18:48] enoch85 commented on #4552
**bump**

[2018-04-04 20:58] MichalStrehovsky commented on #5647
Yes, either that, or `AppContext.BaseDirectory` (which really is just a shortcut to get to that, but it can be optionally overriden by the CLR host on the CLR).

[2018-04-04 21:15] janvorli commented on #4552
The Alpine has been enabled end to end in the middle of December 2017.

[2018-04-04 21:25] #5645 closed

[2018-04-05 04:59] #5647 closed

[2018-04-05 07:58] am11 commented on #4552
CoreRT-specific remaining item is ObjectWriter package for Alpine, tracked by https://github.com/dotnet/corert/issues/5177.

[2018-04-05 08:39] janvorli commented on #4552
@enoch85 no, we are not providing alpine native packages ourselves and we don't have a plan to do that. Once our "build from sources" effort is complete, we think that distro owners could use it to build their packages themselves.
We are providing a .tar.gz file instead. You can get the latest SDK package here:
https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-alpine.3.6-

[2018-04-05 09:17] ShalokShalom commented on #4552
Sounds nice :)

[2018-04-05 09:28] enoch85 commented on #4552
@janvorli I'd love to be able to install dotnet with @alpinelinux packaged manager `apk`. Is it up Alpine to add that or @microsoft to support it?

Sorry if I'm not completlety understand how this works. I would want it to work similar to how Ubuntu / Debian / Red Hat / Centos does it according to the Microsoft documentation.

[2018-04-05 09:41] janvorli commented on #4552
@enoch85 our plan was to provide deb and rpm packages only since they cover a large subset of the distros and leave the production of other packages on the distro owners. But to enable them to do that, we need to finish the build from sources effort (https://github.com/dotnet/source-build) I have mentioned above that will allow the distro owners to build the whole product end to end from sources w

[2018-04-05 09:54] enoch85 commented on #4552
@janvorli Thanks for the explanation! Now it makes more sense.

Do you have any ETA on the "sources effort"?

[2018-04-05 09:55] janvorli commented on #4552
@weshaggard might be able to provide more details on the ETA.

[2018-04-05 15:43] weshaggard commented on #4552
We don't have an exact ETA but you your interested you can watch the work going on in the repo at https://github.com/dotnet/source-build. There are still lots of challenges to figure out, especially around keeping a consistent set of source hashes across many repos.

[2018-04-05 16:25] MichalStrehovsky opened #5653 "UseDeveloperExperiencePage in the ASP.NET demo app doesn't work"
Reported at https://vimeo.com/262938007 but I haven't tried to repro yet. We either just miss a piece of RD.XML in the sample or it's a legit bug.

[2018-04-05 16:29] mrkmg opened #5654 "Clang 6.0 Support for Linux"
I am trying to test CoreRT on Arch Linux.

When I run `dotnet publish -c Release -r linux-x64` I get:

[code]
I currently have clang 6.0 installed on my machine.

[2018-04-06 02:44] jkotas commented on #5654
I agree that we need to have some kind of auto-detection for this.

In the meantime, you should be able to work around this by doing `export CppCompilerAndLinker=clang-6.0`. This will override the hard coded clang-3.9 default.

[2018-04-06 09:29] enoch85 commented on #4552
@weshaggard @janvorli Thanks guys!

[2018-04-07 02:35] #5554 closed

[2018-04-07 02:36] morganbr commented on #5173
@gskachkov, unfortunately, I needed to fix this to finish #5621. I appreciate you looking into it and we'd love to have you pick up another work item.

[2018-04-07 02:36] #5173 closed

[2018-04-07 02:37] morganbr commented on #4515
@hippiehunter, I finally got module initialization merged, so your interface dispatch change should work now.

[2018-04-07 22:01] MichalStrehovsky opened #5661 "Bad codegen in Boolean::TryParse"
`TryParse(ReadOnlySpan<char> value, out bool result)` [accesses two string literals](https://github.com/dotnet/corert/blob/7ce5d362dd49aeacf40071b1623181b2a477583a/src/System.Private.CoreLib/shared/System/Boolean.cs#L202-L235) and makes a Span out of them - "True" and "False".

RyuJIT with optimizations enabled will reuse the first Span for "True" instead of making a new one for "False".

To repro

[2018-04-07 22:07] MichalStrehovsky commented on #5661
Blocking AvaloniaUI/Avalonia#1476.

@sandreenko Is my analysis remotely correct? Could you point me in the right direction?

JitDump:
[jitdump.txt](https://github.com/dotnet/corert/files/1886765/jitdump.txt)

The interesting lines are the ones with `(reloc 0x421150)` and `(reloc 0x421158)` - those are the string literal loads. Notice how we touch the second reloc, but then don't do anything with i

[2018-04-07 22:18] MichalStrehovsky opened #5662 "Support for building GUI applications on Windows"
This tracks adding support for `OutputType=Winexe` in projects published with CoreRT. This will help things like MonoGame games, and Avalonia.

We currently treat everything that is not `Library` as `Exe`. This means there's an ugly console window open for all programs.

Rough set of workitems:
- [x] Pipe through `Winexe` as a [command line option](https://github.com/dotnet/corert/blob/7ce5d362dd4

[2018-04-08 20:44] sandreenko commented on #5661
Thanks for your analysis, it looks correct, I will try to fix it asap.

[2018-04-09 04:13] charlesroddie commented on #2057
Can anyone put a test repo online? Just a hello world project? Then we can start testing to see what works and doesn't work.

[2018-04-09 12:57] MichalStrehovsky opened #5664 "Unix dlopen probing support"
Reported on Gitter by @jmacato.

[code]

We probably need to emulate whatever probing CoreCLR does for this. A quick search in `dllimport.cpp` in CoreCLR didn't yield anything useful.

The place to update on our side would be around

https://github.com/dotnet/corert/blob/b0699ed719f80cee352459c9ca87e2e14a06f320/src/System.Private.CoreLib/src/Internal/Runtime/CompilerHelpers/InteropHelpers.cs#L225-

[2018-04-09 14:36] jkotas commented on #5664
It is done here: https://github.com/dotnet/coreclr/blob/e5a17bac5f0fd0b0137be7c8cf23391adc59958f/src/pal/src/loader/module.cpp#L1652

[2018-04-09 15:49] MichalStrehovsky commented on #5664
Thanks!

In that case, we should probably just copy-paste that logic into here to avoid adding extra infrastructure to expose the macro to managed code:

https://github.com/dotnet/corert/blob/b0699ed719f80cee352459c9ca87e2e14a06f320/src/Native/System.Private.CoreLib.Native/pal_dynamicload.cpp#L7-L10

[2018-04-10 16:53] jkotas opened #5672 "[x86] RyuJIT jitting crash"
_From @BredPet on April 10, 2018 16:12_

I try to compile some sample by ILC(CoreRT) compiler for ARM in cross mode. In debug mode there is no problem, but in release with -O3 there is an issue in dllimport.
Backtrace:
[code]
asm:
[code]
it's strange bug, if I allocate LoadLibErrorTracker by "new" instead just on stack, issue is disappeared.
In other working places esp value like 0xffffbc30, align

[2018-04-10 16:53] jkotas commented on #5672
_From @mikedn on April 10, 2018 16:31_

You mean aligned 16, `movaps` expects that.

Most likely. AFAIR the native x86 Linux compiler(s) expect the stack to be 16 bytes aligned these days and some VM code likely fails to maintain alignment.

[2018-04-10 16:53] jkotas commented on #5672
This looks like a calling convention mismatch (stdcall vs. cdecl) in CoreRT.

From cursory review, the fix may look like something like this: https://github.com/jkotas/corert/tree/callconv (I have not tested this).

[2018-04-10 17:14] BredPet commented on #5672
Ok, I'll take a look. I fixed some callconv-s in CoreRT too, while fixing release mode. Maybe I missed something.

[2018-04-10 21:46] sergiy-k commented on #5664
@A-And, could you please port the change from CoreCLR to fix this issue?

[2018-04-10 22:58] jkotas opened #5674 "HttpClient GetAsync with https (on windows) does not work"
Reported by @abydal on gitter. From https://gist.github.com/abydal/e235558bad6f73ed96964697dc0eaec3:

[code]

[2018-04-11 00:15] hippiehunter commented on #4515
@morganbr
I've rebased with the current changes but im still running into a problem with DispatchResolve.FindInterfaceMethodImplementationTarget returning null. I updated https://github.com/hippiehunter/corert with my current attempts if you want to take a look at it.

[2018-04-11 02:30] morganbr commented on #4515
Do you have an idea of where it gets disconnected? Looking at the text form of the bc file, it looks like we're now emitting InterfaceDispatchMaps that are aggregated into DispathMapTableStart. Looking through FindmplSlotInSimpleMap, it looks like the indirections are eetype->DismatchMap, DispatchMp->_dispatchMap and then DispatchMapEntry->_usImplMethodSlot.

[2018-04-11 07:35] BredPet commented on #5672
I fixed eeMemoryManager too one week ago ;-) No, it doesn't fix this issue, but I'll look for other similar places.

[2018-04-11 08:48] BredPet commented on #5672
I found. I will prepare the corresponding PR. This was the last nail for x86->arm HelloWorld release build(CoreRT, CoreCLR, CoreFX) with -O3) We forgot about dllmport attributes in C#, by default it loads funcs with non-stdcall attribute in CoreRT, but some funcs with this attribute in CoreCLR.

[2018-04-11 13:35] #5672 closed

[2018-04-11 14:06] jkotas opened #5680 "Implement .NET Core 3.0 GC APIs"

[2018-04-11 16:43] christianscheuer opened #5682 "Question: Is there a way to catch native exceptions in other threads?"
In our production macOS app (which has been built on corert since April 2017 !) we are sometimes experiencing bugs that come from native exceptions being thrown on other threads, or native exceptions that we somehow miss to catch in other ways.

Since our logging and error handling infrastructure is in C#, it would be great if there was a way to deal with these native exceptions somehow - without

[2018-04-11 20:02] #5664 closed

[2018-04-11 21:39] jkotas commented on #5682
Nice :-)

When you say native exceptions, do you mean C++ exceptions? Are you worried about the case where they hit C# code; or are you worried about the case where they go completely unhanded?

Yes, it would be useful to get to the bottom of this. It does not look right. We need to find out what is consuming 100% CPU. Could you please attach debugger and look at the threads? Do you happen to know

[2018-04-12 09:42] matekm commented on #4522
@morganbr that's up for grabs. Can I start working on it?

[2018-04-12 20:10] #5648 closed

[2018-04-12 20:57] morganbr commented on #4522
@matekm, thanks for the interest. It's all yours!

[2018-04-12 20:59] morganbr commented on #5662
Ideally ILC wouldn't have to take subsystem as a command line argument since it should already be set in the input binary. That said, if ```dotnet build``` can't produce winexes, it's an ok override (and maybe worth filing an issue in the CLI repo).

[2018-04-12 21:16] jkotas commented on #5662
There are several issues on this already: https://github.com/dotnet/core-setup/issues/196 + linked issues.

[2018-04-12 21:50] MichalStrehovsky commented on #5662
The main workitem is just about transforming the `Winexe` MSBuild property into a `/subsystem` argument for the linker. ILC.exe wouldn't be involved in that.

The second workitem would be ILC.exe work, but instead of passing arguments specifying `console` or `gui`, we should just externalize [this list](https://github.com/dotnet/corert/blob/657a36664050c9c5f0053a341d5f99b5d6588dd6/src/ILCompiler.C

[2018-04-13 04:33] #5661 closed

[2018-04-13 13:53] agallero opened #5699 "Multi-dimensional arrays are converted wrong in .NET Native"
When using the .NET Native toolchain, the "as" operator can convert a 1-dimensional array to a multi-dimensional array.

Steps to reproduce:
1. Create a new UWP blank application.
2. Set the properties to "Compile with .NET Native toolchain"
3. Add a button, and paste the following code in the event handler:

[code]

This code correctly sets test2 to null in all .NET platforms except .NET native.

[2018-04-13 14:27] MichalStrehovsky commented on #5699
Thanks for reporting this! Hmmm... this was fixed 2 years ago in #1558. Let me dig out why the fix is not there.

[2018-04-13 14:36] #5177 closed

[2018-04-13 14:46] #3278 closed

[2018-04-13 15:25] MichalStrehovsky commented on #5699
This was some unfortunate timing. I fixed the issue for the open source compiler in July 2016. At that time, only the open source compiler was generating multidimensional arrays this way (the UWP compiler was using a different representation). The UWP compiler switched to using the open source representation in September 2016 (90698bcde54ddc0eb7c1c452cef6641f8b73bbac).

Unfortunately, the closed s

[2018-04-13 18:15] Krakean commented on #5662
+1. My Game engine project also blocked due this

[2018-04-13 18:17] Krakean commented on #5587
@MichalStrehovsky +1, can't use SharpDX due this :-\

[2018-04-13 18:32] dominik-weber commented on #5699
@MichalStrehovsky do you mean setting the Min version to Fall Creators Update? I have tried using Microsoft.NETCore.UniversalWindowsPlatform 6.0.8 with UWP MinVersion 10586 and TargetVersion 16299 with no luck.

[2018-04-13 19:17] MichalStrehovsky commented on #5699
Microsoft.NETCore.UniversalWindowsPlatform >= 6.0.0 has a dependency on new APIs introduced in the fall creators update to support NetStandard 2.0.

You need to set the MinVersion, otherwise it silently falls back to the 1.7 version of the compiler/runtime that has the bug.

[2018-04-14 09:12] feliwir commented on #5587
@MichalStrehovsky +1 we are hitting this issue aswell in our project. Would greatly appreciate a fix

[2018-04-15 11:27] tonerdo commented on #4988
Full `clang` command:

[code]

Resulting `ld` command:

[code]

[2018-04-15 17:13] ptMuta opened #5704 "Unable to compile when using System.ServiceProcess.ServiceController"
Hey!

I've been experimenting with the CoreRT for a while now and I'm attempting to compile a windows service to a native binary. The compilation goes through fine otherwise and I can run my code in non-service mode just fine, but when attempting to run it as a service I run into the following metadata marshaling issue:

[code]

Now since `Interop.Advapi32` is imported via static reference from th

[2018-04-15 17:16] adamsitnik opened #5705 "Checking allocated memory with GC.GetAllocatedBytesForCurrentThread()"
Hi!

I am currently implementing CoreRT support for BenchmarkDotNet.

One of the features of BDN is a `MemoryDiagnoser` which tells the user how much memory was allocated. We have a lot of integration tests for the accuracy of the diagnoser. When I added CoreRT to the list of supported runtimes, one of the tests have failed.

It looks that it takes **72** bytes to allocate `Task.FromResult(default

[2018-04-15 18:10] jkotas commented on #5705
CoreRT is missing some of the CoreCLR threading/task related perf improvements. Unifying the CoreRT/CoreCLR Task implementation is on our back log:

https://github.com/dotnet/corert/issues/2640
https://github.com/dotnet/coreclr/issues/9474

[2018-04-15 18:30] #5705 closed

[2018-04-15 18:31] adamsitnik commented on #5705
@jkotas thanks!

[2018-04-15 21:40] jkotas commented on #5704
Yes. I have submitted PR: https://github.com/dotnet/corefx/pull/29128/ . It will take several days before the change is merged and the bits show up in the published CoreRT packages.

[2018-04-15 21:43] jkotas commented on #5704
@ptMuta Thanks for reporting this!

[2018-04-15 22:01] ptMuta opened #5706 "Unable to establish SSL connection when using System.Net.WebClient"
Hey!

Thank you for your rapid resolution on #5704 @jkotas excellent work!

Got another one straight off the bat. The following issue happens when attempting to establish an encrypted connection for a file download using `System.Net.WebClient.DownloadFile`.  According to the stack trace the issue seems to be originating from [SSPIWrapper](https://github.com/dotnet/corefx/blob/437e8823028d09ad5c62e

[2018-04-15 22:10] jkotas commented on #5706
This is dup of #5674. I am working through it.

[2018-04-15 22:10] #5706 closed

[2018-04-15 22:11] ptMuta commented on #5706
Looks like quite a job. I started skimming through it a bit 😬

[2018-04-16 13:35] exts opened #5708 "Issue building Linux-x64 on windows 10 (Exit Code: 9009)"
I have a monogame project (nothing added to it yet) and I tried publishing the `win-x64` version without a problem. Then I proceeded to do the same using the `linux-x64` RID.

This got spit out

[code]

Now without ILCompiler I had no issues building win-x64/linux-x64 or mac-x64 on my windows 10 pc using the publish command. What can be causing this and how can I fix it?

Now the file does exist o

[2018-04-16 14:08] jkotas commented on #5708
CoreRT does not support cross-compilation yet. You have to be on Linux to publish for Linux. If you typically work on Windows, a convenient way to do that is using https://docs.microsoft.com/en-us/windows/wsl/ or docker.

This is duplicate of #5458.

[2018-04-16 14:08] #5708 closed

[2018-04-16 14:44] jkotas commented on #5708
I am adding a better error message for this in https://github.com/dotnet/corert/pull/5709

[2018-04-16 15:18] exts commented on #5708
Alright, thanks.

[2018-04-16 17:01] jkotas opened #5710 "AF: !method.IsCanonicalMethod(CanonicalFormKind.Any) || method.GetCanonMethodTarget(CanonicalFormKind.Specific) == method"
Repro:

[code]

Result:

Assertion failure in `ReflectableMethodNode::.ctor`:
[code]

[2018-04-16 17:01] jkotas commented on #5710
@MichalStrehovsky PTLA

[2018-04-16 18:51] jkotas commented on #5704
Wait for the change to propagate to CoreRT

[2018-04-16 19:52] jkotas opened #5713 "Bad code generated for GetType() in generic code with optimizations on"
Repro:

[code]

[2018-04-17 05:14] jkotas opened #5717 "Enable support DllImport a native assembly whose name contains '.'"
Port https://github.com/dotnet/coreclr/pull/17505 to CoreRT

[2018-04-17 06:03] luqunl opened #5719 "Incorrect prefix appended when the native library lives in "relative" directory in Unix"
The issue is found by Jkotas:

https://github.com/dotnet/coreclr/blob/9d45401c6056a5b9c92d036e25c34ad34c03385e/src/vm/dllimport.cpp#L6054

libNameIsRelativePath is going to be true for a paths like:
XXX\YYY\library
or
\XXX\YYY\library.

On Unix, we will end up trying paths like:
**lib**XXX\YYY\library.so
or
**lib**\XXX\YYY\library.so.

[2018-04-17 06:10] jkotas commented on #5719
This issue was moved to dotnet/coreclr#17604

[2018-04-17 06:10] #5719 closed

[2018-04-17 12:41] markrendle opened #5720 "samples/WebApi doesn't work with .NET Core 2.1"
I encountered this on my own project, so I tried with the WebApi sample and got the same issue.

I tested before changing anything and everything worked.

I updated the `csproj` file to use 2.1 instead of 2.0, so it now looks like this:

[code]

I had to remove the `Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv` entry from `rd.xml` because 2.1-preview2 no longer uses `libuv`.

With those cha

[2018-04-17 13:41] #5699 closed

[2018-04-17 13:50] MichalStrehovsky commented on #5704
Hasn't propagated yet.

[2018-04-17 13:55] dominik-weber commented on #5699
@MichalStrehovsky Updating the MinVersion is not an option for us right now because a large part of our commercial users still have pre-FCU Windows 10 versions installed. I reckon it will take at least a few months or a year until most of our users will have the update. Are there any plans to fix this bug in the 1.7 version in the mean time? Or are there any downsides to using the NuGet version 5.

[2018-04-17 17:56] jkotas commented on #5720
ASP.NET dependency injection introduced dependency on Reflection.Emit in https://github.com/aspnet/DependencyInjection/pull/630 unfortunately. It makes it incompatible with CoreRT.

We can make it functional in CoreRT AOT environment by introducing IL interpretter (https://github.com/dotnet/corert/issues/5011), but it would still perform poorly. The dependency injection framework is using Reflecti

[2018-04-17 18:16] markrendle commented on #5720
That's annoying. Thanks for the explanation though.

[2018-04-18 11:36] jkotas commented on #5720
It may be possible to workaround this by using netstandard2.0 build of DependencyInjection that does not have the dependency on Reflection.Emit: https://github.com/aspnet/DependencyInjection/pull/630/files#diff-499bed1ac3743837d217bcbe8bad072fR9

[2018-04-18 14:33] potudopotudo opened #5725 "Span<T> and friends not working in .NET Native UWP app"
Basically my problem is described [here](https://stackoverflow.com/questions/49900009/spant-and-friends-not-working-in-net-native-uwp-app?noredirect=1#comment86819178_49900009)

I cannot compile in .Net Native using System.Memory Span<T> code. I get a .net native targets error.

[2018-04-18 14:35] MichalStrehovsky commented on #5725
System.Memory is in prerelease status and doesn't work yet with .NET Native. The next version of .NET Native compiler will have support for this.

[2018-04-18 14:35] #5725 closed

[2018-04-18 15:07] potudopotudo commented on #5725
You know when the next .Net Native version is gonna be available? Can't wait to use Span<T>.

[2018-04-18 19:48] jkotas commented on #5704
Fixed by #5724. Please give it a try.

[2018-04-18 19:48] #5704 closed

[2018-04-18 21:08] morganbr commented on #5720
It looks like ASP.NET might have also kept the expression-based DI engine based on ServiceProviderOptions.Mode (along with a couple other modes that might be faster than expressions while still AoT friendly). I'd suggest seeing if there's a way to control that from user code.

[2018-04-18 21:49] MichalStrehovsky commented on #5713
This is because we report `CORINFO_INTRINSIC_Object_GetType` as an intrinsic to RyuJIT and there are things that are probably different between CoreCLR and CoreRT here. Maybe just comment that line out and add a reference to the #5180 catchall bucket?

[2018-04-18 21:52] jkotas commented on #5713
Sounds reasonable to me.

[2018-04-18 22:38] MichalStrehovsky commented on #4444
I think all issues here have been fixed.

[2018-04-18 22:38] #4444 closed

[2018-04-18 23:54] #5710 closed

[2018-04-19 02:38] #5713 closed

[2018-04-19 08:24] Scellow opened #5730 "Weird error with .NET Core 2.1 (Preview 2)"
I installed latest preview of Core 2.1 and i'm now getting that error message whenever i try to run `` dotnet publish -r win-x64 -c release``

[code]

[2018-04-19 11:15] Scellow commented on #5730
I tested on a different OS and it works (macOS 10.13.4)

[2018-04-19 11:31] Scellow commented on #5730
Oh nvm, it now works, i reinstalled it and rebooted my PC!

[2018-04-19 11:31] #5730 closed

[2018-04-19 14:08] Scellow opened #5731 "Unsupported marshalling ?"
I'm getting this:

[code]

Using this library: https://www.nuget.org/packages/CoreCompat.System.Drawing.v2/5.2.0-preview1-r131

[2018-04-19 14:28] jkotas commented on #5731
We do not have any COM interop support in CoreRT today.

Duplicate of https://github.com/dotnet/corert/issues/4219

[2018-04-19 14:28] #5731 closed

[2018-04-19 15:29] markrendle commented on #5720
Is there any way I can force the build to use the `netstandard2.0` DLL over the `netcoreapp` one when my console application is targeting `netcoreapp`?

[2018-04-19 16:02] markrendle commented on #5720
Hmm... outside of the incredibly hacky "add a pre-build step to modify the `project.assets.json` file and change the `compile` and `runtime` entries on the target to `netstandard2.0` instead of `netcoreapp2.0`.

I'm away from my project at the moment, but I'll try that when I get back to it.

[2018-04-20 16:39] mattwarren opened #5732 "Duplicate versions of ThreadStart.cs"
I don't know if it matters or not, but after digging around in the source I noticed that there are 2 identical versions of `ThreadStart.cs`:

- [src/System.Private.CoreLib/src/System/Threading/ThreadStart.cs](https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Threading/ThreadStart.cs)
- [src/System.Private.CoreLib/shared/System/Threading/ThreadStart.cs](https://gith

[2018-04-20 17:48] jkotas commented on #5732
Thanks for reporting this. The copy under src is dead code. Fix is in #5734

[2018-04-20 18:17] #5732 closed

[2018-04-22 00:49] tonerdo commented on #5011
@jkotas looking to take a first pass at this. However, I have a couple of questions:

* The `OnEntryPoint` method returns an `IntPtr` which I'm guessing points to the native compiled code. How will this work in the context of the interpreter.
* Considering CoreRT ships without a JIT, at what point is the `RyuJitExecutionStrategy` used? Where in the code can I find it?

[2018-04-22 01:58] jkotas commented on #5011
CoreRT has capability to manufacture entrypoints. Look for `CallConverterThunk.MakeThunk` for an example. The call converter is sort of a mini-interpreter that just changes once calling convention to a different one.

Code under src\System.Private.Jit was a prototype for JIT support in CoreRT. It was able to run a few methods, nothing extensive. It does not ship, and it is not used in the default

[2018-04-22 03:52] morganbr commented on #4515
@hippiehunter, I found the bugs and have a PR to fix them in #5735. Once that's in, your changes should work.

[2018-04-22 11:06] wieslawsoltes opened #5736 "GC in GCLatencyMode.Interactive mode causes the app hang"
This is call stack from attached VS2017 debugger
[code]

This is my code where it hangs: https://github.com/wieslawsoltes/Core2D/blob/b1a1267b45a886f277580a0d62d24592179bc470/src/Core2D.Editor/ProjectEditor.Impl.cs#L182-L188

When I set this flag:
[code]
than the app works.

NuGet: microsoft.dotnet.ilcompiler.1.0.0-alpha-26421-01

![devenv_2018-04-22_13-03-10](https://user-images.githubusercontent

[2018-04-22 11:34] wieslawsoltes commented on #5496
I have run into same issue:
[code]
Copying the clrcompression.dll dll fixes the issue for now.

[2018-04-22 14:42] wieslawsoltes commented on #5736
@jkotas
[code]

[code]

[2018-04-23 09:32] tonerdo commented on #5011
Sweet! thanks Matt! Will take a look.

[2018-04-23 09:32] davidfowl commented on #5720
If only we had this https://github.com/dotnet/corefx/issues/10470 😏

[2018-04-23 09:35] tonerdo commented on #5011
Yup, that definitely answers my question, know there had to be an FCALL somewhere

[2018-04-23 10:46] mattwarren commented on #5011
I've looked into the equivalent flow for CoreRT (mostly just for my own interest) and unless I'm missing something it's all in C#, which is pretty cool!

- [`MethodInvoker` - `Object Invoke(..)`](https://github.com/dotnet/corert/blob/869961e85188bf5b9e986ac5a59c212b1850e550/src/System.Private.Reflection.Core/src/Internal/Reflection/Core/Execution/MethodInvoker.cs#L24-L31)
- [`MethodInvoker` - `pro

[2018-04-23 10:56] tonerdo commented on #5011
You should write a blog post on this 😃

[2018-04-23 15:26] MichalStrehovsky commented on #5289
Did you set the `IlcPath` property? I see your project doesn't use it and hardcodes the path to `Microsoft.NETCore.Native.targets`. The property is also used elsewhere.

[2018-04-23 16:06] jkotas commented on #5289
Also, we are publishing packages now. Unless you have a need for building CoreRT yourself from source, it is much easier to use the packages: https://github.com/dotnet/corert/tree/master/samples/HelloWorld

[2018-04-23 16:58] jkotas commented on #5496
The work required for this:
- Add publishing of clrcompression.lib to corefx. It should be similar to https://github.com/dotnet/corefx/pull/25628
- Once that is done, modify CoreRT to consume it.

[2018-04-23 21:08] morganbr commented on #5011
It looks like you're on the right track with the implementation details in System.Private.Reflection.Execution (no FCALLs in CoreRT). @MichalStrehovsky or @davidwrighton, do you have any details to fill in?

[2018-04-24 02:40] Reevid opened #5742 "Link error occured when sample code build"
I tring to build corert sample project in https://github.com/dotnet/corert/tree/master/samples/HelloWorld, but link error is occured

[code]

[2018-04-24 02:51] Reevid commented on #5742
add more information
[code]

[2018-04-24 03:09] jkotas commented on #5742
Could you please try running `sudo apt-get install libcurl4-openssl-dev zlib1g-dev libkrb5-dev`  and see whether it fixes the problem?

We have this step missing in the hello world instructions.

[2018-04-24 05:06] Reevid commented on #5742
It works. Thank you :smile:

[2018-04-24 05:12] #5736 closed

[2018-04-24 05:14] jkotas commented on #5736
@wieslawsoltes Please let me know whether my fix worked well.

[2018-04-24 05:16] jkotas commented on #5742
We should fix the hello world instructions to mention it.

[2018-04-24 05:54] wieslawsoltes commented on #5736
@jkotas Will test as soon NuGet will be available.

[2018-04-24 07:56] Reevid opened #5745 "HttpWebRequest.GetResponse method doesn't work"
Wirte sample code like below
[code]

Sample code works well run by "dotnet run" cmd, but tring to run with corert occure error
Plz see error stack below

[code]

[2018-04-24 12:46] jkotas commented on #5745
I am not able to reproduce this error.
- Do you get the error 100% of the time?
- Are you on Windows or Unix? `-c Debug` or `-c Release` ?

[2018-04-24 16:59] wieslawsoltes commented on #5736
@jkotas Its fixed! Thank you!

[2018-04-25 11:58] mattwarren commented on #5011
Just out of interest, from reading this post there seems to be 2 possible approaches to allowing *runtime* code generation in CoreRT:

1. Implement an IL Interpreter
2. Use RyuJIT (i.e. [System.Private.Jit](https://github.com/dotnet/corert/tree/master/src/System.Private.Jit/src))

I was wondering what's the preferred approach? Or in an ideal world would you have both? (leaving aside the cost to im

[2018-04-25 12:53] #5742 closed

[2018-04-25 13:14] jkotas commented on #5011
Interpreter is good to have for places where (Ryu)JIT is not available, not allowed (e.g. Apple devices), or not desirable (e.g. environments locked down for security).

It may be also used as part of tiered code generation strategy.

[2018-04-25 13:35] mattwarren commented on #5011
@jkotas Thanks for the info

@tonerdo BTW you may find these 2 blog posts help you out and/or give you something to think about when working on this issue:

- [The .NET IL Interpreter](http://mattwarren.org/2017/03/30/The-.NET-IL-Interpreter/)
- [DotNetAnywhere: An Alternative .NET Runtime](http://mattwarren.org/2017/10/19/DotNetAnywhere-an-Alternative-.NET-Runtime/)

[2018-04-25 21:44] morganbr commented on #4515
@hippiehunter, the fixes are merged. You should be able to go ahead with your changes now (your test passed combined with my changes).

[2018-04-26 00:52] morganbr commented on #5410
It turns out this is actually worse than using the shadow stack. We should consider it for other cases in the future, but since spills get address taken, they end up on the C++ emulated stack, which seems to be less efficient.

[2018-04-26 00:52] #5410 closed

[2018-04-26 21:58] jkotas commented on #5745
I am not able to make it fail with the same exception as what you are seeing. However, if I change the URL to `https://www.bing.com` it does fail for me with a different exception:

[code]

So http networking is definitely not working quite right.

[2018-04-27 15:00] daoqiang opened #5751 "How to compile a class library project"
How to compile a.Netcore class library project？
Or, how to compile.Netcore class library project directly into c/c++ dynamic link library

[2018-04-27 21:00] tonerdo commented on #5751
Hey @daoqiang you can take a look at #5154, the PR description contains the command to run in order to build class libraries into native dynamic link libraries

[2018-04-28 01:05] daoqiang commented on #5751
If I use reflection in.Netcore, will it compile correctly? Are there any other restrictions? What can't be generated correctly?

[2018-04-28 03:09] ygc369 opened #5753 "Does .Net Native support escape analysis?"
Since the .NET Native compiler is an AOT compiler and can see the actual implementations of all methods, it should do escape analysis to allocate some objects on stack instead of heap.

[2018-04-28 15:57] jkotas commented on #5745
The https networking should be fixed now. @A-And Have you seen any other bad issues with http networking types while working on the corefx tests?

[2018-04-29 07:01] Fabi commented on #5720
Actually this also breaks some other projects that are not using Microsoft.AspNetCore* namespaces directly. This is a bit annoying^^

[2018-04-29 16:09] jkotas commented on #5011
`SetThunkData` sets what the low-level code should call back when the thunk is actually called.

I have found that we have this actually wrapped in more easy to use type: `abstract class CallInterceptor`.

Yes, it points to the memory block where arguments are stored in.

I have found that we have this actually wrapped in more easy to use type: `abstract class CallInterceptor`. Can you try the fol

[2018-04-29 22:13] jkotas opened #5757 "Implement StringToCoTaskMemUTF8 and related method"
Reported by @RonnChyran on gitter.

[2018-04-29 22:13] jkotas commented on #5757
This should be a trivial copy&paste from CoreCLR

[2018-04-29 22:15] jkotas commented on #5757
These are missing in .NET Native as well: https://github.com/dotnet/corefx/blob/master/src/System.Runtime.InteropServices/src/ApiCompatBaseline.uapaot.txt

cc @jeffschwMSFT

[2018-04-30 12:56] harvinders opened #5758 "[Question] Discover types exported from referenced assembly in UWP app (.Net Native Release Build)"
I have a UWP project with Unity IOC container. I would like to register all the ViewModels defined in the referenced assemblies. I am using VS 2017 15.6.7 with 16299 SDK.

As long as I know the assembly name I am able to load the types from that assembly like

`var types = Assembly.Load(new AssemblyName("Simple")).ExportedTypes.ToList();`

However, if I try to dynamically load the assemblies, and

[2018-04-30 16:41] wjk commented on #5758
@harvinders Just my 2¢:

Part of what .NET Native compilation does is it removes the managed DLLs from the package entirely. `App.dll` contains no managed code (try opening it in ILDASM). `clrcompression.dll` comes from a NuGet package, and it contains no managed code, either (otherwise it would have been removed by ILC). All of the managed DLLs are "within" the `App.dll` file.

As to your questio

[2018-04-30 18:34] A-And commented on #5745
@jkotas #28640 caused a mismatch between the XUnit runner we for CoreFX tests and the types being loaded, breaking tests that have a dependency on `OwnedMemory`.
I'll update the test binaries and double check.

[2018-04-30 22:51] jkotas commented on #5745
What is the overall pass rate? Could you please open a few issues on the few most common failure patterns?

[2018-05-01 01:32] A-And commented on #5745
Definitely, I'll start incrementally adding them ASAP.

I wanted to stabilize XUnit running under CoreRT -  Threading.Tests and Threading.Tasks.Tests hard-fail on all platforms and Unix respectively - but you're right, it'd be better to report "soft" test failures as they pop up.

[2018-05-01 03:50] harvinders commented on #5758
@wjk , @jkotas I did try using `Assembly.GetReferencedAssemblies()`, along with following `Default.rd.xml`

[code]
 but, it throws exception `PlatformNotSupportedException`

[code]

I have uploaded my projects to [github](https://github.com/harvinders/samples/tree/master/App5), just open App5.sln (There is `SimpleUWPApp` a UWP app and a `SimpleLib` a .net standard 2.0 class lib project )

As a sid

[2018-05-01 17:10] wjk commented on #5758
I would actually place the `<Type>` element directly under the `<Application>` element. [The docs](https://docs.microsoft.com/en-us/dotnet/framework/net-native/runtime-directives-rd-xml-configuration-file-reference) say this is a valid configuration.

[2018-05-01 17:14] wjk commented on #5758
Also, it turns out that the `GetReferencedAssemblies()` technique I outlined above won't work, under .NET Native or open-source corert. Looking up [the referenced method in the corert sources](https://github.com/dotnet/corert/blob/master/src/System.Private.Reflection.Core/src/System/Reflection/Runtime/General/ThunkedApis.cs#L66) reveals that this function will always throw a `PlatformNotSupportedE

[2018-05-02 11:06] z1c0 opened #5766 "[ILVerify] Tokens in referenced .netmodule are not resolved."
Verifying an application that references a **.netmodule** (full CLR only) generates an "Unable to resolve token" error.
Tokens that are defined in the .netmodule cannot be resolved correctly.

Can be reproduced with attached sample application.
[netmodule.zip](https://github.com/dotnet/corert/files/1966964/netmodule.zip)